Repository juspay/hyperswitch, pull requests merged in 2023-01, with the labels that each got.

#329 chore: Add cancellation reason to response
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-bug, S-awaiting-merge

#314 fix: add validation for specific payment methods in refunds
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/core/errors/api_error_response.rs
Labels: A-connector-integration, A-core, S-waiting-on-author

#292 refactor: Replace Bach with Application on every naming
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/router/src/bin/router.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/configs/defaults.toml
  crates/router/src/configs/settings.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/refunds/validator.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/refund.rs
  crates/router/src/lib.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_models/src/refund.rs
  crates/storage_models/src/schema.rs
  loadtest/config/Development.toml
  migrations/2022-12-21-071825_add_refund_reason/down.sql
  migrations/2022-12-21-071825_add_refund_reason/up.sql
Labels: A-core, M-database-changes, C-refactor

#334 ci: remove label trigger for CI runs
  .github/workflows/CI.yml
Labels: A-CI-CD

#330 fix: refund fix with `connector_metadata`
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/refunds/validator.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/utils.rs
  crates/storage_models/src/payment_attempt.rs
  crates/storage_models/src/schema.rs
  migrations/2023-01-10-035412_connector-metadata-payment-attempt/down.sql
  migrations/2023-01-10-035412_connector-metadata-payment-attempt/up.sql
Labels: A-core, C-bug, M-database-changes

#280 feat(session): ability to request session token for specific wallets
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/payments.rs
  crates/router/src/scheduler/workflows/payment_sync.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
Labels: A-core

#342 build(deps): update deps
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/common_utils/Cargo.toml
  crates/drainer/Cargo.toml
  crates/masking/Cargo.toml
  crates/redis_interface/Cargo.toml
  crates/router/Cargo.toml
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/consts.rs
  crates/router/src/services/api/client.rs
  crates/router/src/services/encryption.rs
  crates/router_derive/Cargo.toml
  crates/router_env/Cargo.toml
  crates/storage_models/Cargo.toml
Labels: A-dependencies

#344 docs(github): add `--all` flag to rustfmt command in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: C-doc

#340 docs(community): move to `docs` directory and add missing community docs
  contrib/CONTRIBUTOR_LICENSE_AGREEMENT.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/CONTRIBUTOR_LICENSE_AGREEMENT.md
  docs/SECURITY.md
Labels: C-doc

#332 fix(router_derive): use compile_error instead of panic
  crates/router_derive/src/lib.rs
  crates/router_derive/src/macros/helpers.rs
  crates/router_derive/src/macros/operation.rs
Labels: A-macros

#335 feat(router_env): add sampling_rate for traces
  config/config.example.toml
  crates/router_env/src/logger/config.rs
  crates/router_env/src/logger/setup.rs
Labels: A-CI-CD, A-infra, M-configuration-changes

#349 fix: fix refund amount in `RefundNew`
  crates/router/src/core/refunds.rs
Labels: A-core, C-bug

#339 fix(connector): adyen cancel
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-compatibility

#346 feat(router): Added JWT authentication
  Cargo.lock
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/services/authentication.rs
Labels: A-core, C-feature

#345 fix(braintree): map settling status to charged
  crates/router/src/connector/braintree/transformers.rs
Labels: A-connector-integration, C-bug

#338 fix(refunds): removed payment_id as mandatory parameter in refund update
  crates/api_models/src/refunds.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/refunds/types.rs
  crates/router/src/core/refunds.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/api/refunds.rs
Labels: A-core

#322 feat(connector): add payment create, sync, capture, refund, void, rsync support for globalpay
  Cargo.lock
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  connector-template/mod.rs
  connector-template/test.rs
  connector-template/transformers.rs
  crates/api_models/src/enums.rs
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/shift4.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldpay.rs
  loadtest/config/Development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, M-configuration-changes

#354 fix(router): ApiKeyAuth or PublishableKeyAuth
  crates/router/src/services/authentication.rs
Labels: C-bug

#343 fix(checkout): fix payment status mapping
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-integration, C-bug

#358 fix(gpay): send merchant info field
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-connector-integration, C-bug

#356 chore(errors): cleanup unused `ApplicationError` variants
  crates/router/src/core/errors.rs
  crates/router/src/types/api.rs
Labels: A-core, C-refactor

#360 fix: fix some todo's in core
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/db/refund.rs
  crates/router/src/types/storage/payment_intent.rs
Labels: A-core

#355 feat(connector): add support for affirm through stripe
  crates/api_models/src/payments.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payment_methods/transformers.rs
Labels: A-connector-integration

#361 fix: Fix error code being null in response
  crates/router/src/core/payments/transformers.rs
Labels: A-core

#348 feat: separate olap oltp
  config/Development.toml
  config/config.example.toml
  crates/router/src/bin/router.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/db/refund.rs
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
  crates/router/tests/utils.rs
Labels: A-core, C-feature, S-waiting-on-review

#365 fix(connector): pass error message to response body instead of changing the context for required field validation
  crates/router/src/connector/globalpay.rs
  crates/router/src/core/errors/utils.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#364 fix(router): better positioning for mandatory customer id conditions
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug

#366 chore: drop `temp_card` table and all associated items
  Cargo.lock
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/router/src/configs/defaults.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db.rs
  crates/router/src/db/temp_card.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/encryption.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/temp_card.rs
  crates/storage_models/src/lib.rs
  crates/storage_models/src/query.rs
  crates/storage_models/src/query/temp_card.rs
  crates/storage_models/src/schema.rs
  crates/storage_models/src/temp_card.rs
  loadtest/config/Development.toml
  migrations/2023-01-12-140107_drop_temp_card/down.sql
  migrations/2023-01-12-140107_drop_temp_card/up.sql
Labels: M-database-changes, M-configuration-changes, C-refactor

#351 feat(connector): add payment create, sync, capture, refund, void, rsync support for PayU
  config/Development.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/payu/transformers.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/client.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/payu.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#376 docs: update link to dashboard
  README.md
  crates/router/src/openapi.rs
  docs/try_sandbox.md
  openapi/generated.json
  openapi/open_api_spec.yaml
Labels: C-doc, S-waiting-on-review

#371 fix(router): validate payment method data and type co-presence
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug, S-ready-to-merge

#333 feat(router): add more payment methods to vault
  crates/api_models/src/admin.rs
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/configs.rs
  crates/router/src/types/api/payment_methods.rs
  crates/storage_models/src/query/configs.rs
Labels: A-core, C-feature, S-ready-to-merge

#372 chore: Allow to update refund reason
  crates/api_models/src/refunds.rs
  crates/router/src/compatibility/stripe/refunds/types.rs
  crates/router/src/core/refunds.rs
  crates/storage_models/src/refund.rs
Labels: A-core, S-ready-to-merge

#289 fix: Restricting operation on redacted customer
  crates/router/src/core/customers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/db/customers.rs
Labels: C-bug

#377 docs: fix broken Discord link
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/CONTRIBUTING.md
Labels: C-doc

#266 feat(connector): implement authorize and capture flows for Fiserv
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_utils/src/lib.rs
  crates/router/src/configs/defaults.toml
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/fiserv/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-feature, S-ready-to-merge

#373 chore: implement custom serializer for payment method list
  crates/api_models/src/payment_methods.rs
Labels: A-core, S-ready-to-merge

#378 build(deps): use utoipa crate upstream URL as git dependency
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/api_models/src/admin.rs
  crates/router/Cargo.toml
  openapi/generated.json
Labels: A-dependencies, C-feature, S-ready-to-merge

#363 fix(klarna): payments failing because of failed deserialization
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/core/payment_methods/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-to-merge

#383 fix: changes in olap oltp separation
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
Labels: A-core, C-bug, S-ready-to-merge

#386 chore(router): add JWT to OLAP routes
  crates/router/src/routes/admin.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/services/authentication.rs
Labels: A-core, C-refactor, S-ready-to-merge

#387 refactor(api_models): add `created_at` and `updated_at` fields in `RefundResponse`
  crates/api_models/src/refunds.rs
  crates/router/src/core/refunds.rs
Labels: C-refactor, S-ready-to-merge

#357 feat(connector_integration): integrate Rapyd connector
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.toml
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/consts.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/rapyd.rs
  crates/router/tests/connectors/sample_auth.toml
Labels: A-connector-integration, S-waiting-on-review

#390 chore: fix typos and introduce ci check
  .github/workflows/CI.yml
  .typos.toml
  Dockerfile
  INSTALL_dependencies.sh
  add_connector.md
  architecture.md
  crates/common_utils/src/errors.rs
  crates/common_utils/src/pii.rs
  crates/drainer/src/lib.rs
  crates/drainer/src/utils.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/src/connector/payu/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/payu.rs
  crates/router_env/src/logger/formatter.rs
  crates/router_env/src/logger/storage.rs
  docs/imgs/observability_arch.svg
  openapi/open_api_spec.yaml
  postman/collection.postman.json
  postman/portman-config.json
  scripts/add_connector.sh
Labels: A-CI-CD, C-feature, S-waiting-on-review, S-ready-to-merge

#320 refactor(adyen): use enums instead of strings for statuses
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-to-merge

#389 feat(router): update OLTP/OLAP feature flags to be compatible with each other
  Cargo.lock
  Makefile
  crates/router/Cargo.toml
  crates/router/src/bin/router.rs
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
  crates/router/tests/utils.rs
Labels: A-core, C-refactor, S-ready-to-merge

#385 feat: add docs for PaymentsRequest & PaymentsResponse
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/Cargo.toml
  crates/router/src/openapi.rs
  crates/router/src/routes/payments.rs
  openapi/generated.json
Labels: C-doc, S-waiting-on-review

#362 feat(router): add generic merchant static routing config
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/openapi.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/admin.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/schema.rs
  migrations/2023-01-12-084710_update_merchant_routing_algorithm/down.sql
  migrations/2023-01-12-084710_update_merchant_routing_algorithm/up.sql
Labels: A-core, C-feature, C-refactor, S-ready-to-merge

#391 refactor(router): move `fp_utils` module to `common_utils` crate
  crates/common_utils/src/fp_utils.rs
  crates/common_utils/src/lib.rs
  crates/router/src/utils.rs
Labels: A-framework, C-refactor

#381 feat(connector): add support for capture, void, psync, refund and rsync for cybersource
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/services/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
Labels: A-connector-integration, C-feature, S-ready-to-merge

#388 feat: token flow for wallet
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-feature, S-ready-to-merge

#393 docs: fix broken link to contributing guidelines
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  README.md
Labels: C-doc

#392 fix(router): configs table upsert for local tokenization flow
  crates/router/src/core/payment_methods/vault.rs
Labels: A-core, C-bug, S-waiting-on-review

#368 chore: add `.attach_printable` for `InternalServerError`
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/refunds/validator.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/mandates.rs
  crates/router/src/utils.rs
Labels: A-core, S-waiting-on-review, C-refactor

#395 refactor(storage_models): made generic queries public
  crates/storage_models/src/query/generics.rs
Labels: A-core, C-refactor

#396 refactor(router): make utilities public
  crates/router/src/core/admin.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/utils.rs
  crates/router/src/utils/ext_traits.rs
Labels: A-core, C-refactor

#397 fix(router): remove 'connectors_pecking_order' from readmes and tests
  crates/router/tests/utils.rs
  docs/try_local_system.md
  loadtest/k6/helper/setup.js
Labels: A-core, C-bug, C-doc, S-ready-to-merge

#394 chore: Added docs for payment connector create
  crates/api_models/src/admin.rs
  crates/api_models/src/payment_methods.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/admin.rs
  openapi/generated.json
Labels: C-doc, S-ready-to-merge

#401 fix: Use setup future usage for saving card
  crates/api_models/src/enums.rs
  crates/router/src/core/mandate.rs
Labels: A-payment-methods

#399 feature(connector): add capture flow support for worldline
  config/Development.toml
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/payu.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  crates/router/tests/connectors/worldpay.rs
Labels: A-connector-integration, C-feature, S-ready-to-merge

#403 fix: Send payment experience on payment method list response
  crates/api_models/src/payment_methods.rs
Labels: A-core, S-ready-to-merge

#409 fix(redis_interface): add missing `#[serde(default)]` annotation to `RedisSettings`
  crates/redis_interface/src/types.rs
Labels: A-framework, C-bug, S-ready-to-merge

#398 feat(compatibility): add list payment_method by customer api
  crates/router/src/compatibility/stripe/app.rs
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/customers/types.rs
  migrations/.gitkeep
Labels: A-connector-compatibility, C-feature, S-ready-to-merge

#404 feat: Add redirect url to pm list
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/types/api/payment_methods.rs
Labels: A-core, S-ready-to-merge

#405 fix: don't update payment on requires_capture
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, S-ready-to-merge

#406 build(deps): migrate to `clap` from `structopt`
  Cargo.lock
  crates/drainer/Cargo.toml
  crates/drainer/src/main.rs
  crates/drainer/src/settings.rs
  crates/router/Cargo.toml
  crates/router/src/bin/router.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/configs/settings.rs
Labels: A-dependencies, C-refactor

#410 fix(connector): fix rsync for shift4
  crates/router/src/connector/shift4.rs
Labels: A-connector-integration, C-bug, S-ready-to-merge

#412 perf: avoid making copies of strings
  crates/router/src/db/customers.rs
Labels: A-framework, C-feature, S-ready-to-merge

#417 refactor(stripe): use bearer explictly when calling connectors
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/stripe.rs
Labels: S-waiting-on-review, C-refactor

#418 fix(router): fix incorrect order of routing_algorithm and metadata fields in db models
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/schema.rs
Labels: A-core, C-bug, S-waiting-on-review

#421 refactor(configs): make visibility of validation functions public
  crates/router/src/configs/validations.rs
Labels: A-framework, C-refactor

#413 feat(router): reuse reqwest clients for requests made to connectors
  Cargo.lock
  crates/router/src/services/api.rs
  crates/router/src/services/api/client.rs
Labels: A-framework, A-core, S-waiting-on-author

#422 fix(router): allow inferring payment method from payment token
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug

#416 doc: Documentation for customer and MCA and Mechant account API
  crates/api_models/src/admin.rs
  crates/api_models/src/customers.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/customers.rs
  openapi/generated.json
Labels: C-doc, S-waiting-on-review, S-ready-to-merge

#430 chore: update sandbox base url
  crates/router/src/openapi.rs
  openapi/generated.json
  openapi/open_api_spec.yaml
  postman/collection.postman.json
Labels: C-doc, S-ready-to-merge

#420 fix(connector): change capture status to pending when waiting for settlement
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-to-merge

#425 feat(rapyd): ApplePay and GooglePay integration
  crates/router/src/connector/rapyd/transformers.rs
Labels: A-connector-integration, S-ready-to-merge

#400 docs: request and response for payments route
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/payments.rs
  openapi/generated.json
Labels: C-doc, S-ready-to-merge

#411 fix: update test_mode and payment_methods_enabled in payments connector
  crates/router/src/core/admin.rs
Labels: A-core, C-bug, S-ready-to-merge

#419 refactor(connectors): refactor propagation of validation and not implemented errors
  connector-template/test.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/aci.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/applepay.rs
  crates/router/src/connector/applepay/transformers.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/payu/transformers.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/payu.rs
  crates/router/tests/connectors/rapyd.rs
  crates/router/tests/connectors/shift4.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  crates/router/tests/connectors/worldpay.rs
Labels: A-connector-integration, C-refactor

#431 refactor(core): use previously used connector
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-refactor, S-ready-to-merge

#423 docs: request and response in refund routes
  crates/api_models/src/refunds.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/refunds.rs
  openapi/generated.json
Labels: C-doc, S-ready-to-merge

#427 fix(refund): add error code in refund table
  crates/api_models/src/refunds.rs
  crates/router/src/core/refunds.rs
  crates/router/src/db/refund.rs
  crates/storage_models/src/refund.rs
  crates/storage_models/src/schema.rs
  migrations/2023-01-19-122511_add_refund_error_code/down.sql
  migrations/2023-01-19-122511_add_refund_error_code/up.sql
Labels: A-core, M-database-changes, S-ready-to-merge

#434 fix(connector): handle 2 & 4 digit card expiry year in worldline
  crates/router/src/connector/worldline/transformers.rs
  crates/router/tests/connectors/worldline.rs
Labels: A-connector-integration, C-bug

#437 fix(aci,braintree,rapyd,stripe): URL encode request params instead of JSON
  crates/router/src/connector/aci.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/stripe.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#407 feat(access_token): support creating access token for connectors
  crates/api_models/src/enums.rs
  crates/router/src/connector/aci.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/applepay.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/flows/verfiy_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/utils.rs
  crates/router/src/db.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, C-feature, S-ready-to-merge

#428 fix: add graceful shutdown for consumer & router
  Cargo.lock
  config/config.example.toml
  crates/router/Cargo.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/lib.rs
  crates/router/src/scheduler/consumer.rs
  crates/router/src/scheduler/utils.rs
  crates/router/src/scheduler/workflows/payment_sync.rs
Labels: A-core, A-process-tracker, M-configuration-changes, S-ready-to-merge

#438 feat(errors): seperate code in `ExternalConnectorError`
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-core, S-ready-to-merge

#408 feat(globalpay): implement access token creation
  crates/common_utils/src/crypto.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/types.rs
Labels: A-connector-integration, S-ready-to-merge

#442 fix(checkout): status mapping for payment
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-compatibility, S-waiting-on-review

#426 feat(connector): add auth_token_refresh for payu and some quick bug fixes
  config/Development.toml
  crates/api_models/src/enums.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/fiserv/transformers.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/payu/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/payu.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
Labels: A-connector-integration, C-feature

#445 fix: move `connector_refund_id` to request
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/utils.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, C-bug, S-ready-to-merge

#444 fix(adyen): fix `capture_method` not considered during payments sync
  crates/router/src/connector/adyen.rs
Labels: A-connector-integration, S-ready-to-merge

#449 docs(README): update the flowchart image
  README.md
  docs/imgs/hyperswitch-product.png
Labels: C-doc, S-ready-to-merge

#448 chore(router): removed jwt auth from routes
  crates/router/src/routes/admin.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
Labels: A-core, S-waiting-on-review, C-refactor, S-ready-to-merge

#450 chore(router): added generic unauthorized response
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
Labels: A-core, C-refactor, S-ready-to-merge

#446 fix : update payment with PM and PMD giving requires_payment_method instead of requires_confirmation
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug, S-ready-to-merge

#452 doc: add `React demo` app link
  README.md
  docs/imgs/download-button.png
Labels: C-doc, S-waiting-on-review

#454 docs: fix quick start guide and update dashboard link
  README.md
  crates/router/src/openapi.rs
  docs/try_sandbox.md
  openapi/generated.json
  openapi/open_api_spec.yaml
Labels: C-doc

#455 feat: add new hyperswitch loader
  crates/router/src/services/api.rs
Labels: A-core, C-feature, S-waiting-on-review

#458 fix(router): fix refund error code diesel field ordering
  crates/storage_models/src/refund.rs
  crates/storage_models/src/schema.rs
Labels: A-core, C-bug, S-ready-to-merge

#457 doc: minor formatting and logo changes in github README
  README.md
  docs/imgs/hyperswitch-logo-dark.svg
  docs/imgs/hyperswitch-logo-light.svg
  docs/imgs/hyperswitch-product.png
Labels: C-doc, S-waiting-on-review

#456 fix: proper error message for payment confirm with already successful/failed payments
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, C-bug, S-ready-to-merge

#459 feat: Add crate attribute to operation macro
  crates/router_derive/src/macros/operation.rs
Labels: A-macros, S-ready-to-merge

#460 fix: off-session must exist only if mandate is external
  crates/router/src/connector/stripe/transformers.rs
Labels: A-core, C-bug, S-ready-to-merge

#461 refactor(core): validate payment status using common function
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, S-waiting-on-review, C-refactor

#463 fix: payment_method_id not populated
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
Labels: A-payment-methods

#441 feat(stripe): add support for afterpay clearpay through stripe
  crates/api_models/src/payments.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/openapi.rs
  openapi/generated.json
Labels: A-connector-integration, S-ready-to-merge

#465 chore: address Rust 1.67 clippy lints
  crates/common_utils/src/ext_traits.rs
  crates/common_utils/src/pii.rs
  crates/drainer/src/utils.rs
  crates/masking/tests/basic.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/db/ephemeral_key.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/db/refund.rs
  crates/router/src/scheduler/types/batch.rs
  crates/router/src/scheduler/workflows/payment_sync.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/ext_traits.rs
  crates/router/tests/customers.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/router/tests/payouts.rs
  crates/router/tests/refunds.rs
  crates/router_derive/src/lib.rs
  crates/router_derive/src/macros/helpers.rs
  crates/router_env/src/logger/formatter.rs
  crates/router_env/src/logger/setup.rs
  crates/router_env/src/logger/storage.rs
  crates/storage_models/src/query/generics.rs
Labels: C-feature

#464 fix(connector): fix globalpay error handling
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/src/connector/globalpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#466 fix: bug when creating customer who is redacted
  crates/router/src/core/customers.rs
Labels: C-bug, S-ready-to-merge

#473 test(stripe): add unit tests for stripe connector
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/stripe.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration

#453 doc: update openapi
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/mandates.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/refunds.rs
  crates/router/Cargo.toml
  crates/router/src/bin/router.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/lib.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/payments.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/rapyd.rs
  crates/router/tests/connectors/shift4.rs
  crates/router/tests/connectors/stripe.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  openapi/generated.json
Labels: C-doc

#475 fix: add disable env flag for consumer
  config/Development.toml
  config/config.example.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/scheduler/consumer.rs
  crates/router/src/scheduler/utils.rs
Labels: A-core, A-process-tracker, M-configuration-changes, S-ready-to-merge

#476 feat(router): allow enabling/disabling of outgoing webhooks based on env configuration
  config/Development.toml
  config/config.example.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/webhooks.rs
  loadtest/config/Development.toml
Labels: A-core, C-feature, S-waiting-on-review, S-ready-to-merge

#477 fix(router): allow console logs for all first-party crates
  crates/router/src/env.rs
Labels: C-bug, S-ready-to-merge

#479 build(deps): update deps
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/common_utils/Cargo.toml
  crates/drainer/Cargo.toml
  crates/masking/Cargo.toml
  crates/redis_interface/Cargo.toml
  crates/router/Cargo.toml
  crates/router/tests/connectors/connector_auth.rs
  crates/router_derive/Cargo.toml
  crates/router_env/Cargo.toml
  crates/router_env/src/env.rs
  crates/router_env/src/vergen.rs
  crates/router_env/tests/env.rs
  crates/storage_models/Cargo.toml
Labels: A-dependencies

#471 feat(connector-template): add more default tests for card payment method
  connector-template/test.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-feature, S-ready-to-merge

#432 docs: standardise error types and error codes
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/services/authentication.rs
Labels: C-doc, S-ready-to-merge
