Repository juspay/hyperswitch, pull requests merged in 2023-09, with the labels that each got.

#2068 fix(connector): [Paypal] fix PSync for redirection flow for PayPal
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/tests/connectors/paypal.rs
Labels: A-connector-integration, C-bug, P-high, S-ready-for-merge

#2050 refactor(router): return generic message for UnprocessableEntity in make_pm_data
  Cargo.lock
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/payment_methods.rs
Labels: A-core, A-payment-methods, C-refactor, R-waiting-on-L1

#2053 feat(connector): [Bluesnap] Add dispute webhooks support
  crates/common_enums/src/enums.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#2069 feat(webhooks): Webhook source verification
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/zen.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/types/api/webhooks.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, S-waiting-on-review, M-api-contract-changes

#2074 fix(connector): [STAX] Add ACH Payment Filter for Bank Debits
  crates/router/src/connector/stax/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1888 refactor(connector): [Shift4] refactor connector authorize request struct
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge, R-L1-completed, ageing >2weeks

#2072 feat(connector): [Paypal] Add manual capture for paypal wallet
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#2075 feat(pm_list): add card - credit pm type required field info for connectors
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-configuration-changes, A-payment-methods

#2057 docs(postman): Update documentation for postman tests
  .github/secrets/connector_auth.toml.gpg
  crates/test_utils/README.md
  crates/test_utils/src/main.rs
Labels: A-CI-CD, C-doc, S-waiting-on-review

#2065 feat(frm): enum variant misspelled changed from fullfillment to fulfillment
  crates/diesel_models/src/enums.rs
Labels: A-core, C-feature, P-high, S-waiting-on-review

#2083 refactor(router): new separate routes for applepay merchant verification
  config/development.toml
  crates/router/src/configs/settings.rs
  crates/router/src/utils/verification.rs
Labels: S-waiting-on-review, M-configuration-changes, A-payment-methods, C-refactor, S-ready-for-merge

#2082 feat(connector): [Payme] Implement Card 3DS with sdk flow
  config/development.toml
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
Labels: A-connector-integration, A-core, C-feature, S-ready-for-merge

#2092 ci(release-new-version): correct `node_modules` path
  .github/workflows/release-new-version.yml
Labels: A-CI-CD, C-bug

#2073 feat(payment_methods): Store necessary payment method data in payment_methods table
  crates/api_models/src/payment_methods.rs
  crates/diesel_models/src/encryption.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/approve_flow.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/reject_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/flows/verify_flow.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
  migrations/2023-09-06-101704_payment_method_data_in_payment_methods/down.sql
  migrations/2023-09-06-101704_payment_method_data_in_payment_methods/up.sql
Labels: M-database-changes, A-payment-methods, C-refactor

#2093 fix(router): send connection_closed errors as 5xx instead of 2xx
  crates/router/src/consts.rs
  crates/router/src/services/api.rs
Labels: A-core, C-bug, S-waiting-on-review

#2091 fix(connector): [STAX] Incoming amount will be processed in higher unit
  crates/router/src/connector/stax/transformers.rs
  crates/router/tests/connectors/stax.rs
Labels: A-connector-integration, C-bug, S-waiting-on-approval

#2094 refactor(router): changed auth of verify_apple_pay from mid to jwt
  crates/router/src/routes/verification.rs
Labels: A-payment-methods, C-refactor, S-ready-for-merge

#2096 refactor(connector): [Payme] Rename types to follow naming conventions
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2097 refactor(connector): [Payme] Response Handling for Preprocessing
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2099 chore: address Rust 1.72 clippy lints
  crates/router/src/connection.rs
  crates/router/src/utils.rs
  crates/storage_impl/src/connection.rs
Labels: C-refactor

#2103 ci(connector-ui-sanity-tests): run UI tests on PRs
  .github/workflows/connector-ui-sanity-tests.yml
Labels: A-connector-integration, C-test

#2064 refactor(connector): [Stripe] Using `connector_request_reference_id` as object_reference_id for Webhooks
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2098 feat(payments): make database calls parallel for `payments_confirm` operation
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-framework, A-core, S-waiting-on-review, C-refactor, A-payments

#1950 refactor(connector): [Adyen] refactor adyen payment method not implemented errors
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/utils.rs
  crates/test_utils/tests/connectors/adyen_uk_ui.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2110 fix(connector): revert checkout apple pay to tokenization flow
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: C-bug, C-refactor, R-waiting-on-L1

#2107 feat(connector): [Cryptopay]Add reference id for cryptopay
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/cryptopay/transformers.rs
Labels: A-connector-integration, P-high, S-waiting-on-review

#2112 ci: pin `cargo-hack` version to `v0.6.5` for MSRV check
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
Labels: A-CI-CD, C-bug, S-waiting-on-review

#2101 feat(db): implement `BusinessProfileInterface` for `MockDb`
  crates/diesel_models/src/business_profile.rs
  crates/router/src/db/business_profile.rs
  crates/storage_impl/src/lib.rs
Labels: A-framework, C-feature

#2111 fix: null value in session token in next action
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments.rs
Labels: A-connector-integration, A-core, C-bug, S-waiting-on-review

#2113 feat(confirm): reduce the database calls to 2 stages in case of non-retry
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, C-refactor, A-performance, S-ready-for-merge

#2116 feat(core): accept payment_confirm_source header in capture call and store in payment_intent
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/transformers.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2023-09-08-134514_add_payment_confirm_source_in_payment_intent/down.sql
  migrations/2023-09-08-134514_add_payment_confirm_source_in_payment_intent/up.sql
Labels: C-feature, S-waiting-on-review

#2106 fix(router): `validate_psync_reference_id` only if call_connector_action is trigger in psync flow
  crates/router/src/core/payments/flows/psync_flow.rs
Labels: A-core, C-bug, S-ready-for-merge

#2020 refactor(core): use profile id to find connector
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/file.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/query/business_profile.rs
  crates/diesel_models/src/query/merchant_connector_account.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/files.rs
  crates/router/src/core/files/helpers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/business_profile.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/admin.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/utils.rs
  migrations/2023-08-24-095037_add_profile_id_in_file_metadata/down.sql
  migrations/2023-08-24-095037_add_profile_id_in_file_metadata/up.sql
  migrations/2023-08-28-131238_make_business_details_optional/down.sql
  migrations/2023-08-28-131238_make_business_details_optional/up.sql
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, M-database-changes, M-api-contract-changes

#2109 feat(router): saving verified domains to business_profile table
  crates/api_models/src/admin.rs
  crates/api_models/src/verifications.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/utils/verification.rs
  migrations/2023-09-08-112817_applepay_verified_domains_in_business_profile/down.sql
  migrations/2023-09-08-112817_applepay_verified_domains_in_business_profile/up.sql
Labels: C-feature, M-database-changes, A-payment-methods, S-ready-for-merge, M-api-contract-changes, R-L1-completed, R-L2-completed

#2044 fix: Implement persistent caching for config table retrieval
  crates/router/src/core/configs.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/db/configs.rs
  crates/router/src/workflows/payment_sync.rs
Labels: A-core, S-waiting-on-review

#2010 refactor(storage_impl): split payment attempt models to domain + diesel
  Cargo.lock
  crates/common_enums/Cargo.toml
  crates/data_models/Cargo.toml
  crates/data_models/src/mandates.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/verify_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds/validator.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db.rs
  crates/router/src/db/api_keys.rs
  crates/router/src/db/dispute.rs
  crates/router/src/db/events.rs
  crates/router/src/db/locker_mock_up.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/routes/app.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils.rs
  crates/router/src/utils/db_utils.rs
  crates/scheduler/src/db/process_tracker.rs
  crates/scheduler/src/db/queue.rs
  crates/scheduler/src/scheduler.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/lookup.rs
  crates/storage_impl/src/mock_db.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/mock_db/redis_conn.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/utils.rs
Labels: A-core, S-waiting-on-review, C-refactor

#2118 test(connector): Skip ui sanity tests for external contributors
  .github/workflows/connector-ui-sanity-tests.yml
Labels: C-test

#2124 fix(core): [Bluesnap] Add secondary_base_url for script
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/compatibility/wrap.rs
  crates/router/src/configs/settings.rs
  crates/router/src/services/api.rs
  loadtest/config/development.toml
Labels: A-connector-integration, A-core, C-bug, S-waiting-on-review, M-configuration-changes

#2125 fix(payment_methods): Default card fetch to locker call
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, A-payment-methods

#2048 feat(core): enable payments void for multiple partial capture
  Cargo.lock
  crates/common_enums/src/enums.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2023-09-07-113914_add_amount_capturable_field_payment_attempt/down.sql
  migrations/2023-09-07-113914_add_amount_capturable_field_payment_attempt/up.sql
Labels: A-core, C-feature, S-waiting-on-review

#2120 feat(router): disable temp locker call for connector-payment_method flow based on env
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
Labels: A-core, C-feature, S-ready-for-merge

#2121 feat(router): new get route for derivation of verified applepay domain
  crates/api_models/src/verifications.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/verification.rs
  crates/router/src/utils/verification.rs
Labels: C-feature, A-payment-methods, M-api-contract-changes

#2095 feat(connector): [Braintree] implement 3DS card payment for braintree
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#2126 fix(router/scheduler): replace the occurrences of gen_range with a safer alternative
  Cargo.lock
  crates/router/src/routes/dummy_connector/utils.rs
  crates/scheduler/src/consumer.rs
  crates/scheduler/src/producer.rs
Labels: A-framework, C-bug, S-waiting-on-author, C-refactor

#2100 feat(core): add runtime flag to disable dummy connector
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/admin.rs
  crates/router/src/routes/admin.rs
  loadtest/config/development.toml
Labels: A-core, C-feature, M-configuration-changes

#1955 refactor(connector): [Zen] refactor Zen payment methods not implemented errors
  crates/router/src/connector/zen/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#1974 fix(refactor): [Paypal] refactor paypal not implemented payment methods errors
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2128 fix: eliminate recursive call while updating config in database
  crates/router/src/db/configs.rs
Labels: A-framework, C-bug, S-waiting-on-review

#2131 refactor(pm_list): get profile_id from business_details in list pm
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_session.rs
Labels: A-core, S-waiting-on-review

#2136 feat(connector): [Cryptopay]Add reference id for cryptopay (#2107)
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/cryptopay/transformers.rs
Labels: A-connector-integration, P-high, S-waiting-on-review, S-ready-for-merge

#2137 fix(router): move connector customer create flow to `call_connector_service`
  crates/router/src/core/payments.rs
Labels: A-core, C-bug, S-waiting-on-review

#2139 fix(webhooks): fix database queries in webhook
  crates/router/src/types/api/webhooks.rs
  crates/router/src/utils.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: S-waiting-on-review, A-webhooks

#2133 fix(connector): [SQUARE] Throw Error for Partial Capture of Payments
  crates/router/src/connector/square.rs
  crates/router/tests/connectors/square.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review, S-ready-for-merge

#2141 fix(router): move connector customer create flow to call_connector_service
  crates/router/src/core/payments.rs
Labels: A-core, C-bug, S-waiting-on-review

#2006 feat(router): added new webhook URL to support `merchant_connector_id`
  crates/api_models/src/admin.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/stax.rs
  crates/router/src/connector/zen.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/types/api/webhooks.rs
Labels: S-waiting-on-review, M-api-contract-changes, R-waiting-on-L1, A-webhooks

#2135 refactor(masking): move masking implementations to masking crate
  crates/masking/src/lib.rs
  crates/masking/src/maskable.rs
  crates/router/src/services/api/request.rs
Labels: A-core, C-refactor, S-ready-for-merge, R-L1-completed, R-L2-completed

#2142 fix(core): update amount_capturable in update trackers
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: C-bug, S-waiting-on-review

#2145 refactor: move `Request` and `RequestBuilder` structs to common_utils crate
  Cargo.lock
  crates/common_utils/Cargo.toml
  crates/common_utils/src/lib.rs
  crates/common_utils/src/request.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/request.rs
  crates/router/src/types.rs
Labels: A-core, S-waiting-on-review, C-refactor, S-ready-for-merge, R-L1-completed, R-L2-completed

#2146 fix: payment status fix in trustpay for 3ds and wallets
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, S-ready-for-merge

#2149 fix(router): `validate_psync_reference_id` only if call_connector_action is trigger in psync flow
  crates/router/src/core/payments/flows/psync_flow.rs
Labels: A-core, C-bug, S-waiting-on-review

#2151 fix: payment status in trustpay 3ds and wallets
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, S-ready-for-merge

#2138 fix(connector): [SQUARE] Add uri authority in Webhooks
  crates/router/src/connector/square.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#2150 refactor(connector): [Stripe] add support for more incoming woocommerce Stripe disputes webhooks
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2155 ci(postman): Change assertion status from cancelled to succeeded for checkout
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario10-Multiple Captures/Cancel After Partial Capture/Payments - Cancel/event.test.js
Labels: A-CI-CD, C-bug, S-waiting-on-review, C-test

#1988 fix(router): Add scoped error enum for customer error
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/customers_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/errors/utils.rs
Labels: C-refactor, A-customers

#2143 refactor(connector): [BraintreeGraphQl] Enhance currency Mapping with ConnectorCurrencyCommon Trait
  connector-template/mod.rs
  connector-template/transformers.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/types/api.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2157 refactor(router): get route for applepay_verified_domains
  crates/api_models/src/verifications.rs
  crates/router/src/core.rs
  crates/router/src/core/verification.rs
  crates/router/src/core/verification/utils.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/verification.rs
  crates/router/src/utils.rs
Labels: A-payment-methods, C-refactor, S-ready-for-merge

#2164 refactor: add instrument to trackers for payment_confirm
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/db/address.rs
  crates/router/src/db/capture.rs
  crates/router/src/db/cards_info.rs
  crates/router/src/db/configs.rs
  crates/router/src/db/connector_response.rs
  crates/router/src/db/customers.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: C-refactor

#2165 ci(postman): Fix Paypal capture assertion failure
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Confirm/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario3-Create payment without PMD/Payments - Confirm/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario3-Create payment without PMD/Payments - Retrieve/event.test.js
Labels: A-CI-CD, C-test

#2140 ci(postman): Modify server start logic to address timeouts in actions
  .github/workflows/postman-collection-runner.yml
Labels: A-CI-CD, S-waiting-on-review, C-refactor, C-test

#2163 fix: make amount_capturable zero when payment intent status is processing
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/types/storage/payment_attempt.rs
Labels: C-bug, S-waiting-on-review

#2102 feat(connector): (adyen) add support for multiple partial capture adyen
  Cargo.lock
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_capture.rs
Labels: C-feature, S-waiting-on-review

#2166 feat(pm_auth): add plaid to connector list
  crates/api_models/src/enums.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review

#2167 fix(router): move `get_connector_tokenization_action_when_confirm_true` above `call_create_connector_customer_if_required`
  crates/router/src/core/payments.rs
Labels: A-core, C-bug, C-refactor, R-waiting-on-L1

#2172 refactor(router): add camel_case for the applepay request
  Cargo.lock
  crates/api_models/src/verifications.rs
  crates/router/src/routes/verification.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor, R-waiting-on-L1, R-waiting-on-L2

#2169 fix(core): add merchant_id to gpay merchant info
  crates/api_models/src/payments.rs
  crates/router/src/connector/trustpay/transformers.rs
  openapi/openapi_spec.json
Labels: A-core, C-bug, P-high, S-ready-for-merge, M-api-contract-changes

#2115 refactor(connector): [Bluesnap] Enahnce 3ds Flow
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, M-configuration-changes, C-refactor, S-ready-for-merge

#2156 refactor: set merchant_id as `MERCHANT_ID_NOT_FOUND` for traces and metrics if not found
  crates/router/src/services/api.rs
Labels: A-framework, C-refactor

#2123 refactor(core): Add additional parameters in AppState and refactor AppState references
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/cache.rs
  crates/router/src/core/cards_info.rs
  crates/router/src/core/configs.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/files.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/verification.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/lib.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/cache.rs
  crates/router/src/routes/cards_info.rs
  crates/router/src/routes/configs.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/dummy_connector.rs
  crates/router/src/routes/dummy_connector/core.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/files.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/verification.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/client.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
Labels: C-feature, C-refactor

#2176 refactor(router): use billing address for payment method list filters as opposed to shipping address
  crates/router/src/core/payment_methods/cards.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor, R-waiting-on-L1

#2179 feat(connector): [Gocardless] add boilerplate code
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/gocardless.rs
  crates/router/src/connector/gocardless/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/gocardless.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-ready-for-merge

#2170 fix(core): add merchant_id to gpay merchant info
  crates/api_models/src/payments.rs
  crates/router/src/connector/trustpay/transformers.rs
  openapi/openapi_spec.json
Labels: A-core, C-bug, P-high, S-waiting-on-review

#2182 fix: remove x-request-id from headers before connector calls
  crates/router/src/services/api.rs
Labels: A-core, C-bug

#2148 fix: handle 5xx during multiple capture call
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/types.rs
Labels: C-bug, S-waiting-on-review

#2160 refactor(connector): [Adyen] psync validation check for adyen
  crates/router/src/connector/adyen.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2184 fix(core): add merchant_id to gpay merchant info
  crates/api_models/src/payments.rs
  crates/router/src/connector/trustpay/transformers.rs
  openapi/openapi_spec.json
Labels: A-core, C-bug, P-high, S-waiting-on-review, M-configuration-changes

#2185 refactor(configs): make TOML file an optional source of application configuration
  crates/drainer/src/settings.rs
  crates/router/src/configs/settings.rs
  crates/router_env/src/logger/config.rs
Labels: A-framework, S-waiting-on-review, C-refactor

#2162 fix(connector): [SQUARE] Fix payments cancel issue
  crates/router/src/connector/square/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#2189 refactor(core): error thrown for wrong mca in applepay_verification flow change from 5xx to 4xx
  crates/router/src/core/verification.rs
  crates/router/src/routes/app.rs
Labels: A-core, S-waiting-on-review, C-refactor, A-errors, R-waiting-on-L1, R-waiting-on-L2

#2202 fix(connector): [trustpay] add missing error_codes
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review

#2152 feat(connector): [Trustpay] Add Blik payment method for trustpay
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge

#2180 feat(connector): [Gocardless] add support for Ach, Becs payment methods
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/connector/gocardless.rs
  crates/router/src/connector/gocardless/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, S-ready-for-merge

#2204 fix(connector): [trustpay] add missing error_codes
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2158 refactor(router): refactor customer <> address in customers and payments flow
  crates/diesel_models/src/address.rs
  crates/diesel_models/src/customers.rs
  crates/diesel_models/src/query/address.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/db/address.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/domain/customer.rs
  crates/router/src/utils.rs
  migrations/2023-09-14-032447_add_payment_id_in_address/down.sql
  migrations/2023-09-14-032447_add_payment_id_in_address/up.sql
  migrations/2023-09-17-152010_make_id_not_null_address/down.sql
  migrations/2023-09-17-152010_make_id_not_null_address/up.sql
Labels: A-core, M-database-changes, C-refactor

#2212 fix(connector): [Trustpay] Add missing error code
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#2186 feat(db): enable caching for merchant_account fetch using publishable key
  crates/router/src/db/merchant_account.rs
Labels: A-framework, S-waiting-on-review

#2177 feat(router): add kv implementation for address for payment flows
  crates/diesel_models/src/address.rs
  crates/diesel_models/src/kv.rs
  crates/drainer/src/lib.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payouts.rs
  crates/router/src/db/address.rs
  crates/storage_impl/src/address.rs
  crates/storage_impl/src/lib.rs
Labels: A-core, C-feature, S-ready-for-merge

#2213 fix(env): remove EUR currency from clearpay_afterpay in stripe connector
  config/development.toml
Labels: C-bug, P-high, M-configuration-changes, A-payment-methods, S-ready-for-merge, R-L1-completed, R-L2-completed

#2234 fix: add flow_name setter
  crates/router/src/routes/app.rs
Labels: C-bug

#2214 feat(db): add find_config_by_key_unwrap_or
  crates/router/src/db/configs.rs
Labels: A-framework, S-waiting-on-review

#1927 refactor(connector): [Stripe] refactor stripe payment method not implemented errors
  crates/router/src/connector/stripe/transformers.rs
  crates/router/tests/connectors/stripe.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor, ageing >2weeks

#2209 refactor(connector): [Adyen] Enhance currency Mapping with ConnectorCurrencyCommon Trait
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2256 feat(connector): [Trustpay] Add descriptor for card payment method for trustpay
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#2257 fix(connector): fix dispute webhook failure bug in checkout during get_webhook_resource_object
  crates/router/src/connector/checkout.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2258 fix(connector): fix dispute webhook failure bug in checkout during get_webhook_resource_object
  crates/router/src/connector/checkout.rs
Labels: C-bug

#2190 refactor(core): eliminate business profile database queries in payments confirm flow
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/utils.rs
  crates/router/src/utils.rs
Labels: S-waiting-on-review, C-refactor

#2192 refactor(connector): [Checkout]Enhance currency Mapping with ConnectorCurrencyCommon Trait
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2252 fix(router): fix attempt status for techincal failures in psync flow
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/utils.rs
Labels: A-core, C-bug, S-waiting-on-review

#2235 feat(router): add mertics to apple pay flow
  crates/common_enums/src/enums.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/types.rs
  crates/router/src/utils.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, C-feature, S-waiting-on-review, R-waiting-on-L1

#2217 fix: add health metric to drainer
  crates/drainer/src/lib.rs
  crates/drainer/src/metrics.rs
Labels: A-framework, S-waiting-on-review

#2356 ci(postman): Update API key expiration date
  CHANGELOG.md
  postman/collection-dir/aci/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/adyen_uk/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/airwallex/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/authorizedotnet/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/bambora/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/bambora_3ds/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/braintree/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/checkout/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/forte/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/globalpay/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/hyperswitch/API Key/Create API Key/request.json
  postman/collection-dir/hyperswitch/Hackathon/QuickStart/API Key - Create/request.json
  postman/collection-dir/hyperswitch/QuickStart/API Key - Create/request.json
  postman/collection-dir/mollie/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/multisafepay/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/nexinets/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/nmi/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/payme/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/powertranz/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/rapyd/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/shift4/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/stripe/API Key/Create API Key/request.json
  postman/collection-dir/stripe/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/stripe/QuickStart/API Key - Create/request.json
  postman/collection-dir/trustpay/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/worldline/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/zen/Flow Testcases/QuickStart/API Key - Create/request.json
Labels: A-CI-CD, C-bug, S-waiting-on-review, C-test

#2357 ci(credentials): Update connector credentials
  .github/secrets/connector_auth.toml.gpg
Labels: A-CI-CD, C-doc, S-waiting-on-approval, C-test

#2358 refactor: enable `logs` feature flag in router crate
  crates/router/Cargo.toml
Labels: A-dependencies, C-bug, S-waiting-on-review, C-refactor, R-waiting-on-L2, R-L1-completed

#2261 fix(drainer): ignore errors in case the stream is empty
  crates/drainer/src/lib.rs
  crates/drainer/src/metrics.rs
  crates/drainer/src/utils.rs
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/errors.rs
Labels: A-framework, S-waiting-on-review

#2359 fix(connector): [stripe] use display impl for expiry date
  crates/router/src/connector/stripe/transformers.rs
Labels: C-bug, S-waiting-on-review, C-refactor, R-waiting-on-L1

#1926 fix(compatibility): update BillingDetails mappings in SCL
  Cargo.lock
  crates/router/src/compatibility/stripe/payment_intents/types.rs
Labels: A-stripe-compatibility-layer, ageing >2weeks, A-payments

#1898 feat(payments): add api locking for payments core
  Cargo.lock
  config/development.toml
  crates/api_models/src/payments.rs
  crates/common_utils/src/ext_traits.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core.rs
  crates/router/src/core/api_locking.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/configs.rs
  crates/router/src/routes.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/cache.rs
  crates/router/src/routes/cards_info.rs
  crates/router/src/routes/configs.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/dummy_connector.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/files.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/verification.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/services/api.rs
  crates/router/src/services/locking.rs
  openapi/openapi_spec.json
Labels: A-core, ageing >2weeks, A-payments

#2206 feat(payment_attempt): add kv for find last successful attempt
  crates/router/src/db/cache.rs
  crates/router/src/db/reverse_lookup.rs
  crates/storage_impl/src/lookup.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/redis/cache.rs
Labels: A-core, S-waiting-on-review

#2207 feat(connector_response): kv for connector response table
  crates/diesel_models/src/connector_response.rs
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/query/connector_response.rs
  crates/drainer/src/lib.rs
  crates/router/src/db/connector_response.rs
  crates/router/src/types/storage/kv.rs
  crates/storage_impl/src/connector_response.rs
  crates/storage_impl/src/lib.rs
Labels: A-core, S-waiting-on-review

#2363 fix(merchant_connector_account): use appropriate key when redacting
  crates/router/src/db/merchant_connector_account.rs
Labels: A-core, C-bug, S-waiting-on-review, R-waiting-on-L2, R-L1-completed

#2364 fix(db): merchant_account cache invalidation based on publishable_key
  crates/router/src/db/merchant_account.rs
Labels: A-framework, S-waiting-on-review

#2366 fix(merchant_connector_account): use appropriate key when redacting
  crates/router/src/db/merchant_connector_account.rs
Labels: C-bug, S-ready-for-merge

#2193 refactor(connector): [bluesnap]Enhance currency Mapping with ConnectorCurrencyCommon Trait
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2191 refactor(connector): [Paypal]Enhance currency Mapping with ConnectorCurrencyCommon Trait
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2196 refactor(connector): [Zen] Enhance currency Mapping with ConnectorCurrencyCommon Trait
  crates/router/src/connector/zen.rs
  crates/router/src/connector/zen/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2195 refactor(connector): [Cryptopay]Enhance currency Mapping with ConnectorCurrencyCommon Trait
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/cryptopay/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2360 fix(connector): make webhook source verification mandatory for adyen
  crates/router/src/connector/adyen.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/services/api.rs
Labels: C-bug

#2362 fix(router): fix refunds and payment_attempts kv flow
  crates/router/src/db/refund.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/utils.rs
Labels: A-core, C-bug, S-waiting-on-review

#2368 fix(CI): Fix CI pipeline on hotfix branch
  .github/secrets/connector_auth.toml.gpg
  postman/collection-dir/aci/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/adyen_uk/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/airwallex/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/authorizedotnet/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/bambora/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/bambora_3ds/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/braintree/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/checkout/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/forte/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/globalpay/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/hyperswitch/API Key/Create API Key/request.json
  postman/collection-dir/hyperswitch/Hackathon/QuickStart/API Key - Create/request.json
  postman/collection-dir/hyperswitch/QuickStart/API Key - Create/request.json
  postman/collection-dir/mollie/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/multisafepay/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/nexinets/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/nmi/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/payme/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/powertranz/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/rapyd/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/shift4/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/stripe/API Key/Create API Key/request.json
  postman/collection-dir/stripe/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/stripe/QuickStart/API Key - Create/request.json
  postman/collection-dir/trustpay/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/worldline/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/zen/Flow Testcases/QuickStart/API Key - Create/request.json
Labels: A-CI-CD, C-bug, S-waiting-on-approval, C-test

#2369 fix: [stripe] Add customer balance in StripePaymentMethodDetailsResponse
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#2178 ci(ui_test): Refactor core of UI tests to use injected browser data
  .github/scripts/run_ui_tests.sh
  .github/scripts/start_ui_test_server.sh
  .github/secrets/browser_data.tar.gz.gpg
  .github/workflows/connector-ui-sanity-tests.yml
  .gitignore
  crates/test_utils/tests/connectors/adyen_uk_ui.rs
  crates/test_utils/tests/connectors/bluesnap_ui.rs
  crates/test_utils/tests/connectors/selenium.rs
  crates/test_utils/tests/connectors/stripe_ui.rs
  scripts/decrypt_browser_data.sh
Labels: A-CI-CD, S-waiting-on-review, C-refactor, C-test

#2372 chore(config): [Multisafepay] Add configs for card mandates for Multisafepay
  crates/router/src/connector/multisafepay/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#2371 feat(core): create surcharge_metadata field in payment attempt
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payments/helpers.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2023-09-25-125007_add_surcharge_metadata_payment_attempt/down.sql
  migrations/2023-09-25-125007_add_surcharge_metadata_payment_attempt/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes

#2375 fix(router): allow address updates in payments update flow
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug, S-waiting-on-review

#2378 feat(router): append payment_id to secondary key for payment_intent in kv flow
  crates/storage_impl/src/payments/payment_intent.rs
Labels: A-core, C-feature, S-waiting-on-review

#2376 feat(router): Pass customers address in retrieve customer
  crates/diesel_models/src/query/address.rs
  crates/router/src/core/customers.rs
  crates/router/src/db/address.rs
  crates/router/src/types/api/customers.rs
  crates/router/src/types/transformers.rs
Labels: A-core, C-refactor, S-ready-for-merge, R-L1-completed, R-L2-completed

#2365 fix(db): merchant_account cache invalidation based on publishable_key
  crates/router/src/db/merchant_account.rs
Labels: A-framework, S-waiting-on-review

#2194 refactor(connector): [Payme]Enhance currency Mapping with ConnectorCurrencyCommon Trait
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#2382 refactor: enable `logs` feature flag in router crate (#2358)
  crates/router/Cargo.toml
Labels: A-dependencies, C-bug, S-waiting-on-review

#2374 refactor(connector): [bluesnap] add refund status and webhooks
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
Labels: A-connector-integration, C-refactor

#2208 refactor: insert requires cvv config to configs table if not found in db
  crates/router/src/core/payment_methods/cards.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor

#2389 fix: [Gocardless] add region in customer create request based on country
  crates/router/src/connector/gocardless/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#2386 docs(README): include Hacktoberfest information
  README.md
  docs/imgs/switch.png
Labels: C-doc

#2394 feat: temp support for ach gocardless with existing api contracts
  crates/router/src/connector/gocardless/transformers.rs
Labels: A-connector-integration, S-ready-for-merge

#2395 fix: temp support for ach gocardless with existing api contracts
  crates/router/src/connector/gocardless/transformers.rs
Labels: A-connector-integration, S-ready-for-merge

#2396 fix(configs): add `lock_settings` in `docker_compose.toml`
  config/docker_compose.toml
Labels: S-waiting-on-review, M-configuration-changes

#2392 ci(postman): Fix bluesnap refund status and folder rename to respect consecutive order
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Payments - Create/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Payments - Create/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Payments - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Payments - Create/response.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Payments - Retrieve/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Payments - Retrieve/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Payments - Retrieve/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Payments - Retrieve/response.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Refunds - Create/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Refunds - Create/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Refunds - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Refunds - Create/response.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Refunds - Retrieve/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Refunds - Retrieve/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Refunds - Retrieve/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario8-Refund full payment/Refunds - Retrieve/response.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Create/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Create/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Create/response.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Retrieve-copy/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Retrieve-copy/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Retrieve-copy/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Retrieve-copy/response.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Retrieve/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Retrieve/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Retrieve/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Payments - Retrieve/response.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Create-copy/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Create-copy/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Create-copy/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Create-copy/response.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Create/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Create/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Create/response.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Retrieve-copy/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Retrieve-copy/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Retrieve-copy/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Retrieve-copy/response.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Retrieve/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Retrieve/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Retrieve/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario9-Partial refund/Refunds - Retrieve/response.json
Labels: A-CI-CD, C-bug, C-test
