Repository juspay/hyperswitch, pull requests merged in 2023-06, with the labels that each got.

#1334 chore: address Rust 1.70 clippy lints
  crates/masking/tests/basic.rs
  crates/router/src/connector/nexinets.rs
Labels: C-refactor

#1333 fix(router/webhooks): correct webhook error mapping and make source verification optional for all connectors
  Cargo.lock
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/zen.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/utils.rs
Labels: A-core, C-bug, R-L1-completed, R-L2-completed

#1337 fix(locker): remove unnecessary assertions for locker_id on BasiliskLocker when saving cards
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, C-bug, S-ready-for-merge

#1340 fix(router/webhooks): map webhook event type not found errors to 422
  Cargo.lock
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/webhooks/utils.rs
Labels: A-core

#1277 feat(db): implement `RefundInterface` for `MockDb`
  crates/router/src/db/refund.rs
  crates/storage_models/src/refund.rs
Labels: A-core, C-feature, S-ready-for-merge

#1225 test(selenium): read config from `CONNECTOR_AUTH_FILE_PATH` environment variable and fix bugs in UI tests
  crates/api_models/src/webhooks.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/nuvei_ui.rs
  crates/router/tests/connectors/payu_ui.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/selenium.rs
  crates/router/tests/connectors/stripe_ui.rs
  crates/router/tests/connectors/worldline_ui.rs
Labels: A-connector-integration, S-ready-for-merge

#1345 feat(db): implement `DisputeInterface` for `MockDb`
  crates/router/src/db.rs
  crates/router/src/db/dispute.rs
  crates/storage_models/src/dispute.rs
Labels: A-framework, C-feature, S-ready-for-merge

#1320 feat(headers): add optional header masking feature to outbound request
  Cargo.lock
  connector-template/mod.rs
  crates/router/src/connector/aci.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bitpay.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/forte.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/zen.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/request.rs
  crates/router/src/types/api.rs
Labels: A-connector-integration, A-core, S-ready-for-merge

#1243 feat(connector): [Noon] Add Card Mandates and Webhooks Support
  crates/api_models/src/payments.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/bitpay.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/opennode.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
Labels: A-connector-integration, C-feature, P-high, S-needs-conflict-resolution, S-ready-for-merge, M-api-contract-changes

#1351 docs(CONTRIBUTING): update commit guidelines
  docs/CONTRIBUTING.md
Labels: C-doc, S-waiting-on-review

#1350 refactor(router): remove `pii-encryption-script` feature and use of timestamps for decryption
  config/config.example.toml
  config/development.toml
  crates/router/Cargo.toml
  crates/router/src/bin/router.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/customers.rs
  crates/router/src/db.rs
  crates/router/src/db/address.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/lib.rs
  crates/router/src/scripts.rs
  crates/router/src/scripts/pii_encryption.rs
  crates/router/src/services.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/domain/behaviour.rs
  crates/router/src/types/domain/customer.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/domain/merchant_key_store.rs
  crates/router/src/types/domain/types.rs
Labels: A-framework, S-waiting-on-review, M-configuration-changes, C-refactor

#1343 refactor(webhook): added the unknown field to the webhook_event_status of every connector
  Cargo.lock
  crates/router/src/connector/aci.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bitpay.rs
  crates/router/src/connector/bitpay/transformers.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/coinbase/transformers.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/forte.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/iatapay/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/opennode/transformers.rs
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/worldpay/response.rs
  crates/router/src/connector/zen.rs
  crates/router/src/connector/zen/transformers.rs
Labels: A-core, S-waiting-on-review, C-refactor

#1347 feat(db): implement `LockerMockInterface` for `MockDb`
  crates/router/src/db.rs
  crates/router/src/db/locker_mock_up.rs
Labels: A-framework, C-feature, S-ready-for-merge

#1355 fix(logging): fix traces export through opentelemetry
  Cargo.lock
  Cargo.toml
  config/docker_compose.toml
  crates/router_env/Cargo.toml
  crates/router_env/src/logger/setup.rs
  docker-compose.yml
Labels: A-framework, C-bug

#1364 fix(connector): [opennode] webhook url fix
  crates/router/src/connector/opennode/transformers.rs
Labels: C-bug, S-ready-for-merge

#1356 build: unify `sandbox` and `production` cargo features as `release`
  .github/workflows/CI.yml
  Dockerfile
  crates/router/Cargo.toml
  crates/router/src/core/payment_methods/transformers.rs
Labels: S-waiting-on-review, C-refactor

#1371 feat(Connector): [Noon] Add reference id in Order Struct
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-refactor, R-waiting-on-L2

#1372 fix(config): fix docker compose local setup
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/CI.yml
  CHANGELOG.md
  Cargo.nix
  INSTALL_dependencies.sh
  config/config.example.toml
  config/redis.conf
  crates/router/src/connector/globalpay/requests.rs
  docker-compose.yml
  docs/rfcs/000-issuing-template.md
  docs/rfcs/guidelines.md
  generate_code_coverage.sh
  loadtest/README.md
  loadtest/grafana/grafana-dashboard.yaml
  migrations/2022-12-05-090521_single_use_mandate_fields/down.sql
  migrations/2022-12-05-090521_single_use_mandate_fields/up.sql
  migrations/2022-12-12-132936_reverse_lookup/up.sql
  migrations/2023-02-07-070512_change_merchant_connector_id_data_type/down.sql
  migrations/2023-03-30-132338_add_start_end_date_for_mandates/down.sql
  migrations/2023-03-30-132338_add_start_end_date_for_mandates/up.sql
  migrations/2023-04-11-084958_pii-migration/down.sql
  migrations/2023-04-11-084958_pii-migration/up.sql
  migrations/2023-04-19-072152_merchant_account_add_intent_fulfilment_time/down.sql
  migrations/2023-04-19-120503_update_customer_connector_customer/up.sql
  monitoring/docker-compose-ckh.yaml
  openapi/open_api_spec.yaml
  postman/portman-config.json
  scripts/add_connector.sh
Labels: C-doc, S-ready-for-merge

#1383 feat(connector): [Zen] add apple pay redirect flow support for zen connector
  crates/api_models/src/payments.rs
  crates/router/src/connector/zen.rs
  crates/router/src/connector/zen/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-api-contract-changes

#1363 feat: add error type for empty connector list
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
Labels: A-connector-compatibility, S-waiting-on-review

#1380 fix(docs): Update command for getting app version
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: A-CI-CD, S-waiting-on-review, C-refactor

#1386 docs: add `ApplePayRedirectionData` to OpenAPI schema
  crates/router/src/openapi.rs
  openapi/openapi_spec.json
Labels: C-doc, S-ready-for-merge

#1390 refactor(connector): [Zen] refactor connector_meta_data for zen connector applepay session data
  crates/router/src/connector/zen/transformers.rs
Labels: A-connector-integration, C-refactor, M-api-contract-changes

#1392 feat(router): add mandate connector to payment data
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-feature

#1393 fix: revert session flow for Apple Pay trustpay
  config/development.toml
  crates/api_models/src/payments.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/openapi.rs
  crates/router/src/types.rs
  crates/storage_models/src/payment_attempt.rs
Labels: S-conventions-not-followed

#1370 feat(payment): customer ip field inclusion
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/lib.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payments/helpers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/trustpay.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, C-feature, S-ready-for-merge

#1388 ci: update versions of actions
  .github/workflows/CI.yml
  .github/workflows/connector-sanity-tests.yml
  .github/workflows/conventional-commit-check.yml
  .github/workflows/migration-check.yaml
  .github/workflows/validate-generated-json.yml
  .typos.toml
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/verify_flow.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/opennode.rs
  openapi/openapi_spec.json
Labels: A-CI-CD, S-waiting-on-review

#1385 fix: certificate decode failed when creating the session token for applepay
  crates/api_models/src/payments.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/services/api/client.rs
Labels: A-core, C-bug, S-ready-for-merge

#1403 feat(router): [Bluesnap] add kount frms session_id support for bluesnap connector
  crates/router/src/connector/bluesnap/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#1402 fix: update customer data if passed in payments
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, S-ready-for-merge

#1367 fix(connector): [Bluesnap] Throw proper error message for redirection scenario
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/services/api.rs
  crates/router/tests/connectors/bluesnap.rs
Labels: A-connector-integration, A-core, C-bug, S-ready-for-merge, R-L1-completed, R-L2-completed

#1406 fix(connector): [coinbase][opennode][bitpay] handle error response
  crates/router/src/connector/bitpay.rs
  crates/router/src/connector/bitpay/transformers.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/coinbase/transformers.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/opennode/transformers.rs
Labels: C-bug, good first issue, S-ready-for-merge

#1414 fix(router): [Trustpay] fix email & user-agent information as mandatory fields in trustpay card payment request
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1418 fix(router): [Trustpay] fix email & user-agent information as mandatory fields in trustpay card payment request
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1248 feat(db): implement `MerchantConnectorAccountInterface` for `MockDb`
  crates/router/src/db/merchant_connector_account.rs
  crates/storage_models/src/merchant_connector_account.rs
Labels: A-framework, C-feature, S-ready-for-merge

#1430 refactor(compatibility): add holder name and change trustpay merchant_ref id to payment_id
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug, S-waiting-on-review

#1431 fix(core): return an empty array when the customer does not have any payment methods
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, C-bug, M-api-contract-changes

#1435 feat(connector): mask pii information in connector request and response for stripe, bluesnap, checkout, zen
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zen/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#1360 refactor(disputes): resolve incorrect 5xx error mappings for disputes
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/utils.rs
Labels: C-refactor, S-ready-for-merge

#1433 feat(response-log): add logging to the response
  crates/router/src/services/api.rs
Labels: A-core, S-ready-for-merge

#1412 refactor(fix): [Stripe] Fix bug in Stripe
  crates/router/src/connector/stripe.rs
Labels: A-connector-integration, S-ready-for-merge, R-L1-completed

#1436 fix(connector): [Zen][ACI] Error handling and Mapping
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/zen.rs
  crates/router/src/connector/zen/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1344 feat(order_details): Adding order_details both inside and outside of metadata, in payments request, for backward compatibility
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/openapi.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/zen.rs
  crates/storage_models/src/payment_intent.rs
  crates/storage_models/src/schema.rs
  migrations/2023-05-29-094747_order-details-as-a-separate-column.sql/down.sql
  migrations/2023-05-29-094747_order-details-as-a-separate-column.sql/up.sql
  openapi/openapi_spec.json
Labels: A-connector-compatibility, C-feature, M-database-changes, S-ready-for-merge, M-api-contract-changes

#1307 fix(connector): [Shift4]Add Refund webhooks
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/shift4/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, R-L1-completed

#1428 fix(connector): [Shift4] validate pretask for threeds cards
  crates/router/src/connector/shift4.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1445 fix(connector): fix trustpay error response for transaction status api
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1437 fix(core): fix amount capturable in payments response
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
Labels: A-core, C-bug

#1217 test(connector): [Globalpay] Fix unit tests
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/sample_auth.toml
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#1376 refactor(payments): attempt to address unintended 5xx and 4xx in payments
  crates/router/src/core/customers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/services/authentication.rs
Labels: C-refactor, S-ready-for-merge

#1272 test(postman-collection): Add Github action to run postman collection
  .github/workflows/postman-collection-runner.yml
  postman/hyperswitch.postman_collection.json
Labels: A-CI-CD, S-ready-for-merge

#1440 refactor(router): send 200 response for 5xx status codes received from connector
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/services/api.rs
  crates/storage_models/src/payment_attempt.rs
  crates/storage_models/src/schema.rs
  migrations/2023-06-14-105035_add_reason_in_payment_attempt/down.sql
  migrations/2023-06-14-105035_add_reason_in_payment_attempt/up.sql
Labels: A-core, M-database-changes, C-refactor, S-ready-for-merge

#1220 chore(config): add bank config for online_banking_poland, online_banking_slovakia
  config/config.example.toml
  config/development.toml
Labels: A-connector-integration, M-configuration-changes, S-ready-for-merge

#1278 fix(connector): fix for sending refund_amount in connectors refund request
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/forte/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/opennode/transformers.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/multisafepay.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-bug, S-waiting-on-author

#1315 fix(api_models): fix bank namings
  crates/api_models/src/enums.rs
Labels: C-bug, S-waiting-on-review, M-api-contract-changes

#1338 refactor(api_models): follow naming convention for wallets & paylater payment method data enums
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: S-waiting-on-review, C-refactor, M-api-contract-changes

#1448 fix(stripe): fix logs on stripe connector integration
  crates/router/src/connector/stripe.rs
Labels: C-bug, S-ready-for-merge

#1450 feat(connector): [Noon] Add GooglePay, ApplePay, PayPal Support
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-feature, P-high, S-waiting-on-review, R-waiting-on-L1

#1444 fix(connector): use reference as payment_id in trustpay
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1424 refactor(auth_type): updated auth type in `update tracker` and also changed the default flow to `non-3ds` from `3ds`
  crates/api_models/src/enums.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/storage_models/src/enums.rs
Labels: A-core, C-refactor, R-L1-completed

#1454 feat(connector): [Zen] add google pay redirect flow support
  crates/api_models/src/payments.rs
  crates/router/src/connector/zen.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/openapi.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, M-api-contract-changes

#1457 fix(router): fix payment status updation for 2xx error responses
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-core, C-bug, S-ready-for-merge

#1447 refactor(core): accept customer data in customer object
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/openapi.rs
Labels: A-core, M-api-contract-changes

#1375 refactor(fix): [Adyen] Fix bug in Adyen
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/webhooks.rs
Labels: A-connector-integration, S-ready-for-merge, R-waiting-on-L1

#1462 fix(connector): [Adyen] fix charged status for Auto capture payment
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1359 refactor(process_tracker): attempt to identify unintended 5xx in process_tracker
  crates/router/src/core/refunds.rs
  crates/router/src/scheduler/consumer.rs
Labels: C-refactor, T-Ironman, low-risk

#1455 fix(currency): add RON and TRY currencies
  crates/api_models/src/enums.rs
  crates/storage_models/src/enums.rs
  migrations/2023-06-16-073615_add_ron_currency_to_db/down.sql
  migrations/2023-06-16-073615_add_ron_currency_to_db/up.sql
Labels: A-core

#1286 chore(common_utils): Apply the new type pattern for phone numbers
  Cargo.lock
  crates/common_utils/Cargo.toml
  crates/common_utils/src/errors.rs
  crates/common_utils/src/pii.rs
  crates/common_utils/src/validation.rs
Labels: C-feature, S-ready-for-merge

#1461 ci(postman-collection-runner): add `workflow_dispatch` trigger and fix failing CI runs
  .github/workflows/postman-collection-runner.yml
Labels: A-CI-CD, S-waiting-on-review

#1330 feat: add new error response for 403
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/services/authentication.rs
Labels: C-feature, A-errors

#1460 chore(config): add bank config for przelewy24
  config/config.example.toml
  config/development.toml
Labels: A-connector-integration, C-bug, M-configuration-changes, S-ready-for-merge

#1387 feat(db): implement `MandateInterface` for `MockDb`
  crates/router/src/db.rs
  crates/router/src/db/mandate.rs
Labels: A-framework, A-core, C-feature, S-ready-for-merge, T-Ironman, low-risk

#1469 fix(connector): [Adyen] fix unit test
  crates/router/tests/connectors/adyen.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1465 refactor(mca): use separate struct for connector metadata
  crates/api_models/src/payments.rs
  crates/router/src/core/admin.rs
Labels: C-bug, S-ready-for-merge

#1466 refactor(payments): add udf field and remove refactor metadata
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/payment_intent.rs
  crates/storage_models/src/payment_intent.rs
  crates/storage_models/src/schema.rs
  migrations/2023-06-18-042123_add_udf_column_in_payments/down.sql
  migrations/2023-06-18-042123_add_udf_column_in_payments/up.sql
Labels: A-core, M-database-changes, C-refactor, S-ready-for-merge, M-api-contract-changes

#1422 feat: applepay through trustpay
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types.rs
  crates/storage_models/src/payment_attempt.rs
Labels: A-core, M-configuration-changes, A-payment-methods, S-ready-for-merge, M-api-contract-changes

#1451 fix: fix some fields not being updated during payments create, update and confirm
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/storage_models/src/payment_attempt.rs
  crates/storage_models/src/payment_intent.rs
Labels: A-core, C-bug, S-waiting-on-review

#1468 fix(connector): [Airwallex] Fix refunds
  crates/router/src/connector/airwallex/transformers.rs
Labels: A-connector-integration, C-bug

#1472 refactor(core): move update trackers after build request
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/files/helpers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/core/payments/customers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/flows/verify_flow.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/refunds.rs
  crates/router/src/services/api.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
Labels: C-refactor, S-ready-for-merge

#1470 feat(response-log): add logging to the response for stripe compatibility layer
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/compatibility/wrap.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, low-risk

#1477 fix(connector): [Zen] Convert the amount to base denomination in order_details
  crates/router/src/connector/zen/transformers.rs
Labels: A-connector-integration, C-bug, P-high

#1476 chore(migrations): shrink `merchant_id` column of `merchant_key_store` to 64 characters
  crates/storage_models/src/schema.rs
  migrations/2023-06-19-071300_merchant_key_store_shrink_merchant_id/down.sql
  migrations/2023-06-19-071300_merchant_key_store_shrink_merchant_id/up.sql
Labels: A-framework, C-bug, M-database-changes, S-ready-for-merge

#1473 build(docker): use `debian:bookworm-slim` as base image for builder and runner stages
  Dockerfile
Labels: A-infra, C-bug, S-ready-for-merge

#1463 fix(connector): [Shift4] Fix incorrect deserialization of webhook event type
  crates/router/src/connector/shift4/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge, R-waiting-on-L1

#1449 ci(postman-collection-runner): use matrix to run tests
  .github/workflows/postman-collection-runner.yml
  postman/stripe.postman_collection.json
  scripts/postman_test_automation.sh
Labels: A-CI-CD, C-feature, S-ready-for-merge, low-risk

#1214 feat(compatibility): Wallet support compatibility layer
  crates/router/src/compatibility/stripe/payment_intents/types.rs
Labels: A-connector-compatibility, C-feature, S-ready-for-merge, M-api-contract-changes, low-risk

#1481 refactor(core): update trackers for preprocessing steps
  crates/router/src/core/payments.rs
Labels: C-refactor

#1389 refactor(errors): remove RedisErrorExt
  crates/router/src/core/errors/utils.rs
Labels: S-waiting-on-review, C-refactor, A-errors

#1362 refactor(errors): refactor `actix_web::ResponseError` for `ApiErrorResponse`
  crates/router/src/core/errors/api_error_response.rs
Labels: C-refactor, S-ready-for-merge, M-api-contract-changes, A-errors

#1484 ci(postman-collection-runner): remove duplicate `workflow_dispatch` trigger
  .github/workflows/postman-collection-runner.yml
Labels: A-CI-CD, C-bug, P-medium, S-waiting-on-review, low-risk

#1485 fix(connector): [Trustpay] add missing failure status
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1483 refactor: make bank names optional in payment method data
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/payments/operations/payment_create.rs
Labels: C-refactor, S-ready-for-merge

#1482 fix(connector): [Trustpay] add reason to all the error responses
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1416 fix(core): add validation for card expiry month, expiry year and card cvc
  crates/cards/src/lib.rs
  crates/cards/tests/basic.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, S-waiting-on-review, low-risk

#1415 fix(core): `payment_method_type` not set in the payment attempt when making a recurring mandate payment
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug, P-high, R-L2-completed, low-risk

#1474 fix(connector): [NMI] Fix Psync flow
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge, R-L2-completed, low-risk

#1358 fix(payments): fix client secret parsing
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, S-waiting-on-review

#1100 feat(router): add route to invalidate cache entry
  crates/drainer/src/utils.rs
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/errors.rs
  crates/redis_interface/src/types.rs
  crates/router/src/cache.rs
  crates/router/src/core.rs
  crates/router/src/core/cache.rs
  crates/router/src/db/queue.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/cache.rs
  crates/router/tests/cache.rs
  crates/router_env/src/logger/types.rs
Labels: A-framework, C-feature, S-ready-for-merge

#1352 fix(encryption): do not log encrypted binary data
  crates/common_utils/src/crypto.rs
  crates/common_utils/src/pii.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/src/types/domain/types.rs
  crates/storage_models/src/encryption.rs
Labels: A-core, S-ready-for-merge, low-risk

#1500 fix: add requires_customer_action status to payment confirm
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, C-bug, S-waiting-on-review

#1502 fix(process_tracker): log and ignore the duplicate entry error
  crates/router/src/core/payments.rs
Labels: A-process-tracker, C-bug

#1496 fix(update_trackers): handle preprocessing steps status update
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/verify_flow.rs
Labels: A-core, C-bug, S-waiting-on-review

#1505 refactor(fix): [Stripe] Fix bug in Stripe
  crates/router/src/connector/stripe.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1467 feat(connector): enforce logging for connector requests
  crates/router/src/connector/aci.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/bitpay.rs
  crates/router/src/connector/bitpay/transformers.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/forte.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/zen.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/request.rs
  crates/router/src/types.rs
Labels: A-connector-integration, C-feature

#1401 fix: update adyen payment method supported countries and currencies in develpment.toml
  config/development.toml
Labels: M-configuration-changes, R-waiting-on-L1, low-risk

#1493 feat: add default pm_filters
  config/development.toml
  crates/router/src/core/payment_methods/cards.rs
Labels: S-waiting-on-review, M-configuration-changes

#1507 fix(connector): [ACI] fix cancel and refund request encoder
  crates/router/src/connector/aci.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1322 refactor(core): rename `MandateTxnType` to `MandateTransactionType`
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/types/api/payments.rs
Labels: A-core, C-refactor, R-waiting-on-L1

#1506 fix(connector): Convert state of US and CA in ISO format for cybersource connector
  .typos.toml
  crates/common_enums/src/enums.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors/utils.rs
Labels: A-connector-integration

#1514 fix(connector): [Trustpay] handle errors fields as optional in TrustpayErrorResponse object
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1518 fix(errors): use `format!()` for `RefundNotPossibleError`
  crates/router/src/core/errors/api_error_response.rs
Labels: C-bug, S-waiting-on-review, A-errors

#1520 refactor: add serde rename_all for refund enums
  crates/storage_models/src/enums.rs
Labels: C-refactor, S-ready-for-merge

#1332 refactor(refunds): refactor refunds create to check for unintended 5xx
  crates/router/src/core/refunds.rs
  crates/router/src/core/utils.rs
Labels: A-core, S-waiting-on-review, C-refactor, low-risk, A-refunds

#1530 fix(connector): [TrustPay] change the request encoding
  crates/router/src/connector/trustpay.rs
Labels: A-connector-integration, C-bug

#1534 fix(connector): fix url_encode issue for paypal and payu
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/payu.rs
Labels: A-core, C-bug, R-waiting-on-L1

#1508 fix(connector): [Braintree] Map `SubmittedForSettlement` status to `Pending` instead of `Charged`
  crates/router/src/connector/braintree/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1285 feat(db): implement `EphemeralKeyInterface` for `MockDb`
  crates/router/src/db.rs
  crates/router/src/db/ephemeral_key.rs
  crates/router/src/types/storage.rs
Labels: C-feature, S-ready-for-merge, low-risk

#1498 fix: invalidate all cache on invalidate cache route
  crates/router/src/cache.rs
  crates/router/src/core/cache.rs
  crates/router/src/db/cache.rs
  crates/router/src/services.rs
Labels: A-core, S-ready-for-merge

#1529 fix(connector): [Cybersource] Throw proper unauthorised message
  crates/router/src/connector/cybersource.rs
  crates/router/src/consts.rs
Labels: A-connector-integration, S-ready-for-merge

#1540 fix(connector): [Bluesnap] add cardholder info in bluesnap payment request
  crates/router/src/connector/bluesnap/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review, R-waiting-on-L2

#1542 feat(router): add `connector_transaction_id` in payments response
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-feature, S-ready-for-merge, M-api-contract-changes

#1517 fix(payment_methods): return appropriate error when basilisk locker token expires
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/payment_methods/vault.rs
Labels: A-core, C-bug, S-ready-for-merge, M-api-contract-changes, low-risk

#1429 feat(connector): Add connector cashtocode
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/cashtocode/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/cashtocode.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/storage_models/src/enums.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, S-waiting-on-review

#1377 refactor(mandates): refactor mandates to check for misleading error codes in mandates
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/types/api/mandates.rs
Labels: A-core, S-waiting-on-review, C-refactor, low-risk, A-mandates

#1516 fix(routes): register handler for retrieve disput evidence endpoint
  crates/router/src/routes/app.rs
Labels: C-bug, S-waiting-on-review, A-disputes

#1494 feat(connector): [Noon] add error response handling in payments response
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, low-risk

#1487 perf(logging): remove redundant heap allocation present in the logging framework
  crates/router_env/src/logger/formatter.rs
Labels: A-framework, C-feature, A-performance, S-ready-for-merge

#1537 fix(connector): [Stripe] Fix bug in Stripe Bacs Bank Debit
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, S-ready-for-merge, low-risk

#1301 feat(connector): [Mollie] Implement Sepa Direct Debit
  crates/router/src/connector/mollie/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, low-risk

#1560 fix: add 3ds card_holder_info and 2 digit expiry year
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review

#1267 test(connector): [Checkout] Add tests for 3DS and Gpay
  crates/router/tests/connectors/checkout_ui.rs
  crates/router/tests/connectors/main.rs
Labels: A-connector-integration, R-waiting-on-L1, low-risk

#1254 test(connector): [Bambora] Add tests for 3DS
  crates/router/tests/connectors/bambora_ui.rs
  crates/router/tests/connectors/main.rs
Labels: A-connector-integration, R-waiting-on-L1, low-risk

#1561 chore(connector): [Payme] disable payme connector in code
  crates/api_models/src/enums.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/payme.rs
Labels: A-connector-integration, S-waiting-on-review, low-risk

#1313 feat(connector): Add refund and dispute webhooks for Rapyd
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/rapyd/transformers.rs
Labels: A-connector-integration, C-feature, R-waiting-on-L1

#1250 test(connector): [Shift4] Add tests for 3DS and Bank Redirect
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/shift4_ui.rs
Labels: A-connector-integration, S-ready-for-merge, R-waiting-on-L1, low-risk

#1281 test(connector): Add tests for Globalpay and Bluesnap
  crates/router/tests/connectors/bluesnap_ui.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/globalpay_ui.rs
  crates/router/tests/connectors/main.rs
Labels: A-connector-integration, S-ready-for-merge, R-L1-completed, low-risk

#1559 fix: add config create route back
  crates/router/src/routes/app.rs
Labels: A-core, S-ready-for-merge

#1290 test(connector): Add tests for Paypal, Adyen and Airwallex
  crates/router/tests/connectors/adyen_uk_ui.rs
  crates/router/tests/connectors/airwallex_ui.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/paypal_ui.rs
Labels: A-connector-integration, S-ready-for-merge

#1174 feat(connector): [ACI] implement Card Mandates for ACI
  crates/router/src/connector/aci.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/core/errors.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review, R-waiting-on-L1

#1501 feat(router): add filters for refunds
  crates/api_models/src/enums.rs
  crates/api_models/src/refunds.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/refunds/validator.rs
  crates/router/src/db/refund.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/storage/refund.rs
  crates/router/src/types/transformers.rs
Labels: C-feature, S-ready-for-merge, M-api-contract-changes, A-refunds

#1547 feat(connector): [Adyen] implement Alipay HK for Adyen
  config/development.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/openapi.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  crates/storage_models/src/enums.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, S-ready-for-merge, M-api-contract-changes
