Repository juspay/hyperswitch, pull requests merged in 2023-11, with the labels that each got.

#2755 CI: add suport for spell checking PR title
  .github/workflows/pr-title-check.yml
Labels: A-CI-CD

#2760 feat(events): add api auth type details to events
  crates/router/src/compatibility/wrap.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
Labels: C-feature

#2759 ci(postman): Fix collection throwing 404
  postman/collection-dir/stripe/MerchantAccounts/.meta.json
Labels: A-CI-CD, C-bug, C-test

#2676 feat(analytics): analytics APIs
  Cargo.lock
  config/config.example.toml
  config/docker_compose.toml
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/payments.rs
  crates/api_models/src/analytics/refunds.rs
  crates/api_models/src/lib.rs
  crates/common_utils/src/custom_serde.rs
  crates/router/Cargo.toml
  crates/router/src/analytics.rs
  crates/router/src/analytics/core.rs
  crates/router/src/analytics/errors.rs
  crates/router/src/analytics/metrics.rs
  crates/router/src/analytics/metrics/request.rs
  crates/router/src/analytics/payments.rs
  crates/router/src/analytics/payments/accumulator.rs
  crates/router/src/analytics/payments/core.rs
  crates/router/src/analytics/payments/filters.rs
  crates/router/src/analytics/payments/metrics.rs
  crates/router/src/analytics/payments/metrics/avg_ticket_size.rs
  crates/router/src/analytics/payments/metrics/payment_count.rs
  crates/router/src/analytics/payments/metrics/payment_processed_amount.rs
  crates/router/src/analytics/payments/metrics/payment_success_count.rs
  crates/router/src/analytics/payments/metrics/success_rate.rs
  crates/router/src/analytics/payments/types.rs
  crates/router/src/analytics/query.rs
  crates/router/src/analytics/refunds.rs
  crates/router/src/analytics/refunds/accumulator.rs
  crates/router/src/analytics/refunds/core.rs
  crates/router/src/analytics/refunds/filters.rs
  crates/router/src/analytics/refunds/metrics.rs
  crates/router/src/analytics/refunds/metrics/refund_count.rs
  crates/router/src/analytics/refunds/metrics/refund_processed_amount.rs
  crates/router/src/analytics/refunds/metrics/refund_success_count.rs
  crates/router/src/analytics/refunds/metrics/refund_success_rate.rs
  crates/router/src/analytics/refunds/types.rs
  crates/router/src/analytics/routes.rs
  crates/router/src/analytics/sqlx.rs
  crates/router/src/analytics/types.rs
  crates/router/src/analytics/utils.rs
  crates/router/src/configs/settings.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router_env/src/lib.rs
  crates/router_env/src/metrics.rs
  loadtest/config/development.toml
Labels: C-feature, P-high

#2762 fix(router): make customer_id optional when billing and shipping address is passed in payments create, update
  crates/diesel_models/src/address.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/db/address.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/utils.rs
  migrations/2023-11-02-074243_make_customer_id_nullable_in_address_table/down.sql
  migrations/2023-11-02-074243_make_customer_id_nullable_in_address_table/up.sql
Labels: A-core, C-bug, S-waiting-on-review

#2777 revert: fix(analytics): feat(analytics): analytics APIs
  Cargo.lock
  config/config.example.toml
  config/docker_compose.toml
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/payments.rs
  crates/api_models/src/analytics/refunds.rs
  crates/api_models/src/lib.rs
  crates/common_utils/src/custom_serde.rs
  crates/router/Cargo.toml
  crates/router/src/analytics.rs
  crates/router/src/analytics/core.rs
  crates/router/src/analytics/errors.rs
  crates/router/src/analytics/metrics.rs
  crates/router/src/analytics/metrics/request.rs
  crates/router/src/analytics/payments.rs
  crates/router/src/analytics/payments/accumulator.rs
  crates/router/src/analytics/payments/core.rs
  crates/router/src/analytics/payments/filters.rs
  crates/router/src/analytics/payments/metrics.rs
  crates/router/src/analytics/payments/metrics/avg_ticket_size.rs
  crates/router/src/analytics/payments/metrics/payment_count.rs
  crates/router/src/analytics/payments/metrics/payment_processed_amount.rs
  crates/router/src/analytics/payments/metrics/payment_success_count.rs
  crates/router/src/analytics/payments/metrics/success_rate.rs
  crates/router/src/analytics/payments/types.rs
  crates/router/src/analytics/query.rs
  crates/router/src/analytics/refunds.rs
  crates/router/src/analytics/refunds/accumulator.rs
  crates/router/src/analytics/refunds/core.rs
  crates/router/src/analytics/refunds/filters.rs
  crates/router/src/analytics/refunds/metrics.rs
  crates/router/src/analytics/refunds/metrics/refund_count.rs
  crates/router/src/analytics/refunds/metrics/refund_processed_amount.rs
  crates/router/src/analytics/refunds/metrics/refund_success_count.rs
  crates/router/src/analytics/refunds/metrics/refund_success_rate.rs
  crates/router/src/analytics/refunds/types.rs
  crates/router/src/analytics/routes.rs
  crates/router/src/analytics/sqlx.rs
  crates/router/src/analytics/types.rs
  crates/router/src/analytics/utils.rs
  crates/router/src/configs/settings.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router_env/src/lib.rs
  crates/router_env/src/metrics.rs
  loadtest/config/development.toml
Labels: C-bug

#2699 fix(connector): [Cryptopay]Remove default case handling for Cryptopay
  crates/router/src/connector/cryptopay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-author, S-waiting-on-review

#2772 fix(connector): [Bluesnap] fix psync status to failure when it is '403'
  crates/router/src/connector/bluesnap.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-bug

#2779 fix: response spelling
  CHANGELOG.md
Labels: C-doc, S-waiting-on-review

#2784 ci(postman): Rotate Paypal test cards to address collection failures
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario11-Create Partial Capture payment/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario3-Create payment without PMD/Payments - Confirm/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture with confirm false/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario5-Void the payment/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/QuickStart/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Variation Cases/Scenario1-Create payment with Invalid card details/Payments - Create(Invalid Exp month)/request.json
  postman/collection-dir/paypal/Flow Testcases/Variation Cases/Scenario1-Create payment with Invalid card details/Payments - Create(invalid CVV)/request.json
  postman/collection-dir/paypal/Flow Testcases/Variation Cases/Scenario3-Capture greater amount/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Variation Cases/Scenario4-Capture the succeeded payment/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Variation Cases/Scenario5-Void the success_slash_failure payment/Payments - Create/request.json
  postman/collection-dir/paypal/event.prerequest.js
  postman/collection-json/paypal.postman_collection.json
Labels: A-CI-CD, S-waiting-on-review, C-test

#2750 feat(connector): [ACI] Currency Unit Conversion
  crates/router/src/connector/aci.rs
  crates/router/src/connector/aci/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2697 feat(connector): [Bitpay] Use `connector_request_reference_id` as reference to the connector
  crates/router/src/connector/bitpay/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2715 feat(connector): [Fiserv] Currency Unit Conversion
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/fiserv/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2707 feat(connector): [NMI] Currency Unit Conversion
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2711 refactor(connector): [Stax] Currency Unit Conversion
  crates/router/src/connector/stax.rs
  crates/router/src/connector/stax/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2710 feat(connector): [Payeezy] Currency Unit Conversion
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/payeezy/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2770 feat(router): make webhook events config disabled only and by default enable all the events
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/utils.rs
Labels: A-core, C-feature, S-waiting-on-review

#2764 feat(connector): [BANKOFAMERICA] Add Connector Template Code
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/bankofamerica.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#2771 feat: make drainer logs queryable with request_id and global_id
  crates/diesel_models/src/kv.rs
  crates/drainer/src/lib.rs
  crates/drainer/src/services.rs
  crates/router/src/db.rs
  crates/router/src/routes/app.rs
  crates/router_env/src/logger/formatter.rs
  crates/storage_impl/src/lib.rs
Labels: A-core, S-waiting-on-review

#2758 ci(postman): Fix auto-update collection files
  .github/workflows/release-new-version.yml
Labels: A-CI-CD, C-bug, S-waiting-on-review

#2591 feat(connector): [Bitpay] Add order id as the reference id
  crates/router/src/connector/bitpay/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2797 ci: use `env` input to fix the command injection vulnerability
  .github/workflows/pr-title-check.yml
Labels: A-CI-CD

#2793 fix(connector): fix amount conversion incase of minor unit
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2651 refactor(payment_methods): Added support for account subtype in pmd
  crates/api_models/src/payment_methods.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor

#2776 CI: checkout repo before spell checking pr title
  .github/workflows/conventional-commit-check.yml
  .github/workflows/pr-title-spell-check.yml
Labels: A-CI-CD

#2789 feat(core): use redis as temp locker instead of basilisk
  crates/router/src/consts.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/workflows/tokenized_data.rs
Labels: A-framework, A-core, S-waiting-on-review

#2708 refactor(router): add parameter connectors to get_request_body function
  connector-template/mod.rs
  crates/router/src/connector/aci.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bitpay.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/boku.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/forte.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globepay.rs
  crates/router/src/connector/gocardless.rs
  crates/router/src/connector/helcim.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/opayo.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/powertranz.rs
  crates/router/src/connector/prophetpay.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/square.rs
  crates/router/src/connector/stax.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/tsys.rs
  crates/router/src/connector/volt.rs
  crates/router/src/connector/wise.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/zen.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, A-core, C-feature, C-refactor

#2804 feat(router): add `gateway_status_map` interface
  crates/diesel_models/src/gsm.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/gsm.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/db.rs
  crates/router/src/db/gsm.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/gsm.rs
  migrations/2023-11-07-110139_add_gsm_table/down.sql
  migrations/2023-11-07-110139_add_gsm_table/up.sql
Labels: A-core, C-feature, S-waiting-on-review

#2769 feat(events): add request details to api events
  crates/router/src/events/api_logs.rs
  crates/router/src/services/api.rs
Labels: C-feature

#2807 refactor(config): update payment method filter of Klarna in Stripe
  config/development.toml
Labels: M-configuration-changes, A-payment-methods

#2815 refactor(config): update payment method filter of Klarna in Stripe
  config/development.toml
Labels: S-waiting-on-review, M-configuration-changes, A-payment-methods

#2814 fix: [mollie] locale validation irrespective of auth type
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#2795 feat(events): add extracted fields based on req/res types
  Cargo.lock
  crates/api_models/src/admin.rs
  crates/api_models/src/api_keys.rs
  crates/api_models/src/events.rs
  crates/api_models/src/events/customer.rs
  crates/api_models/src/events/payment.rs
  crates/api_models/src/events/payouts.rs
  crates/api_models/src/events/refund.rs
  crates/api_models/src/events/routing.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/refunds.rs
  crates/api_models/src/routing.rs
  crates/common_enums/Cargo.toml
  crates/common_utils/Cargo.toml
  crates/common_utils/src/events.rs
  crates/common_utils/src/lib.rs
  crates/diesel_models/src/ephemeral_key.rs
  crates/diesel_models/src/refund.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/refunds/types.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/verification.rs
  crates/router/src/db/refund.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/dummy_connector.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/routing.rs
  crates/router/src/routes/verification.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api/customers.rs
  crates/router/src/types/storage/refund.rs
  openapi/openapi_spec.json
Labels: A-dependencies, C-feature

#2813 ci(rustman): Fix Rustman custom headers
  crates/test_utils/src/newman_runner.rs
Labels: C-bug, S-waiting-on-review

#2685 feat(router): added merchant custom name support for payment link
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_link.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payments/operations/payment_create.rs
  migrations/2023-10-25-070909_add_merchant_custom_name_payment_link/down.sql
  migrations/2023-10-25-070909_add_merchant_custom_name_payment_link/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-ready-for-merge

#2809 feat(router): add `gateway_status_map` CRUD APIs
  crates/api_models/src/events.rs
  crates/api_models/src/events/gsm.rs
  crates/api_models/src/gsm.rs
  crates/api_models/src/lib.rs
  crates/common_utils/src/events.rs
  crates/diesel_models/src/gsm.rs
  crates/router/src/core.rs
  crates/router/src/core/gsm.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/gsm.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/types.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, C-feature

#2827 docs(README): add bootstrap button for cloudformation deployment
  README.md
Labels: A-infra

#2644 refactor(core): remove connector response table and use payment_attempt instead
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/connector_response.rs
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/schema.rs
  crates/drainer/src/lib.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db.rs
  crates/router/src/db/connector_response.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/connector_response.rs
  crates/router/src/types/storage/kv.rs
  crates/storage_impl/src/connector_response.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/mock_db.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2023-11-08-144951_drop_connector_response_table/down.sql
  migrations/2023-11-08-144951_drop_connector_response_table/up.sql
Labels: A-core, M-database-changes

#2803 feat(user): setup user tables
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/user.rs
  crates/diesel_models/src/query/user_role.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user.rs
  crates/diesel_models/src/user_role.rs
  crates/router/src/db.rs
  crates/router/src/db/user.rs
  crates/router/src/db/user_role.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/user.rs
  crates/router/src/types/storage/user_role.rs
  crates/storage_impl/src/mock_db.rs
  migrations/2023-11-06-110233_create_user_table/down.sql
  migrations/2023-11-06-110233_create_user_table/up.sql
  migrations/2023-11-06-113726_create_user_roles_table/down.sql
  migrations/2023-11-06-113726_create_user_roles_table/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes

#2731 feat(router): added Payment link new design
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_enums/Cargo.toml
  crates/common_utils/src/consts.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link.html
  openapi/openapi_spec.json
Labels: A-core, C-feature, R-waiting-on-L1

#2831 refactor(connector): [Zen] change error message from NotSupported to NotImplemented
  crates/router/src/connector/zen/transformers.rs
Labels: A-connector-integration, C-refactor

#2792 feat(analytics): analytics APIs
  Cargo.lock
  config/config.example.toml
  config/docker_compose.toml
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/payments.rs
  crates/api_models/src/analytics/refunds.rs
  crates/api_models/src/lib.rs
  crates/common_utils/src/custom_serde.rs
  crates/router/Cargo.toml
  crates/router/src/analytics.rs
  crates/router/src/analytics/core.rs
  crates/router/src/analytics/errors.rs
  crates/router/src/analytics/metrics.rs
  crates/router/src/analytics/metrics/request.rs
  crates/router/src/analytics/payments.rs
  crates/router/src/analytics/payments/accumulator.rs
  crates/router/src/analytics/payments/core.rs
  crates/router/src/analytics/payments/filters.rs
  crates/router/src/analytics/payments/metrics.rs
  crates/router/src/analytics/payments/metrics/avg_ticket_size.rs
  crates/router/src/analytics/payments/metrics/payment_count.rs
  crates/router/src/analytics/payments/metrics/payment_processed_amount.rs
  crates/router/src/analytics/payments/metrics/payment_success_count.rs
  crates/router/src/analytics/payments/metrics/success_rate.rs
  crates/router/src/analytics/payments/types.rs
  crates/router/src/analytics/query.rs
  crates/router/src/analytics/refunds.rs
  crates/router/src/analytics/refunds/accumulator.rs
  crates/router/src/analytics/refunds/core.rs
  crates/router/src/analytics/refunds/filters.rs
  crates/router/src/analytics/refunds/metrics.rs
  crates/router/src/analytics/refunds/metrics/refund_count.rs
  crates/router/src/analytics/refunds/metrics/refund_processed_amount.rs
  crates/router/src/analytics/refunds/metrics/refund_success_count.rs
  crates/router/src/analytics/refunds/metrics/refund_success_rate.rs
  crates/router/src/analytics/refunds/types.rs
  crates/router/src/analytics/routes.rs
  crates/router/src/analytics/sqlx.rs
  crates/router/src/analytics/types.rs
  crates/router/src/analytics/utils.rs
  crates/router/src/configs/settings.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router_env/src/lib.rs
  crates/router_env/src/metrics.rs
  loadtest/config/development.toml
Labels: C-feature

#2828 refactor(events): update api events to follow snake case naming
  crates/common_utils/src/events.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/services/authentication.rs
Labels: A-framework, C-feature

#2835 feat(router): Add new JWT authentication variants and use them
  .typos.toml
  Cargo.lock
  crates/api_models/src/events.rs
  crates/api_models/src/events/user.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/user.rs
  crates/data_models/Cargo.toml
  crates/router/Cargo.toml
  crates/router/src/consts.rs
  crates/router/src/consts/user.rs
  crates/router/src/core.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/routing.rs
  crates/router/src/routes/user.rs
  crates/router/src/services.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/jwt.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/blocker_emails.txt
  crates/router/src/utils/user/password.rs
  crates/router_env/src/logger/types.rs
Labels: A-framework, C-feature

#2806 feat(router): profile specific fallback derivation while routing payments
  crates/api_models/src/events/routing.rs
  crates/api_models/src/routing.rs
  crates/router/Cargo.toml
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
Labels: C-feature, S-waiting-on-review, R-waiting-on-L1, R-waiting-on-L2

#2854 build(deps): remove unused dependencies and features
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/common_enums/Cargo.toml
  crates/common_utils/Cargo.toml
  crates/data_models/Cargo.toml
  crates/diesel_models/Cargo.toml
  crates/drainer/Cargo.toml
  crates/euclid/Cargo.toml
  crates/euclid_wasm/Cargo.toml
  crates/kgraph_utils/Cargo.toml
  crates/redis_interface/Cargo.toml
  crates/router/Cargo.toml
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/bankofamerica.rs
  crates/router/tests/connectors/globepay.rs
  crates/router/tests/connectors/gocardless.rs
  crates/router/tests/connectors/helcim.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/opayo.rs
  crates/router/tests/connectors/payeezy.rs
  crates/router/tests/connectors/powertranz.rs
  crates/router/tests/connectors/prophetpay.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/volt.rs
  crates/router/tests/connectors/wise.rs
  crates/scheduler/Cargo.toml
  crates/storage_impl/Cargo.toml
  crates/test_utils/Cargo.toml
Labels: A-dependencies, S-waiting-on-review, C-refactor

#2834 feat(router): add automatic retries and step up 3ds flow
  crates/router/Cargo.toml
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/routes/metrics.rs
Labels: A-core, C-feature, S-waiting-on-review

#2740 feat: Payment link status page UI
  crates/router/src/core/payment_link/payment_link.html
Labels: C-feature, S-ready-for-merge

#2696 fix: handle session and confirm flow discrepancy in surcharge details
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/redis_interface/src/commands.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/utils.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/redis/kv_store.rs
Labels: C-bug

#2886 fix(connector): [noon] add validate psync reference
  crates/router/src/connector/noon.rs
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-author, S-waiting-on-review

#2884 fix: paypal postman collection changes for surcharge feature
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Confirm/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Create/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Create/request.json
Labels: C-bug

#2887 fix(payment_link): render SDK for status requires_payment_method
  crates/router/src/core/payment_link/payment_link.html
Labels: C-bug, S-waiting-on-review

#2889 fix(connector): [noon] add validate psync reference
  crates/router/src/connector/noon.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2780 feat: spawn webhooks and async scheduling in background
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/utils.rs
Labels: A-framework, A-core, A-process-tracker, A-webhooks

#2871 refactor(router): add openapi spec support for gsm apis
  crates/api_models/src/events/gsm.rs
  crates/api_models/src/gsm.rs
  crates/router/src/core/gsm.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/gsm.rs
  crates/router/src/types.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, C-refactor

#2853 feat(router): add api to migrate card from basilisk to rust
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/events.rs
  crates/api_models/src/events/locker_migration.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/locker_migration.rs
  crates/common_utils/src/events.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/kms.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/locker_migration.rs
  crates/router_env/src/logger/types.rs
  loadtest/config/development.toml
Labels: C-feature, S-waiting-on-review

#2641 feat(connector): [ProphetPay] Implement Card Redirect PaymentMethodType and flows for Authorize, CompleteAuthorize, Psync, Refund, Rsync and Void
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/routing.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/common_utils/src/consts.rs
  crates/euclid/src/enums.rs
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/kgraph_utils/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/prophetpay.rs
  crates/router/src/connector/prophetpay/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/routing/transformers.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/prophetpay.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, A-core, C-feature, S-waiting-on-review, M-api-contract-changes

#2888 feat(router): add fallback while add card and retrieve card from rust locker
  .typos.toml
  config/config.example.toml
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
Labels: A-core, C-feature, S-waiting-on-review

#2891 docs(README): replace cloudformation deployment template with latest s3 url.
  README.md
Labels: C-doc

#2741 feat(router): Custom payment link config for payment create
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_link.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payments/operations/payment_create.rs
  migrations/2023-10-31-070509_add_payment_link_config_in_payment_link_db/down.sql
  migrations/2023-10-31-070509_add_payment_link_config_in_payment_link_db/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, M-database-changes, M-api-contract-changes, R-waiting-on-L1

#2902 fix(router): add rust locker url in proxy_bypass_urls
  crates/router/src/services/api/client.rs
Labels: A-core, S-waiting-on-review

#2917 fix(router): add choice to use the appropriate key for jws verification
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
Labels: A-core, S-waiting-on-review

#2897 feat(connector): [BANKOFAMERICA] PSYNC Bugfix
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#2883 feat(mca): Add new `auth_type` and a status field for mca
  crates/api_models/src/admin.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/schema.rs
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/mca.rs
  crates/router/src/connector/square/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/verification/utils.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/openapi.rs
  crates/router/src/types.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  migrations/2023-11-12-131143_connector-status-column/down.sql
  migrations/2023-11-12-131143_connector-status-column/up.sql
  openapi/openapi_spec.json
Labels: A-connector-compatibility, C-feature

#2746 fix(connector): [fiserv] fix metadata deserialization in merchant_connector_account
  crates/router/src/connector/fiserv/transformers.rs
  crates/router/src/core/admin.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review, M-database-changes

#2130 fix(router): associate parent payment token with `payment_method_id` as hyperswitch token for saved cards
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/storage/payment_method.rs
Labels: C-bug, S-waiting-on-review, A-payment-methods, R-waiting-on-L1

#2918 feat(router): add unified_code, unified_message in payments response
  crates/api_models/src/gsm.rs
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/gsm.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/gsm.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
  crates/router/src/workflows/payment_sync.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2023-11-17-061003_add-unified-error-code-mssg-gsm/down.sql
  migrations/2023-11-17-061003_add-unified-error-code-mssg-gsm/up.sql
  migrations/2023-11-17-084413_add-unified-error-code-mssg-payment-attempt/down.sql
  migrations/2023-11-17-084413_add-unified-error-code-mssg-payment-attempt/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, M-api-contract-changes

#2923 ci(hotfix-pr-check): use env input from GitHub to read PR body
  .github/workflows/hotfix-pr-check.yml
Labels: A-CI-CD, S-waiting-on-review

#2667 refactor(payment_methods): Added support for pm_auth_connector field in pm list response
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor, M-api-contract-changes

#2810 fix: merchant_connector_id null in KV flow
  crates/diesel_models/src/payment_attempt.rs
Labels: A-core, S-waiting-on-review

#2926 fix(connector): [CASHTOCODE] Fix Error Response Handling
  crates/router/src/connector/cashtocode/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2633 refactor(connector): [Paypal] Add support for both BodyKey and SignatureKey
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-refactor

#2869 feat: add support for 3ds and surcharge decision through routing rules
  crates/api_models/src/conditional_configs.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/surcharge_decision_configs.rs
  crates/router/src/core.rs
  crates/router/src/core/conditional_config.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/conditional_configs.rs
  crates/router/src/core/payments/conditional_configs/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/surcharge_decision_config.rs
  crates/router/src/core/utils.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/routing.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review

#2915 fix: status goes from pending to partially captured in psync
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/types.rs
  crates/router/src/workflows/payment_sync.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario11-Refund recurring payment/Recurring Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario27-Create a failure card payment with confirm true/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario27-Create payment without customer_id and with billing address and shipping address/Payments - Create/request.json
Labels: C-bug, S-waiting-on-review

#2938 fix(mca): Change the check for `disabled` field in mca create and update
  crates/router/src/core/admin.rs
Labels: A-connector-compatibility, C-bug, S-waiting-on-review

#2931 feat(router): migrate `payment_method_data` to rust locker only if `payment_method` is card
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, S-waiting-on-review, A-payment-methods

#2941 CI: update release new version workflow to not generate release notes
  .github/git-cliff-release.toml
  .github/workflows/release-new-version.yml
Labels: A-CI-CD

#2920 fix: cybersource mandates and fiserv exp year
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/fiserv/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
Labels: A-connector-integration, C-bug, C-feature, S-waiting-on-review

#2942 chore: address Rust 1.74 clippy lints
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: S-waiting-on-review, C-refactor

#2808 feat(api_event_errors): error field in APIEvents
  crates/api_models/src/errors/types.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/services/api.rs
Labels: A-framework, C-feature, S-waiting-on-approval, Rust

#2933 ci: update CODEOWNERS with hyperswitch-routing modules
  .github/CODEOWNERS
Labels: A-CI-CD, S-waiting-on-review, C-refactor, R-waiting-on-L1

#2805 feat(router): add list payment link support
  README.md
  crates/api_models/src/events.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/consts.rs
  crates/diesel_models/src/payment_link.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link.html
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/db/payment_link.rs
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_link.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/payment_link.rs
  crates/router/src/types/storage/payment_link.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
  migrations/2023-10-31-070509_add_payment_link_config_in_payment_link_db/down.sql
  migrations/2023-11-06-065213_add_description_to_payment_link/down.sql
  migrations/2023-11-06-065213_add_description_to_payment_link/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, R-waiting-on-L1

#2894 docs(README): Update feature support link
  README.md
Labels: C-feature, C-refactor

#2890 refactor(macros): use syn2.0
  Cargo.lock
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router_derive/Cargo.toml
  crates/router_derive/src/lib.rs
  crates/router_derive/src/macros.rs
  crates/router_derive/src/macros/api_error/helpers.rs
  crates/router_derive/src/macros/diesel.rs
  crates/router_derive/src/macros/generate_schema.rs
  crates/router_derive/src/macros/helpers.rs
  crates/router_derive/src/macros/operation.rs
  crates/router_derive/src/macros/try_get_enum.rs
  crates/storage_impl/src/redis/kv_store.rs
Labels: S-waiting-on-review, A-macros, C-refactor

#2928 fix: kv logs when KeyNotSet is returned
  crates/redis_interface/src/errors.rs
  crates/storage_impl/src/redis/kv_store.rs
Labels: A-core, S-waiting-on-review

#2945 refactor(mca): Add Serialization for `ConnectorAuthType`
  crates/router/src/types.rs
Labels: A-connector-compatibility, S-waiting-on-review, C-refactor

#2870 feat(routing): Routing prometheus metrics
  crates/router/src/core/metrics.rs
  crates/router/src/core/routing.rs
Labels: C-feature, A-routing

#2585 feat(payment_methods): add support for tokenising bank details and fetching masked details while listing
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/openapi.rs
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review, A-payment-methods

#2949 ci(Postman): Fix for automation test failure
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario14-Refund recurring payment/Recurring Payments - Create/request.json
  postman/collection-dir/adyen_uk/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount/Recurring Payments - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario12-Save card payment with manual capture Copy/Payments - Capture/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario12-Save card payment with manual capture Copy/Payments - Capture/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario12-Save card payment with manual capture Copy/Payments - Retrieve-copy/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Capture/event.test.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Retrieve/event.test.js
  postman/collection-dir/stripe/Payments/Payments - Update/request.json
Labels: A-CI-CD, S-waiting-on-approval, C-test

#2940 feat(connector): [BANKOFAMERICA] Implement Google Pay
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#2919 refactor(connector): [Payeezy] update error message
  crates/router/src/connector/payeezy/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue

#2893 refactor(connector): [Worldline] change error message from NotSupported to NotImplemented
  crates/router/src/connector/worldline/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue

#2954 fix: amount_captured goes to 0 for 3ds payments
  crates/api_models/src/payments.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/refunds.rs
  crates/router/src/types.rs
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario12-BNPL-klarna/Payments - Create/request.json
Labels: C-bug, S-waiting-on-review

#2955 fix: amount_captured goes to 0 for 3ds payments
  crates/api_models/src/payments.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/refunds.rs
  crates/router/src/types.rs
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario12-BNPL-klarna/Payments - Create/request.json
Labels: C-bug, S-waiting-on-review

#2934 fix(core): Fix Default Values Enum FieldType
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-bug

#2958 fix(drainer): increase jobs picked only when stream is not empty
  config/docker_compose.toml
  crates/drainer/src/lib.rs
  crates/drainer/src/utils.rs
Labels: A-core, S-waiting-on-review

#2963 feat(router): allow billing and shipping address update in payments confirm flow
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, C-feature, S-waiting-on-review

#2966 fix(connector): [Prophetpay] Use refund_id as reference_id for Refund
  crates/router/src/connector/prophetpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2969 fix(connector): [BANKOFAMERICA] Add status VOIDED in enum Bankofameri…
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-bug

#2962 fix(connector): [Prophetpay] Use refund_id as reference_id for Refund
  crates/router/src/connector/prophetpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2957 CI: update actions to latest versions and use bot credentials to generate token
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  .github/workflows/auto-release-tag.yml
  .github/workflows/connector-sanity-tests.yml
  .github/workflows/connector-ui-sanity-tests.yml
  .github/workflows/conventional-commit-check.yml
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/create-hotfix-tag.yml
  .github/workflows/hotfix-pr-check.yml
  .github/workflows/manual-release.yml
  .github/workflows/migration-check.yaml
  .github/workflows/postman-collection-runner.yml
  .github/workflows/pr-title-spell-check.yml
  .github/workflows/release-new-version.yml
  .github/workflows/validate-openapi-spec.yml
Labels: A-CI-CD, S-waiting-on-review

#2964 docs: add Rust locker information in architecture doc
  docs/architecture.md
  docs/imgs/hyperswitch-architecture.png
Labels: C-doc, S-waiting-on-review

#2967 fix: return none instead of err when payment method data is not found for bank debit during listing
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, S-waiting-on-review, A-payment-methods, R-waiting-on-L1

#2960 docs(README): Updated Community Platform Mentions
  README.md
Labels: C-doc

#2976 fix(core): Error propagation for not supporting partial refund
  crates/router/src/connector/prophetpay/transformers.rs
  crates/router/src/core/errors/utils.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2978 fix(router): mark refund status as failure for not_implemented error from connector flows
  crates/router/src/core/refunds.rs
Labels: A-core, C-bug, S-waiting-on-review

#2974 fix: surcharge related status and rules fix
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/euclid/src/backend/vir_interpreter/types.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/types.rs
  crates/router/src/workflows/payment_sync.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Confirm/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Create/request.json
Labels: C-bug, S-waiting-on-review

#2973 feat(auth): Add Authorization for JWT Authentication types
  crates/router/src/analytics/routes.rs
  crates/router/src/consts.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/files.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_link.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/routing.rs
  crates/router/src/routes/verification.rs
  crates/router/src/services.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/services/authorization/predefined_permissions.rs
Labels: A-framework, C-feature, S-waiting-on-review

#2981 fix: add prefix to connector_transaction_id
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, S-waiting-on-review

#2959 feat(user): implement change password for user
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/authentication.rs
  crates/router_env/src/logger/types.rs
Labels: A-users

#2965 fix(router): added validation to check total orderDetails amount equal to amount in request
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: C-bug, S-waiting-on-review

#2801 chore(connector): update connector addition script
  connector-template/test.rs
  scripts/add_connector.sh
Labels: A-connector-integration

#2989 CI: update the credentails for generating token in release new version workflow
  .github/workflows/release-new-version.yml
Labels: A-CI-CD, S-waiting-on-review

#2874 refactor(masking): use empty enums as masking:Strategy<T> types
  crates/cards/src/validate.rs
  crates/common_utils/src/pii.rs
  crates/masking/src/secret.rs
  crates/masking/src/strategy.rs
Labels: A-framework, C-refactor

#2948 feat(currency_conversion): add currency conversion feature
  Cargo.lock
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/Cargo.toml
  crates/api_models/src/currency.rs
  crates/api_models/src/lib.rs
  crates/currency_conversion/Cargo.toml
  crates/currency_conversion/src/conversion.rs
  crates/currency_conversion/src/error.rs
  crates/currency_conversion/src/lib.rs
  crates/currency_conversion/src/types.rs
  crates/euclid_wasm/Cargo.toml
  crates/euclid_wasm/src/lib.rs
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core.rs
  crates/router/src/core/currency.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/currency.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/utils.rs
  crates/router/src/utils/currency.rs
  crates/router_env/src/logger/types.rs
  loadtest/config/development.toml
Labels: C-feature, S-waiting-on-review, M-configuration-changes, M-api-contract-changes, R-waiting-on-L1, R-waiting-on-L2, A-currency-conversion

#2982 feat(payment_methods): receive `card_holder_name` in confirm flow when using token for payment
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cryptopay/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/dlocal/transformers.rs
  crates/router/src/connector/forte/transformers.rs
  crates/router/src/connector/gocardless/transformers.rs
  crates/router/src/connector/helcim/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/opayo/transformers.rs
  crates/router/src/connector/payeezy/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/square/transformers.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/tsys/transformers.rs
  crates/router/src/connector/volt/transformers.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review, A-payment-methods, M-api-contract-changes

#2997 refactor(router): add openapi spec support for merchant_connector apis
  crates/router/src/openapi.rs
  crates/router/src/routes/admin.rs
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, C-refactor

#2998 fix: remove error propagation if card name not found in locker
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, S-waiting-on-review, A-payment-methods

#2994 fix(core): Replace euclid enum with RoutableConnectors enum
  Cargo.lock
  connector-template/mod.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/routing.rs
  crates/common_enums/Cargo.toml
  crates/common_enums/src/enums.rs
  crates/euclid/src/enums.rs
  crates/euclid/src/frontend/ast.rs
  crates/euclid/src/frontend/dir.rs
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid_wasm/Cargo.toml
  crates/euclid_wasm/src/lib.rs
  crates/kgraph_utils/Cargo.toml
  crates/kgraph_utils/src/mca.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/routing/transformers.rs
  crates/router/src/types/transformers.rs
  scripts/add_connector.sh
Labels: A-connector-integration, A-core, S-waiting-on-review

#2991 feat(core): enable payment refund when payment is partially captured
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/router/src/core/refunds.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, C-feature

#2992 refactor(events): Adding changes to type of API events to Kafka
  crates/router/src/events/api_logs.rs
  crates/router/src/services/authentication.rs
Labels: A-framework, C-refactor

#3005 fix: remove `dummy_connector` from `default` features in `common_enums`
  crates/api_models/Cargo.toml
  crates/common_enums/Cargo.toml
Labels: A-connector-integration, C-bug

#3006 fix: remove error propagation if card name not found in locker in case of temporary token
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, S-waiting-on-review

#3002 fix: few fields were not getting updated in apply_changeset function
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/capture.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/refund.rs
Labels: C-bug, S-waiting-on-review

#2977 feat(ses_email): add email services to hyperswitch
  Cargo.lock
  config/config.example.toml
  config/development.toml
  crates/external_services/Cargo.toml
  crates/external_services/src/email.rs
  crates/external_services/src/email/ses.rs
  crates/router/Cargo.toml
  crates/router/src/consts.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/services.rs
  crates/router/src/services/email.rs
  crates/router/src/services/email/assets/invite.html
  crates/router/src/services/email/assets/magic_link.html
  crates/router/src/services/email/assets/recon_activated.html
  crates/router/src/services/email/assets/reset.html
  crates/router/src/services/email/assets/verify.html
  crates/router/src/services/email/types.rs
Labels: C-feature

#3011 fix(core): Error message on Refund update for `Not Implemented` Case
  crates/router/src/core/refunds.rs
Labels: A-core, C-bug, S-waiting-on-review

#2999 fix(pm_list): [Trustpay] Update Cards, Bank_redirect - blik pm type required field info for Trustpay
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, S-waiting-on-review, A-payment-methods

#2879 refactor(connector): [Stax] change error message from NotSupported to NotImplemented
  crates/router/src/connector/stax/transformers.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#2878 refactor(connector): [Volt] change error message from NotSupported to NotImplemented
  crates/router/src/connector/volt/transformers.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#2993 refactor(connector): [Adyen] Change country and issuer type to Optional for OpenBankingUk
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-refactor

#2872 fix(router): [Dlocal] connector transaction id fix
  crates/router/src/connector/dlocal/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2791 fix(router): use default value for the routing algorithm column during business profile creation
  crates/router/src/types/api/admin.rs
Labels: A-core, C-bug, S-waiting-on-review, R-waiting-on-L1

#3000 feat(user): add support for dashboard metadata
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/api_models/src/user/dashboard_metadata.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/dashboard_metadata.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user.rs
  crates/diesel_models/src/user/dashboard_metadata.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/db.rs
  crates/router/src/db/dashboard_metadata.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/dashboard_metadata.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/dashboard_metadata.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/dashboard_metadata.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/mock_db.rs
  migrations/2023-11-23-100644_create_dashboard_metadata_table/down.sql
  migrations/2023-11-23-100644_create_dashboard_metadata_table/up.sql
Labels: A-users

#2996 refactor(postman): Fix payme postman collection for handling `order_details`
  Cargo.lock
  postman/collection-dir/payme/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/request.json
  postman/collection-dir/payme/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Create/request.json
  postman/collection-dir/payme/Flow Testcases/Happy Cases/Scenario3-Create payment without PMD/Payments - Create/request.json
  postman/collection-dir/payme/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Create/request.json
  postman/collection-dir/payme/Flow Testcases/Happy Cases/Scenario5-Refund full payment/Payments - Create/request.json
  postman/collection-dir/payme/Flow Testcases/Happy Cases/Scenario7-Void the payment/Payments - Create/request.json
  postman/collection-dir/payme/Flow Testcases/QuickStart/Payments - Create/request.json
  postman/collection-dir/payme/Flow Testcases/Variation Cases/Scenario3-Capture greater amount/Payments - Create/request.json
  postman/collection-dir/payme/Flow Testcases/Variation Cases/Scenario4-Capture the succeeded payment/Payments - Create/request.json
  postman/collection-dir/payme/Flow Testcases/Variation Cases/Scenario5-Void the success_slash_failure payment/Payments - Create/request.json
  postman/collection-json/payme.postman_collection.json
Labels: S-waiting-on-review

#2851 refactor(connector): [Multisafe Pay] change error message from not supported to not implemented
  crates/router/src/connector/multisafepay/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue

#2880 refactor(connector): [Shift4] change error message from NotSupported to NotImplemented
  crates/router/src/connector/shift4/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue
