Repository juspay/hyperswitch, pull requests merged in 2023-08, with the labels that each got.

#1813 fix(connector): [Stripe] change payment_method name Wechatpay to wechatpayqr
  crates/api_models/src/payments.rs
  crates/router/src/connector/dummyconnector/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1824 feat(connector): [iatapay] fix refund amount, hardcode IN for UPI, send merchant payment id
  crates/router/src/connector/iatapay/transformers.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-approval

#1811 feat(core): added key should_cancel_transaction in update trackers to support Frm Pre flow cancellation
  crates/common_enums/src/enums.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug, P-high, S-waiting-on-review, R-waiting-on-L1, R-waiting-on-L2

#1701 feat(connector): [Adyen] implement Swish for Adyen
  .github/testcases/ui_tests.json
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, A-core, C-feature, P-high, S-waiting-on-review, M-api-contract-changes, R-waiting-on-L2, R-L1-completed

#1821 fix(connector): Refactor capture and refund flow for Connectors
  crates/router/src/connector/bitpay.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/opennode.rs
Labels: A-connector-integration, S-ready-for-merge

#1790 refactor(router): include currency conversion utility functions as `Currency` methods
  crates/common_enums/src/enums.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/utils.rs
Labels: P-high, C-refactor, S-ready-for-merge

#1817 feat(connector): [Trustpay] unify error_code, error_message and error_reason in error response
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1773 feat(connector): [Stax] Implement Cards for Connector Stax
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/stax.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/stax.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge

#1826 fix(connector): [Airwallex] Psync response
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/airwallex/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1641 feat(pii): implement a masking strategy for UPI VPAs
  crates/api_models/src/payments.rs
  crates/common_utils/src/pii.rs
  crates/masking/src/abs.rs
  crates/masking/src/lib.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-framework, C-feature, P-high, S-waiting-on-review, gssoc23, level3, ageing >2weeks

#1840 fix(payments): all AdditionalCardInfo fields optional
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, S-ready-for-merge

#1837 fix: request amount fix for trustpay apple pay
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, S-waiting-on-review, S-ready-for-merge

#1830 fix(connector): refactor psync and rsync for connectors
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/bitpay.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/rapyd.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1727 feat(connector): [Adyen] Add support for Blik
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/test_utils/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, A-core, P-high, S-ready-for-merge, M-api-contract-changes

#1801 fix(payments): write a foreign_from implementation for payment_method_data and add missing payment methods in helpers.rs
  crates/common_enums/src/enums.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-core, C-bug, P-high, S-ready-for-merge

#1103 feat(Connector): [Stripe] Implement Cashapp Wallet
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge, M-api-contract-changes, ageing >2weeks

#1843 fix(ui-tests): allow ui tests on workflow dispatch
  .github/workflows/connector-ui-sanity-tests.yml
  .typos.toml
Labels: A-CI-CD

#1823 refactor(config): Add new type for kms encrypted values
  Cargo.lock
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_utils/src/ext_traits.rs
  crates/drainer/Cargo.toml
  crates/drainer/src/connection.rs
  crates/drainer/src/services.rs
  crates/drainer/src/settings.rs
  crates/external_services/src/kms.rs
  crates/external_services/src/kms/decrypt.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/kms.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/connection.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/services.rs
  crates/router/src/services/authentication.rs
Labels: M-configuration-changes, C-refactor

#1107 feat(connector): add support for bank redirect for Paypal
  .github/testcases/ui_tests.json
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/test_utils/tests/connectors/paypal_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, A-core, C-feature, P-high, S-ready-for-merge, M-api-contract-changes, ageing >2weeks

#1848 refactor(common_enums): Added derive for additional traits in FutureU…
  crates/common_enums/src/enums.rs
Labels: C-refactor, R-L1-completed

#1804 feat(connector): [Adyen] implement Adyen bank transfers and voucher payments in Indonesia
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, S-ready-for-merge, M-api-contract-changes

#1805 feat(connector): [Adyen] implement PaySafe
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, S-ready-for-merge, M-api-contract-changes

#1850 fix(webhooks): do not send duplicate webhooks
  crates/api_models/src/payments.rs
  crates/router/src/core/webhooks.rs
  migrations/2023-08-01-165717_make_event_id_unique_for_events_table/down.sql
  migrations/2023-08-01-165717_make_event_id_unique_for_events_table/up.sql
Labels: A-core, C-feature, M-database-changes, S-ready-for-merge, A-payments

#1852 refactor(payment_methods): add `requires_cvv` field to customer payment method list api object
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  openapi/openapi_spec.json
Labels: S-waiting-on-review, A-payment-methods, C-refactor, M-api-contract-changes

#1672 feat(connector): [Adyen] Add support for gift cards balance
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/openapi.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, P-high, S-waiting-on-review, A-payment-methods

#1858 fix(payment_methods): add `requires_cvv` field to customer payment method list api object
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  openapi/openapi_spec.json
Labels: A-payment-methods, C-refactor

#1834 feat(connector): [Square] Add template code for connector Square
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/square.rs
  crates/router/src/connector/square/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/square.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1847 refactor(connector): use utility function to raise payment method not implemented errors
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/test_utils/tests/connectors/zen_ui.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#1808 feat(connector): [Adyen] implement Oxxo
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, S-ready-for-merge, M-api-contract-changes

#1857 ci: use `sccache-action` for caching compilation artifacts
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  .github/workflows/connector-sanity-tests.yml
  .github/workflows/connector-ui-sanity-tests.yml
  .github/workflows/postman-collection-runner.yml
  .github/workflows/validate-openapi-spec.yml
Labels: A-CI-CD, C-feature, S-ready-for-merge

#1867 fix(core): If frm is not called, send None in frm_message instead of initial values in update tracker
  crates/router/src/core/payments/operations/payment_status.rs
Labels: A-core, C-bug, P-high, S-waiting-on-review, R-waiting-on-L1, R-waiting-on-L2

#1862 feat(connector): [Payme] Add Sync, RSync & webhook flow support
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge

#1833 revert: fix(core): add validation for all the connector auth_type
  crates/router/src/connector/aci.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bitpay.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/boku.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/forte.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globepay.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/opayo.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/powertranz.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/square.rs
  crates/router/src/connector/stax.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/tsys.rs
  crates/router/src/connector/wise.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/zen.rs
  crates/router/src/core/admin.rs
  crates/router/src/routes/admin.rs
  crates/router/src/types/api.rs
Labels: A-core, S-waiting-on-review

#1861 feat(config): add config support to pt_mapping along with redis
  crates/router/src/scheduler/workflows/payment_sync.rs
Labels: A-core, S-waiting-on-review

#1880 revert: ci: use `sccache-action` for caching compilation artifacts
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  .github/workflows/connector-sanity-tests.yml
  .github/workflows/connector-ui-sanity-tests.yml
  .github/workflows/postman-collection-runner.yml
  .github/workflows/validate-openapi-spec.yml
Labels: A-CI-CD, S-waiting-on-review

#1881 ci: skip all-features check in each pull request
  .github/workflows/CI-push.yml
Labels: A-CI-CD

#1890 feat(router): handle webhook source verification for multiple mca of the same connector
  crates/api_models/src/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/zen.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/src/utils.rs
Labels: A-core, C-feature, S-waiting-on-review

#1863 test(connector): Add support for webhook tests
  .github/secrets/connector_auth.toml.gpg
  Cargo.lock
  crates/test_utils/Cargo.toml
  crates/test_utils/src/connector_auth.rs
  crates/test_utils/tests/connectors/authorizedotnet_wh_ui.rs
  crates/test_utils/tests/connectors/bluesnap_wh_ui.rs
  crates/test_utils/tests/connectors/checkout_wh_ui.rs
  crates/test_utils/tests/connectors/main.rs
  crates/test_utils/tests/connectors/selenium.rs
  crates/test_utils/tests/connectors/stripe_wh_ui.rs
Labels: A-connector-integration, S-ready-for-merge, C-test

#1816 feat(connector): [Adyen] Add support for card redirection (KNET, BENEFIT)
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, S-waiting-on-review, A-payment-methods, S-ready-for-merge, M-api-contract-changes

#1855 feat(connector): [Checkout] unify error code, message and reason in error response
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1874 refactor(authorize_flow): suppress error while saving a card to locker after successful payment
  crates/router/src/core/payments/flows/authorize_flow.rs
Labels: A-core, C-refactor, S-ready-for-merge

#1891 feat(pm_list): add pm required field info for crypto pay
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, M-configuration-changes, A-payment-methods, S-ready-for-merge

#1882 refactor(access_token): handle timeout errors gracefully
  crates/router/src/consts.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/services/api.rs
Labels: A-core, S-waiting-on-review, C-refactor

#1856 feat(connector): unified error message & errorCode for blueSnap connector
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
Labels: A-connector-integration, C-feature, R-waiting-on-L1

#1899 fix(router): add `serde(transparent)` annotation for `PaymentMethodMetadata`
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
Labels: C-bug, S-ready-for-merge, R-L1-completed, R-L2-completed

#1878 fix(router): send error_reason as error_message in payments and refund flows
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
Labels: A-core, C-bug, S-ready-for-merge

#1896 feat(router): skip payment_intent fetch for single business details merchant in webhook source verification
  crates/router/src/utils.rs
Labels: A-core, C-feature, S-waiting-on-review

#1820 feat(connector): [Adyen] Implement Momo Atm(Napas) in Card Redirects
  .github/testcases/ui_tests.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/types/transformers.rs
  crates/test_utils/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, S-ready-for-merge, R-L1-completed

#1832 feat(connector): [Stax] Implement Bank Debits and Webhooks for Connector Stax
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/connector/stax.rs
  crates/router/src/connector/stax/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, S-waiting-on-review

#1900 ci(postman): Fix collection runner failing to run
  .github/workflows/postman-collection-runner.yml
Labels: A-CI-CD, C-bug, S-waiting-on-review

#1721 feat(router): add support for multiple partial capture
  Cargo.lock
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/capture.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/capture.rs
  crates/diesel_models/src/schema.rs
  crates/router/build.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db.rs
  crates/router/src/db/capture.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/types.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/capture.rs
  crates/router/src/types/storage/connector_response.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/types/transformers.rs
  migrations/2023-07-07-091223_create_captures_table/down.sql
  migrations/2023-07-07-091223_create_captures_table/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, P-high, M-database-changes, S-ready-for-merge

#1864 feat(docs): add multiple examples support and webhook schema
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/router/src/lib.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/payments.rs
  openapi/openapi_spec.json
Labels: C-doc, S-ready-for-merge

#1892 fix(router): handle JSON connector response parse error
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/utils.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1895 refactor(connector): update the `connector_template`
  connector-template/mod.rs
Labels: C-refactor, S-ready-for-merge

#1849 chore: add connector functionality validation based on connector_type
  crates/common_enums/src/enums.rs
  openapi/openapi_spec.json
Labels: S-waiting-on-review

#1870 fix(connector): [ACI] Response Handling in case of `ErrorResponse`
  crates/router/src/connector/aci.rs
  crates/router/src/connector/aci/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge, R-waiting-on-L1

#1906 chore: remove spaces at beginning of commit messages when generating changelogs
  .github/git-cliff-changelog.toml
  .github/git-cliff-release.toml
Labels: C-bug, S-waiting-on-review

#1907 fix(webhooks): add temporary support to acknowledge webhooks whose pa…
  crates/router/src/core/webhooks.rs
Labels: P-high, good first issue, help wanted, S-ready-for-merge, R-L1-completed, low-risk

#1825 docs: add architecture and monitoring diagram of hyperswitch
  docs/architecture.md
  docs/imgs/hyperswitch-architecture.png
  docs/imgs/hyperswitch-monitoring-architecture.png
Labels: C-doc

#1905 feat(router): add webhook source verification support for multiple mca of the same connector
  crates/api_models/src/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/zen.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/src/utils.rs
Labels: A-core, C-feature, S-waiting-on-review

#1877 fix(connector): [Adyen] Response Handling in case of RefusalResponse
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1909 chore(configs): add `payout_connector_list` config to toml
  config/config.example.toml
  config/docker_compose.toml
Labels: A-CI-CD, S-waiting-on-review

#1819 feat(connector): [Adyen] implement Japanese convenience stores
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, S-waiting-on-review, M-api-contract-changes, R-waiting-on-L1

#1884 refactor: remove unnecessary debug logs from payment method list api
  crates/router/src/core/payment_methods/cards.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor

#1853 refactor(storage): Add a separate crate to represent store implementations
  Cargo.lock
  crates/router/Cargo.toml
  crates/router/src/configs/kms.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connection.rs
  crates/router/src/services.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/README.md
  crates/storage_impl/src/config.rs
  crates/storage_impl/src/diesel.rs
  crates/storage_impl/src/diesel/store.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/redis.rs
  openapi/openapi_spec.json
Labels: A-framework, S-waiting-on-review, C-refactor

#1886 chore(webhooks): ignore payment not found in webhooks
  crates/router/src/configs/settings.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/metrics.rs
  crates/router/src/core/webhooks.rs
Labels: A-core, S-ready-for-merge, A-webhooks

#1897 feat(router): add webhook source verification support for multiple mca of the same connector
  crates/api_models/src/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/stax.rs
  crates/router/src/connector/zen.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/src/utils.rs
Labels: A-core, C-feature, S-waiting-on-review

#1818 fix(payment_methods): delete token when a payment reaches terminal state
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/routes/payment_methods.rs
Labels: A-core, C-bug, R-L1-completed

#1911 fix(connector): [STAX] Add currency filter for payments through Stax
  crates/router/src/connector/stax/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1915 fix(connector): [Paypal] send valid error_reason in all the error responses
  crates/router/src/connector/paypal.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1904 feat(connector): [PayMe] Implement preprocessing flow for cards
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, A-payment-methods, S-ready-for-merge

#1913 fix(connector): [Braintree] add merchant_account_id field in authorize request
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/utils.rs
Labels: A-connector-integration, C-bug, P-high

#1917 ci(creds): Update connector credentials
  .github/secrets/connector_auth.toml.gpg
Labels: A-CI-CD, A-connector-integration, S-waiting-on-review, C-test

#1910 refactor(storage): add redis structs to storage impls
  Cargo.lock
  crates/router/src/connection.rs
  crates/router/src/services.rs
  crates/router_derive/src/macros/generate_schema.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/diesel/store.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/redis.rs
  crates/storage_impl/src/redis/kv_store.rs
Labels: A-framework, C-feature, S-waiting-on-review

#1922 feat(connector): [PayMe] Implement preprocessing flow for cards (#1904)
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, A-payment-methods, S-ready-for-merge

#1901 feat(generics): add metrics for database calls
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query/generics.rs
  crates/router/src/types/storage/dispute.rs
  crates/router/src/types/storage/payment_intent.rs
  crates/router/src/types/storage/refund.rs
  crates/router_env/src/lib.rs
Labels: S-waiting-on-review, A-performance

#1812 fix: add diesel migration to update local db
  crates/diesel_models/src/schema.rs
  migrations/2023-07-28-111829_update_columns_to_fix_db_diff/down.sql
  migrations/2023-07-28-111829_update_columns_to_fix_db_diff/up.sql
Labels: C-bug, P-high, M-database-changes

#1929 fix(payment_methods): delete token when a payment reaches terminal state
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/routes/payment_methods.rs
Labels: A-core, C-bug, R-waiting-on-L1

#1930 ci(postman): Add Updated Stripe Collection
  postman/stripe.postman_collection.json
Labels: A-CI-CD, C-test

#1925 fix(frm): add new column frm_config instead of alterning the existing…
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  migrations/2023-08-11-073905_add_frm_config_in_mca/down.sql
  migrations/2023-08-11-073905_add_frm_config_in_mca/up.sql
Labels: C-bug

#1920 ci(postman): Fix Adyen_UK, Checkout collections and disable Globalpay from running indefinitely
  .github/workflows/postman-collection-runner.yml
  postman/adyen_uk.postman_collection.json
  postman/checkout.postman_collection.json
Labels: A-CI-CD, C-bug, S-waiting-on-review, C-test

#1931 fix: added appropriate key for cashtocode to fix connector auth validation issue
  crates/router/src/connector/cashtocode/transformers.rs
Labels: A-connector-integration, C-bug

#1933 ci(creds): Update connector creds
  .github/secrets/connector_auth.toml.gpg
Labels: A-CI-CD, A-connector-integration, S-waiting-on-review, C-test

#1916 fix(connector): [Braintree] add merchant_account_id field in authorize request
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/braintree/transformers.rs
Labels: A-connector-integration, C-bug, P-high, S-ready-for-merge

#1875 docs: documentation changes for clarity
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: C-doc, S-waiting-on-author

#1921 refactor(storage_impl): Integrate the composite store from external crate
  .github/workflows/CI-pr.yml
  Cargo.lock
  crates/cards/src/lib.rs
  crates/router/Cargo.toml
  crates/router/src/connection.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/tsys.rs
  crates/router/src/core/cache.rs
  crates/router/src/core/files/helpers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/db.rs
  crates/router/src/db/api_keys.rs
  crates/router/src/db/cache.rs
  crates/router/src/db/configs.rs
  crates/router/src/db/ephemeral_key.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/db/queue.rs
  crates/router/src/db/refund.rs
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
  crates/router/src/services.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/types/storage/payment_intent.rs
  crates/router/src/types/storage/refund.rs
  crates/router/src/utils/storage_partitioning.rs
  crates/router/tests/cache.rs
  crates/router/tests/connectors/payeezy.rs
  crates/router_derive/src/macros/diesel.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/database.rs
  crates/storage_impl/src/database/store.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/payments.rs
  crates/storage_impl/src/redis.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/kv_store.rs
  crates/storage_impl/src/redis/pub_sub.rs
  crates/storage_impl/src/refund.rs
Labels: A-framework, C-refactor

#1940 fix(connector): [Payme] Fix for partial capture validation
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review

#1938 fix(connector): [Braintree] fix status mapping for braintree
  .github/secrets/connector_auth.toml.gpg
  crates/router/src/connector/braintree/transformers.rs
Labels: A-connector-integration, C-bug, P-high, S-ready-for-merge

#1941 fix(connector): [Braintree] fix status mapping for braintree
  crates/router/src/connector/braintree/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1945 feat(connector): [Payme] Add cards non 3ds, Sync &Rsync support for connector
  .typos.toml
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/cashtocode/transformers.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, S-waiting-on-review

#1944 fix(frm): added fraud_check_last_step field in fraud_check table to support 3DS transaction in frm
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/fraud_check.rs
  crates/diesel_models/src/query/fraud_check.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/db/fraud_check.rs
  migrations/2023-08-16-103806_add_last_executed_frm_step/down.sql
  migrations/2023-08-16-103806_add_last_executed_frm_step/up.sql
Labels: A-core, M-database-changes

#1942 ci(postman): Fix postman collections
  .github/secrets/connector_auth.toml.gpg
  .github/workflows/postman-collection-runner.yml
  postman/adyen_uk.postman_collection.json
  postman/bluesnap.postman_collection.json
  postman/checkout.postman_collection.json
  postman/forte.postman_collection.json
  postman/payme.postman_collection.json
  postman/paypal.postman_collection.json
  postman/powertranz.postman_collection.json
  postman/stripe.postman_collection.json
  postman/trustpay.postman_collection.json
  postman/zen.postman_collection.json
Labels: A-CI-CD, C-bug, S-waiting-on-review, C-test

#1939 fix(connector): [Payme] Fix for partial capture validation
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1948 ci(postman): Fix PayPal and Payme postman collections
  postman/payme.postman_collection.json
  postman/paypal.postman_collection.json
Labels: A-CI-CD, C-bug, C-test

#1924 feat(router): send 2xx payments response for all the connector http responses (2xx, 4xx etc.)
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/routes/metrics/request.rs
  crates/router/src/scheduler/workflows/payment_sync.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/utils.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/test_utils/tests/connectors/stripe_ui.rs
Labels: A-core, C-feature, S-waiting-on-review

#1947 fix(payment_methods): return parent_payment_method_token for other payment methods (BankTransfer, Wallet, BankRedirect)
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug, P-high, R-waiting-on-L1

#1954 ci(postman): Run only Stripe collection against PRs
  .github/workflows/postman-collection-runner.yml
  postman/stripe.postman_collection.json
Labels: A-CI-CD, S-waiting-on-review, C-test

#1959 ci(postman): Update Postman collections
  postman/adyen_uk.postman_collection.json
  postman/checkout.postman_collection.json
  postman/payme.postman_collection.json
  postman/trustpay.postman_collection.json
Labels: A-CI-CD

#1960 ci(Collection): Update postman collection-MerchantName
  postman/checkout.postman_collection.json
  postman/payme.postman_collection.json
  postman/stripe.postman_collection.json
Labels: A-CI-CD

#1961 ci(postman): remove step skipping tests for PRs
  .github/workflows/postman-collection-runner.yml
Labels: A-CI-CD, C-test

#1963 fix: transform minor units into major units in CashToCode connector c…
  crates/router/src/connector/cashtocode/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1951 fix(payment_methods): return parent_payment_method_token for other payment methods (BankTransfer, Wallet, BankRedirect)
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug, P-high

#1928 feat(business_profile): add business profile table and CRUD endpoints
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/db.rs
  crates/router/src/db/business_profile.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/business_profile.rs
  crates/router_env/src/logger/types.rs
  migrations/2023-08-08-144148_add_business_profile_table/down.sql
  migrations/2023-08-08-144148_add_business_profile_table/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, M-api-contract-changes

#1964 fix(connector): [CashToCode] Transform minor units to major units
  crates/router/src/connector/cashtocode/transformers.rs
Labels: A-connector-integration, S-ready-for-merge

#1958 refactor(compatiblity): changed MCA decode 500 error to 422
  crates/router/src/core/payments/helpers.rs
Labels: A-stripe-compatibility-layer

#1966 ci(postman): Update PayPal collection
  postman/paypal.postman_collection.json
Labels: A-CI-CD, C-test

#1968 fix(typo): add typo `daa` to allow list
  .typos.toml
  CHANGELOG.md
Labels: C-doc

#1946 feat(storage_impl): split payment intent interface implementation
  Cargo.lock
  config/development.toml
  crates/api_models/src/payments.rs
  crates/data_models/Cargo.toml
  crates/data_models/README.md
  crates/data_models/src/errors.rs
  crates/data_models/src/lib.rs
  crates/data_models/src/mandates.rs
  crates/data_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/router/Cargo.toml
  crates/router/src/connector/zen.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/db.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/enums.rs
  crates/router/src/types/storage/payment_intent.rs
  crates/router/src/utils/db_utils.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/database/store.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/metrics.rs
  crates/storage_impl/src/payments.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  crates/storage_impl/src/utils.rs
Labels: S-waiting-on-review, C-refactor, A-payments

#1970 fix(core): Update Webhooks Event Mapping and Forced Psync preconditions
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types/transformers.rs
  crates/test_utils/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-core, C-bug, S-waiting-on-review, R-waiting-on-L1

#1799 fix: storage of generic payment methods in permanent locker
  crates/api_models/src/lib.rs
  crates/api_models/src/payouts.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payouts/helpers.rs
Labels: S-ready-for-merge

#1981 fix(test_utils): remove `cmd` alias for `std::process::Command`
  crates/test_utils/src/main.rs
Labels: C-refactor

#1983 ci(release-new-version): update schedule to run workflow at 8 PM IST
  .github/workflows/release-new-version.yml
Labels: A-CI-CD

#1985 feat(router): add relevant metrics and logs for manual retries flow
  crates/router/src/core/payments/helpers.rs
  crates/router/src/routes/metrics.rs
Labels: A-core, C-feature, S-ready-for-merge

#1934 feat(core): add psync for multiple partial captures
  Cargo.lock
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/capture.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/query/capture.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/db/capture.rs
  crates/router/src/openapi.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
  migrations/2023-08-16-080721_make_connector_field_mandatory_capture_table/down.sql
  migrations/2023-08-16-080721_make_connector_field_mandatory_capture_table/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, M-api-contract-changes

#1987 feat(router): add fields in payments list response
  crates/router/src/core/payments/transformers.rs
Labels: C-feature, M-api-contract-changes, A-payments

#1993 perf(db): add index for attempt_id merchant_id
  migrations/2023-08-23-090712_payment_attempt_perf_idx/down.sql
  migrations/2023-08-23-090712_payment_attempt_perf_idx/up.sql
Labels: S-waiting-on-review, M-database-changes

#1992 refactor(core): made authenticate_client_secret function public
  Cargo.lock
  crates/router/src/core/payments/helpers.rs
Labels: A-core, P-high, S-waiting-on-review, C-refactor, R-L2-completed

#1986 fix(webhooks): send stripe compatible webhooks for stripe compatible merchants
  crates/api_models/src/admin.rs
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types/domain/merchant_account.rs
Labels: A-core, S-waiting-on-review, M-api-contract-changes, A-webhooks

#1971 feat(business_profile): add profile id in affected tables and modify api contract
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/dispute.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/payout_attempt.rs
  crates/diesel_models/src/refund.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/dispute.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/db/refund.rs
  crates/router/src/routes/admin.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2023-08-16-112847_add_profile_id_in_affected_tables/down.sql
  migrations/2023-08-16-112847_add_profile_id_in_affected_tables/up.sql
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, M-database-changes, M-api-contract-changes

#2001 chore(creds): Updated the API Keys to not use wrong creds
  .github/secrets/connector_auth.toml.gpg
Labels: A-dependencies, A-connector-integration, C-doc, P-high, S-waiting-on-review

#2002 fix(connector): [Paypal] fix amount to its currency base unit for Paypal Bank redirects
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1997 fix(connector): [Trustpay] Add missing payment status codes in failure check
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1989 fix(connector): fix payme error response deserialization error
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review, S-ready-for-merge

#1919 feat(api_client): add api client trait
  crates/router/src/core/errors.rs
  crates/router/src/services/api/client.rs
  openapi/openapi_spec.json
Labels: A-core

#2004 ci(postman): Ignore CI checks for external contributors on PR and update Paypal collection
  .github/secrets/connector_auth.toml.gpg
  .github/workflows/postman-collection-runner.yml
Labels: A-CI-CD, C-bug, C-test

#1982 fix(connector): [Bluesnap] Update incoming Webhooks flow
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/tests/connectors/bluesnap.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#2012 ci: use Rust stable from 2 weeks ago
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  .github/workflows/connector-sanity-tests.yml
  .github/workflows/conventional-commit-check.yml
  .github/workflows/migration-check.yaml
  .github/workflows/postman-collection-runner.yml
  .github/workflows/release-new-version.yml
  .github/workflows/validate-openapi-spec.yml
  Cargo.lock
  openapi/openapi_spec.json
Labels: A-CI-CD, S-waiting-on-review

#2013 fix(locker): accept the incoming token as the basilisk token if it is a mandate payment
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug, A-payment-methods

#2014 fix(payment): fix max limit on payment intents list
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/storage_impl/src/payments/payment_intent.rs
  openapi/openapi_spec.json
Labels: C-bug, S-waiting-on-review, A-payments

#2015 ci(creds): Update connector API credentials
  .github/secrets/connector_auth.toml.gpg
Labels: A-CI-CD, A-connector-integration, C-bug, S-waiting-on-review, C-refactor

#2016 fix(request): add `idle_pool_connection_timeout` as a config
  config/config.example.toml
  config/development.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/services/api/client.rs
Labels: A-core, S-waiting-on-review, M-configuration-changes

#2026 refactor(core): authenticate client secret with fulfilment time
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, P-high, S-waiting-on-review, C-refactor, R-waiting-on-L2

#2025 feat(connector): [CashToCode] perform currency based connector credentials mapping
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/cashtocode/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/types.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/cashtocode.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, S-waiting-on-review

#2022 fix(connector): [Noon] handle 2 digit exp year and 3ds checked status
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#2032 refactor(postman): remove `routing algorithm` struct from `merchant account create`
  postman/collection-dir/aci/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/adyen_uk/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/airwallex/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/authorizedotnet/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/bambora/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/bambora_3ds/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/braintree/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/checkout/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/forte/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/globalpay/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/hyperswitch/Hackathon/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/hyperswitch/MerchantAccounts/Merchant Account - Create/request.json
  postman/collection-dir/hyperswitch/MerchantAccounts/Merchant Account - Update/request.json
  postman/collection-dir/hyperswitch/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/mollie/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/multisafepay/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/nexinets/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/nmi/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/payme/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/powertranz/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/rapyd/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/shift4/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/stripe/MerchantAccounts/Merchant Account - Create/request.json
  postman/collection-dir/stripe/MerchantAccounts/Merchant Account - Update/request.json
  postman/collection-dir/stripe/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/trustpay/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/worldline/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/zen/Flow Testcases/QuickStart/Merchant Account - Create/request.json
Labels: S-waiting-on-review, C-refactor

#2034 chore(creds): Update connector API credentials
  .github/secrets/connector_auth.toml.gpg
Labels: A-connector-integration, C-doc, S-waiting-on-review, C-test

#2037 fix(connector): [Payme] populate error message in case of 2xx payment failures
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-bug, P-high

#2008 fix(router): remove `attempt_count` in payments list response and add it in payments response
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  openapi/openapi_spec.json
Labels: A-core, C-bug, S-waiting-on-review

#2011 chore: address Rust 1.72 clippy lints
  crates/data_models/src/errors.rs
  crates/drainer/src/connection.rs
  crates/router/src/connection.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/refunds.rs
  crates/router/src/db/configs.rs
  crates/router/src/db/connector_response.rs
  crates/router/src/db/dispute.rs
  crates/router/src/db/events.rs
  crates/router/src/db/locker_mock_up.rs
  crates/router/src/db/mandate.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/db/refund.rs
  crates/router/src/routes/app.rs
  crates/router/src/scheduler/workflows/payment_sync.rs
  crates/router/src/services.rs
  crates/router/src/services/api/request.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/payments.rs
  crates/storage_impl/src/database/store.rs
  crates/storage_impl/src/lib.rs
  crates/test_utils/src/connector_auth.rs
  crates/test_utils/tests/connectors/selenium.rs
Labels: C-refactor

#2003 feat(connector): [Paypal] add support for payment and refund webhooks
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge

#2019 feat(connector): [HELCIM] Add template code for Helcim
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/helcim.rs
  crates/router/src/connector/helcim/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/helcim.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1975 fix(connector): Change 5xx to 4xx for Coinbase and Iatapay
  crates/router/src/connector/coinbase/transformers.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/iatapay/transformers.rs
  crates/router/src/connector/utils.rs
Labels: C-refactor, S-ready-for-merge, A-errors

#2029 refactor(recon): updating user flow for recon
  crates/api_models/src/admin.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/openapi.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/merchant_account.rs
  migrations/2023-08-25-094551_add_recon_status_in_merchant_account/down.sql
  migrations/2023-08-25-094551_add_recon_status_in_merchant_account/up.sql
  openapi/openapi_spec.json
Labels: M-database-changes

#2035 feat(connector): (globalpay) add support for multilple partial capture
  Cargo.lock
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/globalpay/transformers.rs
Labels: C-feature, S-waiting-on-review

#1912 feat(router): add total count for payments list
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/types/api/payments.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: C-feature, S-waiting-on-review, R-waiting-on-L2, A-payments

#2042 ci(postman): Add logs to PayMe and PayPal collection in dir
  postman/collection-dir/payme/.event.json
  postman/collection-dir/paypal/.event.json
Labels: A-CI-CD, C-feature, S-waiting-on-review, C-test

#2033 feat(core): conditionally return captures list during payment sync.
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/payments.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-api-contract-changes

#2049 fix(connector): [Cryptopay] fix amount to its currency base unit
  crates/router/src/connector/cryptopay/transformers.rs
Labels: A-connector-integration, C-bug, P-high, S-ready-for-merge

#2051 fix(configs): fix supported connectors in `multiple_api_version_supported_connectors` table
  config/config.example.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: C-bug, S-waiting-on-review

#2054 docs(CONTRIBUTING): fix open a discussion link
  docs/CONTRIBUTING.md
Labels: C-doc
