Repository juspay/hyperswitch, pull requests merged in 2023-04, with the labels that each got.

#826 feat(request): add `RequestBuilder` method to attach default request headers
  connector-template/mod.rs
  connector-template/transformers.rs
  crates/router/src/connector/aci.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/applepay.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/lib.rs
  crates/router/src/services/api/request.rs
Labels: A-connector-integration, A-framework, C-feature, C-refactor

#814 deps(common_utils): put the signals module behind a feature flag
  crates/common_utils/Cargo.toml
  crates/common_utils/src/lib.rs
  crates/common_utils/src/validation.rs
  crates/drainer/Cargo.toml
  crates/router/Cargo.toml
  crates/router/src/scheduler/utils.rs
Labels: A-dependencies, C-refactor

#827 feat(encryption): `Encryptable` domain type
  crates/common_utils/Cargo.toml
  crates/common_utils/src/crypto.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/domain/customer.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/domain/types.rs
  crates/storage_models/src/encryption.rs
  crates/storage_models/src/lib.rs
Labels: A-core

#843 deps: update ci workflows for common_enums crate
  .github/workflows/CI.yml
Labels: A-CI-CD

#844 fix: Add locker sign keyid in env
  config/config.example.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/services/encryption.rs
Labels: S-waiting-on-review, M-configuration-changes, A-payment-methods

#821 refactor(router): refactor amount in PaymentsCaptureData from Option<i64> to i64
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/dlocal/transformers.rs
  crates/router/src/connector/fiserv/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/airwallex.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/bluesnap.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/dlocal.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/multisafepay.rs
  crates/router/tests/connectors/nuvei.rs
  crates/router/tests/connectors/shift4.rs
  crates/router/tests/connectors/stripe.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, A-core, C-refactor

#835 deps(common_utils): put the async ext trait behind a feature
  Cargo.lock
  crates/common_utils/Cargo.toml
  crates/common_utils/src/ext_traits.rs
  crates/common_utils/src/lib.rs
  crates/redis_interface/Cargo.toml
  crates/router/Cargo.toml
Labels: A-dependencies, C-refactor

#831 added field frm_configs to MerchantConnectorAccount
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/schema.rs
  migrations/2023-04-03-082335_update_mca_frm_configs/down.sql
  migrations/2023-04-03-082335_update_mca_frm_configs/up.sql
Labels: A-connector-integration, A-core, M-database-changes

#747 feat(connector): add authorize, capture, void, psync, refund, rsync for PayPal connector
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/utils.rs
  loadtest/config/Development.toml
Labels: A-connector-integration, C-feature, M-configuration-changes

#836 feat: allow (de)serializing countries to/from alpha-2, alpha-3 and numeric country codes
  .typos.toml
  Cargo.lock
  crates/common_enums/Cargo.toml
  crates/common_enums/src/enums.rs
Labels: C-feature

#848 Revert "added field frm_configs to MerchantConnectorAccount"
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/schema.rs
  migrations/2023-04-03-082335_update_mca_frm_configs/down.sql
  migrations/2023-04-03-082335_update_mca_frm_configs/up.sql
Labels: M-database-changes, M-api-model-changes

#850 Changelog for release v0.5.5
  CHANGELOG.md
Labels: A-CI-CD, A-connector-integration, A-framework, A-core, M-api-model-changes

#834 feat(connector): [Coinbase] [Opennode] Add support for crypto payments via PG redirection
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/webhooks.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/coinbase/transformers.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/opennode/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/lib.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/opennode.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/utils.rs
  crates/storage_models/src/enums.rs
  crates/storage_models/src/payment_attempt.rs
  crates/storage_models/src/payment_intent.rs
  loadtest/config/Development.toml
  migrations/2023-03-26-163105_add_unresolved_status/down.sql
  migrations/2023-03-26-163105_add_unresolved_status/up.sql
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, M-database-changes, M-configuration-changes, M-api-model-changes

#820 feat(connector): [Worldpay] add support for webhook
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/worldpay/response.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types/api/webhooks.rs
Labels: A-connector-integration, C-feature

#849 refactor(refund_type):Feat/add copy dervie
  crates/api_models/src/refunds.rs
Labels: A-core, C-feature, E-easy

#816 feat: multiple connector account support for the same `country`
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/routes/admin.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/transformers.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/payment_attempt.rs
  crates/storage_models/src/payment_intent.rs
  crates/storage_models/src/query/merchant_connector_account.rs
  crates/storage_models/src/schema.rs
  migrations/2023-02-20-101809_update_merchant_connector_account/down.sql
  migrations/2023-02-20-101809_update_merchant_connector_account/up.sql
  migrations/2023-02-21-065628_update_merchant_account/down.sql
  migrations/2023-02-21-065628_update_merchant_account/up.sql
  migrations/2023-02-28-072631_ang-currency/down.sql
  migrations/2023-02-28-112730_add_refund_webhook_types/down.sql
  migrations/2023-03-23-095309_add_business_sub_label_to_mca/down.sql
  migrations/2023-03-23-095309_add_business_sub_label_to_mca/up.sql
  migrations/2023-03-23-123920_add_business_label_and_country_to_pi/down.sql
  migrations/2023-03-23-123920_add_business_label_and_country_to_pi/up.sql
  migrations/2023-04-05-051523_add_business_sub_label_to_payment_attempt/down.sql
  migrations/2023-04-05-051523_add_business_sub_label_to_payment_attempt/up.sql
  migrations/2023-04-05-121040_alter_mca_change_country_to_enum/down.sql
  migrations/2023-04-05-121040_alter_mca_change_country_to_enum/up.sql
  migrations/2023-04-05-121047_alter_pi_change_country_to_enum/down.sql
  migrations/2023-04-05-121047_alter_pi_change_country_to_enum/up.sql
  openapi/generated.json
Labels: A-core, C-feature, M-database-changes, M-api-model-changes

#863 feat(router): separate straight through algorithm in separate column in payment attempt
  Cargo.lock
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/scheduler/workflows/payment_sync.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/storage_models/src/payment_attempt.rs
  crates/storage_models/src/schema.rs
  migrations/2023-04-12-075449_separate_payment_attempt_algorithm_col/down.sql
  migrations/2023-04-12-075449_separate_payment_attempt_algorithm_col/up.sql
Labels: A-core, C-feature

#869 build(deps): bump `fred` from `5.2.0` to `6.0.0`
  Cargo.lock
  crates/redis_interface/Cargo.toml
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/lib.rs
  crates/router/src/services.rs
Labels: A-dependencies, A-framework

#811 feat(connector): [Airwallex] add multiple redirect support for 3DS
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/airwallex.rs
  crates/storage_models/src/enums.rs
  migrations/2023-03-16-105114_add_data_collection_status/down.sql
  migrations/2023-03-16-105114_add_data_collection_status/up.sql
Labels: A-connector-integration, C-feature

#842 feat(router): added dispute retrieve and dispute list apis
  crates/api_models/src/disputes.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/dispute.rs
  crates/router/src/lib.rs
  crates/router/src/openapi.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/disputes.rs
  crates/router/src/types/storage/dispute.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
  crates/storage_models/src/dispute.rs
  crates/storage_models/src/query/dispute.rs
  crates/storage_models/src/schema.rs
  migrations/2023-03-15-185959_add_dispute_table/up.sql
  migrations/2023-04-06-063047_add_connector_col_in_dispute/down.sql
  migrations/2023-04-06-063047_add_connector_col_in_dispute/up.sql
Labels: A-core, C-feature, M-database-changes, M-api-model-changes

#862 refactor(Tokenization): remove ConnectorCallType from tokenization call
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
Labels: A-core, C-refactor

#800 feat(connector) : add authorize,capture,void,refunds and mandates for payeezy
  Cargo.lock
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  connector-template/test.rs
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/payeezy/transformers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/lib.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/payeezy.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/storage_models/src/locker_mock_up.rs
  loadtest/config/Development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, M-configuration-changes

#866 feat(core): add backwards compatibility for multiple mca
  crates/api_models/Cargo.toml
  crates/api_models/src/admin.rs
  crates/router/Cargo.toml
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/admin.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/transformers.rs
  migrations/2023-04-13-094917_change_primary_business_type/down.sql
  migrations/2023-04-13-094917_change_primary_business_type/up.sql
Labels: A-core, C-feature, M-database-changes

#877 fix(merchant_account): change `primary_business_details` to vec in update
  crates/api_models/src/admin.rs
  crates/router/src/core/admin.rs
Labels: A-core, C-bug

#881 fix: duplication check fix in basilisk-hs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
Labels: A-core, C-bug

#859 Changelog for release v0.5.6
  CHANGELOG.md
Labels: A-dependencies

#882 refactor: derive `Serialize` and `Deserialize` to `Country` enum
  crates/common_enums/src/enums.rs
Labels: A-core, S-ready-for-merge

#857 Frm integration with hyperswitch
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/schema.rs
  migrations/2023-04-03-082335_update_mca_frm_configs/down.sql
  migrations/2023-04-03-082335_update_mca_frm_configs/up.sql
Labels: S-ready-for-merge, M-api-model-changes

#868 refactor(router): KMS decrypt secrets when kms feature is enabled
  config/config.example.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/services/authentication.rs
Labels: A-framework, M-configuration-changes, C-refactor, S-ready-for-merge

#871 fix: Update events table after notifying merchant
  crates/router/src/core/errors.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/events.rs
  crates/router/src/types/storage/events.rs
  crates/storage_models/src/events.rs
  crates/storage_models/src/query/events.rs
Labels: A-core, C-bug, S-ready-for-merge

#876 fix(stripe): remove cancel reason validation for stripe
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#880 feat(bank_redirects): modify api contract for sofort
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: C-feature, S-ready-for-merge

#887 fix(connector): [coinbase] make metadata as option parameter
  crates/router/src/connector/coinbase/transformers.rs
  crates/router/src/connector/opennode.rs
Labels: C-bug, S-ready-for-merge

#895 enhan(payments) : make TokenizationAction clonable
  crates/router/src/core/payments.rs
Labels: C-feature, S-ready-for-merge

#818 feat(connector): [Nuvei] add support for card mandates
  crates/api_models/src/payments.rs
  crates/common_utils/src/lib.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/helpers.rs
  crates/storage_models/src/mandate.rs
  crates/storage_models/src/schema.rs
  migrations/2023-03-30-132338_add_start_end_date_for_mandates/down.sql
  migrations/2023-03-30-132338_add_start_end_date_for_mandates/up.sql
Labels: A-connector-integration, A-core, C-feature, M-database-changes, S-ready-for-merge

#901 Adyen new payment method implementation
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/storage_models/src/enums.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#886 refactor(storage_models, errors): impl StorageErrorExt for error_stack::Result<T, errors::StorageError>
  crates/router/src/core/admin.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/configs.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/refunds.rs
  crates/router/src/types/api/mandates.rs
Labels: C-refactor, S-ready-for-merge

#828 feat(connector): [Shift4] add support for card 3DS payment
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/forte/transformers.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/routes/app.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/bambora.rs
Labels: A-connector-integration, A-core, C-feature, S-ready-for-merge

#852 feat(connector) : add template code for connector nexinets
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/sample_auth.toml
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, M-configuration-changes

#902 chore(dependencies): Update dependencies for router packages
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/common_enums/Cargo.toml
  crates/common_utils/Cargo.toml
  crates/drainer/Cargo.toml
  crates/external_services/Cargo.toml
  crates/external_services/src/kms.rs
  crates/masking/Cargo.toml
  crates/redis_interface/Cargo.toml
  crates/router/Cargo.toml
  crates/router_derive/Cargo.toml
  crates/router_env/Cargo.toml
  crates/router_env/src/vergen.rs
  crates/router_env/tests/test_module/some_module.rs
  crates/storage_models/Cargo.toml
Labels: A-dependencies, C-bug

#907 doc:Changelog for release v0.5.7
  CHANGELOG.md
Labels: C-doc

#865 feat(domain): add encryption for merchant account
  crates/api_models/src/admin.rs
  crates/common_utils/src/crypto.rs
  crates/router/src/core/admin.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/types/domain/types.rs
  crates/router/src/types/storage/merchant_account.rs
  crates/storage_models/src/encryption.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/query/merchant_account.rs
  crates/storage_models/src/schema.rs
Labels: A-core

#912 ci(manual-release): fix `EXTRA_FEATURES` not being passed correctly
  .github/workflows/manual-release.yml
Labels: A-CI-CD, C-bug

#879 feat(domain): add domain types for merchant connector account
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/domain/customer.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/domain/types.rs
  crates/router/src/types/storage/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/query/merchant_connector_account.rs
  crates/storage_models/src/schema.rs
Labels: A-core

#931 fix(connector): fix adyen unit test
  crates/router/tests/connectors/adyen.rs
Labels: C-bug

#934 docs(dashboard): add button that links to dashboard
  README.md
  docs/imgs/get-api-keys.svg
  docs/imgs/signup-to-hs.svg
Labels: C-doc

#885 chore: fix error message for deserialization
  crates/router/src/core/customers.rs
Labels: A-core, S-ready-for-merge

#864 feat(router): add new payment methods for Bank redirects, BNPL and wallet
  Cargo.lock
  config/development.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/storage_models/src/enums.rs
Labels: A-core, C-feature, S-ready-for-merge, M-api-contract-changes

#839 feat: support gpay and applepay session response for all connectors
  Cargo.lock
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/connector.rs
  crates/router/src/connector/applepay.rs
  crates/router/src/connector/applepay/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/openapi.rs
  crates/router/src/types/api.rs
Labels: A-core, C-feature, S-ready-for-merge

#883 feat(router): add support for filtering PaymentMethodTypes at a session
  crates/api_models/src/payments.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-feature, S-ready-for-merge

#908 feat: add relevant ids for payment calls & make json logs
  Cargo.lock
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router_env/Cargo.toml
  crates/router_env/src/logger/formatter.rs
Labels: A-framework, A-core, S-ready-for-merge

#910 fix(connector-template): Address unused import and mismatched types in connector-template
  connector-template/mod.rs
  connector-template/transformers.rs
Labels: C-refactor, S-ready-for-merge

#928 enhan(errors): make StorageErrorExt generic on errors
  crates/router/src/core/errors/utils.rs
Labels: C-feature, S-ready-for-merge

#893 feat(connector) : add PayPal wallet support for Paypal
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/core/payments/transformers.rs
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-ready-for-merge

#936 doc(pr-template): add API contract changes and update contributing docs with recent labels
  .github/PULL_REQUEST_TEMPLATE.md
  docs/CONTRIBUTING.md
Labels: C-doc, S-ready-for-merge

#937 doc(try_local_system): replace Postman collection links with development collection
  docs/try_local_system.md
Labels: C-doc

#906 feat(core): [Stripe] add bank debits payment method to stripe
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/openapi.rs
  crates/storage_models/src/enums.rs
Labels: A-payment-methods, S-ready-for-merge, M-api-contract-changes

#873 feat: Add merchant key store
  config/config.example.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db.rs
  crates/router/src/db/address.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/routes/metrics/request.rs
  crates/router/src/services.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/domain/behaviour.rs
  crates/router/src/types/domain/customer.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/domain/merchant_key_store.rs
  crates/router/src/types/domain/types.rs
  crates/router/src/types/storage/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  crates/storage_models/src/encryption.rs
  crates/storage_models/src/lib.rs
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/merchant_key_store.rs
  crates/storage_models/src/query.rs
  crates/storage_models/src/query/merchant_connector_account.rs
  crates/storage_models/src/query/merchant_key_store.rs
  crates/storage_models/src/schema.rs
  migrations/2023-04-06-092008_create_merchant_ek/down.sql
  migrations/2023-04-06-092008_create_merchant_ek/up.sql
Labels: A-core, M-database-changes, M-configuration-changes

#957 fix(connector): fix adyen unit test
  crates/router/tests/connectors/adyen.rs
Labels: A-connector-integration, C-bug

#891 feat(Core): gracefully shutdown router/scheduler if Redis is unavailable
  crates/common_utils/src/pii.rs
  crates/common_utils/src/signals.rs
  crates/drainer/src/lib.rs
  crates/redis_interface/Cargo.toml
  crates/redis_interface/src/lib.rs
  crates/router/src/bin/router.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
  crates/router/src/scheduler.rs
  crates/router/src/scheduler/consumer.rs
  crates/router/src/scheduler/producer.rs
  crates/router/src/services.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/router/tests/utils.rs
Labels: A-core, C-feature, A-performance

#939 refactor(api_keys): use `merchant_id` and `key_id` to query the table
  crates/api_models/src/api_keys.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/db/api_keys.rs
  crates/router/src/routes/api_keys.rs
  crates/storage_models/src/query/api_keys.rs
  migrations/2023-04-21-100150_create_index_for_api_keys/down.sql
  migrations/2023-04-21-100150_create_index_for_api_keys/up.sql
Labels: A-core, M-database-changes, C-refactor, S-ready-for-merge

#958 feat(compatibility): add refund retrieve endpoint which accepts gateway creds
  Cargo.lock
  crates/router/src/compatibility/stripe/app.rs
  crates/router/src/compatibility/stripe/refunds.rs
Labels: A-connector-compatibility, C-feature, S-ready-for-merge

#900 feat(router): added dispute accept api, file module apis and dispute evidence submission api
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/disputes.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/files.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/disputes/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/files.rs
  crates/router/src/core/files/fs_utils.rs
  crates/router/src/core/files/helpers.rs
  crates/router/src/core/files/s3_utils.rs
  crates/router/src/core/metrics.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/utils.rs
  crates/router/src/db.rs
  crates/router/src/db/file.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/files.rs
  crates/router/src/routes/files/transformers.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/request.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/disputes.rs
  crates/router/src/types/api/files.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/file.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
  crates/storage_models/src/dispute.rs
  crates/storage_models/src/enums.rs
  crates/storage_models/src/file.rs
  crates/storage_models/src/lib.rs
  crates/storage_models/src/query.rs
  crates/storage_models/src/query/file.rs
  crates/storage_models/src/schema.rs
  loadtest/config/development.toml
  migrations/2023-04-04-061926_add_dispute_api_schema/down.sql
  migrations/2023-04-04-061926_add_dispute_api_schema/up.sql
Labels: A-core, C-feature, M-database-changes, M-configuration-changes, S-ready-for-merge, M-api-contract-changes

#817 feat(connector): add 3ds for Bambora and Support Html 3ds response
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/coinbase/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/opennode/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#959 fix(config): fix Tempo config for Tempo 2.0
  config/prometheus.yaml
  config/tempo.yaml
Labels: C-bug, S-ready-for-merge

#960 ci(connector-sanity-tests): run tests on being queued for merge
  .github/workflows/connector-sanity-tests.yml
Labels: A-CI-CD, S-ready-for-merge

#949 refactor(db): remove `connector_transaction_id` from PaymentAttemptNew
  crates/router/src/db/payment_attempt.rs
  crates/storage_models/src/payment_attempt.rs
Labels: A-core, P-low, C-refactor, S-ready-for-merge

#982 fix: different parent payment method token for different payment me…
  Cargo.lock
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug

#962 feat(connector): [Zen] add Cards 3DS, Non-3DS, GooglePay, ApplePay and Webhooks support
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/opennode/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zen.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/zen.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature

#985 feat(connector): [Bluesnap] add GooglePay, ApplePay support
  crates/router/src/connector/bluesnap/transformers.rs
Labels: A-connector-integration, C-feature

#1001 fix: rename `applepay` connector name to `apple_pay`
  config/config.example.toml
  crates/api_models/src/enums.rs
  crates/router/src/connector/applepay.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/types/api.rs
  loadtest/config/development.toml
Labels: C-bug, S-waiting-on-review

#1019 (docs) replaced stale link of hyperswitch blog
  README.md
Labels: C-doc, S-waiting-on-review
