Repository juspay/hyperswitch, pull requests merged in 2023-12, with the labels that each got.

#3029 fix(config): add kms decryption support for sqlx password
  crates/router/src/routes/app.rs
Labels: A-infra, C-bug

#3023 fix(wasm): fix wasm function to return the categories for keys with their description respectively
  crates/euclid_wasm/src/lib.rs
  crates/euclid_wasm/src/types.rs
Labels: C-bug, S-waiting-on-review, A-routing

#3021 fix(connector): [Paypal] Parse response for Cards with no 3DS check
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#3030 ci(postman): Fixed adyen assertion failure
  postman/collection-dir/adyen_uk/Flow Testcases/Variation Cases/Scenario8-Refund for unsuccessful payment/Refunds - Create/event.test.js
Labels: A-CI-CD, C-test

#3020 feat(types): add email types for sending emails
  crates/router/src/core/user.rs
  crates/router/src/services/email/assets/magic_link.html
  crates/router/src/services/email/types.rs
Labels: C-feature

#2987 feat(user): generate and delete sample data
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/api_models/src/user/sample_data.rs
  crates/diesel_models/src/query/user.rs
  crates/diesel_models/src/query/user/sample_data.rs
  crates/diesel_models/src/user.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/errors/user/sample_data.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/sample_data.rs
  crates/router/src/db.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user.rs
  crates/router/src/db/user/sample_data.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router_env/src/logger/types.rs
  migrations/2023-11-23-100644_create_dashboard_metadata_table/up.sql
Labels: A-users

#3031 feat(connector): [BOA/CYBERSOURCE] Fix Status Mapping for Terminal St…
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#3033 feat(user): add user_list and switch_list apis
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/api_models/src/user_role.rs
  crates/diesel_models/src/query/dashboard_metadata.rs
  crates/diesel_models/src/query/user.rs
  crates/diesel_models/src/user/dashboard_metadata.rs
  crates/router/src/core/user.rs
  crates/router/src/db/dashboard_metadata.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router_env/src/logger/types.rs
Labels: S-waiting-on-review, A-users

#2995 feat(router): add key_value to locker metrics
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/routes/metrics.rs
Labels: A-core, S-waiting-on-review

#3024 refactor(payment_methods): add support for passing card_cvc in payment_method_data object along with token
  crates/api_models/src/payments.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments/helpers.rs
  openapi/openapi_spec.json
Labels: A-payment-methods, C-refactor

#3032 feat(pm_list): Add required field for open_banking_uk for Adyen and Volt Connector
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, A-payment-methods

#2921 refactor(users): Separate signup and signin
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router_env/src/logger/types.rs
Labels: S-waiting-on-review, C-refactor, A-users

#3027 refactor: create separate struct for surcharge details response
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/surcharge_decision_configs.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/payment_intent.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/utils.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
Labels: A-core, M-api-contract-changes

#3036 fix: use card bin to get additional card details
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/types.rs
Labels: C-bug, S-waiting-on-review

#3039 feat: calculate surcharge for customer saved card list
  Cargo.lock
  crates/api_models/src/payment_methods.rs
  crates/common_utils/Cargo.toml
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/utils.rs
  crates/router/src/openapi.rs
  crates/router/src/types/api.rs
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review

#3051 feat(pm_auth): Migrate pm auth apis
  Cargo.lock
  config/development.toml
  crates/api_models/Cargo.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/pm_auth.rs
  crates/pm_auth/src/connector/plaid.rs
  crates/pm_auth/src/connector/plaid/transformers.rs
  crates/pm_auth/src/consts.rs
  crates/pm_auth/src/core/errors.rs
  crates/pm_auth/src/types.rs
  crates/pm_auth/src/types/api.rs
  crates/pm_auth/src/types/api/auth_service.rs
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/pm_auth/helpers.rs
  crates/router/src/core/pm_auth/transformers.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/pm_auth.rs
  crates/router/src/services.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/pm_auth.rs
  crates/router/src/types.rs
  crates/router/src/types/pm_auth.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature

#3048 fix: transform connector name to lowercase in connector integration script
  scripts/add_connector.sh
Labels: A-connector-integration, C-bug, S-waiting-on-review

#3025 fix: add fallback to reverselookup error
  Cargo.lock
  crates/common_utils/src/lib.rs
  crates/common_utils/src/macros.rs
  crates/data_models/Cargo.toml
  crates/data_models/src/errors.rs
  crates/diesel_models/src/errors.rs
  crates/router/src/db/refund.rs
  crates/router/src/db/user/sample_data.rs
  crates/router/src/lib.rs
  crates/router/src/macros.rs
  crates/storage_impl/src/errors.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: A-core, S-waiting-on-review

#3053 feat(user): add email apis and new enums for metadata
  crates/api_models/src/events/user.rs
  crates/api_models/src/refunds.rs
  crates/api_models/src/user.rs
  crates/api_models/src/user/dashboard_metadata.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/query/dashboard_metadata.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/db/refund.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/email/types.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/dashboard_metadata.rs
  crates/router/src/types/storage/refund.rs
  crates/router/src/utils/user/dashboard_metadata.rs
  crates/router_env/src/logger/types.rs
Labels: C-bug, C-feature, M-api-contract-changes, A-users

#3055 docs(test_utils): Update postman docs
  crates/test_utils/README.md
Labels: C-doc, S-waiting-on-approval

#3054 fix: remove redundant call to populate_payment_data function
  Cargo.lock
  crates/common_utils/Cargo.toml
  crates/router/src/core/payments.rs
Labels: C-bug, S-waiting-on-review

#3050 feat(connector_onboarding): Add Connector onboarding APIs
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/connector_onboarding.rs
  crates/api_models/src/events.rs
  crates/api_models/src/events/connector_onboarding.rs
  crates/api_models/src/lib.rs
  crates/router/src/configs/kms.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core.rs
  crates/router/src/core/connector_onboarding.rs
  crates/router/src/core/connector_onboarding/paypal.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/connector_onboarding.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/connector_onboarding.rs
  crates/router/src/types/api/connector_onboarding/paypal.rs
  crates/router/src/utils.rs
  crates/router/src/utils/connector_onboarding.rs
  crates/router/src/utils/connector_onboarding/paypal.rs
  crates/router_env/src/logger/types.rs
  loadtest/config/development.toml
Labels: A-connector-compatibility, C-feature, S-waiting-on-review

#3035 feat(pm_list): add required fields for bancontact_card for Mollie, Adyen and Stripe
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, A-payment-methods

#2968 feat: implement FRM flows
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/Cargo.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/events.rs
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/signifyd.rs
  crates/router/src/connector/signifyd/transformers.rs
  crates/router/src/connector/signifyd/transformers/api.rs
  crates/router/src/connector/signifyd/transformers/auth.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/flows.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/fraud_check/operation.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/fraud_check/operation/fraud_check_pre.rs
  crates/router/src/core/fraud_check/types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/fraud_check.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/fraud_check.rs
  crates/router/src/types/fraud_check.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/fraud_check.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
  loadtest/config/development.toml
Labels: C-feature, S-waiting-on-review

#3059 fix: remove error propagation if card name not found in locker
  crates/router/src/core/payments/helpers.rs
Labels: C-bug

#3034 feat(metrics): add drainer delay metric
  crates/diesel_models/src/kv.rs
  crates/drainer/src/lib.rs
  crates/drainer/src/metrics.rs
  crates/drainer/src/utils.rs
  crates/router_env/src/metrics.rs
Labels: A-core, S-waiting-on-review

#3016 fix: throw bad request while pushing duplicate data to redis
  crates/router/src/core/errors/utils.rs
  crates/router/src/db/refund.rs
  crates/router/src/db/reverse_lookup.rs
  crates/router/src/utils/db_utils.rs
  crates/storage_impl/src/errors.rs
  crates/storage_impl/src/lookup.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  crates/storage_impl/src/utils.rs
Labels: A-core, S-waiting-on-review

#3066 fix(config): parse kafka brokers from env variable as sequence
  crates/router/src/configs/settings.rs
Labels: A-core, C-bug, S-waiting-on-approval

#3037 feat(Braintree): Sync with Hyperswitch Reference
  crates/router/src/connector/braintree/transformers.rs
Labels: A-connector-compatibility, C-feature

#3067 fix: return url none on complete authorize
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
Labels: A-core, S-waiting-on-review

#3072 feat(connector): [BOA/CYBERSOURCE] Fix Status Mapping for Terminal St…
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3047 feat(pm_auth): pm_auth service migration
  .github/workflows/CI-pr.yml
  Cargo.lock
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/Cargo.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/pm_auth.rs
  crates/pm_auth/Cargo.toml
  crates/pm_auth/README.md
  crates/pm_auth/src/connector.rs
  crates/pm_auth/src/connector/plaid.rs
  crates/pm_auth/src/connector/plaid/transformers.rs
  crates/pm_auth/src/consts.rs
  crates/pm_auth/src/core.rs
  crates/pm_auth/src/core/errors.rs
  crates/pm_auth/src/lib.rs
  crates/pm_auth/src/types.rs
  crates/pm_auth/src/types/api.rs
  crates/pm_auth/src/types/api/auth_service.rs
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/pm_auth/helpers.rs
  crates/router/src/core/pm_auth/transformers.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/pm_auth.rs
  crates/router/src/services.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/pm_auth.rs
  crates/router/src/types.rs
  crates/router/src/types/pm_auth.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, C-feature, S-waiting-on-review, A-payment-methods, M-api-contract-changes

#3068 docs(openapi): fix `payment_methods_enabled` OpenAPI spec in merchant connector account APIs
  crates/api_models/src/admin.rs
  crates/api_models/src/payment_methods.rs
  crates/router/src/openapi.rs
  openapi/openapi_spec.json
Labels: C-doc, S-waiting-on-review

#3060 feat(connector): accept connector_transaction_id in error_response of connector flows for Trustpay
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#3078 fix(user): add checks for change password
  crates/router/src/core/errors/user.rs
  crates/router/src/core/errors/user/sample_data.rs
  crates/router/src/core/user.rs
  crates/router/src/utils/user/sample_data.rs
Labels: C-bug, S-waiting-on-review, A-users

#3075 fix(drainer): properly log deserialization errors
  crates/drainer/src/lib.rs
  crates/drainer/src/metrics.rs
Labels: A-core, S-waiting-on-review

#3080 fix(config): add missing config fields in `docker_compose.toml`
  config/docker_compose.toml
Labels: C-bug, S-waiting-on-review

#3085 chore(configs): [CYBERSOURCE] Add mandate configs
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: A-connector-integration, M-configuration-changes

#3090 fix(router): allow zero amount for payment intent in list payment methods
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, A-payment-methods

#3093 feat(users): Add resend verification email API
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#3095 fix(connector): [CYBERSOURCE] Remove Phone Number Field From Address
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3096 feat: add utility to convert TOML configuration file to list of environment variables
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  Cargo.lock
  Makefile
  crates/analytics/Cargo.toml
  crates/api_models/Cargo.toml
  crates/cards/Cargo.toml
  crates/common_enums/Cargo.toml
  crates/common_utils/Cargo.toml
  crates/config_importer/Cargo.toml
  crates/config_importer/README.md
  crates/config_importer/src/cli.rs
  crates/config_importer/src/main.rs
  crates/currency_conversion/Cargo.toml
  crates/data_models/Cargo.toml
  crates/diesel_models/Cargo.toml
  crates/drainer/Cargo.toml
  crates/euclid/Cargo.toml
  crates/external_services/Cargo.toml
  crates/kgraph_utils/Cargo.toml
  crates/masking/Cargo.toml
  crates/masking/tests/basic.rs
  crates/pm_auth/Cargo.toml
  crates/redis_interface/Cargo.toml
  crates/router/Cargo.toml
  crates/router_derive/Cargo.toml
  crates/router_env/Cargo.toml
  crates/scheduler/Cargo.toml
  crates/storage_impl/Cargo.toml
  crates/test_utils/Cargo.toml
Labels: C-feature, S-waiting-on-review

#3088 chore(deps): update fred and moka
  Cargo.lock
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/redis_interface/Cargo.toml
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/lib.rs
  crates/redis_interface/src/types.rs
  crates/router/src/db/api_keys.rs
  crates/router/src/db/cache.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/tests/cache.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/redis/cache.rs
Labels: A-dependencies, S-waiting-on-review

#3086 fix(router): make `request_incremental_authorization` optional in payment_intent
  crates/data_models/src/payments.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  migrations/2023-12-07-075240_make-request-incremental-auth-optional-intent/down.sql
  migrations/2023-12-07-075240_make-request-incremental-auth-optional-intent/up.sql
Labels: A-core, C-bug, S-waiting-on-review

#3101 fix(connector): [trustpay] make paymentId optional field
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2533 feat(connector): [RISKIFIED] Add support for riskified frm connector
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/riskified.rs
  crates/router/src/connector/riskified/transformers.rs
  crates/router/src/connector/riskified/transformers/api.rs
  crates/router/src/connector/riskified/transformers/auth.rs
  crates/router/src/connector/signifyd.rs
  crates/router/src/connector/signifyd/transformers/api.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/fraud_check/operation/fraud_check_pre.rs
  crates/router/src/core/fraud_check/types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/openapi.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/fraud_check.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/fraud_check.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
  crates/router_env/Cargo.toml
  loadtest/config/development.toml
  openapi/openapi_spec.json
Labels: A-dependencies, C-feature, S-waiting-on-review

#2952 refactor(connector): [Wise] Error Message For Connector Implementation
  crates/router/src/connector/wise/transformers.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#3121 fix(api_locking): fix the unit interpretation for `LockSettings` expiry
  crates/router/src/configs/settings.rs
Labels: A-framework, A-core, C-bug

#3122 fix(api_locking): fix the seconds and millis mismatch while fetching configuration
  crates/router/src/configs/settings.rs
Labels: A-framework, A-core, C-bug, S-waiting-on-review

#3111 feat(external_services): adds encrypt function for KMS
  crates/external_services/src/kms.rs
  crates/external_services/src/lib.rs
  crates/router/src/routes/metrics.rs
Labels: C-feature, S-waiting-on-review, R-waiting-on-L1, R-waiting-on-L2

#3087 feat(connector): [HELCIM] Add connector_request_reference_id in invoice_number
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/helcim/transformers.rs
Labels: A-connector-integration, C-feature

#3124 ci: add backwards_compatibility flag to feature list
  crates/router/Cargo.toml
Labels: A-CI-CD, C-bug, S-waiting-on-review, R-waiting-on-L1

#3127 refactor(payments): add support for receiving card_holder_name field as an empty string
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario2b-Create payment with confirm false card holder name empty/Payments - Confirm/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario2b-Create payment with confirm false card holder name empty/Payments - Retrieve/event.test.js
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario2a-Create payment with confirm false card holder name empty/Payments - Confirm/event.test.js
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario2a-Create payment with confirm false card holder name empty/Payments - Retrieve/event.test.js
Labels: A-core, S-waiting-on-review, C-refactor, A-payments

#3109 feat(core): enable surcharge support for all connectors
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
Labels: C-feature, S-waiting-on-review

#3134 fix(locker): fix double serialization for json request
  crates/router/src/core/payment_methods/transformers.rs
Labels: C-bug, A-payment-methods

#3132 fix(router): add routing cache invalidation on payment connector update
  crates/euclid_wasm/Cargo.toml
  crates/router/src/core/admin.rs
  crates/router/src/types/domain/merchant_account.rs
Labels: C-bug, S-waiting-on-review, R-L1-completed, R-L2-completed, A-routing

#3133 feat(payments): add outgoing payments webhooks
  crates/router/src/core/payments.rs
Labels: A-core, C-feature

#3131 fix(connector): [CashToCode]Fix cashtocode redirection for evoucher pm type
  crates/router/src/connector/cashtocode/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#3139 feat(connector): [CYBERSOURCE] Implement Google Pay
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature

#3141 fix(connector): [Cybersource] signature authentication in incremental_authorization flow
  crates/router/src/connector/cybersource.rs
Labels: A-connector-integration, C-bug

#3148 chore(events): remove duplicate logs
  crates/router/src/services/api.rs
Labels: A-framework, C-refactor

#3144 fix: [CYBERSOURCE] Fix Status Mapping
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-author

#3153 feat(connector): [BOA/CYBERSOURCE] Fix Status Mapping for Terminal St…
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3117 feat(connector): [PlaceToPay] Implement Cards for PlaceToPay
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/placetopay.rs
  crates/router/src/connector/placetopay/transformers.rs
  crates/router/src/connector/utils.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, S-waiting-on-review

#3149 feat(connector): [CYBERSOURCE] Implement Apple Pay
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature

#3143 feat(connector): [NMI] Implement 3DS for Cards
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-feature

#2837 refactor(router): [ACI] change payment error message from not supported to not implemented error
  crates/router/src/connector/aci/transformers.rs
Labels: A-connector-integration, C-refactor

#2850 refactor(connector): [Helcim] change error message from not supported to not implemented
  crates/router/src/connector/helcim/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue

#2847 refactor(connector): [Forte] change error message from not supported to not implemented
  crates/router/src/connector/forte/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue

#2846 refactor(connector): [Cryptopay] change error message from not supported to not implemented
  crates/router/src/connector/cryptopay/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue

#3156 fix(connector): [BOA/CYBERSOURCE] Update error handling
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3157 fix(connector): [BOA/CYBERSOURCE] Update error handling
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3135 refactor(users): rename `user_roles` and `dashboard_metadata` columns
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/types/domain/user.rs
  migrations/2023-12-14-060824_user_roles_user_status_column/down.sql
  migrations/2023-12-14-060824_user_roles_user_status_column/up.sql
  migrations/2023-12-14-101348_alter_dashboard_metadata_key_type/down.sql
  migrations/2023-12-14-101348_alter_dashboard_metadata_key_type/up.sql
Labels: S-waiting-on-review, C-refactor, A-users

#3126 fix(router): fixed open-api specs for merchant account, business_profile, payment-list, payment-session-token, payment-update, payment-cancel
  crates/api_models/src/admin.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes.rs
  crates/openapi/src/routes/business_profile.rs
  crates/openapi/src/routes/merchant_account.rs
  crates/openapi/src/routes/payments.rs
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, C-refactor, Developer Experience

#3161 fix: change prodintent name in dashboard metadata
  migrations/2023-12-14-101348_alter_dashboard_metadata_key_type/up.sql
Labels: C-bug

#3160 fix(euclid_wasm): add function to retrieve keys for 3ds and surcharge decision manager
  crates/euclid_wasm/src/lib.rs
Labels: C-bug, S-waiting-on-review, R-waiting-on-L1, A-euclid-foc

#3162 fix(payment_link): added amount conversion to base unit based on currency
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/payment_link.rs
Labels: C-bug, P-high, S-waiting-on-review

#2946 feat(postman): [Prophetpay] Add test cases
  .github/secrets/connector_auth.toml.gpg
  postman/collection-dir/prophetpay/.auth.json
  postman/collection-dir/prophetpay/.event.meta.json
  postman/collection-dir/prophetpay/.info.json
  postman/collection-dir/prophetpay/.meta.json
  postman/collection-dir/prophetpay/.variable.json
  postman/collection-dir/prophetpay/Flow Testcases/.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/.event.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/event.test.js
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/request.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/response.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Retrieve/.event.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Retrieve/event.test.js
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Retrieve/request.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Retrieve/response.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Confirm/.event.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Confirm/event.prerequest.js
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Confirm/event.test.js
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Confirm/request.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Confirm/response.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Create/.event.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Create/event.prerequest.js
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Create/event.test.js
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Create/request.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Create/response.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Retrieve/.event.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Retrieve/event.test.js
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Retrieve/request.json
  postman/collection-dir/prophetpay/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Retrieve/response.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/API Key - Create/.event.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/API Key - Create/event.test.js
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/API Key - Create/request.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/API Key - Create/response.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Merchant Account - Create/.event.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Merchant Account - Create/event.test.js
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Merchant Account - Create/response.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payment Connector - Create/.event.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payment Connector - Create/event.test.js
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payment Connector - Create/request.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payment Connector - Create/response.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payments - Create/.event.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payments - Create/event.test.js
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payments - Create/request.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payments - Create/response.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payments - Retrieve/.event.meta.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payments - Retrieve/event.test.js
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payments - Retrieve/request.json
  postman/collection-dir/prophetpay/Flow Testcases/QuickStart/Payments - Retrieve/response.json
  postman/collection-dir/prophetpay/Health check/.meta.json
  postman/collection-dir/prophetpay/Health check/New Request/.event.meta.json
  postman/collection-dir/prophetpay/Health check/New Request/event.test.js
  postman/collection-dir/prophetpay/Health check/New Request/request.json
  postman/collection-dir/prophetpay/Health check/New Request/response.json
  postman/collection-dir/prophetpay/event.prerequest.js
  postman/collection-dir/prophetpay/event.test.js
Labels: A-connector-integration, C-feature, S-waiting-on-author

#3012 feat(routing): Updated openapi spec to include routing APIs
  Cargo.lock
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/routing.rs
  crates/common_enums/src/enums.rs
  crates/euclid/Cargo.toml
  crates/euclid/src/frontend/ast.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes.rs
  crates/openapi/src/routes/routing.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
  openapi/openapi_spec.json
Labels: C-feature, A-routing

#3166 fix(connector): [NMI] Fix response deserialization for vault id creation
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-bug

#3167 fix(users): send correct `user_role` values in `switch_merchant` response
  crates/router/src/core/user.rs
  crates/router/src/utils/user.rs
Labels: C-bug, S-waiting-on-review, A-users

#3159 fix(connector): Connector wise validation for zero auth flow
  crates/router/src/connector/aci.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bitpay.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/boku.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/forte.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globepay.rs
  crates/router/src/connector/helcim.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/opayo.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/placetopay.rs
  crates/router/src/connector/powertranz.rs
  crates/router/src/connector/prophetpay.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/riskified.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/signifyd.rs
  crates/router/src/connector/square.rs
  crates/router/src/connector/stax.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/tsys.rs
  crates/router/src/connector/volt.rs
  crates/router/src/connector/wise.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/zen.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#3164 feat(connector): [NMI] Implement webhook for Payments and Refunds
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-feature, P-high, S-waiting-on-review, A-webhooks

#3138 feat(connector-config): add wasm support for dashboard connector configuration
  Cargo.lock
  crates/connector_configs/Cargo.toml
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/src/lib.rs
  crates/connector_configs/src/response_modifier.rs
  crates/connector_configs/src/transformer.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/euclid_wasm/Cargo.toml
  crates/euclid_wasm/src/lib.rs
  docker/wasm-build.Dockerfile
Labels: A-connector-integration, S-waiting-on-review

#3171 fix(events): add logger for incoming webhook payload
  crates/router/src/routes/webhooks.rs
Labels: C-bug, S-waiting-on-review

#3173 refactor(payment_methods): make the card_holder_name as an empty string if not sent
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/dlocal/transformers.rs
  crates/router/src/connector/dummyconnector/transformers.rs
  crates/router/src/connector/forte/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/opayo/transformers.rs
  crates/router/src/connector/payeezy/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/connector/worldline/transformers.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor

#3177 refactor(core): fix payment status for 4xx
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-refactor

#3178 feat(connector): [BOA] Handle BOA 5XX errors
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-connector-integration, C-bug

#3174 feat(connector): [BOA] Add GPAY, ApplePay and other fixes
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  .github/workflows/auto-release-tag.yml
  .github/workflows/connector-sanity-tests.yml
  .github/workflows/connector-ui-sanity-tests.yml
  .github/workflows/conventional-commit-check.yml
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/create-hotfix-tag.yml
  .github/workflows/hotfix-pr-check.yml
  .github/workflows/manual-release.yml
  .github/workflows/migration-check.yaml
  .github/workflows/postman-collection-runner.yml
  .github/workflows/pr-title-spell-check.yml
  .github/workflows/release-new-version.yml
  .github/workflows/validate-openapi-spec.yml
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_response.rs
  openapi/openapi_spec.json
Labels: A-connector-integration

#3182 fix(connector): Remove set_body method for connectors implementing default get_request_body
  crates/router/src/connector/aci.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/helcim.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/opayo.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/zen.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#3181 fix(connector): [Paypal] remove shipping address as mandatory field for paypal wallet
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2885 fix(connector): [Trustpay] Use `connector_request_reference_id` for merchant reference instead of `payment_id`
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#3188 feat(router): make the billing country for apple pay as optional field
  crates/api_models/src/payments.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-core, P-high, S-waiting-on-review, A-payment-methods

#3193 fix(users): wrong `user_role` insertion in `invite_user` for new users
  crates/router/src/core/user.rs
Labels: C-bug, S-waiting-on-review, A-users

#3191 feat(connector): [BOA] Implement apple pay manual flow
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-feature

#3198 fix(connector): [BOA/Cyb] Truncate state length to <20
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3197 fix(connector): [Iatapay] fix error response handling when payment is failed
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#3200 fix(connector): [BOA] Display 2XX Failure Errors
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-bug

#3201 fix(connector): [CYBERSOURCE] Display 2XX Failure Errors
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3202 feat(connector): [BOA/CYBERSOURCE] Populate connector_transaction_id
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3187 fix(connector): [Volt] Error handling for auth response
  crates/router/src/connector/volt.rs
  crates/router/src/connector/volt/transformers.rs
Labels: A-connector-integration, C-bug

#3203 refactor(connector): [NMI] Include mandatory fields for card 3DS
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-refactor

#3179 feat(customers): Add JWT Authentication for `/customers` APIs
  crates/api_models/src/user_role.rs
  crates/router/src/routes/customers.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/services/authorization/predefined_permissions.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user_role.rs
Labels: C-feature, S-waiting-on-review, A-customers

#3215 feat(connector): [CYBERSOURCE] Refactor cybersource
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature
