Repository juspay/hyperswitch, pull requests merged in 2023-07, with the labels that each got.

#1303 feat(connector): [Mollie] Implement Przelewy24 and BancontactCard Bank Redirects for Mollie connector
  crates/router/src/connector/mollie/transformers.rs
  crates/router/tests/connectors/mollie_ui.rs
  crates/router/tests/connectors/selenium.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, low-risk

#1456 feat(connector): [Multisafepay] implement Googlepay for Multisafepay
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/multisafepay_ui.rs
  crates/router/tests/connectors/selenium.rs
  crates/router/tests/connectors/stripe_ui.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1280 feat: add `merchant_name` field in the response body
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-needs-conflict-resolution, S-ready-for-merge, M-api-contract-changes, low-risk

#1515 feat(connector): [TrustPay] Add Google Pay support
  crates/api_models/src/payments.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, A-payment-methods, S-needs-conflict-resolution, S-ready-for-merge, M-api-contract-changes

#1575 refactor(connector): [ACI] Use verbose names for `InstructionSource` variants
  crates/router/src/connector/aci/transformers.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge, low-risk

#1316 feat(connector): [Airwallex] Implement Google Pay in Wallets
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/tests/connectors/airwallex_ui.rs
  crates/router/tests/connectors/connector_auth.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1567 feat(router): add requeue support for payments and fix duplicate entry error in process tracker for requeued payments
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/openapi.rs
  crates/router/src/scheduler/metrics.rs
  crates/router/src/types/storage/process_tracker.rs
Labels: A-core, C-feature, S-ready-for-merge, M-api-contract-changes

#1298 feat(payments): add field manual_retry_allowed in payments response
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-feature, S-ready-for-merge, M-api-contract-changes, low-risk

#1266 feat(router): add metrics for webhooks
  crates/router/src/core/metrics.rs
  crates/router/src/core/webhooks.rs
Labels: A-core, C-feature, low-risk

#1586 feat(db): implement `ConfigInterface` for `MockDb`
  crates/router/src/db.rs
  crates/router/src/db/configs.rs
  crates/storage_models/src/configs.rs
Labels: A-framework, C-feature, S-ready-for-merge

#1459 feat(connector): [Multisafepay] implement Paypal for Multisafepay
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/tests/connectors/multisafepay_ui.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1574 refactor(payments_start): remove redundant call to fetch payment method data
  crates/router/src/core/payments/operations/payment_start.rs
Labels: A-core, C-refactor, S-ready-for-merge

#1526 feat: add `GenericNotFoundError` error response and `set_key_if_not_exists_with_expiry` Redis command
  crates/drainer/src/utils.rs
  crates/redis_interface/src/commands.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/db/queue.rs
Labels: A-core, C-feature, S-ready-for-merge, A-errors

#1536 feat(compatibility): add straight through routing and udf mapping in setup intent
  crates/router/src/compatibility/stripe/setup_intents/types.rs
Labels: C-feature, S-ready-for-merge

#1531 fix(disputes): update 4xx error for Files - Delete endpoint
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/files/helpers.rs
Labels: C-bug, S-waiting-on-review, A-disputes

#1366 feat: add bank payout test case templates and implementation for Adye…
  connector-template/test.rs
  crates/router/src/connector/wise/transformers.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/wise.rs
Labels: A-connector-integration

#1582 ci(validate-openapi-spec): fail check if OpenAPI spec is not up-to-date
  .github/workflows/validate-generated-json.yml
  .github/workflows/validate-openapi-spec.yml
  Cargo.lock
  crates/router_derive/Cargo.toml
  crates/router_derive/src/macros/generate_schema.rs
  openapi/openapi_spec.json
Labels: A-CI-CD, A-macros, C-refactor, S-ready-for-merge

#1548 refactor: add payment id and merchant id to logs
  crates/router/src/services/api.rs
  crates/router/src/types/api/payments.rs
Labels: C-refactor, S-waiting-on-approval

#1597 chore: update connector creds
  connector_auth.toml.gpg
Labels: A-CI-CD

#1391 fix: return nick name for each card while listing saved cards
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/locker_mock_up.rs
  crates/router/src/types/api/payments.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/airwallex.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/rapyd.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_models/src/locker_mock_up.rs
Labels: C-bug, A-payment-methods, S-ready-for-merge, M-api-contract-changes, low-risk

#1233 feat(email): implement process_tracker for scheduling email when api_key is about to expire
  crates/common_utils/src/ext_traits.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/errors.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/scheduler/workflows.rs
  crates/router/src/scheduler/workflows/api_key_expiry.rs
  crates/router/src/types/storage/api_keys.rs
  crates/storage_models/src/api_keys.rs
Labels: A-process-tracker, C-feature, S-ready-for-merge

#1369 fix: add appropriate printable text for Result returned from delete_tokenized_data()
  crates/router/src/core/payment_methods/vault.rs
Labels: A-core, C-bug, S-ready-for-merge, low-risk

#1341 fix(payment_method): do not save card in locker in case of error from connector
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, S-ready-for-merge, low-risk

#1601 fix(payment_methods): return an empty array when the merchant does not have any payment methods
  crates/router/src/core/payment_methods/cards.rs
  openapi/openapi_spec.json
Labels: A-core, C-bug, M-api-contract-changes

#1310 feat: list payment_methods with the required fields in each method
  config/config.example.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payment_methods.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/openapi.rs
  openapi/openapi_spec.json
Labels: C-feature, M-configuration-changes, S-ready-for-merge, M-api-contract-changes, low-risk

#1606 refactor(redis_interface): changed the in the get_options value from true to false
  crates/redis_interface/src/commands.rs
Labels: C-refactor, S-ready-for-merge

#1612 chore(connector-template): update connector template code
  connector-template/mod.rs
Labels: A-connector-integration, C-refactor

#1595 feat(payments): add connector_metadata, metadata and feature_metadata fields in payments, remove udf field
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/openapi.rs
  crates/storage_models/src/payment_intent.rs
  crates/storage_models/src/schema.rs
  migrations/2023-06-29-094858_payment-intent-remove-udf-field/down.sql
  migrations/2023-06-29-094858_payment-intent-remove-udf-field/up.sql
  migrations/2023-07-01-184850_payment-intent-add-metadata-fields/down.sql
  migrations/2023-07-01-184850_payment-intent-add-metadata-fields/up.sql
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, M-database-changes, M-api-contract-changes

#1603 refactor(router): add psync task to process tracker after building connector request in payments flow
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, S-waiting-on-review, C-refactor

#1609 feat(connector): [DummyConnector] add new dummy connectors
  crates/api_models/src/enums.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/routes/dummy_connector/errors.rs
  crates/router/src/routes/dummy_connector/utils.rs
  crates/router/src/types/api.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1539 feat(test): Add support to run UI tests in CI pipeline
  .github/scripts/run_ui_tests.sh
  .github/secrets/connector_auth.toml.gpg
  .github/testcases/ui_tests.json
  .github/workflows/connector-ui-sanity-tests.yml
  crates/router/tests/connectors/adyen_uk_ui.rs
  crates/router/tests/connectors/airwallex_ui.rs
  crates/router/tests/connectors/bambora_ui.rs
  crates/router/tests/connectors/bluesnap_ui.rs
  crates/router/tests/connectors/globalpay_ui.rs
  crates/router/tests/connectors/nuvei_ui.rs
  crates/router/tests/connectors/selenium.rs
  crates/router/tests/connectors/stripe_ui.rs
Labels: A-dependencies, A-connector-integration, S-ready-for-merge

#1617 refactor(payments): error message of manual retry
  crates/router/src/core/payments/helpers.rs
Labels: A-core, S-waiting-on-review, C-refactor

#1621 fix(connector): [Rapyd] Add router_return_url in 3DS request
  crates/router/src/connector/rapyd/transformers.rs
Labels: A-connector-integration, C-bug, R-waiting-on-L1

#1420 feat(connector): [Stripe] implement Multibanco Bank Transfer for stripe
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types.rs
  crates/storage_models/src/enums.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, S-waiting-on-review, M-api-contract-changes

#1300 refactor: split bank structure to support multiple variants
  connector-template/test.rs
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/payouts.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/wise.rs
  crates/router/src/connector/wise/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/db/locker_mock_up.rs
  crates/router/src/types.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/api/payouts.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/wise.rs
  crates/storage_models/src/enums.rs
  crates/storage_models/src/locker_mock_up.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/payouts.rs
  crates/storage_models/src/schema.rs
  migrations/2023-06-22-094149_alter_merchant_account/down.sql
  migrations/2023-06-22-094149_alter_merchant_account/up.sql
  migrations/2023-06-23-105727_alter_payouts/down.sql
  migrations/2023-06-23-105727_alter_payouts/up.sql
  migrations/2023-07-03-072633_alter_locker_mock_up/down.sql
  migrations/2023-07-03-072633_alter_locker_mock_up/up.sql
  scripts/add_connector.sh
Labels: S-waiting-on-review, C-refactor

#1282 feat: add wise connector
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  connector-template/test.rs
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/payouts.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/wise.rs
  crates/router/src/connector/wise/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/locker_mock_up.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/api/payouts.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/utils.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/wise.rs
  crates/storage_models/src/enums.rs
  crates/storage_models/src/locker_mock_up.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/payouts.rs
  crates/storage_models/src/schema.rs
  loadtest/config/development.toml
  migrations/2023-06-22-094149_alter_merchant_account/down.sql
  migrations/2023-06-22-094149_alter_merchant_account/up.sql
  migrations/2023-06-23-105727_alter_payouts/down.sql
  migrations/2023-06-23-105727_alter_payouts/up.sql
  migrations/2023-07-03-072633_alter_locker_mock_up/down.sql
  migrations/2023-07-03-072633_alter_locker_mock_up/up.sql
  scripts/add_connector.sh
Labels: A-connector-integration, S-waiting-on-review

#1192 feat: payout adyen integ
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  connector-template/test.rs
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/payouts.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/wise.rs
  crates/router/src/connector/wise/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/locker_mock_up.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/api/payouts.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/utils.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/wise.rs
  crates/storage_models/src/enums.rs
  crates/storage_models/src/locker_mock_up.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/payouts.rs
  crates/storage_models/src/schema.rs
  loadtest/config/development.toml
  migrations/2023-06-22-094149_alter_merchant_account/down.sql
  migrations/2023-06-22-094149_alter_merchant_account/up.sql
  migrations/2023-06-23-105727_alter_payouts/down.sql
  migrations/2023-06-23-105727_alter_payouts/up.sql
  migrations/2023-07-03-072633_alter_locker_mock_up/down.sql
  migrations/2023-07-03-072633_alter_locker_mock_up/up.sql
  scripts/add_connector.sh
Labels: A-connector-integration, S-waiting-on-review

#1555 feat(connector): [Stripe] Add support for WeChat Pay and Qr code support in next action
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/openapi.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, A-core, C-feature, P-high, S-waiting-on-review, A-payment-methods

#1623 feat(connector): [Globepay] Add template code for Globepay connector
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/globepay.rs
  crates/router/src/connector/globepay/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/globepay.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, P-high, M-configuration-changes, R-waiting-on-L2, R-L1-completed

#1212 feat: add cache for api_key and mca tables
  crates/router/src/db/api_keys.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/storage_models/src/api_keys.rs
Labels: A-core, C-feature, S-ready-for-merge

#1594 feat(connector): [Payme] add Authorize, Sync, Capture, Refund, Refund Sync, Mandate & web hooks support for cards
  crates/api_models/src/enums.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/sample_auth.toml
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge

#1642 ci: add workflow to create tags on schedule
  .github/cocogitto-changelog-template
  .github/workflows/release-new-version.yml
  .typos.toml
  CHANGELOG.md
  cog.toml
Labels: A-CI-CD

#1556 fix(router): desc payment list for pagination
  .github/workflows/validate-openapi-spec.yml
  crates/router/src/core/payments.rs
  crates/router/src/types/storage/payment_intent.rs
Labels: A-core, C-bug

#1600 feat(router): get filters for payments
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/storage/payment_intent.rs
  crates/storage_models/src/enums.rs
  crates/storage_models/src/payment_attempt.rs
  crates/storage_models/src/query/payment_attempt.rs
Labels: C-feature, M-api-contract-changes

#1637 fix(router): use `Connector` enum for `connector_name` field in `MerchantConnectorCreate`
  crates/api_models/src/admin.rs
  crates/router/src/core/admin.rs
  openapi/openapi_spec.json
Labels: A-core, C-bug, S-waiting-on-review, M-api-contract-changes

#1653 ci(release-new-version): fix commit not being pushed
  .github/workflows/release-new-version.yml
Labels: A-CI-CD, C-bug

#1650 feat(connector): [PowerTranz] Add template code for PowerTranz connector
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/powertranz.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/powertranz.rs
  crates/router/tests/connectors/sample_auth.toml
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-waiting-on-review

#1658 ci(release-new-version): update schedule to run workflow every Tuesday, Wednesday, Thursday
  .github/workflows/release-new-version.yml
Labels: A-CI-CD, S-waiting-on-review

#1663 feat(payments): add client_secret auth for payments retrieve
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/authentication.rs
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review

#1624 fix(router): Remove requires_customer_action status to payment confirm
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, C-bug

#1604 ci(runner): rewrite `collection_runner.sh` in rust
  .github/secrets/connector_auth.toml.gpg
  .github/workflows/postman-collection-runner.yml
  Cargo.lock
  connector-template/test.rs
  connector_auth.toml.gpg
  crates/common_utils/Cargo.toml
  crates/router/Cargo.toml
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/dummyconnector.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/integration_demo.rs
  crates/test_utils/Cargo.toml
  crates/test_utils/README.md
  crates/test_utils/src/connector_auth.rs
  crates/test_utils/src/lib.rs
  crates/test_utils/src/main.rs
  scripts/postman_test_automation.sh
Labels: A-CI-CD, C-feature, P-high, S-waiting-on-review

#1645 fix(CI): fix msrv checks on github run on push to main
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
Labels: A-CI-CD, C-bug, S-waiting-on-review

#1667 ci(docker): update docker push tags for releases
  .github/workflows/auto-release-tag.yml
Labels: A-CI-CD, C-feature

#1655 feat(pm_list): add required field info for crypto pay
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, M-configuration-changes, A-payment-methods, S-ready-for-merge

#1673 fix(middleware): inlcude `x-request-id` header in `access-control-expose-headers` header value
  crates/router/src/lib.rs
Labels: A-framework, C-bug

#1627 feat(router): add connector_request_reference_id in router_data based on merchant config
  config/development.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, C-feature, S-waiting-on-review

#1668 fix(core): Add Payment_Method_data in Redirection Form
  .github/testcases/ui_tests.json
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/tests/connectors/bluesnap_ui.rs
Labels: A-connector-integration, A-core, C-bug, S-waiting-on-review, R-waiting-on-L1

#1636 fix(locker): remove delete_locker_payment_method_by_lookup_key from payments_operation_core
  crates/router/src/core/payments.rs
Labels: A-core, C-bug, S-ready-for-merge, low-risk

#1671 fix: map not found error properly in db_not found
  crates/router/src/core/errors.rs
Labels: A-core, C-bug, S-waiting-on-review

#1674 feat: Convert QrData into Qr data image source url
  crates/common_utils/src/errors.rs
  crates/router/Cargo.toml
  crates/router/src/consts.rs
  crates/router/src/utils.rs
Labels: A-core, S-ready-for-merge

#1692 feat(payments): dont delete client secret on success status
  crates/storage_models/src/payment_intent.rs
Labels: A-core, S-waiting-on-review

#1689 refactor: include binary name in `crates_to_filter` for logging
  CHANGELOG.md
  Cargo.lock
  crates/drainer/src/env.rs
  crates/router/src/bin/router.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/env.rs
  crates/router_env/Cargo.toml
  crates/router_env/build.rs
  crates/router_env/src/cargo_workspace.rs
  crates/router_env/src/lib.rs
  crates/router_env/src/logger/setup.rs
Labels: A-framework, S-waiting-on-review, C-refactor

#1640 fix(compatibility): fix mismatched fields in the payments flow
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
Labels: C-bug, C-feature, P-high, A-stripe-compatibility-layer

#1651 refactor(payment_methods): Fix db insert for payment method create
  crates/router/src/core/payment_methods/cards.rs
Labels: A-payment-methods, C-refactor

#1664 feat(router): add connector_response_reference_id in payments response
  connector-template/transformers.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/bitpay/transformers.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/cashtocode/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/coinbase/transformers.rs
  crates/router/src/connector/cryptopay/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/dlocal/transformers.rs
  crates/router/src/connector/dummyconnector/transformers.rs
  crates/router/src/connector/fiserv/transformers.rs
  crates/router/src/connector/forte/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/globepay/transformers.rs
  crates/router/src/connector/iatapay/transformers.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/opayo/transformers.rs
  crates/router/src/connector/opennode/transformers.rs
  crates/router/src/connector/payeezy/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/payu/transformers.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/utils.rs
  migrations/2023-07-08-134807_add_connector_response_reference_id_in_payment_intent/down.sql
  migrations/2023-07-08-134807_add_connector_response_reference_id_in_payment_intent/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, M-database-changes, M-api-contract-changes, R-waiting-on-L1, R-L2-completed

#1654 fix(compatibility): fix AddressDetails in the customers flow
  crates/api_models/src/customers.rs
  crates/router/src/compatibility/stripe/customers/types.rs
  crates/router/src/core/customers.rs
  openapi/openapi_spec.json
Labels: C-bug, P-high, C-refactor, A-customers, A-stripe-compatibility-layer

#1639 feat(connector): [Globepay] add authorize and psync flow
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/globepay.rs
  crates/router/src/connector/globepay/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, M-configuration-changes, A-payment-methods, S-ready-for-merge, M-api-contract-changes, R-L1-completed, R-L2-completed

#1687 feat(connector): [PowerTranz] Add cards support for PowerTranz connector
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/router/src/connector/powertranz.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/powertranz.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge

#1265 refactor(enums): move enums from `storage_models` and `api_models` crates to `common_enums` crate
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/Cargo.toml
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/diesel_models/src/address.rs
  crates/diesel_models/src/enums.rs
  crates/router/Cargo.toml
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/flows/verify_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds/validator.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/dispute.rs
  crates/router/src/db/mandate.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/db/refund.rs
  crates/router/src/types/api/mandates.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/storage/dispute.rs
  crates/router/src/types/storage/mandate.rs
  crates/router/src/types/storage/refund.rs
  crates/router/src/types/transformers.rs
Labels: A-framework, P-high, C-refactor, S-ready-for-merge, low-risk

#1707 ci(release-new-version): fix command to generate release notes
  .github/workflows/release-new-version.yml
Labels: A-CI-CD, S-waiting-on-review

#1708 chore: address Rust 1.71 clippy lints
  crates/router/src/db/api_keys.rs
  crates/router/src/db/dispute.rs
  crates/router/src/db/events.rs
  crates/router/tests/connectors/selenium.rs
Labels: S-waiting-on-review, C-refactor

#1696 refactor(CI-push): move merge_group to CI-push
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  crates/cards/Cargo.toml
Labels: A-CI-CD

#1682 fix(router): decrease payment method token time based on payment_intent creation time
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/routes/payment_methods.rs
Labels: C-tracking-issue, S-ready-for-merge

#1331 fix: store and retrieve merchant secret from MCA table for webhooks source verification
  Cargo.lock
  crates/api_models/src/admin.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/compatibility/stripe/app.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/zen.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/configs.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  migrations/2023-05-31-152153_add_connector_webhook_details_to_mca/down.sql
  migrations/2023-05-31-152153_add_connector_webhook_details_to_mca/up.sql
  openapi/openapi_spec.json
Labels: C-bug, P-high, M-database-changes, S-ready-for-merge, M-api-contract-changes

#1678 feat(router): add expand attempts support in payments retrieve response
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils/db_utils.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-ready-for-merge, M-api-contract-changes

#1318 feat: filter out payment_methods which does not support mandates during list api call
  config/config.example.toml
  config/development.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: C-feature, P-high, M-configuration-changes, S-ready-for-merge, A-mandates

#1611 feat: add `organization_id` to merchant account
  crates/api_models/src/admin.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/merchant_account.rs
  migrations/2023-07-04-131721_add_org_id_and_org_name/down.sql
  migrations/2023-07-04-131721_add_org_id_and_org_name/up.sql
  openapi/openapi_spec.json
Labels: A-core, P-high, M-database-changes, S-ready-for-merge, M-api-contract-changes

#1223 feat(connector): [Authorizedotnet] Add Wallet support
  Cargo.lock
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, A-core, C-feature, P-high, S-ready-for-merge

#1666 refactor(payment_methods): Remove legacy locker code as it is not been used
  config/config.example.toml
  config/development.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/mandates.rs
Labels: A-core, M-configuration-changes, C-refactor, R-waiting-on-L1

#1686 feat(connector): [Adyen] Add support for PayPal wallet mandates
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/core/errors.rs
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge

#1709 fix(ui-test): Run UI tests only on merge-queue
  .github/workflows/connector-ui-sanity-tests.yml
  crates/router/tests/connectors/trustpay_3ds_ui.rs
Labels: A-CI-CD

#1694 test(connector): [stripe] Add ui test for affirm
  crates/router/tests/connectors/selenium.rs
  crates/router/tests/connectors/stripe_ui.rs
Labels: A-connector-integration, S-ready-for-merge, R-waiting-on-L2, R-L1-completed, R-L2-completed, low-risk

#1712 fix(api_keys): fix API key being created for non-existent merchant account
  crates/router/src/core/api_keys.rs
Labels: A-core, C-bug, S-ready-for-merge

#1589 feat(connector): [Adyen] Implement Bizum in Bank Redirects
  config/development.toml
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, M-configuration-changes, S-ready-for-merge, M-api-contract-changes

#1717 fix(connector): [Adyen] Fix Klarna mandates for Adyen
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1719 fix(connector): [Adyen] Add bizum in common enums
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#1718 fix(ci): Run UI tests only for 15mins max in case of build failure
  .github/scripts/run_ui_tests.sh
Labels: A-CI-CD

#1421 feat(connector): [Mollie] Implement card 3ds
  Cargo.lock
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/verify_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/mollie_ui.rs
  crates/router/tests/connectors/selenium.rs
  crates/router/tests/connectors/utils.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, P-high, M-configuration-changes, M-api-contract-changes

#1544 fix(refunds): modify refund fields to process updating of refund_reason
  crates/diesel_models/src/refund.rs
  crates/router/src/core/refunds.rs
Labels: C-bug, P-high, A-refunds

#1720 refactor(pm_list): Update required fields for a payment method
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-configuration-changes, A-payment-methods

#1722 feat(connector): [PowerTranz] Add cards 3ds support for PowerTranz connector
  Cargo.lock
  crates/router/src/connector/powertranz.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge

#1716 feat(connector): [Tsys] Add cards for Payments and Refunds flow
  crates/api_models/src/enums.rs
  crates/router/src/connector/tsys.rs
  crates/router/src/connector/tsys/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/tsys.rs
  crates/test_utils/src/connector_auth.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge, R-waiting-on-L1

#1724 revert: refactor(pm_list): Update required fields for a payment method
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
  openapi/openapi_spec.json
Labels: C-feature, M-configuration-changes, S-ready-for-merge

#1546 feat(connector): [Adyen] Implement Clearpay in BNPL
  crates/router/src/connector/adyen/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  crates/router/tests/connectors/selenium.rs
  crates/test_utils/src/connector_auth.rs
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge

#1725 feat(router): add attempt_count field in attempt update record of payment_intent
  crates/diesel_models/src/payment_intent.rs
Labels: A-core, C-feature, S-waiting-on-review

#1647 fix(connector): [Multisafepay] Fix bug in Paypal payment decline and cancel
  crates/router/src/connector/multisafepay/transformers.rs
Labels: A-connector-integration, C-bug, R-waiting-on-L1

#1602 fix(router): Convert ephemeral to client secret auth list payment_method_customer
  config/development.toml
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication.rs
  openapi/openapi_spec.json
Labels: P-high, S-ready-for-merge, M-api-contract-changes, R-waiting-on-L1

#1659 feat(router): restricted customer update in payments-confirm and payments-update call via clientAuth
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/scheduler/workflows/payment_sync.rs
Labels: P-high, S-ready-for-merge, R-waiting-on-L1

#1557 feat(connector): [Adyen] implement Gopay for Adyen
  Cargo.nix
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge, M-api-contract-changes

#1119 feat(mandates): recurring payment support for bank redirect and bank debit payment method for stripe
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, C-feature, C-tracking-issue, P-high, C-refactor, R-waiting-on-L1

#1728 feat(compatibility): add support for stripe compatible webhooks
  crates/api_models/src/webhooks.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/transformers.rs
  crates/router/src/core/webhooks/types.rs
  crates/router/src/lib.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/types/api/webhooks.rs
Labels: A-core, S-waiting-on-review, A-webhooks, A-stripe-compatibility-layer

#1715 fix(payments): populate mandate_data in the response body of the PaymentsCreate endpoint
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/transformers.rs
Labels: C-bug, P-medium, A-mandates

#1660 refactor(router): remove `WebhookApiErrorSwitch ` and implement error mapping using `ErrorSwitch`
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/utils.rs
Labels: A-core, S-waiting-on-review, C-refactor, A-errors, R-waiting-on-L1

#1549 feat(connector): [Adyen] Implement Twint in Wallets
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, M-api-contract-changes, ageing >2weeks

#1620 feat(connector): [Bluesnap] Remove wallet call
  crates/router/src/connector/bluesnap.rs
  crates/router/src/core/payments/operations/payment_session.rs
Labels: A-connector-integration, P-high, S-waiting-on-review, A-payment-methods

#1661 fix(build): add a standalone Redis mode in docker-compose installation
  config/docker_compose.toml
  docker-compose.yml
Labels: A-CI-CD, C-feature

#1558 feat(connector): [Adyen] implement Kakao for Adyen
  config/development.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, M-api-contract-changes, ageing >2weeks

#1731 fix(router): add parsing for `connector_request_reference_id` env
  crates/router/src/configs/settings.rs
Labels: A-core, C-bug

#1726 fix(connector): [PowerTranz] resolve pr comments and add comments
  crates/router/src/connector/powertranz.rs
  crates/router/src/connector/powertranz/transformers.rs
Labels: A-connector-integration, S-waiting-on-review

#1576 feat(connector): [Adyen] Implement Gcash for Adyen
  config/development.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, M-configuration-changes, S-ready-for-merge, M-api-contract-changes, ageing >2weeks

#1734 fix(connector): [PowerTranz] fix rsync not implemented error
  crates/router/src/connector/powertranz.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1713 feat(merchant_account): add `is_recon_enabled` field in merchant_account
  crates/api_models/src/admin.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/merchant_account.rs
  migrations/2023-07-11-140347_add_is_recon_enabled_field_in_merchant_account/down.sql
  migrations/2023-07-11-140347_add_is_recon_enabled_field_in_merchant_account/up.sql
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review, M-database-changes, S-waiting-on-approval

#1736 test(connector): [Authorizedotnet] Add UI test for Authorizedotnet Payment methods
  .github/workflows/connector-ui-sanity-tests.yml
  crates/router/tests/connectors/authorizedotnet_ui.rs
  crates/router/tests/connectors/main.rs
  crates/test_utils/src/connector_auth.rs
Labels: A-connector-integration, S-waiting-on-review

#1648 test(connector): [Adyen] Add UI test for Adyen Payment methods
  .github/secrets/connector_auth.toml.gpg
  .github/testcases/ui_tests.json
  .typos.toml
  crates/router/tests/connectors/adyen_uk_ui.rs
  crates/router/tests/connectors/selenium.rs
  crates/test_utils/src/connector_auth.rs
Labels: A-connector-integration, S-waiting-on-review, R-waiting-on-L1

#1583 feat(connector): [Adyen] implement Momo for Adyen
  config/development.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  migrations/2023-06-26-124254_add_vnd_to_currency_enum/down.sql
  migrations/2023-06-26-124254_add_vnd_to_currency_enum/up.sql
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, M-database-changes, M-configuration-changes, M-api-contract-changes, R-waiting-on-L1, ageing >2weeks

#1714 test(connector): [Noon] Add test for Noon Payment methods
  .github/testcases/ui_tests.json
  .github/workflows/connector-ui-sanity-tests.yml
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/noon_ui.rs
Labels: A-connector-integration, S-waiting-on-review, R-waiting-on-L1

#1680 fix(connector): update amount captured after webhook call and parse error responses from connector properly
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/cashtocode/transformers.rs
Labels: A-connector-integration, S-waiting-on-author, S-waiting-on-review, S-needs-conflict-resolution

#1566 feat(connector): [Adyen] Implement Alma BNPL and DANA Wallet
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, S-ready-for-merge, M-api-contract-changes, ageing >2weeks

#1740 fix(connector): deserialization error due to latest_charge stripe
  crates/router/src/connector/stripe.rs
Labels: C-bug, P-high, low-risk

#1742 fix(connector): stripe mandate failure and other ui tests failures
  .github/testcases/ui_tests.json
  .github/workflows/connector-ui-sanity-tests.yml
  crates/router/src/connector/stripe/transformers.rs
  crates/router/tests/connectors/authorizedotnet_ui.rs
  crates/router/tests/connectors/mollie_ui.rs
  crates/router/tests/connectors/selenium.rs
  crates/router/tests/connectors/worldline_ui.rs
Labels: C-bug, P-high, low-risk

#1752 refactor(payments): dont update client secret on payment intent status update
  crates/diesel_models/src/payment_intent.rs
Labels: A-core, S-waiting-on-review

#1751 fix(adyen_ui): ignore tests failing from connector side
  crates/router/tests/connectors/adyen_uk_ui.rs
Labels: A-CI-CD, A-connector-integration

#1710 feat(metrics): add pod information in metrics pipeline
  crates/router_env/src/logger/setup.rs
Labels: A-framework, A-infra, S-waiting-on-review

#1756 fix(connector): [Authorizedotnet] Convert amount from cents to dollar before sending to connector
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1679 fix(template): Address add_connector.sh throwing errors when creating new connector template
  connector-template/test.rs
  scripts/add_connector.sh
Labels: A-connector-integration, C-doc, S-ready-for-merge

#1743 test: fix failing unit tests
  crates/common_utils/src/crypto.rs
  crates/redis_interface/src/lib.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/services/encryption.rs
Labels: A-framework, C-refactor, C-test

#1584 feat(connector): [Adyen] implement Online Banking Fpx for Adyen
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/diesel_models/src/enums.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, M-configuration-changes, M-api-contract-changes, ageing >2weeks

#1763 fix(connector): [Adyen] Fix error message for fraud check from Adyen connector
  crates/router/src/connector/adyen/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1565 feat(connector): [Stripe] Add support for Blik
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-connector-integration, A-core, C-feature, P-high, A-payment-methods, S-ready-for-merge, ageing >2weeks

#1585 feat(connector): [Adyen] implement Online Banking Thailand for Adyen
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/diesel_models/src/enums.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, S-waiting-on-review, M-configuration-changes, M-api-contract-changes, R-waiting-on-L1, ageing >2weeks

#1588 feat(connector): [Adyen] implement Touch n Go for Adyen
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/adyen_uk_ui.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, M-database-changes, M-configuration-changes, S-ready-for-merge, M-api-contract-changes, ageing >2weeks

#1590 feat(connector): [Adyen] implement Atome for Adyen
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, P-high, M-configuration-changes, S-ready-for-merge, M-api-contract-changes, ageing >2weeks

#1745 fix(router): Add additional card info in payment response
  crates/api_models/src/payments.rs
  crates/cards/src/validate.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
Labels: C-feature, P-high, M-api-contract-changes, R-waiting-on-L1

#1769 docs(postman): added a note about how postman now requires you to fork a collection in order to send a request
  docs/try_local_system.md
Labels: C-doc

#1771 fix(connector): [Paypal] fix amount to its currency base unit
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/utils.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/paypal_ui.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1774 chore(config): [Paypal] Add configs for PayPal mandates for adyen
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
Labels: A-connector-integration, S-waiting-on-review, M-configuration-changes, S-ready-for-merge

#1749 fix(connector): [Paypal] Fix payment status for PayPal cards
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/paypal/transformers.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/paypal_ui.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-bug, S-waiting-on-review, M-configuration-changes, S-ready-for-merge

#1695 fix(core): Address 500 when deleting payment method and add logs to postman collections
  Cargo.lock
  crates/router/src/core/payment_methods/cards.rs
  postman/aci.postman_collection.json
  postman/bluesnap.postman_collection.json
  postman/checkout.postman_collection.json
  postman/hyperswitch.postman_collection.json
  postman/nmi.postman_collection.json
  postman/stripe.postman_collection.json
  postman/worldline.postman_collection.json
Labels: A-framework, A-core, C-bug, P-medium, S-waiting-on-approval

#1778 refactor(payments): dont update client secret on payment intent status update
  crates/diesel_models/src/payment_intent.rs
Labels: A-core, S-waiting-on-review

#1776 fix(router): validate schedule time before scheduling API key expiry reminder
  crates/router/src/core/api_keys.rs
Labels: A-process-tracker, C-bug, S-waiting-on-review

#1758 fix(router): restricted unknown customer_id to be pass in payment confirm and update call
  crates/router/src/core/payments/helpers.rs
Labels: P-high, S-waiting-on-review, R-waiting-on-L1

#1777 fix(config): detect duplicate config insert and throw appropriate error
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/configs.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
Labels: A-core, S-waiting-on-review

#1779 revert: connector_label in webhook url is reverted back to connector_name
  crates/diesel_models/src/query/merchant_connector_account.rs
  crates/router/src/compatibility/stripe/app.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/types/api/webhooks.rs
Labels: C-bug, P-high, S-waiting-on-review

#1760 feat(connector): [Boku] Template generation
  .typos.toml
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/boku.rs
  crates/router/src/connector/boku/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/boku.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-ready-for-merge, R-L1-completed, R-L2-completed

#1739 ci(postman): Run Postman collections against PRs
  .github/workflows/postman-collection-runner.yml
  Cargo.lock
  crates/test_utils/Cargo.toml
  crates/test_utils/src/main.rs
Labels: A-CI-CD, C-refactor

#1772 feat(db): implement `MerchantKeyStoreInterface` for `MockDb`
  crates/router/src/db.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/merchant_key_store.rs
Labels: A-framework, C-feature, S-waiting-on-review, C-test

#1755 feat(macro): add config validation macro for connectors
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router_derive/src/lib.rs
  crates/router_derive/src/macros.rs
  crates/router_derive/src/macros/generate_schema.rs
  crates/router_derive/src/macros/helpers.rs
  crates/router_derive/src/macros/misc.rs
Labels: A-macros, S-ready-for-merge

#1766 test(UI-tests): allow ignoring connector tests at runtime
  .github/testcases/ui_tests.json
  crates/router/tests/connectors/adyen_uk_ui.rs
  crates/router/tests/connectors/authorizedotnet_ui.rs
  crates/router/tests/connectors/globalpay_ui.rs
  crates/router/tests/connectors/nuvei_ui.rs
  crates/router/tests/connectors/paypal_ui.rs
  crates/router/tests/connectors/selenium.rs
Labels: A-CI-CD, A-connector-integration, S-ready-for-merge

#1767 feat(compatibility): add wallet mandate support setup intent and connector_metadata field
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
Labels: S-waiting-on-review, R-waiting-on-L1

#1785 feat(router): add merchant_id check for manual_retry_allowed flag sent in payments response
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-feature, S-waiting-on-review
