Repository juspay/hyperswitch, pull requests merged in 2023-03, with the labels that each got.

#676 docs(openapi): document security schemes
  .typos.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
  openapi/generated.json
Labels: C-doc, S-waiting-on-review

#695 fix(connector): fix wordline card number validation issue
  crates/router/src/connector/worldline/transformers.rs
  crates/router/tests/connectors/worldline.rs
Labels: A-connector-integration, C-bug

#694 feat(list): global filter mapping for payment methods via card network
  config/config.example.toml
  crates/common_utils/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, S-waiting-on-review, M-configuration-changes

#698 feat(router): serve OpenAPI docs at `/docs`
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/router/Cargo.toml
  crates/router/src/lib.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
  openapi/generated.json
Labels: C-doc, C-feature

#616 refactor(router): remove foreign wrapper type
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/refunds.rs
  crates/router/src/types/transformers.rs
Labels: A-core, C-refactor

#699 fix(connector): convert cents to dollar before sending to connector
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/applepay/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug, P-high

#700 fix: Populate amount_captured in case of success
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-core

#696 bugfix: use connector error handler for 500 error messages.
  crates/api_models/src/enums.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/services/api.rs
  crates/router/tests/connectors/worldline.rs
Labels: C-bug

#703 feat(session_token): create session token only if pmt is enabled
  crates/router/src/core/payments/operations/payment_session.rs
Labels: C-feature

#707 enhance(stripe): send statement descriptor to stripe
  crates/api_models/src/customers.rs
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/router/tests/utils.rs
  openapi/generated.json
  postman/portman-config.json
Labels: C-Enhance

#715 Changelog for release V0.4.0
  CHANGELOG.md
Labels: A-CI-CD, A-dependencies, A-connector-compatibility, A-connector-integration, A-framework, A-core, A-infra, A-payment-methods

#705 refactor(api_keys): remove key ID prefix from plaintext API keys
  crates/router/src/core/api_keys.rs
  crates/router/src/types/transformers.rs
Labels: A-core, C-refactor

#710 feat(compatibility): add webhook support for stripe compatibility
  crates/api_models/src/webhooks.rs
  crates/router/src/compatibility/stripe.rs
  crates/router/src/compatibility/stripe/app.rs
  crates/router/src/compatibility/stripe/refunds/types.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/types/api/webhooks.rs
Labels: A-connector-compatibility, C-feature

#639 refactor(api_keys): use a KMS encrypted API key hashing key and remove key ID prefix from plaintext API keys
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/services.rs
  crates/router/src/services/encryption.rs
  crates/router/src/services/kms.rs
  crates/router/src/types/transformers.rs
  crates/storage_models/src/api_keys.rs
  crates/storage_models/src/schema.rs
  loadtest/config/Development.toml
  migrations/2023-02-21-094019_api_keys_remove_hash_key/down.sql
  migrations/2023-02-21-094019_api_keys_remove_hash_key/up.sql
Labels: A-framework, M-database-changes, M-configuration-changes, C-refactor

#702 docs(openapi): document path parameters for API keys endpoints
  crates/router/src/routes/api_keys.rs
Labels: C-doc

#714 fix(errors): use `Debug` impl instead of `Display` for error types wrapping `error_stack::Report`
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/common_utils/Cargo.toml
  crates/drainer/Cargo.toml
  crates/drainer/src/errors.rs
  crates/redis_interface/Cargo.toml
  crates/router/Cargo.toml
  crates/router/src/core/errors.rs
  crates/storage_models/Cargo.toml
Labels: A-framework, C-bug, S-waiting-on-review

#709 docs: Update naming conventions and added examples
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/customers/types.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/payu.rs
  crates/router/tests/connectors/worldpay.rs
  crates/router_env/src/logger/types.rs
  openapi/generated.json
  postman/portman-config.json
Labels: C-doc, C-refactor

#716 fix(errors): Replace PaymentMethod with PaymentModethodData in test.rs
  connector-template/test.rs
Labels: C-bug

#720 fix(kms): log KMS SDK errors using the `Debug` impl
  crates/router/src/services/kms.rs
Labels: A-framework, C-bug

#722 ci(release): specify `fetch-depth` for code checkout and use official Docker GitHub actions
  .github/workflows/auto-release-tag.yml
  .github/workflows/manual-release.yml
Labels: A-CI-CD, C-bug

#706 refactor: Add secret to metadata
  crates/api_models/src/admin.rs
  crates/api_models/src/customers.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/refunds.rs
  crates/common_utils/src/pii.rs
  crates/router/src/compatibility/stripe/customers/types.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/refunds/types.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/utils.rs
  crates/storage_models/src/customers.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/payment_intent.rs
  crates/storage_models/src/payment_method.rs
  crates/storage_models/src/refund.rs
Labels: A-core, C-refactor

#719 feat: cache reverse lookup fetches on redis
  crates/router/src/db/cache.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/db/refund.rs
  crates/router/src/db/reverse_lookup.rs
Labels: A-core, C-feature

#712 refactor(authentication): authenticate merchant by API keys from API keys table
  crates/router/src/core/api_keys.rs
  crates/router/src/core/errors.rs
  crates/router/src/db/api_keys.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/scheduler/metrics.rs
  crates/router/src/services/authentication.rs
  crates/storage_models/src/api_keys.rs
  crates/storage_models/src/query/api_keys.rs
Labels: A-core, C-refactor

#593 feat(connector): [Fiserv] add Refunds, Cancel and Wallets flow along with Unit Tests
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/fiserv/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/utils.rs
  crates/router/src/lib.rs
  crates/router/tests/connectors/fiserv.rs
Labels: A-connector-integration, C-feature

#728 chore: address Rust 1.68 clippy lints
  crates/router/src/scheduler/utils.rs
Labels: C-refactor

#730 refactor(client): remove dependence on `ROUTER_HTTP_PROXY` and `ROUTER_HTTPS_PROXY` env vars
  crates/router/src/services/api/client.rs
Labels: A-framework, M-configuration-changes, C-refactor

#725 feat: Add HSTS headers to response
  crates/api_models/src/errors/actix.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/consts.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/services/api.rs
  crates/router/src/utils.rs
Labels: A-framework, C-feature

#731 refactor(client): simplify HTTP client construction
  config/config.example.toml
  crates/router/src/services/api/client.rs
Labels: A-framework, C-refactor

#734 build(deps): update deps
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/common_utils/Cargo.toml
  crates/drainer/Cargo.toml
  crates/masking/Cargo.toml
  crates/redis_interface/Cargo.toml
  crates/router/Cargo.toml
  crates/router_derive/Cargo.toml
  crates/router_env/Cargo.toml
  crates/storage_models/Cargo.toml
Labels: A-dependencies

#713 chore(merchant_account): remove `api_key` field
  crates/api_models/src/admin.rs
  crates/router/src/core/admin.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api/admin.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/query/merchant_account.rs
  crates/storage_models/src/schema.rs
  migrations/2023-03-04-114058_remove_api_key_column_merchant_account_table/down.sql
  migrations/2023-03-04-114058_remove_api_key_column_merchant_account_table/up.sql
  openapi/generated.json
Labels: A-core, M-database-changes, C-refactor

#717 feat(connector): [Trustpay] add authorize (cards 3ds, no3ds and bank redirects), refund, psync, rsync
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_utils/src/ext_traits.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/trustpay.rs
  loadtest/config/Development.toml
Labels: A-connector-integration, C-feature, M-configuration-changes

#623 feat: Adding support for multiple account creation for a merchant<>connector based on country
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/api_models/src/admin.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/errors.rs
  crates/router/src/db/api_keys.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/scheduler/metrics.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/transformers.rs
  crates/storage_models/src/api_keys.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/query/api_keys.rs
  crates/storage_models/src/schema.rs
  loadtest/config/Development.toml
  migrations/2023-02-20-101809_update_merchant_connector_account/down.sql
  migrations/2023-02-20-101809_update_merchant_connector_account/up.sql
  migrations/2023-02-21-065628_update_merchant_account/down.sql
  migrations/2023-02-21-065628_update_merchant_account/up.sql
  scripts/add_connector.sh
Labels: C-feature, M-database-changes, M-api-model-changes

#738 refactor: Add service_name to get and delete request
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/vault.rs
Labels: A-payment-methods, C-refactor

#704 refactor: Basilisk hs integration
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/router/Cargo.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/services.rs
  crates/router/src/services/api/client.rs
  crates/router/src/services/encryption.rs
  crates/router/src/types/api/mandates.rs
  loadtest/config/Development.toml
Labels: A-core, M-configuration-changes, A-payment-methods

#721 feat(connector): add webhook support for worldline connector
  crates/common_utils/src/ext_traits.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/webhooks.rs
Labels: A-connector-integration, C-feature

#737 feat: add generic in-memory cache interface
  Cargo.lock
  crates/router/Cargo.toml
  crates/router/src/cache.rs
  crates/router/src/lib.rs
Labels: A-framework, C-feature

#745 test(masking): add suitable feature gates for basic tests
  crates/masking/tests/basic.rs
Labels: A-framework, S-waiting-on-review, C-refactor

#736 feat: populate fields from payment attempt in payment list
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api/payments.rs
Labels: A-core

#729 feat: Time based deletion of temp card
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/scheduler/metrics.rs
  crates/router/src/scheduler/types/process_data.rs
  crates/router/src/scheduler/utils.rs
  crates/router/src/scheduler/workflows.rs
  crates/router/src/scheduler/workflows/tokenized_data.rs
  crates/router/src/types/storage/payment_method.rs
  crates/storage_models/src/payment_method.rs
Labels: A-process-tracker, A-payment-methods

#748 fix: fixing docker compose setup & adding redisinsight
  config/docker_compose.toml
  docker-compose.yml
Labels: A-framework, A-infra

#744 refactor(kms): share a KMS client for all KMS operations
  config/config.example.toml
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/services.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/encryption.rs
  crates/router/src/services/kms.rs
Labels: A-framework, M-configuration-changes, C-refactor

#754 bugfix: card_fingerprint not sent by basilisk_hs
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, A-payment-methods

#755 refactor(metrics): use macros for constructing counter and histogram metrics
  crates/drainer/src/metrics.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/scheduler/metrics.rs
  crates/router_env/src/lib.rs
  crates/router_env/src/metrics.rs
Labels: A-framework, A-process-tracker, A-macros, C-refactor, A-drainer

#753 feat: removing unnecessary logs from console
  crates/router_env/src/logger/setup.rs
  docker-compose.yml
Labels: A-infra, A-performance

#740 feat(connector): add authorize, void, refund, psync, rsync support for mollie connector
  config/Development.toml
  config/config.example.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/mollie.rs
  crates/router/tests/connectors/sample_auth.toml
  loadtest/config/Development.toml
Labels: A-connector-integration, C-feature

#739 feat(connector) : add webhook flow for global pay
  Cargo.lock
  crates/common_utils/src/crypto.rs
  crates/router/Cargo.toml
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#762 refactor(connector): update add_connector script
  add_connector.md
  connector-template/mod.rs
  connector-template/test.rs
  connector-template/transformers.rs
  scripts/add_connector.sh
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#763 fix(docker-compose): remove port for hyperswitch-server-init in docker-compose.yml
  docker-compose.yml
Labels: C-refactor

#761 refactor(merchant_account): add back `api_key` field for backward compatibility
  crates/api_models/src/admin.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/mandate.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/api/admin.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/schema.rs
  migrations/2023-03-16-132604_merchant_account_temp_add_api_key/down.sql
  migrations/2023-03-16-132604_merchant_account_temp_add_api_key/up.sql
Labels: A-core, M-database-changes, C-refactor

#765 docs(try_local_system): add API key creation step
  config/Development.toml
  docs/try_local_system.md
Labels: C-doc

#764 fix(storage): add serialization for primitivedatetime for diesel structs
  Cargo.lock
  crates/storage_models/src/connector_response.rs
  crates/storage_models/src/payment_attempt.rs
  crates/storage_models/src/payment_intent.rs
  crates/storage_models/src/process_tracker.rs
  crates/storage_models/src/refund.rs
Labels: A-framework, C-bug, S-waiting-on-review

#746 feat(connector): [Trustpay] add webhooks (payment and refund events)
  connector-template/mod.rs
  crates/api_models/src/webhooks.rs
  crates/router/src/connector/aci.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/applepay.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types/api/webhooks.rs
Labels: A-connector-integration, C-feature, M-configuration-changes

#743 refactor: get connection pool based on olap/oltp features
  crates/router/src/connection.rs
  crates/router/src/db/address.rs
  crates/router/src/db/api_keys.rs
  crates/router/src/db/configs.rs
  crates/router/src/db/connector_response.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/events.rs
  crates/router/src/db/locker_mock_up.rs
  crates/router/src/db/mandate.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/db/process_tracker.rs
  crates/router/src/db/refund.rs
  crates/router/src/db/reverse_lookup.rs
  crates/router/tests/payments.rs
Labels: A-framework, C-refactor

#770 feat(connector): Add support to provide connector_payment_meta for capture and void request
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/airwallex.rs
  crates/router/tests/connectors/utils.rs
  loadtest/config/Development.toml
  scripts/add_connector.sh
Labels: A-connector-compatibility, A-core

#767 docs(try_local_system): add Ubuntu on WSL2 setup instructions
  add_connector.md
  docs/try_local_system.md
Labels: C-doc

#768 feat(router): adding metrics for tracking behavior throughout the `router` crate
  crates/router/src/core/api_keys.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/refunds.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/configs.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/routes/metrics/request.rs
  crates/router/src/routes/metrics/utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/services/api.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, A-infra

#766 feat(core): accept gateway credentials in the request body in payments and refunds
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/refunds.rs
  crates/router/src/compatibility/stripe/app.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/refunds/types.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/refunds.rs
Labels: A-connector-compatibility, A-core, C-feature

#788 release: Update CHANGELOG for release v0.5.0
  CHANGELOG.md
Labels: A-CI-CD, A-dependencies, A-connector-compatibility, A-connector-integration, A-core

#775 feat: compile time optimization
  crates/drainer/Cargo.toml
  crates/drainer/build.rs
  crates/drainer/src/settings.rs
  crates/router/Cargo.toml
  crates/router/src/build.rs
  crates/router/src/configs/settings.rs
  crates/router_env/Cargo.toml
  crates/router_env/src/env.rs
  crates/router_env/src/logger/formatter.rs
  crates/router_env/src/vergen.rs
Labels: A-dependencies, A-core

#759 feat(pm_list): handle client secret check
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-feature

#791 fix: process delete response from basilisk-v3 as plaintext instead of JWE
  crates/router/src/core/payment_methods/vault.rs
Labels: A-core, A-payment-methods

#796 release: Update CHANGELOG for release v0.5.1
  CHANGELOG.md
Labels: A-connector-integration, A-core, A-payment-methods, A-performance

#792 enhance(router): change MAX_ID_LENGTH to 64
  crates/router/src/consts.rs
  crates/router/src/core/utils.rs
Labels: C-feature

#794 chore: prepare for building production Docker images
  .github/workflows/manual-release.yml
  Dockerfile
  crates/router/Cargo.toml
Labels: A-CI-CD, C-feature

#798 fix(connector): [Airwallex] Change Session Token to Init Payment
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/airwallex/transformers.rs
Labels: A-connector-integration, C-refactor

#802 docker: build using latest stable Rust toolchain and use sparse index protocol
  .github/workflows/CI.yml
  Dockerfile
Labels: A-CI-CD, C-feature

#803 fix(compatibility): add last_payment_error in stripe payment response
  crates/router/src/compatibility/stripe/payment_intents/types.rs
Labels: A-connector-compatibility

#807 refactor(api_models): enhance accepted countries/currencies types
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, C-refactor

#749 feat: cards info api
  crates/api_models/src/cards.rs
  crates/api_models/src/cards_info.rs
  crates/api_models/src/lib.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core.rs
  crates/router/src/core/cards_info.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db.rs
  crates/router/src/db/cards_info.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/cards_info.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/cards_info.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
  crates/storage_models/src/cards_info.rs
  crates/storage_models/src/lib.rs
  crates/storage_models/src/query.rs
  crates/storage_models/src/query/cards_info.rs
  crates/storage_models/src/schema.rs
  migrations/2023-03-14-123541_add_cards_info_table/down.sql
  migrations/2023-03-14-123541_add_cards_info_table/up.sql
  openapi/generated.json
Labels: C-feature, M-database-changes

#812 Changelog for release v0.5.3
  CHANGELOG.md
Labels: A-connector-compatibility, A-connector-integration, A-core

#733 refactor(drainer, router): KMS decrypt database password when `kms` feature is enabled
  Cargo.lock
  config/config.example.toml
  crates/drainer/Cargo.toml
  crates/drainer/src/connection.rs
  crates/drainer/src/services.rs
  crates/drainer/src/settings.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/connection.rs
  crates/router/src/services.rs
Labels: A-framework, M-configuration-changes, C-refactor, A-drainer

#769 feat(router): added incoming dispute webhooks flow
  crates/api_models/src/disputes.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/webhooks.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/metrics.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db.rs
  crates/router/src/db/dispute.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/disputes.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/dispute.rs
  crates/router/src/types/transformers.rs
  crates/storage_models/src/dispute.rs
  crates/storage_models/src/enums.rs
  crates/storage_models/src/query.rs
  crates/storage_models/src/query/dispute.rs
  crates/storage_models/src/schema.rs
  migrations/2023-03-15-185959_add_dispute_table/down.sql
  migrations/2023-03-15-185959_add_dispute_table/up.sql
Labels: A-core, C-feature, M-database-changes

#808 fix(connector): [Mollie] remove unsupported implementation of Void flow from mollie connector
  crates/router/src/connector/mollie.rs
Labels: A-connector-integration, C-bug

#810 feat(connector): [Shift4] add eps, sofort, giropay, ideal support for shift4 connector
  crates/router/src/connector/shift4/transformers.rs
Labels: A-connector-integration, C-feature

#724 enhance(storage_models): delete client secret when status is succeeded, failed, cancelled
  crates/router/src/connector/stripe/transformers.rs
  crates/storage_models/src/payment_intent.rs
Labels: A-core

#732 Connector Sanity tests in CI/CD
  .github/secrets/connector_auth.toml.gpg
  .github/workflows/CI.yml
  .github/workflows/connector-sanity-tests.yml
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/worldline.rs
  scripts/decrypt_connector_auth.sh
Labels: A-CI-CD, C-feature

#815 deps(api_models): put the errors module behind a feature flag
  crates/api_models/Cargo.toml
  crates/api_models/src/lib.rs
  crates/api_models/src/webhooks.rs
  crates/router/Cargo.toml
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types/api/webhooks.rs
Labels: A-dependencies, C-refactor

#813 fix(cads_info): add extra columns to cards_info struct
  crates/storage_models/src/cards_info.rs
  crates/storage_models/src/schema.rs
Labels: C-bug

#625 feat(connector) : h1075:L4 Hackathon globalpay wallet
  crates/common_utils/src/crypto.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/airwallex.rs
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/dlocal.rs
  crates/router/tests/connectors/trustpay.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
Labels: A-connector-integration, juspay-hackathon
