Repository juspay/hyperswitch, pull requests merged in 2023-10, with the labels that each got.

#2402 docs(README): fixed TOC links
  README.md
Labels: C-doc

#2387 fix(cards): Allow card cvc 000
  crates/cards/src/lib.rs
Labels: A-framework, C-bug

#2403 refactor(connector): [Klarna] Expand wildcard match arms
  crates/router/src/connector/klarna.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2408 feat(connector): [Nuvei] Add order id as the reference id
  crates/router/src/connector/nuvei/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2414 refactor(connector): [Klarna] Enhance currency Mapping with ConnectorCurrencyCommon Trait
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/klarna/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2420 fix(CI): fix spell check for CI pull request
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/cybersource.rs
Labels: A-CI-CD, S-waiting-on-review, R-waiting-on-L1

#2393 fix(payment_methos): prioritized `apple_pay_combined` deserialization over `apple_pay`
  crates/api_models/src/payments.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-core, C-bug, S-waiting-on-review, A-payment-methods, R-waiting-on-L1

#2183 feat(pm_auth): Added pm_auth_config to merchant_connector_account
  crates/api_models/src/admin.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/verification/utils.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  migrations/2023-09-18-104900_add_pm_auth_config_mca/down.sql
  migrations/2023-09-18-104900_add_pm_auth_config_mca/up.sql
  openapi/openapi_spec.json
Labels: C-feature, M-database-changes, S-ready-for-merge, R-L1-completed, R-L2-completed

#2260 feat(webhooks): webhooks effect tracker
  crates/api_models/src/webhooks.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/routes/webhooks.rs
Labels: S-waiting-on-review, A-webhooks

#2388 refactor(connector): [Cryptopay] Update PSync with connector_request_reference_id
  crates/router/src/connector/cryptopay.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#2427 fix(connector): [noon] add connector_auth params and update description
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review, M-configuration-changes

#2428 fix: use key_mode based on env and update description
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review, M-configuration-changes

#2200 refactor(router): add `#[cfg(not(feature = "kms"))]` feature flag to test the simplified apple pay flow locally
  crates/router/src/consts.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, A-payment-methods, C-refactor, S-ready-for-merge, R-L1-completed, R-L2-completed

#2429 fix(connector): [noon] add connector_auth params and update description
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-bug, P-high, M-configuration-changes

#2390 feat(pm_list): [Trustpay] add bank_redirect - blik pm type required field info for trustpay
  crates/api_models/src/payments.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, A-payment-methods

#2367 fix(router): merchant account delete does not delete the merchant_key_store
  crates/diesel_models/src/query/merchant_key_store.rs
  crates/router/src/core/admin.rs
  crates/router/src/db/merchant_key_store.rs
Labels: A-core, C-bug

#2415 feat(connector): [Stax] Use connector_response_reference_id as reference to merchant
  crates/router/src/connector/stax/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2411 build(deps): address `undeclared crate or module` errors on Windows for `scheduler` crate
  Cargo.lock
  crates/scheduler/Cargo.toml
  crates/scheduler/src/utils.rs
Labels: A-dependencies, A-process-tracker, C-bug, S-waiting-on-review

#2439 fix(CI): fix spell check for CI pull request
  CHANGELOG.md
Labels: A-CI-CD, S-waiting-on-review

#2425 feat(router): remove unnecessary lookups in refund and payment_attempt kv flow
  crates/router/src/db/refund.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, C-feature, S-waiting-on-review

#2413 feat(connector): [PowerTranz] Use connector_response_reference_id as reference to merchant
  crates/router/src/connector/powertranz/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2416 feat(router): [OpenNode] response reference id
  crates/router/src/connector/opennode/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2410 feat(connector): [Payeezy] Use connector_response_reference_id as reference to merchant
  crates/router/src/connector/payeezy/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2423 refactor(config): update payment method filter for apple pay
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: A-payment-methods, C-refactor, S-ready-for-merge

#2431 refactor(payment_methods): add `requires_cvv` config while creating merchant account
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor

#2434 feat(connector): [Square] Use reference_id as reference to merchant
  crates/router/src/connector/square/transformers.rs
Labels: A-connector-integration, hacktoberfest, hacktoberfest-accepted

#2447 refactor(webhook): add a function to retrieve payment_id
  crates/api_models/src/webhooks.rs
Labels: A-webhooks

#2379 feat(router): add profile id and extra filters in lists
  crates/api_models/src/disputes.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/refunds.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/router/src/core/payments.rs
  crates/router/src/db/dispute.rs
  crates/router/src/db/refund.rs
  crates/router/src/types/storage/dispute.rs
  crates/router/src/types/storage/refund.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  openapi/openapi_spec.json
Labels: M-api-contract-changes, A-refunds, A-disputes, A-payments

#2442 feat(connector): [Noon] Use connector_response_reference_id as reference
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2418 feat(connector): [Opayo] Add connector id
  crates/router/src/connector/opayo/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2454 ci(postman): Trustpay 3DS request fix
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario4-Create 3DS payment/Payments - Create/request.json
Labels: A-CI-CD, C-bug, C-test

#2385 feat(payment_methods): bank details support for payment method data in pmt
  crates/api_models/src/payment_methods.rs
  crates/diesel_models/src/payment_method.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: C-feature, A-payment-methods, S-ready-for-merge, R-L1-completed, R-L2-completed

#2450 fix: return appropriate error message during webhook call for invalid merchant_secret adyen
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
Labels: A-core, C-bug, S-waiting-on-review

#2448 feat(router): add support for payment_type field in payment intent
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/openapi.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2023-10-04-120026_add_payment_type_column_in_payment_intent/down.sql
  migrations/2023-10-04-120026_add_payment_type_column_in_payment_intent/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, A-payment-methods, R-waiting-on-L1, A-payments

#2467 chore: fix the failing formatting check for external contributors
  .github/workflows/CI-pr.yml
Labels: A-CI-CD, S-waiting-on-review, S-wont-fix, S-ready-for-merge

#2456 feat(connector): [Forte] Use connector_response_reference_id as reference to merchant
  crates/router/src/connector/forte/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2464 feat(router): add mandates incoming webhooks flow
  crates/api_models/src/mandates.rs
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/mandate.rs
  crates/diesel_models/src/query/mandate.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/mandate.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils.rs
  migrations/2023-10-05-114138_add_payment_id_in_mandate/down.sql
  migrations/2023-10-05-114138_add_payment_id_in_mandate/up.sql
  migrations/2023-10-05-130917_add_mandate_webhook_types/down.sql
  migrations/2023-10-05-130917_add_mandate_webhook_types/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature

#2452 feat(connector): [PayU] Use connector_response_response_id as reference to merchant
  crates/router/src/connector/payu/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2461 feat(connector): [Gocardless] Implement mandate flow
  crates/router/src/connector/gocardless.rs
  crates/router/src/connector/gocardless/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-feature

#2468 feat(connector): [Gocardless] Add mandate webhoooks
  crates/router/src/connector/gocardless.rs
  crates/router/src/connector/gocardless/transformers.rs
Labels: A-connector-integration, C-feature

#2466 feat(connector): [Noon] Use connector_request_reference_id as Order reference
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2463 refactor(connector): [nmi] refactor nmi and handled variants errors
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2472 fix: update connector_mandate_id column in generate mandate flow
  crates/router/src/core/mandate.rs
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, A-mandates

#2433 refactor: add support for passing context generic to api calls
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/router_derive/src/macros/operation.rs
Labels: A-core, A-payment-methods, C-refactor, S-ready-for-merge, R-L1-completed, R-L2-completed

#2031 feat(connector): [Braintree] implement dispute webhook
  crates/router/Cargo.toml
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/gocardless.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/opennode.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/square.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/zen.rs
  crates/router/src/types/api/webhooks.rs
Labels: A-connector-integration, C-feature

#2476 CI: Remove auto format code when formatting step fails
  .github/workflows/CI-pr.yml
Labels: A-CI-CD, C-bug, S-waiting-on-review

#2458 refactor(merchant_account): make `organization_id` as mandatory
  crates/api_models/src/admin.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/domain/merchant_account.rs
  migrations/2023-10-05-085859_make_org_id_mandatory_in_ma/down.sql
  migrations/2023-10-05-085859_make_org_id_mandatory_in_ma/up.sql
  openapi/openapi_spec.json
Labels: S-waiting-on-review, M-database-changes

#2443 feat(connector): [Paypal] Implement 3DS for Cards
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-feature

#2482 fix: add startup config log to drainer
  crates/drainer/src/main.rs
Labels: A-core

#2470 feat(connector): [Cybersource] Use connector_response_reference_id as reference to merchant
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, S-waiting-on-approval, hacktoberfest, hacktoberfest-accepted

#2469 feat(connector): [Coinbase] Add order id as the reference id
  crates/router/src/connector/coinbase/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2485 chore: env changes for gocardless mandate
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: A-connector-integration, M-configuration-changes

#2451 feat(connector): [Multisafepay] Use transaction_id as reference to transaction
  crates/router/src/connector/multisafepay/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2484 refactor(connector): [trustpay] refactor trustpay and handled variants errors
  Cargo.lock
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2475 fix: fetch data directly from DB in OLAP functions
  crates/router/src/db/refund.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: A-core, S-waiting-on-review

#2489 feat(connector): [Fiserv] update connector_response_reference_id in transformers
  crates/router/src/connector/fiserv/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2493 feat(connector): [Nuvei] Use "connector_request_reference_id" for as "attempt_id" to improve consistency in transmitting payment information
  crates/router/src/connector/nuvei/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2380 feat(process_tracker): make long standing payments failed
  crates/router/src/consts.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/utils.rs
  crates/router/src/workflows/payment_sync.rs
  crates/scheduler/src/utils.rs
Labels: A-process-tracker

#2507 fix: add release feature to drianer
  crates/drainer/Cargo.toml
Labels: A-core, C-bug

#2474 chore: address Rust 1.73 clippy lints
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/customers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/services/api.rs
  crates/router/src/types/transformers.rs
Labels: C-refactor

#2384 feat(kv): add kv wrapper for executing kv tasks
  Cargo.lock
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/errors.rs
  crates/router/src/consts.rs
  crates/router/src/db.rs
  crates/router/src/db/address.rs
  crates/router/src/db/connector_response.rs
  crates/router/src/db/ephemeral_key.rs
  crates/router/src/db/refund.rs
  crates/router_derive/src/lib.rs
  crates/router_derive/src/macros.rs
  crates/router_derive/src/macros/try_get_enum.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/consts.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  crates/storage_impl/src/redis/kv_store.rs
Labels: A-core, S-ready-for-merge

#2509 refactor: disable color in reports in json format
  Cargo.lock
  crates/router_env/Cargo.toml
  crates/router_env/src/logger/setup.rs
Labels: S-waiting-on-review, C-refactor

#2391 feat: gracefully shutdown drainer if redis goes down
  crates/drainer/src/lib.rs
Labels: A-framework, S-waiting-on-review

#2514 ci(release-new-version): update schedule to create releases at 8 PM UTC+05:30 every Sunday to Thursday
  .github/workflows/release-new-version.yml
Labels: A-CI-CD, S-waiting-on-review

#2503 feat(connector): [Multisafepay] Use connector_request_reference_id as reference to the connector
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/multisafepay/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2495 refactor(payment_methods): Added mca_id in bank details
  crates/api_models/src/payment_methods.rs
Labels: A-payment-methods, C-refactor, S-ready-for-merge, R-L1-completed, R-L2-completed

#2471 CI: Auto generate the OpenAPI spec if `Validate generated OpenAPI spec file` check fails
  .github/workflows/validate-openapi-spec.yml
Labels: A-CI-CD

#2521 CI: add workflow to create hotfix branch
  .github/workflows/hotfix-branch-creation.yml
Labels: A-CI-CD

#2511 feat(trace): add optional sampling behaviour for routes
  config/config.example.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/kms.rs
  crates/router/src/configs/settings.rs
  crates/router_env/src/logger/config.rs
  crates/router_env/src/logger/setup.rs
  crates/storage_impl/src/config.rs
  crates/storage_impl/src/database/store.rs
Labels: A-framework, A-core, A-infra, S-waiting-on-review

#2527 fix(connector): [Airwallex] convert expiry year to four digit
  crates/router/src/connector/airwallex/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-author, S-waiting-on-review

#2486 feat: add x-hs-latency header for application overhead measurement
  config/development.toml
  crates/api_models/src/payments.rs
  crates/common_utils/src/consts.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
Labels: A-CI-CD, A-core, S-ready-for-merge

#2528 fix(connector): [noon] add missing response status
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-bug

#2519 feat(connector): [GlobalPayments] Introduce connector_request_reference_id for GlobalPayments
  crates/router/src/connector/globalpay/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2487 refactor(test_utils): Refactor `test_utils` crate and add `folder` support with updated documentation
  crates/test_utils/README.md
  crates/test_utils/src/lib.rs
  crates/test_utils/src/main.rs
  crates/test_utils/src/newman_runner.rs
Labels: A-CI-CD, C-doc, C-feature, S-waiting-on-review, C-refactor, C-test

#2532 CI: add workflow to create hotfix tag
  .github/workflows/create-hotfix-tag.yml
  .github/workflows/hotfix-branch-creation.yml
Labels: A-CI-CD, S-waiting-on-review

#2516 feat(connector): [Airwallex] Use connector_request_reference_id as merchant reference id #2291
  crates/router/src/connector/airwallex/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2535 chore: [GOCARDLESS] env changes for becs and sepa mandates
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/gocardless/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, M-configuration-changes

#2536 ci(create-hotfix-tag): exit workflow on an error
  .github/workflows/create-hotfix-tag.yml
Labels: A-CI-CD

#2522 feat(router): change temp locker config as enable only
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
Labels: A-core, C-feature, S-waiting-on-review

#2525 refactor: delete requires cvv config when merchant account is deleted
  crates/router/src/core/admin.rs
Labels: S-waiting-on-review, C-refactor

#2480 feat(connector): [Volt] Template generation
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/volt.rs
  crates/router/src/connector/volt/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/volt.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#2537 feat(connector): [NexiNets] Update connector_response_reference_id as reference to merchant
  crates/router/src/connector/nexinets/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review, S-ready-for-merge, hacktoberfest, hacktoberfest-accepted

#2541 chore(CODEOWNERS): update CODEOWNERS
  .github/CODEOWNERS
Labels: C-doc, S-waiting-on-review

#2497 feat(connector): [Authorizedotnet] use connector_response_reference_id as reference to merchant
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2548 test(postman): Add proper `customer_id` in payment method create api
  postman/collection-dir/stripe/PaymentMethods/P_Create Customer/.event.meta.json
  postman/collection-dir/stripe/PaymentMethods/P_Create Customer/event.test.js
  postman/collection-dir/stripe/PaymentMethods/P_Create Customer/request.json
  postman/collection-dir/stripe/PaymentMethods/P_Create Customer/response.json
  postman/collection-dir/stripe/PaymentMethods/PaymentMethods - Create/request.json
Labels: A-CI-CD, S-waiting-on-review

#2546 feat(connector): [Tsys] Use `connector_response_reference_id` as reference to the connector
  crates/router/src/connector/tsys/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2436 refactor(connector): [Worldpay] Currency Unit Conversion
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/worldpay/transformers.rs
  package.json
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2512 feat(connector): [Cybersource] Use connector_request_reference_id as reference to the connector
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2542 feat(router): add kv implementation for update address in update payments flow
  crates/diesel_models/src/address.rs
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/query/address.rs
  crates/drainer/src/lib.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/address.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/storage/kv.rs
Labels: A-core, C-feature, S-waiting-on-review

#2544 fix(connector): [noon] sync with reference_id
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review

#2550 fix: percentage float inconsistency problem and api models changes to support surcharge feature
  crates/api_models/Cargo.toml
  crates/api_models/src/lib.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/lib.rs
  crates/common_utils/src/types.rs
  crates/common_utils/tests/percentage.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/bitpay.rs
  crates/router/tests/connectors/cashtocode.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/cryptopay.rs
  crates/router/tests/connectors/opennode.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: C-bug, S-waiting-on-review

#2501 fix: consume profile_id throughout payouts flow
  crates/api_models/src/payouts.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/utils.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/utils.rs
  openapi/openapi_spec.json
Labels: A-core, M-api-contract-changes

#2549 feat(connector): [ACI] Use connector_request_reference_id as reference to the connector
  crates/router/src/connector/aci/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2556 revert: fix(connector): [noon] sync with reference_id
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
Labels: A-connector-integration, C-bug

#2161 fix: parse allowed_payment_method_types only if there is some value p…
  crates/router/src/core/payment_methods/cards.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor, R-waiting-on-L2, R-L1-completed

#2105 feat(router): Add payment link support
  Cargo.lock
  config/config.example.toml
  config/development.toml
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/payment_link.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/payment_link.rs
  crates/diesel_models/src/schema.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link.html
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db.rs
  crates/router/src/db/payment_link.rs
  crates/router/src/lib.rs
  crates/router/src/openapi.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/metrics/request.rs
  crates/router/src/routes/payment_link.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/payment_link.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/mock_db.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2023-09-08-101302_add_payment_link/down.sql
  migrations/2023-09-08-101302_add_payment_link/up.sql
  migrations/2023-09-08-114828_add_payment_link_id_in_payment_intent/down.sql
  migrations/2023-09-08-114828_add_payment_link_id_in_payment_intent/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, R-waiting-on-L1

#2558 refactor(connector): [noon] use connector_request_reference_id for sync
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-bug, P-high

#2543 fix(router): add customer_id validation for `payment method create` flow
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
Labels: A-core, C-bug, S-waiting-on-review, A-payment-methods

#2562 fix(connector): [noon] handle sync and response status
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review

#2381 refactor(connector): [noon] update and add recommended fields
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor, S-waiting-on-approval

#2498 refactor(worldline): use `connector_request_reference_id` as reference to the connector
  crates/router/src/connector/worldline/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2552 fix(connector): [braintree] add 3ds redirection error mapping and metadata validation
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-bug, P-high

#2564 feat(customers): add customer list endpoint
  crates/diesel_models/src/query/customers.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/errors/customers_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/db/customers.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/lock_utils.rs
  crates/router_env/src/logger/types.rs
  openapi/openapi_spec.json
Labels: S-waiting-on-review, A-customers

#2422 fix(connector): Trigger Psync after redirection url
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/zen.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review

#2555 ci(postman): Added address update test cases
  postman/collection-dir/stripe/.info.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/List Payment Methods for a Merchant-copy/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/List Payment Methods for a Merchant-copy/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/List Payment Methods for a Merchant-copy/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/List Payment Methods for a Merchant-copy/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/List Payment Methods for a Merchant/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/List Payment Methods for a Merchant/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/List Payment Methods for a Merchant/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/List Payment Methods for a Merchant/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Confirm/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Confirm/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Confirm/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Create/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Create/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Create/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Retrieve/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Retrieve/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Retrieve/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Retrieve/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Update/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Update/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Update/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Update/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Confirm/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Confirm/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Confirm/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Create/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Create/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Create/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Retrieve/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Retrieve/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Retrieve/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Retrieve/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Update/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Update/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Update/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Update/response.json
Labels: A-CI-CD, C-test

#2502 refactor(storage): update paymentintent object to provide a relation with attempts
  Cargo.lock
  crates/data_models/src/lib.rs
  crates/data_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/drainer/src/lib.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils.rs
  crates/storage_impl/src/mock_db.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  openapi/openapi_spec.json
Labels: A-framework, C-refactor, A-payments

#2515 feat(nexinets): Use connector_request_reference_id as reference to the connector - Work In Progress
  crates/router/src/connector/nexinets/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review, hacktoberfest

#2569 refactor(connector): [Worldline] Currency Unit Conversion
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldline/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2570 refactor(connector): [Authorizedotnet] Enhance currency Mapping with ConnectorCurrencyCommon Trait
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2573 feat(router): Add Cancel Event in Webhooks and Mapping it in Stripe
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/types/transformers.rs
  migrations/2023-10-13-100447_add-payment-cancelled-event-type/down.sql
  migrations/2023-10-13-100447_add-payment-cancelled-event-type/up.sql
  openapi/openapi_spec.json
Labels: A-connector-integration, A-core, C-feature, M-database-changes, A-webhooks

#2574 feat(router): Add Cancel Event in Webhooks and Mapping it in Stripe
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/types/transformers.rs
  migrations/2023-10-13-100447_add-payment-cancelled-event-type/down.sql
  migrations/2023-10-13-100447_add-payment-cancelled-event-type/up.sql
  openapi/openapi_spec.json
Labels: A-connector-integration, A-core, C-feature, P-high, M-database-changes, A-webhooks

#2575 refactor(connector): [noon] enhance response status mapping
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#2567 ci: auto format code when formatting step fails and update Cargo.lock if changed
  .github/workflows/CI-pr.yml
Labels: A-CI-CD

#2576 feat(router): Add Cancel Event in Webhooks and Mapping it in Stripe
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/types/transformers.rs
  migrations/2023-10-13-100447_add-payment-cancelled-event-type/down.sql
  migrations/2023-10-13-100447_add-payment-cancelled-event-type/up.sql
  openapi/openapi_spec.json
Labels: A-connector-integration, A-core, C-feature, M-database-changes, A-webhooks

#2210 feat(connector): [HELCIM] Implement Cards for Helcim
  connector-template/mod.rs
  crates/api_models/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/connector/gocardless/transformers.rs
  crates/router/src/connector/helcim.rs
  crates/router/src/connector/helcim/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/lib.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature

#2580 refactor(connector): [noon] enhance response status mapping
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-bug

#2577 feat(connector): [Paypal] use connector request reference id as reference for paypal
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-feature

#2579 feat(connector): [Paypal] use connector request reference id as reference for paypal
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-feature

#2571 feat(connector): [Airwallex] Currency Unit Conversion
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/airwallex/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2494 feat(connector): [Klarna] Use connector_request_reference_id as reference to connector
  crates/router/src/connector/klarna/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2446 feat(connector): [Dlocal] Use connector_response_reference_id as reference to merchant
  crates/router/src/connector/dlocal/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2581 feat(connector): add support for surcharge in trustpay
  crates/api_models/src/payments.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/lib.rs
  crates/router/src/openapi.rs
  crates/router/src/types.rs
  crates/router/src/types/storage/payment_attempt.rs
  openapi/openapi_spec.json
Labels: C-feature

#2568 feat(connector): add surcharge support in paypal connector
  crates/router/src/connector/paypal.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#2602 feat(events): add basic event handler to collect application events
  crates/router/src/events.rs
  crates/router/src/events/event_logger.rs
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
Labels: A-framework, C-feature, S-waiting-on-review

#2606 feat(compatibility): added support to connector txn id
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
Labels: C-feature, A-stripe-compatibility-layer

#2583 feat(router): Better UI payment link and order details product image and merchant config support
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link.html
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/zen.rs
  migrations/2023-10-06-101134_add_paymentLink_metadata_in_merchant_account/down.sql
  migrations/2023-10-06-101134_add_paymentLink_metadata_in_merchant_account/up.sql
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review, M-database-changes, M-api-contract-changes, R-waiting-on-L1

#2607 refactor(router): throw bad request error on applepay verification failure
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/verification.rs
Labels: A-core, P-high, S-waiting-on-review, C-refactor, A-errors, R-waiting-on-L1, R-waiting-on-L2, A-payments

#2604 feat: add updated_by to tracker tables
  crates/common_enums/src/enums.rs
  crates/data_models/src/lib.rs
  crates/data_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/address.rs
  crates/diesel_models/src/connector_response.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/refund.rs
  crates/diesel_models/src/reverse_lookup.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/address.rs
  crates/router/src/db/connector_response.rs
  crates/router/src/db/refund.rs
  crates/router/src/db/reverse_lookup.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/types/storage/connector_response.rs
  crates/router/src/types/storage/enums.rs
  crates/router/src/utils.rs
  crates/router/src/workflows/payment_sync.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/lookup.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2023-10-13-090450_add_updated_by_for_tables/down.sql
  migrations/2023-10-13-090450_add_updated_by_for_tables/up.sql
Labels: A-core, S-waiting-on-review

#2600 fix(connector): [Authorizedotnet]fix error deserialization incase of authentication failure
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  postman/collection-dir/authorizedotnet/Flow Testcases/Happy Cases/Scenario4-Create failed payment with confirm true copy/.meta.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Happy Cases/Scenario4-Create failed payment with confirm true copy/Payments - Create/.event.meta.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Happy Cases/Scenario4-Create failed payment with confirm true copy/Payments - Create/event.prerequest.js
  postman/collection-dir/authorizedotnet/Flow Testcases/Happy Cases/Scenario4-Create failed payment with confirm true copy/Payments - Create/event.test.js
  postman/collection-dir/authorizedotnet/Flow Testcases/Happy Cases/Scenario4-Create failed payment with confirm true copy/Payments - Create/request.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Happy Cases/Scenario4-Create failed payment with confirm true copy/Payments - Create/response.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Happy Cases/Scenario4-Create failed payment with confirm true copy/Payments - Retrieve/.event.meta.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Happy Cases/Scenario4-Create failed payment with confirm true copy/Payments - Retrieve/event.test.js
  postman/collection-dir/authorizedotnet/Flow Testcases/Happy Cases/Scenario4-Create failed payment with confirm true copy/Payments - Retrieve/request.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Happy Cases/Scenario4-Create failed payment with confirm true copy/Payments - Retrieve/response.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/.meta.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/Payment Connector - Update/.event.meta.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/Payment Connector - Update/event.prerequest.js
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/Payment Connector - Update/event.test.js
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/Payment Connector - Update/request.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/Payment Connector - Update/response.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/Payments - Create/.event.meta.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/Payments - Create/event.prerequest.js
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/Payments - Create/event.test.js
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/Payments - Create/request.json
  postman/collection-dir/authorizedotnet/Flow Testcases/Variation Cases/Scenario12-Failed case for wrong api keys/Payments - Create/response.json
Labels: A-connector-integration, C-bug

#2613 docs(postman): Rewrite postman documentation to help devs develop tests for their features
  crates/test_utils/README.md
  postman/README.md
Labels: A-CI-CD, C-doc, S-waiting-on-review

#2612 fix(payments): fix payment update enum being inserted into kv
  crates/storage_impl/src/payments/payment_intent.rs
Labels: C-bug, A-payments

#2620 chore(scripts): add connector script changes
  connector-template/mod.rs
  crates/test_utils/src/connector_auth.rs
  scripts/add_connector.sh
Labels: C-refactor

#2611 fix(connector): [Paypal]fix error deserelization for source verification call
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review, S-waiting-on-approval

#2621 feat(events): add events for incoming API requests
  crates/router/src/events.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/events/event_logger.rs
  crates/router/src/routes/app.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/client.rs
Labels: A-framework, C-feature

#2603 feat: update surcharge_amount and tax_amount in update_trackers of payment_confirm
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/services/api.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  openapi/openapi_spec.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/.meta.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Capture/.event.meta.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Capture/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Capture/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Capture/response.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Confirm/.event.meta.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Confirm/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Confirm/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Confirm/response.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Create/.event.meta.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Create/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Create/response.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Retrieve/.event.meta.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Retrieve/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Retrieve/response.json
  postman/collection-dir/paypal/Flow Testcases/QuickStart/Merchant Account - Create/request.json
Labels: C-feature, S-waiting-on-review

#2609 refactor(router): remove unnecessary function from Refunds Validate Flow
  crates/router/src/core/refunds.rs
  crates/router/src/core/refunds/validator.rs
Labels: C-refactor, A-refunds, hacktoberfest, hacktoberfest-accepted

#2518 feat(connector): [Bambora] use connector_request_reference_id
  crates/router/src/connector/bambora/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2616 refactor: refactor connector auth type failure to 4xx
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/errors/utils.rs
Labels: A-connector-integration, C-refactor

#2353 feat(Connector): [Paypal] add support for dispute webhooks for paypal connector
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#2629 refactor(events): Allow box dyn for event handler
  crates/router/src/events.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/events/event_logger.rs
  crates/router/src/routes/app.rs
  crates/router/src/services/api.rs
Labels: C-refactor

#2622 refactor(payment_connector): allow connector label to be updated
  crates/api_models/src/admin.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/verification/utils.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  openapi/openapi_spec.json
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Create/event.test.js
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Create/request.json
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Update/event.test.js
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Update/request.json
Labels: S-waiting-on-review

#2631 feat(connector): [Tsys] Use connector_request_reference_id as reference to the connector
  crates/router/src/connector/tsys/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2632 ci: update codeowners
  .github/CODEOWNERS
Labels: A-CI-CD

#2597 ci: add ci workflow for validating hotfix pr
  .github/workflows/hotfix-pr-check.yml
Labels: A-CI-CD

#2623 ci(postman): Add Customer list endpoint
  postman/collection-dir/stripe/Customers/.meta.json
  postman/collection-dir/stripe/Customers/List Customer/.event.meta.json
  postman/collection-dir/stripe/Customers/List Customer/event.test.js
  postman/collection-dir/stripe/Customers/List Customer/request.json
  postman/collection-dir/stripe/Customers/List Customer/response.json
Labels: A-CI-CD, C-test

#2553 feat(connector): [Worldpay] Use connector_request_reference_id as reference to the connector
  crates/router/src/connector/worldpay/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest, hacktoberfest-accepted

#2615 refactor(connector): [Dlocal] Currency Unit Conversion
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/dlocal/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2587 refactor(connector): [Iatapay] remove default case handling
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#2610 feat(connector): [ProphetPay] Template generation
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/prophetpay.rs
  crates/router/src/connector/prophetpay/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/prophetpay.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#2619 build(deps): use `async-bb8-diesel` from `crates.io` instead of git repository
  Cargo.lock
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/query/generics.rs
  crates/drainer/Cargo.toml
  crates/router/Cargo.toml
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/payments/payment_intent.rs
Labels: A-dependencies, S-waiting-on-review
