Repository juspay/hyperswitch, pull requests merged in 2023-05, with the labels that each got.

#1009 feat(connector): [Nexinets] add mandates and applepay support to nexinets
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-feature, R-L1-completed

#989 feat(api_models): derive `Serialize`, `Eq`, `PartialEq`, `strum::Display` on `RefundStatus`
  crates/api_models/src/refunds.rs
  crates/router/src/core/refunds.rs
Labels: A-core, C-feature, E-easy, S-ready-for-merge, R-L1-completed

#991 fix: remove defaults from `created_at` and `modified_at`
  crates/router/src/types/domain/address.rs
  crates/router/src/types/domain/customer.rs
  crates/router/src/types/domain/merchant_account.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/domain/merchant_key_store.rs
  crates/storage_models/src/address.rs
  crates/storage_models/src/customers.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/merchant_key_store.rs
  migrations/2023-04-26-090005_remove_default_created_at_modified_at/down.sql
  migrations/2023-04-26-090005_remove_default_created_at_modified_at/up.sql
Labels: C-bug, S-waiting-on-review, M-database-changes

#935 refactor(stripe): return all the missing fields in a request
  .gitignore
  Cargo.lock
  crates/common_utils/Cargo.toml
  crates/common_utils/src/signals.rs
  crates/router/Cargo.toml
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/macros.rs
  crates/router/src/scheduler/utils.rs
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#1013 fix(refund_sync): add validation for missing `connector_refund_id`
  crates/api_models/src/refunds.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/refunds.rs
Labels: A-core, S-ready-for-merge, M-api-contract-changes, R-L1-completed

#890 feat(connector): [ACI] Add banking redirect support for EPS, Giropay, iDEAL, and Sofortueberweisung
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/result_codes.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/types.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, R-L1-completed

#1031 doc(README): remove redundant "more" in FAQs
  README.md
Labels: C-doc

#874 feat(cards): validate card security code and expiration
  Cargo.lock
  crates/cards/Cargo.toml
  crates/cards/src/lib.rs
  crates/cards/tests/basic.rs
  crates/masking/src/serde.rs
Labels: C-feature, S-ready-for-merge

#979 feat(router): added support for optional defend dispute api call and added evidence submission flow for checkout connector
  crates/api_models/src/disputes.rs
  crates/api_models/src/enums.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/disputes/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/utils.rs
  crates/router/src/types.rs
  crates/router/src/types/api/disputes.rs
  crates/router/src/types/api/files.rs
  crates/storage_models/src/enums.rs
Labels: A-connector-integration, A-core, C-feature, S-ready-for-merge, M-api-contract-changes

#918 feat(connector): add dispute webhooks for Stripe
  crates/api_models/src/disputes.rs
  crates/api_models/src/enums.rs
  crates/common_utils/src/custom_serde.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/types/api/disputes.rs
  crates/storage_models/src/dispute.rs
  crates/storage_models/src/schema.rs
  migrations/2023-04-26-062424_alter_dispute_table/down.sql
  migrations/2023-04-26-062424_alter_dispute_table/up.sql
Labels: A-connector-integration, C-bug, C-feature, M-database-changes, S-ready-for-merge, M-api-contract-changes

#1020 refactor(config): add independent toggles for enabling traces and metrics
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/drainer/src/env.rs
  crates/drainer/src/errors.rs
  crates/drainer/src/main.rs
  crates/router/src/bin/router.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/env.rs
  crates/router_env/src/logger/config.rs
  crates/router_env/src/logger/setup.rs
  crates/router_env/tests/logger.rs
  docker-compose.yml
  loadtest/config/development.toml
Labels: A-framework, M-configuration-changes, C-refactor, S-ready-for-merge, R-L1-completed

#1010 fix: remove old data while deserialization error from cache
  crates/router/src/db/cache.rs
Labels: A-framework, A-core, S-ready-for-merge, R-L1-completed

#1030 build(deps): make AWS dependencies optional
  crates/router/Cargo.toml
Labels: A-dependencies, S-ready-for-merge, R-L1-completed

#898 feat(connector) : add Cards(3ds & non3ds),bank_redirects ,wallets(Paypal,Applepay) and Mandates support to nexinets
  connector-template/mod.rs
  crates/api_models/src/enums.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/nexinets.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#904 refactor: use `CountryAlpha2` instead of `CountryCode` for country codes
  Cargo.lock
  crates/api_models/src/admin.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/lib.rs
  crates/common_enums/src/transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/openapi.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/dlocal.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/trustpay.rs
  crates/router/tests/connectors/worldline.rs
  crates/storage_models/src/address.rs
  crates/storage_models/src/enums.rs
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/payment_intent.rs
  crates/storage_models/src/schema.rs
  migrations/2023-04-25-061159_rename_country_code_to_country_alpha2/down.sql
  migrations/2023-04-25-061159_rename_country_code_to_country_alpha2/up.sql
Labels: A-core, C-refactor, S-ready-for-merge, R-L1-completed

#976 fix(storage_models): fix incorrect field order in `MerchantConnectorAccount`
  crates/storage_models/src/merchant_connector_account.rs
  crates/storage_models/src/schema.rs
Labels: A-framework, C-bug, S-ready-for-merge, R-L1-completed

#950 Doc:Changelog for release v0.5.8
  CHANGELOG.md
Labels: C-doc

#956 feat: expire client secret after a merchant configurable intent fufliment time
  crates/api_models/src/admin.rs
  crates/router/src/consts.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/cards_info.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/api/admin.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/schema.rs
  migrations/2023-04-19-072152_merchant_account_add_intent_fulfilment_time/down.sql
  migrations/2023-04-19-072152_merchant_account_add_intent_fulfilment_time/up.sql
Labels: C-feature, M-database-changes, A-performance, S-ready-for-merge, M-api-contract-changes, R-L1-completed

#999 feat(pm_list): add available capture methods filter
  config/development.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, C-feature, M-configuration-changes, S-ready-for-merge, R-L1-completed

#1047 chore: add `git-cliff` configs for generating changelogs and release notes
  .github/git-cliff-changelog.toml
  .github/git-cliff-release.toml
  CHANGELOG.md
Labels: C-doc

#1050 fix: Passing connector_name instead of ConnectorCallType
  config/development.toml
  crates/router/src/core/payments.rs
Labels: A-core

#955 feat(connector): add authorize, capture, void, psync, refund, rsync for Forte connector
  config/development.toml
  crates/api_models/src/enums.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/forte.rs
  crates/router/src/connector/forte/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/payeezy/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/payeezy.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/worldline.rs
Labels: A-connector-integration, C-feature, M-configuration-changes, S-ready-for-merge, R-L1-completed

#1040 refactor(router): nest the straight through algorithm column in payment attempt
  Cargo.lock
  crates/api_models/src/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/storage/payment_attempt.rs
  migrations/2023-05-03-121025_nest_straight_through_col_in_payment_attempt/down.sql
  migrations/2023-05-03-121025_nest_straight_through_col_in_payment_attempt/up.sql
Labels: A-core, M-database-changes, C-refactor, S-ready-for-merge, R-L1-completed

#819 refactor: use newtype pattern for email addresses
  Cargo.lock
  crates/api_models/src/admin.rs
  crates/api_models/src/customers.rs
  crates/api_models/src/payments.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/pii.rs
  crates/router/src/compatibility/stripe/customers/types.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/dlocal/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/types.rs
  crates/router/src/types/api/customers.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/zen.rs
  crates/storage_models/src/customers.rs
Labels: A-core, C-refactor, S-ready-for-merge

#1022 refactor(compatibility): refactor stripe compatibility routes using `web::resource`
  crates/router/src/compatibility/stripe/app.rs
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
Labels: A-connector-compatibility, C-refactor, S-ready-for-merge

#1044 refactor(router): add the `connector_label` field to `DuplicateMerchantConnectorAccount` error message
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors/api_error_response.rs
Labels: A-core, C-refactor, S-ready-for-merge

#970 feat(connector): add dummy connector template code
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/Cargo.toml
  crates/api_models/src/enums.rs
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/dummyconnector/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/dummyconnector.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, M-configuration-changes, S-ready-for-merge

#1051 fix: impl `Drop` for `RedisConnectionPool`
  crates/drainer/src/main.rs
  crates/drainer/src/services.rs
  crates/redis_interface/src/lib.rs
  crates/router/src/bin/router.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/db.rs
  crates/router/src/lib.rs
  crates/router/tests/utils.rs
Labels: A-core, S-ready-for-merge

#1054 fix(connector) : [worldline] fix worldline unit test
  crates/router/tests/connectors/worldline.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge, R-waiting-on-L2

#897 feat(compatibility): add mandates support in stripe compatibility
  config/development.toml
  crates/common_utils/src/ext_traits.rs
  crates/router/src/compatibility/stripe.rs
  crates/router/src/compatibility/stripe/app.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/types.rs
Labels: A-connector-compatibility, C-feature, S-ready-for-merge

#1032 fix(mandate): make payment_method_data optional for mandate scenario
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, A-payment-methods, S-ready-for-merge

#980 feat(connector): add payment routes for dummy connector
  config/development.toml
  crates/redis_interface/src/commands.rs
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/dummy_connector.rs
  crates/router/src/routes/dummy_connector/errors.rs
  crates/router/src/routes/dummy_connector/types.rs
  crates/router/src/routes/dummy_connector/utils.rs
Labels: A-connector-integration, C-feature, M-configuration-changes, S-ready-for-merge

#1056 ci(migrations): add diesel migrations validations
  .github/workflows/migration-check.yaml
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/schema.rs
  migrations/2023-01-20-113235_add_attempt_id_to_payment_intent/down.sql
  migrations/2023-02-28-072631_ang-currency/down.sql
  migrations/2023-02-28-112730_add_refund_webhook_types/down.sql
Labels: A-CI-CD, S-ready-for-merge

#1072 fix(common_utils): manually implement diesel queryable for email newtype
  crates/common_utils/src/pii.rs
Labels: A-core, C-bug, S-ready-for-merge, R-L1-completed

#1057 feat(connector): [Bluesnap] add cards 3DS support
  config/development.toml
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/utils.rs
Labels: A-connector-integration, A-core, C-feature, P-high, S-ready-for-merge, R-L1-completed, R-L2-completed

#1065 fix(connector): [ACI] Add amount currency conversion and update error codes
  crates/router/src/connector/aci/result_codes.rs
  crates/router/src/connector/aci/transformers.rs
Labels: A-connector-integration, C-bug, P-high, S-ready-for-merge, R-L1-completed

#1074 enhancement(common_utils): impl from for email newtype
  Cargo.lock
  crates/common_utils/src/pii.rs
Labels: A-core, S-waiting-on-review, C-refactor, R-waiting-on-L1

#1075 docs(changelog): add changelog for v0.5.9 & v0.5.10
  CHANGELOG.md
  Cargo.lock
Labels: C-doc

#1077 fix(mandate): fix payment_method_data becoming empty when mandate_id is not present
  crates/router/src/core/payments/transformers.rs
Labels: C-bug, S-waiting-on-review

#1080 fix(router): fix recursion bug in straight through algorithm
  Cargo.lock
  crates/api_models/src/admin.rs
Labels: A-core, C-bug, S-waiting-on-review, R-waiting-on-L1

#1090 fix(applepay): rename applepay_session_response to lowercase
  crates/api_models/src/payments.rs
Labels: A-connector-compatibility, C-bug, S-ready-for-merge, M-api-contract-changes

#1046 feat(connector): Mandates for alternate payment methods via Adyen
  config/development.toml
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/adyen_ui.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/selenium.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
Labels: A-connector-integration, A-core, C-feature, S-ready-for-merge

#1027 feat: Allow payment cancels for more statuses
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/routes/payments.rs
Labels: A-core, C-feature, S-ready-for-merge, R-L2-completed

#1076 chore(CODEOWNERS): update CODEOWNERS
  .github/CODEOWNERS
Labels: C-doc

#1021 feat(connector): add dispute and refund webhooks for Airwallex
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/airwallex/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1033 feat(Connector):[Adyen]Implement ACH Direct Debits for Adyen
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, S-ready-for-merge, M-api-contract-changes, R-L1-completed

#1048 feat(Connector): [Stripe] Implemented Alipay Digital Wallet
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, R-L1-completed

#1060 feat(connector) : add bank redirect support for worldline
  Cargo.lock
  crates/api_models/src/enums.rs
  crates/router/src/connector/worldline/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, R-L1-completed

#1049 feat(Connector): [Stripe] Implement Wechatpay Digital Wallet
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, R-L1-completed

#1082 fix(tests): Remove ui tests from ci pipeline
  .github/workflows/connector-sanity-tests.yml
  crates/router/tests/connectors/stripe_ui.rs
Labels: A-CI-CD, A-connector-integration, C-bug, S-ready-for-merge

#1055 feat(connector): [Adyen] Implement SEPA Direct debits for Adyen
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, S-ready-for-merge, M-api-contract-changes, R-L1-completed

#1099 ci(connector-sanity-tests): fix invalid YAML syntax
  .github/workflows/connector-sanity-tests.yml
Labels: A-CI-CD, A-connector-integration, C-bug, S-ready-for-merge

#1078 docs(changelog): adding changelog for v0.5.10
  CHANGELOG.md
Labels: C-doc

#1106 ci(connector-sanity-tests): fix no tests being run
  .github/workflows/connector-sanity-tests.yml
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/shift4.rs
Labels: A-CI-CD, A-connector-integration, C-bug, S-ready-for-merge

#1098 refactor(router): add `id` field in `MerchantConnectorAccountNotFound`
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-refactor, S-ready-for-merge, M-api-contract-changes

#1062 revert: refactor(merchant_account): add back `api_key` field for backward compatibility (#761)
  crates/api_models/src/admin.rs
  crates/router/src/core/admin.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/routes/admin.rs
  crates/router/src/types/api/admin.rs
  crates/storage_models/src/merchant_account.rs
  crates/storage_models/src/schema.rs
  migrations/2023-03-16-132604_merchant_account_temp_add_api_key/down.sql
  migrations/2023-03-16-132604_merchant_account_temp_add_api_key/up.sql
Labels: A-core, M-database-changes, C-refactor, S-ready-for-merge, M-api-contract-changes

#1079 fix(payments): fix address_insert error propagation in get_address_for_payment_request function
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, S-ready-for-merge, A-errors

#1064 Feat(Connector): [ACI] Implement Przelewy24 Bank Redirect
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
Labels: A-connector-integration, S-ready-for-merge, M-api-contract-changes, R-L1-completed

#1120 feat(pm_list): add pm list support for bank_debits
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, M-api-contract-changes

#1122 fix(mandate): only trigger mandate procedure on successful connector call
  crates/router/src/core/mandate.rs
Labels: A-core, C-bug, S-ready-for-merge, R-L1-completed

#771 feat(connector): add connector nmi with card, applepay and googlepay support
  Cargo.lock
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/ext_traits.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/nmi.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/utils.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, S-ready-for-merge, R-L1-completed, R-L2-completed

#1126 fix(router): fix webhooks flow for checkout connector
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review, R-waiting-on-L2, R-L1-completed

#1108 feat(connector): [ACI] Implement Interac Online Bank Redirect
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, R-L1-completed

#1124 fix(connector): fix checkout error response type
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1127 refactor(api_models): remove unused mapping of attempt status to intent status
  crates/api_models/src/enums.rs
Labels: S-waiting-on-review, C-refactor

#1125 fix(google_pay): allow custom fields in `GpayTokenParameters` for google pay via stripe
  crates/api_models/src/payments.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#911 refactor(errors): add parsing error types for context info
  crates/common_utils/src/errors.rs
  crates/common_utils/src/ext_traits.rs
  crates/redis_interface/src/commands.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/db.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/scheduler/types/batch.rs
  crates/router/src/utils.rs
  crates/router/src/utils/ext_traits.rs
Labels: C-feature, S-ready-for-merge, A-errors

#1135 docs(changelog): add changelog for 0.5.12
  CHANGELOG.md
Labels: C-doc

#1137 fix: Convert GooglePay Session token amount and ignore 3DS for Bluesnap wallets
  crates/api_models/src/payments.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-connector-integration, A-core, C-bug, P-high, S-waiting-on-review, R-waiting-on-L1, R-waiting-on-L2

#1084 feat(connector): add payment, refund urls for dummy connector
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/dummyconnector/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review, R-waiting-on-L2

#1131 ci(workflows): add PR title check to verify conformance to conventional commit standards
  .github/workflows/conventional-commit-check.yml
Labels: A-CI-CD, C-feature

#1152 ci(conventional-commit-check): run checks on being added to queue
  .github/workflows/conventional-commit-check.yml
Labels: A-CI-CD, C-bug, S-waiting-on-review

#1130 feat(connector): [ACI] Implement Trustly Bank Redirect
  Cargo.lock
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-api-contract-changes, R-waiting-on-L2, R-L1-completed

#1104 feat(error): add feature-gated stacktrace to error received from API
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/api_models/src/errors/types.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/services/api.rs
Labels: S-ready-for-merge, M-api-contract-changes, A-errors

#1146 feat(error): add `DateTimeParsingError` and `EmailParsingError` variants to `ParsingError` enum
  crates/common_utils/src/errors.rs
Labels: C-feature, S-ready-for-merge, A-errors

#1070 feat(router): add attach dispute evidence api
  crates/router/src/core/disputes.rs
  crates/router/src/core/disputes/transformers.rs
  crates/router/src/core/metrics.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/disputes/utils.rs
  crates/router/src/types/api/disputes.rs
  crates/router_env/src/logger/types.rs
  crates/storage_models/src/dispute.rs
  crates/storage_models/src/schema.rs
  migrations/2023-05-05-112013_add_evidence_col_in_dispute/down.sql
  migrations/2023-05-05-112013_add_evidence_col_in_dispute/up.sql
Labels: A-core, C-feature, M-database-changes, S-ready-for-merge, M-api-contract-changes, R-L1-completed

#1149 fix(connector): [Adyen] fix status mapping for Adyen authorize, capture, refund API
  crates/router/src/connector/adyen/transformers.rs
  crates/router/tests/connectors/adyen.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge, R-L1-completed

#1147 feat(connector): add multiple dummy connectors and enable them
  crates/api_models/src/enums.rs
  crates/router/Cargo.toml
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/dummyconnector.rs
Labels: A-connector-compatibility, C-feature, S-ready-for-merge

#1132 fix(connector): fix Stripe status to attempt status map
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1140 feat(connector): [ACI] Implement Alipay and MB WAY Wallets
  crates/router/src/connector/aci/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, M-api-contract-changes, R-waiting-on-L2, R-L1-completed

#964 feat(payment_request): add field `amount` to `OrderDetails` and make `order_details` a `Vec` in `payments_create` request
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/zen.rs
  crates/storage_models/src/payment_intent.rs
  crates/storage_models/src/schema.rs
  migrations/2023-05-12-103127_payment_intent.sql/down.sql
  migrations/2023-05-12-103127_payment_intent.sql/up.sql
Labels: A-connector-compatibility, C-feature, M-database-changes, S-ready-for-merge, M-api-contract-changes

#1150 refactor(connector): update error handling for Paypal, Checkout, Mollie to include detailed messages
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/mollie.rs
  crates/router/src/connector/paypal.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/sample_auth.toml
Labels: A-connector-integration, C-refactor, S-ready-for-merge

#1168 fix(connector): [Checkout] Change error handling condition for empty response
  crates/router/src/connector/checkout.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1169 feat(connector): [Stripe] implement Bancontact Bank Redirect for stripe
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, M-api-contract-changes

#1164 feat(connector): [Noon] Add script generated template code
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/noon.rs
  crates/router/tests/connectors/sample_auth.toml
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1159 feat(connector): [Adyen] implement BACS Direct Debits for Adyen
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge, M-api-contract-changes

#1166 docs(CHANGELOG): add changelog for 0.5.13
  CHANGELOG.md
Labels: C-doc, S-waiting-on-review

#1175 fix(connector): change payment method handling in dummy connector
  crates/router/src/connector/dummyconnector.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1177 docs: add changelog for v0.5.14
  CHANGELOG.md
Labels: C-doc

#1101 feat(router): implement `ApiKeyInterface` for `MockDb`
  crates/router/src/db.rs
  crates/router/src/db/api_keys.rs
  crates/storage_models/src/api_keys.rs
Labels: A-framework, C-feature, S-ready-for-merge

#1141 fix(merchant_connector_account): add validation for the `disabled` flag
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-bug, S-ready-for-merge, R-L1-completed

#1162 fix(router): aggregate critical hotfixes for v0.5.10
  crates/api_models/src/payments.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug, S-ready-for-merge, R-L2-completed

#1176 feat(connector): [Authorizedotnet] implement payment and refund webhook flow for Authorizedotnet
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#1178 feat(connector): [Bluesnap] Add support for ApplePay
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/types.rs
Labels: A-connector-integration, A-payment-methods, S-ready-for-merge

#1143 feat(router): add mandates list api
  crates/api_models/src/mandates.rs
  crates/router/src/core/mandate.rs
  crates/router/src/db/mandate.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/types/storage/mandate.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, C-feature, S-ready-for-merge, M-api-contract-changes

#1197 fix(connector): [Checkout] Fix incoming webhook event mapping
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#1180 fix(utils): fix bug in email validation
  crates/common_utils/src/pii.rs
Labels: C-bug, S-ready-for-merge

#1193 fix(router): outgoing webhook api call
  crates/api_models/src/webhooks.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/refunds/types.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/services/api.rs
Labels: A-core, C-bug, S-ready-for-merge

#1203 revert: fix(connector): Added signifyd to routableconnectors for frm
  crates/api_models/src/enums.rs
Labels: S-waiting-on-review, C-refactor, M-api-contract-changes

#1186 fix(router): add dummy connector url to proxy bypass
  crates/router/src/services/api.rs
Labels: A-core, C-refactor, S-ready-for-merge

#1205 feat(connector): add Interac as Payment Method Type
  Cargo.lock
  crates/api_models/src/enums.rs
  crates/storage_models/src/enums.rs
Labels: A-connector-integration, C-feature, M-database-changes, M-api-contract-changes

#1171 feat(connector): [Authorizedotnet] implement Capture flow and webhooks for Authorizedotnet
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/tests/connectors/authorizedotnet.rs
Labels: A-connector-integration, C-feature, S-ready-for-merge

#1202 fix: handle unique constraint violation error gracefully
  crates/router/src/core/payment_methods/vault.rs
Labels: A-process-tracker, C-bug, A-payment-methods, S-ready-for-merge

#1194 feat(traces): add support for aws xray
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router_env/src/logger/config.rs
  crates/router_env/src/logger/setup.rs
Labels: C-feature, S-waiting-on-review, M-configuration-changes, R-waiting-on-L1, R-L2-completed

#1206 feat(redis_interface): implement `MGET` command
  crates/redis_interface/src/commands.rs
Labels: A-core, C-feature

#1133 fix(core): add ephemeral key to payment_create response when customer_id is mentioned
  Cargo.lock
  crates/api_models/src/ephemeral_key.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/ephemeral_key.rs
  crates/storage_models/src/ephemeral_key.rs
Labels: A-core, C-bug, S-ready-for-merge, M-api-contract-changes

#965 feat(pm_list): Add support for bank transfers in pm list
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, C-feature, S-waiting-on-review

#968 feat(db): implement `AddressInterface` for `MockDb`
  Cargo.lock
  crates/router/src/db.rs
  crates/router/src/db/address.rs
  crates/storage_models/src/address.rs
Labels: A-framework, C-feature, S-waiting-on-review

#905 feat: ACH transfers
  crates/api_models/src/enums.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/webhooks.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/verfiy_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/payment_attempt.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/bitpay.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/opennode.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  crates/storage_models/src/enums.rs
  crates/storage_models/src/payment_attempt.rs
  crates/storage_models/src/query/payment_attempt.rs
  crates/storage_models/src/schema.rs
  migrations/2023-04-20-162755_add_preprocessing_step_id_payment_attempt/down.sql
  migrations/2023-04-20-162755_add_preprocessing_step_id_payment_attempt/up.sql
Labels: A-core, C-feature, A-payment-methods, S-ready-for-merge

#1213 chore(git-cliff): simplify `git-cliff` config files
  .github/git-cliff-changelog.toml
  .github/git-cliff-release.toml
Labels: C-doc

#930 feat: SEPA and BACS bank transfers through stripe
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/webhooks.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/types/transformers.rs
Labels: A-core, C-feature, S-ready-for-merge, M-api-contract-changes

#1052 refactor: use `strum::EnumString` implementation for connector name conversions
  crates/api_models/src/enums.rs
  crates/router/src/types/api.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/tests/connectors/noon.rs
  crates/router/tests/connectors/payeezy.rs
Labels: A-core, C-refactor, S-ready-for-merge

#1219 ci(conventional-commit-check): fix checks being skipped for PRs
  .github/workflows/conventional-commit-check.yml
Labels: A-CI-CD, C-bug, S-waiting-on-review

#1232 refactor(core): generate response hash key if not specified in create merchant account request
  crates/router/src/core/admin.rs
Labels: A-core, C-refactor, S-ready-for-merge

#1215 test(connector): [Stripe] Fix redirection UI tests
  crates/router/tests/connectors/stripe_ui.rs
Labels: C-bug, S-ready-for-merge

#1230 fix: remove multiple call to locker
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug, S-ready-for-merge

#1238 fix(list): add mandate type in payment_method_list
  Cargo.lock
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, A-payment-methods, S-ready-for-merge, M-api-contract-changes

#1207 feat(connector): [Noon] Add Card Payments, Capture, Void and Refund
  crates/api_models/src/enums.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/noon.rs
  crates/router/tests/connectors/sample_auth.toml
Labels: A-connector-integration, C-feature, S-ready-for-merge, R-waiting-on-L1, R-waiting-on-L2

#1240 fix: populate meta_data in payment_intent
  crates/router/src/core/payments/operations/payment_create.rs
Labels: A-core, C-bug, P-high

#1234 refactor: make NextAction as enum
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/openapi.rs
  crates/router/src/types/api/payments.rs
Labels: A-core, S-ready-for-merge, M-api-contract-changes

#1251 Refactor(router): router_parameters field inclusion
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
Labels: C-refactor, S-ready-for-merge, R-L1-completed

#1262 feat(router): implement `CardsInfoInterface` for `MockDB`
  crates/router/src/db.rs
  crates/router/src/db/cards_info.rs
Labels: A-framework, C-feature, S-ready-for-merge

#1261 fix(connector): [Authorizedotnet]Fix webhooks
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-bug

#1259 feat(metrics): add flow-specific metrics
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/customers.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/routes/metrics.rs
Labels: A-framework, S-waiting-on-review

#1264 feat(kms): reduce redundant kms calls
  crates/router/src/configs.rs
  crates/router/src/configs/kms.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/routes/app.rs
Labels: A-framework, A-core, S-waiting-on-review

#1263 feat(metrics): add response metrics
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/routes/metrics/request.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router_env/src/logger/types.rs
Labels: A-framework, S-ready-for-merge

#1268 fix(refund): change amount to refund_amount
  connector-template/transformers.rs
  crates/router/src/connector/bitpay/transformers.rs
  crates/router/src/connector/iatapay/transformers.rs
Labels: C-bug, S-waiting-on-approval

#1237 fix(kms): add metrics to external_services kms
  Cargo.lock
  crates/external_services/src/kms.rs
  crates/external_services/src/lib.rs
Labels: A-framework, A-core, S-ready-for-merge

#1247 feat(logging): logging the request payload during `BeginRequest`
  Cargo.lock
  crates/router/src/services/api.rs
Labels: A-core, S-ready-for-merge

#1274 refactor(configs): make kms module and KmsDecrypt pub
  crates/router/src/configs.rs
  crates/router/src/configs/kms.rs
Labels: C-refactor

#1270 fix: invalidation of in-memory cache
  crates/router/src/cache.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/services.rs
Labels: A-core, S-waiting-on-review, R-waiting-on-L1

#1279 revert(order_details): revert back `order_details` to be an object, and removing `meta_data` from `PaymentIntent`
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/payment_intent.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/zen.rs
  crates/storage_models/src/payment_intent.rs
  crates/storage_models/src/schema.rs
  migrations/2023-05-12-103127_payment_intent.sql/down.sql
  migrations/2023-05-12-103127_payment_intent.sql/up.sql
Labels: A-connector-compatibility, M-database-changes, S-waiting-on-approval, M-api-contract-changes

#1287 build(deps): bump `diesel` from `2.0.3` to `2.1.0`
  Cargo.lock
  crates/common_enums/Cargo.toml
  crates/common_utils/Cargo.toml
  crates/common_utils/src/pii.rs
  crates/drainer/Cargo.toml
  crates/masking/Cargo.toml
  crates/masking/src/diesel.rs
  crates/router/Cargo.toml
  crates/router_derive/Cargo.toml
  crates/storage_models/Cargo.toml
  crates/storage_models/src/api_keys.rs
  crates/storage_models/src/enums.rs
  crates/storage_models/src/lib.rs
  crates/storage_models/src/schema.rs
Labels: A-dependencies, A-framework, S-waiting-on-review, M-database-changes

#1249 feat(core): add signature to outgoing webhooks
  crates/router/src/core/errors.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/lib.rs
Labels: A-core, C-feature, S-ready-for-merge, R-L1-completed

#1297 feat: use subscriber client for subscription in pubsub
  crates/redis_interface/Cargo.toml
  crates/redis_interface/src/lib.rs
  crates/router/src/services.rs
Labels: A-core, S-waiting-on-review

#1305 fix(router/webhooks): use api error response for returning errors from webhooks core
  Cargo.lock
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/utils.rs
Labels: A-core, C-bug, S-waiting-on-review, R-waiting-on-L1

#1221 fix(connector): [Checkout] Fix error message in error handling
  crates/router/src/connector/checkout.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1151 refactor(connector): update error handling for Nexinets, Cybersource
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/nexinets.rs
  crates/router/tests/connectors/connector_auth.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/nexinets.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor, R-waiting-on-L2

#1252 fix(connector): [coinbase] remove non-mandatory fields
  crates/router/src/connector/coinbase/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1258 fix(connector): [Rapyd] Fix payment response structure
  crates/router/src/connector/rapyd/transformers.rs
Labels: A-connector-integration, C-bug, S-ready-for-merge

#1222 refactor(core): Add 'redirect_response' field to CompleteAuthorizeData
  crates/api_models/src/payments.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
Labels: A-core, C-refactor, S-ready-for-merge

#1292 fix(router): subscriber return type
  crates/router/src/services.rs
Labels: A-framework, C-bug, S-ready-for-merge

#1216 docs: Add changelog to 0.5.15
  CHANGELOG.md
Labels: C-doc, S-ready-for-merge

#1302 refactor(core): use HMAC-SHA512 to calculate payments response hash
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/lib.rs
Labels: A-core, C-refactor, S-ready-for-merge, M-api-contract-changes

#1244 fix(error): propagate MissingRequiredFields api_error
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/utils.rs
Labels: C-bug, S-ready-for-merge, A-errors

#1289 feat(db): implement `EventInterface` for `MockDb`
  crates/router/src/db.rs
  crates/router/src/db/events.rs
Labels: A-framework, C-feature, S-waiting-on-review
