Repository juspay/hyperswitch, pull requests merged in 2024-06, with the labels that each got.

#4844 chore(cypress): remove logs that expose `globalState`
  cypress-tests/cypress/e2e/ConnectorTest/00000-AccountCreate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00001-CustomerCreate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00002-ConnectorCreate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00003-NoThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00004-ThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00005-NoThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00006-VoidPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00007-SyncPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00008-RefundPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00009-SyncRefund.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00010-CreateSingleuseMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00011-CreateMultiuseMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00012-ListAndRevokeMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00013-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00014-ZeroAuthMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00015-ThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00016-BankTransfers.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00017-BankRedirect.cy.js
Labels: A-CI-CD, S-waiting-on-review

#4827 fix(connector): make few fields optional in struct NetceteraErrorDetails
  crates/router/src/connector/netcetera.rs
  crates/router/src/connector/netcetera/transformers.rs
Labels: A-connector-integration, S-waiting-on-review

#4836 refactor(connector): [Klarna] Add shipping Address in Klarna Session and Payment Request
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-refactor

#4798 feat(consolidated-kafka-events): add consolidated kafka payment events
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/events.rs
  crates/router/src/services/kafka.rs
  crates/router/src/services/kafka/dispute_event.rs
  crates/router/src/services/kafka/payment_attempt_event.rs
  crates/router/src/services/kafka/payment_intent_event.rs
  crates/router/src/services/kafka/refund_event.rs
Labels: A-Analytics

#4828 feat(router): send `three_ds_requestor_url` in authentication_response for external 3ds flow
  crates/api_models/src/payments.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/payments.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review

#4841 feat(connector): [AUTHORIZEDOTNET] Support payment_method_id in recurring mandate payment
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-feature

#4776 feat(users): Create config for TOTP Issuer
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/user.rs
  crates/router/src/utils/user/two_factor_auth.rs
  loadtest/config/development.toml
Labels: C-feature, S-waiting-on-review, A-users

#4851 refactor(users): Changes for Home and Signout APIs for TOTP Redis flows
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/utils/user/two_factor_auth.rs
Labels: S-waiting-on-review, C-refactor, A-users

#4858 fix(connector): [Adyen]add required fields for afterpay clearpay
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#4862 refactor(connector): [Adyen] handle redirection error response
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-refactor

#4744 feat(cypress): Add service level testing for Payouts
  cypress-tests/cypress/e2e/ConnectorTest/00001-CustomerCreate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00005-NoThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00006-VoidPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00008-RefundPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00009-SyncRefund.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00010-CreateSingleuseMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00011-CreateMultiuseMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00012-ListAndRevokeMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00013-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00014-ZeroAuthMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00015-ThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/ConnectorUtils/Bluesnap.js
  cypress-tests/cypress/e2e/ConnectorUtils/Cybersource.js
  cypress-tests/cypress/e2e/ConnectorUtils/Nmi.js
  cypress-tests/cypress/e2e/ConnectorUtils/Paypal.js
  cypress-tests/cypress/e2e/ConnectorUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentTest/00000-AccountCreate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00001-CustomerCreate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00002-ConnectorCreate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00003-NoThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00004-ThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00005-NoThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00006-VoidPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00007-SyncPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00008-RefundPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00009-SyncRefund.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00010-CreateSingleuseMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00011-CreateMultiuseMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00012-ListAndRevokeMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00013-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00014-ZeroAuthMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00015-ThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00016-BankTransfers.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00017-BankRedirect.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/PaymentUtils/Bluesnap.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Nmi.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/e2e/PaymentUtils/utils.js
  cypress-tests/cypress/e2e/PayoutTest/00000-AccountCreate.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00001-CustomerCreate.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00002-ConnectorCreate.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00003-CardTest.cy.js
  cypress-tests/cypress/e2e/PayoutUtils/Adyen.js
  cypress-tests/cypress/e2e/PayoutUtils/utils.js
  cypress-tests/cypress/fixtures/create-payout-confirm-body.json
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/e2e.js
  cypress-tests/cypress/support/redirectionhandler.js
  cypress-tests/cypress/utils/State.js
  cypress-tests/package.json
  cypress-tests/readme.md
Labels: C-feature, C-test

#4846 fix(cypress): fix `redirectionHandler` from failing to compile
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/support/redirectionHandler.js
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD, S-waiting-on-review

#4868 chore(euclid_wasm): paypal metadata
  crates/connector_configs/src/transformer.rs
Labels: S-waiting-on-review, A-euclid-foc

#4864 feat(router): add `request_external_three_ds_authentication` flag in payment_method_list_response
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-api-contract-changes

#4853 feat(connector): [CRYPTOPAY] Make payment_method_data.crypto.network as enum
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature

#4876 refactor(connector): [Klarna] Add support for Klarna Optional Shipping Address
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-refactor

#4863 Fix(connector): [ZSL] capture connector transaction ID
  crates/router/src/connector/zsl/transformers.rs
Labels: A-connector-integration, C-bug

#4696 feat(core): Create Payout Webhook Flow
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/payout_attempt.rs
  crates/diesel_models/src/query/payout_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payouts/payout_attempt.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/ebanx/transformers.rs
  crates/router/src/connector/payone/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers/connect.rs
  crates/router/src/connector/wise.rs
  crates/router/src/connector/wise/transformers.rs
  crates/router/src/core/metrics.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/retry.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/events/outgoing_webhook_logs.rs
  crates/router/src/services/kafka/payout.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/wise.rs
  crates/storage_impl/src/mock_db/payout_attempt.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
  migrations/2024-05-16-133628_make_connector_payout_id_nullalble/down.sql
  migrations/2024-05-16-133628_make_connector_payout_id_nullalble/up.sql
  migrations/2024-05-19-144009_add_new_value_to_event_type/down.sql
  migrations/2024-05-19-144009_add_new_value_to_event_type/up.sql
  migrations/2024-05-27-190323_add_new_status_to_payout_status/down.sql
  migrations/2024-05-27-190323_add_new_status_to_payout_status/up.sql
  migrations/2024-06-04-140449_create_index_for_connector_payout_id_and_merchant_id_in_payout_attempt/down.sql
  migrations/2024-06-04-140449_create_index_for_connector_payout_id_and_merchant_id_in_payout_attempt/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature

#4885 fix(connector): [Adyen]add configs for afterpay adyen
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-bug, M-configuration-changes

#4562 chore(users): email templates updated
  crates/router/src/services/email/assets/api_key_expiry_reminder.html
  crates/router/src/services/email/assets/bizemailprod.html
  crates/router/src/services/email/assets/invite.html
  crates/router/src/services/email/assets/magic_link.html
  crates/router/src/services/email/assets/recon_activation.html
  crates/router/src/services/email/assets/reset.html
  crates/router/src/services/email/assets/verify.html
  crates/router/src/services/email/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#4888 fix(users): Populate correct `org_id` for Internal Signup
  crates/router/src/core/user.rs
  crates/router/src/types/domain/user.rs
Labels: C-bug, S-waiting-on-review, A-users

#4781 feat(multitenancy): move users and tenants to global schema
  crates/common_utils/src/consts.rs
  crates/diesel_models/src/query/user.rs
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/analytics.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/recon.rs
  crates/router/src/services.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
Labels: A-core, A-users

#4845 Refactor(core): Inclusion of constraint graph for merchant Payment Method list
  crates/euclid/src/enums.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/utils.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: A-core, C-refactor, A-constraint-graph

#4892 refactor(business_profile): add `collect_shipping_details_from_wallet_connector` in the business profile response
  crates/api_models/src/admin.rs
  crates/router/src/types/api/admin.rs
  openapi/openapi_spec.json
Labels: C-refactor, A-payments

#4815 refactor(connector): [BOA/CYBS] add customer token for mandates and refactor psync
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review

#4891 refactor(connector): [KLARNA] Add dynamic fields for klarna payment method
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-refactor

#4790 feat(router): add an api to migrate the apple pay certificates from connector metadata to `connector_wallets_details` column in merchant connector account
  crates/api_models/src/apple_pay_certificates_migration.rs
  crates/api_models/src/events.rs
  crates/api_models/src/events/apple_pay_certificates_migration.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/events.rs
  crates/connector_configs/src/connector.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/query/generics.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/apple_pay_certificates_migration.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/verification/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/apple_pay_certificates_migration.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/domain/payments.rs
  crates/router/src/utils.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/errors.rs
  migrations/2024-05-28-054439_connector_wallets_details/down.sql
  migrations/2024-05-28-054439_connector_wallets_details/up.sql
  openapi/openapi_spec.json
Labels: A-core, A-payment-methods

#4870 refactor(webhooks): extract incoming and outgoing webhooks into separate modules
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/routes/webhooks.rs
Labels: S-waiting-on-review, C-refactor, A-webhooks

#4772 ci(cypress): Add bank redirects for stripe
  cypress-tests/cypress/e2e/PaymentTest/00017-BankRedirect.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/fixtures/create-connector-body.json
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, S-waiting-on-review

#4875 feat(events): add metadata info to events
  crates/events/src/lib.rs
  crates/router/src/events.rs
  crates/router/src/events/event_logger.rs
  crates/router/src/middleware.rs
  crates/router/src/services/kafka.rs
Labels: A-framework, C-feature, A-Analytics

#4898 fix(connectors): [BOA/CYBS] make avs code optional
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#4592 feat(connector): [MIFINITY] Implement payment flows and Mifinity payment method
  Cargo.lock
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/src/response_modifier.rs
  crates/connector_configs/src/transformer.rs
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/kgraph_utils/src/mca.rs
  crates/kgraph_utils/src/transformers.rs
  crates/masking/Cargo.toml
  crates/masking/src/serde.rs
  crates/openapi/src/openapi.rs
  crates/router/Cargo.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/boku/transformers.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/globepay/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/mifinity.rs
  crates/router/src/connector/mifinity/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/square/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/lib.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api.rs
  crates/router/src/types/domain/payments.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/mifinity.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature

#4878 refactor(connector): convert init payment flow to preprocessing flow for nuvei
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
Labels: S-waiting-on-review, C-refactor

#4835 feat(router): add `acquirer_country_code` in acquirer_details and send it in netcetera authentication flow
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/src/response_modifier.rs
  crates/connector_configs/src/transformer.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
  crates/diesel_models/src/authentication.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/router_request_types/authentication.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/core/authentication/types.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/db/authentication.rs
  crates/router/src/types/api/authentication.rs
  migrations/2024-05-31-074402_add_acquirer_country_code_in_authentication/down.sql
  migrations/2024-05-31-074402_add_acquirer_country_code_in_authentication/up.sql
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes

#4895 chore(config): [MIFINITY] add configs for Mifinity in WASM
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, M-configuration-changes

#4894 refactor(outgoing_webhooks): raise errors in the analytics pipeline in case of API client errors or non-2xx responses
  crates/router/src/core/webhooks/outgoing.rs
Labels: S-waiting-on-review, C-refactor, A-webhooks

#4908 feat(connector): [BOA] Handle refund status 201
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-bug

#4768 feat(Cypress): Add routing test
  cypress-tests/cypress/e2e/RoutingTest/00000-AccountCreate.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00001-CustomerCreate.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00002-ConnectorMultipleCreate.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00003-PaymentRoutingTest.cy.js
  cypress-tests/cypress/e2e/RoutingUtils/Stripe.js
  cypress-tests/cypress/e2e/RoutingUtils/utils.js
  cypress-tests/cypress/fixtures/create-connector-body.json
  cypress-tests/cypress/fixtures/routing-config-body.json
  cypress-tests/cypress/support/commands.js
  cypress-tests/package.json
Labels: C-feature, C-test

#4900 refactor(payout): move payout quote call to payout core from execute_pretasks
  add_connector.md
  crates/api_models/src/enums.rs
  crates/router/src/connector/wise.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/retry.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/utils.rs
Labels: S-waiting-on-review, C-refactor

#4911 feat(connector): [BOA] Handle refund status 201
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-bug

#4912 feat(connector): [BOA] Handle refund status 201
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-bug

#4915 feat(connector): [BOA/CYB] Make state,zip optional for Non US CA Txns
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature

#4920 feat(connector): [BOA/CYB] Make state,zip optional for Non US CA Txns
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature

#4794 fix(payment_methods): filter the apple pay retryable connectors for a specific business profile with default fallback configuration
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug, A-payment-methods

#4919 fix(payments): populate payment method data in payments list
  crates/router/src/core/payments/transformers.rs
Labels: C-bug, S-waiting-on-review, A-payments

#4926 feat(connector): [BOA/CYB] Make state,zip optional for Non US CA Txns
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature

#4928 refactor(connector): [CRYPTOPAY] amount conversion framework added
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/cryptopay/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/cryptopay.rs
Labels: A-connector-integration, C-refactor

#4763 feat(events): Add audit events payment confirm
  config/development.toml
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/events/audit_events.rs
Labels: A-framework, A-Analytics

#4897 ci(postman): add users collection
  Cargo.lock
  crates/test_utils/Cargo.toml
  crates/test_utils/src/connector_auth.rs
  crates/test_utils/src/main.rs
  crates/test_utils/src/newman_runner.rs
  postman/collection-dir/users/.event.meta.json
  postman/collection-dir/users/.info.json
  postman/collection-dir/users/.meta.json
  postman/collection-dir/users/.variable.json
  postman/collection-dir/users/Flow Testcases/.meta.json
  postman/collection-dir/users/Flow Testcases/Sign In/.meta.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Token Only Wrong/.event.meta.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Token Only Wrong/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Token Only Wrong/request.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Token Only Wrong/response.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Token Only/.event.meta.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Token Only/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Token Only/request.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Token Only/response.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Wrong/.event.meta.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Wrong/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Wrong/request.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Wrong/response.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin/.event.meta.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin/event.prerequest.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin/request.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin/response.json
  postman/collection-dir/users/Flow Testcases/Sign Up/.meta.json
  postman/collection-dir/users/Flow Testcases/Sign Up/Connect Account/.event.meta.json
  postman/collection-dir/users/Flow Testcases/Sign Up/Connect Account/event.prerequest.js
  postman/collection-dir/users/Flow Testcases/Sign Up/Connect Account/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign Up/Connect Account/request.json
  postman/collection-dir/users/Flow Testcases/Sign Up/Connect Account/response.json
  postman/collection-dir/users/Health check/.meta.json
  postman/collection-dir/users/Health check/New Request/.event.meta.json
  postman/collection-dir/users/Health check/New Request/event.test.js
  postman/collection-dir/users/Health check/New Request/request.json
  postman/collection-dir/users/Health check/New Request/response.json
  postman/collection-dir/users/event.prerequest.js
  postman/collection-dir/users/event.test.js
  postman/collection-json/users.postman_collection.json
Labels: A-CI-CD, S-waiting-on-review, A-users

#4902 refactor(users): Make password nullable in `users` table
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/db/user.rs
  crates/router/src/types/domain/user.rs
  migrations/2024-06-06-101812_user_optional_password/down.sql
  migrations/2024-06-06-101812_user_optional_password/up.sql
Labels: S-waiting-on-review, M-database-changes, C-refactor, A-users

#4925 refactor(business_profile): add `is_connector_agnostic_mit_enabled` in the business profile APIs
  .github/CODEOWNERS
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/types/api/admin.rs
Labels: A-payment-methods, C-refactor, M-api-contract-changes

#4625 ci: use git diff to add `M-database-changes` label for pr that contains migrations and schema changes
  .github/workflows/pr-convention-checks.yml
Labels: A-CI-CD

#4814 refactor(conditional_configs): refactor conditional_configs to use Moka Cache instead of Static Cache
  crates/euclid/src/backend/vir_interpreter.rs
  crates/euclid/src/frontend/vir.rs
  crates/euclid/src/types.rs
  crates/router/src/core/conditional_config.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments/conditional_configs.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/surcharge_decision_config.rs
  crates/router/src/db/merchant_account.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: S-waiting-on-review, A-routing

#4786 refactor(connector): changed amount to minor Unit for stripe
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_utils/src/types.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/stripe.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, S-waiting-on-review, high-risk

#4398 feat(connector): [Multisafepay] Add support for Ideal and Giropay
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/router/src/connector/multisafepay/transformers.rs
Labels: A-connector-integration, S-waiting-on-review, hiring-challenge

#4930 chore(euclid_wasm): update apple pay metadata
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: S-waiting-on-review, A-euclid-foc

#4939 feat(metrics): add support for gauge metrics and include IMC metrics
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/bin/router.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/routes/metrics/bg_metrics_collector.rs
  crates/router_env/src/logger/config.rs
  crates/router_env/src/metrics.rs
  crates/storage_impl/src/redis/cache.rs
Labels: C-feature, S-waiting-on-review, M-configuration-changes

#4949 refactor: wrap the encryption and file storage interface client in appstate with `Arc` as opposed to `Box`
  crates/drainer/src/settings.rs
  crates/external_services/src/file_storage.rs
  crates/external_services/src/managers/encryption_management.rs
  crates/router/src/routes/app.rs
Labels: S-waiting-on-review, C-refactor

#4904 refactor(cypress): fix payouts not running
  cypress-tests/cypress/e2e/PaymentTest/00000-AccountCreate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00001-CustomerCreate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00002-ConnectorCreate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00003-NoThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00004-ThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00005-NoThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00006-VoidPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00007-SyncPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00008-RefundPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00009-SyncRefund.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00010-CreateSingleuseMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00011-CreateMultiuseMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00012-ListAndRevokeMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00013-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00014-ZeroAuthMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00015-ThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00016-BankTransfers.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00017-BankRedirect.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PayoutTest/00002-ConnectorCreate.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00003-CardTest.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00000-AccountCreate.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00001-CustomerCreate.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00002-ConnectorMultipleCreate.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00003-PaymentRoutingTest.cy.js
  cypress-tests/cypress/fixtures/create-connector-body.json
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/redirectionHandler.js
  cypress-tests/readme.md
Labels: A-CI-CD, S-waiting-on-review

#4932 fix: add validation for connector authentication type during mca create and update operation
  crates/router/src/core/admin.rs
Labels: C-bug, S-waiting-on-review

#4825 refactor(connector): add amount conversion framework to bluesnap
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/bluesnap.rs
Labels: A-connector-integration, S-waiting-on-review, high-risk

#4958 chore(env): revert typo in integ env
  config/deployments/integration_test.toml
Labels: A-dependencies, S-waiting-on-review

#4962 refactor(connector): [Mifinity]Move destination_account_number from pmd to Mifinity Metadata
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/src/response_modifier.rs
  crates/connector_configs/src/transformer.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/router/src/connector/mifinity/transformers.rs
Labels: A-connector-integration, C-refactor, M-api-contract-changes

#4951 feat(connector): [BOA/CYB] Make billTo fields optional
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature

#4954 feat(payouts): make payout_type optional in payouts table
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/api_models/src/payouts.rs
  crates/diesel_models/src/payouts.rs
  crates/diesel_models/src/query/payout_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payouts/payouts.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/adyenplatform/transformers/payouts.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/ebanx/transformers.rs
  crates/router/src/connector/payone/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/wise/transformers.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/access_token.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/services/kafka/payout.rs
  crates/router/tests/connectors/utils.rs
  migrations/2024-06-11-133954_make-payout_type-optional-in-payouts/down.sql
  migrations/2024-06-11-133954_make-payout_type-optional-in-payouts/up.sql
Labels: A-core, C-bug, M-database-changes, M-api-contract-changes

#4953 fix(cypress): Add `jwt_token` and `cookie` for routing test
  cypress-tests/cypress/e2e/RoutingTest/00000-AccountCreate.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00000-PaymentRoutingTest.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00001-CustomerCreate.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00002-ConnectorMultipleCreate.cy.js
  cypress-tests/cypress/e2e/RoutingUtils/Common.js
  cypress-tests/cypress/e2e/RoutingUtils/utils.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/utils/State.js
  cypress-tests/package-lock.json
  cypress-tests/package.json
  cypress-tests/readme.md
Labels: C-bug, C-test

#4952 feat(router): include the pre-routing connectors in Apple Pay retries
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/types/storage.rs
Labels: A-payment-methods, A-routing

#4994 refactor(core): make country aggregator nodes weak for list payment methods
  crates/router/src/core/payment_methods/utils.rs
Labels: A-core, C-refactor, A-constraint-graph

#4996 feat(payment_methods): Use Ephemeral auth for pm list and pm delete
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication.rs
Labels: C-feature, A-payment-methods

#4961 chore: introduce RouterDataNew and FlowSpecificData models
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/router_data_new.rs
  crates/hyperswitch_domain_models/src/router_data_new/flow_common_types.rs
Labels: C-refactor

#5003 chore: address Rust 1.79 clippy lints
  crates/analytics/src/query.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/square.rs
  crates/router/tests/connectors/stax.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/wise.rs
Labels: S-waiting-on-review, C-refactor

#4971 fix(users): Magic link is not expiring after one usage
  crates/router/src/core/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
Labels: C-bug, S-waiting-on-review, A-users

#4890 feat(connector): added template code for datatrans
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/datatrans.rs
  crates/router/src/connector/datatrans/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/datatrans.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#5010 feat(router): include the pre-routing connectors in Apple Pay retries
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/types/storage.rs
Labels: A-core, A-payment-methods, A-routing

#4849 chore(process_tracker): use `const` instead of `String` for `business_status`
  crates/diesel_models/src/process_tracker.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/types/storage.rs
  crates/router/src/workflows/api_key_expiry.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router/src/workflows/payment_sync.rs
  crates/scheduler/src/consumer.rs
  crates/scheduler/src/consumer/workflows.rs
  crates/scheduler/src/db/process_tracker.rs
Labels: A-process-tracker, C-refactor

#4946 refactor: Move trait ConnectorIntegration to crate hyperswitch_interfaces
  Cargo.lock
  crates/hyperswitch_interfaces/Cargo.toml
  crates/hyperswitch_interfaces/src/api.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/hyperswitch_interfaces/src/errors.rs
  crates/hyperswitch_interfaces/src/events.rs
  crates/hyperswitch_interfaces/src/events/connector_api_logs.rs
  crates/hyperswitch_interfaces/src/lib.rs
  crates/hyperswitch_interfaces/src/metrics.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/events/connector_api_logs.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router_derive/src/macros/misc.rs
Labels: A-connector-integration, A-core, C-refactor

#5020 feat(connector): [CRYPTOPAY] Make payment_method_data.crypto.network as enum
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature

#5012 chore(docker-compose): pass correct configuration values for running SDK demo app
  docker-compose-development.yml
  docker-compose.yml
Labels: A-infra, C-feature, S-waiting-on-review

#5016 feat(router): Override the `setup_future_usage` to `on_session` based on the merchant config
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, A-payment-methods

#5006 refactor: add basic counter metrics for IMC
  crates/analytics/src/api_event/core.rs
  crates/analytics/src/disputes/core.rs
  crates/analytics/src/metrics/request.rs
  crates/analytics/src/payments/core.rs
  crates/analytics/src/refunds/core.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/hyperswitch_interfaces/src/metrics.rs
  crates/router/src/connector/boku.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/threedsecureio.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/core/payments/customers.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts/access_token.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/routes/metrics/bg_metrics_collector.rs
  crates/router/src/routes/metrics/request.rs
  crates/router/src/services/api.rs
  crates/router/src/utils.rs
  crates/router/src/workflows/api_key_expiry.rs
  crates/router_env/src/metrics.rs
  crates/storage_impl/src/metrics.rs
  crates/storage_impl/src/redis/cache.rs
Labels: S-waiting-on-review, C-refactor

#5019 fix(payment_methods): populate card fields while saving card again during metadata change condition
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/tokenization.rs
Labels: C-bug, S-waiting-on-review, A-payment-methods

#4867 feat(multitenancy): add tenant_id as a field for data pipeline and support individual database for clickhouse
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/lib.rs
  crates/common_utils/src/consts.rs
  crates/diesel_models/src/query/user.rs
  crates/drainer/src/settings.rs
  crates/router/src/configs/settings.rs
  crates/router/src/middleware.rs
  crates/router/src/routes/app.rs
  crates/router/src/services/api.rs
  crates/storage_impl/src/config.rs
  loadtest/config/development.toml
Labels: A-Analytics

#4423 fix(logging): fix stack overflow on recording restricted keys
  crates/router/src/routes/health.rs
  crates/router_env/src/logger/formatter.rs
  crates/router_env/src/logger/storage.rs
Labels: C-bug

#5036 feat(core): Add logger for sessions call failure
  crates/router/src/core/payments.rs
  crates/router/src/services/api.rs
Labels: A-core, C-feature

#4843 refactor(connector): add amount conversion framework for noon
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/noon.rs
Labels: A-connector-integration, A-core, S-waiting-on-review, high-risk

#5038 fix(connector): add local bank redirect type in compatibility layer, default the country to AT for Local Bank Redirect and add creds_identifier in access token
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/connector/iatapay/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/approve_flow.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/incremental_authorization_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/reject_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/refunds.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug

#5023 feat(router): add payment method type duplication check for `google_pay`
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, A-payment-methods

#5044 Refactor(core): reverts the payment method list filtering using constraint graph
  crates/euclid/src/enums.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/utils.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/metrics/bg_metrics_collector.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: A-core, A-constraint-graph

#5043 Refactor(core): reverts the payment method list filtering using constraint graph
  crates/euclid/src/enums.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/utils.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/metrics/bg_metrics_collector.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: A-core

#4989 refactor: introduce ConnectorIntegrationNew and add default implementation for each Connector
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/router_data_v2.rs
  crates/hyperswitch_domain_models/src/router_data_v2/flow_common_types.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/hyperswitch_interfaces/src/connector_integration_v2.rs
  crates/hyperswitch_interfaces/src/consts.rs
  crates/hyperswitch_interfaces/src/lib.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/services.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/api/authentication_v2.rs
  crates/router/src/types/api/disputes.rs
  crates/router/src/types/api/disputes_v2.rs
  crates/router/src/types/api/files.rs
  crates/router/src/types/api/files_v2.rs
  crates/router/src/types/api/fraud_check.rs
  crates/router/src/types/api/fraud_check_v2.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/payments_v2.rs
  crates/router/src/types/api/payouts.rs
  crates/router/src/types/api/payouts_v2.rs
  crates/router/src/types/api/refunds.rs
  crates/router/src/types/api/refunds_v2.rs
Labels: S-waiting-on-review, C-refactor

#5035 ci(cypress): Add Payment Method Id mandate flows
  cypress-tests/cypress/e2e/PaymentTest/00018-MandatesUsingPMID.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/PaymentUtils/Bluesnap.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Nmi.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/fixtures/create-pm-id-mit.json
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#4956 refactor(payment_method): [Klarna] store and populate payment_type for klarna_sdk Paylater in response
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-connector-integration, A-payment-methods, C-refactor

#5056 refactor(connector): [Mifinity]dynamic fields for mifinity
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-refactor

#3286 ci(postman): add net_amount field test cases
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/List Payment Methods for a Merchant/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/List Payment Methods for a Merchant/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/List Payment Methods for a Merchant/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/List Payment Methods for a Merchant/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Confirm/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Confirm/event.prerequest.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Confirm/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Confirm/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Create/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Create/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Create/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Retrieve/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Retrieve/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Retrieve/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/Payments - Retrieve/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/upsert Surcharge rules/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/upsert Surcharge rules/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/upsert Surcharge rules/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment by configuring surcharge rules/upsert Surcharge rules/response.json
Labels: A-CI-CD, S-waiting-on-review

#4668 feat(payment_methods): Implement Process tracker workflow for Payment method Status update
  crates/diesel_models/src/process_tracker.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/types/storage/payment_method.rs
  crates/router/src/workflows.rs
  crates/router/src/workflows/payment_method_status_update.rs
  crates/scheduler/src/utils.rs
Labels: A-process-tracker, C-feature, A-payment-methods

#4999 feat(users): setup user authentication methods schema and apis
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/user_authentication_method.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user_authentication_method.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/db.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_authentication_method.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/user_authentication_method.rs
  crates/router/src/utils/user.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/mock_db.rs
  migrations/2024-06-10-084722_create_user_authentication_methods_table/down.sql
  migrations/2024-06-10-084722_create_user_authentication_methods_table/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes, M-configuration-changes, A-users

#5064 refactor(redis): spawn one subscriber thread for handling all the published messages to different channel
  crates/redis_interface/src/lib.rs
  crates/router/src/db/configs.rs
  crates/router/src/services.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: S-waiting-on-review, C-refactor

#5078 fix(router): avoid considering pre-routing results during `perform_session_token_routing`
  crates/router/src/core/payments.rs
Labels: A-core, A-payment-methods, A-payments

#5076 fix(router): avoid considering pre-routing results during `perform_session_token_routing`
  crates/router/src/core/payments.rs
Labels: A-core, A-payment-methods, A-payments

#4767 Refactor: [Fiserv] Remove Default Case Handling
  crates/router/src/connector/fiserv/transformers.rs
Labels: A-connector-integration, C-refactor

#5067 refactor(events): populate object identifiers in outgoing webhooks analytics events during retries
  crates/common_utils/src/macros.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/events.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/db/events.rs
  crates/router/src/types/domain/event.rs
  crates/router/src/types/storage/events.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  migrations/2024-06-14-145304_events_add_metadata_column/down.sql
  migrations/2024-06-14-145304_events_add_metadata_column/up.sql
Labels: S-waiting-on-review, M-database-changes, C-refactor, A-webhooks, A-Analytics

#5057 feat(core): Added integrity framework for Authorize and Sync flow with connector as Stripe
  crates/api_models/src/errors/types.rs
  crates/common_utils/src/errors.rs
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_interfaces/src/integrity.rs
  crates/hyperswitch_interfaces/src/lib.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
Labels: A-core, C-feature, S-waiting-on-review

#5075 ci(cypress): Fix payment method id for non supported connectors
  cypress-tests/cypress/e2e/PaymentTest/00018-MandatesUsingPMID.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, S-waiting-on-review

#4995 feat(users): Decision manager flow changes for SSO
  crates/common_enums/src/enums.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
Labels: C-feature, S-waiting-on-review, A-users

#5021 feat(ci): add vector to handle logs pipeline
  config/dashboard.toml
  config/prometheus.yaml
  config/vector.yaml
  crates/analytics/src/clickhouse.rs
  docker-compose.yml
Labels: A-infra, C-feature

#4991 feat: added kafka events for authentication create and update
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/analytics/docs/clickhouse/scripts/authentications.sql
  crates/router/src/db/kafka_store.rs
  crates/router/src/events.rs
  crates/router/src/services/kafka.rs
  crates/router/src/services/kafka/authentication.rs
  crates/router/src/services/kafka/authentication_event.rs
Labels: S-waiting-on-review, low-risk, A-Analytics

#5106 fix(access_token): use `merchant_connector_id` in access token
  crates/router/src/core/refunds.rs
Labels: C-bug, S-waiting-on-review

#2744 feat(router): add support for googlepay step up flow
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/connector_configs/src/transformer.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/openapi/src/openapi.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/connectors/payu.rs
  crates/router/tests/connectors/worldpay.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, C-feature, S-waiting-on-author, S-waiting-on-review, M-api-contract-changes, R-waiting-on-L1, A-payments

#5105 fix(payment_methods): use existing field value of `nick_name` in db if not sent during request
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/tokenization.rs
Labels: C-bug, S-waiting-on-review, A-payment-methods

#5087 feat(router): updated `last_used_at` field for apple pay and google pay for CITs
  crates/router/src/core/mandate/helpers.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, A-payment-methods, A-payments

#5118 fix(router): skip serialize if none for assurance_details_required in googlepay session response
  crates/api_models/src/payments.rs
Labels: A-core, C-bug, S-waiting-on-review

#5107 fix(connector): [BOA/CYBS] make risk information message optional
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug

#4833 refactor(connector): add amount framework to payme & Trustpay with googlePay, ApplePay for bluesnap, Noon & Trustpay
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/trustpay.rs
Labels: A-connector-integration, S-waiting-on-review, M-api-contract-changes, high-risk

#5120 feat(email): Add `auth_id` in email types and send `auth_id` in email URLs
  config/config.example.toml
  config/deployments/env_specific.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/user.rs
  crates/external_services/src/email.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/email/types.rs
Labels: C-feature, S-waiting-on-review, M-configuration-changes, C-refactor, A-users

#4857 refactor(connector): added amount conversion framework for cashtocode
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/cashtocode/transformers.rs
  crates/router/src/connector/cryptopay/transformers.rs
  crates/router/src/connector/payme.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/cashtocode.rs
Labels: A-connector-integration, high-risk

#5098 feat: realtime user analytics
  config/dashboard.toml
  config/vector.yaml
  crates/analytics/docs/clickhouse/scripts/sdk_events.sql
  crates/analytics/src/active_payments.rs
  crates/analytics/src/active_payments/accumulator.rs
  crates/analytics/src/active_payments/core.rs
  crates/analytics/src/active_payments/metrics.rs
  crates/analytics/src/active_payments/metrics/active_payments.rs
  crates/analytics/src/auth_events/metrics/authentication_attempt_count.rs
  crates/analytics/src/auth_events/metrics/authentication_success_count.rs
  crates/analytics/src/auth_events/metrics/challenge_flow_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_flow_count.rs
  crates/analytics/src/auth_events/metrics/three_ds_sdk_count.rs
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sdk_events/filters.rs
  crates/analytics/src/sdk_events/metrics/average_payment_time.rs
  crates/analytics/src/sdk_events/metrics/load_time.rs
  crates/analytics/src/sdk_events/metrics/payment_attempts.rs
  crates/analytics/src/sdk_events/metrics/payment_data_filled_count.rs
  crates/analytics/src/sdk_events/metrics/payment_method_selected_count.rs
  crates/analytics/src/sdk_events/metrics/payment_methods_call_count.rs
  crates/analytics/src/sdk_events/metrics/sdk_initiated_count.rs
  crates/analytics/src/sdk_events/metrics/sdk_rendered_count.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/types.rs
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/active_payments.rs
  crates/api_models/src/events.rs
  crates/router/src/analytics.rs
  docker-compose.yml
Labels: S-waiting-on-review, low-risk, A-Analytics

#4990 refactor(connector): [AdyenPlatform]Throw 4xx instead of 5xx for source_balance_account
  crates/router/src/core/errors/utils.rs
Labels: A-connector-integration, C-refactor

#5103 fix(docs): open-api fix for payment response
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/openapi/src/openapi.rs
Labels: C-doc, M-api-contract-changes

#5045 feat(router): add payments manual-update api
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/payments.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api/payments.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, C-feature, S-waiting-on-review

#5124 feat(users): implemented openidconnect
  Cargo.lock
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/diesel_models/src/query/user_authentication_method.rs
  crates/router/Cargo.toml
  crates/router/src/analytics.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_authentication_method.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/dummy_connector.rs
  crates/router/src/routes/health.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/services.rs
  crates/router/src/services/api/client.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/openidconnect.rs
  crates/router/src/utils/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#5135 feat(users): add endpoint for terminate auth select
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#5139 fix(router): skip serialize if none for assurance_details_required in googlepay session response
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/connector_configs/src/transformer.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/openapi/src/openapi.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/payu.rs
  crates/router/tests/connectors/square.rs
  crates/router/tests/connectors/stax.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldpay.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, C-feature, M-api-contract-changes

#5136 feat(router): skip apple pay session call if the browser is not Safari
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/openapi/src/openapi.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/approve_flow.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/incremental_authorization_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/reject_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/lib.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/square.rs
  crates/router/tests/connectors/stax.rs
  crates/router/tests/connectors/utils.rs
Labels: M-api-contract-changes

#4865 refactor(connector): added amount framework to paypal, payouts and routing
  Cargo.lock
  api-reference/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payouts.rs
  crates/common_utils/src/types.rs
  crates/connector_configs/src/transformer.rs
  crates/diesel_models/src/payouts.rs
  crates/euclid/Cargo.toml
  crates/euclid/benches/backends.rs
  crates/euclid/src/backend/inputs.rs
  crates/euclid/src/backend/interpreter.rs
  crates/euclid/src/backend/vir_interpreter.rs
  crates/euclid/src/frontend/ast.rs
  crates/euclid/src/frontend/ast/parser.rs
  crates/euclid/src/frontend/dir.rs
  crates/euclid/src/types.rs
  crates/hyperswitch_domain_models/src/payouts/payouts.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/kgraph_utils/Cargo.toml
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/mca.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/utils.rs
  crates/router/src/services/kafka/payout.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, A-core, M-api-contract-changes, A-routing, A-constraint-graph, high-risk, payouts

#5147 fix(users): clear cookie and alter parsing for sso
  crates/router/src/core/user.rs
  crates/router/src/utils/user.rs
Labels: C-bug, S-waiting-on-review, C-refactor, A-users

#5007 feat(core): customer_details storage in payment_intent
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils/user/sample_data.rs
  migrations/2024-06-12-060604_add_customer_details_in_payment_intent/down.sql
  migrations/2024-06-12-060604_add_customer_details_in_payment_intent/up.sql
Labels: A-core, M-database-changes, M-api-contract-changes

#5132 refactor(hyperswitch_constraint_graph): Removal of lifetime from the Constraint Graph framework
  crates/euclid/src/dssa/analyzer.rs
  crates/euclid/src/dssa/graph.rs
  crates/euclid/src/dssa/truth.rs
  crates/euclid_wasm/src/lib.rs
  crates/hyperswitch_constraint_graph/src/builder.rs
  crates/hyperswitch_constraint_graph/src/graph.rs
  crates/hyperswitch_constraint_graph/src/types.rs
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/mca.rs
  crates/router/src/core/payments/routing.rs
Labels: C-refactor, A-constraint-graph

#5152 chore: fix ui-test configs
  .github/testcases/ui_tests.json
Labels: A-CI-CD, S-waiting-on-review

#4955 Docs: Api reference docs update for Payments - Create
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/ephemeral_key.rs
  crates/api_models/src/mandates.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/payments.rs
Labels: M-api-contract-changes

#5154 chore(euclid_wasm): make field domain optional wasm
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: S-waiting-on-review, A-euclid-foc

#5159 ci(postman): log request id for user tests
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Token Only Wrong/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Token Only/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Wrong/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign Up/Connect Account/event.test.js
  postman/collection-json/users.postman_collection.json
Labels: A-CI-CD, S-waiting-on-review, A-users

#5155 fix(connector): [ADYEN] send `browser_info` for all the card and googlepay payments
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review
