Repository juspay/hyperswitch, pull requests merged in 2024-08, with the labels that each got.

#5485 feat(connector): [Paybox] add connector template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/connector/paybox.rs
  crates/router/src/connector/paybox/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/paybox.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#4802 feat(auth): Add support for partial-auth, by facilitating injection of authentication parameters in headers
  config/development.toml
  crates/common_utils/src/crypto.rs
  crates/masking/src/secret.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/metrics.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/blocklist.rs
  crates/router/src/routes/currency.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/files.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_link.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/poll.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/routing.rs
  crates/router/src/routes/verification.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authentication/detached.rs
Labels: A-framework, A-core, S-waiting-on-review

#5468 feat(opensearch): Updated status filter field name to match index and added time-range based search
  crates/analytics/src/opensearch.rs
  crates/analytics/src/search.rs
  crates/api_models/src/analytics/search.rs
Labels: A-Analytics

#5481 feat(cypress): add corner cases
  cypress-tests/cypress/e2e/PaymentTest/00020-Variations.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/PaymentUtils/Bluesnap.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Datatrans.js
  cypress-tests/cypress/e2e/PaymentUtils/Nmi.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/fixtures/confirm-body.json
Labels: A-CI-CD

#5488 refactor(role): determine level of role entity
  crates/api_models/src/user_role/role.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/role.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/role.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/services/authorization/roles/predefined_roles.rs
  migrations/2024-07-30-124102_add_entity_type_to_roles/down.sql
  migrations/2024-07-30-124102_add_entity_type_to_roles/up.sql
Labels: M-database-changes, C-refactor, A-users

#5501 fix(open_payment_links): send displaySavedPaymentMethods as false explicitly for open payment links
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
Labels: C-bug, Payment Links

#5462 refactor(router): domain and diesel model changes for merchant_connector_account create v2 flow
  crates/api_models/src/admin.rs
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/query/merchant_connector_account.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/kgraph_utils/Cargo.toml
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/mca.rs
  crates/router/Cargo.toml
  crates/router/src/core/admin.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payout_link.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/core/verification.rs
  crates/router/src/core/verification/utils.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types/api.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils.rs
  crates/router/src/utils/connector_onboarding.rs
  v2_migrations/2024-07-31-065721_mca_v2/down.sql
  v2_migrations/2024-07-31-065721_mca_v2/up.sql
Labels: A-core, C-refactor

#5498 feat(core): accept business profile in core functions for payments, refund, payout and disputes
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
Labels: A-core, S-waiting-on-review

#5497 feat(business_profile): introduce domain models for business profile v1 and v2 APIs
  crates/api_models/Cargo.toml
  crates/common_enums/src/enums.rs
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/query/business_profile.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/Cargo.toml
  crates/router/src/core/admin.rs
  crates/router/src/core/routing/helpers.rs
  justfile
  scripts/ci-checks.sh
  v2_migrations/2024-07-31-100300_business_profile_add_v2_columns_drop_v1_columns/down.sql
  v2_migrations/2024-07-31-100300_business_profile_add_v2_columns_drop_v1_columns/up.sql
Labels: A-framework, C-feature, S-waiting-on-review, M-database-changes

#5382 fix(router): [Iatapay] make error status and error message optional
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-integration, C-bug

#5421 fix(pm_auth): Added mca status check in pml
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, A-payment-methods

#5500 feat(router): add accept language header middleware
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/Cargo.toml
  crates/router/src/lib.rs
  crates/router/src/middleware.rs
  loadtest/config/development.toml
Labels: A-framework, C-feature

#5484 refactor(router): refactor merchant_connector update v2 flow
  crates/api_models/src/admin.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/connector_onboarding/paypal.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
Labels: A-core, C-refactor

#5522 refactor(cypress): pass `connector_type` externally
  cypress-tests/cypress/e2e/PaymentMethodListTest/00000-PaymentMethodListTests.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00002-ConnectorCreate.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00002-ConnectorCreate.cy.js
  cypress-tests/cypress/fixtures/create-connector-body.json
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#5478 refactor(routing): Refactor api v2 routes for deactivating and retrieving the routing config
  crates/api_models/src/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
Labels: api-v2

#5520 refactor(auth): Pass `profile_id` from the auth to core functions
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/services/authentication.rs
Labels: A-core, S-waiting-on-review, C-refactor

#5505 feat(core): accept profile_id in merchant_account, connectors and customers core functions
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/connector_onboarding/paypal.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/verify_connector.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/verify_connector.rs
Labels: A-core, C-feature, S-waiting-on-review

#5525 fix(connector): Fixed status mapping for Plaid
  crates/router/src/connector/plaid/transformers.rs
Labels: A-connector-integration, C-bug

#5264 feat(connector): Remove Braintree SDK Flow support
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  loadtest/config/development.toml
Labels: A-connector-integration

#5493 refactor(merchant_account_v2): recreate id and remove deprecated fields from merchant account
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/conditional_configs.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/validator.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/utils.rs
  crates/router/src/utils/user/sample_data.rs
  justfile
  v2_migrations/2024-07-26-065428_remove_deprecated_field_from_merchant_account/down.sql
  v2_migrations/2024-07-26-065428_remove_deprecated_field_from_merchant_account/up.sql
Labels: C-refactor, M-api-contract-changes, api-v2

#5534 fix: [CYBERSOURCE] Update status handling for AuthorizedPendingReview
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#5467 ci: add script file for v2 checks
  .github/workflows/CI-pr.yml
  justfile
  scripts/ci-checks-v2.sh
Labels: A-CI-CD, S-waiting-on-review

#5532 feat(core): pass `profile_id` to core from auth layer
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/verification.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/verification.rs
  crates/router/src/routes/verify_connector.rs
Labels: A-core, S-waiting-on-review, A-routing

#5542 fix: [CYBERSOURCE] Update status handling for AuthorizedPendingReview
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#5463 Feat(connector): [WELLSFARGO] Implement Payment Flows
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/wellsfargo.rs
  crates/router/src/connector/wellsfargo/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/wellsfargo.rs
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/e2e/PaymentUtils/WellsFargo.js
  cypress-tests/cypress/e2e/PayoutUtils/Commons.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-connector-integration, S-waiting-on-review, M-api-contract-changes

#5479 feat(connector): Added configs for Plaid
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration

#4856 refactor(core): Refactor customer payment method list for v2
  crates/api_models/Cargo.toml
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/customers/types.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/storage/payment_method.rs
Labels: A-core, A-payment-methods, C-refactor

#5459 refactor(connector): added amount conversion framework for Boku
  crates/router/src/connector/boku.rs
  crates/router/src/connector/boku/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/boku.rs
Labels: A-connector-integration

#5531 refactor(business_profile): use concrete types for JSON fields
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/lib.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/merchant_account.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/storage/business_profile.rs
  crates/router/src/types/transformers.rs
Labels: A-framework, S-waiting-on-review, C-refactor, M-api-contract-changes, api-v2

#5524 feat(cypress): add configs for not overriding screenshots
  cypress-tests/cypress.config.js
  cypress-tests/cypress/support/e2e.js
  cypress-tests/cypress/support/screenshotConfigs.js
Labels: A-CI-CD, S-waiting-on-review

#5513 feat(cypress): add mandates and refunds variation cases
  cypress-tests/cypress/e2e/PaymentTest/00017-BankRedirect.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00020-Variations.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#5546 feat(cypress): add core flow tests
  cypress-tests/cypress/e2e/PaymentTest/00021-CoreFlows.cy.js
  cypress-tests/cypress/fixtures/imports.js
  cypress-tests/cypress/fixtures/merchant-update-body.json
  cypress-tests/cypress/fixtures/update-api-key-body.json
  cypress-tests/cypress/fixtures/update-connector-body.json
  cypress-tests/cypress/fixtures/update-customer-body.json
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#5530 feat(core): add support for payment links localization
  .typos.toml
  crates/api_models/src/payments.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/locale.js
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_initiate/secure_payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_status/status.html
  crates/router/src/core/payment_link/payment_link_status/status.js
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/routes/payment_link.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/types/transformers.rs
Labels: A-core, C-feature, S-waiting-on-review

#5502 feat: add a wrapper for encryption and decryption
  crates/common_utils/src/macros.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/merchant_key_store.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/type_encryption.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/apple_pay_certificates_migration.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/user.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/db/events.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/domain/event.rs
  crates/router/src/types/domain/types.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user_key_store.rs
  crates/router/src/utils.rs
  crates/router/src/utils/user.rs
Labels: A-core, S-waiting-on-review

#5529 fix(filter_mca): update helper function for filtering MCAs for payments
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payout_link.rs
Labels: C-bug

#5547 refactor(cypress): make `connector_label` configurable in cypress
  cypress-tests/cypress/e2e/PaymentMethodListTest/00000-PaymentMethodListTests.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/e2e/PaymentUtils/WellsFargo.js
  cypress-tests/cypress/e2e/PayoutUtils/Commons.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, S-waiting-on-review

#5556 fix(opensearch): Added @timestamp field for opensearch localhost
  config/vector.yaml
  crates/analytics/src/opensearch.rs
Labels: C-bug

#4978 refactor(connector): added amount conversion framework for Gpayments
  crates/router/src/connector/gpayments.rs
  crates/router/src/connector/gpayments/transformers.rs
  crates/router/src/types/api/authentication.rs
  crates/router/tests/connectors/gpayments.rs
Labels: C-refactor

#5551 ci: dynamically fetch features for crates
  scripts/ci-checks-v2.sh
  scripts/ci-checks.sh
Labels: A-CI-CD

#5508 feat: payment processor token for recurring payments
  api-reference/openapi_spec.json
  crates/api_models/src/mandates.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/utils/user/sample_data.rs
  migrations/2024-08-01-172628_add_is_payment_processor_token_flow_in_payment_intent_table/down.sql
  migrations/2024-08-01-172628_add_is_payment_processor_token_flow_in_payment_intent_table/up.sql
Labels: A-core, M-database-changes, M-api-contract-changes

#5512 feat(core): [Payment Link] add dynamic merchant fields
  Cargo.lock
  api-reference/openapi_spec.json
  crates/api_models/Cargo.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/consts.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.css
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/types/transformers.rs
Labels: A-connector-integration, C-feature, M-api-contract-changes

#5553 feat(core): use profile_id passed from auth layer within core functions
  crates/router/src/core/admin.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/verification.rs
  crates/router/src/core/verification/utils.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/workflows/attach_payout_account_workflow.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router/src/workflows/payment_sync.rs
Labels: A-core, S-waiting-on-review

#5577 fix(docker): currency enum fix for docker config
  config/docker_compose.toml
Labels: M-configuration-changes

#5568 refactor(connector): connector template generation
  connector-template/mod.rs
  connector-template/transformers.rs
  scripts/add_connector.sh
Labels: A-connector-integration, C-refactor

#5539 fix(connector): [Bambora Apac] failure on missing capture method and billing address requirement in mandates
  crates/router/src/connector/bamboraapac/transformers.rs
Labels: A-connector-integration, C-bug

#5284 refactor(payouts): openAPI schemas and mintlify docs
  api-reference/api-reference/payouts/payouts--confirm.mdx
  api-reference/api-reference/payouts/payouts--list-filters.mdx
  api-reference/mint.json
  api-reference/openapi_spec.json
  crates/api_models/src/payouts.rs
  crates/diesel_models/src/payout_attempt.rs
  crates/diesel_models/src/payouts.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/payouts/payout_attempt.rs
  crates/hyperswitch_domain_models/src/payouts/payouts.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/payouts.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/transformers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/services/kafka/payout.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/payouts.rs
  crates/router/src/types/api/payouts_v2.rs
  crates/storage_impl/src/mock_db/payouts.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
  crates/storage_impl/src/payouts/payouts.rs
  migrations/2024-07-31-063531_alter_customer_id_in_payouts/down.sql
  migrations/2024-07-31-063531_alter_customer_id_in_payouts/up.sql
Labels: M-database-changes, M-api-contract-changes, payouts

#5580 refactor(openapi): add openapi support for generating v2 api-reference
  .github/workflows/pr-convention-checks.yml
  .github/workflows/validate-openapi-spec.yml
  api-reference/api-reference-v2/merchant-connector-account/merchant-connector--create.mdx
  api-reference/api-reference-v2/merchant-connector-account/merchant-connector--delete.mdx
  api-reference/api-reference-v2/merchant-connector-account/merchant-connector--retrieve.mdx
  api-reference/api-reference-v2/merchant-connector-account/merchant-connector--update.mdx
  api-reference/mint_v2.json
  api-reference/openapi_spec.json
  api-reference/openapi_spec_v2.json
  crates/api_models/src/admin.rs
  crates/openapi/Cargo.toml
  crates/openapi/src/main.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/merchant_connector_account.rs
Labels: A-core, C-refactor, M-api-contract-changes, api-v2

#5527 refactor(merchant_account_v2): remove routing algorithms from merchant account and add version column
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/consts.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/router/src/consts.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/conditional_config.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/surcharge_decision_config.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/domain/customer.rs
  crates/router/src/types/domain/merchant_account.rs
  migrations/2024-08-08-075600_add_api_version_to_merchant_account/down.sql
  migrations/2024-08-08-075600_add_api_version_to_merchant_account/up.sql
  v2_migrations/2024-07-26-065428_remove_deprecated_field_from_merchant_account/down.sql
  v2_migrations/2024-07-26-065428_remove_deprecated_field_from_merchant_account/up.sql
Labels: M-database-changes, C-refactor, api-v2

#5383 feat(analytics): populate status_code, initial_attempt_id & delivery_attempt on clickhouse for outgoing webhook events
  crates/analytics/docs/clickhouse/scripts/outgoing_webhook_events.sql
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/events/outgoing_webhook_logs.rs
Labels: A-core, C-feature, A-webhooks, A-Analytics

#5552 feat(payout_link): add localisation support for payout link's templates
  .typos.toml
  Cargo.lock
  crates/api_models/src/payouts.rs
  crates/common_utils/src/consts.rs
  crates/hyperswitch_domain_models/src/api.rs
  crates/router/Cargo.toml
  crates/router/locales/ar.yml
  crates/router/locales/ca.yml
  crates/router/locales/de.yml
  crates/router/locales/en-GB.yml
  crates/router/locales/en.yml
  crates/router/locales/es.yml
  crates/router/locales/fr-BE.yml
  crates/router/locales/fr.yml
  crates/router/locales/he.yml
  crates/router/locales/it.yml
  crates/router/locales/ja.yml
  crates/router/locales/nl.yml
  crates/router/locales/pl.yml
  crates/router/locales/pt.yml
  crates/router/locales/ru.yml
  crates/router/locales/sv.yml
  crates/router/locales/zh.yml
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/generic_link/payout_link/initiate/index.html
  crates/router/src/core/generic_link/payout_link/initiate/script.js
  crates/router/src/core/generic_link/payout_link/status/index.html
  crates/router/src/core/generic_link/payout_link/status/script.js
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/lib.rs
  crates/router/src/locale.rs
  crates/router/src/routes.rs
  crates/router/src/routes/payout_link.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/generic_link_response.rs
  crates/router/src/services/api/generic_link_response/context.rs
Labels: A-core, payouts

#5567 feat(connector): [WELLSFARGO_PAYOUT] PR template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/connector/wellsfargopayout.rs
  crates/router/src/connector/wellsfargopayout/transformers.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/wellsfargopayout.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#5533 refactor(core): Adapt the usage of routing_algorithm_id in routing and payments core for v2
  api-reference/openapi_spec_v2.json
  crates/api_models/src/events/routing.rs
  crates/api_models/src/routing.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/query/routing_algorithm.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/Cargo.toml
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/routing_algorithm.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
  crates/router/src/types/api/admin.rs
  v2_migrations/2024-07-31-100300_business_profile_add_v2_columns_drop_v1_columns/down.sql
  v2_migrations/2024-07-31-100300_business_profile_add_v2_columns_drop_v1_columns/up.sql
Labels: M-database-changes, M-api-contract-changes, api-v2

#5579 fix(payment_link): remove dynamic section if no fields are present
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
Labels: C-bug, Payment Links

#5563 feat(cypress): generate test reports
  .github/CODEOWNERS
  cypress-tests/.gitignore
  cypress-tests/cypress.config.js
  cypress-tests/cypress/support/e2e.js
  cypress-tests/cypress/support/screenshotConfigs.js
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD, S-waiting-on-review

#5588 refactor(openapi_v2): add merchant account v2 openapi
  .github/workflows/pr-convention-checks.yml
  .github/workflows/validate-openapi-spec.yml
  api-reference-v2/api-reference/merchant-account/merchant-account--create.mdx
  api-reference-v2/api-reference/merchant-account/merchant-account--retrieve.mdx
  api-reference-v2/api-reference/merchant-account/merchant-account--update.mdx
  api-reference-v2/api-reference/merchant-connector-account/delete-connector_accounts.mdx
  api-reference-v2/api-reference/merchant-connector-account/get-connector_accounts.mdx
  api-reference-v2/api-reference/merchant-connector-account/merchant-connector--create.mdx
  api-reference-v2/api-reference/merchant-connector-account/merchant-connector--delete.mdx
  api-reference-v2/api-reference/merchant-connector-account/merchant-connector--retrieve.mdx
  api-reference-v2/api-reference/merchant-connector-account/merchant-connector--update.mdx
  api-reference-v2/api-reference/merchant-connector-account/post-connector_accounts-1.mdx
  api-reference-v2/api-reference/merchant-connector-account/post-connector_accounts.mdx
  api-reference-v2/assets/images/image.png
  api-reference-v2/essentials/error_codes.mdx
  api-reference-v2/essentials/go-live.mdx
  api-reference-v2/essentials/rate_limit.mdx
  api-reference-v2/essentials/webhooks.mdx
  api-reference-v2/favicon.png
  api-reference-v2/introduction.mdx
  api-reference-v2/logo/dark.svg
  api-reference-v2/logo/light.svg
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  api-reference-v2/rust_locker_open_api_spec.yml
  api-reference/mint_v2.json
  crates/openapi/Cargo.toml
  crates/openapi/src/lib.rs
  crates/openapi/src/main.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/merchant_account.rs
  crates/storage_impl/src/payouts/payouts.rs
Labels: api-v2

#5600 docs(README): add social media links
  README.md
Labels: C-doc

#5604 chore: run pml independently
  cypress-tests/cypress/support/commands.js
  cypress-tests/package.json
Labels: A-CI-CD, S-waiting-on-review

#5597 feat(connector): create Taxjar connector
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/taxjar.rs
  crates/hyperswitch_connectors/src/connectors/taxjar/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/taxjar.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#5452 refactor(connector): added amount conversion framework for Ebanx
  crates/router/src/connector/ebanx.rs
  crates/router/src/connector/ebanx/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/ebanx.rs
Labels: A-connector-integration

#5598 refactor(webhook_events): allow listing unique webhook events based on profile ID
  api-reference/api-reference/event/events--delivery-attempt-list.mdx
  api-reference/api-reference/event/events--list.mdx
  api-reference/api-reference/event/events--manual-retry.mdx
  api-reference/openapi_spec.json
  crates/api_models/src/webhook_events.rs
  crates/common_utils/src/events.rs
  crates/diesel_models/src/query/business_profile.rs
  crates/openapi/src/routes/webhook_events.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/db/business_profile.rs
  crates/router/src/db/events.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/webhook_events.rs
  crates/router/src/services/authentication.rs
Labels: C-refactor, M-api-contract-changes, A-webhooks

#5490 feat(customer_v2): customer v2 refactor customer v2 update endpoint
  crates/api_models/src/customers.rs
  crates/api_models/src/events/customer.rs
  crates/diesel_models/src/customers.rs
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/query/customers.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/customers/types.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/validator.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/customers.rs
  crates/router/src/utils.rs
  crates/storage_impl/src/payouts/payouts.rs
  crates/storage_impl/src/redis/kv_store.rs
  v2_migrations/2024-07-30-100323_customer_v2/up.sql
Labels: A-core, S-waiting-on-review, M-database-changes, api-v2

#4982 refactor(connector): added amount conversion framework for multisafepay
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/multisafepay.rs
Labels: C-refactor

#5470 refactor(connector): add amount conversion framework to Globepay
  crates/router/src/connector/globepay.rs
  crates/router/src/connector/globepay/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/globepay.rs
Labels: A-connector-integration

#5616 fix(router): allow payments update for requires_payment_method and requires_confirmation intent status only
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug

#5618 fix(cypress): fix naming convention in iatapay ideal
  cypress-tests/cypress/e2e/PaymentUtils/Iatapay.js
Labels: A-CI-CD, S-waiting-on-review

#5617 fix(cypress): fix hooks in cypress for 3ds
  cypress-tests/cypress/e2e/PaymentTest/00020-Variations.cy.js
Labels: A-CI-CD, S-waiting-on-review

#5615 fix(pm_auth): Fixed deserialize logic in pm_auth core
  crates/router/src/core/pm_auth.rs
Labels: C-bug

#5610 refactor(redis): add redis commands required for success rate based routing
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/errors.rs
Labels: S-waiting-on-review, C-refactor

#5575 feat(connector): [Paybox] add paybox connector
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/deployments/production.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/paybox.rs
  crates/router/src/connector/paybox/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Paybox.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
Labels: A-connector-integration, M-api-contract-changes

#5620 fix(payout): use mca_connector_id from ConnectorData to fetch mca_account
  crates/router/src/core/payouts.rs
  crates/router/src/core/utils.rs
Labels: A-core, payouts

#5538 feat(payout_link): return total_count in filtered payouts list API response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payouts.rs
  crates/diesel_models/src/query/payout_attempt.rs
  crates/diesel_models/src/query/payouts.rs
  crates/hyperswitch_domain_models/src/payouts/payout_attempt.rs
  crates/hyperswitch_domain_models/src/payouts/payouts.rs
  crates/router/src/core/payouts.rs
  crates/router/src/db/kafka_store.rs
  crates/storage_impl/src/mock_db/payouts.rs
  crates/storage_impl/src/payouts/payouts.rs
Labels: M-api-contract-changes, A-Analytics, payouts

#5541 feat(users): add support for profile user delete
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
Labels: C-feature, C-refactor, A-users

#5602 refactor(router): add api_version and make profile_id mandatory in mca v2
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/consts.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/mca.rs
  crates/openapi/src/routes/merchant_connector_account.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/app.rs
  migrations/2022-09-29-093314_create_seed_data/down.sql
  migrations/2022-09-29-093314_create_seed_data/up.sql
  migrations/2024-08-12-104928_add_api_version_in_mca/down.sql
  migrations/2024-08-12-104928_add_api_version_in_mca/up.sql
  v2_migrations/2024-08-12-075913_make_profile_id_mandatory_in_mca/down.sql
  v2_migrations/2024-08-12-075913_make_profile_id_mandatory_in_mca/up.sql
Labels: A-core, M-database-changes, C-refactor, M-api-contract-changes, api-v2

#5631 refactor(router): use the saved billing details in the recurring payments
  crates/hyperswitch_domain_models/src/payment_address.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, A-payment-methods, C-refactor

#5645 fix(api-reference): fix api paths for `merchant_connector_account` in api-reference-v2
  api-reference-v2/api-reference/merchant-connector-account/delete-connector_accounts.mdx
  api-reference-v2/api-reference/merchant-connector-account/get-connector_accounts.mdx
  api-reference-v2/api-reference/merchant-connector-account/merchant-connector--create.mdx
  api-reference-v2/api-reference/merchant-connector-account/merchant-connector--delete.mdx
  api-reference-v2/api-reference/merchant-connector-account/merchant-connector--retrieve.mdx
  api-reference-v2/api-reference/merchant-connector-account/merchant-connector--update.mdx
  api-reference-v2/api-reference/merchant-connector-account/post-connector_accounts-1.mdx
  api-reference-v2/api-reference/merchant-connector-account/post-connector_accounts.mdx
Labels: C-bug, api-v2

#5606 feat(business_profile_v2): business profile v2 create and retrieve endpoint
  .github/workflows/CI-pr.yml
  .typos.toml
  Cargo.lock
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/Cargo.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/consts.rs
  crates/api_models/src/lib.rs
  crates/common_utils/src/consts.rs
  crates/common_utils/src/errors.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
  crates/router/src/types/api/admin.rs
  crates/storage_impl/src/payouts/payouts.rs
  justfile
  v2_migrations/2024-07-31-100300_business_profile_add_v2_columns_drop_v1_columns/down.sql
  v2_migrations/2024-07-31-100300_business_profile_add_v2_columns_drop_v1_columns/up.sql
Labels: M-database-changes, M-api-contract-changes, api-v2

#5214 feat(core): [Payouts] add merchant_connector_id to payout_attempt and show in response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payouts.rs
  crates/diesel_models/src/payout_attempt.rs
  crates/hyperswitch_domain_models/src/payouts/payout_attempt.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/transformers.rs
  crates/router/src/core/utils.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
Labels: A-core, C-feature, M-api-contract-changes

#5536 feat(users): Role info api with parent tags
  crates/api_models/src/user_role.rs
  crates/router/src/core/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authorization/info.rs
  crates/router_env/src/logger/types.rs
Labels: S-waiting-on-review, A-users

#5638 refactor(core): make p24 billing_details optional
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
Labels: A-core, C-refactor, M-api-contract-changes

#5641 feat(business_profile): introduce business profile v2 update endpoint
  .github/CODEOWNERS
  api-reference-v2/api-reference/business-profile/business-profile--create.mdx
  api-reference-v2/api-reference/business-profile/business-profile--retrieve.mdx
  api-reference-v2/api-reference/business-profile/business-profile--update.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/query/customers.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/openapi/Cargo.toml
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/business_profile.rs
  crates/router/Cargo.toml
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/api/admin.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes, api-v2

#5648 chore: generate openapi specs for organization endpoint for v1 and v2
  api-reference-v2/openapi_spec.json
  api-reference/api-reference/organization/organization--create.mdx
  api-reference/api-reference/organization/organization--retrieve.mdx
  api-reference/api-reference/organization/organization--update.mdx
  api-reference/mint.json
  api-reference/openapi_spec.json
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/organization.rs
Labels: S-waiting-on-review, M-api-contract-changes, api-v2

#5654 feat(payments): add support for aggregates in payments
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/payments.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api/payments.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: C-feature, S-waiting-on-review, A-payments, A-users

#5651 feat(user_role): Add update by lineage DB function
  crates/diesel_models/src/query/user_role.rs
  crates/diesel_models/src/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/utils/user_role.rs
Labels: C-feature, S-waiting-on-review, A-users

#5662 feat(user): add list org, merchant and profile api
  crates/api_models/src/user.rs
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, A-users

#5658 refactor(router): add connector_transaction_id, send response body and use admin_api_auth_with_merchant_id for payments manual update flow
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments.rs
  crates/router/src/routes/payments.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, C-refactor

#5642 refactor(core): Refactor fallback routing behaviour in payments for v2
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/api_models/src/customers.rs
  crates/api_models/src/payments.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/routing.rs
  crates/storage_impl/src/payouts/payouts.rs
Labels: api-v2

#5589 feat: add new routes for profile level list apis
  crates/openapi/src/routes/disputes.rs
  crates/openapi/src/routes/payments.rs
  crates/openapi/src/routes/payouts.rs
  crates/openapi/src/routes/refunds.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/refunds.rs
Labels: S-blocked, S-waiting-on-review

#5418 feat(router): collect customer address details based on business profile config regardless of connector required fields
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/configs.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api/admin.rs
  migrations/2024-07-23-060446_always_collect_billing_details_from_wallet_connector/down.sql
  migrations/2024-07-23-060446_always_collect_billing_details_from_wallet_connector/up.sql
  migrations/2024-07-23-060936_always_collect_shipping_details_from_wallet_connector/down.sql
  migrations/2024-07-23-060936_always_collect_shipping_details_from_wallet_connector/up.sql
Labels: M-database-changes, A-payment-methods, M-api-contract-changes

#5644 feat(global_id): create a `GlobalId` domain type
  crates/common_utils/src/consts.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/global_id.rs
Labels: api-v2

#5660 fix(router): [Adyen] prevent partial submission of billing address and add required fields for all payment methods
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-compatibility, A-connector-integration

#5516 feat(customer_v2): add route for customer retrieve v2
  Cargo.lock
  api-reference-v2/openapi_spec.json
  crates/api_models/Cargo.toml
  crates/api_models/src/customers.rs
  crates/api_models/src/events/customer.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/events.rs
  crates/diesel_models/src/query/customers.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/types/api/customers.rs
Labels: A-core, C-refactor, M-api-contract-changes, api-v2

#5667 feat(router): [cybersource] add disable_avs and disable_cvn flag in connector metadata
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/core/admin.rs
Labels: A-connector-compatibility, A-connector-integration, C-feature

#5677 feat(router): [cybersource] add disable_avs and disable_cvn flag in connector metadata
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/core/admin.rs
Labels: A-connector-compatibility, A-connector-integration, C-feature

#5514 feat(connector): [Adyen] add dispute flows for adyen connector
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types/disputes.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/core/disputes/transformers.rs
  crates/router/src/core/files.rs
  crates/router/src/core/files/helpers.rs
  crates/router/src/core/payments/flows.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature

#5682 fix(docker): currency enum fix for docker config
  config/docker_compose.toml
Labels: M-configuration-changes

#5564 feat(payment_methods_v2): Payment methods v2 API models
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/customers/types.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/api/mandates.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/transformers.rs
  scripts/ci-checks-v2.sh
Labels: A-core, A-payment-methods, M-api-contract-changes, api-v2

#5676 refactor(payments_response): remove setter from payments response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/events/outgoing_webhook_logs.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
Labels: M-api-contract-changes

#5679 chore: create v2 route for organization
  api-reference-v2/api-reference/organization/organization--create.mdx
  api-reference-v2/api-reference/organization/organization--retrieve.mdx
  api-reference-v2/api-reference/organization/organization--update.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/openapi/src/routes/organization.rs
  crates/router/src/routes/app.rs
Labels: S-waiting-on-review, M-api-contract-changes

#5576 feat(business_profile): add tax_connector_id column in business_profile table
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api/admin.rs
  migrations/2024-08-09-102122_added_tax_connector_id_and_is_tax_connector_enabled_in_business_profile_table/down.sql
  migrations/2024-08-09-102122_added_tax_connector_id_and_is_tax_connector_enabled_in_business_profile_table/up.sql
Labels: M-database-changes, M-api-contract-changes

#5661 feat: populate payment method details in payments response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/api_models/src/payments/additional_info.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/masking/src/lib.rs
  crates/masking/src/masked_string.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, S-waiting-on-review, M-api-contract-changes, R-waiting-on-L1, A-payments

#5701 refactor(euclid): make the disabled node's relation as negative
  crates/router/src/core/payment_methods/utils.rs
Labels: C-refactor, A-routing

#5698 chore(config): add production connector-configs for netcetera external 3ds flow
  crates/connector_configs/toml/production.toml
Labels: M-configuration-changes, C-refactor

#5674 feat(user): business email update
  crates/router/src/consts/user.rs
Labels: S-waiting-on-review

#5670 feat(connector): [NOVALNET] Add template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/novalnet.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/novalnet.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#5686 feat(openapi): Add open api routes for routing v2
  api-reference-v2/api-reference/business-profile/business-profile--activate-routing-algorithm.mdx
  api-reference-v2/api-reference/business-profile/business-profile--deactivate-routing-algorithm.mdx
  api-reference-v2/api-reference/business-profile/business-profile--retrieve-active-routing-algorithm.mdx
  api-reference-v2/api-reference/business-profile/business-profile--retrieve-default-fallback-routing-algorithm.mdx
  api-reference-v2/api-reference/business-profile/business-profile--update-default-fallback-routing-algorithm.mdx
  api-reference-v2/api-reference/routing/routing--create.mdx
  api-reference-v2/api-reference/routing/routing--retrieve.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/routing.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/business_profile.rs
  crates/openapi/src/routes/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/routes/routing.rs
Labels: M-api-contract-changes, api-v2

#5664 ci(cypress): update paybox configs
  cypress-tests/cypress/e2e/PaymentUtils/Paybox.js
Labels: A-CI-CD, S-waiting-on-review

#5669 feat: add test_mode for quickly testing payout links
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payouts.rs
  crates/common_utils/src/link_utils.rs
  crates/diesel_models/src/business_profile.rs
  crates/router/src/core/generic_link/payout_link/initiate/script.js
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/types/transformers.rs
Labels: A-core, S-waiting-on-review, M-api-contract-changes, R-waiting-on-L1, payouts

#5655 refactor(open_banking): Added merchant data update in mca update
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/connector_onboarding/paypal.rs
  crates/router/src/core/verification/utils.rs
Labels: C-bug, M-api-contract-changes

#5710 refactor(euclid): make the disabled node's relation as negative
  api-reference-v2/openapi_spec.json
  crates/router/src/core/payment_methods/utils.rs
Labels: C-refactor, M-api-contract-changes, A-routing

#5681 feat(euclid): add a new variant in payment type i.e ppt_mandate
  crates/api_models/src/mandates.rs
  crates/euclid/src/backend/vir_interpreter.rs
  crates/euclid/src/enums.rs
  crates/router/src/core/payments/routing.rs
Labels: C-feature, A-euclid-foc

#5724 fix(routing): fix routing routes to deserialise correctly
  crates/router/src/core/routing.rs
  crates/router/src/routes/routing.rs
Labels: C-bug, P-high

#5718 refactor(connector): [itau] refactor error reason and code mapping for itau
  crates/router/src/connector/itaubank.rs
  crates/router/src/connector/itaubank/transformers.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#5719 refactor(cypress_tests): handle api keys check in api key list call
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#5692 feat(user_roles): support switch for new hierarchy
  crates/api_models/src/events/user.rs
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user.rs
  crates/api_models/src/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#5699 refactor(customer_v2): fixed customer_v2 create panic issue
  crates/diesel_models/src/kv.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/fraud_check/operation/fraud_check_pre.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/transformers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/customers.rs
  crates/router/src/types/api/customers.rs
  crates/router/src/types/transformers.rs
Labels: A-core, C-refactor, api-v2

#5730 fix(router): skip external three_ds flow for recurring payments
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
Labels: A-core, C-bug

#5672 feat(connector): [FISERVEMEA] Integrate cards
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/fiservemea.rs
  crates/hyperswitch_connectors/src/connectors/fiservemea/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/PaymentUtils/Fiservemea.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, M-api-contract-changes

#5704 fix(router): [Stripe/Itau/Paypal/Bambora/Cybs] prevent partial submission of billing address and add required fields for all payment methods
  crates/hyperswitch_connectors/src/connectors/bambora/transformers.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-compatibility, A-connector-integration

#5709 feat(api_keys): add api keys route to api v2
  api-reference-v2/README.md
  api-reference-v2/api-reference/api-key/api-key--create.mdx
  api-reference-v2/api-reference/api-key/api-key--retrieve.mdx
  api-reference-v2/api-reference/api-key/api-key--revoke.mdx
  api-reference-v2/api-reference/api-key/api-key--update.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  api-reference/README.md
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/common_utils/src/events.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/api_keys.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/authentication.rs
Labels: M-api-contract-changes, api-v2

#5691 feat(connector): [FIUU] PR template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/fiuu.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/fiuu.rs
  crates/router/tests/connectors/main.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#5735 refactor(customers): add offset and limit to customers list
  crates/api_models/src/customers.rs
  crates/api_models/src/events.rs
  crates/diesel_models/src/query/customers.rs
  crates/router/src/consts.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/customers.rs
  crates/router/src/types/api/customers.rs
Labels: C-refactor

#5741 refactor(customers): add offset and limit to customers list
  crates/api_models/src/customers.rs
  crates/api_models/src/events.rs
  crates/diesel_models/src/query/customers.rs
  crates/router/src/consts.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/customers.rs
  crates/router/src/types/api/customers.rs
Labels: C-refactor, A-customers

#5713 ci(cypress): add auto-retry tests to routing
  cypress-tests/cypress/e2e/RoutingTest/00003-Retries.cy.js
  cypress-tests/cypress/e2e/RoutingUtils/Autoretries.js
  cypress-tests/cypress/e2e/RoutingUtils/Utils.js
  cypress-tests/cypress/fixtures/configs.json
  cypress-tests/cypress/fixtures/gsm-body.json
  cypress-tests/cypress/fixtures/imports.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD

#5733 feat(routing): add domain type for Routing id
  crates/api_models/src/routing.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/routing.rs
  crates/common_utils/src/lib.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/query/routing_algorithm.rs
  crates/diesel_models/src/routing_algorithm.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/routing_algorithm.rs
  crates/router/src/routes/routing.rs
Labels: api-v2

#5740 fix(cypress): fix compilation errors due to filename mismatch
  cypress-tests/cypress/e2e/RoutingTest/00000-PriorityRouting.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00001-VolumeBasedRouting.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00002-RuleBasedRouting.cy.js
Labels: A-CI-CD, C-test

#5607 feat(user_role): Insert V2 user_roles
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/types/domain/user.rs
  migrations/2024-08-06-103905_drop_user_id_merchant_id_unique_in_user_roles/down.sql
  migrations/2024-08-06-103905_drop_user_id_merchant_id_unique_in_user_roles/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes, A-users

#5745 refactor(router): revert [Stripe/Itau/Paypal/Bambora/Cybs] prevent partial submission of billing address and add required fields for all payment methods
  crates/hyperswitch_connectors/src/connectors/bambora/transformers.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug

#5739 Feat(connector): [WELLSFARGO] Remove Wallet Configs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-compatibility

#5734 ci(cypress): Handle failures for trustpay bank-redirects
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, S-waiting-on-review

#5744 refactor(core): make the ppt token flow to accept optional mca_id
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/mandates.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: M-api-contract-changes

#5639 chore(config): add support for some more country and currencies for Mifinity Wallet
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-feature

#5750 fix(cypress): fix undefined errors in auto-retries
  cypress-tests/cypress/e2e/RoutingTest/00003-Retries.cy.js
Labels: A-CI-CD
