Repository juspay/hyperswitch, pull requests merged in 2024-12, with the labels that each got.

#6712 fix(openapi): Revert Standardise API naming scheme for V2 Dashboard Changes
  crates/router/src/routes/app.rs
Labels: M-api-contract-changes, api-v2

#6714 ci: update ntid card expiry
  cypress-tests/cypress/e2e/PaymentMethodListUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/PaymentUtils/Checkout.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Datatrans.js
  cypress-tests/cypress/e2e/PaymentUtils/Elavon.js
  cypress-tests/cypress/e2e/PaymentUtils/Fiservemea.js
  cypress-tests/cypress/e2e/PaymentUtils/Nexixpay.js
  cypress-tests/cypress/e2e/PaymentUtils/Nmi.js
  cypress-tests/cypress/e2e/PaymentUtils/Novalnet.js
  cypress-tests/cypress/e2e/PaymentUtils/Paybox.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/e2e/PaymentUtils/WellsFargo.js
  cypress-tests/cypress/e2e/RoutingUtils/Stripe.js
  cypress-tests/cypress/fixtures/create-confirm-body.json
  cypress-tests/cypress/fixtures/create-mandate-cit.json
  cypress-tests/cypress/fixtures/create-ntid-mit.json
Labels: A-CI-CD

#6649 feat(payment_methods_v2): implement a barebones version of list customer payment methods v2
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/common_utils/src/id_type/global_id.rs
  crates/common_utils/src/id_type/global_id/payment.rs
  crates/common_utils/src/id_type/global_id/payment_methods.rs
  crates/common_utils/src/id_type/global_id/refunds.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/storage/payment_method.rs
Labels: C-feature, S-waiting-on-review, A-payment-methods, C-refactor, M-api-contract-changes, api-v2

#6700 fix(payment_link): add support for hide card nickname field for open payment links
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
Labels: A-core, S-waiting-on-review, Payment Links

#6716 fix(opensearch): fix empty filter array query addition in globalsearch query
  crates/analytics/src/opensearch.rs
Labels: C-bug, A-Analytics

#6720 fix(connector): adyen - propagate connector mandate details in incoming webhooks
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration

#6728 fix(connector): [Cybersource] change commerce indicator for discover cards in apple pay
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#6729 ci(cypress): disable payouts in PR check
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD

#6726 ci: update cypress creds
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD, S-waiting-on-review

#6710 chore: wasm paze additional details
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
Labels: A-core, A-euclid-foc

#6335 refactor(connector): add amount conversion framework to cybersource
  crates/common_utils/src/types.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/cybersource.rs
Labels: A-connector-integration, C-refactor, hacktoberfest, hacktoberfest-accepted

#6648 refactor(gsm): add `error_category` column to gsm table
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/gsm.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/gsm.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/gsm.rs
  crates/router/src/types/transformers.rs
  migrations/2024-11-24-104438_add_error_category_col_to_gsm/down.sql
  migrations/2024-11-24-104438_add_error_category_col_to_gsm/up.sql
Labels: S-waiting-on-review, M-database-changes, C-refactor, M-api-contract-changes

#6658 feat(themes): Create APIs for managing themes
  Cargo.lock
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/Cargo.toml
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/api_models/src/user/theme.rs
  crates/common_utils/src/types/theme.rs
  crates/diesel_models/src/query/user/theme.rs
  crates/diesel_models/src/user/theme.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/theme.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user/theme.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user/theme.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/theme.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, M-configuration-changes, A-users

#6703 ci(cypress): Add Dynamic fields Test Cases
  cypress-tests/cypress/e2e/PaymentMethodListTest/00000-PaymentMethodListTests.cy.js
  cypress-tests/cypress/e2e/PaymentMethodListUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentTest/00026-DynamicFields.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00027-IncrementalAuth.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD

#6310 feat(events): add audit event for CompleteAuthorize
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/events/audit_events.rs
Labels: hacktoberfest, hacktoberfest-accepted

#6652 refactor(connector): Move connectors Bamboraapac, Boku, Gocardless, Prophetpay, Rapyd
  Cargo.lock
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/bamboraapac.rs
  crates/hyperswitch_connectors/src/connectors/bamboraapac/transformers.rs
  crates/hyperswitch_connectors/src/connectors/boku.rs
  crates/hyperswitch_connectors/src/connectors/boku/transformers.rs
  crates/hyperswitch_connectors/src/connectors/gocardless.rs
  crates/hyperswitch_connectors/src/connectors/gocardless/transformers.rs
  crates/hyperswitch_connectors/src/connectors/prophetpay.rs
  crates/hyperswitch_connectors/src/connectors/prophetpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/rapyd.rs
  crates/hyperswitch_connectors/src/connectors/rapyd/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/Cargo.toml
  crates/router/src/connector.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#6678 refactor(dynamic_fields): rename fields like ach, bacs and becs for bank debit payment method
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: A-connector-integration, C-refactor

#6259 feat(connector): [Nexixpay] add mandates flow for cards
  crates/hyperswitch_connectors/src/connectors/nexixpay.rs
  crates/hyperswitch_connectors/src/connectors/nexixpay/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  cypress-tests/cypress/e2e/PaymentUtils/Nexixpay.js
Labels: A-connector-integration, C-feature

#6747 fix(api_models): Fix `wasm` build problems caused by `actix-multipart`
  crates/api_models/Cargo.toml
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/Cargo.toml
Labels: A-framework, C-bug

#6736 feat(core): add is_click_to_pay_enabled in business profile
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api/admin.rs
  migrations/2024-12-04-072648_add_is_click_to_pay_enabled/down.sql
  migrations/2024-12-04-072648_add_is_click_to_pay_enabled/up.sql
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, M-api-contract-changes

#6738 feat(webhooks): adyen - consume and update connector's network_transaction_id in payment_methods
  crates/diesel_models/src/payment_method.rs
  crates/hyperswitch_domain_models/src/router_flow_types/webhooks.rs
  crates/hyperswitch_interfaces/src/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/services/connector_integration_interface.rs
Labels: A-connector-compatibility, A-core, A-webhooks, A-mandates

#5998 fix(connector): add config cleanup on payment connector deletion
  crates/common_enums/src/enums.rs
  crates/router/src/core/admin.rs
Labels: C-bug, A-routing

#6739 fix(core): card_network details Missing in Customer Payment Methods List for External 3DS Authentication Payments
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
Labels: A-core

#6525 fix(router): validate each field for migration request body
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug

#6708 feat(users): add support for tenant level users
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/consts.rs
  crates/diesel_models/src/query/merchant_account.rs
  crates/router/src/analytics.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/services/authorization/roles/predefined_roles.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, A-users

#6723 feat(dynamic_routing): analytics improvement using separate postgres table
  crates/api_models/src/routing.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/dynamic_routing_stats.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/dynamic_routing_stats.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/db.rs
  crates/router/src/db/dynamic_routing_stats.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/dynamic_routing_stats.rs
  migrations/2024-12-02-095127_add_new_table_dynamic_routing_stats/down.sql
  migrations/2024-12-02-095127_add_new_table_dynamic_routing_stats/up.sql
Labels: C-feature, M-database-changes, A-routing

#6490 feat(core): Add payments update-intent API for v2
  api-reference-v2/api-reference/payments/payments--update-intent.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payments.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api/payments.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: M-api-contract-changes, api-v2

#6721 ci(Cypress): Add testcase for newline in address
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
Labels: C-test

#6443 fix(docs): incorrect description for refund api
  api-reference/openapi_spec.json
  crates/openapi/src/routes/refunds.rs
Labels: C-bug, C-doc, M-api-contract-changes

#6758 refactor(payment_methods): Add new field_type UserBsbNumber, UserBankSortCode and UserBankRoutingNumber for payment_connector_required_fields
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: A-connector-integration, M-api-contract-changes

#6783 docs: add new logos for README and API reference
  api-reference-v2/logo/dark.svg
  api-reference-v2/logo/light.svg
  api-reference/logo/dark.svg
  api-reference/logo/light.svg
  docs/imgs/hyperswitch-logo-dark.svg
  docs/imgs/hyperswitch-logo-light.svg
Labels: C-doc

#6744 refactor(constraint_graph): add setup_future_usage for mandate check in payments
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/utils.rs
Labels: C-refactor, A-routing

#6776 feat(analytics): add support for multiple emails as input to forward reports
  crates/api_models/src/analytics.rs
Labels: C-feature, A-Analytics

#6777 refactor(events): Tenant config in API, Connector and Outgoing Web-hook events
  crates/hyperswitch_interfaces/src/events/connector_api_logs.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/events/outgoing_webhook_logs.rs
  crates/router/src/services/api.rs
Labels: A-Analytics

#6701 refactor(users): remove lineage checks in roles get operations
  crates/diesel_models/src/query/role.rs
  crates/diesel_models/src/user_role.rs
  crates/router/src/analytics.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/role.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
  migrations/2024-12-02-110129_update-user-role-entity-type/down.sql
  migrations/2024-12-02-110129_update-user-role-entity-type/up.sql
Labels: M-database-changes

#6779 ci(cypress): Add shipping cost test case
  cypress-tests/cypress/e2e/PaymentTest/00004-NoThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/PaymentUtils/Bluesnap.js
  cypress-tests/cypress/e2e/PaymentUtils/Checkout.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Nmi.js
  cypress-tests/cypress/e2e/PaymentUtils/Noon.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#6791 fix(core): payments - map billing first and last name to card holder name
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/utils/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/airwallex.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/rapyd.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
Labels: C-bug, A-payments

#6793 fix(core): payments - map billing first and last name to card holder name
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/utils/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/airwallex.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/rapyd.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
Labels: C-bug, A-payments

#6801 fix(router): card network for co-badged card and update regex
  crates/cards/src/validate.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug

#6804 fix(router): card network for co-badged card and update regex
  crates/cards/src/validate.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug

#6812 refactor(constraint_graph): revert handle for cases where setup_future_usage is null in payments is null in payments
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/utils.rs
Labels: A-routing

#6817 fix(core): payments - map billing first and last name to card holder name
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/utils/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/airwallex.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/rapyd.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
Labels: Hotfix

#6730 refactor(connector): Move connectors Datatrans, Paybox, Placetopay, Bluesnap from router crate to hyperswitch_connector crate
  Cargo.lock
  crates/common_utils/src/consts.rs
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/bluesnap.rs
  crates/hyperswitch_connectors/src/connectors/bluesnap/transformers.rs
  crates/hyperswitch_connectors/src/connectors/datatrans.rs
  crates/hyperswitch_connectors/src/connectors/datatrans/transformers.rs
  crates/hyperswitch_connectors/src/connectors/gocardless/transformers.rs
  crates/hyperswitch_connectors/src/connectors/paybox.rs
  crates/hyperswitch_connectors/src/connectors/paybox/transformers.rs
  crates/hyperswitch_connectors/src/connectors/placetopay.rs
  crates/hyperswitch_connectors/src/connectors/placetopay/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#6771 refactor(kafka_message): NanoSecond precision for consolidated logs
  crates/router/src/services/kafka/dispute_event.rs
  crates/router/src/services/kafka/payment_attempt_event.rs
  crates/router/src/services/kafka/payment_intent_event.rs
  crates/router/src/services/kafka/refund_event.rs
Labels: A-Analytics

#6826 fix(webhooks): mask custom outgoing webhook headers in profile response
  crates/api_models/src/admin.rs
  crates/router/src/types/api/admin.rs
Labels: A-framework

#6811 feat(core): Add product authentication ids in business profile
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api/admin.rs
  migrations/2024-12-11-092649_add-authentication-product-ids-in-business-profile/down.sql
  migrations/2024-12-11-092649_add-authentication-product-ids-in-business-profile/up.sql
Labels: M-database-changes, M-api-contract-changes

#6831 feat(core): payment links - add support for custom background image and layout in details section
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/deployments/production.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/enums/ui.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.css
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#6830 feat(core): payment links - add support for custom background image and layout in details section
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/deployments/production.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/enums/ui.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.css
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#6794 ci(cypress): Add Paypal Mandates
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
Labels: A-CI-CD

#6672 feat(routing): build the gRPC interface for communicating with the external service to perform elimination routing
  crates/api_models/src/routing.rs
  crates/external_services/build.rs
  crates/external_services/src/grpc_client/dynamic_routing.rs
  crates/external_services/src/grpc_client/dynamic_routing/elimination_rate_client.rs
  crates/external_services/src/grpc_client/dynamic_routing/success_rate_client.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  proto/elimination_rate.proto
Labels: A-framework, C-feature, A-routing

#6796 ci(cypress): Add testcases for unified error code and message
  cypress-tests/cypress/e2e/PaymentTest/00022-Variations.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
Labels: C-test

#6706 refactor(core): structure of split payments
  Cargo.lock
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/Cargo.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/refunds.rs
  crates/common_enums/src/enums.rs
  crates/common_types/Cargo.toml
  crates/common_types/src/lib.rs
  crates/common_types/src/payments.rs
  crates/common_types/src/refunds.rs
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/refund.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/openapi/Cargo.toml
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/Cargo.toml
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/refunds/transformers.rs
  crates/router/src/core/refunds/validator.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/refund.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  migrations/2024-11-22-091336_add_split_payments_in_payment_intent/down.sql
  migrations/2024-11-22-091336_add_split_payments_in_payment_intent/up.sql
  migrations/2024-11-28-103344_add_split_refunds/down.sql
  migrations/2024-11-28-103344_add_split_refunds/up.sql
Labels: A-core, M-database-changes, C-refactor, M-api-contract-changes

#6829 feat(router): add `click_to_pay` block in payments sessions response if enabled
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments.rs
Labels: A-core, C-feature, M-api-contract-changes

#6798 fix(webhooks): mask custom outgoing webhook headers in profile response
  crates/api_models/src/admin.rs
  crates/router/src/types/api/admin.rs
Labels: S-waiting-on-review, A-webhooks

#6792 refactor(authz): Make connector list accessible by operation groups
  crates/router/src/routes/admin.rs
  crates/router/src/services/authorization/permission_groups.rs
Labels: C-refactor, A-users

#6806 feat(connector): [AIRWALLEX] Add refferer data to whitelist hyperswitch
  crates/hyperswitch_connectors/src/connectors/airwallex/transformers.rs
Labels: A-connector-integration, C-feature

#6837 fix(user_roles): migrations for backfilling user_roles entity_id
  migrations/2024-12-02-110129_update-user-role-entity-type/down.sql
  migrations/2024-12-02-110129_update-user-role-entity-type/up.sql
  migrations/2024-12-13-080558_entity-id-backfill-for-user-roles/down.sql
  migrations/2024-12-13-080558_entity-id-backfill-for-user-roles/up.sql
Labels: C-bug, M-database-changes, A-users

#6825 fix(router): handle default case for card_network for co-badged cards
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug

#6847 fix(user_roles): migrations for backfilling user_roles entity_id
  migrations/2024-12-02-110129_update-user-role-entity-type/down.sql
  migrations/2024-12-02-110129_update-user-role-entity-type/up.sql
  migrations/2024-12-13-080558_entity-id-backfill-for-user-roles/down.sql
  migrations/2024-12-13-080558_entity-id-backfill-for-user-roles/up.sql
Labels: M-database-changes

#6769 feat(core): Add click to pay support in hyperswitch
  .typos.toml
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/ctp_mastercard.rs
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service.rs
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/router_flow_types.rs
  crates/hyperswitch_domain_models/src/router_flow_types/unified_authentication_service.rs
  crates/hyperswitch_domain_models/src/router_request_types/unified_authentication_service.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/router/src/connector.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/network_tokenization.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/core/unified_authentication_service/transformers.rs
  crates/router/src/core/unified_authentication_service/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/api/unified_authentication_service.rs
  crates/router/src/types/api/unified_authentication_service_v2.rs
  crates/router/src/types/transformers.rs
  cypress-tests-v2/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Paybox.js
  postman/collection-dir/checkout/Flow Testcases/Variation Cases/Scenario2-Confirming the payment without PMD/Payments - Confirm/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Variation Cases/Scenario2-Confirming the payment without PMD/Payments - Confirm/event.test.js
  postman/collection-json/checkout.postman_collection.json
  postman/collection-json/paypal.postman_collection.json
Labels: A-core, C-feature, M-api-contract-changes, R-waiting-on-L1

#6852 fix(router): change click_to_pay const to snake_case and remove camel_case serde rename for clicktopay metadata
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/router/src/consts.rs
Labels: A-core, C-bug, M-api-contract-changes

#6733 feat(analytics): Analytics Request Validator and config driven forex feature
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  crates/analytics/docs/README.md
  crates/analytics/src/lib.rs
  crates/analytics/src/payment_intents/core.rs
  crates/analytics/src/payments/core.rs
  crates/analytics/src/refunds/core.rs
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/disputes.rs
  crates/api_models/src/analytics/payment_intents.rs
  crates/api_models/src/analytics/payments.rs
  crates/api_models/src/analytics/refunds.rs
  crates/router/src/analytics.rs
  crates/router/src/analytics_validator.rs
  crates/router/src/lib.rs
Labels: C-feature, M-configuration-changes, A-Analytics

#6842 ci: add workflow to check wasm-pack build
  .github/workflows/wasm-bulild-check.yml
Labels: A-CI-CD

#6846 fix(connector): 5xx error for Volt Payment Sync
  crates/hyperswitch_connectors/src/connectors/volt/transformers.rs
Labels: A-connector-integration, C-bug

#6836 refactor(customers_v2): address panics and some bugs in customers v2 endpoints
  api-reference-v2/api-reference/customers/customers--create.mdx
  api-reference-v2/api-reference/customers/customers--delete.mdx
  api-reference-v2/api-reference/customers/customers--list.mdx
  api-reference-v2/api-reference/customers/customers--retrieve.mdx
  api-reference-v2/api-reference/customers/customers--update.mdx
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/customers.rs
  crates/api_models/src/ephemeral_key.rs
  crates/api_models/src/events/customer.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/customer.rs
  crates/common_utils/src/id_type/global_id.rs
  crates/common_utils/src/id_type/global_id/customer.rs
  crates/common_utils/src/id_type/global_id/payment.rs
  crates/diesel_models/src/customers.rs
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/query/customers.rs
  crates/diesel_models/src/query/mandate.rs
  crates/diesel_models/src/query/payment_method.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/customers.rs
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/network_tokenization.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_create_intent.rs
  crates/router/src/core/payments/operations/payment_get.rs
  crates/router/src/core/payments/operations/payment_session_intent.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/mandate.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api/customers.rs
  crates/storage_impl/src/lib.rs
Labels: A-core, C-bug, S-waiting-on-review, C-refactor, M-api-contract-changes, A-customers, api-v2

#6851 fix(connector): add expiry year conversion for adyen mit transactions
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#6810 refactor(constraint_graph): handle PML for cases where setup_future_usage is not passed in payments
  crates/router/src/core/payment_methods/cards.rs
Labels: A-routing

#6838 chore(wasm): add wasm changes for ctp_mastercard connector
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration

#6849 fix(payment_methods): card_network and card_scheme should be consistent
  crates/diesel_models/src/payment_method.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, C-bug

#6867 fix(payment_methods): card_network and card_scheme should be consistent
  crates/diesel_models/src/payment_method.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, C-bug

#6865 chore(env): remove unified_authentication_service base_url from integ, sandbox and production toml
  config/deployments/env_specific.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
Labels: A-framework, M-configuration-changes

#6874 fix(core): Populate off_session based on payments request
  crates/router/src/core/payments/transformers.rs
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
Labels: A-core, C-bug, Hotfix

#6809 feat(users): handle email url for users in different tenancies
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/external_services/src/email.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/recon.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/services/email/types.rs
  crates/router/src/workflows/api_key_expiry.rs
  loadtest/config/development.toml
Labels: C-feature, S-waiting-on-review, A-users

#6863 feat(core): added customer phone_number and email to session token response for click to pay
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
Labels: A-core, S-waiting-on-review, M-api-contract-changes

#6860 feat(payments): [Payment links] Add config for changing button text for payment links
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#6770 feat(payment_methods): add support to pass apple pay recurring details to obtain apple pay merchant token
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/types.rs
  crates/hyperswitch_connectors/src/connectors/bluesnap/transformers.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, A-payment-methods, M-api-contract-changes

#6862 refactor(users): move roles schema to global interface
  crates/router/src/core/user/theme.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/utils/user/theme.rs
  crates/router/src/utils/user_role.rs
Labels: C-refactor, A-users

#6885 fix(connector): [UNIFIED_AUTHENTICATION_SERVICE] change url path to `pre_authentication_processing` in pre-auth flow
  .typos.toml
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service.rs
Labels: A-connector-integration, C-bug

#6864 fix(connector): Paypal BankRedirects (Ideal/EPS)
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration

#6876 refactor(customers_v2): include minor fixes for customer v2 flows
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events/customer.rs
  crates/api_models/src/payments.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-refactor, M-api-contract-changes, A-customers, api-v2

#6853 refactor(dynamic_routing): add col payment_method_type in dynamic_routing_stats
  crates/diesel_models/src/dynamic_routing_stats.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/src/core/routing/helpers.rs
  migrations/2024-12-16-111228_add_new_col_payment_method_type_in_dynamic_routing_stats/down.sql
  migrations/2024-12-16-111228_add_new_col_payment_method_type_in_dynamic_routing_stats/up.sql
Labels: M-database-changes, C-refactor

#6899 fix(connector): [STRIPE] fix stripe mandate
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-connector-integration, C-bug

#6903 fix(connector): Update mandate PMT configs for Mandate Supported Connectors
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  loadtest/config/development.toml
Labels: M-configuration-changes

#6910 fix(connector): Update mandate PMT configs for Mandate Supported Connectors
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  loadtest/config/development.toml
Labels: M-configuration-changes

#6909 fix(connector): [STRIPE] fix stripe mandate
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-connector-integration, C-bug

#6870 feat(router): add /relay endpoint
  api-reference/api-reference/relay/relay--retrieve.mdx
  api-reference/api-reference/relay/relay.mdx
  api-reference/mint.json
  api-reference/openapi_spec.json
  crates/api_models/src/lib.rs
  crates/api_models/src/relay.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/relay.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes.rs
  crates/openapi/src/routes/relay.rs
Labels: A-core, M-api-contract-changes

#6722 feat(payments_v2): implement payments capture v2
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_capture_v2.rs
  crates/router/src/core/payments/operations/payment_get.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types.rs
Labels: M-api-contract-changes, api-v2

#6879 feat(router): add db interface for `/relay`
  api-reference/openapi_spec.json
  crates/api_models/src/relay.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/id_type/relay.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/relay.rs
  crates/diesel_models/src/relay.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/relay.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core.rs
  crates/router/src/core/relay.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/db.rs
  crates/router/src/db/relay.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/relay.rs
  crates/router/src/services/authentication.rs
  crates/router_env/src/logger/types.rs
  migrations/2024-12-17-141811_add_relay_table/down.sql
  migrations/2024-12-17-141811_add_relay_table/up.sql
Labels: A-core, M-database-changes, M-api-contract-changes

#6881 refactor(connector): [Airwallex] add device_data in payment request
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_utils/src/types.rs
  crates/hyperswitch_connectors/src/connectors/airwallex/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/routes/payments/helpers.rs
  crates/router/tests/connectors/trustpay.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-refactor, M-api-contract-changes

#6887 chore(cypress): payout - fix test cases for adyenplatform bank
  .github/workflows/cypress-tests-runner.yml
  cypress-tests/cypress/e2e/PayoutUtils/AdyenPlatform.js
Labels: A-CI-CD, C-bug, S-waiting-on-review

#6813 feat(payment_methods_v2): Added Ephemeral auth for v2
  api-reference-v2/openapi_spec.json
  crates/api_models/src/ephemeral_key.rs
  crates/api_models/src/payment_methods.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/ephemeral_key.rs
  crates/diesel_models/src/ephemeral_key.rs
  crates/diesel_models/src/payment_method.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/router/src/consts.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/ephemeral_key.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/payment_methods.rs
  crates/router/src/types/storage/ephemeral_key.rs
Labels: M-api-contract-changes

#6904 refactor(grpc): send `x-tenant-id` and `x-request-id` in grpc headers
  crates/common_utils/src/consts.rs
  crates/external_services/src/grpc_client.rs
  crates/external_services/src/grpc_client/dynamic_routing/elimination_rate_client.rs
  crates/external_services/src/grpc_client/dynamic_routing/success_rate_client.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/routes/app.rs
Labels: S-waiting-on-review, C-refactor

#6911 fix(connector): [Cybersource] fix the required fields for wallet mandate payments
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#6805 feat(payments_v2): add payment method list endpoint
  .gitignore
  api-reference-v2/api-reference/business-profile/profile--connector-accounts-list.mdx
  api-reference-v2/api-reference/merchant-account/merchant-account--profile-list.mdx
  api-reference-v2/api-reference/merchant-connector-account/connector-account--create.mdx
  api-reference-v2/api-reference/merchant-connector-account/connector-account--retrieve.mdx
  api-reference-v2/api-reference/merchant-connector-account/connector-account--update.mdx
  api-reference-v2/api-reference/merchant-connector-account/merchant-connector--delete.mdx
  api-reference-v2/api-reference/payment-methods/list-saved-payment-methods-for-a-customer.mdx
  api-reference-v2/api-reference/payments/payments--payment-methods-list.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/common_types/Cargo.toml
  crates/common_types/src/lib.rs
  crates/common_types/src/payment_methods.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/query/merchant_connector_account.rs
  crates/diesel_models/src/schema_v2.rs
  crates/euclid_wasm/Cargo.toml
  crates/euclid_wasm/src/lib.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/mca.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/payment_methods.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/transformers.rs
  v2_migrations/2024-08-28-081721_add_v2_columns/down.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
  v2_migrations/2024-10-08-081847_drop_v1_columns/up.sql
Labels: M-database-changes, M-api-contract-changes, api-v2

#6918 feat(router): add /retrieve api for relay
  crates/api_models/src/relay.rs
  crates/diesel_models/src/query/relay.rs
  crates/diesel_models/src/relay.rs
  crates/router/src/core/relay.rs
  crates/router/src/db/relay.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/relay.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, A-payment-methods

#6921 fix(connector): [Cybersource] fix the required fields for wallet mandate payments
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: A-connector-integration, C-bug

#6832 fix(wasm): fix feature dependencies in `connector_configs` crate for WASM builds
  crates/connector_configs/Cargo.toml
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/euclid_wasm/Cargo.toml
Labels: A-connector-integration, C-bug

#6923 fix(wasm): remove extra space from wasm for payment_method_type of JPMorgan
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-bug

#6924 feat(router): add /retrieve api for relay
  api-reference/api-reference/relay/relay--retrieve.mdx
  api-reference/api-reference/relay/relay.mdx
  api-reference/mint.json
  api-reference/openapi_spec.json
  crates/api_models/src/lib.rs
  crates/api_models/src/relay.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/relay.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/relay.rs
  crates/diesel_models/src/relay.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/relay.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes.rs
  crates/openapi/src/routes/relay.rs
  crates/router/src/core.rs
  crates/router/src/core/relay.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/db.rs
  crates/router/src/db/relay.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/relay.rs
  crates/router/src/services/authentication.rs
  crates/router_env/src/logger/types.rs
  migrations/2024-12-17-141811_add_relay_table/down.sql
  migrations/2024-12-17-141811_add_relay_table/up.sql
Labels: A-core, M-database-changes, A-payment-methods, M-api-contract-changes

#6913 feat(cypress): valdiate `error_code` and `error_message` and make it visible in `reports`
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#6877 fix(cors): expose all headers set by application in `access-control-expose-headers` header value
  crates/router/src/cors.rs
Labels: A-framework, C-bug

#6928 fix(router): disable partial auth feature for relay
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  crates/router/src/routes/relay.rs
Labels: A-core, A-payment-methods, A-payments

#6927 fix(wasm): remove chasenet from jpmorgan wasm as ChaseNet doesn’t exist in PMT
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-bug

#6895 refactor(core): remove merchant return url from `router_data`
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_connectors/src/connectors/bitpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/boku/transformers.rs
  crates/hyperswitch_connectors/src/connectors/coinbase/transformers.rs
  crates/hyperswitch_connectors/src/connectors/mollie/transformers.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
  crates/hyperswitch_connectors/src/connectors/rapyd/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_data_v2/flow_common_types.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/iatapay/transformers.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/opennode/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/services/conversion_impls.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/cashtocode.rs
  crates/router/tests/connectors/cryptopay.rs
  crates/router/tests/connectors/iatapay.rs
  crates/router/tests/connectors/opennode.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/square.rs
  crates/router/tests/connectors/stax.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, C-refactor, api-v2

#6932 fix(users): remove force cookie for docker setup
  config/docker_compose.toml
Labels: C-bug, A-users

#6942 docs(openapi): update /relay request example
  api-reference/openapi_spec.json
  crates/openapi/src/routes/relay.rs
Labels: A-core, C-doc, A-payment-methods, M-api-contract-changes

#6936 fix(router): populate `profile_id` in for the HeaderAuth of v1
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/services/authentication.rs
  loadtest/config/development.toml
Labels: A-core, C-bug

#6735 ci: add tests that make use of locker
  cypress-tests/cypress/e2e/PaymentTest/00003-ConnectorCreate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00020-MandatesUsingNTIDProxy.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00023-PaymentMethods.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00024-ConnectorAgnosticNTID.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/e2e/PaymentUtils/WorldPay.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/utils/RequestBodyUtils.js
  cypress-tests/cypress/utils/featureFlags.js
Labels: A-CI-CD, S-waiting-on-review

#6945 fix(router): rename `management_url` to `management_u_r_l` in the apple pay session response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-bug, A-payment-methods, M-api-contract-changes, A-payments

#6940 feat(users): Add email domain based restriction for dashboard entry APIs
  crates/api_models/src/user.rs
  crates/diesel_models/src/query/user_authentication_method.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user_authentication_method.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_authentication_method.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/user_authentication_method.rs
  crates/router/src/utils/user.rs
  migrations/2024-12-11-092624_add-email-domain-in-auth-methods/down.sql
  migrations/2024-12-11-092624_add-email-domain-in-auth-methods/up.sql
Labels: C-feature, M-database-changes, A-users

#6878 refactor(dynamic_routing): add non_deterministic value in SuccessBasedRoutingConclusiveState type
  migrations/2024-12-18-124527_add_new_value_in_success_based_routing_conclusive_state/down.sql
  migrations/2024-12-18-124527_add_new_value_in_success_based_routing_conclusive_state/up.sql
Labels: M-database-changes, C-refactor

#6949 refactor(dynamic_routing): remove `tenant-id` prefixed in `id` field of dynamic routing grpc requests
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
Labels: S-waiting-on-review, C-refactor, A-routing
