Repository juspay/hyperswitch, pull requests merged in 2024-10, with the labels that each got.

#6143 chore: intoduce GenericError enum variant in enum ConnectorError
  api-reference-v2/api-reference/business-profile/merchant-connector--list.mdx
  api-reference-v2/api-reference/merchant-account/profile--list.mdx
  api-reference-v2/api-reference/organization/organization--merchant-account--list.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/hyperswitch_interfaces/src/errors.rs
  crates/openapi/src/routes/organization.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/services/connector_integration_interface.rs
  crates/router/src/types/api.rs
Labels: S-waiting-on-review, M-api-contract-changes

#6156 refactor(connector): Move connector Dlocal and Square from router to hyperswitch_connector crate
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/dlocal.rs
  crates/hyperswitch_connectors/src/connectors/dlocal/transformers.rs
  crates/hyperswitch_connectors/src/connectors/square.rs
  crates/hyperswitch_connectors/src/connectors/square/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#5864 feat(connector): [Nexixpay] add Payment & Refunds flows for cards
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/nexixpay.rs
  crates/hyperswitch_connectors/src/connectors/nexixpay/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/PaymentUtils/Nexixpay.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-api-contract-changes

#6200 feat(router): add profile level auto retries config support
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/retry.rs
Labels: A-core, C-feature

#6188 ci(cypress): reduce cargo build jobs to 4
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD

#6207 fix(bug): [IATAPAY] Fix PCM value for UPI_COLLECT
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-integration, C-bug

#6210 fix(bug): [IATAPAY] Fix PCM value for UPI_COLLECT
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-integration, C-bug

#6204 feat(connector): add dynamic duitnow qr code, google pay and applpe pay for fiuu
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/fiuu.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: A-connector-integration, S-waiting-on-review

#6212 fix(router): Persist card_network if present for non co-badged cards
  Cargo.lock
  crates/api_models/src/payments.rs
  crates/cards/Cargo.toml
  crates/cards/src/validate.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug, A-payments

#6114 refactor(users): Deprecate unused user APIs and stabilize v1 APIs
  crates/api_models/src/events/user.rs
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user.rs
  crates/api_models/src/user_role.rs
  crates/api_models/src/user_role/role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, A-users

#6185 refactor(user_role): Remove V1 insertion for `user_roles` and allow Invites for `org_admins`
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/services/authorization/roles/predefined_roles.rs
  crates/router/src/types/domain/user.rs
Labels: C-refactor, A-users

#6215 fix: add `reference` in `sepa_bank_instructions`
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-bug, M-api-contract-changes

#5932 feat(opensearch): restrict search view access based on user roles and permissions
  config/dashboard.toml
  crates/analytics/src/opensearch.rs
  crates/router/src/analytics.rs
  crates/router/src/consts/opensearch.rs
Labels: C-bug

#6218 docs: change organization_id to id in organization endpoints
  api-reference-v2/api-reference/organization/organization--merchant-account--list.mdx
  api-reference-v2/api-reference/organization/organization--retrieve.mdx
  api-reference-v2/api-reference/organization/organization--update.mdx
  api-reference-v2/openapi_spec.json
  api-reference/api-reference/organization/organization--retrieve.mdx
  api-reference/api-reference/organization/organization--update.mdx
  api-reference/openapi_spec.json
  crates/openapi/src/routes/organization.rs
Labels: C-doc, M-api-contract-changes

#6206 fix: batch encrypt/decrypt on merchant connector account
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, S-waiting-on-review

#6243 docs: fix broken links to Running Additional Services
  README.md
  docs/try_local_system.md
Labels: C-doc, hacktoberfest

#6224 fix(user_role): Restrict updating user role to the same `EntityType`
  crates/router/src/core/user_role.rs
Labels: C-bug, A-users

#6234 refactor(dynamic_fields): rename sepa in dynamic fields
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-refactor

#6217 build(docker-compose-development): address build failure of `hyperswitch-server` service
  docker-compose-development.yml
Labels: C-bug, hacktoberfest

#6032 chore: v2 api changes for session token endpoint
  api-reference-v2/api-reference/payments/payments--session-token.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
Labels: S-waiting-on-review, M-api-contract-changes, api-v2

#6251 fix(users): Trustpay refund url update
  crates/router/src/connector/trustpay.rs
Labels: A-connector-integration, C-bug

#6246 fix(connector): [deutsche bank] add support for sepa one-off payments
  crates/hyperswitch_connectors/src/connectors/deutschebank/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#6033 feat(connector): [Novalnet] add webhooks for card
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/novalnet.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
Labels: A-connector-integration, C-feature, R-waiting-on-L1

#6262 fix(euclid_wasm): update dependency for wasm in validate.rs
  Cargo.lock
  Makefile
  crates/cards/Cargo.toml
  crates/cards/src/validate.rs
Labels: C-bug

#6267 ci(cypress): Update error message for deprecated payment methods
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
Labels: A-CI-CD, S-waiting-on-review

#6253 fix(users): Allow accepting invites for `org_admin`s
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/utils/user_role.rs
Labels: C-bug, S-waiting-on-review, A-users

#6268 fix(connector): remove placeholder from novalnet webhooks secret
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: R-waiting-on-L1

#6153 ci(cypress): Add field level verification
  cypress-tests/.prettierrc.json
  cypress-tests/cypress/e2e/PaymentUtils/Nexixpay.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, C-test

#6284 feat(connector): add dynamic duitnow qr code, google pay and applpepay for fiuu
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/fiuu.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: A-connector-integration

#6275 ci: insert `cards_info` into `hyperswitch_db`
  .github/data/cards_info.csv
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD, S-waiting-on-review

#5994 feat(payments): support for card_network filter in payments list
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/payments.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: C-feature, S-waiting-on-review, A-payments

#6281 refactor(connector): [Adyen platform] api contract change for webhook
  crates/router/src/connector/adyenplatform/transformers/payouts.rs
Labels: A-connector-integration, C-refactor

#6257 feat(router): add support for Samsung pay app tokens flow
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: C-feature, A-payment-methods, M-api-contract-changes

#6289 refactor: add user agent header in outgoing webhooks
  crates/router/src/core/webhooks/outgoing.rs
Labels: C-refactor

#6308 fix(router): update nick_name only if card_token.card_holder_name is non empty and populate additional card_details from payment_attempt if not present in the locker
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug

#6304 feat(connector): [CYBERSOURCE] Add paze dashboard configs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-feature

#6291 docs(v2): Added 'X-Merchant-Id' to headers in Profile API docs
  api-reference-v2/openapi_spec.json
  crates/openapi/src/routes/profile.rs
Labels: C-doc, M-api-contract-changes

#6311 fix(router): replace underscore by hyphen in Samsung pay session call
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-payment-methods

#6297 docs(README): remove FAQs section
  README.md
Labels: C-doc, hacktoberfest, hacktoberfest-accepted

#6320 fix(router): update nick_name only if card_token.card_holder_name is non empty and populate additional card_details from payment_attempt if not present in the locker
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug, S-waiting-on-review

#6202 feat(core): add payments post_session_tokens flow
  api-reference-v2/openapi_spec.json
  api-reference/api-reference/payments/payments--post-session-tokens.mdx
  api-reference/mint.json
  api-reference/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payments.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api/payments.rs
  crates/hyperswitch_interfaces/src/api/payments_v2.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/post_session_tokens_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_post_session_tokens.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/payments_v2.rs
  crates/router_derive/src/macros/operation.rs
  crates/router_env/src/logger/types.rs
Labels: A-connector-integration, A-core, C-feature, C-refactor, M-api-contract-changes

#6323 refactor(router): modify `net_amount` to be a struct in the domain model of payment_attempt and handle amount changes across all flows
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/refunds.rs
  crates/router/src/services/kafka/payment_attempt.rs
  crates/router/src/services/kafka/payment_attempt_event.rs
  crates/router/src/types.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/types/transformers.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, C-refactor, M-api-contract-changes

#6299 feat(router): implement post_update_tracker for SessionUpdate Flow and add support for session_update_flow for Paypal
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_post_session_tokens.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/operations/tax_calculation.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, A-core, C-feature, C-refactor, M-api-contract-changes

#6326 feat(core): add payments post_session_tokens flow
  api-reference-v2/openapi_spec.json
  api-reference/api-reference/payments/payments--post-session-tokens.mdx
  api-reference/mint.json
  api-reference/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payments.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api/payments.rs
  crates/hyperswitch_interfaces/src/api/payments_v2.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/post_session_tokens_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_post_session_tokens.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/payments_v2.rs
  crates/router_derive/src/macros/operation.rs
  crates/router_env/src/logger/types.rs
Labels: A-connector-integration, A-core, C-feature, C-refactor, M-api-contract-changes

#6328 feat(router): implement post_update_tracker for SessionUpdate Flow and add support for session_update_flow for Paypal
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_post_session_tokens.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/operations/tax_calculation.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, A-core, C-feature, C-refactor, M-api-contract-changes

#6197 refactor(cypress): reuse config update command
  cypress-tests/cypress/e2e/RoutingTest/00003-Retries.cy.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, hacktoberfest

#6110 refactor(users): Move hardcoded email subjects to constants
  crates/router/src/consts.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/recon.rs
  crates/router/src/core/user.rs
  crates/router/src/services/email/types.rs
  crates/router/src/workflows/api_key_expiry.rs
Labels: S-waiting-on-review, C-refactor, hacktoberfest, A-users

#6306 docs: simplify README
  README.md
Labels: C-doc

#6315 feat(connector): [fiuu] Add support for payment and refund webhooks
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/fiuu.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review, A-webhooks

#6247 fix(users): Add max wrong attempts for two-fa
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/user.rs
  crates/router/src/utils/user/two_factor_auth.rs
Labels: A-users

#6346 feat(core): add payments post_session_tokens flow
  api-reference-v2/openapi_spec.json
  api-reference/api-reference/payments/payments--post-session-tokens.mdx
  api-reference/mint.json
  api-reference/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payments.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api/payments.rs
  crates/hyperswitch_interfaces/src/api/payments_v2.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/post_session_tokens_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_post_session_tokens.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/payments_v2.rs
  crates/router_derive/src/macros/operation.rs
  crates/router_env/src/logger/types.rs
Labels: A-connector-integration, A-core, C-feature, C-refactor, M-api-contract-changes

#6350 feat(router): implement post_update_tracker for SessionUpdate Flow and add support for session_update_flow for Paypal
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_post_session_tokens.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/operations/tax_calculation.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, A-core, C-feature, M-api-contract-changes

#6331 fix(payments_list): skip count query if no filters and add logging
  crates/api_models/src/payments.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/routes/payments.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: C-bug, S-waiting-on-review, A-payments, A-users

#6345 fix(router): update nick_name only if card_token.card_holder_name is non empty and populate additional card_details from payment_attempt if not present in the locker
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-bug

#6347 fix(router): set the eligible connector in the payment attempt for nti based mit flow
  crates/router/src/core/payments.rs
Labels: A-core, A-payment-methods

#6327 fix(mandates): handle the connector_mandate creation once and only if the payment is charged
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/types/storage/payment_method.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2024-10-13-182546_add_connector_mandate_id_in_payment_attempt/down.sql
  migrations/2024-10-13-182546_add_connector_mandate_id_in_payment_attempt/up.sql
Labels: A-core, C-bug, M-database-changes

#6358 fix(mandates): handle the connector_mandate creation once and only if the payment is charged
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/db/address.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/mandate.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/db/refund.rs
  crates/router/src/db/reverse_lookup.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/types/storage/payment_method.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/lookup.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
  crates/storage_impl/src/payouts/payouts.rs
  crates/storage_impl/src/redis/kv_store.rs
  migrations/2024-10-13-182546_add_connector_mandate_id_in_payment_attempt/down.sql
  migrations/2024-10-13-182546_add_connector_mandate_id_in_payment_attempt/up.sql
Labels: C-bug, M-database-changes

#6167 refactor(users): Update Database connection for Read only functions
  crates/router/src/db/dashboard_metadata.rs
  crates/router/src/db/role.rs
  crates/router/src/db/user.rs
  crates/router/src/db/user_role.rs
Labels: S-waiting-on-review, C-refactor, hacktoberfest, A-users

#6280 refactor(connector): added amount conversion framework for Mollie
  crates/hyperswitch_connectors/src/connectors/mollie.rs
  crates/hyperswitch_connectors/src/connectors/mollie/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/mollie.rs
Labels: A-connector-integration, C-refactor, hacktoberfest

#6266 refactor(connector): [Billwerk] Move connector Billwerk form Router to HyperswitchConnector Crate
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/billwerk.rs
  crates/hyperswitch_connectors/src/connectors/billwerk/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#6351 refactor(core): populate shipping_cost in payment response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
Labels: A-core, C-refactor, M-api-contract-changes

#6342 refactor(connector): add amount conversion framework to opayo
  crates/router/src/connector/opayo.rs
  crates/router/src/connector/opayo/transformers.rs
  crates/router/tests/connectors/opayo.rs
Labels: A-connector-integration, C-refactor, hacktoberfest

#6368 docs: upload new logos
  README.md
  docs/imgs/hyperswitch-logo-dark.svg
  docs/imgs/hyperswitch-logo-light.svg
  docs/imgs/hyperswitch-product.png
  docs/imgs/switch.png
Labels: C-doc

#6352 feat(opensearch): add additional global search filters and create sessionizer indexes for local
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  config/vector.yaml
  crates/analytics/src/opensearch.rs
  crates/analytics/src/search.rs
  crates/api_models/src/analytics/search.rs
  crates/router/src/consts/opensearch.rs
Labels: C-feature, A-Analytics

#6362 fix(router): make `x_merchant_domain` as required value only for session call done on web
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-core, A-payment-methods, M-api-contract-changes

#6317 refactor(connector): [WorldPay] migrate from modular to standard payment APIs
  Cargo.lock
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/Cargo.toml
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/worldpay/requests.rs
  crates/router/src/connector/worldpay/response.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/consts.rs
  crates/router/src/lib.rs
Labels: A-connector-compatibility

#6324 refactor(router): Introduce ApiKeyId id type
  .typos.toml
  crates/api_models/src/api_keys.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/api_key.rs
  crates/diesel_models/src/api_keys.rs
  crates/diesel_models/src/query/api_keys.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/db/api_keys.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authentication/decision.rs
  crates/router/src/services/authentication/detached.rs
Labels: A-framework, S-waiting-on-review, C-refactor

#6374 feat(connector): add 3DS flow for Worldpay
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/worldpay/requests.rs
  crates/router/src/connector/worldpay/response.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, A-core, R-waiting-on-L1

#6379 fix(mandates): Allow connector_mandate_detail updation in case of 'Authorized' Payments
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-core

#6225 feat(cypress): execute cypress tests in parallel
  .github/workflows/cypress-tests-runner.yml
  cypress-tests/cypress.config.js
  cypress-tests/readme.md
  scripts/execute_cypress.sh
Labels: A-CI-CD, S-waiting-on-review

#6376 refactor(permissions): Remove permissions field from permission info API response
  crates/api_models/src/user_role.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/utils/user_role.rs
Labels: S-waiting-on-review, C-refactor, A-users

#6392 refactor(connector): [WorldPay] propagate refusal codes as error code and messages
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/worldpay/response.rs
  crates/router/src/connector/worldpay/transformers.rs
Labels: A-connector-compatibility, R-waiting-on-L1

#6407 feat(analytics): remove additional filters from PaymentIntentFilters
  crates/analytics/src/payment_intents/core.rs
  crates/analytics/src/payment_intents/filters.rs
  crates/analytics/src/payment_intents/metrics.rs
  crates/analytics/src/payment_intents/metrics/payment_intent_count.rs
  crates/analytics/src/payment_intents/metrics/payments_success_rate.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payment_intent_count.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payment_processed_amount.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payments_distribution.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payments_success_rate.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/smart_retried_amount.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/successful_smart_retries.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/total_smart_retries.rs
  crates/analytics/src/payment_intents/metrics/smart_retried_amount.rs
  crates/analytics/src/payment_intents/metrics/successful_smart_retries.rs
  crates/analytics/src/payment_intents/metrics/total_smart_retries.rs
  crates/analytics/src/payment_intents/types.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/utils.rs
  crates/api_models/src/analytics/payment_intents.rs
Labels: C-bug

#6385 feat(router): add api_models and openapi changes for refunds create api v2
  api-reference-v2/api-reference/refunds/refunds--create.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events/refund.rs
  crates/api_models/src/refunds.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/global_id.rs
  crates/common_utils/src/id_type/global_id/refunds.rs
  crates/common_utils/src/id_type/refunds.rs
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/refund.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/refunds.rs
  crates/router/src/events/outgoing_webhook_logs.rs
Labels: A-core, C-feature, M-api-contract-changes, api-v2

#6386 fix(connector_config): include the `payment_processing_details_at` `Hyperswitch` option only if apple pay token decryption flow is supported for the connector
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-bug, A-payment-methods

#6261 refactor(connector): Move connectors Forte, Nexinets, Payeezy, Payu and Zen from Router to Hyperswitch Connector Trait
  Cargo.lock
  crates/common_utils/src/consts.rs
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/forte.rs
  crates/hyperswitch_connectors/src/connectors/forte/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nexinets.rs
  crates/hyperswitch_connectors/src/connectors/nexinets/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payeezy.rs
  crates/hyperswitch_connectors/src/connectors/payeezy/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payu.rs
  crates/hyperswitch_connectors/src/connectors/payu/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#6415 docs(cypress): refactor cypress documentation for more clarity
  .github/workflows/cypress-tests-runner.yml
  cypress-tests/README.md
Labels: A-CI-CD, C-doc, S-waiting-on-review

#6250 refactor(connector): add amount conversion framework to Shift4
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/shift4.rs
Labels: A-connector-integration, C-refactor, hacktoberfest

#6298 refactor(connector): add amount conversion framework to Wellsfargo
  crates/common_utils/src/types.rs
  crates/router/src/connector/wellsfargo.rs
  crates/router/src/connector/wellsfargo/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/wellsfargo.rs
Labels: hacktoberfest

#2747 feat(connector): [Airwallex] Use connector_response_reference_id as reference to merchant
  crates/router/src/connector/airwallex/transformers.rs
Labels: A-connector-integration, C-feature

#6322 docs(openapi): improve `rust_locker_open_api_spec`
  api-reference-v2/rust_locker_open_api_spec.yml
  api-reference/rust_locker_open_api_spec.yml
Labels: hacktoberfest

#6370 feat(connector): [Novalnet] Integrate wallets Paypal and Googlepay
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/novalnet.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
Labels: A-connector-integration, C-feature

#6424 chore: Add samsung pay payment method support for cybersource
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
Labels: A-euclid-foc

#6411 fix(core): populate billing_address for payment with pm_id
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, C-bug

#6302 feat(connector): [Rapyd] Use connector_response_reference_id
  crates/router/src/connector/rapyd/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest

#6296 feat(connector): [Rapyd] Use connector_request_reference_id
  crates/router/src/connector/rapyd/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest

#6341 feat(sample_data): generate random disputes for sample data
  crates/router/src/core/user/sample_data.rs
  crates/router/src/utils/user/sample_data.rs
Labels: A-disputes, hacktoberfest, A-users

#6277 feat(router): Move organization_id to request header from request body for v2
  api-reference-v2/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/common_utils/src/id_type/organization.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/merchant_account.rs
  crates/router/src/lib.rs
  crates/router/src/routes/admin.rs
  crates/router/src/services/authentication.rs
  cypress-tests-v2/cypress/fixtures/merchant_account.json
  cypress-tests-v2/cypress/support/commands.js
Labels: S-waiting-on-review, M-api-contract-changes

#6360 feat(connector): [PayU] Use connector_request_reference_id
  crates/hyperswitch_connectors/src/connectors/payu/transformers.rs
Labels: A-connector-integration, C-feature, hacktoberfest

#6282 refactor(connector): add amount conversion framework to tsys
  crates/hyperswitch_connectors/src/connectors/tsys.rs
  crates/hyperswitch_connectors/src/connectors/tsys/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/tsys.rs
Labels: A-connector-integration, C-refactor, hacktoberfest

#6333 feat(euclid): add dynamic routing in core flows
  api-reference/openapi_spec.json
  crates/api_models/src/routing.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/routing.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/routes/routing.rs
Labels: A-core, C-feature, M-api-contract-changes, A-routing

#6361 feat(connector): [Fiuu] Add support for cards recurring payments
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/hyperswitch_connectors/src/connectors/fiuu.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/core/payments/operations/payment_create.rs
  cypress-tests/cypress/e2e/PaymentUtils/Fiuu.js
  cypress-tests/cypress/support/commands.js
Labels: A-connector-integration, C-feature, S-waiting-on-review

#6423 refactor(connector): [Paypal] Add support for passing shipping_cost in Payment request
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-refactor

#4979 refactor(connector): added amount conversion framework for klarna and change type of amount to MinorUnit for OrderDetailsWithAmount
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_utils/src/types.rs
  crates/hyperswitch_connectors/src/connectors/taxjar.rs
  crates/hyperswitch_connectors/src/connectors/taxjar/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/riskified/transformers/api.rs
  crates/router/src/connector/signifyd/transformers/api.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/zen.rs
Labels: C-refactor, M-api-contract-changes

#6431 fix(analytics): fix refund status filter on dashboard
  crates/api_models/src/analytics/refunds.rs
Labels: C-bug

#6429 fix(router): Update request body for migrate-batch api
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/migration.rs
  crates/router/src/routes/payment_methods.rs
Labels: C-bug

#6412 feat: Add amount, currency and email to paze session response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-connector-integration, A-core, C-feature, M-api-contract-changes

#6446 fix(core): fix setup mandate payments to store connector mandate details
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-core

#6389 fix(multitenancy): consistently use tenant nomenclature everywhere
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/drainer/src/settings.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/middleware.rs
  crates/router/src/routes/app.rs
  crates/router/src/services/api.rs
  crates/router/src/types/storage/payment_attempt.rs
  loadtest/config/development.toml
Labels: A-core, C-bug

#6452 docs: Added desc. for wallets other than AP, GP
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
Labels: M-api-contract-changes

#6199 refactor(connector): add amount conversion framework to payu
  crates/hyperswitch_connectors/src/connectors/payu.rs
  crates/hyperswitch_connectors/src/connectors/payu/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/payu.rs
Labels: A-connector-integration, hacktoberfest

#6344 feat(analytics): add `customer_id` as filter for payment intents
  crates/analytics/src/payment_intents/core.rs
  crates/analytics/src/payment_intents/filters.rs
  crates/analytics/src/payment_intents/metrics.rs
  crates/analytics/src/payment_intents/metrics/payment_processed_amount.rs
  crates/analytics/src/payment_intents/types.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sqlx.rs
  crates/api_models/src/analytics/payment_intents.rs
Labels: A-Analytics

#6420 feat(cypress-test): include worldpay's request / response structure for test suite
  cypress-tests/cypress/e2e/PaymentTest/00006-VoidPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00013-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00020-Variations.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Paybox.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/e2e/PaymentUtils/WorldPay.js
  cypress-tests/cypress/fixtures/create-connector-body.json
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, S-waiting-on-review

#6440 feat(authz): Make info APIs support `ParentGroup`
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user_role/role.rs
  crates/common_enums/src/enums.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/permission_groups.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/services/authorization/roles/predefined_roles.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#6459 refactor(connnector): Structure connector enums in separate files for improved team ownership
  .github/CODEOWNERS
  crates/api_models/src/connector_enums.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/lib.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/lib.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  scripts/add_connector.sh
Labels: A-connector-integration, C-refactor

#6435 chore(users): change entity_type column of roles to non-optional
  crates/diesel_models/src/role.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/role.rs
  crates/router/src/services/authorization/roles.rs
  migrations/2024-10-24-123318_update-entity-type-column-in-roles/down.sql
  migrations/2024-10-24-123318_update-entity-type-column-in-roles/up.sql
Labels: M-database-changes

#6396 feat(router): Add payments get-intent API for v2
  api-reference-v2/api-reference/payments/payments--get-intent.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payments.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_get_intent.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api/payments.rs
  crates/router_env/src/logger/types.rs
Labels: M-api-contract-changes

#6378 feat(connector): [Paybox] Add mandates Flow for Paybox
  crates/api_models/src/payments.rs
  crates/common_utils/src/lib.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank/transformers.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nexinets/transformers.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payeezy/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bamboraapac/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/gocardless/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/paybox.rs
  crates/router/src/connector/paybox/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/wellsfargo/transformers.rs
  crates/router/src/consts.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/services/conversion_impls.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/storage/payment_method.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, A-core, A-mandates
