Repository juspay/hyperswitch, pull requests merged in 2024-05, with the labels that each got.

#4500 feat(FRM): add shipping details for signifyd
  crates/router/src/connector/riskified/transformers/api.rs
  crates/router/src/connector/signifyd/transformers/api.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/fraud_check/operation/fraud_check_pre.rs
  crates/router/src/core/fraud_check/types.rs
  crates/router/src/types/fraud_check.rs
Labels: S-waiting-on-review

#4456 feat: add support for merchant to pass public key and ttl for encrypting payload
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/types/api/admin.rs
  migrations/2024-04-24-075735_add-merchant-pkey-ttl-to-business-profile/down.sql
  migrations/2024-04-24-075735_add-merchant-pkey-ttl-to-business-profile/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes

#4484 feat: add an api for retrieving the extended card info from redis
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/openapi/src/openapi.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router_env/src/logger/types.rs
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review

#4474 fix(connector): send valid sdk information in authentication flow netcetera
  crates/diesel_models/src/schema.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/connector/utils.rs
  migrations/2024-04-28-095920_make_error_message_field_text/down.sql
  migrations/2024-04-28-095920_make_error_message_field_text/up.sql
Labels: C-bug, S-waiting-on-review, M-database-changes

#4490 chore: make client certificate and private key secret across codebase
  crates/api_models/src/payments.rs
  crates/common_utils/src/request.rs
  crates/router/src/connector/netcetera.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/verification.rs
  crates/router/src/services/api/client.rs
Labels: P-high, S-waiting-on-review

#4503 fix(access_token): use fallback to `connector_name` if `merchant_connector_id` is not present
  crates/common_utils/src/access_token.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/db/merchant_connector_account.rs
Labels: C-bug

#4146 feat(connector): [Ebanx] Add payout flows
  crates/api_models/src/enums.rs
  crates/api_models/src/payouts.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/openapi/src/openapi.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/ebanx.rs
  crates/router/src/connector/ebanx/transformers.rs
  crates/router/src/connector/stripe/transformers/connect.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/payouts.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/ebanx.rs
  crates/router/tests/connectors/sample_auth.toml
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature

#4498 refactor(user): use single purpose token and auth to accept invite
  crates/router/src/core/user_role.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authentication/blacklist.rs
  crates/router/src/types/domain/user.rs
Labels: S-waiting-on-review, C-refactor, A-users

#4510 feat(user): add route to get user details
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes, A-users

#4406 feat(connector): [Paypal] Add payout flow for wallet(Paypal and Venmo)
  crates/api_models/src/payouts.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/kgraph_utils/src/transformers.rs
  crates/openapi/src/openapi.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/consts.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/adyen.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature

#4489 fix(users): add password validations
  crates/router/src/consts/user.rs
  crates/router/src/types/domain/user.rs
Labels: S-waiting-on-review, A-users

#4508 Refactor(Connectors): [BOA] enhance response objects
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-feature

#4518 feat(users): Create Decision manager for User Flows
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/common_enums/src/enums.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authentication/blacklist.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
Labels: C-feature, S-waiting-on-review, A-users

#4527 fix(api_request): make `payment_method_data` as optional
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/types/api/payments.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  openapi/openapi_spec.json
Labels: C-bug, S-waiting-on-review

#4537 ci(release-stable-version): use `cocogitto` to obtain previous and next tags
  .github/workflows/release-stable-version.yml
Labels: A-CI-CD, C-bug, S-waiting-on-review

#4445 feat(core): add profile level config to toggle extended card bin
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: C-feature, S-waiting-on-review

#4505 docs(cypress): update cypress docs
  cypress-tests/readme.md
Labels: C-doc, S-waiting-on-review

#4528 feat(euclid_wasm): Add configs for new payout connectors
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-feature

#4542 fix(users): Revert add password validations
  crates/router/src/consts/user.rs
  crates/router/src/types/domain/user.rs
Labels: C-bug

#4333 refactor(paylater): use payment_method_data.billing fields instead of payment_method_data
  crates/api_models/src/payments.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/types/domain/payments.rs
  openapi/openapi_spec.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario12-BNPL-klarna/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario13-BNPL-afterpay/Payments - Create/request.json
  postman/collection-json/stripe.postman_collection.json
Labels: A-connector-compatibility, A-connector-integration, M-api-contract-changes

#4552 fix(connector): [BAMBORA] Restrict Card Expiry Year to 2 Digits and pass Amount in Decimal Format
  .github/workflows/CI-pr.yml
  Cargo.lock
  add_connector.md
  crates/api_models/src/bank_accounts.rs
  crates/api_models/src/lib.rs
  crates/common_utils/src/lib.rs
  crates/common_utils/src/request.rs
  crates/diesel_models/src/process_tracker.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/riskified.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router_env/Cargo.toml
  crates/router_env/src/cargo_workspace.rs
Labels: A-connector-integration, C-bug

#4365 feat(clickhouse): Init Clickhouse container on startup
  crates/analytics/docs/clickhouse/scripts/api_events.sql
  crates/analytics/docs/clickhouse/scripts/connector_events.sql
  crates/analytics/docs/clickhouse/scripts/disputes.sql
  crates/analytics/docs/clickhouse/scripts/outgoing_webhook_events.sql
  crates/analytics/docs/clickhouse/scripts/payment_attempts.sql
  crates/analytics/docs/clickhouse/scripts/payment_intents.sql
  crates/analytics/docs/clickhouse/scripts/payouts.sql
  crates/analytics/docs/clickhouse/scripts/refunds.sql
  docker-compose-development.yml
  docker-compose.yml
Labels: A-Analytics

#4249 feat(payment_methods): Filter payment methods based on pm client secret
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/diesel_models/src/payment_method.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
Labels: C-feature, A-payment-methods

#4197 build(docker): add web client and control center services to docker compose setup
  docker-compose.yml
  docker/web.Dockerfile
Labels: A-infra, C-feature, S-waiting-on-review, hiring-challenge

#3071 feat(constraint_graph): make the constraint graph framework generic and move it into a separate crate
  .github/CODEOWNERS
  Cargo.lock
  crates/euclid/Cargo.toml
  crates/euclid/src/dssa/analyzer.rs
  crates/euclid/src/dssa/graph.rs
  crates/euclid/src/dssa/truth.rs
  crates/euclid/src/dssa/types.rs
  crates/euclid/src/lib.rs
  crates/euclid/src/utils.rs
  crates/euclid_macros/src/inner/knowledge.rs
  crates/euclid_wasm/Cargo.toml
  crates/euclid_wasm/src/lib.rs
  crates/hyperswitch_constraint_graph/Cargo.toml
  crates/hyperswitch_constraint_graph/src/builder.rs
  crates/hyperswitch_constraint_graph/src/dense_map.rs
  crates/hyperswitch_constraint_graph/src/error.rs
  crates/hyperswitch_constraint_graph/src/graph.rs
  crates/hyperswitch_constraint_graph/src/lib.rs
  crates/hyperswitch_constraint_graph/src/types.rs
  crates/kgraph_utils/Cargo.toml
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/error.rs
  crates/kgraph_utils/src/mca.rs
  crates/router/Cargo.toml
  crates/router/src/core/payments/routing.rs
Labels: C-feature, S-waiting-on-review, R-waiting-on-L1, A-euclid-foc, A-constraint-graph

#4554 feat(FRM): add missing fields in Signifyd payment request
  crates/api_models/src/payments.rs
  crates/router/src/connector/signifyd.rs
  crates/router/src/connector/signifyd/transformers/api.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/fraud_check.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/zen.rs
  openapi/openapi_spec.json
Labels: M-api-contract-changes

#4511 feat(connector): [Cybersource] Add payout flows for Card
  crates/api_models/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature

#4480 feat(router): add an api to enable `connector_agnostic_mit` feature
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/types/api/admin.rs
  crates/router_env/src/logger/types.rs
  migrations/2024-04-24-111807_add-is-connector_agnostic_mit/down.sql
  migrations/2024-04-24-111807_add-is-connector_agnostic_mit/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes

#4138 refactor(core): refactor authentication core to fetch authentication only within it
  Cargo.lock
  crates/api_models/src/enums.rs
  crates/diesel_models/src/authentication.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/types/api/authentication.rs
Labels: S-waiting-on-review, M-database-changes, C-refactor

#4558 feat(users): Create Token only support for pre-login user flow APIs
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/api_models/src/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/types/domain/user/decision_manager.rs
Labels: C-feature, M-api-contract-changes, A-users

#4486 refactor: remove `configs/pg_agnostic_mit` api as it will not be used
  crates/api_models/src/routing.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/routing.rs
  crates/router/src/types/api/routing.rs
  crates/router_env/src/logger/types.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor, A-routing

#4481 ci(cypress): Added 3DS manual capture flow
  cypress-tests/cypress/e2e/ConnectorTest/00015-ThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorUtils/Adyen.js
  cypress-tests/cypress/e2e/ConnectorUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/ConnectorUtils/Bluesnap.js
  cypress-tests/cypress/e2e/ConnectorUtils/Cybersource.js
  cypress-tests/cypress/e2e/ConnectorUtils/Nmi.js
  cypress-tests/cypress/e2e/ConnectorUtils/Paypal.js
  cypress-tests/cypress/e2e/ConnectorUtils/Stripe.js
  cypress-tests/cypress/e2e/ConnectorUtils/Trustpay.js
  cypress-tests/cypress/fixtures/create-confirm-body.json
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#4555 fix(users): add password validations
  crates/router/src/consts/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user/password.rs
Labels: A-users

#4447 feat(connector): [MiFinity] add connector template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/mifinity.rs
  crates/router/src/connector/mifinity/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/mifinity.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#4564 feat(users): implement force set and force change password
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/db/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router_env/src/logger/types.rs
  loadtest/config/development.toml
  migrations/2024-05-07-092445_add_last_password_modified_at_column_to_users/down.sql
  migrations/2024-05-07-092445_add_last_password_modified_at_column_to_users/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes, C-refactor, M-api-contract-changes, A-users

#4557 feat(business_profile): feature add a config to use `billing` as `payment_method_billing`
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/utils.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/airwallex.rs
  crates/router/tests/connectors/bitpay.rs
  crates/router/tests/connectors/bluesnap.rs
  crates/router/tests/connectors/cashtocode.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/cryptopay.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/dlocal.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/iatapay.rs
  crates/router/tests/connectors/multisafepay.rs
  crates/router/tests/connectors/opennode.rs
  crates/router/tests/connectors/payeezy.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/trustpay.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/wise.rs
  crates/router/tests/connectors/worldline.rs
  migrations/2024-05-06-065226_add_billing_config_to_business_profile/down.sql
  migrations/2024-05-06-065226_add_billing_config_to_business_profile/up.sql
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review

#4371 refactor(bank-debit): remove billingdetails from bankdebit pmd
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/gocardless/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/types/domain/payments.rs
  openapi/openapi_spec.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario20-Bank Debit-ach/Payments - Create/request.json
  postman/collection-json/stripe.postman_collection.json
Labels: A-connector-compatibility, A-connector-integration

#4578 feat(connector-configs): [Cashtocode] add CNY currency for evoucher
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-feature

#4580 fix(users): Correct the condition for `verify_email` flow in decision manger
  crates/router/src/types/domain/user/decision_manager.rs
Labels: C-bug, A-users

#4570 Fix(connector): [BOA/CYBS] make rsync status optional
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#4577 feat(users): Create `user_key_store` table and `begin_totp` API
  Cargo.lock
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/user_key_store.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user.rs
  crates/diesel_models/src/user_key_store.rs
  crates/router/Cargo.toml
  crates/router/src/consts/user.rs
  crates/router/src/core/user.rs
  crates/router/src/db.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user.rs
  crates/router/src/db/user_key_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user_key_store.rs
  crates/router/src/utils/user.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/mock_db.rs
  migrations/2024-05-06-105026_user_key_store_table/down.sql
  migrations/2024-05-06-105026_user_key_store_table/up.sql
  migrations/2024-05-07-080628_user_totp/down.sql
  migrations/2024-05-07-080628_user_totp/up.sql
Labels: C-feature, S-waiting-on-review, A-users

#4512 refactor(db): Add TenantId field to the KafkaStore struct
  crates/router/src/db.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
Labels: A-framework, C-refactor, A-Analytics

#4587 fix(core): drop three_dsserver_trans_id from authentication table
  crates/diesel_models/src/authentication.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/db/authentication.rs
  crates/router/src/types/api/authentication.rs
  migrations/2024-05-08-111348_delete_unused_column_from_authentication/down.sql
  migrations/2024-05-08-111348_delete_unused_column_from_authentication/up.sql
Labels: C-bug, S-waiting-on-review, M-database-changes

#4597 feat(users): Create API to Verify TOTP
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, A-users

#4599 Fix(connector): [BOA/CYBS] make rsync status optional
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug

#4469 feat(connector): [Payone] add connector template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/payone.rs
  crates/router/src/connector/payone/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/payone.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-configuration-changes

#4291 fix(connector): [iatapay]handle empty error response in case of 401
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/iatapay/transformers.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/workflows/payment_sync.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#4591 feat(users): new routes to accept invite and list merchants
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authentication.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes, A-users

#4513 refactor(billing): store `payment_method_data_billing` for recurring payments
  crates/api_models/src/payment_methods.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/db/address.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/utils.rs
  migrations/2024-04-29-075651_store_payment_method_data_billing_in_payment_methods/down.sql
  migrations/2024-04-29-075651_store_payment_method_data_billing_in_payment_methods/up.sql
  openapi/openapi_spec.json
Labels: S-waiting-on-review, M-database-changes, C-refactor

#4607 fix(users): Fix bugs caused by the new token only flows
  crates/router/src/consts.rs
  crates/router/src/core/user.rs
  crates/router/src/types/domain/user.rs
Labels: C-bug, A-users

#4613 fix(router): [NETCETERA] skip sending browser_information in authentication request for app device_channel
  crates/router/src/connector/netcetera/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#4619 Fix(router): fix QR data into image conversion
  crates/router/src/utils.rs
Labels: A-connector-compatibility, C-bug

#4089 feat(Connectors): add mandate validation for auth flow
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/aci.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/gocardless.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/placetopay.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/services/api.rs
Labels: A-connector-compatibility, C-feature, S-waiting-on-review

#4569 refactor(payment_method_data): send optional billing details in response
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/core/payments/transformers.rs
Labels: S-waiting-on-review, C-refactor

#4429 feat(analytics): authentication analytics
  crates/analytics/src/auth_events.rs
  crates/analytics/src/auth_events/accumulator.rs
  crates/analytics/src/auth_events/core.rs
  crates/analytics/src/auth_events/metrics.rs
  crates/analytics/src/auth_events/metrics/authentication_attempt_count.rs
  crates/analytics/src/auth_events/metrics/authentication_success_count.rs
  crates/analytics/src/auth_events/metrics/challenge_attempt_count.rs
  crates/analytics/src/auth_events/metrics/challenge_flow_count.rs
  crates/analytics/src/auth_events/metrics/challenge_success_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_flow_count.rs
  crates/analytics/src/auth_events/metrics/three_ds_sdk_count.rs
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/core.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sdk_events/accumulator.rs
  crates/analytics/src/sdk_events/core.rs
  crates/analytics/src/sdk_events/metrics.rs
  crates/analytics/src/sdk_events/metrics/average_payment_time.rs
  crates/analytics/src/sdk_events/metrics/load_time.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/types.rs
  crates/analytics/src/utils.rs
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/auth_events.rs
  crates/api_models/src/analytics/sdk_events.rs
  crates/api_models/src/events.rs
  crates/router/src/analytics.rs
Labels: S-waiting-on-review, low-risk, A-Analytics

#4620 Fix(connector): [BOA/CYBS] add cancelled status to refund response
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#4623 Fix(connector): [BOA/CYBS] add cancelled status to refund response
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#4377 refactor(bank-transfer): remove billing from banktransfer payment data
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/types/domain/payments.rs
  openapi/openapi_spec.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario19-Bank Transfer-ach/Payments - Create/request.json
  postman/collection-json/stripe.postman_collection.json
Labels: A-connector-compatibility, A-connector-integration, M-configuration-changes

#4571 refactor(card_details): added missing card data fields for connectors
  crates/router/src/configs/defaults.rs
Labels: C-refactor

#4584 feat(connector): generate connector template code for gpayments authenticaition connector
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/gpayments.rs
  crates/router/src/connector/gpayments/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/gpayments.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
  scripts/add_connector.sh
Labels: A-connector-integration, S-waiting-on-review, M-configuration-changes

#4540 fix(connector_token): Move config redis
  crates/diesel_models/src/configs.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/configs.rs
Labels: A-core, S-waiting-on-review

#4409 feat(refunds): update refunds filters
  crates/api_models/src/admin.rs
  crates/api_models/src/events/refund.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/refunds.rs
  crates/common_enums/src/enums.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/refunds.rs
  crates/router/src/db/refund.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/storage/refund.rs
  crates/router_env/src/logger/types.rs
  openapi/openapi_spec.json
Labels: C-feature, A-refunds

#4601 feat(payment_methods): pass `required_billing_contact_fields` field in `/session` call based on dynamic fields
  crates/api_models/src/enums.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/connector_configs/src/transformer.rs
  crates/openapi/src/openapi.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments/flows/session_flow.rs
  openapi/openapi_spec.json
Labels: S-waiting-on-review, A-payment-methods

#4637 fix(config): include gpayments base url in deployment config files
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
Labels: A-dependencies

#4632 refactor(connector): [BOA/CYBS] refund error handling
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/consts.rs
  crates/router/src/core/refunds.rs
Labels: A-connector-integration, C-bug

#4634 ci(postman): Fix Nmi Collection
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/.meta.json
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a mandate payment/.meta.json
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a mandate payment/Payments - Create/.event.meta.json
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a mandate payment/Payments - Create/event.prerequest.js
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a mandate payment/Payments - Create/event.test.js
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a mandate payment/Payments - Create/request.json
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a mandate payment/Payments - Create/response.json
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount Copy/Payments - Create/event.test.js
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount Copy/Payments - Retrieve/.event.meta.json
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount Copy/Payments - Retrieve/event.test.js
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount Copy/Payments - Retrieve/request.json
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount Copy/Payments - Retrieve/response.json
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount Copy/Recurring Payments - Create/.event.meta.json
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount Copy/Recurring Payments - Create/event.prerequest.js
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount Copy/Recurring Payments - Create/event.test.js
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount Copy/Recurring Payments - Create/request.json
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount Copy/Recurring Payments - Create/response.json
Labels: A-CI-CD

#4639 refactor(connector): [BOA/CYBS] refund error handling
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/consts.rs
  crates/router/src/core/refunds.rs
Labels: A-connector-integration, C-bug

#4633 Ci(Cypress): Fix SaveCard Flow Test
  cypress-tests/cypress/e2e/ConnectorTest/00013-SaveCardFlow.cy.js
  cypress-tests/cypress/fixtures/create-payment-body.json
  cypress-tests/cypress/fixtures/save-card-confirm-body.json
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, C-test

#4574 refactor: remove `Ctx` generic from payments core
  .typos.toml
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/router_derive/src/macros/operation.rs
Labels: S-waiting-on-review, C-refactor

#4641 refactor(payment_methods): update api contract for update payment method endpoint
  crates/api_models/src/payment_methods.rs
  crates/openapi/src/routes/payment_method.rs
  crates/router/src/core/payment_methods/cards.rs
  openapi/openapi_spec.json
Labels: C-refactor, M-api-contract-changes

#4643 Fix(connector): [BOA/CYBS] add cancelled status to refund response
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug

#4524 feat(core): Move RouterData to crate hyperswitch_domain_models
  Cargo.lock
  connector-template/mod.rs
  connector-template/transformers.rs
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payment_address.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/billwerk/transformers.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/cryptopay/transformers.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/gocardless/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/square.rs
  crates/router/src/connector/square/transformers.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/wise.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/mandate/helpers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/verify_connector.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, C-feature

#4362 refactor(bank-redirect): remove billing from bankredirect payment data
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/types/domain/payments.rs
  openapi/openapi_spec.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario15-Bank Redirect-Ideal/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario16-Bank Redirect-sofort/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/Payments - Update/request.json
  postman/collection-json/stripe.postman_collection.json
Labels: A-connector-compatibility

#4598 refactor(db): Add TenantID field to KafkaEvent struct
  crates/router/src/db/kafka_store.rs
  crates/router/src/services/kafka.rs
Labels: A-framework, C-feature, A-Analytics

#4646 fix(connector): accept state abbreviation in 2 letter
  crates/common_enums/src/enums.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug

#4635 ci(cypress): Added 3DS Refund flow
  cypress-tests/cypress/e2e/ConnectorTest/00008-RefundPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/ConnectorUtils/Bluesnap.js
  cypress-tests/cypress/e2e/ConnectorUtils/Cybersource.js
  cypress-tests/cypress/fixtures/create-mandate-cit.json
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD

#4473 refactor(router): remove default case handling in bambora connector
  crates/router/src/connector/bambora/transformers.rs
Labels: A-connector-integration, C-refactor

#4645 fix(router): add `max_amount` validation in payment flows
  crates/router/src/consts.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug

#4655 feat(middleware): log content_length for 4xx
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/mifinity/transformers.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payone/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/lib.rs
  crates/router/src/middleware.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/address.rs
  crates/router/tests/connectors/gpayments.rs
  crates/router/tests/connectors/mifinity.rs
  crates/router/tests/connectors/payone.rs
Labels: S-waiting-on-review

#4661 refactor(session_flow): remove the shipping and billing parameter fields if null for apple pay and google pay
  crates/api_models/src/payments.rs
Labels: A-core, A-payments

#4404 refactor(cards,router): Remove duplicated card number interface
  crates/api_models/src/payment_methods.rs
  crates/cards/src/validate.rs
  crates/router/src/core/payments/helpers.rs
Labels: C-refactor, A-payments

#4261 chore: add deprecated flag to soon to be deprecated fields in payment request and response
  crates/api_models/src/payments.rs
  openapi/openapi_spec.json
Labels: C-doc

#4617 refactor(access_token): handle network delays with expiry of access token
  crates/router/src/consts.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/routes/metrics.rs
Labels: S-waiting-on-review, C-refactor

#4653 fix(core): use `realip_remote_addr` function to extract ip address
  crates/router/src/routes/payments/helpers.rs
Labels: C-bug, S-waiting-on-review

#4649 fix: address non-digit character cases in card number validation
  Cargo.lock
  crates/cards/Cargo.toml
  crates/cards/src/lib.rs
  crates/cards/src/validate.rs
  crates/router/src/core/blocklist/utils.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
Labels: C-bug

#4660 fix(docker): fix stack overflow for docker images
  Dockerfile
Labels: A-infra, C-bug

#4581 refactor(FRM): refactor frm configs
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/connector/signifyd/transformers/api.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/fraud_check/types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2024-05-10-074332_add_frm_metadata_to_payment_intent/down.sql
  migrations/2024-05-10-074332_add_frm_metadata_to_payment_intent/up.sql
  openapi/openapi_spec.json
Labels: S-waiting-on-review, M-database-changes, C-refactor, M-api-contract-changes

#4657 feat: added client_source, client_version in payment_attempt from payments confirm request headers
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/lib.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/transformers.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2024-05-15-133715_add_client_info_columns_in_payment_attempts/down.sql
  migrations/2024-05-15-133715_add_client_info_columns_in_payment_attempts/up.sql
Labels: C-feature, M-database-changes

#4582 feat: Soft kill kv
  config/development.toml
  config/docker_compose.toml
  crates/diesel_models/src/customers.rs
  crates/diesel_models/src/mandate.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/db/address.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/mandate.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/db/refund.rs
  crates/router/src/db/reverse_lookup.rs
  crates/router/src/services.rs
  crates/router/src/types/domain/customer.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/lookup.rs
  crates/storage_impl/src/metrics.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
  crates/storage_impl/src/payouts/payouts.rs
  crates/storage_impl/src/redis/kv_store.rs
  migrations/2024-05-14-092623_add_updated_by_column/down.sql
  migrations/2024-05-14-092623_add_updated_by_column/up.sql
Labels: M-database-changes

#4600 feat: add an api for toggle KV for all merchants
  crates/api_models/src/admin.rs
  crates/api_models/src/events.rs
  crates/diesel_models/src/query/merchant_account.rs
  crates/router/src/core/admin.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/api/admin.rs
Labels: A-core, S-waiting-on-review

#4688 chore(docker-compose): specify `pull_policy` for hyperswitch services
  docker-compose-development.yml
  docker-compose.yml
Labels: C-feature, S-waiting-on-review

#4695 docs: update Docker Compose setup guide to checkout `latest` tag
  .github/workflows/release-stable-version.yml
  README.md
  docs/try_local_system.md
Labels: A-CI-CD, A-infra, C-doc, S-waiting-on-review

#4667 fix(router): handle connector authentication technical failures and skip confirm in authorize flow only when authentication_type is not challenge
  crates/router/src/core/payments.rs
Labels: A-core, C-bug, S-waiting-on-review

#4671 refactor(cache): remove `deref` impl on `Cache` type
  crates/router/src/db/cache.rs
  crates/router/tests/cache.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: S-waiting-on-review, C-refactor

#4686 feat(core): Add a new endpoint for Complete Authorize flow
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api/payments.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/payments/payment_intent.rs
  openapi/openapi_spec.json
Labels: A-core

#4711 refactor(core): add support to enable pm_data and pm_id in payments response
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, C-refactor

#4624 feat(Cypress): Add response handler for Connector Testing
  cypress-tests/cypress/e2e/ConnectorTest/00003-NoThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00004-ThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00005-NoThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00006-VoidPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00007-SyncPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00008-RefundPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00009-SyncRefund.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00010-CreateSingleuseMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00011-CreateMultiuseMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00012-ListAndRevokeMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00013-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00014-ZeroAuthMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00015-ThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorUtils/Adyen.js
  cypress-tests/cypress/e2e/ConnectorUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/ConnectorUtils/Bluesnap.js
  cypress-tests/cypress/e2e/ConnectorUtils/Cybersource.js
  cypress-tests/cypress/e2e/ConnectorUtils/Nmi.js
  cypress-tests/cypress/e2e/ConnectorUtils/Paypal.js
  cypress-tests/cypress/e2e/ConnectorUtils/Stripe.js
  cypress-tests/cypress/e2e/ConnectorUtils/Trustpay.js
  cypress-tests/cypress/e2e/ConnectorUtils/utils.js
  cypress-tests/cypress/fixtures/confirm-body.json
  cypress-tests/cypress/fixtures/create-confirm-body.json
  cypress-tests/cypress/fixtures/save-card-confirm-body.json
  cypress-tests/cypress/support/commands.js
  cypress-tests/readme.md
Labels: C-feature, C-test

#4717 chore: move tracing to workspace deps and remove router_env as a dependency of redis_interface
  Cargo.lock
  Cargo.toml
  crates/redis_interface/Cargo.toml
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/lib.rs
  crates/router_env/Cargo.toml
Labels: A-framework

#4603 feat(core): add support for connectors having separate version call for pre authentication
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/connector/gpayments.rs
  crates/router/src/connector/netcetera.rs
  crates/router/src/connector/threedsecureio.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/authentication.rs
Labels: A-core, S-waiting-on-review

#4720 feat(connector): accept connector_transaction_id in 4xx error_response of connector
  crates/router/src/connector/paypal.rs
Labels: A-connector-integration, C-feature

#4662 feat(webhook): add frm webhook support
  crates/api_models/src/enums.rs
  crates/api_models/src/webhooks.rs
  crates/router/src/connector/riskified.rs
  crates/router/src/connector/riskified/transformers/api.rs
  crates/router/src/connector/signifyd.rs
  crates/router/src/connector/signifyd/transformers/api.rs
  crates/router/src/core/webhooks.rs
Labels: A-core, C-feature, A-webhooks

#4708 feat(users): Create generate recovery codes API
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/two_factor_auth.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#3216 feat(routing): Use Moka cache for routing with cache invalidation
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: C-feature, R-waiting-on-L1, A-routing

#4721 feat(payment_methods): enable auto-retries for apple pay
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
Labels: S-waiting-on-review, A-payment-methods, A-payments

#4650 refactor(bank-redirect): dynamic field changes for bankredirect payment method
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-refactor

#4715 feat(router): send message_version and directory_server_id in next_action block of three_ds_data for external 3ds flow
  crates/api_models/src/payments.rs
  crates/diesel_models/src/authentication.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/authentication.rs
  crates/router/src/types/authentication.rs
  migrations/2024-05-21-075556_add_directory_server_id_in_authentication/down.sql
  migrations/2024-05-21-075556_add_directory_server_id_in_authentication/up.sql
  openapi/openapi_spec.json
Labels: A-connector-integration, A-core, C-feature, S-waiting-on-review, M-database-changes

#4709 fix(kafka): fix kafka timestamps sent from application
  crates/router/src/services/kafka.rs
  crates/router/src/services/kafka/dispute.rs
  crates/router/src/services/kafka/payment_attempt.rs
  crates/router/src/services/kafka/payment_intent.rs
  crates/router/src/services/kafka/payout.rs
Labels: A-framework, C-bug, A-Analytics

#4743 ci: fix unit tests for routing
  crates/euclid/src/frontend/dir.rs
  crates/kgraph_utils/src/mca.rs
Labels: A-CI-CD, C-bug, S-waiting-on-review, A-euclid-foc, A-constraint-graph

#4658 feat(analytics): added client columns in payments analytics
  crates/analytics/docs/clickhouse/scripts/payment_attempts.sql
  crates/analytics/src/payments/core.rs
  crates/analytics/src/payments/distribution.rs
  crates/analytics/src/payments/distribution/payment_error_message.rs
  crates/analytics/src/payments/filters.rs
  crates/analytics/src/payments/metrics.rs
  crates/analytics/src/payments/metrics/avg_ticket_size.rs
  crates/analytics/src/payments/metrics/connector_success_rate.rs
  crates/analytics/src/payments/metrics/payment_count.rs
  crates/analytics/src/payments/metrics/payment_processed_amount.rs
  crates/analytics/src/payments/metrics/payment_success_count.rs
  crates/analytics/src/payments/metrics/retries_count.rs
  crates/analytics/src/payments/metrics/success_rate.rs
  crates/analytics/src/payments/types.rs
  crates/analytics/src/sqlx.rs
  crates/api_models/src/analytics/payments.rs
  crates/router/src/services/kafka/payment_attempt.rs
  crates/router/src/services/kafka/payment_intent.rs
Labels: A-Analytics

#4723 chore: move RouterData Request types to hyperswitch_domain_models crate
  Cargo.lock
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/errors.rs
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_request_types/authentication.rs
  crates/hyperswitch_domain_models/src/router_request_types/fraud_check.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/signifyd/transformers/api.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/connector/worldpay/response.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/fraud_check/types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/approve_flow.rs
  crates/router/src/core/payments/flows/reject_flow.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/payouts/retry.rs
  crates/router/src/core/verification.rs
  crates/router/src/routes/fraud_check.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/api/files.rs
  crates/router/src/types/domain/payments.rs
  crates/router/src/types/fraud_check.rs
  crates/router/src/utils.rs
  crates/router/src/utils/connector_onboarding.rs
  crates/router/src/utils/custom_serde.rs
  crates/scheduler/Cargo.toml
  crates/scheduler/src/errors.rs
Labels: S-waiting-on-review, C-refactor

#4731 feat(users): Create terminate 2fa API
  crates/api_models/src/user.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user/two_factor_auth.rs
  crates/router_env/src/logger/types.rs
Labels: S-waiting-on-review, A-users

#4749 fix(payment_methods): mask the email address being logged in the `payment_method_list` response logs
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, A-payment-methods

#4753 fix(payment_methods): mask the email address being logged in the `payment_method_list` response logs
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, A-payment-methods

#4747 fix(payment_methods): log and ignore the apple pay metadata parsing error while fetching apple pay retry connectors
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, A-payment-methods

#4756 fix(payment_methods): revert the filter for getting the mcas which are disabled
  crates/diesel_models/src/query/merchant_connector_account.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug

#4697 feat(core): [Paypal] Add session_token flow for Paypal sdk
  crates/api_models/src/payments.rs
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/src/response_modifier.rs
  crates/connector_configs/src/transformer.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/openapi/src/openapi.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-api-contract-changes

#4758 feat(connector): [AUTHORIZEDOTNET] Implement non-zero mandates
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-feature

#4741 docs(analytics): Add documentation for setting up data services and enabling data features in control center
  README.md
  config/dashboard.toml
  crates/analytics/docs/README.md
  crates/analytics/docs/clickhouse/README.md
  docker-compose.yml
  docs/imgs/hyperswitch-architecture.png
  docs/try_local_system.md
Labels: C-doc, A-Analytics

#4728 feat(connector): [Iatapay] add upi qr support
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/kgraph_utils/src/mca.rs
  crates/kgraph_utils/src/transformers.rs
  crates/openapi/src/openapi.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/iatapay/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/domain/payments.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-compatibility, A-connector-integration

#4782 fix(docker-compose): fix docker compose syntax
  docker-compose.yml
Labels: C-bug

#4788 build(docker): add web client and control center services to docker compose setup
  README.md
  config/dashboard.toml
  crates/analytics/docs/README.md
  crates/analytics/docs/clickhouse/README.md
  crates/analytics/docs/clickhouse/scripts/api_events.sql
  crates/analytics/docs/clickhouse/scripts/connector_events.sql
  crates/analytics/docs/clickhouse/scripts/disputes.sql
  crates/analytics/docs/clickhouse/scripts/outgoing_webhook_events.sql
  crates/analytics/docs/clickhouse/scripts/payment_attempts.sql
  crates/analytics/docs/clickhouse/scripts/payment_intents.sql
  crates/analytics/docs/clickhouse/scripts/payouts.sql
  crates/analytics/docs/clickhouse/scripts/refunds.sql
  docker-compose-development.yml
  docker-compose.yml
  docker/web.Dockerfile
  docs/imgs/hyperswitch-architecture.png
  docs/try_local_system.md
Labels: C-doc, C-feature

#4784 refactor: retrieve extended card info config during business profile get call
  crates/api_models/src/admin.rs
  crates/router/src/types/api/admin.rs
  openapi/openapi_spec.json
Labels: C-refactor, M-api-contract-changes

#4789 refactor(core): move router data response and request models to hyperswitch domain models crate
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_request_types/authentication.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_domain_models/src/router_response_types/disputes.rs
  crates/hyperswitch_domain_models/src/router_response_types/fraud_check.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/authentication/types.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/routes/fraud_check.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/authentication.rs
  crates/router/src/types/fraud_check.rs
Labels: C-refactor

#4795 fix: implement StrongEq for Vec<u8>
  crates/masking/src/strong_secret.rs
Labels: A-core, S-waiting-on-review

#4765 feat(users): Add redis in Begin and Verify TOTP and create a new API that updates TOTP
  crates/api_models/src/user.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/two_factor_auth.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#4807 Fix(Cypress): Fixing 3DS payment failure in headless mode
  cypress-tests/cypress.config.js
  cypress-tests/cypress/e2e/ConnectorTest/00008-RefundPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00015-ThreeDSManualCapture.cy.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, C-test

#4777 feat(connector): [ZSL] handle partial payments in Local Bank Transfer
  config/deployments/production.toml
  crates/router/src/connector/zsl/transformers.rs
Labels: A-connector-integration, C-feature

#4810 feat(users): add endpoint to check 2fa status
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes, A-users

#4714 feat(connector): add support for external authentication for cybersource
  crates/api_models/src/enums.rs
  crates/diesel_models/src/authentication.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/db/authentication.rs
  migrations/2024-05-21-065403_add_ds_trans_id_to_authentication_table/down.sql
  migrations/2024-05-21-065403_add_ds_trans_id_to_authentication_table/up.sql
Labels: S-waiting-on-review, M-database-changes

#4799 feat(connector): [Klarna] Add support for Capture, Psync, Refunds and Rsync flows
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/core/refunds/validator.rs
Labels: A-connector-integration, C-feature

#4804 chore: remove redundant caching code
  crates/router/src/consts.rs
  crates/router/src/core/cache.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/db.rs
  crates/router/src/db/api_keys.rs
  crates/router/src/db/cache.rs
  crates/router/src/db/configs.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/services.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/redis.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: A-framework, S-waiting-on-review, C-refactor

#4692 feat(connector): implement pre auth flow for gpayments
  crates/api_models/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/diesel_models/src/authentication.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/router/Cargo.toml
  crates/router/src/connector/gpayments.rs
  crates/router/src/connector/gpayments/gpayments_types.rs
  crates/router/src/connector/gpayments/transformers.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/services/api/client.rs
  crates/router/src/types/api.rs
  crates/router/src/types/authentication.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: C-feature, M-database-changes

#4553 feat(payout): [Payone] add payone connector
  Cargo.lock
  crates/api_models/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/router/Cargo.toml
  crates/router/src/connector/payone.rs
  crates/router/src/connector/payone/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/macros.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils.rs
  crates/router/tests/connectors/payone.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, S-waiting-on-review

#4823 chore(euclid_wasm): update klarna metadata
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-euclid-foc

#4821 feat(users): add support to reset totp
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
Labels: M-api-contract-changes, A-users

#4762 fix(routing): Added routing validation for payments req
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: C-bug, A-routing

#4819 refactor(connector): [Klarna] Refactor configs for sandbox and production and update payment status
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/klarna/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-refactor

#4710 feat(router): Added amount conversion function in core for connector module
  Cargo.lock
  crates/api_models/src/refunds.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/errors.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/refund.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/compatibility/stripe/refunds/types.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/refunds/validator.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/refund.rs
  crates/router/src/services/kafka/refund.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/api/fraud_check.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/utils/ext_traits.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/connectors/nmi.rs
  crates/router/tests/connectors/utils.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, A-core, C-feature, S-waiting-on-review, A-payments, A-currency-conversion, high-risk

#4801 refactor(core): move router data flow types to hyperswitch domain models crate
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/router_flow_types.rs
  crates/hyperswitch_domain_models/src/router_flow_types/access_token_auth.rs
  crates/hyperswitch_domain_models/src/router_flow_types/dispute.rs
  crates/hyperswitch_domain_models/src/router_flow_types/files.rs
  crates/hyperswitch_domain_models/src/router_flow_types/fraud_check.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payments.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payouts.rs
  crates/hyperswitch_domain_models/src/router_flow_types/refunds.rs
  crates/hyperswitch_domain_models/src/router_flow_types/webhooks.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/disputes.rs
  crates/router/src/types/api/files.rs
  crates/router/src/types/api/fraud_check.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/payouts.rs
  crates/router/src/types/api/refunds.rs
Labels: S-waiting-on-review, C-refactor

#4755 fix(netcetera): handle non-ascii characters for cardholdername, error message and send missing fields
  Cargo.lock
  crates/router/Cargo.toml
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/core/authentication/utils.rs
Labels: A-connector-integration, A-core, C-bug, S-waiting-on-review

#4811 chore(euclid_wasm): update paypal payment experience
  crates/connector_configs/src/transformer.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-compatibility, S-waiting-on-review, A-euclid-foc

#4822 chore: enable `clippy::large_futures` lint
  .cargo/config.toml
  crates/router/src/core/disputes.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/routes/cards_info.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_link.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/poll.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/routing.rs
  crates/router/src/routes/webhook_events.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
Labels: C-refactor

#4832 refactor(first_name): check if first_name is sent as empty string
  crates/api_models/src/payments.rs
Labels: C-refactor

#4839 Refactor(core): Reverts Inclusion of constraint graph for merchant Payment Method list
  crates/euclid/src/enums.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/utils.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: A-core, A-constraint-graph
