Repository juspay/hyperswitch, pull requests merged in 2024-02, with the labels that each got.

#3521 ci(postman): Stripe collection card expired fix
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario27-Create payment without customer_id and with billing address and shipping address/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario8-Create a failure card payment with confirm true/Payments - Create/request.json
Labels: A-CI-CD

#3512 chore: add file storage config in env_specific toml
  config/deployments/env_specific.toml
Labels: S-waiting-on-review

#3508 feat(configs): [Noon] Add applepay mandate configs
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/docker_compose.toml
Labels: A-connector-compatibility, A-connector-integration, C-feature

#3304 feat: add deep health check for scheduler
  Cargo.lock
  config/config.example.toml
  config/deployments/scheduler/consumer.toml
  config/deployments/scheduler/producer.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/health_check.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/scheduler/Cargo.toml
  crates/scheduler/src/configs/defaults.rs
  crates/scheduler/src/configs/settings.rs
  crates/scheduler/src/configs/validations.rs
Labels: A-process-tracker, C-feature, S-waiting-on-review

#3519 feat: add healthcheck for outgoing request
  crates/api_models/src/health_check.rs
  crates/router/src/consts.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/health_check.rs
  crates/router/src/routes/health.rs
Labels: A-core, S-waiting-on-review

#2705 refactor(connector): [CYBERSOURCE] Remove default case for Cybersource
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, S-waiting-on-author, C-refactor, hacktoberfest

#3528 fix(logging): add an end log line for `LogSpanInitializer`
  crates/router/src/middleware.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/mandates.rs
Labels: A-framework

#3525 fix(core): fix mandate_details to store some value only if mandate_data struct is present
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/operations/payment_create.rs
Labels: A-core, C-bug

#2849 refactor(connector): [Noon] change error message from not supported to not implemented
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue

#3532 fix(connector): [Trustpay] add merchant_id in gpay session response for trustpay
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#3523 feat(user): add support for resend invite
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, R-waiting-on-L1, A-users

#3526 fix: add outgoing checks for scheduler
  crates/api_models/src/health_check.rs
  crates/router/src/bin/scheduler.rs
Labels: A-framework, S-waiting-on-review

#3249 refactor: rename `kms` feature flag to `aws_kms`
  README.md
  config/config.example.toml
  crates/drainer/Cargo.toml
  crates/drainer/src/connection.rs
  crates/drainer/src/services.rs
  crates/drainer/src/settings.rs
  crates/external_services/Cargo.toml
  crates/external_services/src/aws_kms.rs
  crates/external_services/src/aws_kms/decrypt.rs
  crates/external_services/src/kms/decrypt.rs
  crates/external_services/src/lib.rs
  crates/router/Cargo.toml
  crates/router/src/configs.rs
  crates/router/src/configs/aws_kms.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/kms.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/blocklist/utils.rs
  crates/router/src/core/currency.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/verification.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/services.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/jwt.rs
  crates/router/src/utils/currency.rs
  crates/scheduler/src/configs/settings.rs
Labels: S-waiting-on-review, C-refactor

#3396 feat: add deep health check for drainer
  Cargo.lock
  crates/api_models/src/health_check.rs
  crates/drainer/Cargo.toml
  crates/drainer/src/errors.rs
  crates/drainer/src/health_check.rs
  crates/drainer/src/lib.rs
  crates/drainer/src/main.rs
  crates/drainer/src/services.rs
  crates/drainer/src/settings.rs
Labels: C-feature, S-waiting-on-review

#3486 fix: add `profile_id` in dispute
  crates/api_models/src/disputes.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: C-bug, A-disputes

#3541 fix(router): handle empty body parse failures in bad request logger middleware
  crates/router/src/lib.rs
  crates/router/src/middleware.rs
Labels: A-core, C-bug, S-waiting-on-review

#3516 fix: return currency in payment methods list response
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, S-waiting-on-review

#3544 fix(router): handle empty body parse failures in bad request logger middleware
  crates/router/src/lib.rs
  crates/router/src/middleware.rs
Labels: A-core, C-bug, S-waiting-on-review

#3548 fix(connector): [NMI] Handle empty response in psync and error response in complete authorize
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#3547 feat(connector): [Adyen] Use connector_request_reference_id as reference to Payments
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-feature

#3550 fix(connector): [NMI] Handle empty response in psync and error response in complete authorize
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#2702 feat(connect): [NMI] Use connector_response_reference_id as reference to merchant
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-author, hacktoberfest

#3555 refactor(configs): [Payme] Development config for 3DS
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
Labels: A-connector-integration, C-refactor

#3496 fix(merchant_connector_account): change error to DuplicateMerchantAccount
  crates/router/src/core/admin.rs
Labels: A-core

#3500 feat(router): Block list spm customer for payment link flow
  crates/openapi/src/routes/payment_method.rs
  crates/router/src/core/payment_link/payment_link_status/status.js
  crates/router/src/core/payment_methods/cards.rs
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review

#3237 fix(connector): [Stripe] capture error message and error code for failed payment, capture, void and refunds
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-feature, S-waiting-on-review, C-refactor

#3325 feat(connector): send metadata in payment authorize request for noon nmi cryptopay
  crates/api_models/src/payment_methods.rs
  crates/router/src/connector/cryptopay/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, S-waiting-on-review

#3360 refactor(blocklist): separate utility function & kill switch for validating data in blocklist
  crates/api_models/src/errors/actix.rs
  crates/api_models/src/errors/types.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/blocklist/utils.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/db/blocklist_lookup.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, S-waiting-on-review, C-refactor, M-api-contract-changes, A-errors, R-waiting-on-L1, R-waiting-on-L2

#3502 feat(payouts): Add Wallet to Payouts
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/payouts.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
  crates/openapi/src/openapi.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/wise/transformers.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/types/api/payouts.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/adyen.rs
  migrations/2024-01-30-090815_alter_payout_type/down.sql
  migrations/2024-01-30-090815_alter_payout_type/up.sql
  openapi/openapi_spec.json
  package.json
Labels: A-connector-integration, A-core, C-feature, M-database-changes, M-api-contract-changes

#3481 refactor: [Noon] add new field max_amount to mandate request
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-feature, A-stripe-compatibility-layer

#3507 fix(payouts): saved payment methods list for bank details
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
Labels: C-bug

#3568 feat(core): routes to toggle blocklist
  crates/api_models/src/blocklist.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/blocklist.rs
  crates/router/src/core/blocklist.rs
  crates/router/src/core/blocklist/utils.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/blocklist.rs
  crates/router/src/routes/lock_utils.rs
  crates/router_env/src/logger/types.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, M-api-contract-changes

#3583 refactor(users): change list roles api to also send inactive merchants
  crates/router/src/core/user.rs
  crates/router/src/utils/user_role.rs
Labels: S-waiting-on-review, C-refactor, A-users

#3567 refactor(connector): [Adyen] Status mapping based on Payment method Type
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
Labels: A-connector-integration, C-refactor

#3542 feat(core): add config for update_mandate_flow
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/api_models/src/payments.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/transformers.rs
  loadtest/config/development.toml
Labels: A-core, C-feature, S-waiting-on-review

#3503 feat: adding refunds type to api_event_logs api to fetch refunds audit trail
  crates/analytics/src/api_event/events.rs
  crates/api_models/src/analytics/api_event.rs
Labels: S-waiting-on-review, A-Analytics

#3530 refactor(user_role): Change update user role request to take `email` instead of `user_id`
  crates/api_models/src/user.rs
  crates/api_models/src/user_role.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/services/authorization/predefined_permissions.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
Labels: C-refactor, M-api-contract-changes, A-users

#3591 refactor: [Noon] add new field max_amount to mandate request
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3594 feat(permissions): Permsision Info Ordering Change
  crates/router/src/services/authorization/info.rs
Labels: S-waiting-on-review, A-users

#3146 refactor(payment_methods): handle card duplication
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, S-waiting-on-review, A-payment-methods, C-refactor, A-payments

#3601 fix(postman): Fix failing postman tests and send a proper error message
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  loadtest/config/development.toml
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario16-Bank debit-ach/Payments - Create/request.json
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario17-Bank debit-Bacs/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario6-Create Wallet - Paypal/Payments - Create/request.json
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario7-Create Wallet - Paypal with confrm false/Payments - Create/request.json
  postman/collection-dir/zen/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/request.json
  postman/collection-dir/zen/Flow Testcases/Happy Cases/Scenario3-Create payment without PMD/Payments - Create/request.json
  postman/collection-dir/zen/Flow Testcases/Happy Cases/Scenario5-Create 3DS payment with confrm false/Payments - Create/request.json
  postman/collection-dir/zen/Flow Testcases/Variation Cases/Scenario2-Confirming the payment without PMD/Payments - Create/request.json
Labels: S-waiting-on-review, C-refactor

#3606 fix(core): Add column mandate_data for storing the details of a mandate in PaymentAttempt
  crates/data_models/src/mandates.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2024-02-08-142804_add_mandate_data_payment_attempt/down.sql
  migrations/2024-02-08-142804_add_mandate_data_payment_attempt/up.sql
Labels: A-core, C-bug, S-waiting-on-review, M-database-changes

#3596 refactor(webhooks): remove unnecessary clones and lazy evaluations
  crates/diesel_models/src/events.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/events/outgoing_webhook_logs.rs
Labels: A-core, S-waiting-on-review, C-refactor, A-webhooks

#3572 feat(user): implement force password reset
  crates/api_models/src/user/dashboard_metadata.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/query/dashboard_metadata.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/db/dashboard_metadata.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/types/domain/user/dashboard_metadata.rs
  crates/router/src/utils/user/dashboard_metadata.rs
Labels: C-feature, R-waiting-on-L1, A-users

#3603 feat(users): Add transfer org ownership API
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user_role.rs
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user_role.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes, A-users

#3605 chore: address Rust 1.76 clippy lints
  crates/router/src/compatibility/wrap.rs
  crates/router/src/db/address.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/services/api.rs
  crates/scheduler/src/utils.rs
  crates/test_utils/src/newman_runner.rs
Labels: A-dependencies, S-waiting-on-review

#3406 chore(configs): [Volt] Add configs for wasm for production
  crates/connector_configs/toml/production.toml
Labels: A-connector-integration, M-configuration-changes

#3617 fix(payment_methods): unmask last4 digits of card when listing payment methods for customer
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, S-waiting-on-review, A-payment-methods

#3194 feat(pm_list): add required fields for giropay
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/worldline/transformers.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
Labels: A-connector-compatibility, A-connector-integration, C-feature, S-waiting-on-review, M-api-contract-changes

#3536 refactor: introducing `hyperswitch_interface` crates
  Cargo.lock
  crates/drainer/src/connection.rs
  crates/drainer/src/services.rs
  crates/drainer/src/settings.rs
  crates/external_services/Cargo.toml
  crates/external_services/src/aws_kms.rs
  crates/external_services/src/aws_kms/core.rs
  crates/external_services/src/aws_kms/decrypt.rs
  crates/external_services/src/aws_kms/implementers.rs
  crates/external_services/src/hashicorp_vault.rs
  crates/external_services/src/hashicorp_vault/core.rs
  crates/external_services/src/hashicorp_vault/decrypt.rs
  crates/external_services/src/hashicorp_vault/implementers.rs
  crates/external_services/src/lib.rs
  crates/external_services/src/managers.rs
  crates/external_services/src/managers/encryption_management.rs
  crates/external_services/src/managers/secrets_management.rs
  crates/external_services/src/no_encryption.rs
  crates/external_services/src/no_encryption/core.rs
  crates/external_services/src/no_encryption/implementers.rs
  crates/hyperswitch_interfaces/Cargo.toml
  crates/hyperswitch_interfaces/README.md
  crates/hyperswitch_interfaces/src/encryption_interface.rs
  crates/hyperswitch_interfaces/src/lib.rs
  crates/hyperswitch_interfaces/src/secrets_interface.rs
  crates/hyperswitch_interfaces/src/secrets_interface/secret_handler.rs
  crates/hyperswitch_interfaces/src/secrets_interface/secret_state.rs
  crates/router/Cargo.toml
  crates/router/src/configs/aws_kms.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/hc_vault.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/blocklist/utils.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/verification.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/services.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/jwt.rs
  crates/router/src/utils/currency.rs
Labels: M-configuration-changes, C-refactor

#3621 fix(payment_methods): unmask last4 digits of card when listing payment methods for customer
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, S-waiting-on-review, A-payment-methods

#3608 feat(router): add `delete_evidence` api for disputes
  crates/api_models/src/disputes.rs
  crates/api_models/src/events/dispute.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/disputes/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/lock_utils.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, C-feature, S-waiting-on-review

#3611 feat(stripe): send billing address to stripe for card payment
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-compatibility

#3574 fix(payment_link): changed media screen queries size for web to mobile view
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.css
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
Labels: A-core, S-waiting-on-review

#3633 fix(payment_methods): unmask last4 when metadata changed during /payments
  crates/router/src/core/payments/tokenization.rs
Labels: S-waiting-on-review, A-payments

#3635 fix(payment_methods): unmask last4 when metadata changed during /payments
  crates/router/src/core/payments/tokenization.rs
Labels: S-waiting-on-review, A-payments

#3615 docs(postman): update rustman and collection generation docs
  crates/test_utils/README.md
  postman/README.md
Labels: C-doc, S-waiting-on-review

#3551 fix(healthcheck): do not return true as response if the check if not applicable
  crates/api_models/src/health_check.rs
  crates/router/src/core/health_check.rs
  crates/router/src/routes/health.rs
Labels: A-core, S-waiting-on-review

#3619 feat(pm_list): Add required field for Boleto Payment Method
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/defaults.rs
  loadtest/config/development.toml
Labels: A-connector-integration, A-payment-methods

#3644 chore(env): update Iatapay env to use Sandbox URL instead of Prod
  config/deployments/sandbox.toml
Labels: A-dependencies, S-waiting-on-review

#3631 feat(users): add some checks for prod-intent send to biz email
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/utils/user/dashboard_metadata.rs
Labels: A-users

#3641 docs(connector): Add wasm docs in connector integration docs
  add_connector.md
Labels: A-connector-integration, C-doc

#3629 refactor: incorporate `hyperswitch_interface` into drainer
  Cargo.lock
  config/deployments/drainer.toml
  crates/drainer/Cargo.toml
  crates/drainer/src/connection.rs
  crates/drainer/src/health_check.rs
  crates/drainer/src/lib.rs
  crates/drainer/src/main.rs
  crates/drainer/src/secrets_transformers.rs
  crates/drainer/src/services.rs
  crates/drainer/src/settings.rs
  crates/hyperswitch_interfaces/src/secrets_interface/secret_state.rs
Labels: C-refactor

#3620 refactor(router): added payment_method to golden log line
  crates/router/src/middleware.rs
  crates/router/src/services/api.rs
  crates/router_env/src/logger/storage.rs
Labels: S-waiting-on-review, C-refactor

#3646 feat: add cors rules to actix
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/cors.rs
  crates/router/src/lib.rs
  loadtest/config/development.toml
Labels: A-core, S-waiting-on-review

#3584 feat(connector): [Adyen] add PMD validation in validate_capture_method method for all the implemented PM’s
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bluesnap.rs
  crates/router/src/connector/boku.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/coinbase.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/dlocal.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/fiserv.rs
  crates/router/src/connector/forte.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/gocardless.rs
  crates/router/src/connector/helcim.rs
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/nexinets.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/noon.rs
  crates/router/src/connector/nuvei.rs
  crates/router/src/connector/opayo.rs
  crates/router/src/connector/payeezy.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/payu.rs
  crates/router/src/connector/placetopay.rs
  crates/router/src/connector/powertranz.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/shift4.rs
  crates/router/src/connector/square.rs
  crates/router/src/connector/stax.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/tsys.rs
  crates/router/src/connector/worldline.rs
  crates/router/src/connector/worldpay.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-feature

#3581 refactor: Adding connector_name into logs ( Logging Changes )
  crates/router/src/services/api.rs
Labels: A-framework, A-Analytics

#3576 fix(router): store connector_mandate_id in complete auth
  crates/router/src/core/mandate.rs
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-core, C-bug, S-waiting-on-review

#3557 feat(api_models): add client_secret type to payments
  crates/api_models/src/payments.rs
Labels: C-feature

#3543 refactor(webhooks): check event type not supported before checking for profile_id
  crates/router/src/core/webhooks.rs
  crates/router/src/utils.rs
Labels: A-webhooks

#3653 fix: allow all headers on cors
  crates/router/src/cors.rs
Labels: A-core

#3662 fix(env): add dashboard origin in toml file
  config/development.toml
  config/docker_compose.toml
Labels: S-waiting-on-review, M-configuration-changes

#3668 fix(user): add migration for force password change
  migrations/2024-02-15-153757_add_dashboard_metadata_enum_is_change_password_required/down.sql
  migrations/2024-02-15-153757_add_dashboard_metadata_enum_is_change_password_required/up.sql
Labels: C-bug, S-waiting-on-review, M-database-changes, A-users

#3659 feat(users): Email JWT blacklist
  crates/router/src/core/user.rs
  crates/router/src/services/authentication/blacklist.rs
Labels: A-users

#3666 refactor(connector): [NMI] Add Zip code as mandatory field for 3DS
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-refactor

#3665 refactor(connector): [NMI] Add Zip code as mandatory field for 3DS
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-refactor

#3672 refactor(connector): [NMI] Add billing details for preprocessing
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-refactor

#3649 refactor(openapi): enable other features in api_models when running openapi
  crates/api_models/Cargo.toml
  crates/router/Cargo.toml
  openapi/openapi_spec.json
Labels: C-doc, S-waiting-on-review

#3549 feat(analytics): adding kafka dispute analytic events
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/analytics/docs/clickhouse/cluster_setup/scripts/dispute_analytics.sql
  crates/analytics/docs/clickhouse/scripts/disputes.sql
  crates/router/src/db/kafka_store.rs
  crates/router/src/services/kafka.rs
  crates/router/src/services/kafka/dispute.rs
Labels: A-Analytics

#3648 refactor(router): remove fallback feature for `/add` and `/get` for locker
  crates/api_models/src/enums.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
Labels: C-refactor

#3661 refactor: include api key expiry workflow into process tracker
  crates/diesel_models/src/api_keys.rs
  crates/router/Cargo.toml
  crates/router/src/bin/scheduler.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/services/email/assets/api_key_expiry_reminder.html
  crates/router/src/services/email/types.rs
  crates/router/src/types/storage/api_keys.rs
  crates/router/src/workflows.rs
  crates/router/src/workflows/api_key_expiry.rs
  crates/scheduler/Cargo.toml
  crates/scheduler/src/errors.rs
Labels: A-process-tracker, S-waiting-on-review, C-refactor

#3681 refactor(router): added status_code to golden_log_line
  crates/router/src/middleware.rs
  crates/router/src/services/api.rs
  crates/router_env/src/logger/storage.rs
Labels: A-core, S-waiting-on-review, C-refactor

#3687 refactor(ext_traits): simplify the signatures of some methods in `Encode` extension trait
  add_connector.md
  crates/api_models/src/payments.rs
  crates/common_utils/src/ext_traits.rs
  crates/redis_interface/src/commands.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/globepay/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/payeezy/transformers.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/conditional_config.rs
  crates/router/src/core/connector_onboarding/paypal.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/fraud_check/operation/fraud_check_pre.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/surcharge_decision_config.rs
  crates/router/src/core/webhooks/types.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/refund.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments/helpers.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api/admin.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: A-framework, S-waiting-on-review, C-refactor

#3674 fix(connector): [noon] Fail the payment for specific error_response
  crates/router/src/connector/noon.rs
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review

#3691 feat(user): setup roles table with queries
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/role.rs
  crates/diesel_models/src/role.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/db.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/role.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/role.rs
  crates/storage_impl/src/mock_db.rs
  migrations/2024-02-14-092225_create_roles_table/down.sql
  migrations/2024-02-14-092225_create_roles_table/up.sql
Labels: S-waiting-on-review, M-database-changes, A-users

#3707 fix(connector): [Payme] `payme_transaction_id` converted to optional
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-bug

#3700 feat(connector-config): [Volt] Add config changes for open_banking_uk
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature

#3709 ci(postman): Fix cybersource collection
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario12-Zero auth mandates/Payments - Confirm/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario13-Incremental auth/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario13-Incremental auth/Payments - Retrieve/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario14-Incremental auth for mandates/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario14-Incremental auth for mandates/Payments - Retrieve/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario15-Incremental auth with partial capture/Payments - Retrieve/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario19-Create 3ds payment/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario20-Create 3ds mandate/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/QuickStart/Merchant Account - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Variation Cases/Scenario11-Failure card/Payments - Create/request.json
  postman/collection-dir/cybersource/Health check/New Request/request.json
Labels: A-CI-CD, S-waiting-on-review

#3710 fix(connector): [Payme] payme_transaction_id converted to optional
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-bug

#3091 refactor(merchant_connector_account): change unique constraint to connector label
  crates/api_models/src/admin.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/payments/helpers.rs
  migrations/2023-12-06-060216_change_primary_key_for_mca/down.sql
  migrations/2023-12-06-060216_change_primary_key_for_mca/up.sql
  openapi/openapi_spec.json
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Create Multiple/Create First Connector/.event.meta.json
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Create Multiple/Create First Connector/event.test.js
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Create Multiple/Create First Connector/request.json
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Create Multiple/Create First Connector/response.json
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Create Multiple/Create Second Connector/.event.meta.json
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Create Multiple/Create Second Connector/event.test.js
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Create Multiple/Create Second Connector/request.json
  postman/collection-dir/stripe/PaymentConnectors/Payment Connector - Create Multiple/Create Second Connector/response.json
Labels: M-database-changes, C-refactor

#3720 fix(connector): [Payme] payme_transaction_id converted to optional
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-bug

#3703 feat(connector): accept connector_transaction_id in 2xx and 4xx error_response of connector flows for Adyen
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-feature

#3695 refactor(connectors): [Bambora] data masking
  crates/router/src/connector/bambora.rs
  crates/router/src/connector/bambora/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3704 refactor(connectors): [Bitpay] PII data masking
  crates/router/src/connector/bitpay/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3702 refactor(connectors): [BOA] PII data masking
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-refactor

#3724 feat(analytics): added filter api for dispute analytics
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/disputes.rs
  crates/analytics/src/disputes/core.rs
  crates/analytics/src/disputes/filters.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sqlx.rs
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/disputes.rs
  crates/api_models/src/events.rs
  crates/router/src/analytics.rs
  crates/router_env/src/lib.rs
Labels: A-Analytics

#3688 feat(connector): [adyen] Use connector_response_reference_id as reference to merchant
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-feature

#3730 refactor(permissions): Remove permissions for utility APIs
  crates/api_models/src/user_role.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/query/role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/role.rs
  crates/router/src/routes/currency.rs
  crates/router/src/routes/files.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/services/authorization/predefined_permissions.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
Labels: S-waiting-on-review, C-refactor, A-users

#3630 refactor(core): inclusion of locker to store fingerprints
  crates/api_models/src/blocklist.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/router/src/core/blocklist/transformers.rs
  crates/router/src/core/blocklist/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/services/api/client.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2024-02-12-135546_add_fingerprint_id_in_payment_attempt/down.sql
  migrations/2024-02-12-135546_add_fingerprint_id_in_payment_attempt/up.sql
Labels: A-core, M-database-changes, C-refactor

#3625 fix(users): Fix wrong email content in invite users
  crates/router/src/services/email/types.rs
Labels: C-bug, A-users

#3727 feat(connector): [Adyen] populate connector_transaction_id for Adyen Payment Response
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-feature

#3719 feat(authz): Add custom role checks in authorization
  crates/api_models/src/user_role.rs
  crates/router/src/analytics.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/authorization/permission_groups.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/services/authorization/roles/predefined_roles.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes, A-users

#3762 fix(api_keys): fix internal server error being thrown when trying to update or delete non-existent API key
  crates/storage_impl/src/errors.rs
Labels: A-core, C-bug, S-waiting-on-review

#3714 refactor(connectors): [Bluesnap] PII data masking
  crates/router/src/connector/bluesnap/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3682 feat(address): add email field to address
  crates/api_models/src/payments.rs
  crates/diesel_models/src/address.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/address.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/bitpay.rs
  crates/router/tests/connectors/bluesnap.rs
  crates/router/tests/connectors/cashtocode.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/cryptopay.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/dlocal.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/iatapay.rs
  crates/router/tests/connectors/multisafepay.rs
  crates/router/tests/connectors/opennode.rs
  crates/router/tests/connectors/payeezy.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/trustpay.rs
  crates/router/tests/connectors/wise.rs
  crates/router/tests/connectors/worldline.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  migrations/2024-02-15-133957_add_email_to_address/down.sql
  migrations/2024-02-15-133957_add_email_to_address/up.sql
  openapi/openapi_spec.json
  postman/collection-dir/stripe/QuickStart/Payments - Create/event.test.js
  postman/collection-dir/stripe/QuickStart/Payments - Create/request.json
Labels: A-core, S-waiting-on-review, M-database-changes

#3777 refactor(connector): [NMI] Include customer_vault_id for card 3ds transaction request
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-bug

#3776 refactor(connector): [NMI] add hyperswitch loader to card 3ds
  crates/router/src/services/api.rs
Labels: A-connector-integration

#3779 refactor(connector): [NMI] Include customer_vault_id for card 3ds transaction request
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-bug

#3795 feat(connector): [BOA/Cybersource] Pass commerce indicator using card network for apple pay
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/types.rs
Labels: A-connector-integration, A-core, C-feature, P-high

#3773 fix(cards): Return a 200 response indicating that a customer is none
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  openapi/openapi_spec.json
Labels: C-bug, P-high, A-payment-methods

#3797 feat(connector): [BOA/Cybersource] Pass commerce indicator using card network for apple pay
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/types.rs
Labels: A-connector-integration, A-core, C-feature, P-high

#3794 feat(roles): Add blacklist for roles
  crates/router/src/consts.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authentication/blacklist.rs
Labels: C-feature, S-waiting-on-review, A-users

#3800 refactor(connector): [NMI] Add billing details for preprocessing
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-refactor

#3786 refactor(connector): [Cybersource] Mask PII data
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, C-refactor

#3817 feat(connector): [Payme] Add Void flow to Payme
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-feature

#3669 refactor: incorporate `hyperswitch_interface` into router
  config/config.example.toml
  config/deployments/env_specific.toml
  crates/drainer/Cargo.toml
  crates/drainer/src/main.rs
  crates/drainer/src/secrets_transformers.rs
  crates/drainer/src/settings.rs
  crates/external_services/src/aws_kms.rs
  crates/external_services/src/aws_kms/core.rs
  crates/external_services/src/aws_kms/decrypt.rs
  crates/external_services/src/hashicorp_vault.rs
  crates/external_services/src/hashicorp_vault/decrypt.rs
  crates/hyperswitch_interfaces/src/secrets_interface/secret_handler.rs
  crates/router/Cargo.toml
  crates/router/src/configs.rs
  crates/router/src/configs/aws_kms.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/hc_vault.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/connection.rs
  crates/router/src/core.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/blocklist/transformers.rs
  crates/router/src/core/connector_onboarding.rs
  crates/router/src/core/connector_onboarding/paypal.rs
  crates/router/src/core/currency.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/verification.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/routes/verification.rs
  crates/router/src/services.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/email/types.rs
  crates/router/src/services/jwt.rs
  crates/router/src/services/recon.rs
  crates/router/src/utils/connector_onboarding/paypal.rs
  crates/router/src/utils/currency.rs
Labels: S-waiting-on-review, C-refactor

#3827 feat(connector): [Payme] Add Void flow to Payme
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-feature

#3826 fix(core): do not construct request if it is already available
  crates/router/src/services/api.rs
Labels: A-core, S-waiting-on-review

#3678 feat(connector): mask pii information in connector request and response for stripe, aci, adyen, airwallex and authorizedotnet
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-compatibility, C-feature

#3760 refactor(payment_methods): introduce `locker_id` column in `payment_methods` table
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/query/payment_method.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/types/api/mandates.rs
  crates/router/src/types/storage/payment_method.rs
  migrations/2024-02-20-142032_add_locker_id_to_payment_methods/down.sql
  migrations/2024-02-20-142032_add_locker_id_to_payment_methods/up.sql
Labels: S-waiting-on-review, M-database-changes, A-payment-methods, C-refactor

#3839 feat(connector): [Payme] Add Void flow to Payme
  crates/router/src/connector/payme.rs
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-integration, C-feature

#3774 refactor(compatibility): added compatibility layer request logs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/refunds/types.rs
  crates/router_env/src/logger/types.rs
Labels: C-refactor, A-stripe-compatibility-layer, A-Analytics

#3824 refactor(connector): [Forte] Mask PII data
  crates/router/src/connector/forte/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3759 refactor(connector): [Braintree] Mask PII data
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/braintree/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3764 feat(router): add connector mit related columns to the payment methods table
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/query/payment_method.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/payment_method.rs
  migrations/2024-02-22-060352_add_mit_columns_to_payment_methods/down.sql
  migrations/2024-02-22-060352_add_mit_columns_to_payment_methods/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes, A-payment-methods, R-waiting-on-L1

#2875 refactor(connector): [Square] change error message from NotSupported to NotImplemented
  crates/router/src/connector/square/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue

#3830 fix(core): validate amount_to_capture in payment update
  crates/router/src/core/payments/helpers.rs
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Update/request.json
Labels: C-bug, S-waiting-on-review

#3837 feat(roles): Change list roles, get role and authorization info api to respond with groups
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user_role.rs
  crates/api_models/src/user_role/role.rs
  crates/common_enums/src/enums.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
Labels: C-feature, S-waiting-on-review, A-users

#3780 refactor(router): added logs health and deep health
  crates/router/src/routes/health.rs
  crates/router/src/routes/lock_utils.rs
  crates/router_env/src/logger/types.rs
Labels: P-low, S-waiting-on-review, A-Analytics

#3845 fix(connector): [AUTHORIZEDOTNET] Fix status mapping
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-bug

#3645 refactor(payment_link): add Miscellaneous charges in cart
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
Labels: A-core, S-waiting-on-review

#3580 feat(payouts): Implement Smart Retries for Payout
  crates/diesel_models/src/payouts.rs
  crates/diesel_models/src/query/payout_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/router/Cargo.toml
  crates/router/src/connector/wise/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/retry.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/payout_attempt.rs
  crates/router/src/routes/metrics.rs
  migrations/2024-02-05-123412_add_attempt_count_column_to_payouts/down.sql
  migrations/2024-02-05-123412_add_attempt_count_column_to_payouts/up.sql
Labels: A-core, C-feature, M-database-changes, M-configuration-changes

#3810 feat(analytics): adding metric api for dispute analytics
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/disputes.rs
  crates/analytics/src/disputes/accumulators.rs
  crates/analytics/src/disputes/core.rs
  crates/analytics/src/disputes/metrics.rs
  crates/analytics/src/disputes/metrics/dispute_status_metric.rs
  crates/analytics/src/disputes/metrics/total_amount_disputed.rs
  crates/analytics/src/disputes/metrics/total_dispute_lost_amount.rs
  crates/analytics/src/disputes/types.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sqlx.rs
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/disputes.rs
  crates/api_models/src/events.rs
  crates/router/src/analytics.rs
  crates/router/src/events.rs
  crates/router/src/services/kafka.rs
  crates/router/src/services/kafka/dispute.rs
  crates/router_env/src/lib.rs
Labels: A-Analytics

#3844 refactor(connector): [Gocardless] Mask PII data
  crates/router/src/connector/gocardless/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3856 refactor(connector): [Mollie] Mask PII data
  crates/router/src/connector/mollie/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, C-refactor

#3565 feat(analytics): add force retrieve call for force retrieve calls
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
  crates/router_env/src/logger/types.rs
Labels: S-waiting-on-review, A-Analytics

#3369 feat: add unresponsive timeout for fred
  Cargo.lock
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/redis_interface/Cargo.toml
  crates/redis_interface/src/lib.rs
  crates/redis_interface/src/types.rs
Labels: A-framework, S-waiting-on-review

#3872 feat(roles): Add groups for `get_from_token` api
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user_role/role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/routes/user_role.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes, A-users

#3892 chore(configs): [Cashtocode] wasm changes for AUD, INR, JPY, NZD, ZAR currency
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, S-waiting-on-review, M-configuration-changes

#3896 refactor(roles): Add more checks in create, update role APIs and change the response type
  crates/api_models/src/events/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/services/authorization/roles/predefined_roles.rs
  crates/router/src/utils/user_role.rs
Labels: S-waiting-on-review, C-refactor, M-api-contract-changes, A-users

#3829 refactor(connector): CANCEL button after redirection is enabled for card 3ds
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-bug

#3897 refactor(core): Status mapping for Capture for 429 http code
  crates/router/src/connector/payme.rs
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-connector-integration, C-refactor

#3900 fix(connector): [adyen] production endpoints and mappings
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/operations/payment_status.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
Labels: A-connector-integration, P-high, S-waiting-on-review, M-database-changes, M-configuration-changes, M-api-contract-changes
