Repository juspay/hyperswitch, pull requests merged in 2024-09, with the labels that each got.

#5763 refactor(users): Add V2 user_roles data support
  crates/api_models/src/events/user.rs
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user.rs
  crates/api_models/src/user_role.rs
  crates/api_models/src/user_role/role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authorization/predefined_permissions.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
  postman/collection-dir/users/Flow Testcases/Sign In/.meta.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin V2 - To be deprecated/.event.meta.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin V2 - To be deprecated/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin V2 - To be deprecated/request.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin V2 - To be deprecated/response.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin V2 Wrong/.event.meta.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin V2 Wrong/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin V2 Wrong/request.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin V2 Wrong/response.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Wrong/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin Wrong/request.json
  postman/collection-dir/users/Flow Testcases/Sign In/Signin/event.test.js
  postman/collection-dir/users/Flow Testcases/Sign In/Signin/request.json
  postman/collection-json/users.postman_collection.json
Labels: S-waiting-on-review, C-refactor, A-users

#5754 feat(roles): add list support for roles
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user.rs
  crates/api_models/src/user_role.rs
  crates/api_models/src/user_role/role.rs
  crates/diesel_models/src/query/role.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user_role.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#5711 chore: enable partial auth as a feature flag
  crates/router/Cargo.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/services/authentication.rs
Labels: A-core

#5748 refactor(business_profile): change id for business profile
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/query/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/user.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/db/business_profile.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  migrations/2024-08-29-135449_add_api_version_to_business_profile/down.sql
  migrations/2024-08-29-135449_add_api_version_to_business_profile/up.sql
  v2_migrations/2024-07-31-100300_business_profile_add_v2_columns_drop_v1_columns/down.sql
  v2_migrations/2024-07-31-100300_business_profile_add_v2_columns_drop_v1_columns/up.sql
Labels: M-database-changes, api-v2

#5766 chore: fix typos
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
Labels: A-CI-CD

#5746 fix(cypress): fix cypress throwing error when `connectorId` is not passed and miscellaneous fixes
  cypress-tests/cypress.config.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Fiservemea.js
  cypress-tests/cypress/e2e/RoutingTest/00002-RuleBasedRouting.cy.js
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD, S-waiting-on-review

#5758 refactor(connector): Move globepay, powertranz, tsys, worldline to hyperswitch_connectors
  Cargo.lock
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/globepay.rs
  crates/hyperswitch_connectors/src/connectors/globepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/powertranz.rs
  crates/hyperswitch_connectors/src/connectors/powertranz/transformers.rs
  crates/hyperswitch_connectors/src/connectors/tsys.rs
  crates/hyperswitch_connectors/src/connectors/tsys/transformers.rs
  crates/hyperswitch_connectors/src/connectors/worldline.rs
  crates/hyperswitch_connectors/src/connectors/worldline/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#5712 chore: add wasm support for connector additional details
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: E-easy

#5760 refactor(v2_migrations): re-organize v2 migrations
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts.rs
  migrations/2024-08-29-135449_add_api_version_to_business_profile/down.sql
  migrations/2024-08-29-135449_add_api_version_to_business_profile/up.sql
  migrations/2024-08-29-135449_add_version_to_business_profile/down.sql
  migrations/2024-08-29-135449_add_version_to_business_profile/up.sql
  v2_migrations/2024-06-03-133421_remove_id_from_payment_table/down.sql
  v2_migrations/2024-06-03-133421_remove_id_from_payment_table/up.sql
  v2_migrations/2024-07-19-073520_remove_id_from_merchant_account/down.sql
  v2_migrations/2024-07-19-073520_remove_id_from_merchant_account/up.sql
  v2_migrations/2024-07-25-064644_add_id_in_merchant_account/down.sql
  v2_migrations/2024-07-25-064644_add_id_in_merchant_account/up.sql
  v2_migrations/2024-07-25-065100_change_primary_key_from_merchant_id_to_id/down.sql
  v2_migrations/2024-07-25-065100_change_primary_key_from_merchant_id_to_id/up.sql
  v2_migrations/2024-07-25-065542_drop_merchant_id_from_merchant_account/down.sql
  v2_migrations/2024-07-25-065542_drop_merchant_id_from_merchant_account/up.sql
  v2_migrations/2024-07-26-065428_remove_deprecated_field_from_merchant_account/down.sql
  v2_migrations/2024-07-26-065428_remove_deprecated_field_from_merchant_account/up.sql
  v2_migrations/2024-07-29-063217_drop-org_id-and-org_name-from-organization/down.sql
  v2_migrations/2024-07-29-063217_drop-org_id-and-org_name-from-organization/up.sql
  v2_migrations/2024-07-30-100323_customer_v2/down.sql
  v2_migrations/2024-07-30-100323_customer_v2/up.sql
  v2_migrations/2024-07-31-065721_mca_v2/down.sql
  v2_migrations/2024-07-31-065721_mca_v2/up.sql
  v2_migrations/2024-07-31-100300_business_profile_add_v2_columns_drop_v1_columns/down.sql
  v2_migrations/2024-07-31-100300_business_profile_add_v2_columns_drop_v1_columns/up.sql
  v2_migrations/2024-08-12-075913_make_profile_id_mandatory_in_mca/down.sql
  v2_migrations/2024-08-12-075913_make_profile_id_mandatory_in_mca/up.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/down.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
  v2_migrations/2024-08-28-081747_recreate_ids_for_v2/down.sql
  v2_migrations/2024-08-28-081747_recreate_ids_for_v2/up.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/down.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/up.sql
  v2_migrations/2024-08-28-081847_drop_v1_columns/down.sql
  v2_migrations/2024-08-28-081847_drop_v1_columns/up.sql
Labels: A-framework, M-database-changes, C-refactor, api-v2

#5749 feat(connector): [Adyenplatform] add webhooks for payout
  crates/router/src/connector/adyenplatform.rs
  crates/router/src/connector/adyenplatform/transformers/payouts.rs
Labels: A-connector-integration, C-feature, payouts

#5769 feat(user): implement invitations api
  crates/api_models/src/user_role.rs
  crates/diesel_models/src/query/user_role.rs
  crates/diesel_models/src/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user_role.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, A-users

#5673 feat: add profile_id authentication for business profile update and list
  crates/router/src/core/admin.rs
  crates/router/src/core/utils.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/services/authentication.rs
Labels: A-core

#5778 fix(router): send post message to window.parent instead of window.top in external 3ds flow
  crates/router/src/core/utils.rs
Labels: A-core, C-bug

#5774 feat(connector): [DEUTSCHE] Add template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/deutschebank.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#5732 fix(router): make customer details None in the `Psync` flow if the customer is deleted
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/kafka_store.rs
Labels: A-core, C-bug, A-payments

#5647 refactor(euclid): check the authenticity of profile_id being used
  crates/api_models/src/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/utils.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
  crates/router/src/services/authentication.rs
Labels: C-refactor, A-euclid-foc

#5781 fix(connector): skip 3DS in `network_transaction_id` flow for cybersource
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug

#5785 feat(revert): populate payment method details in payments response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/api_models/src/payments/additional_info.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/masking/src/lib.rs
  crates/masking/src/masked_string.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments/helpers.rs
Labels: M-api-contract-changes

#5700 feat(payment_methods_v2): Implemented Diesel and Domain models for v2
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/query/payment_method.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/mandate/helpers.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/types/api/mandates.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/transformers.rs
  crates/router/src/workflows/payment_method_status_update.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/redis/kv_store.rs
  migrations/2024-09-02-112941_add_version_in_payment_methods/down.sql
  migrations/2024-09-02-112941_add_version_in_payment_methods/up.sql
  v2_migrations/2024-08-23-112510_payment_methods_v2_db_changes/down.sql
  v2_migrations/2024-08-23-112510_payment_methods_v2_db_changes/up.sql
Labels: M-database-changes, A-payment-methods, api-v2

#5772 fix(cypress): fix fiservemea configs for cypress
  cypress-tests/cypress/e2e/PaymentTest/00013-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Fiservemea.js
  cypress-tests/cypress/e2e/PaymentUtils/Paybox.js
Labels: A-CI-CD, S-waiting-on-review

#5786 Feat(connector): [Fiuu] Add Card Flows
  Cargo.lock
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/fiuu.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Fiuu.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
Labels: A-connector-integration, M-api-contract-changes

#5794 refactor(router): profile based routes for payouts
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
Labels: C-refactor

#5793 feat(users): Add profile level invites
  crates/api_models/src/user.rs
  crates/api_models/src/user_role.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user.rs
  crates/diesel_models/src/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/email/types.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user_role.rs
  crates/router_env/src/logger/types.rs
  migrations/2024-09-01-094614_remove-preferred-merchant-from-users/down.sql
  migrations/2024-09-01-094614_remove-preferred-merchant-from-users/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes, A-users

#5790 feat: populate payment method details in payments response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/api_models/src/payments/additional_info.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/masking/src/lib.rs
  crates/masking/src/masked_string.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments/helpers.rs
Labels: M-api-contract-changes

#5797 chore(config): add support for some more country and currencies for Mifinity Wallet
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-feature, M-configuration-changes

#5777 feat(user_roles): get user role details
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/user.rs
Labels: C-feature, S-waiting-on-review, A-users

#5518 feat(customer_v2): Add customer V2 delete api
  api-reference-v2/openapi_spec.json
  crates/api_models/src/customers.rs
  crates/api_models/src/events/customer.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/customers.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/query/mandate.rs
  crates/diesel_models/src/query/payment_method.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/router/src/compatibility/stripe/customers/types.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/mandate.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/customers.rs
  v2_migrations/2024-07-29-155137_add_v2_soft_delete_db_enum/down.sql
  v2_migrations/2024-07-29-155137_add_v2_soft_delete_db_enum/up.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/down.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
Labels: A-core, S-waiting-on-review, M-database-changes, C-refactor, M-api-contract-changes, api-v2

#5813 fix(docker): add `version_feature_set` build arg with default as `v1` in wasm build dockerfile
  docker/wasm-build.Dockerfile
Labels: C-bug, api-v2

#5808 feat(payouts): Add profile level payout filter API
  crates/router/src/core/payouts.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payouts.rs
Labels: C-feature, S-waiting-on-review, payouts

#5817 feat(users): Send profile_id in JWT and user_info APIs
  crates/api_models/src/user.rs
  crates/api_models/src/user_role/role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
Labels: C-feature, A-users

#5814 fix: move profile level connector list endpoint to separate scope
  crates/router/src/routes/app.rs
Labels: C-bug, S-waiting-on-review

#5819 feat(user): implement entity level authorization
  crates/router/src/analytics.rs
  crates/router/src/consts.rs
  crates/router/src/consts/user_role.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/blocklist.rs
  crates/router/src/routes/connector_onboarding.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/routing.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/routes/verification.rs
  crates/router/src/routes/verify_connector.rs
  crates/router/src/routes/webhook_events.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/services/authorization/roles/predefined_roles.rs
  crates/router/src/utils/user_role.rs
Labels: A-users

#5803 feat: add support to forward x-request-id to keymanager service
  crates/common_utils/Cargo.toml
  crates/common_utils/src/keymanager.rs
  crates/common_utils/src/types/keymanager.rs
  crates/router/Cargo.toml
  crates/router/src/types/domain/types.rs
Labels: A-framework

#5827 feat: enable payment and refund filter at DB query level
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/refunds.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/refund.rs
  crates/router/src/types/storage/refund.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: C-feature, S-waiting-on-review

#5839 feat: enable payment and refund filter at DB query level
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/refunds.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/refund.rs
  crates/router/src/types/storage/refund.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: C-feature, S-waiting-on-review

#5832 chore: address Rust 1.81.0 clippy lints
  crates/drainer/src/health_check.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/core/health_check.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router_env/tests/env.rs
  crates/storage_impl/src/redis/kv_store.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: C-refactor

#5707 feat(payment_methods_list): add is_tax_connector_enabled boolean value in payment_methods_list call response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/utils/user/sample_data.rs
  migrations/2024-08-28-044317_add_skip_external_tax_calcualtion_in_payment_intent_table/down.sql
  migrations/2024-08-28-044317_add_skip_external_tax_calcualtion_in_payment_intent_table/up.sql
Labels: M-database-changes, M-api-contract-changes

#5779 chore: make kms decryption optional if partial auth not enabled
  crates/router/src/configs/secrets_transformers.rs
Labels: A-framework

#5821 feat(analytics): Revert api_event metrics and filters back to merchant_id authentication
  crates/analytics/src/api_event/core.rs
  crates/analytics/src/api_event/filters.rs
  crates/analytics/src/api_event/metrics.rs
  crates/analytics/src/api_event/metrics/api_count.rs
  crates/analytics/src/api_event/metrics/latency.rs
  crates/analytics/src/api_event/metrics/status_code_count.rs
  crates/analytics/src/lib.rs
  crates/router/src/analytics.rs
Labels: C-bug, A-Analytics

#5807 feat(analytics): add card_network as a field in payment_attempts clickhouse table
  crates/analytics/docs/clickhouse/scripts/payment_attempts.sql
Labels: A-Analytics

#5764 feat(payout): add dynamic fields for payout links
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/payouts.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/link_utils.rs
  crates/diesel_models/src/business_profile.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/defaults/payout_required_fields.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/generic_link/payout_link/initiate/script.js
  crates/router/src/core/generic_link/payout_link/status/script.js
  crates/router/src/core/generic_link/payout_link/status/styles.css
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/transformers.rs
  crates/router/src/types/api/payouts.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/macros.rs
  crates/router_derive/Cargo.toml
  crates/router_derive/src/lib.rs
Labels: M-api-contract-changes

#5727 refactor: add hgetall command to redis interface
  crates/redis_interface/src/commands.rs
Labels: S-waiting-on-review, C-refactor

#5752 fix(router): [Stripe/Itau/Paypal/Bambora/Cybersource] prevent partial submission of billing address and add required fields for all payment methods
  crates/hyperswitch_connectors/src/connectors/bambora/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug

#5848 feat(router): mask keys in `connector_account_details` for merchant_connector_response in mca retrieve flow
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/types/transformers.rs
Labels: A-core, C-feature

#5004 feat(core): [Payouts] Add billing address to payout list
  crates/hyperswitch_domain_models/src/payouts/payouts.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/types.rs
  crates/router/src/types/transformers.rs
  crates/storage_impl/src/mock_db/payouts.rs
  crates/storage_impl/src/payouts/payouts.rs
Labels: A-core, C-feature

#5825 refactor: Add a GAT Data to Operation trait
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/operation.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/fraud_check/operation/fraud_check_pre.rs
  crates/router/src/core/fraud_check/types.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/core/payments/conditional_configs.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/approve_flow.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/incremental_authorization_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/reject_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/flows/tax_calculation_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/operations/tax_calculation.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/routes/payments.rs
  crates/router/src/utils.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/router_derive/src/macros/operation.rs
Labels: C-refactor, api-v2

#5850 fix: fix `status_code` being logged as string instead of number in logs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/services/api.rs
Labels: A-framework, C-bug, S-waiting-on-review

#5853 docs: Correction for JPY in API Ref
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
Labels: M-api-contract-changes

#5840 chore: remove Connectors enum dependency from ConnectorIntegrationV2 trait
  crates/hyperswitch_interfaces/src/connector_integration_v2.rs
  crates/router/src/services/connector_integration_interface.rs
Labels: S-waiting-on-review

#5841 Feat(connector): [Fiuu] Add DuitNow/FPX PaymentMethod
  Cargo.lock
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/fiuu.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/Cargo.toml
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/consts.rs
  crates/router/src/utils.rs
  loadtest/config/development.toml
Labels: A-connector-integration, M-api-contract-changes

#5845 feat(payments): add support for profile aggregates
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/payments.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: C-feature, A-payments

#5851 refactor: Remove unwanted commented lines
  crates/router/src/core/payments.rs
Labels: A-core

#5859 build(deps): bump `sqlx` to `0.8.2`
  .deepsource.toml
  Cargo.lock
  Cargo.toml
  INSTALL_dependencies.sh
  crates/analytics/Cargo.toml
Labels: A-dependencies, S-waiting-on-review

#5854 fix(router): return `collect_billing_details_from_wallet_connector` if `always_collect_billing_details_from_wallet_connector ` is false in merchant payment method list
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, C-bug, A-payment-methods

#5726 feat(connector): [Novalnet] add Payment flows for cards
  Cargo.lock
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/novalnet.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/core/admin.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Novalnet.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-api-contract-changes

#5856 chore: remove Connectors enum dependency from ConnectorIntegrationV2 trait
  crates/hyperswitch_interfaces/src/connector_integration_v2.rs
  crates/router/src/services/connector_integration_interface.rs
Labels: S-waiting-on-review

#5873 fix(connector): [ZSL] compare consr_paid_amt with the total amount for identifying partial payments
  crates/router/src/connector/zsl/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug

#5828 fix(router): add payment_method check in `get_mandate_type`
  crates/router/src/core/mandate/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug

#5849 refactor(payment_links): Update API contract for dynamic transaction details and upgrade UI
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/consts.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.css
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
Labels: A-core, C-refactor, M-api-contract-changes, Payment Links

#5795 feat(refunds): Refunds aggregate api
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/events/refund.rs
  crates/api_models/src/refunds.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/refunds.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/refund.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/storage/refund.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes, A-refunds, A-users

#5865 refactor: return optional request body from build_request_v2 in ConnectorIntegrationV2 trait
  crates/common_utils/src/request.rs
  crates/hyperswitch_interfaces/src/connector_integration_v2.rs
Labels: S-waiting-on-review

#5844 refactor(core): Update shipping_cost and order_tax_amount to net_amount of payment_attempt
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_connectors/src/connectors/taxjar.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_interfaces/src/api/payments.rs
  crates/hyperswitch_interfaces/src/api/payments_v2.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/session_update_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/tax_calculation.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/address.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/mandate.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/db/refund.rs
  crates/router/src/db/reverse_lookup.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/payments_v2.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_impl/src/lookup.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
  crates/storage_impl/src/payouts/payouts.rs
  migrations/2024-09-10-080050_add_shipping_cost_and_order_tax_amount_to_payment_attempt/down.sql
  migrations/2024-09-10-080050_add_shipping_cost_and_order_tax_amount_to_payment_attempt/up.sql
Labels: A-core, M-database-changes, C-refactor, M-api-contract-changes

#5874 feat(connector): [Fiuu] ADD Wasm Configs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration

#5878 refactor: return optional request body from build_request_v2 in ConnectorIntegrationV2 trait
  crates/common_utils/src/request.rs
  crates/hyperswitch_interfaces/src/connector_integration_v2.rs
Labels: S-waiting-on-review

#5783 feat(payments_v2): payment intent diesel and domain models changes v2
  crates/common_utils/src/id_type/global_id.rs
  crates/common_utils/src/id_type/payment.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/query/payment_intent.rs
  crates/diesel_models/src/query/user/sample_data.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/core.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/files/helpers.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/fraud_check/operation/fraud_check_pre.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/mandate/helpers.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/user/sample_data.rs
  crates/router/src/core/verification/utils.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/fraud_check.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/routing.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/kafka/payment_intent.rs
  crates/router/src/services/kafka/payment_intent_event.rs
  crates/router/src/utils.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/src/workflows.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_intent.rs
  v2_migrations/2024-08-28-081721_add_v2_columns/down.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
  v2_migrations/2024-08-28-081747_recreate_ids_for_v2/down.sql
  v2_migrations/2024-08-28-081747_recreate_ids_for_v2/up.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/down.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/up.sql
  v2_migrations/2024-08-28-081847_drop_v1_columns/down.sql
  v2_migrations/2024-08-28-081847_drop_v1_columns/up.sql
Labels: M-database-changes, api-v2

#5826 feat(connector): [DEUTSCHEBANK] Integrate SEPA Payments
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/deutschebank.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/types/api.rs
  crates/router/src/types/domain/payments.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, M-api-contract-changes

#5881 fix(connector): [ZSL] compare consr_paid_amt with the total amount for identifying partial payments
  crates/router/src/connector/zsl/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug

#5861 refactor(user_roles): Populate role names and entity names in user role APIs
  crates/api_models/src/user.rs
  crates/api_models/src/user_role/role.rs
  crates/diesel_models/src/query/role.rs
  crates/router/src/analytics.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/role.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
Labels: S-waiting-on-review, C-refactor, A-users

#5863 refactor(payment_methods): unify locker api function call
  crates/router/src/core/admin.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/lib.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor

#5830 feat(router): Default configs and toggle api for dynamic routing feature
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/events/routing.rs
  crates/api_models/src/routing.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/routing.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/routing/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/routing.rs
  crates/router/src/types/api/admin.rs
  crates/router_env/src/logger/types.rs
  migrations/2024-09-05-155712_add_new_variant_in_routing_algorithm_kind_type/down.sql
  migrations/2024-09-05-155712_add_new_variant_in_routing_algorithm_kind_type/up.sql
  migrations/2024-09-05-160455_add_new_col_is_dynamic_routing_algorithm_in_business_profile/down.sql
  migrations/2024-09-05-160455_add_new_col_is_dynamic_routing_algorithm_in_business_profile/up.sql
Labels: C-feature, M-database-changes, M-api-contract-changes

#5879 feat(connector): wasm changes for Taxjar
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/euclid_wasm/src/lib.rs
Labels: A-connector-integration, C-feature

#5890 revert: feat(router): mask keys in connector_account_details for merchant_connector_response in mca retrieve flow
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/types/transformers.rs
Labels: A-core, C-refactor

#5905 refactor(connector): [Paybox] Fix Error Handling/Datetime format
  crates/common_utils/src/lib.rs
  crates/router/src/connector/paybox/transformers.rs
Labels: A-connector-integration

#5909 refactor(core): update response for PaymentsDynamicTaxCalculationResponse
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-refactor, M-api-contract-changes

#5910 refactor(core): update response for PaymentsDynamicTaxCalculationResponse
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-refactor, M-api-contract-changes

#5907 fix(user_roles): Populate `profile_id` from token in update user role API
  crates/router/src/core/user_role.rs
Labels: C-bug, S-waiting-on-review, A-users

#5883 feat(router): add admin list apis for v2
  api-reference-v2/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/query/merchant_account.rs
  crates/diesel_models/src/query/merchant_connector_account.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/business_profile.rs
  crates/openapi/src/routes/merchant_account.rs
  crates/openapi/src/routes/merchant_connector_account.rs
  crates/openapi/src/routes/organization.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/utils/user_role.rs
  v2_migrations/2024-09-13-075054_create-index-profile-id-mca/down.sql
  v2_migrations/2024-09-13-075054_create-index-profile-id-mca/up.sql
Labels: A-core, C-feature, M-database-changes, M-api-contract-changes, api-v2

#5882 refactor: add encryption support to payment attempt domain model
  .github/workflows/CI-pr.yml
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/src/mandates.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/mandate.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-framework, S-waiting-on-review, C-refactor, api-v2

#5889 fix(frm): add feature flag for querying FRM data
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_status.rs
Labels: A-FRM

#5918 fix(router): cache invalidation in merchant_connector_update flow for v2
  crates/router/src/db/merchant_connector_account.rs
Labels: A-core, C-bug, api-v2

#5920 fix(router): [stripe] remove passing of customer_acceptance from Mandate Payment Request
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-bug

#5922 fix(router): [stripe] remove passing of customer_acceptance from Mandate Payment Request
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-bug

#5908 fix(connector): add field types for bank debits
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-bug, M-api-contract-changes

#5923 ci(test): Remove giropay from trustpay collection
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/.meta.json
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Confirm/.event.meta.json
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Confirm/event.test.js
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Confirm/request.json
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Confirm/response.json
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Create/.event.meta.json
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Create/event.test.js
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Create/request.json
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Create/response.json
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Retrieve/.event.meta.json
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Retrieve/event.test.js
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Retrieve/request.json
  postman/collection-dir/trustpay/Flow Testcases/Happy Cases/Scenario8-Bank Redirect-giropay/Payments - Retrieve/response.json
Labels: A-CI-CD

#5812 feat(payment_methods_v2): Payment method Create API
  crates/api_models/Cargo.toml
  crates/api_models/src/events.rs
  crates/api_models/src/payment_methods.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/events.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/global_id.rs
  crates/common_utils/src/id_type/payment_methods.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/query/payment_method.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/router/Cargo.toml
  crates/router/src/consts.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types.rs
  crates/router/src/types/api/mandates.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/payment_methods.rs
  crates/router/src/types/storage/payment_method.rs
  crates/router/src/types/transformers.rs
  crates/router/src/workflows/payment_method_status_update.rs
  crates/storage_impl/src/lib.rs
Labels: A-core, A-payment-methods, api-v2

#5896 feat(disputes): add support for disputes aggregate
  crates/api_models/src/disputes.rs
  crates/api_models/src/events/dispute.rs
  crates/common_enums/src/enums.rs
  crates/router/src/core/disputes.rs
  crates/router/src/db/dispute.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/types/storage/dispute.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-disputes

#5926 docs: add openapi docs for customers v2
  api-reference-v2/openapi_spec.json
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/customers.rs
Labels: C-doc, C-refactor, M-api-contract-changes, api-v2

#5835 feat(routing): build gRPC Client Interface to initiate communication with other gRPC services
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  .github/workflows/postman-collection-runner.yml
  Cargo.lock
  Dockerfile
  crates/api_models/src/routing.rs
  crates/external_services/Cargo.toml
  crates/external_services/build.rs
  crates/external_services/src/grpc_client.rs
  crates/external_services/src/grpc_client/dynamic_routing.rs
  crates/external_services/src/lib.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/router/Cargo.toml
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payments.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/dummy_connector.rs
  crates/router/src/routes/routing.rs
  docker-compose-development.yml
  migrations/2024-09-05-160455_add_new_col_is_dynamic_routing_algorithm_in_business_profile/up.sql
  proto/success_rate.proto
Labels: C-feature, M-database-changes, A-routing

#5936 docs: api-reference changes for customers and admin list apis for v2
  api-reference-v2/api-reference/business-profile/merchant-connector--list.mdx
  api-reference-v2/api-reference/customers/customers--create.mdx
  api-reference-v2/api-reference/customers/customers--delete.mdx
  api-reference-v2/api-reference/customers/customers--list.mdx
  api-reference-v2/api-reference/customers/customers--retrieve.mdx
  api-reference-v2/api-reference/customers/customers--update.mdx
  api-reference-v2/api-reference/merchant-account/business-profile--list.mdx
  api-reference-v2/api-reference/merchant-account/merchant-account--create.mdx
  api-reference-v2/api-reference/merchant-account/merchant-account--retrieve.mdx
  api-reference-v2/api-reference/merchant-account/merchant-account--update.mdx
  api-reference-v2/api-reference/organization/merchant-account--list.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  api-reference/api-reference/customers/customers--list.mdx
  api-reference/openapi_spec.json
  crates/openapi/src/routes/customers.rs
Labels: C-doc, C-refactor, M-api-contract-changes, api-v2

#5929 ci(postman): Update status for paypal postman collection
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario11-Create Partial Capture payment/Payments - Capture/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario11-Create Partial Capture payment/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Confirm/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario3-Create payment without PMD/Payments - Confirm/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario3-Create payment without PMD/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture with confirm false/Payments - Capture/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture with confirm false/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Capture/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Capture/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Variation Cases/Scenario4-Capture the succeeded payment/Payments - Create/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Variation Cases/Scenario5-Void the success_slash_failure payment/Payments - Create/event.test.js
Labels: A-CI-CD

#5949 refactor(router): handle connector errors for tax calculation flow
  crates/hyperswitch_connectors/src/connectors/taxjar.rs
  crates/hyperswitch_connectors/src/connectors/taxjar/transformers.rs
  crates/router/src/core/payments/operations/tax_calculation.rs
Labels: A-connector-integration, A-core, C-refactor

#5869 feat(payments): store and propagate additional wallet pm details in payments response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/api_models/src/payments/additional_info.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-payment-methods, M-api-contract-changes, A-payments

#5810 feat(payout): add unified error code and messages along with translation
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payouts.rs
  crates/common_utils/src/consts.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/payout_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/payouts/payout_attempt.rs
  crates/router/src/connector/adyenplatform/transformers/payouts.rs
  crates/router/src/core/generic_link/payout_link/status/script.js
  crates/router/src/core/generic_link/payout_link/status/styles.css
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/retry.rs
  crates/router/src/core/payouts/transformers.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/workflows/attach_payout_account_workflow.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
  migrations/2024-09-03-053218_add_unified_code_message_to_payout/down.sql
  migrations/2024-09-03-053218_add_unified_code_message_to_payout/up.sql
Labels: M-database-changes, M-api-contract-changes

#5829 refactor(recon): use AuthDataWithUser and use JWTAuth for token verif…
  crates/router/src/core/recon.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/authentication.rs
Labels: C-refactor, Recon

#5953 chore: remove network tokenization service config in docker compose config
  config/docker_compose.toml
Labels: A-core, C-refactor

#5964 refactor(email): Add recipient emails in email config
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/external_services/src/email.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/recon.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/services/email/types.rs
  crates/router/src/utils/user/dashboard_metadata.rs
  loadtest/config/development.toml
Labels: C-bug, S-waiting-on-review, M-configuration-changes, C-refactor, A-users, Recon

#5959 fix(payments): add time range in list payment attempts query
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/analytics/src/disputes/metrics.rs
  crates/analytics/src/opensearch.rs
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/search.rs
  crates/api_models/src/events.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/payouts.rs
  crates/api_models/src/refunds.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/payouts.rs
  crates/hyperswitch_domain_models/src/payouts/payouts.rs
  crates/hyperswitch_domain_models/src/refunds.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/refunds.rs
  crates/router/src/db/dispute.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/refund.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/storage/dispute.rs
  crates/router/src/types/storage/refund.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/mock_db/payouts.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  crates/storage_impl/src/payouts/payouts.rs
Labels: C-bug, S-waiting-on-review, M-api-contract-changes, A-payments, A-Analytics

#5962 refactor(dynamic_fields): populate `billing.email` with customer email if not present
  crates/router/src/types/transformers.rs
Labels: C-refactor

#5950 fix(cypress): fix user login in routing cypress framework
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Novalnet.js
  cypress-tests/cypress/e2e/PayoutUtils/Commons.js
  cypress-tests/cypress/e2e/RoutingTest/00000-PriorityRouting.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00001-VolumeBasedRouting.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00002-RuleBasedRouting.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00003-Retries.cy.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#5968 refactor(router): add `phone` and `country_code` in dynamic fields
  crates/router/src/configs/defaults.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-payment-methods, C-refactor

#5919 fix: do not allow duplicate organization name
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/events.rs
  crates/api_models/src/organization.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/organization.rs
  crates/router/src/core/admin.rs
  crates/router/src/routes/admin.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/transformers.rs
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/down.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/up.sql
Labels: M-database-changes, M-api-contract-changes

#5925 feat(connector): [DEUTSCHEBANK] Implement SEPA recurring payments
  crates/api_models/src/payments.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank/transformers.rs
  crates/hyperswitch_connectors/src/connectors/fiservemea/transformers.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_interfaces/src/errors.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bamboraapac/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/gocardless/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/payeezy/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/wellsfargo/transformers.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/types/storage/payment_method.rs
Labels: A-connector-integration, C-feature

#5880 refactor(payment_intent_v2): payment intent fields refactoring
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/common_utils/src/consts.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/global_id.rs
  crates/common_utils/src/id_type/global_id/payment.rs
  crates/common_utils/src/id_type/global_id/payment_methods.rs
  crates/common_utils/src/id_type/payment.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/query/payment_intent.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/fraud_check/operation/fraud_check_pre.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/verification/utils.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/services/kafka/payment_intent.rs
  crates/router/src/services/kafka/payment_intent_event.rs
  crates/router/src/types/storage.rs
  crates/router/src/utils.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_intent.rs
  v2_migrations/2024-08-28-081721_add_v2_columns/down.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/down.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/up.sql
  v2_migrations/2024-08-28-081847_drop_v1_columns/down.sql
  v2_migrations/2024-08-28-081847_drop_v1_columns/up.sql
  v2_migrations/2024-09-13-075054_create-index-profile-id-mca/down.sql
  v2_migrations/2024-09-13-075054_create-index-profile-id-mca/up.sql
Labels: M-database-changes, api-v2

#5955 feat(router): add support for Samsung Pay payment method
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/connector_configs/src/transformer.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_interfaces/src/errors.rs
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/mca.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/connector_onboarding/paypal.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
Labels: C-feature, A-payment-methods, M-api-contract-changes

#5981 refactor(router): add `email` in `billing` and `shipping` address of merchant payment method list
  crates/router/src/configs/defaults.rs
Labels: A-payment-methods, C-refactor

#5637 feat(disputes): add filters for disputes list
  crates/api_models/src/disputes.rs
  crates/api_models/src/events.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_domain_models/src/disputes.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/core/disputes.rs
  crates/router/src/db/dispute.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/storage/dispute.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-disputes

#5978 fix(connector): [DEUTSCHE] Trim spaces in IBAN
  crates/hyperswitch_connectors/src/connectors/deutschebank/transformers.rs
Labels: A-connector-integration, C-bug

#5975 docs: add terms and conditions
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/common_enums/src/enums.rs
  docs/TERMS_OF_CONTEST.md
Labels: M-api-contract-changes

#5931 feat(refunds): Profile level refunds aggregate
  crates/router/src/core/refunds.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/refund.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/storage/refund.rs
Labels: C-feature, S-waiting-on-review, A-refunds

#5984 fix: log detailed error reports during deep health check failures
  config/docker_compose.toml
  crates/drainer/src/health_check.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/routes/health.rs
Labels: A-framework, C-bug, M-configuration-changes

#5948 fix(payment_link): Payment link render issue when `transaction_details` not passed
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.css
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
Labels: C-bug, Payment Links

#5971 feat(router): add api_models and openapi changes for payments create intent api for v2
  api-reference-v2/api-reference/payments/payments--create-intent.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/consts.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/payment.rs
  crates/common_utils/src/types.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payments.rs
Labels: C-doc, C-feature, M-api-contract-changes, api-v2

#5973 feat(cypress-v2): introduce list apis to cypress v2
  cypress-tests-v2/cypress/e2e/spec/Payment/0000-CoreFlows.cy.js
  cypress-tests-v2/cypress/e2e/spec/Routing/0000-Coreflows.cy.js
  cypress-tests-v2/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#6011 fix(core): Update pm details in Psync response
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-bug

#5997 feat(users): Add entity type filter in list users and list roles API
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user_role.rs
  crates/api_models/src/user_role/role.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/utils/user_role.rs
Labels: C-feature, S-waiting-on-review, A-users

#6015 chore: address some clippy lints arising from v2 code
  .github/workflows/CI-pr.yml
  crates/common_utils/src/id_type/global_id.rs
  crates/common_utils/src/id_type/global_id/payment_methods.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/payment_methods.rs
  justfile
Labels: A-CI-CD, S-waiting-on-review, C-refactor, api-v2

#5980 fix(api_key): fix api key `list` and `update` endpoints for v2
  api-reference-v2/api-reference/api-key/api-key--list.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  api-reference/api-reference/api-key/api-key--list.mdx
  api-reference/mint.json
  api-reference/openapi_spec.json
  crates/api_models/src/api_keys.rs
  crates/api_models/src/events.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/api_keys.rs
  crates/router/src/routes/api_keys.rs
Labels: A-core, C-bug, S-waiting-on-review, C-refactor, M-api-contract-changes

#6017 fix(connector): pass Samsung Pay `public_key_hash` in the confirm call
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug, A-payment-methods

#6016 feat(router): add payment_intent_data and modify api models of create intent request and response for v2
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments.rs
Labels: A-core, C-feature, M-api-contract-changes

#4771 feat(charges): integrated PaymentSync for stripe connect
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/refunds/transformers.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
Labels: S-waiting-on-review

#5951 feat(routing): success based routing metrics
  crates/api_models/src/routing.rs
  crates/common_enums/src/enums.rs
  crates/router/Cargo.toml
  crates/router/src/core/metrics.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/routes/routing.rs
  crates/router/src/types/api.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: C-feature, A-routing

#6087 feat(analytics): Add card network filter
  crates/analytics/src/opensearch.rs
  crates/analytics/src/payments/core.rs
  crates/analytics/src/payments/filters.rs
  crates/analytics/src/payments/types.rs
  crates/analytics/src/sqlx.rs
  crates/api_models/src/analytics/payments.rs
Labels: C-feature, A-Analytics

#6113 fix: env added for hyperswitch-web
  docker-compose.yml
Labels: S-waiting-on-review

#6118 fix: env added for hyperswitch-web
  docker-compose.yml
Labels: S-waiting-on-review

#5992 fix(router): fix billing details path in required field
  crates/router/src/configs/defaults.rs
Labels: A-connector-compatibility, C-bug

#5801 feat(router): add support for co-badged cards
  Cargo.lock
  crates/api_models/src/payments.rs
  crates/cards/Cargo.toml
  crates/cards/src/validate.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-connector-integration, A-core, C-feature

#6089 refactor(router): restructure `Samsung Pay` connector wallet details
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-core, A-payment-methods, C-refactor

#6052 refactor(euclid): log refactors for dynamic routing
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/routes/routing.rs
Labels: C-refactor

#5887 feat(core): [Payouts] Add payout_method_details to response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payouts.rs
  crates/common_utils/src/lib.rs
  crates/common_utils/src/new_type.rs
  crates/common_utils/src/payout_method_utils.rs
  crates/diesel_models/src/payout_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/payouts/payout_attempt.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/retry.rs
  crates/router/src/core/payouts/transformers.rs
  crates/router/src/types/api/payouts.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
  migrations/2024-09-15-080630_add_addtional_payout_method_data_column_to_payout_attempt_table/down.sql
  migrations/2024-09-15-080630_add_addtional_payout_method_data_column_to_payout_attempt_table/up.sql
Labels: A-core, C-feature, M-database-changes, M-api-contract-changes, Payouts

#6142 feat(router): revert support for co-badged cards
  Cargo.lock
  crates/api_models/src/payments.rs
  crates/cards/Cargo.toml
  crates/cards/src/validate.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-connector-integration, C-bug

#6088 feat(connector): [Paybox] Add 3DS Flow
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/paybox.rs
  crates/router/src/connector/paybox/transformers.rs
  crates/router/src/core/payments/flows.rs
  loadtest/config/development.toml
Labels: A-connector-integration

#6091 fix(config): dont read cert and url if keymanager is disabled
  config/development.toml
  crates/common_utils/src/types/keymanager.rs
  crates/hyperswitch_domain_models/src/type_encryption.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
Labels: M-configuration-changes

#6027 refactor(payment_attempt_v2): add payment attempt v2 domain and diesel models
  crates/api_models/Cargo.toml
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/diesel_models/src/query/payment_intent.rs
  crates/diesel_models/src/query/user/sample_data.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/Cargo.toml
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/user/sample_data.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user/sample_data.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/kafka/payment_attempt.rs
  crates/router/src/services/kafka/payment_attempt_event.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  justfile
  v2_migrations/2024-08-28-081721_add_v2_columns/down.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
  v2_migrations/2024-08-28-081747_recreate_ids_for_v2/up.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/down.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/up.sql
  v2_migrations/2024-08-28-081847_drop_v1_columns/down.sql
  v2_migrations/2024-08-28-081847_drop_v1_columns/up.sql
Labels: M-database-changes, api-v2

#6148 feat(router): revert support for co-badged cards
  Cargo.lock
  crates/api_models/src/payments.rs
  crates/cards/Cargo.toml
  crates/cards/src/validate.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-connector-integration, A-core, C-bug

#6134 feat(router): add auto retries configs in profile CRUD apis
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api/admin.rs
  migrations/2024-09-26-113912_add-auto-retries-configs-in-profile/down.sql
  migrations/2024-09-26-113912_add-auto-retries-configs-in-profile/up.sql
Labels: A-core, C-feature, M-database-changes, M-api-contract-changes

#6144 refactor(router): add dynamic_routing feature flag in release features
  crates/router/Cargo.toml
Labels: C-refactor, A-routing

#6147 fix(user_roles): Send only same and below Entity Level Users in List Users API
  crates/router/src/core/user_role.rs
  crates/router/src/utils/user_role.rs
Labels: C-bug, S-waiting-on-review, A-users

#5957 fix(connector): update API endpoints for signifyd
  crates/router/src/connector/signifyd.rs
Labels: C-bug, A-FRM

#5183 feat(ci): add cypress tests to github ci
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD

#6159 fix(payments_list): remove time range to filter payments attempts
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments.rs
  crates/router/src/db/kafka_store.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: C-bug, C-refactor, A-payments, A-users

#6161 fix(connector): [Adyen Platform] wasm configs and webhook status mapping
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/adyenplatform/transformers/payouts.rs
Labels: A-connector-integration, C-bug

#6162 fix(payments_list): remove time range to filter payments attempts
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments.rs
  crates/router/src/db/kafka_store.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: C-bug, C-refactor, A-payments, A-users
