Repository juspay/hyperswitch, pull requests merged in 2024-11, with the labels that each got.

#6445 docs(README): Updated the icon and repositioned the hero image
  README.md
Labels: C-doc

#6313 feat: add macro to generate ToEncryptable trait
  crates/api_models/src/customers.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/address.rs
  crates/diesel_models/src/events.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/domain/event.rs
  crates/router/src/utils.rs
  crates/router_derive/src/lib.rs
  crates/router_derive/src/macros.rs
  crates/router_derive/src/macros/to_encryptable.rs
Labels: A-core, S-waiting-on-review

#6462 fix(analytics): add dynamic limit by clause in failure reasons metric query
  crates/analytics/src/payments/metrics/sessionized_metrics/failure_reasons.rs
Labels: C-bug, A-Analytics

#6369 refactor(connector): [AIRWALLEX, MULTISAFEPAY, RAZORPAY, SHIFT4, WORLDPAY, ZSL] Move connectors from `router` to `hyperswitch_connectors` crate
  Cargo.lock
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/airwallex.rs
  crates/hyperswitch_connectors/src/connectors/airwallex/transformers.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/razorpay.rs
  crates/hyperswitch_connectors/src/connectors/razorpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/shift4.rs
  crates/hyperswitch_connectors/src/connectors/shift4/transformers.rs
  crates/hyperswitch_connectors/src/connectors/worldpay.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/requests.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/response.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zsl.rs
  crates/hyperswitch_connectors/src/connectors/zsl/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/lib.rs
  crates/hyperswitch_connectors/src/metrics.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#6283 feat(db): implement `MerchantAccountInteraface` for `Mockdb`
  crates/diesel_models/src/merchant_account.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/router/src/db/merchant_account.rs
  docker-compose-development.yml
Labels: hacktoberfest, hacktoberfest-accepted

#6337 fix: replace deprecated backticks with $(...) for command substitution
  INSTALL_dependencies.sh
  aws/hyperswitch_aws_setup.sh
  aws/hyperswitch_cleanup_setup.sh
  scripts/add_connector.sh
Labels: hacktoberfest, hacktoberfest-accepted

#6405 fix(refunds): remove to schema from refund aggregate response and exclude it from open api documentation
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/refunds.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
Labels: C-bug, C-refactor, M-api-contract-changes, A-refunds, hacktoberfest, hacktoberfest-accepted

#5323 feat(connector): [Paypal] implement vaulting for paypal wallet and cards while purchasing
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-connector-integration, C-feature

#6480 fix(connector): [Cybersource] remove newline in billing address with space
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#6437 fix: lazy connection pools for dynamic routing service
  Cargo.lock
  crates/external_services/Cargo.toml
  crates/external_services/src/grpc_client/dynamic_routing.rs
Labels: A-framework, A-routing

#6466 feat(users): Add `force_two_factor_auth` environment variable
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/user.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/user.rs
  loadtest/config/development.toml
Labels: C-feature, S-waiting-on-review, M-configuration-changes, A-users

#6418 feat(analytics): implement currency conversion to power multi-currency aggregation
  Cargo.lock
  crates/analytics/Cargo.toml
  crates/analytics/src/errors.rs
  crates/analytics/src/payment_intents/accumulator.rs
  crates/analytics/src/payment_intents/core.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payment_processed_amount.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/smart_retried_amount.rs
  crates/analytics/src/payment_intents/metrics/smart_retried_amount.rs
  crates/analytics/src/payments/accumulator.rs
  crates/analytics/src/payments/core.rs
  crates/analytics/src/payments/metrics/payment_processed_amount.rs
  crates/analytics/src/payments/metrics/sessionized_metrics/payment_processed_amount.rs
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/payment_intents.rs
  crates/api_models/src/analytics/payments.rs
  crates/router/src/analytics.rs
  crates/router/src/core/currency.rs
  crates/router/src/utils/currency.rs
Labels: C-feature, Rust, A-Analytics

#6497 fix(core): PMD Not Getting Populated for Saved Card Transactions
  crates/router/src/connector/paybox/transformers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-connector-integration, A-core

#6469 refactor(connector): Added amount conversion framework to Wise.
  crates/router/src/connector/wise.rs
  crates/router/src/connector/wise/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/wise.rs
Labels: hacktoberfest, hacktoberfest-accepted

#6483 fix(users): Add force rotate password on first login for non-email flow
  crates/router/src/types/domain/user.rs
Labels: C-bug, S-waiting-on-review, A-users

#6427 feat(payments): Add audit events for PaymentCreate update
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/events/audit_events.rs
Labels: hacktoberfest, hacktoberfest-accepted

#6393 chore: change serde value to strict type in payment intent domain and diesel model
  Cargo.lock
  crates/api_models/src/payments.rs
  crates/common_enums/Cargo.toml
  crates/common_enums/src/enums.rs
  crates/common_enums/src/enums/payments.rs
  crates/common_utils/src/hashing.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/types.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_request_types/fraud_check.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/masking/src/strategy.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/analytics.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/riskified/transformers/api.rs
  crates/router/src/connector/signifyd/transformers/api.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/fraud_check/types.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/cards_info.rs
  crates/router/src/routes/currency.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/files.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payout_link.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/profiles.rs
  crates/router/src/routes/routing.rs
  crates/router/src/routes/verification.rs
  crates/router/src/routes/verify_connector.rs
  crates/router/src/services/authentication.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/zen.rs
Labels: S-waiting-on-review, C-refactor, api-v2

#6432 feat(payments): Add audit events for PaymentApprove update
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/events/audit_events.rs
Labels: hacktoberfest, hacktoberfest-accepted

#6476 feat(opensearch): refactor global search querybuilder and add case insensitivity opensearch filters
  crates/analytics/src/opensearch.rs
  crates/analytics/src/search.rs
Labels: C-feature, A-Analytics

#6514 fix(router): get apple pay certificates only from metadata during the session call
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, A-payment-methods, A-payments

#6507 fix(docs): Fix broken pages in API reference
  api-reference/api-reference/api-key/api-key--create.mdx
  api-reference/api-reference/api-key/api-key--revoke.mdx
  api-reference/api-reference/routing/routing--activate-config.mdx
  api-reference/api-reference/routing/routing--retrieve.mdx
Labels: C-bug, C-doc, P-high

#6448 Refactor(core): interpolate success_based_routing config params with their specific values
  crates/api_models/src/routing.rs
  crates/external_services/src/grpc_client.rs
  crates/external_services/src/grpc_client/dynamic_routing.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing/helpers.rs
Labels: A-routing

#6493 ci(cypressV2): update cypress v2 framework to accommodate hyperswitch v2 changes
  cypress-tests-v2/cypress/e2e/configs/Payment/Utils.js
  cypress-tests-v2/cypress/e2e/configs/Payment/_Reusable.js
  cypress-tests-v2/cypress/e2e/spec/Payment/0001-[No3DS]Payments.cy.js
  cypress-tests-v2/cypress/e2e/spec/Payment/0002-[3DS]Payments.cy.js
  cypress-tests-v2/cypress/fixtures/organization.json
  cypress-tests-v2/cypress/support/commands.js
  cypress-tests-v2/cypress/utils/RequestBodyUtils.js
  cypress-tests-v2/package-lock.json
  cypress-tests-v2/package.json
Labels: A-CI-CD, S-waiting-on-review

#6460 refactor(router): Remove card exp validation for migration api
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/migration.rs
Labels: S-waiting-on-review, C-refactor

#6463 fix(connector): [Novalnet] Add mandatory fields for wallets and card in config
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: A-connector-integration

#6426 feat(payments): Add audit events for PaymentUpdate update
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/events/audit_events.rs
Labels: hacktoberfest, hacktoberfest-accepted

#6487 fix(connector): [fiuu]fix mandates for fiuu
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/payment_methods/cards.rs
  cypress-tests/cypress/e2e/PaymentUtils/Fiuu.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-connector-integration, C-bug, S-waiting-on-review

#6433 refactor(payment_methods): refactor customer payment methods list v2 code to follow better code practices
  Cargo.lock
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank/transformers.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/payment_methods.rs
  crates/router/src/types/storage/payment_method.rs
  v2_migrations/2024-08-23-112510_payment_methods_v2_db_changes/down.sql
  v2_migrations/2024-08-23-112510_payment_methods_v2_db_changes/up.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/down.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
Labels: S-waiting-on-review, M-database-changes, A-payment-methods, C-refactor, M-api-contract-changes, api-v2

#6470 feat(router): add `start_redirection` api for three_ds flow in v2
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/authentication.rs
  crates/router_env/src/logger/types.rs
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/down.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/up.sql
Labels: A-core, C-feature, M-database-changes, M-api-contract-changes, api-v2

#6492 feat(analytics): revert remove additional filters from PaymentIntentFilters
  crates/analytics/src/payment_intents/core.rs
  crates/analytics/src/payment_intents/filters.rs
  crates/analytics/src/payment_intents/metrics.rs
  crates/analytics/src/payment_intents/metrics/payment_intent_count.rs
  crates/analytics/src/payment_intents/metrics/payment_processed_amount.rs
  crates/analytics/src/payment_intents/metrics/payments_success_rate.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payment_intent_count.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payment_processed_amount.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payments_distribution.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payments_success_rate.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/smart_retried_amount.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/successful_smart_retries.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/total_smart_retries.rs
  crates/analytics/src/payment_intents/metrics/smart_retried_amount.rs
  crates/analytics/src/payment_intents/metrics/successful_smart_retries.rs
  crates/analytics/src/payment_intents/metrics/total_smart_retries.rs
  crates/analytics/src/payment_intents/types.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/utils.rs
  crates/api_models/src/analytics/payment_intents.rs
Labels: C-bug, A-Analytics

#6496 docs(openapi): Fixed API documentation for V2
  api-reference-v2/api-reference/api-key/api-key--retrieve.mdx
  api-reference-v2/api-reference/api-key/api-key--revoke.mdx
  api-reference-v2/api-reference/api-key/api-key--update.mdx
  api-reference-v2/api-reference/connector-account/connector-account--create.mdx
  api-reference-v2/api-reference/connector-account/connector-account--delete.mdx
  api-reference-v2/api-reference/connector-account/connector-account--retrieve.mdx
  api-reference-v2/api-reference/connector-account/connector-account--update.mdx
  api-reference-v2/api-reference/merchant-account/business-profile--list.mdx
  api-reference-v2/api-reference/payments/payments--session-token.mdx
  api-reference-v2/api-reference/profile/merchant-connector--list.mdx
  api-reference-v2/api-reference/profile/profile--activate-routing-algorithm.mdx
  api-reference-v2/api-reference/profile/profile--deactivate-routing-algorithm.mdx
  api-reference-v2/api-reference/profile/profile--retrieve-active-routing-algorithm.mdx
  api-reference-v2/api-reference/profile/profile--retrieve-default-fallback-routing-algorithm.mdx
  api-reference-v2/api-reference/profile/profile--retrieve.mdx
  api-reference-v2/api-reference/profile/profile--update-default-fallback-routing-algorithm.mdx
  api-reference-v2/api-reference/profile/profile--update.mdx
  api-reference-v2/api-reference/routing/routing--retrieve.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/api_keys.rs
  crates/openapi/src/routes/merchant_account.rs
  crates/openapi/src/routes/merchant_connector_account.rs
  crates/openapi/src/routes/payments.rs
  crates/openapi/src/routes/profile.rs
  crates/openapi/src/routes/routing.rs
Labels: C-doc, S-waiting-on-review, M-api-contract-changes, api-v2

#6529 fix: trustpay `eps` redirection in cypress
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD

#6465 feat(events): Add payment reject audit events
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/events/audit_events.rs
Labels: hacktoberfest, hacktoberfest-accepted

#6382 feat(connector): [NOMUPAY] Add template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/connector_enums.rs
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/nomupay.rs
  crates/hyperswitch_connectors/src/connectors/nomupay/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/nomupay.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#6535 refactor(routing): remove payment_id from dynamic_routing metrics
  crates/router/src/core/routing/helpers.rs
Labels: C-refactor, A-routing

#6458 feat(users): add global support in user roles
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user_role.rs
  crates/router/src/analytics.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/recon.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db.rs
  crates/router/src/db/user_role.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authorization.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
  migrations/2024-10-26-105654_add_column_tenant_id_to_user_roles/down.sql
  migrations/2024-10-26-105654_add_column_tenant_id_to_user_roles/up.sql
Labels: C-feature, M-database-changes, A-users

#6516 docs(analytics): add setup instructions for currency_conversion service
  crates/analytics/docs/README.md
Labels: C-doc, A-Analytics

#6523 fix(webhooks): add support for updating mandate details in webhooks flow
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_connectors/src/connectors/fiuu.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_flow_types/webhooks.rs
  crates/hyperswitch_interfaces/src/webhooks.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/services/connector_integration_interface.rs
Labels: A-connector-integration, A-core, S-waiting-on-review, A-webhooks

#6539 feat(openapi): add payment get to openapi
  api-reference-v2/api-reference/payments/payments--get.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/analytics.rs
  crates/router/src/core/admin.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/profiles.rs
  crates/router/src/services/authentication.rs
Labels: M-api-contract-changes

#6545 feat(connector): [ADYEN] Integrate Paze
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-feature

#6552 ci(cypress): Fix Iatapay Zero Auth Mandates Flow
  cypress-tests/cypress/e2e/PaymentUtils/Iatapay.js
Labels: A-CI-CD

#6533 feat(themes): Setup themes table
  crates/common_utils/src/types.rs
  crates/common_utils/src/types/theme.rs
  crates/diesel_models/src/query/user.rs
  crates/diesel_models/src/query/user/theme.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user.rs
  crates/diesel_models/src/user/theme.rs
  crates/router/src/db.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user.rs
  crates/router/src/db/user/theme.rs
  crates/storage_impl/src/mock_db.rs
  migrations/2024-11-06-121933_setup-themes-table/down.sql
  migrations/2024-11-06-121933_setup-themes-table/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes, A-users

#6500 feat: implement scylla traits for StrongSecret
  Cargo.lock
  crates/masking/Cargo.toml
  crates/masking/src/cassandra.rs
  crates/masking/src/lib.rs
Labels: A-framework, S-waiting-on-review

#6547 feat(connector): [Novalnet] Add supported currencies
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: M-api-contract-changes

#6541 ci: introduce `cybersource` cypress test to run in parallel
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD, S-waiting-on-review

#6559 ci(cypress): Add Checkout Connector
  cypress-tests/cypress/e2e/PaymentTest/00014-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00016-ThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Checkout.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, S-waiting-on-review

#6549 feat(payments_v2): add finish redirection endpoint
  api-reference-v2/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/consts.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/router/src/analytics.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_create_intent.rs
  crates/router/src/core/payments/operations/payment_get.rs
  crates/router/src/core/payments/operations/payment_get_intent.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/user.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/dummy_connector.rs
  crates/router/src/routes/dummy_connector/core.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
Labels: M-api-contract-changes

#6537 refactor(users): Make `profile_id` in the JWT non-optional
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user.rs
Labels: S-waiting-on-review, C-refactor, A-users

#6554 feat(payments): [Payment links] add hide card nickname field config for secure payment links
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/consts.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/consts.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_initiate/secure_payment_link_initiator.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
Labels: A-core, S-waiting-on-review, M-api-contract-changes, Payment Links

#6546 refactor(core): add profile_id for default_fallback api
  crates/router/src/core/routing.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
Labels: C-refactor, A-routing

#6560 feat(connector): [Novalnet] Add support for disputes
  crates/hyperswitch_connectors/src/connectors/novalnet.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
Labels: A-connector-integration

#6555 refactor(payment_methods_v2): rename `payment_method` and `payment_method_type` fields and use concrete type for `payment_method_data`
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/events.rs
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/type_encryption.rs
  crates/openapi/Cargo.toml
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/mandates.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/domain/types.rs
  crates/router/src/types/transformers.rs
  v2_migrations/2024-08-23-112510_payment_methods_v2_db_changes/down.sql
  v2_migrations/2024-08-23-112510_payment_methods_v2_db_changes/up.sql
Labels: M-database-changes, A-payment-methods, C-refactor, M-api-contract-changes, api-v2

#6575 feat(analytics): add `smart_retries` only metrics for analytics v2 dashboard
  crates/analytics/src/payments/accumulator.rs
  crates/api_models/src/analytics/payments.rs
Labels: C-feature, Rust, A-Analytics

#6602 fix(connector): [Adyen]fix error code and message for webhooks response
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-bug

#6595 fix(analytics): fix `authentication_type` and `card_last_4` fields serialization for payment_intent_filters
  crates/api_models/src/analytics/payment_intents.rs
Labels: C-bug, A-Analytics

#6264 feat(routing): add invalidate window as a service for SR based routing
  config/development.toml
  crates/external_services/src/grpc_client/dynamic_routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
  proto/success_rate.proto
Labels: C-feature, A-routing

#6576 fix(connector): [Volt] handle 5xx error for Volt payments webhooks
  crates/hyperswitch_connectors/src/connectors/volt/transformers.rs
Labels: A-connector-integration, C-bug

#6601 feat(users): Convert emails to lowercase from requests
  crates/router/src/types/domain/user.rs
Labels: C-bug, A-users

#6300 feat(router): Add support for network token migration
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/diesel_models/src/payment_method.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/migration.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/types/api/payment_methods.rs
Labels: enhancement

#6627 fix(analytics): remove first_attempt group by in Payment Intent old metrics
  crates/analytics/src/payment_intents/metrics/payment_processed_amount.rs
  crates/analytics/src/payment_intents/metrics/payments_success_rate.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payment_processed_amount.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payments_distribution.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/payments_success_rate.rs
  crates/analytics/src/payment_intents/metrics/sessionized_metrics/smart_retried_amount.rs
  crates/analytics/src/payment_intents/metrics/smart_retried_amount.rs
Labels: C-bug, A-Analytics

#6603 ci(cypress): Add Noon Connector
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Noon.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
Labels: A-CI-CD, S-waiting-on-review

#6634 fix(connector): [Cybersource] change commerce indicator for applepay
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#6641 fix(connector): [Cybersource] change commerce indicator for applepay
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#6604 feat(analytics): add `first_attempt` as a filter for PaymentFilters
  crates/analytics/src/payments/filters.rs
  crates/analytics/src/payments/types.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sqlx.rs
  crates/api_models/src/analytics/payments.rs
Labels: A-Analytics

#6635 feat(refunds): Trigger refund outgoing webhooks in create and retrieve refund flows
  crates/router/src/core/refunds.rs
  crates/router/src/utils.rs
Labels: A-core, A-refunds

#5324 feat(connector): [Paypal] implement vaulting for paypal cards via zero mandates
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
Labels: A-connector-integration, C-feature

#6578 feat(core): add SCA exemption field
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/services/conversion_impls.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  migrations/2024-11-14-084429_add_sca_exemption_field_to_payment_intent/down.sql
  migrations/2024-11-14-084429_add_sca_exemption_field_to_payment_intent/up.sql
Labels: A-core, C-feature, M-database-changes, M-api-contract-changes

#6624 chore(deps): update cypress packages to address CVE
  cypress-tests-v2/package-lock.json
  cypress-tests-v2/package.json
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD, A-dependencies, S-waiting-on-review

#6630 feat(payments): add merchant order ref id filter
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/types/storage/dispute.rs
  crates/router/src/types/storage/refund.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: C-bug, C-feature, A-payments, A-users

#6655 ci(cypress): use ubuntu runner
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD

#6485 feat(connector): [Elavon] Implement cards Flow
  .typos.toml
  Cargo.lock
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/connector_enums.rs
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/elavon.rs
  crates/hyperswitch_connectors/src/connectors/elavon/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/utils.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/utils.rs
  cypress-tests/cypress/e2e/PaymentUtils/Elavon.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  loadtest/config/development.toml
Labels: A-connector-integration, M-api-contract-changes

#6614 feat(connector): [INESPAY] add Connector Template Code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/connector_enums.rs
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/inespay.rs
  crates/hyperswitch_connectors/src/connectors/inespay/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/inespay.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#6589 refactor(payments_v2): use batch encryption for intent create and confirm intent
  crates/hyperswitch_domain_models/src/address.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_create_intent.rs
  crates/router/src/core/payments/transformers.rs
  crates/router_derive/src/macros/to_encryptable.rs
Labels: api-v2

#6639 feat(users): Send welcome to community email in magic link signup
  crates/router/src/consts/user.rs
  crates/router/src/core/user.rs
  crates/router/src/services/email/assets/welcome_to_community.html
  crates/router/src/services/email/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#6643 refactor(tenant): use tenant id type
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/organization.rs
  crates/common_utils/src/id_type/tenant.rs
  crates/common_utils/src/types/theme.rs
  crates/diesel_models/src/user/theme.rs
  crates/diesel_models/src/user_role.rs
  crates/drainer/src/handler.rs
  crates/drainer/src/health_check.rs
  crates/drainer/src/lib.rs
  crates/drainer/src/settings.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/user.rs
  crates/router/src/db/events.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authorization.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router/tests/cache.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/router/tests/services.rs
  crates/scheduler/src/consumer.rs
  crates/scheduler/src/producer.rs
  crates/scheduler/src/scheduler.rs
Labels: A-core, C-refactor, A-users

#6359 refactor(connector): add amount conversion framework to Riskified
  crates/router/src/connector/riskified.rs
  crates/router/src/connector/riskified/transformers/api.rs
  crates/router/src/types/api/fraud_check.rs
Labels: A-connector-integration, S-waiting-on-author, C-refactor, hacktoberfest, hacktoberfest-accepted

#6569 ci(cypress): Add list and revoke for zero auth mandate payments
  cypress-tests/cypress/e2e/PaymentTest/00013-ListAndRevokeMandate.cy.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, C-test

#6628 feat(router): [Cybersource] add PLN to the currency config
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
Labels: A-connector-compatibility, A-connector-integration, M-configuration-changes

#6599 refactor(authn): Enable cookies in Integ
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/authentication.rs
  loadtest/config/development.toml
Labels: S-waiting-on-review, C-refactor, A-users

#6573 feat(analytics): add `sessionized_metrics` for disputes analytics
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/disputes/accumulators.rs
  crates/analytics/src/disputes/core.rs
  crates/analytics/src/disputes/metrics.rs
  crates/analytics/src/disputes/metrics/sessionized_metrics/dispute_status_metric.rs
  crates/analytics/src/disputes/metrics/sessionized_metrics/mod.rs
  crates/analytics/src/disputes/metrics/sessionized_metrics/total_amount_disputed.rs
  crates/analytics/src/disputes/metrics/sessionized_metrics/total_dispute_lost_amount.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/types.rs
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/disputes.rs
  crates/api_models/src/events.rs
Labels: C-feature, C-refactor, Rust, A-Analytics

#6644 feat(payments): propagate additional payment method data for google pay during MIT
  crates/api_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, A-payment-methods

#6611 feat(connector): [Netcetera] add sca exemption
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/netcetera/transformers.rs
Labels: A-connector-integration, C-feature

#6675 fix(connector): [Cybersource] change commerce indicator for applepay
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#6677 fix(users): Check lineage across entities in invite
  crates/router/src/core/user.rs
Labels: C-bug, A-users

#6636 refactor(core): add error handling wrapper to wehbook
  crates/api_models/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors/cashtocode.rs
  crates/hyperswitch_connectors/src/connectors/worldline.rs
  crates/hyperswitch_connectors/src/connectors/zen.rs
  crates/hyperswitch_connectors/src/connectors/zsl.rs
  crates/hyperswitch_interfaces/src/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyenplatform.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/services/connector_integration_interface.rs
Labels: A-core, C-refactor, A-webhooks

#6686 refactor(core): add error handling wrapper to wehbook
  crates/api_models/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors/cashtocode.rs
  crates/hyperswitch_connectors/src/connectors/worldline.rs
  crates/hyperswitch_connectors/src/connectors/zen.rs
  crates/hyperswitch_connectors/src/connectors/zsl.rs
  crates/hyperswitch_interfaces/src/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyenplatform.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/services/connector_integration_interface.rs
Labels: A-core, C-refactor, A-webhooks

#6650 ci(cypress): Move MIT requests to configs and add Paybox Mandates
  cypress-tests/cypress/e2e/PaymentTest/00009-RefundPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00011-CreateSingleuseMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00012-CreateMultiuseMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00013-ListAndRevokeMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00015-ZeroAuthMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00019-MandatesUsingPMID.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00020-MandatesUsingNTID.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00022-Variations.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Fiuu.js
  cypress-tests/cypress/e2e/PaymentUtils/Noon.js
  cypress-tests/cypress/e2e/PaymentUtils/Paybox.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/WellsFargo.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#6622 ci(cypress): Added Config Testcases
  cypress-tests/cypress/e2e/PaymentTest/00024-ConnectorAgnostic.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00025-ConfigTest.cy.js
  cypress-tests/cypress/fixtures/business-profile.json
  cypress-tests/cypress/fixtures/create-business-profile.json
  cypress-tests/cypress/fixtures/imports.js
  cypress-tests/cypress/fixtures/update-business-profile.json
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD

#6654 fix(analytics): fix bugs in payments page metrics in Analytics V2 dashboard
  crates/analytics/src/payment_intents/accumulator.rs
  crates/analytics/src/payment_intents/core.rs
  crates/analytics/src/payment_intents/sankey.rs
  crates/analytics/src/payments/accumulator.rs
  crates/analytics/src/payments/metrics/sessionized_metrics/failure_reasons.rs
  crates/api_models/src/analytics.rs
Labels: C-bug, A-Analytics

#6502 feat: add support for sdk session call in v2
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/macros.rs
  crates/common_utils/src/types.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_create_intent.rs
  crates/router/src/core/payments/operations/payment_get_intent.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session_intent.rs
  crates/router/src/core/payments/session_operation.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
Labels: A-core, S-waiting-on-review, M-api-contract-changes, api-v2

#6667 fix(analytics): fix first_attempt filter value parsing for Payments
  crates/analytics/src/query.rs
Labels: C-bug, A-Analytics

#6685 fix(opensearch): handle empty free-text query search in global search
  crates/analytics/src/opensearch.rs
Labels: A-Analytics

#6689 refactor(router): [ZSL] remove partially capture status
  crates/hyperswitch_connectors/src/connectors/zsl/transformers.rs
Labels: A-connector-integration, C-refactor

#6671 refactor(currency_conversion): release redis lock if api call fails
  crates/router/src/utils/currency.rs
Labels: A-currency-conversion

#6659 feat(connector): [REDSYS] add Connector Template Code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/connector_enums.rs
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/redsys.rs
  crates/hyperswitch_connectors/src/connectors/redsys/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/redsys.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#6663 feat(payments): [Payment links] add showCardFormByDefault config for payment links
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/consts.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_initiate/secure_payment_link_initiator.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#6694 fix(users): Mark user as verified if user logins from SSO
  crates/router/src/core/user.rs
Labels: C-bug, A-users

#6661 feat(users): add tenant id reads in user roles
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/analytics.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user_role.rs
Labels: C-feature, S-waiting-on-review, A-users

#6510 fix(openapi): Standardise API naming scheme for V2
  api-reference-v2/api-reference/api-key/api-key--create.mdx
  api-reference-v2/api-reference/api-key/api-key--list.mdx
  api-reference-v2/api-reference/api-key/api-key--retrieve.mdx
  api-reference-v2/api-reference/api-key/api-key--revoke.mdx
  api-reference-v2/api-reference/api-key/api-key--update.mdx
  api-reference-v2/api-reference/business-profile/merchant-connector--list.mdx
  api-reference-v2/api-reference/connector-account/connector-account--create.mdx
  api-reference-v2/api-reference/connector-account/connector-account--delete.mdx
  api-reference-v2/api-reference/connector-account/connector-account--retrieve.mdx
  api-reference-v2/api-reference/connector-account/connector-account--update.mdx
  api-reference-v2/api-reference/merchant-account/business-profile--list.mdx
  api-reference-v2/api-reference/merchant-account/merchant-account--create.mdx
  api-reference-v2/api-reference/merchant-account/merchant-account--retrieve.mdx
  api-reference-v2/api-reference/merchant-account/merchant-account--update.mdx
  api-reference-v2/api-reference/merchant-account/profile--list.mdx
  api-reference-v2/api-reference/organization/organization--merchant-account--list.mdx
  api-reference-v2/api-reference/payment-methods/list-customer-saved-payment-methods-for-a-payment.mdx
  api-reference-v2/api-reference/payment-methods/list-payment-methods-for-a-customer.mdx
  api-reference-v2/api-reference/payment-methods/payment-method--confirm-intent.mdx
  api-reference-v2/api-reference/payment-methods/payment-method--create-intent.mdx
  api-reference-v2/api-reference/payment-methods/payment-method--create.mdx
  api-reference-v2/api-reference/payment-methods/payment-method--delete.mdx
  api-reference-v2/api-reference/payment-methods/payment-method--retrieve.mdx
  api-reference-v2/api-reference/payment-methods/payment-method--update.mdx
  api-reference-v2/api-reference/profile/merchant-connector--list.mdx
  api-reference-v2/api-reference/profile/profile--activate-routing-algorithm.mdx
  api-reference-v2/api-reference/profile/profile--deactivate-routing-algorithm.mdx
  api-reference-v2/api-reference/profile/profile--retrieve-active-routing-algorithm.mdx
  api-reference-v2/api-reference/profile/profile--retrieve-default-fallback-routing-algorithm.mdx
  api-reference-v2/api-reference/profile/profile--update-default-fallback-routing-algorithm.mdx
  api-reference-v2/api-reference/routing/routing--create.mdx
  api-reference-v2/api-reference/routing/routing--retrieve.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/organization.rs
  crates/api_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/api_keys.rs
  crates/openapi/src/routes/merchant_account.rs
  crates/openapi/src/routes/merchant_connector_account.rs
  crates/openapi/src/routes/organization.rs
  crates/openapi/src/routes/payment_method.rs
  crates/openapi/src/routes/profile.rs
  crates/openapi/src/routes/routing.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/admin.rs
  cypress-tests-v2/cypress/support/commands.js
Labels: C-doc, S-waiting-on-review, M-api-contract-changes, api-v2

#6699 refactor(users): Use domain email type in user DB functions
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authentication/cookies.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/email/types.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
Labels: C-bug, C-refactor, A-users
