Repository juspay/hyperswitch, pull requests merged in 2024-01, with the labels that each got.

#3225 fix(middleware): add support for logging request-id sent in request
  crates/router/src/middleware.rs
Labels: A-framework, A-core, S-waiting-on-review

#3230 ci(postman): Added necessary card networks
  postman/collection-dir/checkout/Flow Testcases/QuickStart/Payment Connector - Create/request.json
Labels: A-CI-CD

#3223 chore: fix channel handling for consumer workflow loop
  crates/scheduler/src/consumer.rs
  crates/scheduler/src/utils.rs
Labels: A-process-tracker, C-bug

#3224 fix(core): fix recurring mandates flow for cyber source
  config/development.toml
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/core/payments.rs
Labels: A-core, C-bug, S-waiting-on-review

#3240 fix(middleware): add support for logging request-id sent in request (…
  crates/router/src/middleware.rs
Labels: C-bug, A-errors

#3243 fix(connector): [iatapay] change refund amount
  crates/router/src/connector/iatapay.rs
Labels: C-bug, P-high, S-waiting-on-review

#3244 fix(connector): [iatapay] change refund amount
  crates/router/src/connector/iatapay.rs
Labels: P-high, C-refactor

#3245 fix(user): add integration_completed enum in metadata type
  crates/router/src/utils/user/dashboard_metadata.rs
  migrations/2024-01-04-121733_add_dashboard_metadata_key_integration_completed/down.sql
  migrations/2024-01-04-121733_add_dashboard_metadata_key_integration_completed/up.sql
Labels: C-bug, S-waiting-on-review, M-database-changes, R-waiting-on-L2, A-users

#3233 refactor: address panics due to indexing and slicing
  .cargo/config.toml
  Cargo.lock
  crates/api_models/src/admin.rs
  crates/cards/Cargo.toml
  crates/cards/src/validate.rs
  crates/common_utils/src/crypto.rs
  crates/common_utils/src/pii.rs
  crates/connector_configs/Cargo.toml
  crates/connector_configs/src/response_modifier.rs
  crates/euclid/src/dssa/state_machine.rs
  crates/euclid/src/frontend/dir.rs
  crates/euclid_macros/src/inner/knowledge.rs
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/helcim/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/payeezy/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/placetopay/transformers.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/connector/prophetpay/transformers.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/tsys/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/services/encryption.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/integration_demo.rs
  crates/router/tests/refunds.rs
  crates/router_env/src/logger/storage.rs
  crates/test_utils/tests/connectors/selenium.rs
Labels: S-waiting-on-review, C-refactor

#3253 feat(connector): [BOA] Populate merchant_defined_information with metadata
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/bitpay.rs
  crates/router/tests/connectors/cashtocode.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/cryptopay.rs
  crates/router/tests/connectors/opennode.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
Labels: A-connector-compatibility, C-feature, S-waiting-on-review

#3140 feat(analytics): adding outgoing webhooks kafka event
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/analytics/docs/clickhouse/scripts/outgoing_webhook_events.sql
  crates/router/src/core/errors.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/events.rs
  crates/router/src/events/outgoing_webhook_logs.rs
  crates/router/src/services/kafka.rs
Labels: A-webhooks

#3210 feat: add deep health check
  crates/api_models/src/health_check.rs
  crates/api_models/src/lib.rs
  crates/router/src/consts.rs
  crates/router/src/db.rs
  crates/router/src/db/health_check.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/health.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/client.rs
  crates/storage_impl/src/errors.rs
Labels: C-feature, S-waiting-on-review

#3231 chore: address Rust 1.75 clippy lints
  crates/common_utils/src/request.rs
  crates/kgraph_utils/src/mca.rs
  crates/masking/src/diesel.rs
  crates/masking/src/serde.rs
  crates/redis_interface/src/lib.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/wise.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/dispute.rs
  crates/router/src/macros.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api/connector_onboarding/paypal.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/query.rs
  crates/router/src/utils.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/connectors/utils.rs
  crates/scheduler/src/consumer.rs
  crates/scheduler/src/producer.rs
Labels: A-dependencies, S-waiting-on-review

#3220 feat(merchant_account): Add list multiple merchants in `MerchantAccountInterface`
  crates/diesel_models/src/query/merchant_account.rs
  crates/diesel_models/src/query/merchant_key_store.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_key_store.rs
Labels: A-framework, C-feature

#3214 fix(connector): [NMI] Populating `ErrorResponse` with required fields and Mapping `connector_response_reference_id`
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-bug, C-refactor

#3119 fix(analytics): fixed response code to 501
  crates/analytics/src/api_event/core.rs
  crates/analytics/src/sdk_events/core.rs
  crates/analytics/src/types.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/services/api.rs
Labels: C-bug

#3222 refactor(euclid_wasm): Update wasm config
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/src/response_modifier.rs
  crates/connector_configs/src/transformer.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: S-waiting-on-approval, A-euclid-foc

#3256 fix(connector): [Stripe] Deserialization Error while parsing Dispute Webhook Body
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-bug

#3142 feat(payments): add payment id in all the payment logs
  crates/router/src/routes/payments.rs
Labels: A-core, C-feature

#3185 fix(router): multiple incremental_authorizations with kv enabled
  crates/diesel_models/src/payment_intent.rs
Labels: A-core, C-bug, S-waiting-on-review

#3242 refactor(api_lock): allow api lock on psync only when force sync is true
  crates/router/src/routes/payments.rs
Labels: A-core

#3169 feat(pm_list): add required fields for eps
  crates/api_models/src/payments.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  openapi/openapi_spec.json
  postman/collection-json/adyen_uk.postman_collection.json
  postman/collection-json/stripe.postman_collection.json
  postman/collection-json/trustpay.postman_collection.json
Labels: A-connector-compatibility, C-feature, S-waiting-on-review, M-api-contract-changes

#2975 fix(router): Payment link api contract change
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/consts.rs
  crates/data_models/src/payments.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/payment_link.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/consts.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link.html
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/db/payment_link.rs
  crates/router/src/macros.rs
  crates/router/src/openapi.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/payment_link.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2023-11-24-112541_add_payment_config_business_profile/down.sql
  migrations/2023-11-24-112541_add_payment_config_business_profile/up.sql
  migrations/2023-11-24-115538_add_profile_id_payment_link/down.sql
  migrations/2023-11-24-115538_add_profile_id_payment_link/up.sql
  migrations/2023-12-06-112810_add_intent_fullfilment_time_payment_intent/down.sql
  migrations/2023-12-06-112810_add_intent_fullfilment_time_payment_intent/up.sql
  migrations/2023-12-27-104559_business_profile_add_session_expiry/down.sql
  migrations/2023-12-27-104559_business_profile_add_session_expiry/up.sql
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, M-database-changes, M-api-contract-changes

#3279 ci(postman): Adyen assertion fix for expired card test case
  postman/collection-dir/adyen_uk/Flow Testcases/Variation Cases/Scenario1-Create payment with Invalid card details/Payments - Create(Invalid Exp month)/event.test.js
Labels: A-CI-CD, S-waiting-on-review

#3115 fix: introduce net_amount field in payment response
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2023-12-15-062816__net_amount_in_payment_attempt/down.sql
  migrations/2023-12-15-062816__net_amount_in_payment_attempt/up.sql
  openapi/openapi_spec.json
Labels: C-bug, S-waiting-on-review, M-database-changes, M-api-contract-changes

#3283 fix(connector): [BOA/CYB] Fix Metadata Error
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3239 fix(connector): [BOA, Cybersource] capture error_code
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, C-refactor

#3285 ci: add workflow to create stable SemVer tag for a given CalVer tag
  .github/workflows/release-stable-version.yml
Labels: A-CI-CD, C-feature

#3284 fix(wasm): fix failing `wasm-pack build` for `euclid_wasm`
  crates/cards/Cargo.toml
  crates/cards/src/validate.rs
Labels: C-bug, S-waiting-on-review

#3287 fix(connector): [BOA/CYB] Fix Metadata Error
  crates/router/src/connector/bankofamerica/transformers.rs
Labels: A-connector-integration, C-bug

#3289 fix(users): Added merchant name is list merchants
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/utils/user_role.rs
Labels: C-bug, S-waiting-on-review, A-users

#3294 fix(users): Added merchant name is list merchants
  crates/api_models/src/user.rs
  crates/diesel_models/src/query/merchant_account.rs
  crates/diesel_models/src/query/merchant_key_store.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/utils/user_role.rs
Labels: S-waiting-on-review, A-users

#3155 feat(Connector): [VOLT] Add support for Payments Webhooks
  crates/router/src/connector/volt.rs
  crates/router/src/connector/volt/transformers.rs
Labels: A-connector-integration, C-feature

#3246 refactor: pass customer object to `make_pm_data`
  crates/common_utils/src/pii.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/pm_auth.rs
  crates/router/tests/connectors/utils.rs
Labels: S-waiting-on-review, C-refactor

#3298 feat(connector): expand webhook event coverage stripe nmi
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/operations/payment_response.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes

#3183 feat(pm_list): add required fields for Ideal
  Cargo.lock
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
  postman/collection-json/adyen_uk.postman_collection.json
  postman/collection-json/stripe.postman_collection.json
  postman/collection-json/trustpay.postman_collection.json
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, M-api-contract-changes

#3288 fix(euclid_wasm): Update braintree config prod
  crates/connector_configs/toml/production.toml
Labels: S-waiting-on-review, A-euclid-foc

#3281 refactor: removed basilisk feature
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/Cargo.toml
  crates/router/src/configs/kms.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/services/api/client.rs
  loadtest/config/development.toml
Labels: S-waiting-on-review

#3300 refactor: removed basilisk feature
  crates/router/Cargo.toml
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/services/api/client.rs
Labels: S-waiting-on-review

#3259 chore: nits and small code improvements found during investigation of PR#3168
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/payment_methods/vault.rs
Labels: C-refactor

#3212 feat(core): add new payments webhook events
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/nmi.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/types/transformers.rs
  migrations/2023-12-28-063619_add_enum_types_to_EventType/down.sql
  migrations/2023-12-28-063619_add_enum_types_to_EventType/up.sql
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review

#3315 refactor(connector): [bluesnap] add connector_txn_id fallback for webhook
  crates/router/src/connector/bluesnap.rs
Labels: A-connector-integration, P-high, S-waiting-on-review, C-refactor

#3317 refactor(connector): [bluesnap] add connector_txn_id fallback for webhook
  crates/router/src/connector/bluesnap.rs
Labels: A-connector-integration, P-high, S-waiting-on-review, C-refactor

#3314 ci: use git commands for pushing commits and tags in nightly release workflows
  .github/workflows/release-nightly-version-reusable.yml
  .github/workflows/release-nightly-version.yml
Labels: A-CI-CD, C-bug

#3207 feat(payment_link): Added sdk layout option payment link
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/consts.rs
  crates/diesel_models/src/payment_intent.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link.html
  crates/router/src/macros.rs
  migrations/2023-11-24-112541_add_payment_config_business_profile/up.sql
  migrations/2023-11-24-115538_add_profile_id_payment_link/up.sql
  migrations/2023-12-06-112810_add_intent_fullfilment_time_payment_intent/down.sql
  migrations/2023-12-06-112810_add_intent_fullfilment_time_payment_intent/up.sql
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, M-api-contract-changes

#3318 fix(core): surcharge with saved card failure
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, S-waiting-on-review

#3116 refactor(router): flagged order_details validation to skip validation
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, S-waiting-on-review, C-refactor

#3234 fix(router): add config to avoid connector tokenization for `apple pay` `simplified flow`
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  loadtest/config/development.toml
Labels: A-core, C-bug, S-waiting-on-review, A-payment-methods

#3308 feat(connector): [BOA/Cyb] Include merchant metadata in capture and void requests
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
Labels: A-connector-integration, C-feature

#3100 refactor(router): restricted list payment method Customer to api-key based
  crates/api_models/src/payment_methods.rs
  crates/router/src/routes/payment_methods.rs
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, C-refactor, M-api-contract-changes

#3324 refactor(router): flagged order_details validation to skip validation
  crates/common_utils/src/request.rs
  crates/kgraph_utils/src/mca.rs
  crates/masking/src/diesel.rs
  crates/masking/src/serde.rs
  crates/redis_interface/src/lib.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/wise.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/dispute.rs
  crates/router/src/macros.rs
  crates/router/src/services/api.rs
  crates/router/src/types/api/connector_onboarding/paypal.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/query.rs
  crates/router/src/utils.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/connectors/utils.rs
  crates/scheduler/src/consumer.rs
  crates/scheduler/src/producer.rs
Labels: P-high, S-waiting-on-review, C-refactor

#3329 feat(euclid_wasm): config changes for NMI
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-feature

#3313 feat(connector): [BOA/Cyb] Include merchant metadata in capture and void requests
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
Labels: A-connector-integration, C-feature

#3328 feat(users): invite user without email
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/user.rs
Labels: C-feature, S-waiting-on-review, A-users

#3326 feat(connector): [Volt] Add support for refund webhooks
  crates/router/src/connector/volt.rs
  crates/router/src/connector/volt/transformers.rs
Labels: A-connector-integration, C-feature

#3056 feat(router): payment_method block
  crates/api_models/src/blocklist.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/payments.rs
  crates/cards/src/validate.rs
  crates/common_enums/src/enums.rs
  crates/data_models/src/errors.rs
  crates/data_models/src/payments.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/blocklist.rs
  crates/diesel_models/src/blocklist_fingerprint.rs
  crates/diesel_models/src/blocklist_lookup.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/blocklist.rs
  crates/diesel_models/src/query/blocklist_fingerprint.rs
  crates/diesel_models/src/query/blocklist_lookup.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/consts.rs
  crates/router/src/core.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/blocklist.rs
  crates/router/src/core/blocklist/transformers.rs
  crates/router/src/core/blocklist/utils.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db.rs
  crates/router/src/db/blocklist.rs
  crates/router/src/db/blocklist_fingerprint.rs
  crates/router/src/db/blocklist_lookup.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/blocklist.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/blocklist.rs
  crates/router/src/types/storage/blocklist_fingerprint.rs
  crates/router/src/types/storage/blocklist_lookup.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/errors.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2023-12-11-075542_create_pm_fingerprint_table/down.sql
  migrations/2023-12-11-075542_create_pm_fingerprint_table/up.sql
  migrations/2023-12-12-112941_create_pm_blocklist_table/down.sql
  migrations/2023-12-12-112941_create_pm_blocklist_table/up.sql
  migrations/2023-12-12-113330_add_fingerprint_id_in_payment_intent/down.sql
  migrations/2023-12-12-113330_add_fingerprint_id_in_payment_intent/up.sql
  migrations/2023-12-18-062613_create_blocklist_lookup_table/down.sql
  migrations/2023-12-18-062613_create_blocklist_lookup_table/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, M-api-contract-changes, R-waiting-on-L1, R-waiting-on-L2, A-payments

#3310 feat(outgoingwebhookevent): adding api for query to fetch outgoing webhook events log
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/outgoing_webhook_event.rs
  crates/analytics/src/outgoing_webhook_event/core.rs
  crates/analytics/src/outgoing_webhook_event/events.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/types.rs
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/outgoing_webhook_event.rs
  crates/api_models/src/events.rs
  crates/router/src/analytics.rs
  crates/router_env/src/lib.rs
Labels: A-Analytics

#3271 feat(connector): [BOA/CYB] Store AVS response in connector_metadata
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature

#3303 fix(refund): add merchant_connector_id in refund
  crates/api_models/src/refunds.rs
  crates/router/src/core/refunds.rs
  openapi/openapi_spec.json
Labels: C-bug, A-refunds

#3330 chore: remove connector auth TOML files from `.gitignore` and `.dockerignore`
  .dockerignore
  .gitignore
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/tests/sample_auth.toml
Labels: A-infra, C-bug, S-waiting-on-review

#3290 feat(connector): [cybersource] Implement 3DS flow for cards
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-configuration-changes

#3312 feat: add support for card extended bin in payment attempt
  crates/api_models/src/payments.rs
  crates/cards/src/validate.rs
  crates/router/src/core/payments/helpers.rs
Labels: C-feature, S-waiting-on-review

#3278 fix: update amount_capturable based on intent_status and payment flow
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/types.rs
Labels: C-bug, S-waiting-on-review

#3333 chore(config): add merchant_secret config for webhooks for cashtocode and volt in wasm dashboard
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, M-configuration-changes

#3336 chore: add api reference for blocklist
  crates/api_models/src/blocklist.rs
  crates/router/src/db/blocklist.rs
  crates/router/src/db/blocklist_fingerprint.rs
  crates/router/src/db/blocklist_lookup.rs
  crates/router/src/openapi.rs
  crates/router/src/routes/blocklist.rs
  openapi/openapi_spec.json
Labels: C-doc, C-refactor

#3229 fix(connector_onboarding): Check if connector exists for the merchant account and add reset tracking id API
  crates/api_models/src/connector_onboarding.rs
  crates/api_models/src/events/connector_onboarding.rs
  crates/router/src/consts.rs
  crates/router/src/core/connector_onboarding.rs
  crates/router/src/core/connector_onboarding/paypal.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/connector_onboarding.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/utils/connector_onboarding.rs
  crates/router_env/src/logger/types.rs
Labels: A-connector-compatibility, C-bug, S-waiting-on-review

#3332 fix(payment_link): added expires_on in payment response
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/transformers.rs
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, C-refactor

#3323 ci(s3): fetch connector creds from s3 for added security
  .github/secrets/connector_auth.toml.gpg
  .github/workflows/connector-ui-sanity-tests.yml
  .github/workflows/postman-collection-runner.yml
  scripts/decrypt_connector_auth.sh
Labels: A-CI-CD, C-feature, S-waiting-on-review

#3343 feat(connector): [BANKOFAMERICA] Implement 3DS flow for cards
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-feature

#3113 feat(payment_method): add capability to store bank details using /payment_methods endpoint
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payouts.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/wise.rs
  openapi/openapi_spec.json
Labels: C-feature, C-refactor

#3319 feat(connector_events): added api to fetch connector event logs
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/connector_events.rs
  crates/analytics/src/connector_events/core.rs
  crates/analytics/src/connector_events/events.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/types.rs
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/connector_events.rs
  crates/api_models/src/events.rs
  crates/router/src/analytics.rs
  crates/router_env/src/lib.rs
Labels: A-Analytics

#3354 refactor(connector): [cybersource] recurring mandate flow
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#3305 fix(core): add validation for authtype and metadata in update payment connector
  crates/router/src/core/admin.rs
Labels: A-core, C-bug, S-waiting-on-review

#3337 fix(events): fix event generation for paymentmethods list
  .github/CODEOWNERS
  crates/api_models/src/events.rs
  crates/api_models/src/events/payment.rs
Labels: C-bug

#3209 refactor: [Noon] adding new field max_amount to mandate request
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-integration, C-refactor

#3377 refactor(connector): [Volt] Refactor Payments and Refunds Webhooks
  crates/router/src/connector/volt.rs
  crates/router/src/connector/volt/transformers.rs
Labels: A-connector-integration, C-refactor

#3358 fix(user): fetch profile_id for sample data
  crates/router/src/utils/user/sample_data.rs
Labels: C-bug, A-users

#3255 fix(connector): Trustpay zen error mapping
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/zen/transformers.rs
Labels: A-connector-integration, C-refactor

#3189 fix(metrics): Add TASKS_ADDED_COUNT and TASKS_RESET_COUNT metrics in router scheduler flow
  crates/router/src/core/api_keys.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/workflows/api_key_expiry.rs
  crates/scheduler/src/metrics.rs
Labels: A-core, C-bug, S-waiting-on-review

#3373 feat(users): Add `preferred_merchant_id` column and update user details API
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/diesel_models/src/query/user_role.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
  migrations/2024-01-02-111223_users_preferred_merchant_column/down.sql
  migrations/2024-01-02-111223_users_preferred_merchant_column/up.sql
Labels: C-feature, S-waiting-on-review, A-users

#3385 feat(users): Added get role from jwt api
  crates/api_models/src/user_role.rs
  crates/router/src/core/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user_role.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#3381 refactor(recon): update recipient email and mail body for ProFeatureRequest
  crates/router/src/routes/recon.rs
  crates/router/src/services/email/types.rs
Labels: C-bug, C-refactor

#3376 ci(pr-convention-checks): add job to check for linked issues for pull requests
  .github/workflows/conventional-commit-check.yml
  .github/workflows/pr-convention-checks.yml
Labels: A-CI-CD, C-feature, S-waiting-on-review

#3341 refactor: rename `s3` feature flag to `aws_s3`
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core/files.rs
  crates/router/src/core/files/helpers.rs
Labels: S-waiting-on-review, C-refactor

#3402 fix(connector): [CRYPTOPAY] Fix header generation for PSYNC
  crates/router/src/connector/cryptopay.rs
Labels: A-connector-integration, C-bug

#3365 feat(user_roles): Add accept invitation API and `UserJWTAuth`
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#3405 docs: add link to api docs
  README.md
Labels: C-doc

#3425 feat(compatibility): add multiuse mandates support in stripe compatibility
  crates/router/src/compatibility/stripe/payment_intents/types.rs
Labels: A-connector-integration, C-feature

#3430 ci(postman): Fix session call in Stripe collection
  postman/collection-dir/adyen_uk/Flow Testcases/QuickStart/Payment Connector - Create/request.json
  postman/collection-dir/hyperswitch/Hackathon/QuickStart/Payment Connector - Create/request.json
  postman/collection-dir/hyperswitch/QuickStart/Payment Connector - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/QuickStart/Payment Connector - Create/request.json
  postman/collection-dir/stripe/QuickStart/Payment Connector - Create/request.json
  postman/collection-dir/stripe/QuickStart/Payment Connector - Update/request.json
  postman/collection-dir/wise/Flow Testcases/QuickStart/Payout Connector - Create/request.json
Labels: A-CI-CD, C-test

#3297 feat(hashicorp): implement hashicorp secrets manager solution
  .typos.toml
  Cargo.lock
  Makefile
  crates/drainer/Cargo.toml
  crates/drainer/src/connection.rs
  crates/drainer/src/services.rs
  crates/drainer/src/settings.rs
  crates/external_services/Cargo.toml
  crates/external_services/src/hashicorp_vault.rs
  crates/external_services/src/hashicorp_vault/decrypt.rs
  crates/external_services/src/kms.rs
  crates/external_services/src/lib.rs
  crates/router/Cargo.toml
  crates/router/src/configs.rs
  crates/router/src/configs/hc_vault.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/currency.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/services.rs
  crates/router/src/services/authentication.rs
  crates/router/src/utils/currency.rs
  crates/router_env/Cargo.toml
Labels: A-core, M-configuration-changes, A-drainer, A-currency-conversion

#3397 chore(ckh-source): updated ckh analytics source tables
  crates/analytics/src/clickhouse.rs
Labels: A-Analytics

#3436 Refactor(compatibility): revert add multiuse mandates support in stripe compatibility
  crates/router/src/compatibility/stripe/payment_intents/types.rs
Labels: A-connector-compatibility, A-connector-integration, C-feature

#3435 Refactor(Router): [Noon] revert adding new field max_amount to mandate request
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-feature

#3265 refactor(configs): add configs for deployments to environments
  config/config.example.toml
  config/deployments/README.md
  config/deployments/drainer.toml
  config/deployments/env_specific.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/deployments/scheduler/consumer.toml
  config/deployments/scheduler/producer.toml
Labels: A-dependencies, S-waiting-on-review

#3392 fix(euclid_wasm): include `payouts` feature in `default` features
  crates/euclid_wasm/Cargo.toml
Labels: S-waiting-on-review, A-euclid-foc

#2409 refactor(connector): [Iatapay] refactor authorize flow and fix payment status mapping
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-integration, S-waiting-on-author, C-refactor

#3374 feat(user): add support to delete user
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/user_role.rs
  crates/diesel_models/src/query/dashboard_metadata.rs
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/dashboard_metadata.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/services/authorization/predefined_permissions.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes, A-users

#3363 fix(core): return surcharge in payment method list response if passed in create request
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
Labels: C-bug

#3236 feat(connector): [Adyen] Add support for PIX Payment Method
  crates/api_models/src/payments.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature

#3417 feat(core): [CYBERSOURCE] Add original authorized amount in router data
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#3437 feat(logging): add a logging middleware to log all api requests
  crates/drainer/src/query.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/lib.rs
  crates/router/src/middleware.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/api.rs
  crates/router_env/src/logger/storage.rs
  docker-compose-development.yml
  docker-compose.yml
Labels: A-framework, A-core, C-feature

#3388 feat(core): Add outgoing webhook for manual `partial_capture` events
  crates/router/src/utils.rs
Labels: A-core, C-feature, A-webhooks

#3168 fix(connector): Use `ConnectorError::InvalidConnectorConfig` for an invalid `CoinbaseConnectorMeta`
  crates/router/src/connector/coinbase/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/admin.rs
Labels: A-connector-integration, C-bug, S-waiting-on-author, C-refactor

#3453 fix(connector): fix connector template script
  connector-template/mod.rs
Labels: A-connector-integration, C-bug

#3458 fix(connector): [HELCIM] Handle 4XX Errors
  crates/router/src/connector/helcim.rs
  crates/router/src/connector/helcim/transformers.rs
Labels: A-connector-integration, C-bug

#3459 refactor(core): Add killswitch for blocklist feature
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, S-waiting-on-review, C-refactor, R-waiting-on-L1, R-waiting-on-L2

#3422 feat(user): support multiple invites
  crates/api_models/src/user.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
Labels: S-waiting-on-review, M-api-contract-changes, R-waiting-on-L1, A-users

#3451 ci: update `create-hotfix-tag` and `create-hotfix-branch` workflows to handle CalVer tags
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/create-hotfix-tag.yml
  .github/workflows/release-nightly-version-reusable.yml
Labels: A-CI-CD, S-waiting-on-review

#3429 refactor(payouts): Propagate `Not Implemented` error
  crates/router/src/connector/wise.rs
  crates/router/src/core/errors/utils.rs
Labels: A-core, C-refactor

#3461 chore(configs): [Cashtocode] wasm changes for CAD, CHF currency
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, S-waiting-on-review, M-configuration-changes

#1871 refactor(connector): use utility function to raise payment method not implemented errors
  crates/router/src/connector/boku/transformers.rs
  crates/router/src/connector/globepay/transformers.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor, ageing >2weeks

#3463 ci: fix `create-hot-fix-tag` workflow to filter for `CalVer` tags
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/create-hotfix-tag.yml
Labels: A-CI-CD, S-waiting-on-review

#3414 feat(router): add request_details logger middleware for 400 bad requests
  crates/router/Cargo.toml
  crates/router/src/lib.rs
  crates/router/src/middleware.rs
Labels: A-core, C-feature, S-waiting-on-review

#3470 chore(configs): [NMI] add wasm changes for prod dashboard
  crates/connector_configs/toml/production.toml
Labels: A-connector-integration, S-waiting-on-review, M-configuration-changes

#3452 feat(core): update card_details for an existing mandate
  crates/api_models/src/payments.rs
  crates/data_models/src/mandates.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/mandate.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/mandate/helpers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/mandate.rs
  crates/router/src/services/api.rs
  crates/router/src/types/transformers.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review

#3420 feat(users): Signin and Verify Email changes for User Invitation changes
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/errors/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes, A-users

#3393 chore(analytics): adding status code to connector Kafka events
  crates/router/src/events/connector_api_logs.rs
  crates/router/src/services/api.rs
Labels: A-Analytics

#3348 refactor: add support for extending file storage to other schemes and provide a runtime flag for the same
  Cargo.lock
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/external_services/Cargo.toml
  crates/external_services/src/file_storage.rs
  crates/external_services/src/file_storage/aws_s3.rs
  crates/external_services/src/file_storage/file_system.rs
  crates/external_services/src/lib.rs
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core/files.rs
  crates/router/src/core/files/fs_utils.rs
  crates/router/src/core/files/helpers.rs
  crates/router/src/core/files/s3_utils.rs
  crates/router/src/routes/app.rs
  docker-compose.yml
Labels: S-waiting-on-review, C-refactor

#3104 refactor(settings): make the function to deserialize hashsets more generic
  Cargo.lock
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/enums.rs
  crates/currency_conversion/Cargo.toml
  crates/currency_conversion/src/types.rs
  crates/kgraph_utils/src/transformers.rs
  crates/router/src/configs/settings.rs
  openapi/openapi_spec.json
Labels: A-framework, S-waiting-on-review, C-refactor

#3192 feat(pm_list): add required fields for sofort
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
Labels: A-connector-compatibility, A-connector-integration, C-feature, S-waiting-on-review, M-api-contract-changes

#3331 feat(connector): [Bluesnap] Metadata to connector metadata mapping
  crates/router/src/connector/bluesnap/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-feature, S-waiting-on-review

#3410 refactor(payment_link): segregated payment link in html css js files, sdk over flow issue, surcharge bug, block SPM customer call for payment link
  crates/api_models/src/payments.rs
  crates/common_utils/src/consts.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.css
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payment_link/payment_link_status/status.css
  crates/router/src/core/payment_link/payment_link_status/status.html
  crates/router/src/core/payment_link/payment_link_status/status.js
  crates/router/src/core/payment_link/status.html
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_link.rs
  crates/router/src/services/api.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, C-bug, C-refactor

#3295 feat(connector): [Stripe] Metadata to connector metadata mapping
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
Labels: A-connector-compatibility, A-connector-integration, C-feature, S-waiting-on-review

#3235 refactor(core): restrict requires_customer_action in confirm
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_method_validate.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/webhooks.rs
Labels: A-core, S-waiting-on-review

#3487 feat(connector): [noon] add revoke mandate
  crates/router/src/connector/noon.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#3498 chore(config): [ADYEN] Add configs for PIX in WASM
  config/deployments/sandbox.toml
  config/development.toml
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, M-configuration-changes

#3485 fix(connector): [BOA/Cybersource] Handle Invalid Api Secret
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3462 fix(user): change permission for sample data
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user_role.rs
  crates/router_env/src/logger/types.rs
Labels: C-bug, S-waiting-on-review, A-users

#3471 fix(connector): [Trustpay] add merchant_id in gpay session response for trustpay
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#3499 ci: add test cases for restricting customer action in confirm flow
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Confirm a payment with requires_customer_action status/.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Confirm a payment with requires_customer_action status/Payments - Confirm/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Confirm a payment with requires_customer_action status/Payments - Confirm/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Confirm a payment with requires_customer_action status/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Confirm a payment with requires_customer_action status/Payments - Confirm/response.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Confirm a payment with requires_customer_action status/Payments - Create with confirm true/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Confirm a payment with requires_customer_action status/Payments - Create with confirm true/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Confirm a payment with requires_customer_action status/Payments - Create with confirm true/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Confirm a payment with requires_customer_action status/Payments - Create with confirm true/response.json
Labels: C-test

#3469 feat(users): Added blacklist for users
  crates/router/src/analytics.rs
  crates/router/src/consts.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authentication/blacklist.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#3438 feat: add deep health check for analytics
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/health_check.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/sqlx.rs
  crates/api_models/Cargo.toml
  crates/api_models/src/health_check.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/health_check.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/db.rs
  crates/router/src/db/health_check.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/health.rs
  crates/router/src/routes/lock_utils.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/errors.rs
Labels: S-waiting-on-review, A-Analytics

#3196 feat(pm_list): add required fields for google pay
  crates/router/src/configs/defaults.rs
Labels: A-connector-compatibility, A-connector-integration, C-feature, S-waiting-on-review

#3415 fix(configs): Add configs for Payme 3DS
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
Labels: A-connector-integration, C-bug

#2848 refactor(connector): [NMI] change error message from not supported to not implemented
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue

#3424 chore(connector_events_fields): added refund_id, dispute_id to connector events
  crates/analytics/docs/clickhouse/scripts/connector_events.sql
  crates/analytics/src/connector_events/events.rs
  crates/api_models/src/analytics/connector_events.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/events/connector_api_logs.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
Labels: A-Analytics

#2877 refactor(connector): [Paypal] Change error message from NotSupported to NotImplemented
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#3506 refactor(connector): [Adyen] change expiresAt time from string to unixtimestamp
  crates/api_models/src/payments.rs
  crates/common_utils/src/custom_serde.rs
  crates/router/src/connector/adyen/transformers.rs
  openapi/openapi_spec.json
Labels: A-connector-integration, C-refactor, M-api-contract-changes
