Repository juspay/hyperswitch, pull requests merged in 2024-04, with the labels that each got.

#4213 refactor(core): removed the processing status for payment_method_status
  crates/common_enums/src/enums.rs
Labels: A-core

#4237 feat: return customer details in payments response body
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review, M-api-contract-changes

#4245 feat(connector): [billwerk] implement payment and refund flows
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/billwerk.rs
  crates/router/src/connector/billwerk/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
Labels: A-connector-integration, C-feature, M-configuration-changes

#4268 build(deps): update dependencies
  Cargo.lock
  crates/analytics/Cargo.toml
  crates/analytics/src/sqlx.rs
  crates/api_models/Cargo.toml
  crates/api_models/src/conditional_configs.rs
  crates/api_models/src/enums.rs
  crates/cards/Cargo.toml
  crates/common_enums/Cargo.toml
  crates/common_enums/src/enums.rs
  crates/common_utils/Cargo.toml
  crates/config_importer/Cargo.toml
  crates/connector_configs/Cargo.toml
  crates/currency_conversion/Cargo.toml
  crates/data_models/Cargo.toml
  crates/diesel_models/Cargo.toml
  crates/drainer/Cargo.toml
  crates/euclid/Cargo.toml
  crates/euclid/src/enums.rs
  crates/euclid/src/frontend/dir.rs
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/types.rs
  crates/euclid_macros/Cargo.toml
  crates/euclid_wasm/Cargo.toml
  crates/external_services/Cargo.toml
  crates/hyperswitch_interfaces/Cargo.toml
  crates/kgraph_utils/Cargo.toml
  crates/masking/Cargo.toml
  crates/openapi/Cargo.toml
  crates/pm_auth/Cargo.toml
  crates/redis_interface/Cargo.toml
  crates/router/Cargo.toml
  crates/router/src/types/domain/user.rs
  crates/router/src/utils.rs
  crates/router_derive/Cargo.toml
  crates/router_env/Cargo.toml
  crates/scheduler/Cargo.toml
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/errors.rs
  crates/test_utils/Cargo.toml
  crates/test_utils/tests/connectors/adyen_uk_wh_ui.rs
  crates/test_utils/tests/connectors/authorizedotnet_wh_ui.rs
  crates/test_utils/tests/connectors/bluesnap_wh_ui.rs
  crates/test_utils/tests/connectors/checkout_wh_ui.rs
  crates/test_utils/tests/connectors/stripe_wh_ui.rs
  docker/wasm-build.Dockerfile
  openapi/openapi_spec.json
Labels: A-dependencies

#4265 refactor(postman): Paypal test cases for Capture
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario11-Create Partial Capture payment/Payments - Capture/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario11-Create Partial Capture payment/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture with confirm false/Payments - Capture/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture with confirm false/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Capture/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Retrieve/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Capture/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario8-Create payment with Manual capture with confirm false and surcharge_data/Payments - Retrieve/event.test.js
  postman/collection-json/paypal.postman_collection.json
Labels: A-connector-integration, C-refactor

#4270 feat(payment_link): Add payment info metadata to payment link
  crates/api_models/src/payments.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/services/api.rs
Labels: A-core, C-feature, S-waiting-on-review

#4232 feat(router): [BOA] implement mandates for cards and wallets
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/utils.rs
  loadtest/config/development.toml
Labels: A-connector-compatibility, A-connector-integration, C-feature

#4272 fix(connector): [Cryptopay]fix redirection for cryptopay
  crates/router/src/connector/cryptopay/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#4279 fix(connector): [Cryptopay]fix redirection for cryptopay
  crates/router/src/connector/cryptopay/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#4281 refactor(connector): [Stripe] fix mandate flow
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-refactor

#4230 refactor(payout): Handle saving wallet in temp locker
  crates/router/src/core/payment_methods/vault.rs
Labels: A-core, C-refactor

#3963 feat(api): add browser information in payments response
  crates/api_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/utils.rs
  crates/router/src/workflows/payment_sync.rs
  openapi/openapi_spec.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/request.json
  postman/collection-json/stripe.postman_collection.json
Labels: S-waiting-on-review, M-api-contract-changes

#4160 refactor(payment_methods): add Wallets payment method data to new domain type to be used in connector module
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/airwallex/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/boku/transformers.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/dummyconnector/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/globepay/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/payu/transformers.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/square/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/types/domain/payments.rs
  crates/router/tests/connectors/payu.rs
  crates/router/tests/connectors/worldpay.rs
Labels: A-connector-integration, C-refactor

#4005 refactor(payment_methods): add `network_transaction_id` column in the `payment_methods` table
  config/deployments/integration_test.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/db/payment_method.rs
  loadtest/config/development.toml
  migrations/2024-03-07-102620_add-network-transaction-id/down.sql
  migrations/2024-03-07-102620_add-network-transaction-id/up.sql
Labels: S-waiting-on-review, M-database-changes, M-configuration-changes, A-payment-methods, C-refactor

#4287 refactor: fix typos in stripe transformers
  crates/router/src/connector/stripe/transformers.rs
Labels: S-waiting-on-review, C-refactor

#4263 refactor(mandates): add validations for recurring mandates using payment_method_id
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: C-refactor, A-mandates

#4025 feat(router): Create a merchant config for enable processor agnostic MIT
  crates/api_models/src/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/routing.rs
  crates/router_env/src/logger/types.rs
Labels: S-waiting-on-review, M-configuration-changes, A-routing

#4289 refactor(core): locker call made synchronous for updation of pm_id
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
Labels: A-core, C-refactor

#4211 feat(payout-events): add kafka events for payout analytics
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/analytics/docs/clickhouse/scripts/payouts.sql
  crates/router/src/db/kafka_store.rs
  crates/router/src/events.rs
  crates/router/src/services/kafka.rs
  crates/router/src/services/kafka/payout.rs
Labels: A-Analytics

#4124 refactor(connector): [Multisafepay] handle authorize and psync 2xx failure error response
  crates/router/src/connector/multisafepay.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug

#4041 feat(router): store `network_reference_id` against the `payment_method_id` in the `payment_method_table`
  crates/diesel_models/src/payment_method.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
Labels: A-core, A-payment-methods, A-payments

#4176 feat(webhooks): allow manually retrying delivery of outgoing webhooks
  crates/api_models/src/user_role.rs
  crates/api_models/src/webhook_events.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/webhook_events.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/webhook_events.rs
  crates/router/src/services/authorization/permission_groups.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/types/api/webhook_events.rs
  crates/router/src/utils/user_role.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router_env/src/logger/types.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-api-contract-changes, A-webhooks

#4296 refactor(core): log the appropriate error message if the card fails to get saved in locker
  crates/router/src/core/payments/flows/authorize_flow.rs
Labels: A-core, S-waiting-on-review, C-refactor

#4113 feat(router): Use `NTID` in `MIT` payments if the `pg_agnostic_mit` config is enabled
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-core, A-payment-methods, A-payments

#4300 refactor(connector): add support for GooglePay recurring payments
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-refactor

#4280 fix(payouts): persist status updates in payouts table
  crates/api_models/src/payouts.rs
  crates/data_models/src/payouts/payouts.rs
  crates/diesel_models/src/payouts.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/payouts.rs
  crates/storage_impl/src/mock_db/payouts.rs
  crates/storage_impl/src/payouts/payouts.rs
  openapi/openapi_spec.json
Labels: C-bug

#4193 feat(router): add NTID flow for cybersource
  crates/router/src/connector/cybersource/transformers.rs
Labels: C-feature

#4298 feat(users): Implemented cookie parsing for auth
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authentication/cookies.rs
Labels: S-waiting-on-review, A-users

#4303 fix(redis_interface): remove mget function from redis interface
  crates/redis_interface/src/commands.rs
Labels: C-bug, S-waiting-on-review

#4318 fix(mandates): store network transaction id only when `pg_agnostic` config is enabled in the `authorize_flow`
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/approve_flow.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/incremental_authorization_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/reject_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, S-waiting-on-review, A-payment-methods, A-mandates

#4141 feat(connector): [Ebanx] Template for ebanx payout
  config/config.example.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/ebanx.rs
  crates/router/src/connector/ebanx/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/tests/connectors/ebanx.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#4321 fix(psync): log the error if payment method retrieve fails in the `psync flow`
  crates/router/src/core/payments/operations/payment_status.rs
Labels: A-core, C-bug, A-payment-methods

#4175 refactor(payment_methods): add BankRedirect payment method data to new domain type to be used in connector module
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/volt/transformers.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/types/domain/payments.rs
Labels: A-connector-integration, C-refactor

#4239 refactor(card): use `billing.first_name` instead of `card_holder_name`
  config/development.toml
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/bambora/transformers.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/dlocal/transformers.rs
  crates/router/src/connector/dummyconnector/transformers.rs
  crates/router/src/connector/forte/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/opayo/transformers.rs
  crates/router/src/connector/payeezy/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/domain/payments.rs
  crates/router/src/utils/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/airwallex.rs
  crates/router/tests/connectors/authorizedotnet.rs
  crates/router/tests/connectors/bluesnap.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/rapyd.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
Labels: S-waiting-on-review

#4332 refactor(connector): [Ebanx] Add base_url to Integ Environment
  config/deployments/integration_test.toml
Labels: A-connector-integration, C-refactor

#4264 feat(payouts): add kafka events
  config/config.example.toml
  config/deployments/env_specific.toml
  crates/analytics/docs/clickhouse/scripts/payouts.sql
  crates/data_models/src/payouts/payout_attempt.rs
  crates/data_models/src/payouts/payouts.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/retry.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/events.rs
  crates/router/src/services/kafka.rs
  crates/router/src/services/kafka/payout.rs
  crates/storage_impl/src/mock_db/payout_attempt.rs
  crates/storage_impl/src/mock_db/payouts.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
  crates/storage_impl/src/payouts/payouts.rs
Labels: A-Analytics

#4234 refactor(payment_methods): add some payment method data to new domain type to be used in connector module
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/types/domain/payments.rs
  crates/router/tests/connectors/bitpay.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/cryptopay.rs
  crates/router/tests/connectors/opennode.rs
Labels: A-connector-integration, C-refactor

#4326 feat(users): Add role specific fields for list merchants API
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
Labels: C-feature, S-waiting-on-review, A-users

#4308 fix(mandate): add validation for currency in MIT recurring payments
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_create.rs
Labels: C-bug, S-waiting-on-review, A-mandates

#4335 feat(router): add `ApiKeyAuth` support for `upsert_connector_agnostic_mandate_config`
  crates/router/src/routes/routing.rs
Labels: A-core, M-api-contract-changes

#4115 feat(events): Add events framework for registering events
  Cargo.lock
  crates/events/Cargo.toml
  crates/events/src/lib.rs
  crates/router/Cargo.toml
  crates/router/src/analytics.rs
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/connector_onboarding.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/core/user/sample_data.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/events.rs
  crates/router/src/events/audit_events.rs
  crates/router/src/events/event_logger.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/blocklist.rs
  crates/router/src/routes/cache.rs
  crates/router/src/routes/cards_info.rs
  crates/router/src/routes/configs.rs
  crates/router/src/routes/currency.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/dummy_connector.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/files.rs
  crates/router/src/routes/fraud_check.rs
  crates/router/src/routes/gsm.rs
  crates/router/src/routes/health.rs
  crates/router/src/routes/locker_migration.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_link.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/pm_auth.rs
  crates/router/src/routes/recon.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/routing.rs
  crates/router/src/routes/user.rs
  crates/router/src/routes/user_role.rs
  crates/router/src/routes/verification.rs
  crates/router/src/routes/verify_connector.rs
  crates/router/src/routes/webhook_events.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/services/api.rs
  crates/router/src/services/kafka.rs
Labels: A-framework, A-Analytics

#4285 feat(connector): [ZSL] add connector template code
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/zsl.rs
  crates/router/src/connector/zsl/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/ebanx.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/zsl.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, M-configuration-changes

#4331 fix(connectors): Amount received should be zero for `pending` and `failed` status
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Capture/event.test.js
  postman/collection-dir/paypal/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Capture/event.test.js
  postman/collection-json/adyen_uk.postman_collection.json
  postman/collection-json/paypal.postman_collection.json
Labels: A-connector-integration, C-bug

#4125 fix(compatibility): generate payment_id if not sent
  crates/router/src/compatibility/stripe/payment_intents.rs
Labels: A-core, S-waiting-on-review

#4311 feat(payment_methods): added kv support for payment_methods table
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/query/payment_method.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/address.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/db/refund.rs
  crates/router/src/db/reverse_lookup.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/mandates.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/lookup.rs
  crates/storage_impl/src/payment_method.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
  crates/storage_impl/src/payouts/payouts.rs
  crates/storage_impl/src/redis/kv_store.rs
Labels: A-core, S-waiting-on-review

#4238 refactor(payment_methods): add BankDebit payment method data to new domain type to be used in connector module
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/gocardless/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/square/transformers.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/types/domain/payments.rs
Labels: A-connector-integration, C-refactor

#4328 feat(router): add support for accepting an existing `payment_method_id` as the `payment_method_data` in `/payments` request
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-feature, A-payment-methods, A-payments

#4341 fix(payouts): update payout's state in app after DB operations
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
Labels: C-bug, S-waiting-on-review

#4342 feat(core): create mandates with payment_token
  crates/router/src/core/mandate/helpers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payouts/helpers.rs
Labels: A-core, S-waiting-on-review, A-payments

#4260 refactor(payment_methods): add BankTransfer payment method data to new domain type to be used in connector module
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/connector/zsl/transformers.rs
  crates/router/src/types/domain/payments.rs
Labels: A-connector-integration, C-refactor

#4344 fix(connector): [ZSL] Add base_url to Environments
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
Labels: A-connector-integration, C-bug

#4347 fix(router): capture billing country in payments request
  crates/router/src/connector/zsl/transformers.rs
  crates/router/src/types/transformers.rs
Labels: A-connector-integration, C-bug

#4355 refactor(router): change stack size
  crates/router/build.rs
Labels: C-refactor

#4356 fix(logger): use specified log level only for first-party crates
  crates/router_env/src/logger/setup.rs
Labels: A-framework, C-refactor

#4346 chore(configs): [Zsl] Add configs for wasm
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, M-configuration-changes

#4236 feat(router): add `merchant_business_country` field in apple pay `session_token_data`
  crates/api_models/src/payments.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/core/payments/flows/session_flow.rs
  openapi/openapi_spec.json
Labels: A-core, S-waiting-on-review, A-payment-methods

#4166 feat(events): Add payment cancel events
  crates/analytics/src/lib.rs
  crates/data_models/src/payments.rs
  crates/events/Cargo.toml
  crates/events/src/actix.rs
  crates/events/src/lib.rs
  crates/router/src/analytics.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/events/audit_events.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/router_env/src/lib.rs
Labels: A-framework, A-Analytics

#4360 fix(address): use first_name if last_name is not passed
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/forte/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/volt/transformers.rs
Labels: C-bug, S-waiting-on-review

#4367 fix(address): use first_name if last_name is not passed
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/forte/transformers.rs
  crates/router/src/connector/multisafepay/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/volt/transformers.rs
Labels: C-bug, S-waiting-on-review

#4174 feat(payments): get new filters for payments list
  crates/api_models/src/admin.rs
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/router/src/core/payments.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api/payments.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, R-waiting-on-L1, A-payments, A-users

#4293 feat(connector): integrate netcetera connector with pre authentication flow
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/common_utils/src/types.rs
  crates/connector_configs/src/connector.rs
  crates/diesel_models/src/authentication.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/netcetera.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/connector/square/transformers.rs
  crates/router/src/connector/threedsecureio.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/authentication.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/netcetera.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-waiting-on-review

#4339 feat(router): add external authentication webhooks flow
  crates/api_models/src/webhooks.rs
  crates/diesel_models/src/authentication.rs
  crates/diesel_models/src/query/authentication.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/types.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/db/authentication.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/src/utils.rs
  migrations/2024-04-03-090257_add_profile_id_in_authentication_table/down.sql
  migrations/2024-04-03-090257_add_profile_id_in_authentication_table/up.sql
  migrations/2024-04-04-080427_add_payment_id_in_authentication_table/down.sql
  migrations/2024-04-04-080427_add_payment_id_in_authentication_table/up.sql
  migrations/2024-04-15-101918_add_merchant_connector_id_in_authentication_table/down.sql
  migrations/2024-04-15-101918_add_merchant_connector_id_in_authentication_table/up.sql
Labels: A-core, C-feature

#4349 feat(pm_list): add dynamic fields for local bank transfer
  crates/router/src/configs/defaults.rs
Labels: A-connector-compatibility, A-connector-integration

#4363 feat(payment_link): added display_sdk_only option for displaying only sdk without payment details
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/consts.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-api-contract-changes

#4305 refactor(payment_methods): revamp payment methods update endpoint
  crates/api_models/src/payment_methods.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication.rs
  openapi/openapi_spec.json
Labels: S-waiting-on-review, A-payment-methods, C-refactor

#4358 feat(router): add retrieve poll status api
  crates/api_models/src/lib.rs
  crates/api_models/src/poll.rs
  crates/common_utils/src/events.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes.rs
  crates/openapi/src/routes/poll.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/poll.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/poll.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/poll.rs
  crates/router_env/src/logger/types.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature

#4390 fix(router): make payment_instrument optional
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#4323 fix(core): fix 3DS mandates, for the connector _mandate_details to be stored in the payment_methods table
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, C-bug, A-payment-methods

#4376 feat(router): [BOA/CYBS] add avs_response and cvv validation result in the response
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#4353 fix(user): add onboarding_survey enum in dashboard metadata type
  crates/api_models/src/user/dashboard_metadata.rs
  crates/diesel_models/src/enums.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/types/domain/user/dashboard_metadata.rs
  crates/router/src/utils/user/dashboard_metadata.rs
  migrations/2024-04-12-100908_add_dashboard_metadata_key_onboarding_survey/down.sql
  migrations/2024-04-12-100908_add_dashboard_metadata_key_onboarding_survey/up.sql
Labels: M-database-changes, A-users

#4134 feat(payment_methods): Client secret implementation in payment method…
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/schema.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/api/mandates.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
  migrations/2024-03-15-133951_pm-client-secret/down.sql
  migrations/2024-03-15-133951_pm-client-secret/up.sql
  openapi/openapi_spec.json
Labels: C-feature, M-database-changes, A-payment-methods

#4407 fix(connectors): Mask fields for webhook_resource_object
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, A-core, C-bug

#4329 refactor(wallet): use `billing.phone` instead of `telephone_number`
  crates/api_models/src/payments.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/types/domain/payments.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
Labels: A-connector-compatibility

#4422 feat(euclied_wasm): [NMI] Add configs for extended 3DS
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-feature

#4426 chore: add wasm toml configs for netcetera authnetication connector
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-dependencies, S-waiting-on-review

#4393 feat(router): add poll ability in external 3ds authorization flow
  crates/openapi/src/routes/poll.rs
  crates/redis_interface/src/commands.rs
  crates/router/src/consts.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/poll.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/routes/poll.rs
  crates/router/src/types.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature

#4433 chore(configs): add wasm changes for pull_mechanism_enabled config for 3dsecureio connector
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-core, C-feature

#4435 refactor(router): enable saved payment method for payment link bug fix
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, C-bug, S-waiting-on-review

#4440 feat(router): [BOA/CYBS] add avs_response and cvv validation result in the response
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature, P-high

#4428 fix(user): blacklist token after delete user role
  crates/diesel_models/src/query/user_role.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
Labels: C-bug, S-waiting-on-review, A-users

#4334 feat(connector): implement authentication flow for netcetera
  config/deployments/production.toml
  crates/common_enums/src/enums.rs
  crates/common_utils/src/lib.rs
  crates/router/src/connector/netcetera.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/authentication/types.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#4436 fix(masking): mask email while logging SQL query
  crates/diesel_models/src/query/user.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user.rs
  crates/router/src/services/email/types.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
Labels: A-core, S-waiting-on-review

#4382 feat(connector): add webhook support for netcetera
  crates/router/src/connector/netcetera.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/types/api/webhooks.rs
  crates/router/src/types/authentication.rs
Labels: C-feature, S-waiting-on-review

#4438 fix(routing/tests): fix unit tests for routing
  crates/euclid/src/dssa/analyzer.rs
  crates/euclid/src/frontend/dir.rs
  crates/kgraph_utils/src/mca.rs
Labels: C-bug, S-waiting-on-review, C-test, A-routing

#4452 feat(router): handle authorize redirection after webhook processing for external 3ds flow
  crates/router/src/core/authentication.rs
  crates/router/src/core/payments.rs
Labels: A-core, C-feature

#4451 fix(connector): [CYBERSOURCE] Handle HTML Error Response and add Descriptor field in ApplePay payments request
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#4361 refactor(voucher): remove billing details from voucher pmd
  crates/api_models/src/payments.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/types/domain/payments.rs
  openapi/openapi_spec.json
Labels: A-connector-compatibility, A-connector-integration, M-api-contract-changes

#4375 feat(core): [Payouts] Add access_token flow for Payout Create and Fulfill flow
  crates/api_models/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/access_token.rs
  crates/router/src/core/payouts/retry.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature

#4374 refactor(connector): pass optional browser_info to stripe for increased trust
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-feature

#4307 Refactor(core): make save_payment_method as post_update_tracker trait function
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/approve_flow.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/incremental_authorization_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/reject_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/tokenization.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, C-refactor

#4380 docs(cypress): Update Cypress README Documentation
  cypress-tests/readme.md
Labels: C-doc, C-test

#4459 ci(postman): Fix Adyen postman collection
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario14-Refund recurring payment/Payments - Create/request.json
Labels: A-CI-CD

#4457 docs: add documentation page for building Docker images
  .github/PULL_REQUEST_TEMPLATE.md
  docs/building_docker_images.md
Labels: C-doc, S-waiting-on-review

#4458 refactor(configs): add comments to configs for deployments to environments
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
Labels: S-waiting-on-review

#4462 refactor(access_token): use `merchant_connector_id` for storing access token
  crates/common_utils/src/access_token.rs
  crates/common_utils/src/lib.rs
  crates/router/src/core/payments/access_token.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_connector_account.rs
Labels: S-waiting-on-review, C-refactor

#4258 refactor(required_fields): change required fields for billing address
  crates/router/src/configs/defaults.rs
Labels: S-waiting-on-review, A-payment-methods

#4313 refactor(scheduler): join frequency and count in `RetryMapping`
  crates/router/src/workflows/payment_sync.rs
  crates/scheduler/src/consumer/types/process_data.rs
  crates/scheduler/src/utils.rs
Labels: A-core, C-refactor

#4434 feat(users): use cookie for auth
  crates/router/src/services/authentication.rs
Labels: C-feature, S-waiting-on-review, A-users

#4468 feat(connector): [CRYPTOPAY] Report underpaid/overpaid amount in outgoing webhooks
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/cryptopay/transformers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
Labels: A-connector-integration, C-feature

#4443 feat(router): send poll_config in next_action of confirm response for external 3ds flow
  crates/api_models/src/payments.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature

#4394 feat(FRM): Revise post FRM core flows
  crates/common_enums/src/enums.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/fraud_check.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/operation.rs
  crates/router/src/core/fraud_check/operation/fraud_check_post.rs
  crates/router/src/core/fraud_check/operation/fraud_check_pre.rs
  crates/router/src/core/fraud_check/types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/utils.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2024-04-24-104042_add_capture_method_in_fraud_check_table/down.sql
  migrations/2024-04-24-104042_add_capture_method_in_fraud_check_table/up.sql
Labels: A-core, S-waiting-on-review, A-payments

#4471 feat(router): handle authorization for frictionless flow in external 3ds flow
  crates/router/src/core/payments.rs
  crates/router/src/core/webhooks.rs
Labels: A-core, C-feature

#2041 feat: stripe connect integration for payouts
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payouts.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/consts.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
  crates/data_models/src/payouts/payouts.rs
  crates/diesel_models/src/payouts.rs
  crates/diesel_models/src/process_tracker.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/stripe/transformers/connect.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/wise/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/retry.rs
  crates/router/src/core/utils.rs
  crates/router/src/lib.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/payouts.rs
  crates/router/src/workflows.rs
  crates/router/src/workflows/attach_payout_account_workflow.rs
  crates/router/tests/connectors/utils.rs
  crates/storage_impl/src/payouts/payouts.rs
  migrations/2024-04-09-202926_add_confirm_to_payouts/down.sql
  migrations/2024-04-09-202926_add_confirm_to_payouts/up.sql
  migrations/2024-04-10-034442_alter_payout_status/down.sql
  migrations/2024-04-10-034442_alter_payout_status/up.sql
  openapi/openapi_spec.json
Labels: S-waiting-on-review, M-configuration-changes

#4470 feat(user): add single purpose token and auth
  crates/router/src/consts.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authentication/blacklist.rs
Labels: C-feature, S-waiting-on-review, A-users

#4485 Refactor(core): remove payment_method_id from RouterData struct
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, C-refactor

#4501 ci: fix paypal postman tests
  postman/collection-dir/paypal/event.prerequest.js
  postman/collection-json/paypal.postman_collection.json
Labels: A-CI-CD, S-waiting-on-review, C-test

#4430 refactor(cypress): read creds from env instead of hardcoding the path
  cypress-tests/.gitignore
  cypress-tests/cypress.env.json
  cypress-tests/cypress/e2e/ConnectorTest/00000-AccountCreate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00003-NoThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00004-ThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00005-NoThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00006-VoidPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00007-SyncPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00008-RefundPayment.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00009-SyncRefund.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00010-CreateSingleuseMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00011-CreateMultiuseMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00012-ListAndRevokeMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00013-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/ConnectorTest/00014-ZeroAuthMandate.cy.js
  cypress-tests/cypress/e2e/ConnectorUtils/Adyen.js
  cypress-tests/cypress/e2e/ConnectorUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/ConnectorUtils/Bluesnap.js
  cypress-tests/cypress/e2e/ConnectorUtils/Cybersource.js
  cypress-tests/cypress/e2e/ConnectorUtils/Nmi.js
  cypress-tests/cypress/e2e/ConnectorUtils/Paypal.js
  cypress-tests/cypress/e2e/ConnectorUtils/Stripe.js
  cypress-tests/cypress/e2e/ConnectorUtils/Trustpay.js
  cypress-tests/cypress/e2e/ConnectorUtils/utils.js
  cypress-tests/cypress/fixtures/capture-flow-body.json
  cypress-tests/cypress/fixtures/confirm-body.json
  cypress-tests/cypress/fixtures/create-api-key-body.json
  cypress-tests/cypress/fixtures/create-confirm-body.json
  cypress-tests/cypress/fixtures/create-connector-body.json
  cypress-tests/cypress/fixtures/create-customer-body.json
  cypress-tests/cypress/fixtures/create-mandate-cit.json
  cypress-tests/cypress/fixtures/create-mandate-mit.json
  cypress-tests/cypress/fixtures/create-payment-body.json
  cypress-tests/cypress/fixtures/list-refund-call-body.json
  cypress-tests/cypress/fixtures/merchant-create-body.json
  cypress-tests/cypress/fixtures/refund-flow-body.json
  cypress-tests/cypress/fixtures/save-card-confirm-body.json
  cypress-tests/cypress/fixtures/void-payment-body.json
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/e2e.js
  cypress-tests/cypress/utils/State.js
  cypress-tests/package.json
  cypress-tests/yarn.lock
Labels: A-CI-CD, S-waiting-on-review, C-test

#4465 refactor(user): Deprecate Signin, Verify email and Invite v1 APIs
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-refactor, A-users
