Repository juspay/hyperswitch, pull requests merged in 2024-03, with the labels that each got.

#3860 fix(mandates): remove validation for `mandate_data` object in payments create request
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: C-bug, S-waiting-on-review, A-mandates

#3901 refactor(core): Status mapping for Capture for 429 http code
  crates/router/src/connector/payme.rs
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-connector-integration, C-refactor

#3899 fix(connector): [BOA/CYB] Pass ucaf for apple pay mastercard users
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3909 fix(connector): [BOA/CYB] Pass ucaf for apple pay mastercard users
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3912 fix(connector): [BOA/CYB] Pass ucaf for apple pay mastercard users
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#3910 fix(wasm): [Adyen] update connector account configs and integration bugs
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/src/response_modifier.rs
  crates/connector_configs/src/transformer.rs
  crates/diesel_models/src/enums.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario5-Void the payment/Payments - Cancel/event.test.js
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario5-Void the payment/Payments - Retrieve/event.test.js
  postman/collection-dir/adyen_uk/Flow Testcases/QuickStart/Payment Connector - Create/request.json
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review, C-test

#3859 feat(core): diesel models and db interface changes for authentication table
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/authentication.rs
  crates/diesel_models/src/query/authentication.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/db/authentication.rs
  crates/router/src/types/storage/authentication.rs
  migrations/2024-01-22-091431_create_authentication_table/down.sql
  migrations/2024-01-22-091431_create_authentication_table/up.sql
  migrations/2024-02-20-180952_add_connector_metadata_in_authentication/down.sql
  migrations/2024-02-20-180952_add_connector_metadata_in_authentication/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes

#3916 fix(wasm): [Adyen] update connector account configs and integration bugs
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/src/response_modifier.rs
  crates/connector_configs/src/transformer.rs
  crates/diesel_models/src/enums.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario5-Void the payment/Payments - Cancel/event.test.js
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario5-Void the payment/Payments - Retrieve/event.test.js
  postman/collection-dir/adyen_uk/Flow Testcases/QuickStart/Payment Connector - Create/request.json
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review, C-test

#3919 fix(payment_methods): insert `locker_id` as null in case of payment method not getting stored in locker
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/tokenization.rs
Labels: C-bug, A-payment-methods

#3921 fix(payment_methods): insert locker_id as null in case of payment method not getting stored in locker
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/tokenization.rs
Labels: C-bug, A-payment-methods

#3842 feat(webhooks): implement automatic retries for failed webhook deliveries using scheduler
  .typos.toml
  crates/api_models/src/webhooks.rs
  crates/diesel_models/src/process_tracker.rs
  crates/diesel_models/src/query/events.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/types.rs
  crates/router/src/db/events.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/events/outgoing_webhook_logs.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/routes/metrics/request.rs
  crates/router/src/services/api.rs
  crates/router/src/utils.rs
  crates/router/src/workflows.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router/src/workflows/payment_sync.rs
  crates/scheduler/src/consumer/types/process_data.rs
  crates/scheduler/src/db/queue.rs
  crates/scheduler/src/errors.rs
  crates/scheduler/src/utils.rs
Labels: A-core, A-process-tracker, C-feature, S-waiting-on-review, A-webhooks

#3807 refactor(test_utils): use json to run collection and add run time edit
  Cargo.lock
  crates/test_utils/Cargo.toml
  crates/test_utils/src/main.rs
  crates/test_utils/src/newman_runner.rs
  postman/collection-dir/aci/Health check/New Request/request.json
  postman/collection-dir/adyen_uk/Health check/New Request/request.json
  postman/collection-dir/airwallex/Health check/New Request/request.json
  postman/collection-dir/authorizedotnet/Health check/New Request/request.json
  postman/collection-dir/bambora/Health check/New Request/request.json
  postman/collection-dir/bambora_3ds/Health check/New Request/request.json
  postman/collection-dir/bankofamerica/Health check/New Request/request.json
  postman/collection-dir/bluesnap/Health check/New Request/request.json
  postman/collection-dir/braintree/Health check/New Request/request.json
  postman/collection-dir/checkout/Health check/New Request/request.json
  postman/collection-dir/forte/Health check/New Request/request.json
  postman/collection-dir/globalpay/Health check/New Request/request.json
  postman/collection-dir/hyperswitch/Health check/New Request/request.json
  postman/collection-dir/mollie/Health check/New Request/request.json
  postman/collection-dir/multisafepay/Health check/New Request/request.json
  postman/collection-dir/nexinets/Health check/New Request/request.json
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario9-Update amount with automatic capture/Payments - Confirm/request.json
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario9-Update amount with automatic capture/Payments - Update/request.json
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario9a-Update amount with manual capture/Payments - Confirm/request.json
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario9a-Update amount with manual capture/Payments - Update/request.json
  postman/collection-dir/nmi/Health check/New Request/request.json
  postman/collection-dir/payme/Health check/New Request/request.json
  postman/collection-dir/paypal/Health check/New Request/request.json
  postman/collection-dir/powertranz/Health check/New Request/request.json
  postman/collection-dir/rapyd/Health check/New Request/request.json
  postman/collection-dir/shift4/Health check/New Request/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/List Payment Methods for a Merchant-copy/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update address and List Payment method/List Payment Methods for a Merchant/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Confirm/request.json
  postman/collection-dir/stripe/Health check/New Request/request.json
  postman/collection-dir/trustpay/Health check/New Request/request.json
  postman/collection-dir/volt/Health check/New Request/request.json
  postman/collection-dir/wise/Health check/Health/request.json
  postman/collection-dir/worldline/Health check/New Request/request.json
  postman/collection-dir/zen/Health check/New Request/request.json
Labels: A-CI-CD, S-waiting-on-review, C-refactor, C-test

#3915 fix(connector): [Volt] Fix status mapping for Volt
  crates/router/src/connector/volt/transformers.rs
Labels: A-connector-integration, C-refactor

#3938 chore: upgrade msrv to 1.70
  .deepsource.toml
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  Cargo.toml
  INSTALL_dependencies.sh
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
  crates/test_utils/tests/connectors/selenium.rs
  loadtest/Dockerfile
  monitoring/docker-compose-ckh.yaml
Labels: A-CI-CD, Rust

#3775 refactor(connectors): [Checkout] PII data masking
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3894 feat(connector): [PLACETOPAY] Fix refund request and status mapping
  crates/router/src/connector/placetopay.rs
  crates/router/src/connector/placetopay/transformers.rs
Labels: A-connector-integration, C-feature

#3888 refactor(api_keys): provide identifier for api key in the expiry reminder email
  crates/diesel_models/src/api_keys.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/services/email/assets/api_key_expiry_reminder.html
  crates/router/src/services/email/types.rs
  crates/router/src/workflows/api_key_expiry.rs
Labels: A-process-tracker, S-waiting-on-review, C-refactor

#3602 fix(router): [nuvei] Nuvei recurring MIT fix and mandatory details fix
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-bug

#3834 fix(core): fix metadata validation for update payment connector
  crates/router/src/core/admin.rs
Labels: A-core, C-bug

#3954 fix(connector): [Volt] Fix status mapping for Volt
  crates/router/src/connector/volt/transformers.rs
Labels: A-connector-integration, C-refactor

#3951 fix(connector): [Volt] Fix status mapping for Volt
  crates/router/src/connector/volt/transformers.rs
Labels: A-connector-integration, C-refactor

#3821 refactor(connector): [Fiserv] Mask PII data
  crates/router/src/connector/fiserv/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, C-refactor

#3858 feat(api_models): add api_models for external 3ds authentication flow
  .typos.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/openapi/src/openapi.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/types/api/admin.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-api-contract-changes

#3939 feat(router): add incoming header request logs
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/services/api.rs
  loadtest/config/development.toml
Labels: A-core, S-waiting-on-review

#3822 chore(tests): add unit tests for backwards compatibility
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/refund.rs
Labels: S-waiting-on-review, C-test

#3961 chore(configs): [BOA] Add USD Currency Filter Configuration
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
Labels: A-connector-integration, M-configuration-changes

#3959 feat(connector): [Checkout] accept connector_transaction_id in 2xx and 4xx error_response of connector flows
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-integration, C-feature

#3946 feat(roles): Add caching for custom roles
  crates/api_models/src/user.rs
  crates/api_models/src/user_role.rs
  crates/router/src/consts.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/services/authentication/blacklist.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
Labels: C-feature, S-waiting-on-review, A-users

#3904 feat(core): external authentication related schema changes for existing tables
  crates/api_models/src/enums.rs
  crates/data_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/data_models/src/payments/payment_intent.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  migrations/2024-01-22-114747_add_authentication_fields_to_attempt/down.sql
  migrations/2024-01-22-114747_add_authentication_fields_to_attempt/up.sql
  migrations/2024-02-07-075631_add_request_external_authentication_in_intent/down.sql
  migrations/2024-02-07-075631_add_request_external_authentication_in_intent/up.sql
  migrations/2024-03-01-111007_add_authentication_details_in_business_profile/down.sql
  migrations/2024-03-01-111007_add_authentication_details_in_business_profile/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes

#3956 ci(postman): hotfix for stripe and nmi collections failing
  crates/test_utils/src/main.rs
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario9-Update amount with automatic capture/Payments - Confirm/request.json
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario9a-Update amount with manual capture/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23- Update Amount/Payments - Confirm/request.json
  postman/collection-json/nmi.postman_collection.json
  postman/collection-json/stripe.postman_collection.json
Labels: A-CI-CD

#3966 refactor(connector): [Checkout] handle default cases for dispute status mapping
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-integration, C-refactor

#3945 fix(user): use mget to check in blocklist
  crates/router/src/services/authentication/blacklist.rs
Labels: S-waiting-on-review, A-users

#3949 fix(user): improve role validation to prevent duplicate groups
  crates/common_enums/src/enums.rs
  crates/router/src/utils/user_role.rs
Labels: S-waiting-on-review, A-users

#3784 chore(doc): add API ref for KV toggle
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/merchant_account.rs
  openapi/openapi_spec.json
Labels: C-doc, S-waiting-on-review

#3975 chore(configs): [BOA] Add USD Currency Filter Configuration
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
Labels: A-connector-integration, M-configuration-changes

#3953 refactor(payment_methods): filter applepay payment method from mca based on customer pm
  crates/router/src/core/payment_methods/cards.rs
Labels: A-payment-methods, C-refactor

#3907 feat(payment_methods): store connector_mandate_details in PaymentMethods table
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/types/storage/payment_method.rs
Labels: A-core, C-feature, S-waiting-on-review

#3970 feat(payment_method): set the initial payment method as default until its explicitly set
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/routes/payment_methods.rs
Labels: A-core, A-payment-methods, R-waiting-on-L1, R-waiting-on-L2

#3984 refactor: kms decrypt analytics config
  Cargo.lock
  crates/analytics/Cargo.toml
  crates/analytics/src/lib.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/routes/app.rs
Labels: S-waiting-on-review, C-refactor

#3981 feat(connector): [AUTHORIZEDOTNET] Add billing address in payments request
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-feature

#3985 refactor: kms decrypt analytics config
  Cargo.lock
  crates/analytics/Cargo.toml
  crates/analytics/src/lib.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/routes/app.rs
Labels: S-waiting-on-review, C-refactor

#3964 refactor(payment_methods): prevent deletion of default payment method for a customer
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/routes/payment_methods.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor

#3976 fix(connector): [adyen] handle Webhook reference and object
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review, C-research

#3988 feat(users): Add new API get the user and role details of specific user
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, A-users

#3940 refactor(router): store `ApplepayPaymentMethod` in `payment_method_data` column of `payment_attempt` table
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor, A-payments

#3999 fix(users): revert using mget in authorization
  crates/router/src/services/authentication/blacklist.rs
Labels: C-bug, A-users

#3997 fix(webhooks): abort outgoing webhook retry task if webhook URL is not available in business profile
  crates/router/src/core/errors.rs
  crates/router/src/core/webhooks.rs
Labels: A-process-tracker, C-bug, S-in-progress, A-webhooks

#4008 fix(postman): fix postman collections for saving cards with customer_acceptance
  postman/collection-dir/bankofamerica/Flow Testcases/Happy Cases/Scenario2-Create payment with confirm false/Payments - Confirm/request.json
  postman/collection-dir/bankofamerica/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Create/request.json
  postman/collection-dir/bankofamerica/Flow Testcases/Happy Cases/Scenario5-Void the payment/Payments - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario10-Save card flow/Payments - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario11-Pass Invalid CVV for save card flow and verify failed payment Copy/Payments - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario12-Save card payment with manual capture Copy/Payments - Create/request.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario13-Don't Pass CVV for save card flow and verify success payment Copy/Payments - Create/request.json
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario11-Save card flow/Payments - Create/request.json
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario12-Don't Pass CVV for save card flow and verify success payment/Payments - Create/request.json
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario13-Pass Invalid CVV for save card flow and verify failed payment/Payments - Create/request.json
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario14-Save card payment with manual capture/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario10-Don't Pass CVV for save card flow and verifysuccess payment/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario11-Save card payment with manual capture/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario12-Zero auth mandates/Payments - Confirm/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario19-Create 3ds payment/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario20-Create 3ds mandate/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario21-Create a mandate without customer acceptance/Payments - Confirm/request.json
  postman/collection-dir/cybersource/Flow Testcases/Happy Cases/Scenario9-Add card flow/Payments - Confirm/request.json
  postman/collection-dir/cybersource/Flow Testcases/Variation Cases/Scenario11-Failure card/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Variation Cases/Scenario14-Recurring payment for revoked mandates/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Variation Cases/Scenario15-Setup_future_usage is off_session for normal payments/Payments - Create/request.json
  postman/collection-dir/cybersource/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount/Payments - Create/request.json
  postman/collection-dir/forte/Flow Testcases/Happy Cases/Scenario6-Create a mandate and recurring payment/Payments - Create/request.json
  postman/collection-dir/forte/Flow Testcases/Variation Cases/Scenario6-Create a recurring payment with greater mandate amount/Payments - Create/request.json
  postman/collection-dir/globalpay/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount/Payments - Create/request.json
  postman/collection-dir/hyperswitch/Hackathon/Happy Cases/Scenario11-Create a mandate and recurring payment/Payments - Create/request.json
  postman/collection-dir/hyperswitch/Hackathon/Happy Cases/Scenario11-Refund recurring payment/Payments - Create/request.json
  postman/collection-dir/hyperswitch/Hackathon/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount/Payments - Create/request.json
  postman/collection-dir/hyperswitch/PaymentMethods/Payments - Create/request.json
  postman/collection-dir/hyperswitch/Refunds/Payments - Create/request.json
  postman/collection-dir/multisafepay/Flow Testcases/Variation Cases/Scenario5-Create a recurring payment with greater mandate amount/Payments - Create/request.json
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario10-Create a mandate and recurring payment/Payments - Create/request.json
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario11-Refund recurring payment/Payments - Create/request.json
  postman/collection-dir/nuvei/Flow Testcases/Variation Cases/Scenario1- Create Payment with Invalid card/Payments - Create(Lost Card)/request.json
  postman/collection-dir/nuvei/Flow Testcases/Variation Cases/Scenario1- Payment Decline scenario/Payments - Create(Decline)/request.json
  postman/collection-dir/nuvei/Flow Testcases/Variation Cases/Scenario1- Payment Decline scenario/Payments - Create(Do Not Honor)/request.json
  postman/collection-dir/nuvei/Flow Testcases/Variation Cases/Scenario1- Payment Decline scenario/Payments - Create(Insufficient Funds)/request.json
Labels: C-bug, S-waiting-on-review

#4001 ci: add a step in `check-msrv` get the rust version from `Cargo.toml`
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
Labels: A-CI-CD, S-waiting-on-review

#3962 feat(router): add domain types, admin core changes and other prerequisites for 3ds external authentication flow
  crates/cards/src/validate.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/lib.rs
  crates/router/src/consts.rs
  crates/router/src/core.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/types.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/authentication.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/bitpay.rs
  crates/router/tests/connectors/cashtocode.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/cryptopay.rs
  crates/router/tests/connectors/opennode.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/worldline.rs
  crates/router_env/src/logger/types.rs
  migrations/2024-02-11-092812_add_authentication_processor_enum_to_ConnectorType/down.sql
  migrations/2024-02-11-092812_add_authentication_processor_enum_to_ConnectorType/up.sql
  migrations/2024-02-27-130532_add_enum_types_to_payment-source_enum/down.sql
  migrations/2024-02-27-130532_add_enum_types_to_payment-source_enum/up.sql
Labels: A-core, C-feature, S-waiting-on-review

#4011 fix(deserialization): deserialize reward payment method data
  crates/api_models/src/payments.rs
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario32-Ensure API Contract for Payment Method Data/Payments - Card Payment Method/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario32-Ensure API Contract for Payment Method Data/Payments - Card Payment Method/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario32-Ensure API Contract for Payment Method Data/Payments - Card Payment Method/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario32-Ensure API Contract for Payment Method Data/Payments - Reward Payment Method/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario32-Ensure API Contract for Payment Method Data/Payments - Reward Payment Method/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario32-Ensure API Contract for Payment Method Data/Payments - Reward Payment Method/request.json
  postman/collection-json/stripe.postman_collection.json
Labels: C-bug, S-waiting-on-review

#4014 feat(payment_link): add shimmer page before payment_link loads starts
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.css
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
Labels: A-core, C-feature, S-waiting-on-review

#3969 feat(core): add core functions for external authentication
  crates/cards/src/validate.rs
  crates/diesel_models/src/query.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/authentication/types.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/db.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/authentication.rs
  crates/storage_impl/src/mock_db.rs
Labels: C-feature, S-waiting-on-review

#3996 feat(router): add payments authentication api flow
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review

#4004 feat(connector): add threedsecureio three_ds authentication connector
  Cargo.lock
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
  crates/euclid_wasm/src/lib.rs
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/threedsecureio.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  openapi/openapi_spec.json
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-waiting-on-review

#4006 feat(connector): [Checkout] add support for external authentication for checkout connector
  crates/router/src/connector/checkout/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-review

#3865 feat(users): Implemented Set-Cookie
  Cargo.lock
  crates/masking/src/maskable.rs
  crates/router/Cargo.toml
  crates/router/src/consts.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authentication/cookies.rs
  crates/router/src/utils/user.rs
Labels: A-users

#3869 refactor(connector): [Multisafepay] Mask PII data
  crates/masking/src/serde.rs
  crates/router/src/connector/multisafepay/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3840 refactor(connector): [Globalpay] Mask PII data
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/src/connector/globalpay/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#4019 fix(connector): [Trustpay] Add mapping to error code 100.390.105
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#3850 refactor(connector): [Iatapay] Mask PII data
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, C-refactor

#3926 refactor(connector): [Payme][Payeezy] Mask PII data
  crates/router/src/connector/payeezy/transformers.rs
  crates/router/src/connector/payme/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3874 refactor(connector): [Nexinets] Mask PII data
  crates/router/src/connector/nexinets/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, C-refactor

#3879 refactor(connector): [Noon] Mask PII data
  crates/router/src/connector/noon/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, C-refactor

#3771 refactor(connector): [stripe] capture error_code and error_message for psync
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3883 refactor(core): updated payments response with payment_method_id & payment_method_status
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/storage/payment_method.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  openapi/openapi_spec.json
Labels: A-core, C-refactor

#4010 refactor(connector): [adyen] add more fields in the payments request
  config/deployments/production.toml
  config/development.toml
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, S-waiting-on-author, M-configuration-changes, C-refactor

#4012 feat(router): add routing support for token-based mit payments
  config/development.toml
  crates/api_models/src/payments.rs
  crates/router/src/connector/dlocal/transformers.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/routing.rs
  crates/router/src/types/storage/payment_method.rs
Labels: A-core, C-feature, S-waiting-on-review, A-routing

#3965 Refactor(core): status handling for payment_method_status
  crates/diesel_models/src/payment_method.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-core, S-waiting-on-review, R-waiting-on-L1, R-waiting-on-L2

#4039 chore: add threedsecureio base url in deployment config files
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
Labels: S-waiting-on-review

#4038 refactor(payment_methods): filter wallet payment method from mca based on customer pm
  crates/router/src/core/payment_methods/cards.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor

#4027 refactor(payment_methods): allow deletion of default payment method for a customer if only one pm exists
  crates/diesel_models/src/customers.rs
  crates/diesel_models/src/query/generics.rs
  crates/diesel_models/src/query/payment_method.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/types/domain/customer.rs
Labels: S-waiting-on-review, A-payment-methods, C-refactor

#3828 refactor(address): pass payment method billing to the connector module
  crates/cards/tests/basic.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/riskified/transformers/api.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/wise/transformers.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/bitpay.rs
  crates/router/tests/connectors/bluesnap.rs
  crates/router/tests/connectors/cashtocode.rs
  crates/router/tests/connectors/coinbase.rs
  crates/router/tests/connectors/cryptopay.rs
  crates/router/tests/connectors/cybersource.rs
  crates/router/tests/connectors/dlocal.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/iatapay.rs
  crates/router/tests/connectors/multisafepay.rs
  crates/router/tests/connectors/opennode.rs
  crates/router/tests/connectors/payeezy.rs
  crates/router/tests/connectors/payme.rs
  crates/router/tests/connectors/trustpay.rs
  crates/router/tests/connectors/wise.rs
  crates/router/tests/connectors/worldline.rs
Labels: A-connector-compatibility, A-core, S-waiting-on-review

#4015 feat(core): confirm flow and authorization api changes for external authentication
  config/deployments/production.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/transformers.rs
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review, M-api-contract-changes

#4035 feat(connector): [AUTHORIZEDOTNET] Audit Connector
  config/deployments/production.toml
  crates/router/src/connector/authorizedotnet.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-bug

#4045 fix(core): [REFUNDS] Fix Not Supported Connector Error
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/refunds.rs
Labels: A-core, C-bug

#4044 refactor(connector): [Checkout] remove Paypal from wasm
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-refactor

#4052 fix(router): fix token fetch logic in complete authorize flow for three ds payments
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
Labels: A-core, C-bug, S-waiting-on-review, R-waiting-on-L1, A-payments

#4062 fix(connector): [adyen] handle Webhook reference and object
  config/deployments/production.toml
  config/development.toml
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review, M-configuration-changes, C-refactor

#4075 fix(payment_methods): set requires-cvv to false for cards in customer payment methods list if making an off-session payment
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, C-bug, S-waiting-on-review, A-payment-methods

#4066 fix: get valid test cards list based on wasm feature config
  crates/cards/src/validate.rs
Labels: C-bug, S-waiting-on-review

#4071 ci(postman): fix bluesnap and checkout collections for saved card flow
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario10-Save card flow/Payments - Create/event.prerequest.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario11-Pass Invalid CVV for save card flow and verify failed payment Copy/Payments - Create/event.prerequest.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario12-Save card payment with manual capture Copy/Payments - Create/event.prerequest.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario13-Don't Pass CVV for save card flow and verify success payment Copy/Payments - Create/event.prerequest.js
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario11-Save card flow/Payments - Create/event.prerequest.js
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario12-Don't Pass CVV for save card flow and verify success payment/Payments - Create/event.prerequest.js
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario13-Pass Invalid CVV for save card flow and verify failed payment/Payments - Create/event.prerequest.js
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario14-Save card payment with manual capture/Payments - Create/event.prerequest.js
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/.meta.json
  postman/collection-json/bluesnap.postman_collection.json
  postman/collection-json/checkout.postman_collection.json
  postman/collection-json/nmi.postman_collection.json
Labels: A-CI-CD, C-bug, S-waiting-on-review, C-test

#4073 fix(mandates): give higher precedence to connector mandate id over network txn id in mandates
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/core/payments/operations/payment_create.rs
Labels: A-core, C-bug, S-waiting-on-review, A-payments

#4042 refactor(router): Add IO level application logs
  crates/router/src/connector/stripe.rs
  crates/router/src/core/blocklist/transformers.rs
  crates/router/src/core/health_check.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/verification.rs
  crates/router/src/services/api.rs
  crates/router/src/services/pm_auth.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/api/verify_connector/paypal.rs
Labels: A-core, S-waiting-on-review

#4029 feat(webhooks): store request and response payloads in `events` table
  .cargo/config.toml
  Cargo.lock
  crates/analytics/docs/clickhouse/scripts/outgoing_webhook_events.sql
  crates/common_utils/Cargo.toml
  crates/common_utils/src/crypto.rs
  crates/common_utils/src/lib.rs
  crates/common_utils/src/request.rs
  crates/diesel_models/src/events.rs
  crates/diesel_models/src/query/events.rs
  crates/diesel_models/src/schema.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/types.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/db/events.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/events/outgoing_webhook_logs.rs
  crates/router/src/services/api.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/domain/event.rs
  crates/router/src/types/storage/events.rs
  crates/router/src/utils.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router_env/Cargo.toml
  crates/scheduler/Cargo.toml
  crates/scheduler/src/errors.rs
  migrations/2024-03-04-204051_events_store_webhook_delivery_attempt_info/down.sql
  migrations/2024-03-04-204051_events_store_webhook_delivery_attempt_info/up.sql
Labels: A-core, A-process-tracker, C-feature, S-waiting-on-review, M-database-changes, A-webhooks, A-Analytics

#4080 chore(config): [AUTHORIZEDOTNET] Add apple pay manual flow to dashboard
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-feature, M-configuration-changes

#4082 feat(connector): [cybersource] add card holder name in dynamic fields
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-feature, P-high, S-waiting-on-review

#4086 ci(postman): adyen collection save card flow make `customer_id` properly dynamic
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario20-Pass Invalid CVV for save card flow and verify failed payment/Payments - Create/.event.meta.json
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario20-Pass Invalid CVV for save card flow and verify failed payment/Payments - Create/event.prerequest.js
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario21-Don't Pass CVV for save card flow and verify failed payment Copy/Payments - Create/.event.meta.json
  postman/collection-dir/adyen_uk/Flow Testcases/Happy Cases/Scenario21-Don't Pass CVV for save card flow and verify failed payment Copy/Payments - Create/event.prerequest.js
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario10-Save card flow/Payments - Create/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario11-Pass Invalid CVV for save card flow and verify failed payment Copy/Payments - Create/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario12-Save card payment with manual capture Copy/Payments - Create/.event.meta.json
  postman/collection-dir/bluesnap/Flow Testcases/Happy Cases/Scenario13-Don't Pass CVV for save card flow and verify success payment Copy/Payments - Create/.event.meta.json
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario11-Save card flow/Payments - Create/.event.meta.json
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario12-Don't Pass CVV for save card flow and verify success payment/Payments - Create/.event.meta.json
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario13-Pass Invalid CVV for save card flow and verify failed payment/Payments - Create/.event.meta.json
  postman/collection-dir/checkout/Flow Testcases/Happy Cases/Scenario14-Save card payment with manual capture/Payments - Create/.event.meta.json
  postman/collection-json/adyen_uk.postman_collection.json
Labels: A-CI-CD, S-waiting-on-review, C-test

#4056 refactor(payment_methods): enable country currency filter for cards
  crates/router/src/core/payment_methods/cards.rs
Labels: A-payment-methods, C-refactor

#4091 fix(connector): [Iatapay] remove unused fields from auth response
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-integration, C-bug

#4085 fix(api_response): ghost payment_method_billing being populated in the response
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario29-Create payment with payment method billing/Payments - Create/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario29-Create payment with payment method billing/Payments - Create/request.json
  postman/collection-dir/stripe/QuickStart/Payments - Create/event.test.js
  postman/collection-json/stripe.postman_collection.json
Labels: C-bug, S-waiting-on-review

#4061 refactor(core): remove pament_method_status from payment_data
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-refactor

#4007 refactor(connector): [Wise] Response Fields made Optional
  crates/router/src/connector/wise/transformers.rs
Labels: A-connector-integration, C-refactor

#3114 feat(pm_auth): Support different pm types in PM auth
  crates/api_models/src/payment_methods.rs
  crates/pm_auth/src/connector/plaid/transformers.rs
  crates/pm_auth/src/types.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/types/storage/payment_method.rs
Labels: C-feature

#2354 feat(connector): [Paypal] Unify error code and error message in Paypal
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-feature

#4109 refactor(connector): [Stripe] add stripe-api-version in API-headers
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-bug

#3928 refactor(connector): [Payu][Placetopay][PowerTranz] Mask PII data
  crates/router/src/connector/payu/transformers.rs
  crates/router/src/connector/placetopay/transformers.rs
  crates/router/src/connector/powertranz.rs
  crates/router/src/connector/powertranz/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, C-refactor

#3876 refactor(connector): [NMI] Mask PII data
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, C-refactor

#4107 feat(connector): [BOA/CYB] Add support for payment status ACCEPTED and CANCELLED
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-feature

#3936 refactor(connector): [Coinbase][Cryptopay] Mask PII data
  crates/router/src/connector/coinbase/transformers.rs
  crates/router/src/connector/cryptopay/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3930 refactor(connector): [Prophetpay][Rapyd][Shift4][Square] Mask PII data
  crates/router/src/connector/prophetpay/transformers.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/shift4/transformers.rs
  crates/router/src/connector/square/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#3935 refactor(connector): [Worldline][Worldpay][Zen] Mask PII data
  crates/masking/src/serde.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/worldline/transformers.rs
  crates/router/src/connector/worldpay/requests.rs
  crates/router/src/connector/worldpay/response.rs
  crates/router/src/connector/worldpay/transformers.rs
  crates/router/src/connector/zen/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, S-waiting-on-review, C-refactor

#4104 fix(payments): populate merchant connector id and profile id in list
  crates/router/src/core/payments/transformers.rs
Labels: C-bug, S-waiting-on-review, A-payments

#3863 feat(events): Add audit events scaffolding
  Makefile
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/data_models/src/lib.rs
  crates/data_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/retry.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/events.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/events/audit_events.rs
  crates/router/src/events/connector_api_logs.rs
  crates/router/src/events/event_logger.rs
  crates/router/src/events/kafka_handler.rs
  crates/router/src/events/outgoing_webhook_logs.rs
  crates/router/src/services/api.rs
  crates/router/src/services/kafka.rs
  crates/router/src/services/kafka/dispute.rs
  crates/router/src/services/kafka/payment_attempt.rs
  crates/router/src/services/kafka/payment_intent.rs
  crates/router/src/services/kafka/refund.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/health_check.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/router/tests/utils.rs
Labels: A-framework, A-Analytics

#3690 refactor(stripe): change NotSupported to NotImplemented error for Stripe
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-refactor

#2845 refactor(connector): [Adyen] change error message from not supported to not implemented
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, C-refactor, good first issue

#2513 refactor(connector): [Aci] remove default case handling
  crates/router/src/connector/aci/transformers.rs
Labels: A-connector-integration, C-feature, S-waiting-on-author, hacktoberfest

#3854 refactor(connector): [Klarna] Mask PII data
  crates/router/src/connector/klarna/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#4077 refactor(router): Add FE error logs to loki
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/services/api.rs
  crates/router/src/services/redirection/assets/redirect_error_logs_push.js
Labels: A-core, S-waiting-on-review

#4092 refactor(payment_link): Make performance optimisation for payment_link
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/services/api.rs
Labels: A-core, S-waiting-on-review, C-refactor

#3923 feat(router): add offset in mandate list route
  crates/api_models/src/mandates.rs
  crates/router/src/db/mandate.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/types/storage/mandate.rs
Labels: C-feature, S-waiting-on-review, A-mandates, A-Analytics

#4068 feat(global-search): add dispute events index to global-search
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/analytics/src/lib.rs
  crates/analytics/src/search.rs
  crates/api_models/src/analytics/search.rs
Labels: A-Analytics

#4111 refactor(connector): [Stripe] make name field of StripeShippingAddress mandatory
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#4119 feat(router): handle redirection to return_url from iframe for separate 3ds flow
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-feature, S-waiting-on-review

#3958 feat: store payment check codes and authentication data from processors
  crates/api_models/src/payments.rs
  crates/data_models/src/payments/payment_attempt.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - cvv check fails/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - cvv check fails/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - cvv check fails/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - payment check populated for successful payment without billing/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - payment check populated for successful payment without billing/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - payment check populated for successful payment without billing/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - postal code check fail/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - postal code check fail/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - postal code check fail/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - successful payment with billing/.event.meta.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - successful payment with billing/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario33-Check is payment checks are populated/Payments - successful payment with billing/request.json
  postman/collection-json/stripe.postman_collection.json
Labels: A-connector-compatibility, A-core

#4120 refactor(connector): [Stripe] update stripe-api-version in API-headers
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-refactor

#4139 build(router_env): obtain workspace member package names from `cargo_metadata` more deterministically
  Cargo.lock
  crates/router_env/Cargo.toml
  crates/router_env/src/cargo_workspace.rs
Labels: A-dependencies, C-bug, S-waiting-on-review

#4095 refactor(payment_method_data): add a trait to retrieve billing from payment method data
  crates/api_models/src/payments.rs
Labels: A-core

#4149 fix(payment_methods): update payment method status only if existing status is not active
  crates/router/src/core/payments/operations/payment_response.rs
Labels: C-bug, A-payment-methods

#4152 fix(payment_methods): update payment method status only if existing status is not active
  crates/router/src/core/payments/operations/payment_response.rs
Labels: C-bug, A-payment-methods

#4154 fix(payment_methods): make `ApplepayPaymentMethod` in payment_method_data column of `payment_attempt` table as json
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, S-waiting-on-review, A-payment-methods

#4156 fix(payment_methods): make ApplepayPaymentMethod in payment_method_data column of payment_attempt table as json
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, S-waiting-on-review, A-payment-methods

#4162 fix(connector): [Iatapay] remove unused fields from auth response
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-integration, C-bug

#3651 feat(payouts): implement list and filter APIs
  crates/api_models/src/events/payouts.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/payouts.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/consts.rs
  crates/data_models/src/payouts.rs
  crates/data_models/src/payouts/payout_attempt.rs
  crates/data_models/src/payouts/payouts.rs
  crates/diesel_models/src/query/payout_attempt.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/payouts.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/types/api/payouts.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/mock_db/payout_attempt.rs
  crates/storage_impl/src/mock_db/payouts.rs
  crates/storage_impl/src/payouts/payout_attempt.rs
  crates/storage_impl/src/payouts/payouts.rs
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review, A-Analytics

#4164 fix(router): handle redirection to return_url from nested iframe in separate 3ds flow
  crates/router/src/core/payments.rs
Labels: A-core, C-bug

#4168 chore: update Slack workspace URL
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  docs/CONTRIBUTING.md
  loadtest/config/development.toml
Labels: C-doc, S-waiting-on-review

#4158 CI: update hotfix pr check workflow to parse backticks in pr title
  .github/workflows/hotfix-pr-check.yml
  .github/workflows/pr-convention-checks.yml
Labels: A-CI-CD

#4135 feat(global-search-regex-escape): escape reserved characters which break global search query
  crates/analytics/src/search.rs
Labels: A-Analytics

#4131 feat(events): add APIs to list webhook events and webhook delivery attempts
  Cargo.lock
  crates/api_models/Cargo.toml
  crates/api_models/src/lib.rs
  crates/api_models/src/user_role.rs
  crates/api_models/src/webhook_events.rs
  crates/common_enums/Cargo.toml
  crates/common_enums/src/enums.rs
  crates/common_utils/src/crypto.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/pii.rs
  crates/connector_configs/Cargo.toml
  crates/diesel_models/src/encryption.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/events.rs
  crates/diesel_models/src/query/events.rs
  crates/diesel_models/src/query/generics.rs
  crates/diesel_models/src/schema.rs
  crates/euclid/Cargo.toml
  crates/openapi/Cargo.toml
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes.rs
  crates/openapi/src/routes/customers.rs
  crates/openapi/src/routes/mandates.rs
  crates/openapi/src/routes/payment_method.rs
  crates/openapi/src/routes/webhook_events.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/types.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/db/events.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/webhook_events.rs
  crates/router/src/services/authorization/permission_groups.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/webhook_events.rs
  crates/router/src/types/domain/event.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils/ext_traits.rs
  crates/router/src/utils/user_role.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  crates/router_env/src/logger/types.rs
  migrations/2024-03-16-170320_add_events_indexes/down.sql
  migrations/2024-03-16-170320_add_events_indexes/up.sql
  openapi/openapi_spec.json
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, A-webhooks

#4167 feat(payouts): Add user roles for payouts
  crates/api_models/src/user_role.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/permission_groups.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/services/authorization/predefined_permissions.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user_role.rs
  openapi/openapi_spec.json
Labels: C-feature, S-waiting-on-review

#4187 fix(core): make eci in AuthenticationData optional
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/core/payments/types.rs
Labels: C-bug

#4201 fix(connector): [Trustpay] fix deserialization error for incoming webhook response for trustpay and add error code mapping '800.100.203'
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#4205 fix(connector): [CRYPTOPAY] Skip metadata serialization if none
  crates/router/src/connector/cryptopay/transformers.rs
Labels: A-connector-integration, C-bug

#4207 fix(connector): [CRYPTOPAY] Skip metadata serialization if none
  crates/router/src/connector/cryptopay/transformers.rs
Labels: A-connector-integration, C-bug

#4215 build(router_env): obtain workspace member package names from cargo_metadata more deterministically
  Cargo.lock
  crates/router_env/Cargo.toml
  crates/router_env/src/cargo_workspace.rs
Labels: A-dependencies, C-bug

#4118 fix(log): adding span metadata to `tokio` spawned futures
  crates/common_utils/src/macros.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/macros.rs
  crates/drainer/src/handler.rs
  crates/drainer/src/lib.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/lib.rs
  crates/router/tests/utils.rs
  crates/scheduler/src/consumer.rs
  crates/scheduler/src/producer.rs
  crates/storage_impl/src/redis.rs
Labels: A-core, C-bug, S-waiting-on-review

#4133 fix(connectors): fix wallet token deserialization error
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/nexinets/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/square/transformers.rs
  crates/router/src/connector/stax/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zen/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/errors/api_error_response.rs
  crates/router/src/core/errors/transformers.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/storage_impl/src/errors.rs
Labels: A-connector-integration, A-errors

#4223 fix(connector): [CRYPTOPAY] Skip metadata serialization if none
  crates/router/src/connector/cryptopay/transformers.rs
Labels: A-connector-integration, C-bug

#4123 feat(connector): [billwerk] add connector template code
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector.rs
  crates/router/src/connector/billwerk.rs
  crates/router/src/connector/billwerk/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/billwerk.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-configuration-changes

#4224 fix(trustpay): [Trustpay] Add error code mapping '800.100.100'
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#4198 fix(euclid_wasm): checkout wasm metadata issue
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/response_modifier.rs
  crates/connector_configs/src/transformer.rs
Labels: E-easy, A-euclid-foc

#4225 fix(connector): [Trustpay] fix deserialization error for incoming webhook response for trustpay and add error code mapping '800.100.203'
  crates/router/src/connector/trustpay.rs
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#4226 fix(trustpay): [Trustpay] Add error code mapping '800.100.100'
  crates/router/src/connector/trustpay/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#4227 build(router_env): obtain workspace member package names from `cargo_metadata` more deterministically
  Cargo.lock
  crates/router_env/Cargo.toml
  crates/router_env/src/cargo_workspace.rs
Labels: A-dependencies, S-waiting-on-review

#4229 fix(core): Amount capturable remain same for `processing` status in capture
  crates/router/src/types.rs
Labels: A-core, C-bug

#4231 refactor(config): allow wildcard origin for development and Docker Compose setups
  config/development.toml
  config/docker_compose.toml
Labels: M-configuration-changes, C-refactor

#4126 feat(payment_method): API to list countries and currencies supported by a country and payment method type
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/common_enums/src/enums.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review

#4243 chore(config): add billwerk base URL in deployment configs
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
Labels: A-dependencies, A-connector-integration, S-waiting-on-review

#4233 ci(CI-pr): determine modified crates more deterministically
  .github/workflows/CI-pr.yml
  crates/api_models/src/bank_accounts.rs
  crates/api_models/src/lib.rs
Labels: A-CI-CD, C-bug, S-waiting-on-review

#4132 feat(mandates): allow off-session payments using `payment_method_id`
  crates/api_models/src/mandates.rs
  crates/api_models/src/payments.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/mandate/helpers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/types/api/payments.rs
  openapi/openapi_spec.json
Labels: M-api-contract-changes, A-mandates
