Repository juspay/hyperswitch, pull requests merged in 2024-07, with the labels that each got.

#5062 feat(connector): [Bambora Apac] Template for integration
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/connector/bamboraapac.rs
  crates/router/src/connector/bamboraapac/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/bamboraapac.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#5137 feat(payment_link): add multiple custom css support in business level
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/types.rs
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/macros.rs
Labels: A-core, C-feature, S-waiting-on-review, M-api-contract-changes

#4866 refactor(connector): Add amount conversion framework to iatapay along with amount conversion code to connector template
  connector-template/mod.rs
  connector-template/test.rs
  connector-template/transformers.rs
  crates/api_models/src/enums.rs
  crates/router/src/connector/iatapay.rs
  crates/router/src/connector/iatapay/transformers.rs
  crates/router/src/connector/payme.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/iatapay.rs
  scripts/add_connector.sh
Labels: A-connector-integration, S-waiting-on-review, high-risk

#5111 fix(connector): [Paypal] dispute webhook deserialization failure
  crates/router/src/connector/paypal.rs
  crates/router/src/connector/paypal/transformers.rs
Labels: A-connector-integration, C-refactor

#5114 fix(router): mark retry payment as failure if `connector_tokenization` fails
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/types.rs
Labels: A-core, C-bug

#5162 fix(router): rename the browser name header to `x-browser-name`
  crates/router/src/lib.rs
Labels: A-core, C-bug, A-payments

#5161 fix(auth_methods): Add checks for duplicate `auth_method` in create API
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
  crates/router/src/utils/user.rs
Labels: C-bug, S-waiting-on-review, A-users

#5065 feat(router): collect billing details from wallet connector based on the `collect_billing_details_from_wallet_connector` field
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/types/api/admin.rs
  migrations/2024-06-20-142013_collect_billing_details_from_wallet_connector/down.sql
  migrations/2024-06-20-142013_collect_billing_details_from_wallet_connector/up.sql
Labels: A-core, M-database-changes, A-payment-methods, M-api-contract-changes, A-payments

#5115 refactor(router): changed payment method token TTL to api contract based config from const value
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/common_utils/src/consts.rs
  crates/router/src/consts.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/admin.rs
Labels: A-core, S-waiting-on-review, A-payment-methods, M-api-contract-changes

#5173 fix(connector): [ADYEN] send `browser_info` for all the card and googlepay payments
  crates/router/src/connector/adyen/transformers.rs
Labels: A-core, C-bug

#5157 refactor: use hashmap deserializer for generic_link options
  Cargo.lock
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payouts.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/link_utils.rs
  crates/masking/Cargo.toml
  crates/masking/src/serde.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core/generic_link/payment_method_collect/initiate/styles.css
  crates/router/src/core/generic_link/payout_link/initiate/styles.css
  crates/router/src/core/generic_link/payout_link/status/script.js
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/validator.rs
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/routes/app.rs
Labels: M-api-contract-changes

#5129 fix: realtime user analytics
  config/dashboard.toml
  crates/analytics/docs/clickhouse/scripts/sdk_events.sql
  crates/analytics/src/active_payments/core.rs
  crates/analytics/src/active_payments/metrics.rs
  crates/analytics/src/active_payments/metrics/active_payments.rs
  crates/analytics/src/lib.rs
Labels: C-bug

#5165 fix(router): [CYBS] make payment status optional
  crates/router/src/connector/cybersource.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#4918 refactor(payment_link): logs payment links logs coverage
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_status/status.html
  crates/router/src/services/api.rs
Labels: A-core, S-waiting-on-review

#5094 feat(router): add refunds manual-update api
  crates/api_models/src/events/refund.rs
  crates/api_models/src/refunds.rs
  crates/diesel_models/src/refund.rs
  crates/router/src/core/refunds.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/refunds.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, C-feature, S-waiting-on-review

#5169 refactor(migrations): add commands to make file to run migrations for api v2
  .github/workflows/migration-check.yaml
  .github/workflows/postman-collection-runner.yml
  INSTALL_dependencies.sh
  Makefile
  docker-compose-development.yml
  docker-compose.yml
  docs/try_local_system.md
  v2_migrations/2024-06-03-133421_remove_id_from_payment_table/down.sql
  v2_migrations/2024-06-03-133421_remove_id_from_payment_table/up.sql
Labels: C-refactor

#5190 refactor(payment_methods): add appropriate missing logs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-payment-methods

#5054 feat(pm_auth): Added balance check for PM auth bank account
  crates/pm_auth/src/connector/plaid/transformers.rs
  crates/pm_auth/src/types.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/pm_auth.rs
Labels: C-feature

#4880 feat(analytics): FRM Analytics
  Cargo.lock
  api-reference/openapi_spec.json
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/analytics/Cargo.toml
  crates/analytics/docs/clickhouse/scripts/fraud_check.sql
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/core.rs
  crates/analytics/src/frm.rs
  crates/analytics/src/frm/accumulator.rs
  crates/analytics/src/frm/core.rs
  crates/analytics/src/frm/filters.rs
  crates/analytics/src/frm/metrics.rs
  crates/analytics/src/frm/metrics/frm_blocked_rate.rs
  crates/analytics/src/frm/metrics/frm_triggered_attempts.rs
  crates/analytics/src/frm/types.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/types.rs
  crates/analytics/src/utils.rs
  crates/api_models/Cargo.toml
  crates/api_models/src/analytics.rs
  crates/api_models/src/analytics/frm.rs
  crates/common_enums/Cargo.toml
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/router/src/analytics.rs
  crates/router/src/db.rs
  crates/router/src/db/fraud_check.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/events.rs
  crates/router/src/services/kafka.rs
  crates/router/src/services/kafka/fraud_check.rs
  crates/router/src/services/kafka/fraud_check_event.rs
Labels: A-framework, C-feature, M-configuration-changes, M-api-contract-changes, A-Analytics

#5128 refactor(cypress): error handling and add sync refunds in places where missing
  cypress-tests/cypress/e2e/PaymentTest/00006-VoidPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00008-RefundPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00017-BankRedirect.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00018-MandatesUsingPMID.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/PaymentUtils/Bluesnap.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Iatapay.js
  cypress-tests/cypress/e2e/PaymentUtils/Nmi.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/e2e/PaymentUtils/utils.js
  cypress-tests/cypress/e2e/PayoutUtils/Adyen.js
  cypress-tests/cypress/e2e/PayoutUtils/AdyenPlatform.js
  cypress-tests/cypress/e2e/PayoutUtils/Commons.js
  cypress-tests/cypress/e2e/PayoutUtils/Wise.js
  cypress-tests/cypress/e2e/RoutingUtils/Common.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/redirectionHandler.js
  cypress-tests/package-lock.json
Labels: A-CI-CD, S-waiting-on-review

#5192 ci(cypress): Update card number for adyen and status for paypal
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
Labels: A-CI-CD

#5109 feat(core): Added integrity framework for Authorize and Sync flow with connector as Stripe
  Cargo.lock
  crates/api_models/src/errors/types.rs
  crates/common_utils/src/errors.rs
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_interfaces/src/integrity.rs
  crates/hyperswitch_interfaces/src/lib.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/connector/cryptopay.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/services/conversion_impls.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
Labels: A-framework, A-core, C-feature, S-waiting-on-review

#5176 feat(cypress): make tests forcefully skippable
  cypress-tests/cypress/e2e/PaymentTest/00010-CreateSingleuseMandate.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Bluesnap.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
  cypress-tests/cypress/e2e/PaymentUtils/utils.js
Labels: A-CI-CD, S-waiting-on-review

#5195 fix(router): `override setup_future_usage` filed to on_session based on merchant config
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: A-core, C-bug, A-payments

#5205 refactor(migrations): add commands to make file to run migrations for api v2
  .github/workflows/migration-check.yaml
  .github/workflows/postman-collection-runner.yml
  INSTALL_dependencies.sh
  Makefile
  docker-compose-development.yml
  docker-compose.yml
  docs/try_local_system.md
  v2_migrations/2024-06-03-133421_remove_id_from_payment_table/down.sql
  v2_migrations/2024-06-03-133421_remove_id_from_payment_table/up.sql
Labels: C-refactor

#5172 Docs: Updated API - ref for payments
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/openapi/src/routes/payments.rs
Labels: M-api-contract-changes

#5209 refactor(router): changed payment method token TTL to api contract based config from const value
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/common_utils/src/consts.rs
  crates/router/src/consts.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/admin.rs
Labels: A-core, C-bug, S-waiting-on-review, M-api-contract-changes

#5213 fix(user_auth_method): make id option in auth select
  crates/api_models/src/user.rs
  crates/router/src/core/user.rs
Labels: C-bug, S-waiting-on-review, A-users

#5202 refactor: Adding millisecond to Kafka timestamp
  crates/router/src/services/kafka.rs
Labels: A-Analytics

#5204 Feat(connector): [BRAINTREE] Implement Card Mandates
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/hyperswitch_domain_models/src/mandates.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/braintree/braintree_graphql_transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration

#5216 fix(refunds): Add aliases on refund status for backwards compatibility
  crates/common_enums/src/enums.rs
Labels: A-Analytics

#5210 feat(router): pass fields to indicate if the customer address details to be connector from wallets
  api-reference/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-core, A-payment-methods, M-api-contract-changes, A-payments

#5090 feat(core): billing_details inclusion in Payment Intent
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/connector/rapyd/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/services/kafka/payment_intent.rs
  crates/router/src/services/kafka/payment_intent_event.rs
  crates/router/src/utils/user/sample_data.rs
  crates/test_utils/tests/connectors/aci_ui.rs
  crates/test_utils/tests/connectors/adyen_uk_ui.rs
  crates/test_utils/tests/connectors/adyen_uk_wh_ui.rs
  crates/test_utils/tests/connectors/airwallex_ui.rs
  crates/test_utils/tests/connectors/authorizedotnet_ui.rs
  crates/test_utils/tests/connectors/authorizedotnet_wh_ui.rs
  crates/test_utils/tests/connectors/bambora_ui.rs
  crates/test_utils/tests/connectors/bluesnap_ui.rs
  crates/test_utils/tests/connectors/bluesnap_wh_ui.rs
  crates/test_utils/tests/connectors/checkout_ui.rs
  crates/test_utils/tests/connectors/checkout_wh_ui.rs
  crates/test_utils/tests/connectors/globalpay_ui.rs
  crates/test_utils/tests/connectors/mollie_ui.rs
  crates/test_utils/tests/connectors/multisafepay_ui.rs
  crates/test_utils/tests/connectors/nexinets_ui.rs
  crates/test_utils/tests/connectors/noon_ui.rs
  crates/test_utils/tests/connectors/nuvei_ui.rs
  crates/test_utils/tests/connectors/paypal_ui.rs
  crates/test_utils/tests/connectors/payu_ui.rs
  crates/test_utils/tests/connectors/selenium.rs
  crates/test_utils/tests/connectors/shift4_ui.rs
  crates/test_utils/tests/connectors/stripe_ui.rs
  crates/test_utils/tests/connectors/stripe_wh_ui.rs
  crates/test_utils/tests/connectors/trustpay_3ds_ui.rs
  crates/test_utils/tests/connectors/worldline_ui.rs
  crates/test_utils/tests/connectors/zen_ui.rs
  migrations/2024-06-23-200642_add_billing_details_in_payment_intent/down.sql
  migrations/2024-06-23-200642_add_billing_details_in_payment_intent/up.sql
Labels: A-core, C-feature, M-database-changes

#5220 feat(events): add hashed customer_email and feature_metadata
  Cargo.lock
  api-reference/openapi_spec.json
  config/deployments/env_specific.toml
  crates/analytics/src/search.rs
  crates/api_models/src/analytics/search.rs
  crates/api_models/src/payments.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/hashing.rs
  crates/common_utils/src/lib.rs
  crates/common_utils/src/pii.rs
  crates/router/src/core/payments.rs
  crates/router/src/services/kafka/payment_intent.rs
  crates/router/src/services/kafka/payment_intent_event.rs
Labels: C-feature, M-api-contract-changes, A-Analytics

#4754 refactor: fix unit and documentation tests
  .github/nextest.toml
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  Cargo.lock
  crates/euclid/src/dssa/analyzer.rs
  crates/external_services/src/hashicorp_vault/core.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/masking/README.md
  crates/router/src/configs/settings.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/db/events.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router_derive/Cargo.toml
  crates/router_derive/src/lib.rs
  crates/router_env/README.md
  crates/router_env/src/logger/formatter.rs
Labels: A-CI-CD, C-feature, S-waiting-on-review, C-test

#5215 fix(cypress): fix metadata missing while creating connector if not in auth
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#5225 fix(connector): [adyen] remove browser info for mit and [paypal] add refund key in headers
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/paypal.rs
  crates/router/src/core/utils.rs
Labels: A-connector-integration, C-bug, P-high, S-waiting-on-review

#5223 fix(cypress): remove unsupported manual confirm tests
  cypress-tests/cypress/e2e/PayoutTest/00003-CardTest.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00004-BankTransfer.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00005-SavePayout.cy.js
Labels: A-CI-CD

#5048 feat: add mtls for keymanager api requests
  crates/router/Cargo.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/encryption.rs
Labels: A-core, S-waiting-on-review

#5071 feat: add an API to transfer encryption keys
  crates/api_models/src/admin.rs
  crates/api_models/src/events.rs
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/errors.rs
  crates/common_utils/src/keymanager.rs
  crates/common_utils/src/lib.rs
  crates/common_utils/src/types.rs
  crates/common_utils/src/types/keymanager.rs
  crates/diesel_models/src/query/merchant_key_store.rs
  crates/diesel_models/src/query/user_key_store.rs
  crates/router/Cargo.toml
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/encryption.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/db/user_key_store.rs
  crates/router/src/encryption.rs
  crates/router/src/lib.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/domain/encryption.rs
  crates/router/src/types/domain/types.rs
  crates/router/src/types/domain/user.rs
  crates/router_derive/src/macros/encryption.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, S-waiting-on-review

#5239 fix(cypress): Fix payouts failing
  cypress-tests/cypress/e2e/PayoutTest/00003-CardTest.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00004-BankTransfer.cy.js
Labels: A-CI-CD, S-waiting-on-review

#5231 fix(router): [Iatapay] add CLEARED refund status
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-compatibility, C-bug

#5243 ci: use matrix strategy for specifying runners
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
Labels: A-CI-CD, S-waiting-on-review, C-refactor

#5112 feat(core): addition of shipping address details in payment intent
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/services/kafka/payment_intent.rs
  crates/router/src/services/kafka/payment_intent_event.rs
  crates/router/src/types/storage.rs
  crates/router/src/utils/user/sample_data.rs
  migrations/2024-07-05-115837_add_shipping_details_in_payment_intent/down.sql
  migrations/2024-07-05-115837_add_shipping_details_in_payment_intent/up.sql
Labels: A-core, C-feature, M-database-changes

#5244 fix(router): [Iatapay] add CLEARED refund status
  crates/router/src/connector/iatapay/transformers.rs
Labels: A-connector-integration, C-bug

#5187 feat(router): add integrity check for refund refund sync and capture flow with stripe as connector
  crates/diesel_models/src/refund.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_interfaces/Cargo.toml
  crates/hyperswitch_interfaces/src/integrity.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/utils.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
Labels: A-framework, A-core, C-feature, S-waiting-on-review

#5246 fix(connector): remove mandatory payment_method_type check in MIT
  crates/router/src/connector/adyen/transformers.rs
Labels: A-connector-integration, P-high, S-waiting-on-review

#4877 feat: add `hsdev` binary to run migrations
  Cargo.lock
  crates/hsdev/Cargo.toml
  crates/hsdev/README.md
  crates/hsdev/src/input_file.rs
  crates/hsdev/src/main.rs
Labels: A-framework, C-feature, S-waiting-on-author

#5252 ci: set fail fast to false in CI workflow
  .github/workflows/CI-pr.yml
Labels: A-CI-CD

#5253 refactor(core): removal of deserialization logs for routing_metadata
  crates/router/src/core/payments/routing.rs
Labels: C-refactor, A-routing

#5200 feat(connector): [RazorPay] Add new connector and Implement payment flows for UPI payment method
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector.rs
  crates/router/src/connector/razorpay.rs
  crates/router/src/connector/razorpay/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/razorpay.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router_derive/src/macros/misc.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, M-api-contract-changes

#5081 feat(core): Constraint Graph for Payment Methods List
  crates/euclid/src/enums.rs
  crates/hyperswitch_constraint_graph/src/builder.rs
  crates/hyperswitch_constraint_graph/src/types.rs
  crates/kgraph_utils/src/error.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/utils.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/metrics/bg_metrics_collector.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
  cypress-tests/cypress/e2e/PaymentMethodListTest/00000-PaymentMethodListTests.cy.js
  cypress-tests/cypress/e2e/PaymentMethodListUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentMethodListUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentMethodListUtils/Utils.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/package-lock.json
Labels: A-core, A-constraint-graph

#5265 refactor(connector): wasm changes for razorpay
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-refactor

#5268 fix(router): [razorpay] make source verification false
  crates/router/src/connector/razorpay.rs
Labels: A-connector-integration, C-bug

#5270 ci: update CODEOWNERS for connector_configs crate
  .github/CODEOWNERS
Labels: A-CI-CD, C-refactor

#5180 refactor(cypress): unify fixtures in tests & follow conventions
  cypress-tests/cypress/e2e/PaymentTest/00000-AccountCreate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00001-CustomerCreate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00002-ConnectorCreate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00003-NoThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00004-ThreeDSAutoCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00005-NoThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00006-VoidPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00007-SyncPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00008-RefundPayment.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00009-SyncRefund.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00010-CreateSingleuseMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00011-CreateMultiuseMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00012-ListAndRevokeMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00013-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00014-ZeroAuthMandate.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00015-ThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00016-BankTransfers.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00017-BankRedirect.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00018-MandatesUsingPMID.cy.js
  cypress-tests/cypress/e2e/PaymentTest/00019-UPI.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00000-AccountCreate.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00001-CustomerCreate.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00002-ConnectorCreate.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00003-CardTest.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00004-BankTransfer.cy.js
  cypress-tests/cypress/e2e/PayoutTest/00005-SavePayout.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00000-PaymentRoutingTest.cy.js
  cypress-tests/cypress/e2e/RoutingUtils/Commons.js
  cypress-tests/cypress/e2e/RoutingUtils/utils.js
  cypress-tests/cypress/fixtures/imports.js
Labels: A-CI-CD

#5193 feat(connector): [Bambora APAC] Add payment flows
  api-reference/openapi_spec.json
  config/deployments/integration_test.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/bamboraapac.rs
  crates/router/src/connector/bamboraapac/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, M-api-contract-changes

#5186 feat(router): add an api to migrate the payment method
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, A-payment-methods, M-api-contract-changes

#5262 fix(payments_create): save the `customer_id` in payments create
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
Labels: C-bug

#5280 refactor(connector): Update connector_refund_id and Refactor Webhook Status
  crates/router/src/connector/razorpay/transformers.rs
Labels: A-connector-integration, C-refactor

#5257 refactor(user_auth_method): populate default user auth method
  crates/router/src/core/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/user_authentication_method.rs
Labels: S-waiting-on-review, C-refactor, A-users

#5272 fix(analytics): Updated frm clickhouse script for creating table
  crates/analytics/docs/clickhouse/scripts/fraud_check.sql
  crates/analytics/docs/clickhouse/scripts/sdk_events.sql
Labels: C-bug

#5250 refactor(connector): [Mifinity] fix redirection after payment completion and handle 5xx error
  crates/router/src/connector/mifinity.rs
  crates/router/src/services/api.rs
Labels: A-connector-integration, C-refactor

#5068 refactor(connectors): [boa/cybs] add billing address to MIT request
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-feature

#5178 refactor(analytics): Create new permissions for Generate Report APIs
  crates/api_models/src/user_role.rs
  crates/router/src/analytics.rs
  crates/router/src/services/authorization/permission_groups.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/utils/user_role.rs
Labels: S-waiting-on-review, C-refactor, A-Analytics

#5281 chore: fix file name ignored by git in cypress
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/e2e/PayoutUtils/Utils.js
  cypress-tests/cypress/e2e/RoutingUtils/Utils.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD

#5191 refactor: Move trait IncomingWebhook to hyperswitch_interfaces
  Cargo.lock
  crates/hyperswitch_domain_models/src/api.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_interfaces/Cargo.toml
  crates/hyperswitch_interfaces/src/authentication.rs
  crates/hyperswitch_interfaces/src/disputes.rs
  crates/hyperswitch_interfaces/src/lib.rs
  crates/hyperswitch_interfaces/src/webhooks.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/braintree.rs
  crates/router/src/connector/cashtocode.rs
  crates/router/src/connector/netcetera.rs
  crates/router/src/connector/payme.rs
  crates/router/src/connector/rapyd.rs
  crates/router/src/connector/razorpay.rs
  crates/router/src/connector/riskified.rs
  crates/router/src/connector/signifyd.rs
  crates/router/src/connector/stax.rs
  crates/router/src/connector/zen.rs
  crates/router/src/connector/zsl.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/services/api.rs
  crates/router/src/services/connector_integration_interface.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/api/disputes.rs
  crates/router/src/types/api/webhooks.rs
Labels: A-core, C-refactor

#5278 fix(router): send assurance_details required as false in googlepay metadata during merchant_connector_account creation from dashboard
  crates/connector_configs/src/transformer.rs
Labels: A-core, C-bug

#5130 feat(payouts): add country, currency filters for payout methods
  config/config.example.toml
  config/deployments/env_specific.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payout_link.rs
Labels: A-core, C-feature

#5290 feat(config): [ZSL] Update ZSL base url for production
  config/deployments/production.toml
Labels: A-connector-integration, M-configuration-changes

#5294 fix(connector): [BANKOFAMERICA] Remove cards 3ds flow
  crates/router/src/connector/bankofamerica.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-bug

#5283 fix(analytics): Resolve issues for payment-intent v2 analytics
  crates/api_models/src/analytics/payment_intents.rs
Labels: C-bug

#5295 feat(config): [ZSL] Update ZSL base url for production
  config/deployments/production.toml
Labels: M-configuration-changes, C-refactor

#5297 Fix(router): [razorpay] update refund webhook reference id
  crates/router/src/connector/razorpay.rs
Labels: A-connector-integration, C-bug

#5293 fix(cypress): validate false positives and fix PML tests
  cypress-tests/cypress/e2e/PaymentMethodListTest/00000-PaymentMethodListTests.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD

#5282 fix(router): fail refund with bad request error for duplicate refund_id in refunds create flow
  crates/router/src/core/refunds.rs
Labels: A-core, C-bug

#4910 feat: create key in encryption service for merchant and user
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/events.rs
  crates/api_models/src/events/user.rs
  crates/api_models/src/user.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/errors.rs
  crates/common_utils/src/keymanager.rs
  crates/common_utils/src/lib.rs
  crates/common_utils/src/types.rs
  crates/common_utils/src/types/keymanager.rs
  crates/diesel_models/src/query/merchant_key_store.rs
  crates/diesel_models/src/query/user_key_store.rs
  crates/router/Cargo.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/encryption.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/db/user_key_store.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/types.rs
  crates/router/src/types/domain/user.rs
  crates/router_env/src/logger/types.rs
  loadtest/config/development.toml
Labels: A-core, S-waiting-on-review

#5279 fix(router): fixed integrity check failures in case of 3ds flow in sync flow
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_interfaces/src/integrity.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
Labels: A-core, C-bug, S-waiting-on-review, C-refactor

#5299 refactor(cypress): correction of cypress tests env variables for Payment method list
  cypress-tests/cypress/e2e/PaymentMethodListTest/00000-PaymentMethodListTests.cy.js
  cypress-tests/cypress/e2e/PaymentMethodListUtils/Commons.js
  cypress-tests/cypress/support/commands.js
Labels: C-refactor, C-test

#5248 refactor(payouts): update helper functions for deciding whether or not to consume flows based on current status
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
Labels: payouts

#5301 refactor: use `Debug` impl instead of `Display` impl for logging errors
  crates/common_utils/src/macros.rs
  crates/drainer/src/handler.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/core/blocklist/utils.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts/retry.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/lib.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payments/helpers.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authorization.rs
  crates/router/src/utils/currency.rs
  crates/router/src/workflows/api_key_expiry.rs
  crates/scheduler/src/db/queue.rs
  crates/scheduler/src/errors.rs
  crates/scheduler/src/producer.rs
  crates/scheduler/src/utils.rs
Labels: A-framework, C-refactor, A-errors

#5302 fix(connector): [Adyen] fix bank debit mandates for adyen
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/connector/adyen/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-bug, S-waiting-on-review, M-configuration-changes

#5083 chore(euclid_wasm): refactor connector metadata
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/src/response_modifier.rs
  crates/connector_configs/src/transformer.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: S-waiting-on-review, A-euclid-foc

#5310 fix(payments): populate merchant order ref id in list
  crates/router/src/core/payments/transformers.rs
Labels: A-payments, A-users

#5251 chore: making of function create_encrypted_data
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
Labels: A-core, C-refactor

#5028 feat(connector): [DATATRANS] Implement card payments
  api-reference/openapi_spec.json
  config/development.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/datatrans.rs
  crates/router/src/connector/datatrans/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/PaymentUtils/Datatrans.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  postman/collection-json/datatrans.postman_collection.json
Labels: A-connector-integration, M-api-contract-changes

#5185 feat(logging): Emit a setup error when a restricted keys are used for logging default keys
  Cargo.lock
  crates/common_enums/Cargo.toml
  crates/common_enums/src/enums.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/bin/router.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/errors.rs
  crates/router_env/Cargo.toml
  crates/router_env/src/logger/formatter.rs
  crates/router_env/src/logger/setup.rs
  crates/router_env/tests/logger.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/errors.rs
Labels: A-framework, S-waiting-on-review, C-refactor, A-errors

#5319 fix(connector): [AUTHORIZEDOTNET] Populate error reason for failure transactions
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-bug

#5322 feat(proxy): add support to pass proxy bypass urls from configs
  config/config.example.toml
  config/deployments/env_specific.toml
  crates/router/src/bin/scheduler.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/lib.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/client.rs
Labels: M-configuration-changes

#5308 fix(router): store `customer_acceptance` in payment_attempt, use it in confirm flow for delayed authorizations like external 3ds flow
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/src/mandates.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2024-07-11-072518_add_customer_acceptance_in_payment_attempt/down.sql
  migrations/2024-07-11-072518_add_customer_acceptance_in_payment_attempt/up.sql
Labels: A-core, C-bug, M-database-changes

#5326 refactor(connector): [Mifinity] add a field language_preference in payment request for mifinity payment method data
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/connector/mifinity/transformers.rs
Labels: A-connector-integration, C-refactor, M-api-contract-changes

#3758 feat(mca): Added recipient connector call for open banking connectors
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/admin.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/schema.rs
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/mca.rs
  crates/openapi/src/openapi.rs
  crates/pm_auth/src/connector/plaid.rs
  crates/pm_auth/src/connector/plaid/transformers.rs
  crates/pm_auth/src/types.rs
  crates/pm_auth/src/types/api.rs
  crates/pm_auth/src/types/api/auth_service.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/pm_auth/transformers.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  migrations/2024-04-12-100925_mca_additional_merchant_data/down.sql
  migrations/2024-04-12-100925_mca_additional_merchant_data/up.sql
Labels: A-core, C-feature, M-database-changes, M-api-contract-changes

#5336 fix(routing): do not update `perform_session_flow_routing` output if the `SessionRoutingChoice` is none
  crates/router/src/core/payments/routing.rs
Labels: C-bug, A-routing

#5338 fix(routing): do not update `perform_session_flow_routing` output if the `SessionRoutingChoice` is none
  crates/router/src/core/payments/routing.rs
Labels: C-bug, A-routing

#5331 fix(payment_methods): set `requires_cvv` to false when either `connector_mandate_details` or `network_transaction_id` is present during MITs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
Labels: C-bug, A-payment-methods

#5275 feat(webhooks): add support for custom outgoing webhook http headers
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/routes/admin.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  migrations/2024-07-10-065816_add_custom_outgoing_webhook_http_headers_to_business_profile/down.sql
  migrations/2024-07-10-065816_add_custom_outgoing_webhook_http_headers_to_business_profile/up.sql
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, M-api-contract-changes

#4974 refactor(connector): added amount conversion framework for checkout,adyen and globalpay
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/adyenplatform.rs
  crates/router/src/connector/adyenplatform/transformers.rs
  crates/router/src/connector/adyenplatform/transformers/payouts.rs
  crates/router/src/connector/checkout.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/globalpay.rs
  crates/router/src/connector/globalpay/requests.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/src/connector/globalpay/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/adyen.rs
  crates/router/tests/connectors/bamboraapac.rs
  crates/router/tests/connectors/checkout.rs
  crates/router/tests/connectors/datatrans.rs
  crates/router/tests/connectors/globalpay.rs
  crates/router/tests/connectors/wise.rs
Labels: A-connector-integration, S-waiting-on-review, C-refactor

#5346 fix(connector): [AUTHORIZEDOTNET] Populate error reason for failure transactions
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-bug

#5303 refactor(cypress): nullify false positives
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/BankOfAmerica.js
  cypress-tests/cypress/e2e/PaymentUtils/Bluesnap.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Nmi.js
  cypress-tests/cypress/e2e/PaymentUtils/Paypal.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/e2e/PaymentUtils/Trustpay.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#5341 feat(globalsearch): Added search_tags based filter for global search in dashboard
  api-reference/openapi_spec.json
  crates/analytics/src/search.rs
  crates/api_models/src/analytics/search.rs
  crates/api_models/src/payments.rs
  crates/masking/src/strategy.rs
Labels: M-api-contract-changes

#5219 feat(payout_link): secure payout links using server side validations and client side headers
  Cargo.lock
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/common_utils/src/consts.rs
  crates/common_utils/src/link_utils.rs
  crates/hyperswitch_domain_models/src/api.rs
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/generic_link/payout_link/initiate/script.js
  crates/router/src/core/generic_link/payout_link/status/styles.css
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payout_link.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/routes/payout_link.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/generic_link_response.rs
  crates/router/src/types/api/admin.rs
  migrations/2024-07-17-064610_add_allowed_domains_to_link_data/down.sql
  migrations/2024-07-17-064610_add_allowed_domains_to_link_data/up.sql
Labels: M-database-changes, M-api-contract-changes

#5347 feat(router): Add support for passing the domain dynamically in the session call
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/lib.rs
  crates/router/src/types/transformers.rs
Labels: A-core, A-payment-methods

#5348 refactor(router): Remove the locker call in the psync flow
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_status.rs
Labels: A-core, A-payment-methods

#5304 feat(connector): [Itau Bank] Template for payment flows
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/connector/itaubank.rs
  crates/router/src/connector/itaubank/transformers.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/tests/connectors/itaubank.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#5330 refactor(router): remove id dependency from merchant connector account, dispute and mandate
  crates/diesel_models/src/query/merchant_connector_account.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  migrations/2024-07-15-120121_change_primary_key_for_dispute/down.sql
  migrations/2024-07-15-120121_change_primary_key_for_dispute/up.sql
  migrations/2024-07-15-143920_change_primary_key_for_mandate/down.sql
  migrations/2024-07-15-143920_change_primary_key_for_mandate/up.sql
  migrations/2024-07-15-170210_change_primary_key_for_merchant_connector_account/down.sql
  migrations/2024-07-15-170210_change_primary_key_for_merchant_connector_account/up.sql
Labels: M-database-changes, C-refactor

#5042 chore: Increasing log coverage for payment method list
  crates/router/src/core/payment_methods/cards.rs
Labels: A-core, C-refactor

#5356 refactor(blocklist): change primary key of blocklist table
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  migrations/2024-07-17-174449_change_primary_key_for_blocklist_table/down.sql
  migrations/2024-07-17-174449_change_primary_key_for_blocklist_table/up.sql
Labels: M-database-changes, C-refactor

#5329 ci: add support for compilation of code changes under v2 feature flag
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  Makefile
  justfile
  scripts/ci-checks.sh
Labels: A-CI-CD

#5343 build: remove unused dependencies
  Cargo.lock
  crates/analytics/Cargo.toml
  crates/api_models/Cargo.toml
  crates/api_models/src/enums.rs
  crates/common_enums/Cargo.toml
  crates/common_enums/src/enums.rs
  crates/common_utils/Cargo.toml
  crates/connector_configs/Cargo.toml
  crates/currency_conversion/Cargo.toml
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/enums.rs
  crates/drainer/Cargo.toml
  crates/euclid/Cargo.toml
  crates/euclid_wasm/Cargo.toml
  crates/events/Cargo.toml
  crates/external_services/Cargo.toml
  crates/hsdev/Cargo.toml
  crates/hyperswitch_constraint_graph/Cargo.toml
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_interfaces/Cargo.toml
  crates/kgraph_utils/Cargo.toml
  crates/masking/Cargo.toml
  crates/openapi/Cargo.toml
  crates/pm_auth/Cargo.toml
  crates/redis_interface/Cargo.toml
  crates/router/Cargo.toml
  crates/router_derive/Cargo.toml
  crates/router_env/Cargo.toml
  crates/scheduler/Cargo.toml
  crates/storage_impl/Cargo.toml
  crates/test_utils/Cargo.toml
Labels: A-dependencies, S-waiting-on-review, C-refactor

#5362 fix(core): [payouts] failure of payout retrieve when token is expired
  crates/router/src/core/payouts.rs
Labels: A-core, C-bug

#5314 Docs: Updating Error codes for documentation purposes
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
Labels: C-doc

#5367 refactor(core): change primary key of refund table
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  migrations/2024-07-19-044034_change_primary_key_for_refund/down.sql
  migrations/2024-07-19-044034_change_primary_key_for_refund/up.sql
Labels: A-core, M-database-changes

#3952 feat(connector): Plaid connector Integration
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/pm_auth/src/connector/plaid/transformers.rs
  crates/pm_auth/src/types.rs
  crates/router/src/connector.rs
  crates/router/src/connector/plaid.rs
  crates/router/src/connector/plaid/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/types/api.rs
  crates/router/src/types/domain/payments.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/plaid.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#5311 refactor(connector): make the `original_authorized_amount` optional for MITs with `connector_mandate_details`
  crates/router/src/connector/cybersource/transformers.rs
Labels: A-connector-integration, C-refactor

#5374 refactor(core): change primary keys in user, user_roles and roles tables
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  migrations/2024-07-19-095541_change_primary_key_for_users/down.sql
  migrations/2024-07-19-095541_change_primary_key_for_users/up.sql
  migrations/2024-07-19-100016_change_primary_key_for_user_roles/down.sql
  migrations/2024-07-19-100016_change_primary_key_for_user_roles/up.sql
  migrations/2024-07-19-100936_change_primary_key_for_roles/down.sql
  migrations/2024-07-19-100936_change_primary_key_for_roles/up.sql
Labels: M-database-changes, C-refactor

#5365 feat(merchant_account_v2): add merchant_account_v2 domain and diesel models
  .github/scripts/install-jq.sh
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  Makefile
  crates/analytics/Cargo.toml
  crates/api_models/Cargo.toml
  crates/api_models/src/admin.rs
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/query/merchant_account.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/diesel_models/src/query/payment_intent.rs
  crates/diesel_models/src/query/user/sample_data.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/drainer/Cargo.toml
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_interfaces/Cargo.toml
  crates/openapi/Cargo.toml
  crates/openapi/src/main.rs
  crates/router/Cargo.toml
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/user.rs
  crates/scheduler/Cargo.toml
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
  justfile
  scripts/ci-checks.sh
  v2_migrations/2024-07-19-073520_remove_id_from_merchant_account/down.sql
  v2_migrations/2024-07-19-073520_remove_id_from_merchant_account/up.sql
Labels: C-feature, api-v2

#5379 fix: use encrypt api for all encryption and decryption
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/hyperswitch_domain_models/src/merchant_key_store.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/type_encryption.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/domain/types.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user_key_store.rs
  crates/router/src/utils/user.rs
Labels: C-bug

#5370 refactor(router): Make `original_payment_authorized_currency` and `original_payment_authorized_amount` mandatory fields for `Discover` cards and `Cybersource` connector during payment method migration.
  crates/api_models/src/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
Labels: A-core, A-payment-methods

#5258 chore: add missing logs for surcharge flow
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/types.rs
Labels: S-waiting-on-review, C-refactor

#5358 fix: add offset and limit to key transfer API
  crates/analytics/src/types.rs
  crates/api_models/src/admin.rs
  crates/api_models/src/events.rs
  crates/api_models/src/events/connector_onboarding.rs
  crates/api_models/src/events/user.rs
  crates/api_models/src/events/user_role.rs
  crates/api_models/src/pm_auth.rs
  crates/api_models/src/user.rs
  crates/api_models/src/verify_connector.rs
  crates/common_utils/src/events.rs
  crates/diesel_models/src/query/merchant_key_store.rs
  crates/diesel_models/src/query/user_key_store.rs
  crates/hyperswitch_domain_models/src/api.rs
  crates/hyperswitch_domain_models/src/type_encryption.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/encryption.rs
  crates/router/src/core/user.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/db/user_key_store.rs
  crates/router/src/events/api_logs.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/user.rs
Labels: A-core, S-waiting-on-review

#5393 refactor(core): change primary keys in payment_methods table
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  migrations/2024-07-22-082828_change_primary_key_for_payment_methods/down.sql
  migrations/2024-07-22-082828_change_primary_key_for_payment_methods/up.sql
Labels: M-database-changes

#5342 feat(connector): [Itau Bank] Add payment and sync flow for Pix
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/masking/src/serde.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/itaubank.rs
  crates/router/src/connector/itaubank/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zsl/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/lib.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/itaubank.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
  cypress-tests/cypress/e2e/PaymentUtils/ItauBank.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/redirectionHandler.js
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-api-contract-changes

#5373 refactor(connector): Add billing_country in klarna dynamic fields
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-refactor

#5397 refactor(dashboard_metadata): alter query for merchant scoped metadata
  crates/diesel_models/src/query/dashboard_metadata.rs
  crates/router/src/db/dashboard_metadata.rs
Labels: S-waiting-on-review, C-refactor, A-users

#5401 chore: add customer, shipping and billing details to payment_response for payment list api
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, P-high, C-refactor

#5403 ci: handle packages to run are being empty
  scripts/ci-checks.sh
Labels: A-CI-CD

#5406 chore: add customer, shipping and billing details to payment_response for payment list api
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-core, C-refactor

#5405 feat(connector): [Itau Bank] Add payment and sync flow for Pix
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/masking/src/serde.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/itaubank.rs
  crates/router/src/connector/itaubank/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/zsl/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/lib.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/itaubank.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
  cypress-tests/cypress/e2e/PaymentUtils/ItauBank.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/redirectionHandler.js
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, M-api-contract-changes

#5350 feat(customer): customer v2 refactor for customer create end point
  crates/api_models/Cargo.toml
  crates/api_models/src/customers.rs
  crates/api_models/src/events/customer.rs
  crates/api_models/src/payment_methods.rs
  crates/common_utils/src/crypto.rs
  crates/diesel_models/Cargo.toml
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/customer.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/Cargo.toml
  crates/router/src/compatibility/stripe.rs
  crates/router/src/compatibility/stripe/app.rs
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/customers/types.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/errors/customers_error_response.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/db/customers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/customers.rs
  crates/router/src/types/domain/customer.rs
  crates/router/src/utils.rs
  justfile
  scripts/ci-checks.sh
Labels: A-core, S-waiting-on-review, C-refactor, api-v2

#4985 refactor(connector): add amount conversion framework to volt
  crates/router/src/connector/volt.rs
  crates/router/src/connector/volt/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/volt.rs
Labels: C-refactor

#5410 fix(connector): [Datatrans] Handling for 4-Digit YYYY input and Correct 3DS Routing to no_3ds
  crates/router/src/connector/datatrans/transformers.rs
Labels: A-connector-integration

#5333 Feat(connector): [WELLSFARGO] Add template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/connector/wellsfargo.rs
  crates/router/src/connector/wellsfargo/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/wellsfargo.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#5419 refactor(connector): [Itaubank] add dynamic fields for pix
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/router/src/configs/defaults.rs
Labels: A-connector-integration, C-refactor, M-api-contract-changes

#5361 feat: add create retrieve and update api endpoints for organization resource
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/events.rs
  crates/api_models/src/organization.rs
  crates/api_models/src/user.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/organization.rs
  crates/common_utils/src/lib.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/organization.rs
  crates/diesel_models/src/query/dashboard_metadata.rs
  crates/diesel_models/src/query/organization.rs
  crates/diesel_models/src/query/role.rs
  crates/diesel_models/src/query/user_role.rs
  crates/diesel_models/src/role.rs
  crates/diesel_models/src/user/dashboard_metadata.rs
  crates/diesel_models/src/user_role.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes.rs
  crates/openapi/src/routes/organization.rs
  crates/router/src/core/admin.rs
  crates/router/src/db.rs
  crates/router/src/db/dashboard_metadata.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/organization.rs
  crates/router/src/db/role.rs
  crates/router/src/db/user_role.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/services/authentication.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/dashboard_metadata.rs
  crates/router/src/utils/user_role.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, S-waiting-on-review, M-api-contract-changes

#5380 feat: create additional columns in organization table
  api-reference/openapi_spec.json
  crates/api_models/src/organization.rs
  crates/diesel_models/src/organization.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/src/core/admin.rs
  crates/router/src/db/organization.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/transformers.rs
  migrations/2024-07-18-120134_create_additional_fields_in_organization_table/down.sql
  migrations/2024-07-18-120134_create_additional_fields_in_organization_table/up.sql
Labels: C-feature, S-waiting-on-review, M-database-changes, M-api-contract-changes

#4972 refactor(connector): added amount conversion framework for billwerk
  crates/router/src/connector/billwerk.rs
  crates/router/src/connector/billwerk/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/billwerk.rs
Labels: C-refactor

#5420 feat(connector): [Itaubank] Add refund and rsync flow
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_interfaces/src/consts.rs
  crates/router/src/connector/itaubank.rs
  crates/router/src/connector/itaubank/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/tests/connectors/bambora.rs
  crates/router/tests/connectors/forte.rs
  crates/router/tests/connectors/nexinets.rs
  crates/router/tests/connectors/paypal.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/connectors/zen.rs
  cypress-tests/cypress/e2e/PaymentMethodListTest/00000-PaymentMethodListTests.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/ItauBank.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/redirectionHandler.js
  cypress-tests/package.json
Labels: A-connector-integration, C-feature

#5434 ci(cypress): Nullify positive cases for MIT payments
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD

#5398 refactor(core): patch file for removal of id from schema
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/customer.rs
  crates/diesel_models/remove_id.patch
  crates/diesel_models/src/address.rs
  crates/diesel_models/src/blocklist.rs
  crates/diesel_models/src/customers.rs
  crates/diesel_models/src/dispute.rs
  crates/diesel_models/src/mandate.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/refund.rs
  crates/diesel_models/src/role.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/db/address.rs
  crates/router/src/db/dispute.rs
  crates/router/src/db/mandate.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/db/payment_method.rs
  crates/router/src/db/refund.rs
  crates/router/src/db/role.rs
  crates/router/src/db/user.rs
  crates/router/src/types/domain/address.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/utils.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  diesel.toml
Labels: A-core, M-database-changes

#4973 refactor(connector): added amount conversion framework for bitpay
  crates/router/src/connector/bitpay.rs
  crates/router/src/connector/bitpay/transformers.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/bitpay.rs
Labels: C-refactor

#5385 feat(router): add merchant_connector_account create v2 api flow
  api-reference/openapi_spec.json
  crates/api_models/Cargo.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/kgraph_utils/Cargo.toml
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/mca.rs
  crates/router/Cargo.toml
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/refunds.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/domain/merchant_connector_account.rs
  crates/router/src/types/transformers.rs
  scripts/ci-checks.sh
Labels: A-core, C-feature, M-api-contract-changes

#5425 fix(cypress): fix cypress tests, failing due to error codes being recently changed
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
Labels: C-test

#5436 ci: obtain files modified from PR instead of git diff
  .github/workflows/CI-pr.yml
  scripts/ci-checks.sh
Labels: A-CI-CD, C-bug, C-refactor

#5353 refactor(user_roles): make org and merchant id nullable
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/query/user_role.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user_role.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/recon.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
  migrations/2024-07-23-100214_make_org_and_merchant_id_nullable_user_roles/down.sql
  migrations/2024-07-23-100214_make_org_and_merchant_id_nullable_user_roles/up.sql
Labels: M-database-changes, C-refactor, A-users

#5439 refactor(merchant_account_v2): recreate id for `merchant_account` v2
  crates/api_models/src/admin.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/query/merchant_account.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/utils.rs
  v2_migrations/2024-07-25-064644_add_id_in_merchant_account/down.sql
  v2_migrations/2024-07-25-064644_add_id_in_merchant_account/up.sql
  v2_migrations/2024-07-25-065100_change_primary_key_from_merchant_id_to_id/down.sql
  v2_migrations/2024-07-25-065100_change_primary_key_from_merchant_id_to_id/up.sql
  v2_migrations/2024-07-25-065542_drop_merchant_id_from_merchant_account/down.sql
  v2_migrations/2024-07-25-065542_drop_merchant_id_from_merchant_account/up.sql
Labels: C-refactor, api-v2

#5412 fix: added created at and modified at keys in PaymentAttemptResponse
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes, low-risk

#5426 ci: add support for just hack_v2 check for PRs
  .github/workflows/CI-pr.yml
  justfile
Labels: A-CI-CD

#5441 feat(connector): [FISERV] Move connector to hyperswitch_connectors
  Cargo.lock
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/fiserv.rs
  crates/hyperswitch_connectors/src/connectors/fiserv/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-feature

#5447 chore: address Rust 1.80 clippy lints
  crates/api_models/src/events.rs
  crates/external_services/src/file_storage/file_system.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/bluesnap/transformers.rs
  crates/router/src/connector/boku/transformers.rs
  crates/router/src/connector/globalpay/response.rs
  crates/router/src/connector/mollie/transformers.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/powertranz/transformers.rs
  crates/router/src/db/user_role.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/services/api.rs
  crates/router_derive/src/lib.rs
Labels: S-waiting-on-review, C-refactor

#5432 refactor(opensearch): Add Error Handling for Empty Query and Filters in Request
  crates/analytics/src/opensearch.rs
  crates/analytics/src/search.rs
  crates/api_models/src/analytics/search.rs
Labels: C-refactor, A-Analytics
