Repository juspay/hyperswitch, pull requests merged in 2025-09, with the labels that each got.

#9110 feat(connector): introduce setup mandate flow for payload
  crates/hyperswitch_connectors/src/connectors/payload.rs
  crates/hyperswitch_connectors/src/connectors/payload/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Payload.js
Labels: A-CI-CD, A-connector-integration, C-feature, S-waiting-on-review, enhancement

#9076 refactor(dynamic_routing): remove delete_merchant for DE
  crates/router/src/core/admin.rs
Labels: C-refactor

#9049 feat(router): Payment Intent and MCA changes for split payments
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/services/kafka/payment_intent.rs
  crates/router/src/services/kafka/payment_intent_event.rs
  crates/router/src/types/api/admin.rs
  v2_compatible_migrations/2025-08-25-090221_add-split-txns-enabled-in-payment-intent/down.sql
  v2_compatible_migrations/2025-08-25-090221_add-split-txns-enabled-in-payment-intent/up.sql
  v2_compatible_migrations/2025-08-29-040411_add-split-txns-enabled-in-business-profile/down.sql
  v2_compatible_migrations/2025-08-29-040411_add-split-txns-enabled-in-business-profile/up.sql
Labels: C-feature, M-database-changes, M-api-contract-changes, api-v2

#9017 fix(payments): automatic connector_payment_id hashing in v2 if length > 128
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
Labels: C-feature

#9126 fix(metadata): fix nordea metadata again
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-bug, S-waiting-on-review, skill issues

#9237 fix(core): add extended authorization to profile update and add supported payment method types
  crates/api_models/src/admin.rs
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
Labels: C-bug, C-feature

#9133 feat(core): add subscription table
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/subscription.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/subscription.rs
  crates/router/src/db.rs
  crates/router/src/db/subscription.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/subscription.rs
  migrations/2025-08-21-110802_add_subcription_table/down.sql
  migrations/2025-08-21-110802_add_subcription_table/up.sql
Labels: M-database-changes, A-routing

#9259 fix(core): change condition for updating payment method status
  crates/router/src/core/payments/operations/external_vault_proxy_payment_intent.rs
Labels: A-core, C-bug

#9273 feat(core): Add Network Details in Payments Response
  api-reference/v1/openapi_spec_v1.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/events.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/src/workflows/payment_sync.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2025-09-09-171443_add_network_details_in_attempt_table/down.sql
  migrations/2025-09-09-171443_add_network_details_in_attempt_table/up.sql
Labels: M-database-changes, M-api-contract-changes

#9290 feat(nuvei): L2L3 Data
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
Labels: A-connector-integration

#8925 fix(trustpay): add connector request reference ID generation for v2
  crates/hyperswitch_connectors/src/connectors/trustpay.rs
Labels: C-bug

#9244 fix(users): add bad request for openidconnect
  crates/router/src/services/openidconnect.rs
Labels: C-bug, S-waiting-on-review, A-users

#9248 feat(connector): [checkout] Add mandate flow
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/checkout.rs
  crates/hyperswitch_connectors/src/connectors/checkout/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/payments/transformers.rs
  loadtest/config/development.toml
Labels: C-feature

#9334 fix: fix api url in dashboard configuration
  config/dashboard.toml
Labels: hyperswitch-control-centre

#9321 refactor(connector): rename RevenueRecoveryRecordBack as InvoiceRecordBack
  crates/hyperswitch_connectors/src/connectors/chargebee.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_connectors/src/connectors/recurly.rs
  crates/hyperswitch_connectors/src/connectors/recurly/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/router_data_v2/flow_common_types.rs
  crates/hyperswitch_domain_models/src/router_flow_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_request_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_response_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api/revenue_recovery.rs
  crates/hyperswitch_interfaces/src/api/revenue_recovery_v2.rs
  crates/hyperswitch_interfaces/src/conversion_impls.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/revenue_recovery/types.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
Labels: A-connector-integration, C-refactor

#9386 ci(migration-check): install rustfmt to address migration run failures
  .github/workflows/migration-check.yaml
Labels: A-CI-CD

#9351 fix(connector): [nuvei] pass state field in the request, network handling for proxy flow
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payeezy/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payone/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: C-bug

#9372 feat(router): Handle incoming webhooks adyen
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors/adyenplatform/transformers/payouts.rs
Labels: A-webhooks

#8705 feat(connector): [TRUSTPAYMENTS] Integrate cards non 3ds payments
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/trustpayments.rs
  crates/hyperswitch_connectors/src/connectors/trustpayments/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/types/api/connector_mapping.rs
  crates/router/src/types/api/feature_matrix.rs
  crates/router/src/types/connector_transformers.rs
  crates/router/tests/connectors/trustpayments.rs
  cypress-tests/cypress/e2e/configs/Payment/TrustPayments.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: A-connector-integration, C-feature, M-api-contract-changes, Grace

#9330 feat(core): add manual retry cutoff duration
  crates/router/src/core/payments/helpers.rs
Labels: A-core, C-feature

#9352 feat(ucs): transmit merchant order reference id to unified connector service
  crates/common_utils/src/lib.rs
  crates/common_utils/src/ucs_types.rs
  crates/external_services/src/grpc_client.rs
  crates/external_services/src/grpc_client/unified_connector_service.rs
  crates/external_services/src/lib.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/external_proxy_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/unified_connector_service.rs
  crates/router/src/core/unified_connector_service/transformers.rs
  crates/router/src/lib.rs
  crates/router/src/types/transformers.rs
Labels: C-feature

#9396 feat(connector): [Paysafe] implement Skrill wallet Payment Method
  Cargo.lock
  crates/connector_configs/Cargo.toml
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/paysafe.rs
  crates/hyperswitch_connectors/src/connectors/paysafe/transformers.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
Labels: A-connector-integration, C-feature

#9435 ci(cypress): fix braintree connector
  cypress-tests/cypress/e2e/configs/Payment/Braintree.js
Labels: A-CI-CD, S-waiting-on-review

#9459 fix(connectors): [Nexixpay] send cvv in nexixpay requests
  crates/hyperswitch_connectors/src/connectors/nexixpay/transformers.rs
Labels: C-bug

#9420 feat(core): add webhook setup event handler
  crates/api_models/src/webhooks.rs
  crates/hyperswitch_connectors/src/connectors/wise.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
Labels: A-core, C-feature

#9405 fix(webhooks): add idempotent_event_id generation using URL-safe Base64 (no padding) and SHA256 digest
  crates/common_utils/src/consts.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/core/webhooks/outgoing_v2.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
Labels: C-bug

#9083 feat(router): Add v2 payment cancellation flow
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_interfaces/src/conversion_impls.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_cancel_v2.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
Labels: C-feature, M-api-contract-changes, api-v2

#9450 feat(connector): [Gigadat] Connector Template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/gigadat.rs
  crates/hyperswitch_connectors/src/connectors/gigadat/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/connector_endpoints.rs
  crates/router/src/connector.rs
  crates/router/tests/connectors/gigadat.rs
  crates/router/tests/connectors/main.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#9524 feat(euclid_wasm): add wasm changes for payout webhooks
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-refactor

#9488 refactor(subscription): make invoice as an id type
  crates/common_utils/src/events.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/invoice.rs
  crates/diesel_models/src/invoice.rs
Labels: A-routing

#9461 feat(process_tracker): Add resume api to resume the tasks in process tracker for revenue_recovery
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/events/revenue_recovery.rs
  crates/api_models/src/process_tracker/revenue_recovery.rs
  crates/router/src/core/revenue_recovery.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/process_tracker/revenue_recovery.rs
  crates/router_env/src/logger/types.rs
Labels: M-api-contract-changes

#9536 chore(wasm): update sepa to sepa_bank_transfer for payout MCAs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: C-bug, Payouts

#9469 feat(router): Add Confirm-Intent API contract changes for split payments (v2)
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/payments.rs
  crates/openapi/src/openapi_v2.rs
Labels: C-feature, M-api-contract-changes, api-v2

#9492 fix(core): add request_extended_authorization in the payment attempt and populate it in the payment response
  api-reference/v1/openapi_spec_v1.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/events.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
Labels: A-connector-compatibility, A-connector-integration, M-api-contract-changes

#9505 feat(cypress): add cypress test-cases for manual retry
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/configs/Payment/Cybersource.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/e2e/spec/Payment/00032-ManualRetry.cy.js
Labels: C-feature, C-test

#9557 feat(finix): template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/finix.rs
  crates/hyperswitch_connectors/src/connectors/finix/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/connector_endpoints.rs
  crates/router/src/connector.rs
  crates/router/tests/connectors/finix.rs
  crates/router/tests/connectors/main.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#9559 feat(ucs): Add profile ID to lineage tracking in Unified Connector Service
  crates/external_services/src/grpc_client.rs
  crates/hyperswitch_domain_models/src/merchant_context.rs
  crates/injector/src/vault_metadata.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/external_proxy_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/unified_connector_service.rs
Labels: C-feature, S-waiting-on-review, ai-review

#9506 feat(payments): add tokenization action handling to payment flow for braintree
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
Labels: C-feature

#9515 feat(core): [Nuvei] add stored credentials flag
  api-reference/v1/openapi_spec_v1.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/events.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2025-09-22-084821_add_stored_credentials_payment_intent/down.sql
  migrations/2025-09-22-084821_add_stored_credentials_payment_intent/up.sql
Labels: A-connector-integration, C-feature, M-database-changes, M-api-contract-changes

#9615 fix(router): add new api endpoint for post authentication sync in modular authentication
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/routes/app.rs
Labels: A-core, C-bug

#9620 feat(connector): [Loonio] Implement interac Bank Redirect Payment Method
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/loonio.rs
  crates/hyperswitch_connectors/src/connectors/loonio/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/types/api/connector_mapping.rs
  crates/router/src/types/api/feature_matrix.rs
  crates/router/src/types/connector_transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, M-api-contract-changes
