Repository juspay/hyperswitch, pull requests merged in 2025-02, with the labels that each got.

#7102 chore: bump cypress to `v14.0.0`
  cypress-tests/cypress.config.js
  cypress-tests/cypress/e2e/configs/Payment/Nmi.js
  cypress-tests/cypress/e2e/configs/Payment/Stripe.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/e2e.js
  cypress-tests/cypress/support/redirectionHandler.js
  cypress-tests/cypress/utils/featureFlags.js
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD, S-waiting-on-review

#7156 fix(connector): [NETCETERA] add `sdk-type` and `default-sdk-type` in netcetera authentication request
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
Labels: A-connector-integration, C-bug, M-api-contract-changes

#7063 feat(router): add core changes for external authentication flow through unified_authentication_service
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service.rs
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_domain_models/src/router_flow_types/unified_authentication_service.rs
  crates/hyperswitch_domain_models/src/router_request_types/unified_authentication_service.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/core/unified_authentication_service/transformers.rs
  crates/router/src/core/unified_authentication_service/types.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types.rs
Labels: A-core, C-feature

#7095 fix(samsung_pay): populate `payment_method_data` in the payment response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/payments/additional_info.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/router/src/core/fraud_check/operation/fraud_check_pre.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/types/fraud_check.rs
Labels: C-bug, A-payment-methods, M-api-contract-changes

#6907 fix: invalidate surcharge cache during update
  crates/router/src/core/surcharge_decision_config.rs
Labels: C-bug, S-waiting-on-review

#7183 ci: disable stripe in cypress
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD, S-waiting-on-review

#7090 fix(router): add dynamic fields support for `samsung_pay`
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  loadtest/config/development.toml
Labels: M-configuration-changes, A-payment-methods, A-payments

#7039 feat(router): add card_discovery in payment_attempt
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/types/storage/payment_method.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2025-01-13-060852_add_card_discovery_in_payment_attempt/down.sql
  migrations/2025-01-13-060852_add_card_discovery_in_payment_attempt/up.sql
Labels: A-core, C-feature, M-database-changes

#7153 fix(connector): Fix Paybox 3DS failing issue
  crates/hyperswitch_connectors/src/connectors/paybox/transformers.rs
Labels: A-connector-integration

#6991 feat(core): google pay decrypt flow
  .deepsource.toml
  Cargo.lock
  Cargo.toml
  INSTALL_dependencies.sh
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/cards/src/lib.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/custom_serde.rs
  crates/common_utils/src/lib.rs
  crates/hyperswitch_connectors/src/connectors/bankofamerica/transformers.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/connectors/gocardless/transformers.rs
  crates/hyperswitch_connectors/src/connectors/mollie/transformers.rs
  crates/hyperswitch_connectors/src/connectors/square/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stax/transformers.rs
  crates/hyperswitch_connectors/src/connectors/wellsfargo/transformers.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/masking/src/secret.rs
  crates/router/Cargo.toml
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/connector/braintree/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/types.rs
Labels: A-connector-integration, A-core, M-api-contract-changes

#6687 refactor(core): add recurring customer support for nomupay payouts.
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payouts.rs
  crates/diesel_models/src/payment_method.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/mandates.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/transformers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/utils.rs
Labels: C-feature, M-api-contract-changes

#6875 feat(users): custom role at profile read
  crates/api_models/src/user_role/role.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/query/role.rs
  crates/diesel_models/src/role.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/role.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/utils/user_role.rs
  migrations/2024-10-17-073555_add-profile-id-to-roles/down.sql
  migrations/2024-10-17-073555_add-profile-id-to-roles/up.sql
  migrations/2024-10-17-123943_add-profile-enum-in-role-scope/down.sql
  migrations/2024-10-17-123943_add-profile-enum-in-role-scope/up.sql
  migrations/2024-12-18-061400_change-roles-index/down.sql
  migrations/2024-12-18-061400_change-roles-index/up.sql
Labels: M-database-changes

#7006 feat(analytics): Add currency as dimension and filter for disputes
  crates/analytics/src/disputes/core.rs
  crates/analytics/src/disputes/filters.rs
  crates/analytics/src/disputes/metrics.rs
  crates/analytics/src/disputes/metrics/dispute_status_metric.rs
  crates/analytics/src/disputes/metrics/sessionized_metrics/dispute_status_metric.rs
  crates/analytics/src/disputes/metrics/sessionized_metrics/total_amount_disputed.rs
  crates/analytics/src/disputes/metrics/sessionized_metrics/total_dispute_lost_amount.rs
  crates/analytics/src/disputes/metrics/total_amount_disputed.rs
  crates/analytics/src/disputes/metrics/total_dispute_lost_amount.rs
  crates/analytics/src/disputes/types.rs
  crates/analytics/src/sqlx.rs
  crates/api_models/src/analytics/disputes.rs
Labels: C-feature, A-Analytics

#7187 build(deps): bump `openssl` from 0.10.66 to 0.10.70
  Cargo.lock
  crates/router/Cargo.toml
Labels: A-dependencies

#7011 refactor(connector): [AUTHORIZEDOTNET] Add metadata information to connector request
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-refactor

#7022 feat(core): Implement 3ds decision manger for V2
  .github/CODEOWNERS
  Cargo.lock
  crates/api_models/src/conditional_configs.rs
  crates/common_types/Cargo.toml
  crates/common_types/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema_v2.rs
  crates/euclid/src/dssa/types.rs
  crates/euclid_wasm/Cargo.toml
  crates/euclid_wasm/src/lib.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/conditional_config.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/conditional_configs.rs
  crates/router/src/core/payments/conditional_configs/transformers.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
  crates/router/src/services/authorization/permissions.rs
  v2_migrations/2025-01-13-181842_add_three_ds_decision_manager_config_in_profile/down.sql
  v2_migrations/2025-01-13-181842_add_three_ds_decision_manager_config_in_profile/up.sql
Labels: C-feature, M-database-changes, api-v2

#7106 feat(payments_v2): implement create and confirm intent flow
  api-reference-v2/api-reference/payments/payments--create-and-confirm-intent.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/consts.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payment_method.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router_env/src/logger/types.rs
  v2_migrations/2024-08-28-081721_add_v2_columns/down.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
  v2_migrations/2024-11-08-081847_drop_v1_columns/down.sql
  v2_migrations/2024-11-08-081847_drop_v1_columns/up.sql
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, M-api-contract-changes, A-payments, api-v2

#7141 fix(connector): [Authorizedotnet] fix deserialization error for Paypal while canceling payment
  crates/router/src/connector/authorizedotnet/transformers.rs
Labels: A-connector-integration, C-bug

#7137 fix(core): Add payment_link_data in PaymentData for Psync
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_status.rs
Labels: C-bug

#7097 fix(connector): [worldpay] remove threeDS data from Authorize request for NTI flows
  crates/hyperswitch_connectors/src/connectors/worldpay/requests.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/transformers.rs
Labels: A-connector-integration

#6755 feat(connector): [INESPAY] Integrate Sepa Bank Debit
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/development.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors/inespay.rs
  crates/hyperswitch_connectors/src/connectors/inespay/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
Labels: A-connector-integration, M-api-contract-changes

#7056 FEAT: Add Support for Amazon Pay Redirect and Amazon Pay payment via Stripe
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/hyperswitch_connectors/src/connectors/airwallex/transformers.rs
  crates/hyperswitch_connectors/src/connectors/bankofamerica/transformers.rs
  crates/hyperswitch_connectors/src/connectors/bluesnap/transformers.rs
  crates/hyperswitch_connectors/src/connectors/boku/transformers.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/connectors/globepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nexinets/transformers.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
  crates/hyperswitch_connectors/src/connectors/shift4/transformers.rs
  crates/hyperswitch_connectors/src/connectors/square/transformers.rs
  crates/hyperswitch_connectors/src/connectors/wellsfargo/transformers.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/kgraph_utils/src/mca.rs
  crates/kgraph_utils/src/transformers.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/connector/aci/transformers.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/mifinity/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/payme/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/types/transformers.rs
Labels: A-connector-integration, M-api-contract-changes

#7083 refactor(router): store `network_transaction_id` for `off_session` payments irrespective of the `is_connector_agnostic_mit_enabled` config
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/tokenization.rs
  cypress-tests/cypress/e2e/spec/Payment/00024-ConnectorAgnosticNTID.cy.js
Labels: A-core, A-payment-methods, C-refactor, A-payments

#6985 chore(roles): remove redundant variant from PermissionGroup
  crates/common_enums/src/enums.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/permission_groups.rs
  migrations/2025-01-03-104019_migrate_permission_group_for_recon/down.sql
  migrations/2025-01-03-104019_migrate_permission_group_for_recon/up.sql
Labels: M-database-changes

#7015 refactor(dynamic_fields): dynamic fields for Adyen and Stripe, renaming klarnaCheckout, WASM for KlarnaCheckout
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/connector_configs/src/transformer.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/multisafepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/square/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/klarna.rs
  crates/router/src/connector/klarna/transformers.rs
  crates/router/src/connector/nuvei/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
Labels: M-api-contract-changes

#7052 feat(connector): [COINGATE] Add Template PR
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/coingate.rs
  crates/hyperswitch_connectors/src/connectors/coingate/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/coingate.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#6761 feat(routing): Contract based routing integration
  .github/CODEOWNERS
  api-reference/openapi_spec.json
  crates/api_models/src/events/routing.rs
  crates/api_models/src/routing.rs
  crates/external_services/build.rs
  crates/external_services/src/grpc_client/dynamic_routing.rs
  crates/external_services/src/grpc_client/dynamic_routing/contract_routing_client.rs
  crates/external_services/src/grpc_client/dynamic_routing/elimination_based_client.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/routing.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/metrics.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/metrics/bg_metrics_collector.rs
  crates/router/src/routes/routing.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
  proto/contract_routing.proto
Labels: A-core, M-api-contract-changes, A-routing

#7120 fix(connector): handle unexpected error response from bluesnap connector
  crates/hyperswitch_connectors/src/connectors/bluesnap.rs
Labels: C-bug

#7123 feat(core): Add support for v2 payments get intent using merchant reference id
  crates/diesel_models/src/query/payment_intent.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/payments.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: A-core, api-v2

#7130 fix(dashboard_metadata): mask `poc_email` and `data_value` for DashboardMetadata
  crates/api_models/src/user/dashboard_metadata.rs
  crates/diesel_models/src/user/dashboard_metadata.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/services/email/types.rs
  crates/router/src/utils/user/dashboard_metadata.rs
Labels: C-bug, A-users

#7168 feat(router): add `organization_id` in authentication table and add it in authentication events
  crates/analytics/docs/clickhouse/scripts/authentications.sql
  crates/diesel_models/src/authentication.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/db/authentication.rs
  crates/router/src/services/kafka/authentication.rs
  crates/router/src/services/kafka/authentication_event.rs
  migrations/2025-01-30-111507_add_organization_id_in_authentication/down.sql
  migrations/2025-01-30-111507_add_organization_id_in_authentication/up.sql
Labels: A-core, C-feature, M-database-changes

#7182 chore(connectors): [fiuu] update pm_filters for apple pay and google pay
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
Labels: M-configuration-changes

#6026 feat(connector): [DataTrans] ADD 3DS Flow
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/datatrans.rs
  crates/hyperswitch_connectors/src/connectors/datatrans/transformers.rs
  crates/hyperswitch_connectors/src/connectors/paybox/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  loadtest/config/development.toml
Labels: A-connector-integration

#7205 fix(core): Add payment_link_data in PaymentData for Psync
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_status.rs
Labels: Hotfix

#7158 ci(cypress): Add Tests for Customer Deletion and Psync flows
  cypress-tests/cypress/e2e/spec/Payment/00026-DeletedCustomerPsyncFlow.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00027-BusinessProfileConfigs.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00028-DynamicFields.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00029-IncrementalAuth.cy.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#7121 refactor(router): add display_name field to connector feature api
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/feature_matrix.rs
  crates/hyperswitch_connectors/src/connectors/bambora.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank.rs
  crates/hyperswitch_connectors/src/connectors/zsl.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/router/src/routes/feature_matrix.rs
Labels: A-connector-compatibility, M-api-contract-changes, enhancement

#7167 refactor(connector): Move connectors Aci, Braintree, Globalpay, Iatapay, Itaubank, Klarna, Mifinity and Nuvei from router to hyperswitch_connectors crate
  Cargo.lock
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/aci.rs
  crates/hyperswitch_connectors/src/connectors/aci/aci_result_codes.rs
  crates/hyperswitch_connectors/src/connectors/aci/transformers.rs
  crates/hyperswitch_connectors/src/connectors/braintree.rs
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
  crates/hyperswitch_connectors/src/connectors/globalpay.rs
  crates/hyperswitch_connectors/src/connectors/globalpay/requests.rs
  crates/hyperswitch_connectors/src/connectors/globalpay/response.rs
  crates/hyperswitch_connectors/src/connectors/globalpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/iatapay.rs
  crates/hyperswitch_connectors/src/connectors/iatapay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/itaubank.rs
  crates/hyperswitch_connectors/src/connectors/itaubank/transformers.rs
  crates/hyperswitch_connectors/src/connectors/klarna.rs
  crates/hyperswitch_connectors/src/connectors/klarna/transformers.rs
  crates/hyperswitch_connectors/src/connectors/mifinity.rs
  crates/hyperswitch_connectors/src/connectors/mifinity/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nuvei.rs
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#7073 feat(opensearch): add amount and customer_id as filters and handle name for different indexes
  crates/analytics/src/opensearch.rs
  crates/analytics/src/search.rs
  crates/api_models/src/analytics/search.rs
Labels: C-feature, A-Analytics

#7144 refactor(router): add feature_metadata for merchant_connector_account create v2 flow
  api-reference-v2/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/connector_onboarding/paypal.rs
  crates/router/src/core/verification/utils.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/types.rs
  crates/router/src/types/transformers.rs
  v2_migrations/2025-01-29-103844_add_feature_metadata_in_merchant_connector_account/down.sql
  v2_migrations/2025-01-29-103844_add_feature_metadata_in_merchant_connector_account/up.sql
Labels: A-core, M-database-changes, M-api-contract-changes, api-v2

#7200 fix(connector): fix incorrect mapping of attempt status in NMI connector
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-bug

#7209 refactor(core): add support for expand attempt list in psync v2
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_get.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/db/kafka_store.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  v2_migrations/2025-02-10-101458_create_index_payment_attempt_payment_id/down.sql
  v2_migrations/2025-02-10-101458_create_index_payment_attempt_payment_id/up.sql
Labels: A-core, M-database-changes, M-api-contract-changes, api-v2

#7107 feat(payment_methods_session_v2): add payment methods session endpoints
  api-reference-v2/api-reference/customers/customers--list-saved-payment-methods.mdx
  api-reference-v2/api-reference/payment-method-session/payment-method-session--create.mdx
  api-reference-v2/api-reference/payment-method-session/payment-method-session--list-payment-methods.mdx
  api-reference-v2/api-reference/payment-method-session/payment-method-session--retrieve.mdx
  api-reference-v2/api-reference/payment-method-session/payment-method-session--update-a-saved-payment-method.mdx
  api-reference-v2/api-reference/payment-methods/payment-methods--payment-methods-list.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  config/development.toml
  crates/api_models/src/customers.rs
  crates/api_models/src/ephemeral_key.rs
  crates/api_models/src/events.rs
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/common_types/src/payment_methods.rs
  crates/common_utils/src/crypto.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/client_secret.rs
  crates/common_utils/src/id_type/ephemeral_key.rs
  crates/common_utils/src/id_type/global_id.rs
  crates/common_utils/src/id_type/global_id/payment_methods.rs
  crates/common_utils/src/types/authentication.rs
  crates/diesel_models/src/customers.rs
  crates/diesel_models/src/ephemeral_key.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/payment_methods_session.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payment_method.rs
  crates/router/src/consts.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/surcharge_decision_configs.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/db.rs
  crates/router/src/db/ephemeral_key.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/payment_method_session.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/storage/ephemeral_key.rs
  crates/router_env/src/logger/types.rs
Labels: M-api-contract-changes

#7233 feat(connector): [INESPAY] Enable Inespay In Dashboard
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration

#7105 feat(connector): [GETNET] add Connector Template Code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/getnet.rs
  crates/hyperswitch_connectors/src/connectors/getnet/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/getnet.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#7219 refactor(cypress): make amount configurable
  cypress-tests/cypress/e2e/configs/Payment/Adyen.js
  cypress-tests/cypress/e2e/configs/Payment/BankOfAmerica.js
  cypress-tests/cypress/e2e/configs/Payment/Bluesnap.js
  cypress-tests/cypress/e2e/configs/Payment/Checkout.js
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/configs/Payment/Cybersource.js
  cypress-tests/cypress/e2e/configs/Payment/Datatrans.js
  cypress-tests/cypress/e2e/configs/Payment/Deutschebank.js
  cypress-tests/cypress/e2e/configs/Payment/Elavon.js
  cypress-tests/cypress/e2e/configs/Payment/Fiservemea.js
  cypress-tests/cypress/e2e/configs/Payment/Fiuu.js
  cypress-tests/cypress/e2e/configs/Payment/Iatapay.js
  cypress-tests/cypress/e2e/configs/Payment/Jpmorgan.js
  cypress-tests/cypress/e2e/configs/Payment/Nexixpay.js
  cypress-tests/cypress/e2e/configs/Payment/Nmi.js
  cypress-tests/cypress/e2e/configs/Payment/Noon.js
  cypress-tests/cypress/e2e/configs/Payment/Novalnet.js
  cypress-tests/cypress/e2e/configs/Payment/Paybox.js
  cypress-tests/cypress/e2e/configs/Payment/Paypal.js
  cypress-tests/cypress/e2e/configs/Payment/Stripe.js
  cypress-tests/cypress/e2e/configs/Payment/Trustpay.js
  cypress-tests/cypress/e2e/configs/Payment/WellsFargo.js
  cypress-tests/cypress/e2e/configs/Payment/WorldPay.js
  cypress-tests/cypress/e2e/configs/Payment/Xendit.js
  cypress-tests/cypress/e2e/configs/PaymentMethodList/Commons.js
  cypress-tests/cypress/e2e/configs/Routing/Adyen.js
  cypress-tests/cypress/e2e/configs/Routing/Stripe.js
  cypress-tests/cypress/e2e/spec/Payment/00006-NoThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00009-RefundPayment.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00010-SyncRefund.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00011-CreateSingleuseMandate.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00012-CreateMultiuseMandate.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00013-ListAndRevokeMandate.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00014-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00015-ZeroAuthMandate.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00016-ThreeDSManualCapture.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00019-MandatesUsingPMID.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00020-MandatesUsingNTIDProxy.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00021-UPI.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00022-Variations.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00026-DeletedCustomerPsyncFlow.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00029-IncrementalAuth.cy.js
  cypress-tests/cypress/fixtures/create-confirm-body.json
  cypress-tests/cypress/fixtures/create-mandate-cit.json
  cypress-tests/cypress/fixtures/create-payment-body.json
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#7223 fix(v2): Trait gating in v2
  crates/router/src/core/routing/helpers.rs
Labels: C-bug, api-v2

#7100 refactor(connector): [Adyen] Removed deprecated PMTs from Ayden (Giropay, Sofort)
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, A-payment-methods

#7017 refactor(schema): add a new column for storing large connector transaction IDs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/capture.rs
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/query/capture.rs
  crates/diesel_models/src/refund.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/requests.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/transformers.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/db/capture.rs
  crates/router/src/db/refund.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  cypress-tests/cypress/e2e/configs/Payment/WorldPay.js
  migrations/2025-01-09-135057_add_processor_transaction_data/down.sql
  migrations/2025-01-09-135057_add_processor_transaction_data/up.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/down.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: M-database-changes, A-payments

#7089 feat(core): 3ds decision manager for v2
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/conditional_configs.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
Labels: C-feature, M-api-contract-changes, api-v2

#7220 ci(cypress): add test cases for duplicate requests
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/spec/Payment/00022-Variations.cy.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#7253 refactor(schema): add a new column for storing large connector transaction IDs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/capture.rs
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/query/capture.rs
  crates/diesel_models/src/refund.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/requests.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/transformers.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/db/capture.rs
  crates/router/src/db/refund.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  cypress-tests/cypress/e2e/configs/Payment/WorldPay.js
  migrations/2025-01-09-135057_add_processor_transaction_data/down.sql
  migrations/2025-01-09-135057_add_processor_transaction_data/up.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/down.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: M-database-changes

#7216 feat(connector): [Moneris] add template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/moneris.rs
  crates/hyperswitch_connectors/src/connectors/moneris/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/moneris.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#7204 refactor(payments): Add platform merchant account checks for payment intent
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_capture_v2.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_get.rs
  crates/router/src/core/payments/operations/payment_get_intent.rs
  crates/router/src/core/payments/operations/payment_post_session_tokens.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_session_intent.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/operations/tax_calculation.rs
  crates/router/src/core/utils.rs
  crates/router/src/routes/payment_methods.rs
Labels: A-core, S-waiting-on-review, C-refactor

#7230 feat(core): add card_discovery filter to payment list and payments Response
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/services/kafka/payment_attempt.rs
  crates/router/src/services/kafka/payment_attempt_event.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: A-core, S-waiting-on-review, M-api-contract-changes, enhancement

#7246 refactor(payments_v2): create customer at connector end and populate connector customer ID
  crates/diesel_models/src/customers.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/customers.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/types/storage/customers.rs
Labels: A-core, C-refactor, A-payments, api-v2

#7259 ci(nix): update om command invocation
  .github/workflows/nix.yaml
Labels: A-CI-CD

#7176 refactor(router): add revenue_recovery_metadata to payment intent in diesel and api model for v2 flow
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/types.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/openapi/src/openapi_v2.rs
Labels: M-api-contract-changes

#7245 feat(connector): [Datatrans] add mandate flow
  crates/hyperswitch_connectors/src/connectors/datatrans.rs
  crates/hyperswitch_connectors/src/connectors/datatrans/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: A-connector-integration, C-feature

#7145 feat(payment_methods_v2): add support for network tokenization
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/cards/src/lib.rs
  crates/cards/src/validate.rs
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/network_tokenization.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/Cargo.toml
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/network_tokenization.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/payment_methods.rs
Labels: S-waiting-on-review, A-payment-methods, M-api-contract-changes

#7113 feat(core): introduce accounts schema for accounts related tables
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/diesel_models/src/organization.rs
  crates/drainer/src/settings.rs
  crates/router/src/configs/settings.rs
  crates/router/src/connection.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/db.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/organization.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user/theme.rs
  crates/storage_impl/src/config.rs
  crates/storage_impl/src/database/store.rs
  crates/storage_impl/src/lib.rs
  loadtest/config/development.toml
  v2_migrations/2024-08-28-081722_drop_not_null_constraints_on_v1_columns/down.sql
  v2_migrations/2024-08-28-081722_drop_not_null_constraints_on_v1_columns/up.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/down.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/up.sql
Labels: S-waiting-on-review, M-database-changes, M-configuration-changes

#7273 feat(utils): add iso representation for each state for european countries
  .typos.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/mandates.rs
  crates/router/src/core/payments.rs
Labels: C-bug, C-feature

#7247 feat(coingate): Add Crypto Pay Flow
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/coingate.rs
  crates/hyperswitch_connectors/src/connectors/coingate/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, M-api-contract-changes

#7278 refactor(utils): use to_state_code of hyperswitch_connectors in router
  .typos.toml
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-refactor

#7282 feat(utils): add iso representation for each state for european countries
  .typos.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/mandates.rs
  crates/router/src/core/payments.rs
Labels: C-feature

#7287 refactor(utils): use to_state_code of hyperswitch_connectors in router
  .typos.toml
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/connector/utils.rs
Labels: C-refactor

#7293 fix(utils): add to_state_code to router crate
  crates/router/src/connector/utils.rs
Labels: C-bug

#7288 feat(payments): [Payment links] Add configs for payment link
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.css
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_initiate/secure_payment_link_initiator.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/macros.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#6607 feat(core): api ,domain and diesel model changes for extended authorization
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/payments/trait_impls.rs
  crates/common_utils/src/types.rs
  crates/common_utils/src/types/primitive_wrappers.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2024-11-13-090548_add-extended-authorization-related-fields/down.sql
  migrations/2024-11-13-090548_add-extended-authorization-related-fields/up.sql
Labels: S-waiting-on-review, M-database-changes, M-api-contract-changes, increases-compile-time

#7302 feat(utils): add iso representation for each state for european countries
  .typos.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/mandates.rs
  crates/router/src/core/payments.rs
Labels: A-connector-integration, C-feature

#7249 feat(connector): [Moneris] Add payments flow
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/deployments/production.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/moneris.rs
  crates/hyperswitch_connectors/src/connectors/moneris/transformers.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/moneris.rs
  crates/test_utils/src/connector_auth.rs
  cypress-tests/cypress/e2e/configs/Payment/Moneris.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: A-connector-integration, C-feature, M-api-contract-changes

#7303 refactor(utils): use to_state_code of hyperswitch_connectors in router
  .typos.toml
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/connector/utils.rs
Labels: C-refactor

#7300 refactor(utils): match string for state with SDK's naming convention
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: C-refactor

#7311 refactor(utils): match string for state with SDK's naming convention
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: C-refactor

#7296 ci(cypress): add assertions for `requires_cvv`
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#7301 fix(connector): [SCRIPT] Update template generating script and updated connector doc
  add_connector_updated.md
  scripts/add_connector.sh
Labels: C-feature

#6982 feat(core): add support for confirmation flow for click to pay
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/connectors/datatrans/transformers.rs
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service.rs
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service/transformers.rs
  crates/hyperswitch_connectors/src/connectors/wellsfargo/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_domain_models/src/router_flow_types/unified_authentication_service.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_request_types/unified_authentication_service.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/router/src/connector/checkout/transformers.rs
  crates/router/src/connector/nmi/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/core/unified_authentication_service/types.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/types.rs
Labels: A-core, C-feature, S-waiting-on-review

#7191 feat(router): Add Payments - List endpoint for v2
  api-reference-v2/api-reference/payments/payments--list.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api/payments.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/mock_db/payment_intent.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  crates/storage_impl/src/payments/payment_intent.rs
Labels: M-api-contract-changes

#7270 fix(payment_methods_v2): update fingerprint implementation in v2
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/vault.rs
Labels: S-waiting-on-review, A-payment-methods

#7143 feat(router): [Xendit] add support for split payments
  Cargo.lock
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/common_types/src/domain.rs
  crates/common_types/src/payments.rs
  crates/common_types/src/refunds.rs
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/xendit.rs
  crates/hyperswitch_connectors/src/connectors/xendit/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/refunds/validator.rs
  crates/router/src/core/utils.rs
Labels: M-api-contract-changes

#7327 fix(connector): [DATATRANS] Add new payment status
  crates/hyperswitch_connectors/src/connectors/datatrans/transformers.rs
Labels: A-connector-integration, C-bug

#7331 fix(connector): [DATATRANS] Fix Force Sync Flow
  crates/hyperswitch_connectors/src/connectors/datatrans/transformers.rs
Labels: A-connector-integration

#7348 feat(router): add merchant_configuration_id in netcetera metadata and make other merchant configurations optional
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, C-feature, M-configuration-changes

#7335 fix(routing): Fixed 5xx error logs in dynamic routing metrics
  crates/router/src/core/routing/helpers.rs
Labels: C-bug

#7347 feat(router): add `merchant_configuration_id` in netcetera metadata and make other merchant configurations optional
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, C-feature, M-configuration-changes

#7345 ci: update creds
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD

#7320 feat(samsung_pay): collect customer address details form Samsung Pay based on business profile config and connector required fields
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-core, C-feature, A-payment-methods, M-api-contract-changes

#7281 chore(masking): add peek_mut to PeekInterface
  crates/masking/src/abs.rs
  crates/masking/src/bytes.rs
  crates/masking/src/secret.rs
  crates/masking/src/strong_secret.rs
Labels: A-core, S-waiting-on-review

#7298 feat(connector): add Samsung pay mandate support for Cybersource
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/cybersource.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: C-feature, A-payment-methods, A-payments

#7337 fix(samsung_pay): add payment_method_type duplication check
  crates/common_enums/src/enums.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
Labels: A-core, C-bug, A-payment-methods

#7332 fix(routing): Fixed 5xx error logs in dynamic routing metrics
  crates/router/src/core/routing/helpers.rs
Labels: C-bug

#7342 fix(router): resolve spell check for state introduced for ISO representation
  .typos.toml
Labels: C-bug

#7221 fix(connector): [NMI] Added enum for Void Reason
  crates/router/src/connector/nmi/transformers.rs
Labels: A-connector-integration, C-bug

#7334 ci(CI-pr): disable `cargo-hack` step for hotfix PRs
  .github/workflows/CI-pr.yml
Labels: A-CI-CD, S-waiting-on-review

#7308 ci: minor refactors and improvements
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  .github/workflows/archive/connector-sanity-tests.yml
  .github/workflows/archive/connector-ui-sanity-tests.yml
  .github/workflows/auto-release-tag.yml
  .github/workflows/create-hotfix-branch.yml
  .github/workflows/create-hotfix-tag.yml
  .github/workflows/cypress-tests-runner.yml
  .github/workflows/manual-release.yml
  .github/workflows/migration-check.yaml
  .github/workflows/postman-collection-runner.yml
  .github/workflows/pr-convention-checks.yml
  .github/workflows/pr-title-spell-check.yml
  .github/workflows/release-nightly-version-reusable.yml
  .github/workflows/release-stable-version.yml
  Dockerfile
Labels: A-CI-CD

#7108 feat(core): [Card Testing Guard] Implement Card Testing Guard
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/common_utils/src/consts.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/card_testing_guard_data.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/consts.rs
  crates/router/src/core.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/card_testing_guard.rs
  crates/router/src/core/card_testing_guard/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_post_session_tokens.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/operations/tax_calculation.rs
  crates/router/src/services.rs
  crates/router/src/services/card_testing_guard.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/transformers.rs
  migrations/2025-01-27-113914_add_card_testing_guard_config_column_to_business_profile/down.sql
  migrations/2025-01-27-113914_add_card_testing_guard_config_column_to_business_profile/up.sql
Labels: M-database-changes, M-api-contract-changes

#7343 fix(cybersource): Add truncation logic for administrative area
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/scheduler/src/utils.rs
Labels: A-connector-integration

#7351 ci(hotfix-pr-check): conditionally enforce requirement of main branch PR being merged
  .github/workflows/hotfix-pr-check.yml
Labels: A-CI-CD

#7365 fix(core): make parsing optional for connector_wallet_details in session token flow
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-core, C-bug

#7372 feat(router): add `merchant_configuration_id` in netcetera metadata and make other merchant configurations optional
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, C-feature

#7370 fix(core): make parsing optional for connector_wallet_details in session token flow
  crates/router/src/core/payments/flows/session_flow.rs
Labels: A-core, C-bug

#7272 fix: Fixed Contract Updation in Dynamic Routing flow
  crates/external_services/src/grpc_client/dynamic_routing.rs
  crates/external_services/src/grpc_client/dynamic_routing/contract_routing_client.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing/helpers.rs
Labels: A-core, A-routing

#7274 feat(core): add support to external 3ds authentication for co-badged cards
  crates/hyperswitch_domain_models/src/router_request_types/authentication.rs
  crates/router/src/connector/gpayments/transformers.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-connector-integration, A-core, C-feature

#7290 feat(connector): [DLOCAL, MOLLIE, MIFINITY, RAZORPAY, VOLT] add in feature matrix api
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/dlocal.rs
  crates/hyperswitch_connectors/src/connectors/mifinity.rs
  crates/hyperswitch_connectors/src/connectors/mollie.rs
  crates/hyperswitch_connectors/src/connectors/razorpay.rs
  crates/hyperswitch_connectors/src/connectors/volt.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature

#6511 feat(connector): [Nomupay] Implement nomupay payouts flows
  Cargo.lock
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/nomupay.rs
  crates/hyperswitch_connectors/src/connectors/nomupay/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_interfaces/src/api/payouts.rs
  crates/hyperswitch_interfaces/src/api/payouts_v2.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/nomupay.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  cypress-tests/cypress/e2e/configs/Payout/Nomupay.js
  cypress-tests/cypress/e2e/configs/Payout/Utils.js
  cypress-tests/cypress/e2e/spec/Payout/00004-BankTransfer.cy.js
  cypress-tests/cypress/e2e/spec/Payout/00006-PayoutUsingPayoutMethodId.cy.js
  cypress-tests/cypress/support/commands.js
  loadtest/config/development.toml
Labels: A-connector-integration, M-api-contract-changes

#7139 fix(connector): Ideal and multiple other failing PMs fixed in Ayden
  crates/router/src/connector/adyen/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Adyen.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: C-bug

#7248 feat(payment_method_session): implement payment methods session confirm
  api-reference-v2/api-reference/payment-method-session/payment-method-session--confirm-a-payment-method-session.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events.rs
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/common_types/src/payment_methods.rs
  crates/common_utils/src/macros.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/payment_methods_session.rs
  crates/hyperswitch_domain_models/src/api.rs
  crates/hyperswitch_domain_models/src/mandates.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payment_method.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/payment_method_session.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/errors.rs
Labels: M-api-contract-changes

#7244 refactor(v1v2): refactor database queries for v1 and v2
  crates/common_enums/src/enums.rs
  crates/common_enums/src/enums/accounts.rs
  crates/diesel_models/drop_id.patch
  crates/diesel_models/remove_id.patch
  crates/diesel_models/src/blocklist_fingerprint.rs
  crates/diesel_models/src/blocklist_lookup.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/configs.rs
  crates/diesel_models/src/locker_mock_up.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/router/src/core/admin.rs
  crates/router/src/db/configs.rs
  crates/router/src/db/locker_mock_up.rs
  diesel.toml
  justfile
  migrations/2025-02-06-111828_drop_int_id_column_accross_database/down.sql
  migrations/2025-02-06-111828_drop_int_id_column_accross_database/up.sql
  migrations/2025-02-10-101701_recreate_varchar_id_column_for_merchant_account/down.sql
  migrations/2025-02-10-101701_recreate_varchar_id_column_for_merchant_account/up.sql
  migrations/2025-02-11-062329_add-product-type-column-merchant-account/down.sql
  migrations/2025-02-11-062329_add-product-type-column-merchant-account/up.sql
  v2_migrations/2024-08-23-112510_payment_methods_v2_db_changes/down.sql
  v2_migrations/2024-08-23-112510_payment_methods_v2_db_changes/up.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/down.sql
  v2_migrations/2024-08-28-081721_add_v2_columns/up.sql
  v2_migrations/2024-08-28-081722_drop_not_null_constraints_on_v1_columns/down.sql
  v2_migrations/2024-08-28-081722_drop_not_null_constraints_on_v1_columns/up.sql
  v2_migrations/2024-08-28-081747_recreate_ids_for_v2/down.sql
  v2_migrations/2024-08-28-081747_recreate_ids_for_v2/up.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/down.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/up.sql
  v2_migrations/2024-08-28-081839_add_not_null_constraints_to_v2_columns/down.sql
  v2_migrations/2024-08-28-081839_add_not_null_constraints_to_v2_columns/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/down.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
  v2_migrations/2025-01-13-081848_alter_column_types_for_v2/down.sql
  v2_migrations/2025-01-13-081848_alter_column_types_for_v2/up.sql
  v2_migrations/2025-01-13-181842_add_three_ds_decision_manager_config_in_profile/down.sql
  v2_migrations/2025-01-13-181842_add_three_ds_decision_manager_config_in_profile/up.sql
  v2_migrations/2025-01-29-103844_add_feature_metadata_in_merchant_connector_account/down.sql
  v2_migrations/2025-01-29-103844_add_feature_metadata_in_merchant_connector_account/up.sql
Labels: S-waiting-on-review, M-database-changes

#7285 feat(connector): [PAYSTACK] Template PR
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/paystack.rs
  crates/hyperswitch_connectors/src/connectors/paystack/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/paystack.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, M-api-contract-changes

#7110 feat(connector): Add support for chargebee recovery webhooks
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/id_type/payment.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/chargebee.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/router/Cargo.toml
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  v2_migrations/2025-02-24-053820_add_billing_processor_value_to_connector_type_enum/down.sql
  v2_migrations/2025-02-24-053820_add_billing_processor_value_to_connector_type_enum/up.sql
Labels: A-connector-integration, A-core, M-database-changes, M-api-contract-changes

#7340 feat(payments): [Payment links] add configs for payment link
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes, Payment Links

#7387 docs(api-reference): fix the content of the tip
  api-reference/api-reference/payments/Introduction--to--payments.mdx
Labels: C-doc

#7394 feat(payments): [Payment links] add configs for payment link
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes
