Repository juspay/hyperswitch, pull requests merged in 2025-04, with the labels that each got.

#7672 refactor(ci): update `Stripe` response `status`, `error_code`, and `error_message` for deprecated `Sofort`
  cypress-tests/cypress/e2e/configs/Payment/Stripe.js
Labels: A-CI-CD

#7674 feat(dashboard): Added wasm changes to collect metadata for visa_ctp
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-core

#7639 feat(router): add payment method display name to feature matrix response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/feature_matrix.rs
  crates/common_enums/src/enums.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/routes/feature_matrix.rs
Labels: A-framework, A-core, C-feature, M-api-contract-changes

#7603 fix(connectors): [Hipay] Fix 3DS Mandatory Fields
  crates/hyperswitch_connectors/src/connectors/bankofamerica/transformers.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/connectors/hipay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/wellsfargo/transformers.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/types.rs
  cypress-tests/cypress/e2e/configs/Payment/Hipay.js
Labels: A-connector-integration

#7496 ci(cypress): verify `payment_method_status` for respective attempt status
  cypress-tests/cypress/e2e/configs/Payment/Adyen.js
  cypress-tests/cypress/e2e/configs/Payment/Fiuu.js
  cypress-tests/cypress/e2e/configs/Payment/Novalnet.js
  cypress-tests/cypress/e2e/configs/Payment/WorldPay.js
  cypress-tests/cypress/e2e/spec/Payment/00014-SaveCardFlow.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00015-ZeroAuthMandate.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00018-BankRedirect.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00019-MandatesUsingPMID.cy.js
  cypress-tests/cypress/e2e/spec/Routing/00001-VolumeBasedRouting.cy.js
  cypress-tests/cypress/e2e/spec/Routing/00002-RuleBasedRouting.cy.js
  cypress-tests/cypress/fixtures/confirm-body.json
  cypress-tests/cypress/fixtures/create-confirm-body.json
  cypress-tests/cypress/fixtures/create-mandate-cit.json
  cypress-tests/cypress/fixtures/create-ntid-mit.json
  cypress-tests/cypress/fixtures/create-pm-id-mit.json
  cypress-tests/cypress/fixtures/merchant-create-body.json
  cypress-tests/cypress/fixtures/merchant-update-body.json
  cypress-tests/cypress/support/commands.js
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD, S-waiting-on-review

#7657 ci(cypress): verify existence of `payment_id` after redirection
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, S-waiting-on-review

#7660 feat(process_tracker): Invoke record back flow in PCR workflow [V2]
  crates/diesel_models/src/types.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_interfaces/src/connector_integration_v2.rs
  crates/router/src/core/revenue_recovery.rs
  crates/router/src/core/revenue_recovery/types.rs
  crates/router/src/workflows/revenue_recovery.rs
  crates/storage_impl/src/errors.rs
Labels: A-core, A-process-tracker, api-v2

#7678 refactor(openapi): update authentication for profiles and mca openapi
  api-reference/openapi_spec.json
  crates/openapi/src/routes/merchant_connector_account.rs
  crates/openapi/src/routes/profile.rs
Labels: M-api-contract-changes

#7701 fix: web-docker pull from docker hub
  docker-compose.yml
Labels: A-infra

#7686 docs: Updated next steps after deployment setup on Readme
  README.md
Labels: C-doc

#7698 ci(cypress): fix iatapay upi payments
  cypress-tests/cypress/e2e/configs/Payment/Iatapay.js
  cypress-tests/cypress/e2e/spec/Payment/00022-Variations.cy.js
Labels: A-CI-CD

#7700 fix: web-docker pull from docker hub
  docker-compose.yml
Labels: A-CI-CD

#7697 refactor(openapi): modify profile-delete auth to AdminAPIKey in API doc
  api-reference/openapi_spec.json
  crates/openapi/src/routes/profile.rs
Labels: C-bug, M-api-contract-changes

#7705 refactor(core): made provider field in ctp_service_details backward compatible
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/unified_authentication_service.rs
Labels: A-core, C-refactor, M-api-contract-changes

#7695 refactor(analytics): default config for forex_enabled
  crates/analytics/src/lib.rs
Labels: C-bug, A-Analytics

#7714 refactor(core): made provider field in ctp_service_details backward compatible
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/unified_authentication_service.rs
Labels: M-api-contract-changes, Hotfix

#7626 refactor(accounts): move accounts related tables to accounts schema
  crates/common_types/src/payment_methods.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/router/src/db.rs
  crates/router/src/db/business_profile.rs
  crates/router/src/db/merchant_account.rs
  crates/router/src/db/merchant_connector_account.rs
  migrations/2025-03-25-090203_add_id_column_to_profile_mca/down.sql
  migrations/2025-03-25-090203_add_id_column_to_profile_mca/up.sql
  v2_compatible_migrations/2024-08-28-081747_recreate_ids_for_v2/down.sql
  v2_compatible_migrations/2024-08-28-081747_recreate_ids_for_v2/up.sql
  v2_compatible_migrations/2024-08-28-081757_drop_not_null_constraints_on_v1_columns/down.sql
  v2_compatible_migrations/2024-08-28-081757_drop_not_null_constraints_on_v1_columns/up.sql
  v2_migrations/2025-01-13-081848_alter_column_types_for_v2/up.sql
Labels: M-database-changes

#7683 feat(session): Added dpa_client_id, provider to click to pay session response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_domain_models/src/payments.rs
  crates/router/src/core/payments.rs
Labels: A-core, M-api-contract-changes

#7703 chore(dashboard): update dashboard toml
  config/dashboard.toml
Labels: A-CI-CD

#7716 fix(connector): [Coingate] Fix Wasm Changes
  crates/connector_configs/src/common_config.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: M-configuration-changes

#7713 fix(connector): [Nexixpay] handle error code and message in failure response
  crates/hyperswitch_connectors/src/connectors/nexixpay/transformers.rs
Labels: A-connector-compatibility, C-bug

#7721 fix(connector): [Novalnet] handle refund failure response in novalnet
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
Labels: C-bug

#7484 feat(core): added force_3ds_challenge for decoupled txns
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  migrations/2025-03-11-171330_add-force-3ds-challenge-in-payment-intent/down.sql
  migrations/2025-03-11-171330_add-force-3ds-challenge-in-payment-intent/up.sql
  migrations/2025-03-20-085151_force-3ds-challenge-triggered/down.sql
  migrations/2025-03-20-085151_force-3ds-challenge-triggered/up.sql
Labels: A-core, S-waiting-on-review, M-database-changes, M-api-contract-changes

#7744 feat(authentication): create authentications to fallback to ApiKeyAuth if AdminApiAuth fails
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/services/authentication.rs
Labels: C-feature

#7756 ci(cypress-ci): remove wise payout from running in github ci
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD

#7662 feat(router): Support `card` in `payment_method_subtype` [V2]
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/common_enums/Cargo.toml
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/types.rs
  crates/euclid/Cargo.toml
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/hyperswitch_connectors/src/connectors/adyen.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_connectors/src/connectors/klarna.rs
  crates/hyperswitch_connectors/src/connectors/paypal/transformers.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/kgraph_utils/Cargo.toml
  crates/kgraph_utils/src/mca.rs
  crates/kgraph_utils/src/transformers.rs
  crates/router/Cargo.toml
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/revenue_recovery/types.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/transformers.rs
  v2_migrations/2025-03-25-074512_payment-method-subtype-mandatory/down.sql
  v2_migrations/2025-03-25-074512_payment-method-subtype-mandatory/up.sql
Labels: M-database-changes, M-api-contract-changes, api-v2

#7690 refactor(cypress): update BOA configs for manual payments' refunds and connector agnostic
  cypress-tests/cypress/e2e/configs/Payment/BankOfAmerica.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: A-CI-CD

#7497 feat(connector): Add recovery support for recurly [v2]
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/recurly.rs
  crates/hyperswitch_connectors/src/connectors/recurly/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  loadtest/config/development.toml
Labels: A-connector-integration, A-core, C-feature, api-v2

#7730 chore(postman): update `Stripe` response `status`, `error_code`, and `error_message` for deprecated `Sofort`
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario16-Bank Redirect-sofort/Payments - Confirm/event.test.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario16-Bank Redirect-sofort/Payments - Retrieve/event.test.js
Labels: A-CI-CD

#7763 fix(errors): Entry not found error as 4xx instead of 5xx
  crates/storage_impl/src/errors.rs
Labels: A-errors, Hotfix

#7746 refactor: move merchant_key_store table to accounts schema
  api-reference-v2/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/common_types/src/payment_methods.rs
  crates/common_types/src/primitive_wrappers.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/db.rs
  crates/router/src/db/merchant_key_store.rs
  crates/router/src/types/payment_methods.rs
  v2_migrations/2024-08-28-081837_add_not_null_constraints_to_v2_columns/down.sql
  v2_migrations/2024-08-28-081837_add_not_null_constraints_to_v2_columns/up.sql
Labels: M-database-changes, M-api-contract-changes

#7742 feat(payment_link): expose configurations for payment links
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums/ui.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_initiate/secure_payment_link_initiator.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/customers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes, Payment Links

#7647 feat(docker): add webhook notifiers for installation tracking
  docker-compose.yml
  scripts/poststart_hook.sh
  scripts/prestart_hook.sh
Labels: A-infra

#7614 fix(router): fix retry_count and add validation for process_tracker
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_interfaces/src/conversion_impls.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_attempt_record.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/revenue_recovery.rs
  crates/router/src/core/revenue_recovery/types.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
  crates/router/src/types/storage/revenue_recovery.rs
Labels: C-bug, M-api-contract-changes, enhancement

#7638 feat(users): refactor `ProdIntent` to support product-type context and merchant-scope
  crates/api_models/src/user/dashboard_metadata.rs
  crates/common_enums/src/enums/accounts.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/email/assets/bizemailprod.html
  crates/router/src/services/email/types.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user/dashboard_metadata.rs
Labels: C-feature

#7782 refactor(users): modify query to list only v1 merchant_accounts for list v1 merchant accounts API
  crates/diesel_models/src/query/merchant_account.rs
Labels: C-bug

#7788 refactor(users): modify query to list only v1 merchant_accounts for list v1 merchant accounts API
  crates/diesel_models/src/query/merchant_account.rs
Labels: C-bug

#7787 feat(users): refactor `ProdIntent` to support product-type context and merchant-scope
  crates/api_models/src/user/dashboard_metadata.rs
  crates/common_enums/src/enums/accounts.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/user.rs
  crates/router/src/services/email/assets/bizemailprod.html
  crates/router/src/services/email/types.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user/dashboard_metadata.rs
Labels: C-feature

#7743 ci(cypress): verify if card fields are populated on updating card info
  cypress-tests/cypress/e2e/spec/Payment/00014-SaveCardFlow.cy.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/utils/RequestBodyUtils.js
Labels: A-CI-CD, S-waiting-on-review

#7275 feat(webhook): add filter by event class and type
  api-reference/openapi_spec.json
  crates/api_models/src/webhook_events.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/query/events.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/webhook_events.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/db/events.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/webhook_events.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#7735 chore: address Rust 1.86.0 clippy lints
  crates/common_utils/src/types.rs
  crates/common_utils/src/validation.rs
  crates/euclid/src/backend/vir_interpreter.rs
  crates/hyperswitch_connectors/src/connectors/bluesnap.rs
  crates/hyperswitch_connectors/src/connectors/bluesnap/transformers.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_connectors/src/connectors/checkout/transformers.rs
  crates/hyperswitch_connectors/src/connectors/cryptopay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/forte/transformers.rs
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
  crates/hyperswitch_connectors/src/connectors/paypal.rs
  crates/hyperswitch_connectors/src/connectors/square/transformers.rs
  crates/hyperswitch_connectors/src/connectors/volt.rs
  crates/hyperswitch_connectors/src/connectors/worldpay.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/events/audit_events.rs
  crates/router/tests/connectors/cashtocode.rs
Labels: C-refactor

#7802 fix(payment_link): add validation for return_url during payment link creation
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
Labels: Payment Links

#7776 feat(core): Add support for updating metadata after payment has been authorized
  api-reference/api-reference/payments/payments--update-metadata.mdx
  api-reference/mint.json
  api-reference/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/connectors/paypal.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payments.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api/payments.rs
  crates/hyperswitch_interfaces/src/api/payments_v2.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/payments.rs
  crates/router/src/connector/stripe.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/update_metadata_flow.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_update_metadata.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/payments_v2.rs
  crates/router/tests/connectors/utils.rs
  crates/router_derive/src/macros/operation.rs
  crates/router_env/src/logger/types.rs
Labels: A-connector-integration, A-core, C-feature, M-api-contract-changes

#7815 feat(configs): [Trustpay] add support for AT,DE,IT country for instant_banktransfer
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: A-connector-integration

#7816 feat(configs): [Trustpay] add support for AT,DE,IT country for instant_banktransfer
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: A-connector-integration

#7825 ci(configs): remove vault private key from configs
  config/development.toml
Labels: A-CI-CD

#7774 feat(connector): [chargebee] consumes required fields to support transaction monitoring
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_utils/src/id_type/global_id/payment.rs
  crates/diesel_models/src/types.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/hyperswitch_interfaces/src/connector_integration_interface.rs
  crates/hyperswitch_interfaces/src/webhooks.rs
  crates/router/src/core/payments/operations/payment_attempt_record.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
Labels: M-api-contract-changes, api-v2, enhancement

#7593 feat(vsaas): modify api key auth to support vsaas cases
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/compatibility/stripe/payment_intents.rs
  crates/router/src/compatibility/stripe/refunds.rs
  crates/router/src/compatibility/stripe/setup_intents.rs
  crates/router/src/routes/blocklist.rs
  crates/router/src/routes/cards_info.rs
  crates/router/src/routes/currency.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/files.rs
  crates/router/src/routes/fraud_check.rs
  crates/router/src/routes/mandates.rs
  crates/router/src/routes/payment_link.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payouts.rs
  crates/router/src/routes/pm_auth.rs
  crates/router/src/routes/profiles.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/routes/relay.rs
  crates/router/src/routes/routing.rs
  crates/router/src/routes/verification.rs
  crates/router/src/services/authentication.rs
Labels: A-core, A-payments

#7808 chore: change payment method files ownership to `hyperswitch-payment-methods`
  .github/CODEOWNERS
Labels: A-payment-methods, C-refactor

#7785 feat: add primary key not null query to generic filter function
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/generics.rs
  crates/diesel_models/src/query/utils.rs
Labels: A-core

#7765 ci(postman): update assertion error message for nmi collection
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a mandate payment/Payments - Create/event.test.js
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario9-Create a mandate payment/Payments - Create/request.json
Labels: A-CI-CD

#7793 refactor(accounts): move dashboard_metadata table to accounts_schema and point v2 to v1 dashboard_metadata
  crates/router/src/db.rs
  crates/router/src/db/dashboard_metadata.rs
Labels: C-feature

#7840 fix(connector): [Cybersource] send type selection indicator for co-batch cards
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
Labels: A-connector-compatibility, C-bug

#7775 feat(payment_method): add logic for setup_future_usage downgrade and add filter based on zero mandate config
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2025-04-09-074315_add_setup_future_usage_to_payment_attempt/down.sql
  migrations/2025-04-09-074315_add_setup_future_usage_to_payment_attempt/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: C-feature, M-database-changes, A-payment-methods

#7828 fix(connector): [Cybersource] send type selection indicator for co-batch cards
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
Labels: A-connector-compatibility, C-bug

#7805 refactor(cypress-v2): change `Authorization` and `payment_methods_enabled` for v2 cypress tests
  cypress-tests-v2/cypress/e2e/configs/Payment/Commons.js
  cypress-tests-v2/cypress/support/commands.js
Labels: A-CI-CD

#7803 refactor(middleware): add middleware to record metrics for request count and duration
  crates/analytics/src/metrics/request.rs
  crates/router/src/compatibility/wrap.rs
  crates/router/src/lib.rs
  crates/router/src/middleware.rs
  crates/router/src/routes/metrics.rs
  crates/router/src/routes/metrics/request.rs
  crates/router/src/routes/metrics/utils.rs
  crates/router/src/services/api.rs
Labels: A-framework, C-refactor

#7832 fix(connector): [noon] address `next_action_url` being `null` for cards in 3ds payment
  crates/hyperswitch_connectors/src/connectors/noon.rs
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#7539 refactor(required_fields): move pm required fields to pm crate
  Cargo.lock
  crates/payment_methods/Cargo.toml
  crates/payment_methods/src/configs.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/payment_methods/src/configs/settings.rs
  crates/payment_methods/src/lib.rs
  crates/router/Cargo.toml
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-connector-integration, C-refactor

#7619 feat(refunds_v2): Add refund create core flow
  api-reference-v2/openapi_spec.json
  crates/api_models/Cargo.toml
  crates/api_models/src/events/refund.rs
  crates/api_models/src/refunds.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/diesel_models/src/query/refund.rs
  crates/diesel_models/src/refund.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/openapi/Cargo.toml
  crates/openapi/src/openapi_v2.rs
  crates/router/Cargo.toml
  crates/router/src/core.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/refunds_v2.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/utils/refunds_transformers.rs
  crates/router/src/core/utils/refunds_validator.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/refund.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/api/refunds.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: M-api-contract-changes, api-v2

#7856 fix(connector): [noon] address `next_action_url` being `null` for cards in 3ds payment
  crates/common_utils/src/types.rs
  crates/common_utils/src/validation.rs
  crates/euclid/src/backend/vir_interpreter.rs
  crates/hyperswitch_connectors/src/connectors/bluesnap.rs
  crates/hyperswitch_connectors/src/connectors/bluesnap/transformers.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_connectors/src/connectors/checkout/transformers.rs
  crates/hyperswitch_connectors/src/connectors/cryptopay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/forte/transformers.rs
  crates/hyperswitch_connectors/src/connectors/noon.rs
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
  crates/hyperswitch_connectors/src/connectors/paypal.rs
  crates/hyperswitch_connectors/src/connectors/square/transformers.rs
  crates/hyperswitch_connectors/src/connectors/volt.rs
  crates/hyperswitch_connectors/src/connectors/worldpay.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/events/audit_events.rs
  crates/router/tests/connectors/cashtocode.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#7795 feat(dynamic_routing): add open router integration for success based routing
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/lib.rs
  crates/api_models/src/open_router.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/routing/transformers.rs
Labels: A-routing

#7860 revert: fix(connector): [noon] address `next_action_url` being `null` for cards in 3ds payment
  crates/hyperswitch_connectors/src/connectors/noon.rs
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
Labels: A-connector-integration

#7859 revert: fix(connector): [noon] address `next_action_url` being `null` for cards in 3ds payment
  crates/hyperswitch_connectors/src/connectors/noon.rs
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
Labels: A-connector-integration

#7861 fix(connector): [noon] address next_action_url being null for cards in 3ds payment
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
Labels: A-connector-integration, C-bug

#7768 feat(vsaas): add processor_merchant_id and created_by column in payment_intents and payments_attempts for v1
  crates/common_utils/src/macros.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_capture_v2.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_get.rs
  crates/router/src/core/payments/operations/payment_get_intent.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/utils.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/user/sample_data.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2025-03-21-091838_add_new_col_processor_mid_and_created_by/down.sql
  migrations/2025-03-21-091838_add_new_col_processor_mid_and_created_by/up.sql
Labels: A-core, M-database-changes, A-macros, A-payments

#7865 fix(connector): revert noon-paypal
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/toml/production.toml
  crates/hyperswitch_connectors/src/connectors/noon.rs
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-bug, C-refactor

#7864 fix(connector): revert noon-paypal
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/toml/production.toml
  crates/hyperswitch_connectors/src/connectors/noon.rs
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-bug, C-refactor

#7869 fix(connector): [Cybersource] send type selection indicator for co-batch cards
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
Labels: A-connector-compatibility, C-bug

#7801 chore(payments): filter NO_ERROR_CODE and NO_ERROR_MESSAGE from payments API response
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-payments

#7819 feat(connector): Add dummy billing connector auth flow
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#7871 feat(users): add support for caching and resolving last used lineage context
  crates/router/src/consts/user.rs
  crates/router/src/core/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user.rs
Labels: C-feature, A-users

#7266 ci(cypress): add Braintree connector configs for cypress test flows
  cypress-tests/cypress/e2e/configs/Payment/Braintree.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, A-connector-integration, C-feature

#7772 feat(router): Add revenue recovery retry algorithm type and data columns to business_profile table
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  v2_migrations/2025-04-08-101702_add_recovery_algorithm_column_in_business_profile/down.sql
  v2_migrations/2025-04-08-101702_add_recovery_algorithm_column_in_business_profile/up.sql
Labels: M-database-changes

#7666 refactor(connector): [NMI,PAYONE,RISKIFIED] moved to hyperswitch_connectors
  Cargo.lock
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/nmi.rs
  crates/hyperswitch_connectors/src/connectors/nmi/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payone.rs
  crates/hyperswitch_connectors/src/connectors/payone/transformers.rs
  crates/hyperswitch_connectors/src/connectors/riskified.rs
  crates/hyperswitch_connectors/src/connectors/riskified/transformers.rs
  crates/hyperswitch_connectors/src/connectors/riskified/transformers/api.rs
  crates/hyperswitch_connectors/src/connectors/riskified/transformers/auth.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/Cargo.toml
  crates/router/src/connector.rs
  crates/router/src/connector/riskified/transformers/auth.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/macros.rs
Labels: A-connector-integration, C-refactor

#7877 feat(users): profile level custom role write
  crates/diesel_models/src/role.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/role.rs
  migrations/2025-02-06-122415_udpate-roles/down.sql
  migrations/2025-02-06-122415_udpate-roles/up.sql
Labels: M-database-changes

#7841 chore: add hyperswitch-react-demo-app to docker-compose
  docker-compose.yml
Labels: S-waiting-on-review

#7874 feat(payments): add support for connector testing (Adyen)
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/utils.rs
Labels: M-api-contract-changes

#7897 chore: add cardholder name as mandatory field for Worldpay card transactions
  crates/hyperswitch_connectors/src/connectors/worldpay.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/transformers.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
Labels: A-connector-integration

#7892 feat(user): use global redis key prefix for user lineage context
  crates/router/src/utils/user.rs
Labels: C-feature, A-users

#7797 ci(cypress): fix trustpay refund test cases
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/configs/Payment/Trustpay.js
  cypress-tests/cypress/e2e/spec/Payment/00014-SaveCardFlow.cy.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD

#7898 feat(payments): add support for connector testing (Adyen)
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/utils.rs
Labels: M-api-contract-changes

#7902 feat(users): add support for caching and resolving last used lineage context
  crates/router/src/consts/user.rs
  crates/router/src/core/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user.rs
Labels: A-users

#7574 feat(payment-link): alternate text for manual captures
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/locale.js
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes, Payment Links

#7866 refactor(payment_methods): refactor merchant payment method list for wallets
  crates/common_enums/src/enums.rs
  crates/router/src/core/payment_methods/cards.rs
Labels: A-payment-methods, Payment Links

#7824 refactor(refunds): set Instant as the default RefundType
  crates/api_models/src/analytics/refunds.rs
  crates/api_models/src/refunds.rs
  crates/diesel_models/src/enums.rs
Labels: A-core

#7858 feat(core): Add cardbrand union fetch logic for click to pay session response
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/diesel_models/src/query/merchant_connector_account.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payments.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/merchant_connector_account.rs
Labels: A-core, C-feature, M-api-contract-changes

#7579 feat(core): add redis lock during insertion of event in event table during initial attempt of outgoing webhook delivery
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/core/webhooks/utils.rs
  loadtest/config/development.toml
Labels: A-core

#7799 feat(core): Adds Billing Connector Invoice Sync flow in Revenue Recovery
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/router_data_v2/flow_common_types.rs
  crates/hyperswitch_domain_models/src/router_flow_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_request_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_response_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api/revenue_recovery.rs
  crates/hyperswitch_interfaces/src/api/revenue_recovery_v2.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
Labels: A-core

#7896 feat(dynamic_routing): add open router integration for elimination routing
  crates/api_models/src/open_router.rs
  crates/api_models/src/routing.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/routing/transformers.rs
Labels: S-waiting-on-review, A-routing

#7359 chore: resolve v2 warnings in diesel_models
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/query/merchant_account.rs
  crates/diesel_models/src/query/payment_attempt.rs
  crates/diesel_models/src/query/payment_method.rs
  crates/diesel_models/src/query/user/sample_data.rs
  crates/diesel_models/src/user/sample_data.rs
Labels: api-v2

#7178 feat(process_tracker): Task implementation for psync payments
  crates/api_models/src/payments.rs
  crates/diesel_models/src/process_tracker.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/operations/payment_attempt_record.rs
  crates/router/src/core/payments/operations/proxy_payments_intent.rs
  crates/router/src/core/revenue_recovery.rs
  crates/router/src/core/revenue_recovery/api.rs
  crates/router/src/core/revenue_recovery/transformers.rs
  crates/router/src/core/revenue_recovery/types.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
  crates/router/src/types/storage/revenue_recovery.rs
  crates/router/src/workflows/revenue_recovery.rs
  crates/storage_impl/src/errors.rs
Labels: A-process-tracker

#7149 feat(connector): [MULTISAFEPAY, CASHTOCODE, WORLDPAY, WELLSFARGO] Supported features for feature matrix
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/cashtocode.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay.rs
  crates/hyperswitch_connectors/src/connectors/wellsfargo.rs
  crates/hyperswitch_connectors/src/connectors/worldpay.rs
Labels: A-connector-compatibility, A-connector-integration, M-configuration-changes

#7353 chore: resolve v2 warnings in api_models
  crates/api_models/src/admin.rs
  crates/api_models/src/events/payment.rs
  crates/api_models/src/events/refund.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
Labels: api-v2

#7773 fix(router): conditionally store saved cards with cvc in temp locker based on config
  crates/router/src/core/payments/helpers.rs
Labels: A-connector-compatibility, A-core

#7919 fix(router): Validate 'card' as a PaymentMethodType
  crates/router/src/core/payments/helpers.rs
Labels: C-bug, api-v2
