Repository juspay/hyperswitch, pull requests merged in 2025-03, with the labels that each got.

#7393 fix(connector): GooglePay fixed in Ayden
  crates/router/src/connector/adyen/transformers.rs
Labels: C-bug

#7264 refactor(relay): add trait based implementation for relay
  api-reference/openapi_spec.json
  crates/api_models/src/relay.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/relay.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/relay.rs
  crates/router/src/routes/relay.rs
Labels: C-refactor, M-api-contract-changes

#6905 feat(router): Add support for retries with clear pan and network token payment method data
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/gsm.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/gsm.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/gsm.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_capture_v2.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_create_intent.rs
  crates/router/src/core/payments/operations/payment_get.rs
  crates/router/src/core/payments/operations/payment_get_intent.rs
  crates/router/src/core/payments/operations/payment_post_session_tokens.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_session_intent.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/operations/tax_calculation.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/transformers.rs
  migrations/2024-12-10-091820_add-clear-pan-possible-to-gsm/down.sql
  migrations/2024-12-10-091820_add-clear-pan-possible-to-gsm/up.sql
  migrations/2025-02-27-171444_add-clear-pan-retries-enabled-to-profile/down.sql
  migrations/2025-02-27-171444_add-clear-pan-retries-enabled-to-profile/up.sql
Labels: A-core, C-feature, S-waiting-on-review, M-database-changes, M-api-contract-changes

#7228 feat(connector): add template code for stripebilling
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/router/tests/connectors/stripebilling.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#7326 ci(cypress): add tests for mit payment without billing
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/configs/Payment/Fiuu.js
  cypress-tests/cypress/e2e/spec/Payment/00019-MandatesUsingPMID.cy.js
Labels: A-CI-CD, S-waiting-on-review

#7400 fix(connector): GooglePay fixed in Ayden
  crates/router/src/connector/adyen/transformers.rs
Labels: C-bug

#7368 chore(docker): prefix Hyperswitch Docker image URIs with `docker.juspay.io`
  aws/hyperswitch_aws_setup.sh
  config/deployments/README.md
  docker-compose-development.yml
  docker-compose.yml
Labels: A-infra

#7154 fix(connector): [CASHTOCODE] Populate error reason
  crates/hyperswitch_connectors/src/connectors/cashtocode.rs
  crates/hyperswitch_connectors/src/connectors/cashtocode/transformers.rs
Labels: A-connector-integration

#7235 refactor(connector): [AUTHORIZEDOTNET,CHECKOUT,NOON,OPAYO,OPENNODE,PAYME,TRUSTPAY] Move to crate hyperswitch_connectors
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/authorizedotnet.rs
  crates/hyperswitch_connectors/src/connectors/authorizedotnet/transformers.rs
  crates/hyperswitch_connectors/src/connectors/checkout.rs
  crates/hyperswitch_connectors/src/connectors/checkout/transformers.rs
  crates/hyperswitch_connectors/src/connectors/noon.rs
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
  crates/hyperswitch_connectors/src/connectors/opayo.rs
  crates/hyperswitch_connectors/src/connectors/opayo/transformers.rs
  crates/hyperswitch_connectors/src/connectors/opennode.rs
  crates/hyperswitch_connectors/src/connectors/opennode/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payme.rs
  crates/hyperswitch_connectors/src/connectors/payme/transformers.rs
  crates/hyperswitch_connectors/src/connectors/trustpay.rs
  crates/hyperswitch_connectors/src/connectors/trustpay/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#7277 feat(xendit): Add Payment Webhooks
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/xendit.rs
  crates/hyperswitch_connectors/src/connectors/xendit/transformers.rs
Labels: A-connector-integration, C-feature

#7194 feat(core): Add support for cards bin update
  crates/api_models/src/cards_info.rs
  crates/diesel_models/src/cards_info.rs
  crates/diesel_models/src/query/cards_info.rs
  crates/router/src/core/cards_info.rs
  crates/router/src/db/cards_info.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/cards_info.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/types/storage/cards_info.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
Labels: A-core

#7414 feat(connector): add functionality for transforming QR image color
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_utils/src/errors.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-connector-compatibility, M-api-contract-changes

#7284 feat(connector): add template code for recurly
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/recurly.rs
  crates/hyperswitch_connectors/src/connectors/recurly/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/recurly.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#7376 chore: address Rust 1.85.0 clippy lints
  crates/hyperswitch_domain_models/src/customer.rs
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/types/api/admin.rs
Labels: C-refactor

#7408 fix(connector): [Braintree] Consume merchant_account_id and merchant_config_currency in payment requests
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/core/utils.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-refactor, M-api-contract-changes

#7322 feat(connector): [Moneris] Implement mandate for Moneris
  crates/hyperswitch_connectors/src/connectors/moneris.rs
  crates/hyperswitch_connectors/src/connectors/moneris/transformers.rs
Labels: A-connector-compatibility, C-feature

#7304 feat(connector): [EFT] Add EFT as a payment method
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/hyperswitch_connectors/src/connectors/aci/transformers.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/connectors/iatapay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/klarna.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nexinets/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
  crates/hyperswitch_connectors/src/connectors/shift4/transformers.rs
  crates/hyperswitch_connectors/src/connectors/trustpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/volt/transformers.rs
  crates/hyperswitch_connectors/src/connectors/worldline/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/kgraph_utils/src/mca.rs
  crates/kgraph_utils/src/transformers.rs
  crates/router/src/connector/adyen.rs
  crates/router/src/connector/adyen/transformers.rs
  crates/router/src/connector/paypal/transformers.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#7427 feat(payment_link): expose payment link configs for SDK UI rules and payment button
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_initiate/secure_payment_link_initiator.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/verification.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes, Payment Links

#7435 ci(cypress): move customer acceptance in configs to a const within commons
  cypress-tests/cypress/e2e/configs/Payment/Adyen.js
  cypress-tests/cypress/e2e/configs/Payment/BankOfAmerica.js
  cypress-tests/cypress/e2e/configs/Payment/Bluesnap.js
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/configs/Payment/Cybersource.js
  cypress-tests/cypress/e2e/configs/Payment/Elavon.js
  cypress-tests/cypress/e2e/configs/Payment/Fiservemea.js
  cypress-tests/cypress/e2e/configs/Payment/Fiuu.js
  cypress-tests/cypress/e2e/configs/Payment/Moneris.js
  cypress-tests/cypress/e2e/configs/Payment/Noon.js
  cypress-tests/cypress/e2e/configs/Payment/Stripe.js
  cypress-tests/cypress/e2e/configs/Payment/Trustpay.js
  cypress-tests/cypress/e2e/configs/Payment/WellsFargo.js
Labels: A-CI-CD, S-waiting-on-review

#7419 fix(xendit): Fix wasm changes
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration

#7424 feat(connector): Added ThreeDs server integration template pr
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/juspaythreedsserver.rs
  crates/hyperswitch_connectors/src/connectors/juspaythreedsserver/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/juspaythreedsserver.rs
  crates/router/tests/connectors/main.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, S-waiting-on-review

#7441 refactor(core): Added payment id in authentication router data
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
Labels: A-core, S-waiting-on-review

#7442 feat(payment_link): expose payment link configs for SDK UI rules and payment button
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_initiate/secure_payment_link_initiator.js
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/verification.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes, Hotfix

#7433 feat(analytics): refactor and rewrite authentication related analytics
  crates/analytics/src/auth_events/accumulator.rs
  crates/analytics/src/auth_events/core.rs
  crates/analytics/src/auth_events/metrics.rs
  crates/analytics/src/auth_events/metrics/authentication_attempt_count.rs
  crates/analytics/src/auth_events/metrics/authentication_count.rs
  crates/analytics/src/auth_events/metrics/authentication_success_count.rs
  crates/analytics/src/auth_events/metrics/challenge_attempt_count.rs
  crates/analytics/src/auth_events/metrics/challenge_flow_count.rs
  crates/analytics/src/auth_events/metrics/challenge_success_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_flow_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_success_count.rs
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/types.rs
  crates/api_models/src/analytics/auth_events.rs
  crates/router/src/analytics.rs
Labels: C-refactor, A-Analytics

#7446 feat(connector): Added ThreeDs server integration template pr
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/juspaythreedsserver.rs
  crates/hyperswitch_connectors/src/connectors/juspaythreedsserver/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/juspaythreedsserver.rs
  crates/router/tests/connectors/main.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-core, Hotfix

#7448 feat(analytics): refactor and rewrite authentication related analytics
  crates/analytics/src/auth_events/accumulator.rs
  crates/analytics/src/auth_events/core.rs
  crates/analytics/src/auth_events/metrics.rs
  crates/analytics/src/auth_events/metrics/authentication_attempt_count.rs
  crates/analytics/src/auth_events/metrics/authentication_count.rs
  crates/analytics/src/auth_events/metrics/authentication_success_count.rs
  crates/analytics/src/auth_events/metrics/challenge_attempt_count.rs
  crates/analytics/src/auth_events/metrics/challenge_flow_count.rs
  crates/analytics/src/auth_events/metrics/challenge_success_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_flow_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_success_count.rs
  crates/analytics/src/clickhouse.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/types.rs
  crates/api_models/src/analytics/auth_events.rs
  crates/router/src/analytics.rs
Labels: A-Analytics

#7429 feat(router): add capability to force challenge for 3DS Payments through Netcetera and send few optional fields
  crates/api_models/src/admin.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/router_request_types/authentication.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/types/api/admin.rs
  migrations/2025-03-04-105454_add_force_3ds_challenge_column_to_business_profile/down.sql
  migrations/2025-03-04-105454_add_force_3ds_challenge_column_to_business_profile/up.sql
Labels: A-core, C-feature, M-database-changes

#7449 feat(router): add capability to force challenge for 3DS Payments through Netcetera and send few optional fields
  crates/api_models/src/admin.rs
  crates/common_utils/src/types.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/router_request_types/authentication.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/payments.rs
  crates/router/src/types/api/admin.rs
  migrations/2025-03-04-105454_add_force_3ds_challenge_column_to_business_profile/down.sql
  migrations/2025-03-04-105454_add_force_3ds_challenge_column_to_business_profile/up.sql
Labels: A-core, C-feature, M-database-changes

#7456 fix(dashboard): added apikey auth for juspay threeds server in wasm file
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/sandbox.toml
Labels: C-bug

#7360 feat(hipay): Add Template PR
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/hipay.rs
  crates/hyperswitch_connectors/src/connectors/hipay/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/hipay.rs
  crates/router/tests/connectors/main.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#7459 fix(dashboard): Wasm fix for xendit connector
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: C-bug

#7437 ci(cypress): address lints and refactor redirection handler
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD

#7066 feat(core): add bulk tokenization flows
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/bulk_tokenization.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/network_tokenization.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payment_method.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/network_tokenization.rs
  crates/router/src/core/payment_methods/tokenize.rs
  crates/router/src/core/payment_methods/tokenize/card_executor.rs
  crates/router/src/core/payment_methods/tokenize/payment_method_executor.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/domain/payments.rs
  crates/router_env/src/logger/types.rs
Labels: M-api-contract-changes

#7383 fix(openapi_v2): add missing struct in openapi v2
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/masking/src/cassandra.rs
  crates/openapi/src/openapi_v2.rs
Labels: M-api-contract-changes

#7236 feat(core): Add record attempt operation for revenue recovery webhooks
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payments.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_attempt_record.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
  crates/router/src/types/api/payments.rs
Labels: A-framework, A-core, api-v2

#7466 refactor(connector): [Rapyd] fix amount conversion framework
  crates/hyperswitch_connectors/src/connectors/rapyd.rs
  crates/hyperswitch_connectors/src/connectors/rapyd/transformers.rs
Labels: A-connector-integration, C-refactor

#7477 ci: update wise connector cypress creds
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD, S-waiting-on-review

#7425 chore(wasm): show allowed auth methods option in google pay
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: S-waiting-on-review, A-euclid-foc

#7389 feat(process_tracker): Add a version column in process tracker table
  crates/diesel_models/src/process_tracker.rs
  crates/diesel_models/src/query/process_tracker.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/consts.rs
  crates/router/Cargo.toml
  crates/router/src/core/api_keys.rs
  crates/router/src/core/passive_churn_recovery.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/db/kafka_store.rs
  crates/scheduler/Cargo.toml
  crates/scheduler/src/db/process_tracker.rs
  migrations/2025-02-18-091645_add_api_version_for_process_tracker/down.sql
  migrations/2025-02-18-091645_add_api_version_for_process_tracker/up.sql
Labels: C-feature, M-database-changes

#7458 fix(postman): update expected status from `processing` to `requires_capture` in payment confirmation tests
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario12-Save card payment with manual capture/Save card payments - Confirm/event.test.js
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Create/event.test.js
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario5-Void the payment/Payments - Create/event.test.js
  postman/collection-dir/nmi/Flow Testcases/Happy Cases/Scenario9a-Update amount with manual capture/Payments - Confirm/event.test.js
  postman/collection-dir/nmi/Flow Testcases/Variation Cases/Scenario3-Capture greater amount/Payments - Create/event.test.js
Labels: A-CI-CD

#7471 fix(connector): [BRAINTREE] Changed Attempt Status Mapping for Braintree
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
Labels: A-connector-integration, C-bug

#7165 feat(connector): [BILLWERK, FISERVEMEA, TSYS] add in feature matrix api
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/billwerk.rs
  crates/hyperswitch_connectors/src/connectors/fiservemea.rs
  crates/hyperswitch_connectors/src/connectors/tsys.rs
Labels: C-feature

#7473 fix(router): pass card network for external 3DS from additional_payment_method_data
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-connector-integration, A-core, C-bug

#7454 fix(connector): fix mapping of feature matrix for coinbase
  crates/hyperswitch_connectors/src/connectors/coinbase.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#7411 fix(payment_methods): payment method type not being stored in payment method
  crates/router/src/core/payment_methods.rs
Labels: api-v2

#7336 refactor(connector): [FISERV, HELCIM] Add amount conversion framework to Fiserv, Helcim
  crates/hyperswitch_connectors/src/connectors/fiserv.rs
  crates/hyperswitch_connectors/src/connectors/fiserv/transformers.rs
  crates/hyperswitch_connectors/src/connectors/helcim.rs
  crates/hyperswitch_connectors/src/connectors/helcim/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/fiserv.rs
  crates/router/tests/connectors/helcim.rs
Labels: A-connector-integration, C-refactor

#7491 ci(cypress): fix paypal failures
  cypress-tests/cypress/e2e/configs/Payment/Paypal.js
Labels: A-CI-CD, C-bug, S-waiting-on-review

#7474 ci(cypress): add assertion for `connector_mandate_id`
  cypress-tests/cypress/e2e/spec/Payment/00019-MandatesUsingPMID.cy.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD

#7420 fix(routing): Enable filtering of default connectors for contract based routing
  crates/api_models/src/routing.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
Labels: A-routing

#7483 feat(analytics): modified authentication queries and added generate report for authentications
  crates/analytics/src/auth_events/core.rs
  crates/analytics/src/auth_events/filters.rs
  crates/analytics/src/auth_events/metrics.rs
  crates/analytics/src/auth_events/metrics/authentication_attempt_count.rs
  crates/analytics/src/auth_events/metrics/authentication_count.rs
  crates/analytics/src/auth_events/metrics/authentication_error_message.rs
  crates/analytics/src/auth_events/metrics/authentication_funnel.rs
  crates/analytics/src/auth_events/metrics/authentication_success_count.rs
  crates/analytics/src/auth_events/metrics/challenge_attempt_count.rs
  crates/analytics/src/auth_events/metrics/challenge_flow_count.rs
  crates/analytics/src/auth_events/metrics/challenge_success_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_flow_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_success_count.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sqlx.rs
  crates/api_models/src/analytics/auth_events.rs
  crates/api_models/src/analytics/sdk_events.rs
  crates/router/src/analytics.rs
Labels: C-bug, C-feature, A-Analytics

#7499 feat(analytics): modified authentication queries and added generate report for authentications
  crates/analytics/src/auth_events/core.rs
  crates/analytics/src/auth_events/filters.rs
  crates/analytics/src/auth_events/metrics.rs
  crates/analytics/src/auth_events/metrics/authentication_attempt_count.rs
  crates/analytics/src/auth_events/metrics/authentication_count.rs
  crates/analytics/src/auth_events/metrics/authentication_error_message.rs
  crates/analytics/src/auth_events/metrics/authentication_funnel.rs
  crates/analytics/src/auth_events/metrics/authentication_success_count.rs
  crates/analytics/src/auth_events/metrics/challenge_attempt_count.rs
  crates/analytics/src/auth_events/metrics/challenge_flow_count.rs
  crates/analytics/src/auth_events/metrics/challenge_success_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_flow_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_success_count.rs
  crates/analytics/src/lib.rs
  crates/analytics/src/query.rs
  crates/analytics/src/sqlx.rs
  crates/api_models/src/analytics/auth_events.rs
  crates/api_models/src/analytics/sdk_events.rs
  crates/router/src/analytics.rs
Labels: A-Analytics

#7416 feat(connector): Add record back connector integration flow
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_domain_models/src/router_data_v2/flow_common_types.rs
  crates/hyperswitch_domain_models/src/router_flow_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_request_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_response_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api/revenue_recovery.rs
  crates/hyperswitch_interfaces/src/api/revenue_recovery_v2.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
Labels: A-connector-integration, A-core, api-v2

#7479 feat(payment_methods_v2): add total-payment-method-count api
  crates/api_models/src/payment_methods.rs
  crates/diesel_models/src/query/payment_method.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/payment_method.rs
Labels: C-feature, A-payment-methods

#7487 feat(core): Add V2 Authentication to all available endpoints
  crates/router/src/core/errors.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/routing.rs
  crates/router/src/services/authentication.rs
Labels: api-v2

#7309 refactor(payment_methods_v2): refactor network tokenization flow for v2
  crates/api_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/network_tokenization.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/vault.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/network_tokenization.rs
  crates/router/src/core/payment_methods/tokenize.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/payment_methods.rs
Labels: A-payment-methods, C-refactor

#7516 fix(connector): [BRAINTREE] Changed Attempt Status Mapping for Braintree
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
Labels: A-connector-integration, C-bug

#7462 feat(router): add connector field to PaymentRevenueRecoveryMetadata and implement schedule_failed_payment
  crates/api_models/src/payments.rs
  crates/diesel_models/src/process_tracker.rs
  crates/diesel_models/src/types.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/passive_churn_recovery.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/proxy_payments_intent.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
Labels: A-core, C-feature

#7431 refactor(connector): [PAYPAL, ADYEN] Move to crate hyperswitch_connectors
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/adyen.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/paypal.rs
  crates/hyperswitch_connectors/src/connectors/paypal/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/router/src/connector.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#7475 feat(connector): [Hipay] Add Card Payments Flow
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/hipay.rs
  crates/hyperswitch_connectors/src/connectors/hipay/transformers.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Hipay.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature

#7525 feat(connector): [BRAINTREE] Add revoke mandate flow
  crates/hyperswitch_connectors/src/connectors/braintree.rs
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
Labels: A-connector-integration, C-feature

#7527 feat(connector): [BRAINTREE] Add revoke mandate flow
  crates/hyperswitch_connectors/src/connectors/braintree.rs
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
Labels: A-connector-integration, C-feature, Hotfix

#7480 refactor(process_tracker): Integrate proxy_payments api to process tracker workflow
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/types.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/core/passive_churn_recovery.rs
  crates/router/src/core/passive_churn_recovery/types.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/workflows/passive_churn_recovery_workflow.rs
Labels: A-process-tracker

#7440 feat(connector): [PAYSTACK] Electronic Fund Transfer(EFT) Payment Flows
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/paystack.rs
  crates/hyperswitch_connectors/src/connectors/paystack/transformers.rs
Labels: A-connector-integration

#7530 feat(connector): [BRAINTREE] Add revoke mandate flow
  crates/hyperswitch_connectors/src/connectors/braintree.rs
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
Labels: A-connector-integration, C-feature

#7465 fix(connectors): [Nexixpay] handle optional fields in nexixpay payments requests.
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/nexixpay/transformers.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  loadtest/config/development.toml
Labels: A-connector-compatibility, M-configuration-changes

#7439 feat(connector): Recurly incoming webhook support
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors/recurly.rs
  crates/hyperswitch_connectors/src/connectors/recurly/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  loadtest/config/development.toml
Labels: A-webhooks

#7455 refactor(currency_conversion): add support for expiring forex data in redis
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/currency.rs
  crates/router/src/utils/currency.rs
  loadtest/config/development.toml
Labels: M-configuration-changes, C-refactor, A-currency-conversion

#7256 feat(connector): [GETNET] Add cards payment flow
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/enums.rs
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/getnet.rs
  crates/hyperswitch_connectors/src/connectors/getnet/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/core/utils.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/utils.rs
  cypress-tests/cypress/e2e/configs/Payment/Getnet.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: A-connector-integration, C-feature, M-api-contract-changes

#7517 feat(payment-link): add config for enabling form button only when form is complete
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/consts.rs
  crates/router/src/core/payment_link.rs
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.css
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.html
  crates/router/src/core/payment_link/payment_link_initiate/payment_link.js
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_initiate/secure_payment_link_initiator.js
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes, Payment Links

#7417 feat(connector): [Stripebilling] add incoming webhook support
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
Labels: A-webhooks

#7545 fix(router): pass card network for external 3DS from additional_payment_method_data
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/transformers.rs
Labels: A-connector-integration, A-core

#7547 feat(analytics): add issuer as filter for authentication analytics
  crates/analytics/src/auth_events/core.rs
  crates/analytics/src/auth_events/filters.rs
  crates/analytics/src/auth_events/metrics.rs
  crates/analytics/src/auth_events/metrics/authentication_attempt_count.rs
  crates/analytics/src/auth_events/metrics/authentication_count.rs
  crates/analytics/src/auth_events/metrics/authentication_error_message.rs
  crates/analytics/src/auth_events/metrics/authentication_funnel.rs
  crates/analytics/src/auth_events/metrics/authentication_success_count.rs
  crates/analytics/src/auth_events/metrics/challenge_attempt_count.rs
  crates/analytics/src/auth_events/metrics/challenge_flow_count.rs
  crates/analytics/src/auth_events/metrics/challenge_success_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_flow_count.rs
  crates/analytics/src/auth_events/metrics/frictionless_success_count.rs
  crates/analytics/src/auth_events/types.rs
  crates/analytics/src/sqlx.rs
  crates/analytics/src/utils.rs
  crates/api_models/src/analytics/auth_events.rs
Labels: A-Analytics

#6833 fix(connector): Handle Sequential Automatic case in MIT payments
  crates/hyperswitch_connectors/src/connectors/paybox/transformers.rs
Labels: A-connector-integration

#7556 refactor(core): Revert "filter default routing config response based on connector type"
  crates/router/src/core/routing.rs
Labels: C-refactor

#7557 refactor(core): Revert "filter default routing config response based on connector type"
  crates/router/src/core/routing.rs
Labels: C-refactor

#7532 feat(connector): [Nexixpay] add setup mandate flow
  crates/hyperswitch_connectors/src/connectors/adyen.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nexixpay.rs
  crates/hyperswitch_connectors/src/connectors/nexixpay/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/payments/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Nexixpay.js
Labels: A-connector-compatibility

#7564 fix(connector): WASM fixed in Getnet
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: C-bug

#4194 build(deps): update aws dependencies
  Cargo.lock
  crates/analytics/Cargo.toml
  crates/external_services/Cargo.toml
  crates/external_services/src/email.rs
  crates/external_services/src/email/ses.rs
  crates/external_services/src/file_storage/aws_s3.rs
Labels: A-dependencies, C-refactor

#7576 fix(connector): [CYBERSOURCE] send xid as none for external 3ds payments
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
Labels: A-connector-integration, C-bug

#7512 chore: update payment method configs for globalpay
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/enums.rs
  crates/currency_conversion/src/types.rs
  crates/kgraph_utils/src/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  loadtest/config/development.toml
Labels: A-connector-integration, S-waiting-on-review

#7519 feat(router): Return psp_tokenization_enabled in Customer PML
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payment_methods.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payment_method.rs
  crates/router/src/core/payment_methods/transformers.rs
Labels: M-api-contract-changes

#7380 refactor(dynamic_fields): Multiple SDK queries fixed
  crates/api_models/src/enums.rs
  crates/connector_configs/src/transformer.rs
  crates/connector_configs/toml/development.toml
  crates/hyperswitch_domain_models/src/address.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/payments.rs
Labels: C-refactor

#7280 fix(analytics): retry implementation for forex crate call
  crates/router/src/consts.rs
  crates/router/src/core/currency.rs
Labels: A-Analytics

#7572 fix(connector): [SHIFT4, WORLDLINE] removed currencies CUC, STD, VEF from sandbox configs
  config/deployments/sandbox.toml
Labels: C-bug

#7508 feat(connectors): [Redsys] add 3D secure card payment support, including transaction capture, cancellation, and refunds
  Cargo.lock
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/Cargo.toml
  crates/common_utils/src/crypto.rs
  crates/common_utils/src/errors.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/razorpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/redsys.rs
  crates/hyperswitch_connectors/src/connectors/redsys/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_approve.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_capture.rs
  crates/router/src/core/payments/operations/payment_complete_authorize.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_post_session_tokens.rs
  crates/router/src/core/payments/operations/payment_reject.rs
  crates/router/src/core/payments/operations/payment_session.rs
  crates/router/src/core/payments/operations/payment_start.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payments_incremental_authorization.rs
  crates/router/src/core/payments/operations/tax_calculation.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Redsys.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/e2e/spec/Payment/00022-Variations.cy.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/redirectionHandler.js
  loadtest/config/development.toml
Labels: A-connector-compatibility, A-connector-integration, A-core, M-api-contract-changes

#7592 chore(docker): prefix Hyperswitch Docker image URIs with `docker.juspay.io`
  aws/hyperswitch_aws_setup.sh
  config/deployments/README.md
  docker-compose-development.yml
  docker-compose.yml
Labels: A-infra

#7398 refactor(dynamic_routing): change insert operation to upsert for dynamic_routing_stats
  crates/diesel_models/src/dynamic_routing_stats.rs
  crates/diesel_models/src/query/dynamic_routing_stats.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/db/dynamic_routing_stats.rs
  crates/router/src/types/storage/dynamic_routing_stats.rs
Labels: C-refactor

#6766 feat: core changes for extended authorization
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/payments/trait_impls.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_types/src/lib.rs
  crates/common_types/src/primitive_wrappers.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, S-waiting-on-review

#7594 feat(core): add three_ds_requestor_app_url in business_profile
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/router/src/core/payments.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes, Hotfix

#7319 feat(router): [V2] Return connector customer reference IDs in `CustomerResponse`
  api-reference-v2/openapi_spec.json
  crates/api_models/Cargo.toml
  crates/api_models/src/customers.rs
  crates/common_types/src/customers.rs
  crates/common_types/src/lib.rs
  crates/diesel_models/src/customers.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/router/src/types/api/customers.rs
Labels: A-core, M-api-contract-changes, api-v2

#7243 feat(webhook): Return events list and total_count on list initial delivery attempt call
  api-reference/openapi_spec.json
  crates/api_models/src/webhook_events.rs
  crates/diesel_models/src/query/events.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/webhook_events.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/db/events.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/types/api/webhook_events.rs
Labels: M-api-contract-changes

#7591 refactor(connector): [BRAINTREE] Pass email in payment requests
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
Labels: A-connector-integration, C-refactor

#7597 refactor(connector): [BRAINTREE] Pass email in payment requests
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
Labels: A-connector-integration, C-refactor

#7586 feat(connectors): [Redsys] add Psync and Rsync support
  Cargo.lock
  crates/common_utils/src/consts.rs
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/redsys.rs
  crates/hyperswitch_connectors/src/connectors/redsys/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: A-connector-compatibility, A-connector-integration

#7513 feat(connector): [Coingate] implement refunds
  crates/hyperswitch_connectors/src/connectors/coingate.rs
  crates/hyperswitch_connectors/src/connectors/coingate/transformers.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/core/utils.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-feature

#7568 feat(router): Make payment_method_subtype optional in payment_attempt [V2]
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/types.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api/payment_methods.rs
  v2_migrations/2025-03-19-080705_payment-method-subtype-optional/down.sql
  v2_migrations/2025-03-19-080705_payment-method-subtype-optional/up.sql
Labels: A-core, M-database-changes, M-api-contract-changes, api-v2

#7540 fix(connector): [globalpay] address 5xx due to deserialization issue when `account_name` is not passed
  crates/hyperswitch_connectors/src/connectors/globalpay/transformers.rs
  crates/router/src/core/admin.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#7503 feat(refunds): Add refunds diesel model support in V2 API
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/kv.rs
  crates/diesel_models/src/query/refund.rs
  crates/diesel_models/src/query/user/sample_data.rs
  crates/diesel_models/src/refund.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/Cargo.toml
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/refund.rs
  crates/router/src/services/kafka/refund.rs
  crates/router/src/services/kafka/refund_event.rs
  crates/router/src/types/storage/refund.rs
  crates/storage_impl/Cargo.toml
  crates/storage_impl/src/lib.rs
  v2_compatible_migrations/2024-08-28-081721_add_v2_columns/down.sql
  v2_compatible_migrations/2024-08-28-081721_add_v2_columns/up.sql
  v2_compatible_migrations/2024-08-28-081757_drop_not_null_constraints_on_v1_columns/down.sql
  v2_compatible_migrations/2024-08-28-081757_drop_not_null_constraints_on_v1_columns/up.sql
  v2_migrations/2024-08-28-081837_add_not_null_constraints_to_v2_columns/down.sql
  v2_migrations/2024-08-28-081837_add_not_null_constraints_to_v2_columns/up.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/down.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/down.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: M-database-changes

#7521 fix(connector): add Nomupay in payout_connector_list for all environment
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: C-bug

#6888 feat(connector): [BANKOFAMERICA] Implement Samsung Pay
  crates/hyperswitch_connectors/src/connectors/bankofamerica/transformers.rs
Labels: A-connector-integration, C-feature

#7617 refactor(connector): [BRAINTREE] Pass email in payment requests
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
Labels: A-connector-integration, C-refactor

#7625 fix(connector): [CYBERSOURCE] change ucaf_collection_indicator for mastercard payments via netcetera
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
Labels: A-connector-integration

#7575 feat(connector): [TRUSTPAY] implement Banktransfer PaymentMethod
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/api_models/src/payments/additional_info.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/hyperswitch_connectors/src/connectors/adyen.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/itaubank/transformers.rs
  crates/hyperswitch_connectors/src/connectors/klarna.rs
  crates/hyperswitch_connectors/src/connectors/paypal/transformers.rs
  crates/hyperswitch_connectors/src/connectors/shift4/transformers.rs
  crates/hyperswitch_connectors/src/connectors/trustpay.rs
  crates/hyperswitch_connectors/src/connectors/trustpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zsl/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/kgraph_utils/src/mca.rs
  crates/kgraph_utils/src/transformers.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/connector/stripe/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/configs/Payout/Adyen.js
  cypress-tests/cypress/e2e/configs/Payout/AdyenPlatform.js
  cypress-tests/cypress/e2e/configs/Payout/Nomupay.js
  cypress-tests/cypress/e2e/configs/Payout/Wise.js
  cypress-tests/cypress/e2e/spec/Payout/00004-BankTransfer.cy.js
  cypress-tests/cypress/e2e/spec/Payout/00005-SavePayout.cy.js
  cypress-tests/cypress/e2e/spec/Payout/00006-PayoutUsingPayoutMethodId.cy.js
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, M-api-contract-changes

#7632 feat(connector): [Coingate] add wasm changes for coingate metadata
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-feature, C-refactor

#7640 chore(cypress): bump cypress to `v14.2.0`
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD, S-waiting-on-review

#6930 fix(connector): fix required fields for mandates supported connectors
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: A-connector-integration

#7628 fix(connector): [redsys] psync transaction type mapping
  crates/hyperswitch_connectors/src/connectors/redsys.rs
  crates/hyperswitch_connectors/src/connectors/redsys/transformers.rs
Labels: A-connector-compatibility, A-connector-integration, C-bug

#7649 refactor(connector): [TrustPay] Fix status and wasm changes
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/trustpay/transformers.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: A-connector-integration, C-bug

#7612 fix(connector): [Nexixpay] update status mapping nexixpay
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/nexixpay/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-bug, M-configuration-changes

#7651 refactor(connector): [TrustPay] Fix status and wasm changes
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/trustpay/transformers.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: A-connector-integration

#7409 feat(router): Add payment_methods_session_delete_payment_method endpoint [V2]
  api-reference-v2/api-reference/payment-method-session/payment-method-session--delete-a-saved-payment-method.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payment_method.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, M-api-contract-changes, api-v2

#7610 refactor(connector): [Noon] Implement Paypal Payment Method
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/toml/production.toml
  crates/hyperswitch_connectors/src/connectors/noon.rs
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature

#7602 feat(core): Add support for process tracker retrieve api in v2
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events.rs
  crates/api_models/src/events/revenue_recovery.rs
  crates/api_models/src/lib.rs
  crates/api_models/src/process_tracker.rs
  crates/api_models/src/process_tracker/revenue_recovery.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/id_type/global_id/payment.rs
  crates/diesel_models/src/enums.rs
  crates/diesel_models/src/process_tracker.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes.rs
  crates/openapi/src/routes/revenue_recovery.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/core.rs
  crates/router/src/core/revenue_recovery.rs
  crates/router/src/core/revenue_recovery/transformers.rs
  crates/router/src/core/revenue_recovery/types.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/process_tracker.rs
  crates/router/src/routes/process_tracker/revenue_recovery.rs
  crates/router/src/services/authorization/permission_groups.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/revenue_recovery.rs
  crates/router/src/workflows.rs
  crates/router/src/workflows/revenue_recovery.rs
  crates/router_env/src/logger/types.rs
Labels: M-api-contract-changes

#7637 chore(ci): update postman ci credentials
  .github/workflows/postman-collection-runner.yml
Labels: A-CI-CD

#7654 fix(router): fixed ctp bug calling confirmation when UAS is eligible even though CTP is disabled
  crates/router/src/core/payments/helpers.rs
Labels: C-bug

#7622 ci(cypress): do not overwrite metadata during mca update call
  cypress-tests/cypress/fixtures/update-connector-body.json
Labels: A-CI-CD

#7418 refactor(organization): add api version column
  Cargo.lock
  crates/common_types/src/consts.rs
  crates/common_types/src/lib.rs
  crates/diesel_models/Cargo.toml
  crates/diesel_models/src/organization.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/consts.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/api_keys.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/tokenize/card_executor.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/revenue_recovery.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/scheduler/Cargo.toml
  crates/scheduler/src/db/process_tracker.rs
  migrations/2025-03-04-053541_add_api_version_to_organization/down.sql
  migrations/2025-03-04-053541_add_api_version_to_organization/up.sql
Labels: M-database-changes

#7562 feat(core): Add visa click to pay support
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service.rs
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service/transformers.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/hyperswitch_domain_models/src/router_request_types/unified_authentication_service.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/core/unified_authentication_service/types.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/transformers.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-core, S-waiting-on-review, M-api-contract-changes

#7656 refactor(authentication): modify auth for profiles and mca routes to `ApiKeyAuthWithMerchantIdFromRoute`
  crates/router/src/routes/admin.rs
  crates/router/src/routes/profiles.rs
  crates/router/src/services/authentication.rs
  cypress-tests-v2/cypress/support/commands.js
  cypress-tests/cypress/support/commands.js
Labels: C-refactor

#7663 refactor(authentication): modify auth for profiles and mca routes to `ApiKeyAuthWithMerchantIdFromRoute`
  crates/router/src/routes/admin.rs
  crates/router/src/routes/profiles.rs
  crates/router/src/services/authentication.rs
  cypress-tests-v2/cypress/support/commands.js
  cypress-tests/cypress/support/commands.js
Labels: C-refactor

#7344 feat(webhook): Add is_delivered filter to list initial attempts endpoint
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/webhook_events.rs
  crates/diesel_models/src/events.rs
  crates/diesel_models/src/query/events.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/openapi/src/routes/webhook_events.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/core/webhooks/webhook_events.rs
  crates/router/src/db/events.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/types/domain/event.rs
  crates/router/src/types/transformers.rs
  crates/router/src/workflows/outgoing_webhook_retry.rs
  migrations/2025-02-19-072457_add_is_overall_delivery_successful_column_in_events_table/down.sql
  migrations/2025-02-19-072457_add_is_overall_delivery_successful_column_in_events_table/up.sql
Labels: M-database-changes, M-api-contract-changes

#7616 feat(wasm): google pay decryption flow changes
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-euclid-foc

#7615 refactor(request_body): Added FRM data in payment request
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
Labels: A-connector-integration, C-refactor
