Repository juspay/hyperswitch, pull requests merged in 2025-06, with the labels that each got.

#8202 chore: bump cypress and its dependencies
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD, S-waiting-on-review

#8177 fix(router): Handle encoded_data in PSync [V2]
  crates/router/src/core/payments/operations/payment_get.rs
Labels: C-bug, api-v2

#8171 ci(cypress): Added Fiserv Connector Test
  cypress-tests/cypress/e2e/configs/Payment/Fiserv.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD

#7709 feat(payments): implement routing in payments v2
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/routing.rs
  crates/payment_methods/Cargo.toml
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_create_intent.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api.rs
  crates/router/src/types/domain.rs
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: M-database-changes, api-v2

#8226 feat(connectors): [Template] add Worldpayvantiv
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/worldpayvantiv.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-compatibility, A-connector-integration

#8219 feat(connectors): [Worldpayvantiv] add card support
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  crates/hyperswitch_connectors/src/connectors/worldpayxml.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-compatibility, A-connector-integration, C-feature, M-api-contract-changes

#8245 feat(connectors): [Template] add Worldpayvantiv
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/worldpayvantiv.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-compatibility, A-connector-integration, C-feature

#8246 feat(connectors): [Worldpayvantiv] add card support
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  crates/hyperswitch_connectors/src/connectors/worldpayxml.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-compatibility, A-connector-integration, M-api-contract-changes

#8239 feat(router): add merchantId authentication for Payments v2
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/authentication.rs
Labels: M-configuration-changes

#8274 fix(connector): [facilitapay] cpf is a required field
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#8003 feat(payment_methods): add `external_vault_details` for payments v2 sdk session call
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/diesel_models/src/business_profile.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/facilitapay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/hyperswitch_vault.rs
  crates/hyperswitch_connectors/src/connectors/hyperswitch_vault/transformers.rs
  crates/hyperswitch_connectors/src/connectors/vgs/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/router_flow_types/vault.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_interfaces/src/api/vault.rs
  crates/hyperswitch_interfaces/src/api/vault_v2.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create_intent.rs
  crates/router/src/core/payments/operations/payment_get_intent.rs
  crates/router/src/core/payments/operations/payment_session_intent.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/core/payments/session_operation.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/vault_session.rs
  crates/router/src/core/utils.rs
  crates/router/src/types/api.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/hyperswitch_vault.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/utils.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: C-feature, A-payment-methods, M-api-contract-changes

#8187 ci(cypress): Add Airwallex Connector Test
  cypress-tests/cypress/e2e/configs/Payment/Airwallex.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, C-test

#8090 feat(router): Save payment method on payments confirm (V2)
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/payment_method.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/utils.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/proxy_payments_intent.rs
  crates/router/src/core/payments/payment_methods.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/storage/payment_method.rs
  crates/router/src/workflows/revenue_recovery.rs
Labels: M-api-contract-changes, api-v2

#8148 feat(router): add three_ds decision rule execute api
  Cargo.lock
  api-reference/api-reference/3ds-decision-rule/execute-a-3ds-decision-rule-based-on-the-provided-input.mdx
  api-reference/mint.json
  api-reference/openapi_spec.json
  crates/api_models/src/lib.rs
  crates/api_models/src/three_ds_decision_rule.rs
  crates/common_enums/src/enums.rs
  crates/common_types/src/three_ds_decision_rule_engine.rs
  crates/common_utils/src/events.rs
  crates/euclid/benches/backends.rs
  crates/euclid/src/backend.rs
  crates/euclid/src/backend/inputs.rs
  crates/euclid/src/backend/vir_interpreter.rs
  crates/euclid/src/backend/vir_interpreter/types.rs
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid_wasm/src/lib.rs
  crates/openapi/Cargo.toml
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes.rs
  crates/openapi/src/routes/three_ds_decision_rule.rs
  crates/router/src/consts.rs
  crates/router/src/core.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/three_ds_decision_rule.rs
  crates/router/src/core/three_ds_decision_rule/utils.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/three_ds_decision_rule.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, C-feature, M-api-contract-changes

#8231 feat(vsaas): enable onboarding of Standard Merchant Accounts in Platform Organization
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/user.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/enums/accounts.rs
  crates/openapi/src/openapi.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core/admin.rs
  crates/router/src/routes/app.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/utils/user.rs
Labels: C-feature, M-api-contract-changes

#8278 fix(connector): [AUTHORIZEDOTNET] Remove country PM filters
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: A-connector-integration, C-bug, M-configuration-changes

#8279 refactor(core): introduce new field in payment_intent to handle longer return_url
  api-reference/openapi_spec.json
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/spec/Payment/00022-Variations.cy.js
  loadtest/config/development.toml
  migrations/2025-05-25-185220_add-merchant_return_url-column-to-payment_intent/down.sql
  migrations/2025-05-25-185220_add-merchant_return_url-column-to-payment_intent/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: M-database-changes, M-api-contract-changes

#8135 refactor(core): introduce new field in payment_intent to handle longer return_url
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/spec/Payment/00022-Variations.cy.js
  migrations/2025-05-25-185220_add-merchant_return_url-column-to-payment_intent/down.sql
  migrations/2025-05-25-185220_add-merchant_return_url-column-to-payment_intent/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: A-core, M-database-changes, C-refactor, M-api-contract-changes

#8271 feat(connector): Added recurring payments support for split payments in Stripe
  crates/hyperswitch_connectors/src/connectors/stripe/transformers.rs
  crates/router/src/core/payments/transformers.rs
Labels: C-feature

#8269 ci(postman): add tunnel collection to postman tests
  crates/test_utils/src/newman_runner.rs
  postman/collection-dir/tunnel/.auth.json
  postman/collection-dir/tunnel/.event.meta.json
  postman/collection-dir/tunnel/.info.json
  postman/collection-dir/tunnel/.meta.json
  postman/collection-dir/tunnel/.variable.json
  postman/collection-dir/tunnel/Mandate Payment/.meta.json
  postman/collection-dir/tunnel/Mandate Payment/Create-Mandate Transaction/.event.meta.json
  postman/collection-dir/tunnel/Mandate Payment/Create-Mandate Transaction/event.test.js
  postman/collection-dir/tunnel/Mandate Payment/Create-Mandate Transaction/request.json
  postman/collection-dir/tunnel/Mandate Payment/Create-Mandate Transaction/response.json
  postman/collection-dir/tunnel/Mandate Payment/Create-Order/.event.meta.json
  postman/collection-dir/tunnel/Mandate Payment/Create-Order/event.test.js
  postman/collection-dir/tunnel/Mandate Payment/Create-Order/request.json
  postman/collection-dir/tunnel/Mandate Payment/Create-Order/response.json
  postman/collection-dir/tunnel/Mandate Payment/Create-Recurring Mandate Transaction/.event.meta.json
  postman/collection-dir/tunnel/Mandate Payment/Create-Recurring Mandate Transaction/event.test.js
  postman/collection-dir/tunnel/Mandate Payment/Create-Recurring Mandate Transaction/request.json
  postman/collection-dir/tunnel/Mandate Payment/Create-Recurring Mandate Transaction/response.json
  postman/collection-dir/tunnel/Mandate Payment/Retrieve-Order-copy/.event.meta.json
  postman/collection-dir/tunnel/Mandate Payment/Retrieve-Order-copy/event.test.js
  postman/collection-dir/tunnel/Mandate Payment/Retrieve-Order-copy/request.json
  postman/collection-dir/tunnel/Mandate Payment/Retrieve-Order-copy/response.json
  postman/collection-dir/tunnel/Mandate Payment/Retrieve-Order/.event.meta.json
  postman/collection-dir/tunnel/Mandate Payment/Retrieve-Order/event.test.js
  postman/collection-dir/tunnel/Mandate Payment/Retrieve-Order/request.json
  postman/collection-dir/tunnel/Mandate Payment/Retrieve-Order/response.json
  postman/collection-dir/tunnel/Normal Payment/.meta.json
  postman/collection-dir/tunnel/Normal Payment/Create-Order/.event.meta.json
  postman/collection-dir/tunnel/Normal Payment/Create-Order/event.test.js
  postman/collection-dir/tunnel/Normal Payment/Create-Order/request.json
  postman/collection-dir/tunnel/Normal Payment/Create-Order/response.json
  postman/collection-dir/tunnel/Normal Payment/Create-Transaction/.event.meta.json
  postman/collection-dir/tunnel/Normal Payment/Create-Transaction/event.test.js
  postman/collection-dir/tunnel/Normal Payment/Create-Transaction/request.json
  postman/collection-dir/tunnel/Normal Payment/Create-Transaction/response.json
  postman/collection-dir/tunnel/Normal Payment/Retrieve-Order/.event.meta.json
  postman/collection-dir/tunnel/Normal Payment/Retrieve-Order/event.test.js
  postman/collection-dir/tunnel/Normal Payment/Retrieve-Order/request.json
  postman/collection-dir/tunnel/Normal Payment/Retrieve-Order/response.json
  postman/collection-dir/tunnel/Refund/.meta.json
  postman/collection-dir/tunnel/Refund/Create-Order/.event.meta.json
  postman/collection-dir/tunnel/Refund/Create-Order/event.test.js
  postman/collection-dir/tunnel/Refund/Create-Order/request.json
  postman/collection-dir/tunnel/Refund/Create-Order/response.json
  postman/collection-dir/tunnel/Refund/Create-Recurring Mandate Transaction/.event.meta.json
  postman/collection-dir/tunnel/Refund/Create-Recurring Mandate Transaction/event.test.js
  postman/collection-dir/tunnel/Refund/Create-Recurring Mandate Transaction/request.json
  postman/collection-dir/tunnel/Refund/Create-Recurring Mandate Transaction/response.json
  postman/collection-dir/tunnel/Refund/Create-Refund/.event.meta.json
  postman/collection-dir/tunnel/Refund/Create-Refund/event.test.js
  postman/collection-dir/tunnel/Refund/Create-Refund/request.json
  postman/collection-dir/tunnel/Refund/Create-Refund/response.json
  postman/collection-dir/tunnel/Refund/Retrieve-Order/.event.meta.json
  postman/collection-dir/tunnel/Refund/Retrieve-Order/event.test.js
  postman/collection-dir/tunnel/Refund/Retrieve-Order/request.json
  postman/collection-dir/tunnel/Refund/Retrieve-Order/response.json
  postman/collection-dir/tunnel/event.prerequest.js
  postman/collection-dir/tunnel/event.test.js
  postman/collection-json/tunnel.postman_collection.json
Labels: A-CI-CD, S-waiting-on-review

#7879 refactor(customers_v2): Remove merchant reference id from v2 customer update
  api-reference-v2/openapi_spec.json
  crates/api_models/src/customers.rs
Labels: M-api-contract-changes

#8229 fix(cypress): fix itaubank, datatrans and facilitapay
  cypress-tests/cypress/e2e/configs/Payment/Datatrans.js
  cypress-tests/cypress/e2e/configs/Payment/ItauBank.js
  cypress-tests/cypress/e2e/configs/Payment/Modifiers.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: A-CI-CD, S-waiting-on-review

#8201 feat(core): Make installment_payment_enabled,recurring_enabled Optional
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/payment_methods.rs
  crates/common_types/src/payment_methods.rs
  crates/connector_configs/src/transformer.rs
  crates/kgraph_utils/benches/evaluation.rs
  crates/kgraph_utils/src/mca.rs
  crates/payment_methods/src/helpers.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/tokenize/card_executor.rs
  crates/router/src/core/payment_methods/tokenize/payment_method_executor.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#8257 fix(connector): Add RedirectInsidePopup response redirection URL
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/transformers.rs
Labels: M-api-contract-changes

#8321 refactor(core): introduce new field in payment_intent to handle longer return_url
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/spec/Payment/00022-Variations.cy.js
  migrations/2025-05-25-185220_add-merchant_return_url-column-to-payment_intent/down.sql
  migrations/2025-05-25-185220_add-merchant_return_url-column-to-payment_intent/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: M-database-changes, C-refactor, M-api-contract-changes

#8009 feat(connector): Implement Razorpay UPI Collect
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  config/payment_required_fields_v2.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/connector_enums.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/razorpay.rs
  crates/hyperswitch_connectors/src/connectors/razorpay/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payments.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/hyperswitch_interfaces/src/api/payments.rs
  crates/hyperswitch_interfaces/src/api/payments_v2.rs
  crates/hyperswitch_interfaces/src/connector_integration_interface.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/proxy_payments_intent.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/utils.rs
  loadtest/config/development.toml
  v2_migrations/2025-05-30-103514_add_connector_request_reference_id_in_payment_attempt/down.sql
  v2_migrations/2025-05-30-103514_add_connector_request_reference_id_in_payment_attempt/up.sql
Labels: A-connector-integration, M-database-changes, M-api-contract-changes

#8289 refactor(refunds_v2): Change refunds v2 list request verb from GET to POST
  api-reference-v2/openapi_spec.json
  crates/openapi/src/routes/refunds.rs
  crates/router/src/routes/app.rs
Labels: A-framework, M-api-contract-changes, api-v2

#8322 refactor(core): introduce new field in payment_intent to handle longer return_url
  api-reference/openapi_spec.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/spec/Payment/00022-Variations.cy.js
  migrations/2025-05-25-185220_add-merchant_return_url-column-to-payment_intent/down.sql
  migrations/2025-05-25-185220_add-merchant_return_url-column-to-payment_intent/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: M-database-changes, C-refactor, M-api-contract-changes

#8179 refactor: add result type for Program
  crates/router/src/core/payments/routing/utils.rs
  crates/router/src/core/routing.rs
Labels: C-refactor

#8307 feat(authentication): create api for update profile acquirer
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/profile_acquirer.rs
  crates/common_utils/src/id_type/profile_acquirer.rs
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/profile_acquirer.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/profile_acquirer.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/profile_acquirer.rs
  crates/router/src/types/api/admin.rs
  crates/router_env/src/logger/types.rs
Labels: A-core, M-api-contract-changes

#8175 refactor(debit_routing): filter debit networks based on merchant connector account configuration
  crates/router/src/core/debit_routing.rs
Labels: A-routing

#8339 fix(postman): fix `stripe` test cases failures
  postman/collection-dir/stripe/PaymentConnectors/.meta.json
Labels: A-CI-CD

#8233 feat: migration api for migrating routing rules to decision_engine
  config/development.toml
  crates/api_models/src/events/routing.rs
  crates/api_models/src/routing.rs
  crates/diesel_models/src/routing_algorithm.rs
  crates/router/src/core/payments/routing/utils.rs
  crates/router/src/core/routing.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/routing.rs
  crates/router_env/src/logger/types.rs
Labels: A-routing

#8346 refactor: add compatibility for decision-engine rules
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/routing/utils.rs
  crates/router/src/core/routing.rs
Labels: A-routing

#8364 fix(connector): [ARCHIPEL] Change connector fields that are currently implemented as required in the code to optional
  crates/hyperswitch_connectors/src/connectors/archipel/transformers.rs
Labels: A-connector-integration

#8319 feat(payment_methods): populate connector_customer during customer creation step in payment methods migrate flow
  crates/api_models/src/payment_methods.rs
  crates/common_types/src/customers.rs
  crates/router/src/compatibility/stripe/customers.rs
  crates/router/src/core/customers.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
Labels: A-payment-methods

#8303 fix(router): Move Customer PML endpoint to OLAP (v2)
  crates/router/src/routes/app.rs
Labels: C-bug, api-v2

#8354 fix(connectors): [worldpayvantiv] change endpoint, add billing address and fix 5xx incase of psync
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-compatibility, C-bug

#8368 feat(router): Add v2 endpoint to list payment attempts by intent_id
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/router_flow_types/payments.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_attempt_list.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/types/api/payments.rs
  crates/router_env/src/logger/types.rs
Labels: M-api-contract-changes, api-v2

#8393 feat(revenue_recovery): Invoke attempt list instead of payment get in recovery webhooks flow
  api-reference/README.md
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_connectors/src/connectors/recurly/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_response_types/revenue_recovery.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
Labels: M-api-contract-changes, api-v2

#8397 ci(cypress): Add billwerk connector test in cypress
  cypress-tests/cypress/e2e/configs/Payment/Billwerk.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: A-CI-CD

#8382 fix(openapi): Fix broken mintlify pages (v2)
  api-reference/docs.json
  api-reference/v2/customers/customers--update.mdx
  api-reference/v2/openapi_spec_v2.json
  api-reference/v2/payment-method-session/payment-method-session--confirm-a-payment-method-session.mdx
  api-reference/v2/payment-method-session/payment-method-session--delete-a-saved-payment-method.mdx
  api-reference/v2/payment-method-session/payment-method-session--list-payment-methods.mdx
  api-reference/v2/payment-method-session/payment-method-session--retrieve.mdx
  api-reference/v2/payment-method-session/payment-method-session--update-a-saved-payment-method.mdx
  api-reference/v2/payment-methods/list-customer-saved-payment-methods-for-a-payment.mdx
  api-reference/v2/payment-methods/list-payment-methods-for-a-customer.mdx
  api-reference/v2/payment-methods/list-saved-payment-methods-for-a-customer.mdx
  api-reference/v2/payment-methods/payment-method--list-customer-saved-payment-methods.mdx
  api-reference/v2/refunds/refunds--list.mdx
  api-reference/v2/refunds/refunds--metadata-update.mdx
  api-reference/v2/refunds/refunds--retrieve.mdx
  api-reference/v2/revenue-recovery/revenue-recovery--retrieve.mdx
  crates/openapi/src/routes/payments.rs
  crates/openapi/src/routes/tokenization.rs
Labels: C-doc, M-api-contract-changes, api-v2

#8311 docs(connector): [STRIPE] Added CIT & MIT Examples for API Reference in Stripe Split Payments
  api-reference/v1/openapi_spec_v1.json
  crates/openapi/src/routes/payments.rs
Labels: M-api-contract-changes

#8429 feat(payment_methods): card_cvc retrieval through payment_token
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
Labels: C-feature, A-payment-methods

#8402 ci(cypress): Add Forte connector test in cypress
  cypress-tests/cypress/e2e/configs/Payment/Forte.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD

#8452 ci(cypress): Add test for powertranz connector
  cypress-tests/cypress/e2e/configs/Payment/PowerTranz.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: A-CI-CD

#8403 ci(cypress): Add Globalpay connector test in cypress
  cypress-tests/cypress/e2e/configs/Payment/Globalpay.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/fixtures/create-connector-body.json
Labels: A-CI-CD

#8436 feat(connector): [jpmorgan] implement refund flow
  crates/hyperswitch_connectors/src/connectors/jpmorgan.rs
  crates/hyperswitch_connectors/src/connectors/jpmorgan/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Jpmorgan.js
Labels: A-CI-CD, A-connector-integration, C-feature, S-waiting-on-review

#6695 feat(router): Add webhooks for network tokenization
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/common_types/src/callback_mapper.rs
  crates/common_types/src/lib.rs
  crates/common_utils/src/events.rs
  crates/diesel_models/src/callback_mapper.rs
  crates/hyperswitch_domain_models/src/callback_mapper.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/configs/validations.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/network_tokenization_incoming.rs
  crates/router/src/db.rs
  crates/router/src/db/callback_mapper.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/payment_methods.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/callback_mapper.rs
Labels: A-core, C-feature, S-waiting-on-review

#8434 fix(recovery): Populate connector request reference id in revenue recovery record attempt flow.
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/proxy_payments_intent.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/authentication.rs
Labels: api-v2

#8471 fix(payment-method): add custom header to connector call for hitting sandbox custom pod
  crates/hyperswitch_connectors/src/connectors/hyperswitch_vault.rs
  crates/hyperswitch_connectors/src/constants.rs
Labels: C-bug

#8443 feat(openapi): Add x-mcp extension to v1 spec
  README.md
  api-reference/v1/openapi_spec_v1.json
  api-reference/v1/payments/payment--flows.mdx
  crates/openapi/src/main.rs
Labels: C-doc, M-api-contract-changes

#8472 fix(env): update env for network tokenization service
  config/config.example.toml
  config/deployments/env_specific.toml
  crates/common_enums/src/enums.rs
  crates/common_types/src/callback_mapper.rs
  crates/router/src/core/payments/tokenization.rs
Labels: C-bug
