Repository juspay/hyperswitch, pull requests merged in 2025-08, with the labels that each got.

#8799 chore: `xof` currency to cybersource cards
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: A-CI-CD, A-connector-integration, S-waiting-on-review

#8548 fix(RevenueRecovery): Skip record-back for failed invoices on auto-voiding billing connectors
  crates/hyperswitch_connectors/src/connectors/stripebilling.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
  crates/router/src/core/revenue_recovery/types.rs
Labels: C-bug

#8742 feat: add ci support for mock server
  .github/workflows/cypress-tests-runner.yml
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors/silverflow/transformers.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/types/api/connector_mapping.rs
  crates/router/src/types/connector_transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Silverflow.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/e2e/configs/mock-server/Silverflow.js
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD, M-api-contract-changes

#8817 refactor(config): enable payout in prod release
  crates/router/Cargo.toml
Labels: M-configuration-changes, C-refactor

#8606 feat(payment-methods): add filtering logic for payment method list v2
  Cargo.lock
  api-reference/v2/openapi_spec_v2.json
  config/payment_required_fields_v2.toml
  crates/api_models/Cargo.toml
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments/payment_methods.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/api/payment_methods.rs
Labels: A-core, C-feature, A-payment-methods, M-api-contract-changes, A-routing

#8815 feat(router): add support for apple pay pre-decrypted token in the payments confirm call
  Cargo.lock
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/api_models/src/payments.rs
  crates/common_types/Cargo.toml
  crates/common_types/src/payments.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/archipel/transformers.rs
  crates/hyperswitch_connectors/src/connectors/authorizedotnet/transformers.rs
  crates/hyperswitch_connectors/src/connectors/bankofamerica/transformers.rs
  crates/hyperswitch_connectors/src/connectors/checkout/transformers.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/connectors/mollie/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nmi/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payu/transformers.rs
  crates/hyperswitch_connectors/src/connectors/rapyd/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripe/transformers.rs
  crates/hyperswitch_connectors/src/connectors/wellsfargo/transformers.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/types.rs
  crates/router/tests/connectors/worldpay.rs
Labels: A-core, A-payment-methods, M-api-contract-changes, A-payments

#8825 fix(connector): (payload) currency auth key wasm changes
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, S-waiting-on-review

#8808 fix(router): Take merchant ID from headers in API Key - Revoke (v2)
  crates/router/src/core/api_keys.rs
  crates/router/src/routes/api_keys.rs
Labels: api-v2

#8671 chore: reorder v2 migrations folders
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/customers.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/refund.rs
  crates/diesel_models/src/schema_v2.rs
  v2_compatible_migrations/2025-01-17-042122_add_feature_metadata_in_payment_attempt/down.sql
  v2_compatible_migrations/2025-01-17-042122_add_feature_metadata_in_payment_attempt/up.sql
  v2_compatible_migrations/2025-02-10-101458_create_index_payment_attempt_payment_id/down.sql
  v2_compatible_migrations/2025-02-10-101458_create_index_payment_attempt_payment_id/up.sql
  v2_compatible_migrations/2025-02-24-053820_add_billing_processor_value_to_connector_type_enum/down.sql
  v2_compatible_migrations/2025-02-24-053820_add_billing_processor_value_to_connector_type_enum/up.sql
  v2_compatible_migrations/2025-03-19-080705_payment-method-subtype-optional/down.sql
  v2_compatible_migrations/2025-03-19-080705_payment-method-subtype-optional/up.sql
  v2_compatible_migrations/2025-03-25-074512_payment-method-subtype-mandatory/down.sql
  v2_compatible_migrations/2025-03-25-074512_payment-method-subtype-mandatory/up.sql
  v2_compatible_migrations/2025-04-02-051959_add_network_error_info_in_payment_attempt/down.sql
  v2_compatible_migrations/2025-04-02-051959_add_network_error_info_in_payment_attempt/up.sql
  v2_compatible_migrations/2025-04-08-101702_add_recovery_algorithm_column_in_business_profile/down.sql
  v2_compatible_migrations/2025-04-08-101702_add_recovery_algorithm_column_in_business_profile/up.sql
  v2_compatible_migrations/2025-04-25-105138_tokenization_service_creation/down.sql
  v2_compatible_migrations/2025-04-25-105138_tokenization_service_creation/up.sql
  v2_compatible_migrations/2025-07-16-035805_add_index_on_mca_for_profile_id/down.sql
  v2_compatible_migrations/2025-07-16-035805_add_index_on_mca_for_profile_id/up.sql
  v2_migrations/2024-08-28-081837_add_not_null_constraints_to_v2_columns/down.sql
  v2_migrations/2024-08-28-081837_add_not_null_constraints_to_v2_columns/up.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/down.sql
  v2_migrations/2024-08-28-081838_update_v2_primary_key_constraints/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/down.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
  v2_migrations/2025-02-10-101458_create_index_payment_attempt_payment_id/down.sql
  v2_migrations/2025-05-30-103514_add_connector_request_reference_id_in_payment_attempt/down.sql
  v2_migrations/2025-05-30-103514_add_connector_request_reference_id_in_payment_attempt/up.sql
Labels: S-waiting-on-review, M-database-changes

#8587 feat(external_services): Fixed Url for Unified Connector Service gRPC Client
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  crates/external_services/src/grpc_client/unified_connector_service.rs
Labels: A-framework, C-refactor

#8788 feat(core): populate UCS status_code in response headers
  Cargo.lock
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/external_services/Cargo.toml
  crates/router/Cargo.toml
  crates/router/src/compatibility/wrap.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/unified_connector_service.rs
  crates/router/src/core/unified_connector_service/transformers.rs
  crates/router/src/lib.rs
  crates/router/src/services/api.rs
Labels: A-core

#8836 fix(connector): [Wise] send uuid as connector_transaction_id
  crates/hyperswitch_connectors/src/connectors/wise/transformers.rs
Labels: A-connector-integration, C-bug

#8837 fix(connector): [Wise] send uuid as connector_transaction_id
  crates/hyperswitch_connectors/src/connectors/wise/transformers.rs
Labels: A-connector-integration, C-bug

#8652 feat(connector): [NMI] Add mandates flow
  crates/hyperswitch_connectors/src/connectors/nmi.rs
  crates/hyperswitch_connectors/src/connectors/nmi/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Nmi.js
Labels: A-connector-integration, C-feature

#8034 fix(core): add fix for stopping multiple event locking idempotent logs
  crates/diesel_models/src/query/events.rs
  crates/router/src/core/webhooks/outgoing.rs
  crates/router/src/db/events.rs
  crates/router/src/db/kafka_store.rs
Labels: A-core, S-waiting-on-review

#8178 feat(gRPC): build gRPC client interface to initiate communication with recovery-decider service
  Cargo.lock
  config/config.example.toml
  config/deployments/env_specific.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/external_services/Cargo.toml
  crates/external_services/build.rs
  crates/external_services/src/grpc_client.rs
  crates/external_services/src/grpc_client/revenue_recovery.rs
  crates/external_services/src/grpc_client/revenue_recovery/recovery_decider_client.rs
  crates/external_services/src/lib.rs
  crates/router/Cargo.toml
  crates/router/src/configs/settings.rs
  crates/router/src/core/payments/operations/proxy_payments_intent.rs
  crates/router/src/core/revenue_recovery/types.rs
  crates/router/src/routes/app.rs
  crates/router/src/types/storage/revenue_recovery.rs
  crates/router/src/workflows/revenue_recovery.rs
  proto/recovery_decider.proto
Labels: S-waiting-on-review, api-v2

#8862 fix(router): [worldpayvantiv] dispute validations and statuses
  config/deployments/production.toml
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/utils.rs
Labels: A-connector-integration, A-disputes

#8835 feat(v2): introduce configs and health endpoints for v2
  crates/api_models/src/health_check.rs
  crates/router/src/core/health_check.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/configs.rs
  crates/router/src/routes/health.rs
  crates/storage_impl/src/errors.rs
Labels: S-waiting-on-review, api-v2, ai-review

#8730 feat(checkbook_io): connector integrate ACH
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/checkbook.rs
  crates/hyperswitch_connectors/src/connectors/checkbook/transformers.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/types/api/connector_mapping.rs
  crates/router/src/types/connector_transformers.rs
  crates/router/tests/connectors/checkbook.rs
  cypress-tests/cypress/e2e/configs/Payment/Checkbook.js
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/configs/Payment/Stripe.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/e2e/spec/Payment/00017-BankTransfers.cy.js
  cypress-tests/cypress/support/commands.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-connector-integration, M-api-contract-changes

#8834 refactor(euclid): refactor logs for evaluation of equality for dynamic routing evaluate response
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/routing/utils.rs
Labels: A-euclid-foc

#8361 feat(router): Add new api for delete tokenization record
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/events.rs
  crates/api_models/src/tokenization.rs
  crates/diesel_models/src/query/tokenization.rs
  crates/diesel_models/src/tokenization.rs
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/hyperswitch_domain_models/src/tokenization.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/tokenization.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/tokenization.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/tokenization.rs
  crates/router_env/src/logger/types.rs
  crates/storage_impl/src/tokenization.rs
Labels: A-core, C-feature, M-api-contract-changes

#8854 feat(ucs): add gateway system {Direct | UnifiedConnectorSystem} in feature metadata for v1
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/types.rs
  crates/external_services/src/grpc_client/unified_connector_service.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_cancel.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/unified_connector_service.rs
  crates/router/src/workflows/payment_sync.rs
Labels: A-core, C-feature

#8569 feat(connector): [STRIPE] Add Incremental Authorization Flow
  .github/workflows/cypress-tests-runner.yml
  api-reference/v2/openapi_spec_v2.json
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/connectors/stripe.rs
  crates/hyperswitch_connectors/src/connectors/stripe/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/router/src/core/payments/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Stripe.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: M-api-contract-changes

#8935 feat(payment-link): update traditional chinese local
  crates/router/src/core/payment_link/locale.js
Labels: Payment Links

#8873 chore: address Rust 1.89.0 clippy lints
  crates/euclid_macros/src/inner/knowledge.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/user.rs
Labels: C-refactor

#8766 feat(connector): [NUVEI] Added support for AVC CVV checks, post confirm void and 0$ txns
  crates/hyperswitch_connectors/src/connectors/nuvei.rs
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  cypress-tests/cypress/e2e/configs/Payment/Nuvei.js
Labels: A-connector-integration, C-feature

#8918 fix: typos
  crates/api_models/src/admin.rs
  crates/hyperswitch_connectors/src/connectors/netcetera/transformers.rs
  crates/router/src/core/payments/routing/utils.rs
Labels: S-waiting-on-review, C-refactor

#8921 chore(fix): [XENDIT] Make CVV Optional and fix Capture flow
  crates/hyperswitch_connectors/src/connectors/xendit.rs
  crates/hyperswitch_connectors/src/connectors/xendit/transformers.rs
Labels: A-connector-integration, C-bug

#8909 refactor(euclid): transform enum types to include sub-variants of payment method types
  crates/router/src/core/payments/routing/utils.rs
Labels: A-euclid-foc

#8929 fix(connectors): [worldpayvantiv] add setup mandate flow, map network txn id and fix mandate flow
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/payments/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Worldpayvantiv.js
Labels: A-connector-integration, C-bug

#8946 fix(connector): [nmi] webhook source verification
  crates/hyperswitch_connectors/src/connectors/nmi.rs
Labels: A-connector-integration, C-bug

#8990 refactor(connector): [AdyenPlatform] update required fields
  crates/hyperswitch_connectors/src/connectors/adyenplatform/transformers/payouts.rs
  crates/router/src/configs/defaults/payout_required_fields.rs
Labels: A-connector-compatibility, Payouts

#8995 fix(connector): [Wise] change amount conversion unit
  crates/hyperswitch_connectors/src/connectors/wise.rs
  crates/hyperswitch_connectors/src/connectors/wise/transformers.rs
Labels: A-connector-integration, C-bug

#8975 refactor: [Netcetera] Handle response deserialization error
  crates/hyperswitch_connectors/src/connectors/netcetera/transformers.rs
  crates/hyperswitch_domain_models/src/router_request_types/authentication.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/routing.rs
Labels: A-connector-integration, C-refactor

#8976 fix(stripe): partial capture issue when fully captured on redirection flow like card3ds , eps bank redirect
  crates/hyperswitch_connectors/src/connectors/stripe/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: Hotfix

#9001 revert: feat(core): add support for api locking with multiple keys for a single api (#8887)
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/lib.rs
  crates/redis_interface/src/types.rs
  crates/router/src/core/api_locking.rs
  crates/router/src/routes/payments.rs
Labels: P-high, S-waiting-on-review

#9013 refactor(core): propagate merchant_reference_id for PaymentsAuthorizeData
  crates/router/src/core/payments/transformers.rs
Labels: A-core, api-v2

#9029 revert: feat(core): add support for api locking with multiple keys for a single api
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/lib.rs
  crates/redis_interface/src/types.rs
  crates/router/src/core/api_locking.rs
  crates/router/src/routes/payments.rs
Labels: S-waiting-on-review, ai-review

#9031 fix(connectors): [worldpayvantiv] map cnp_txn_id to connector_txn_id and enforce max length for customer_id and connector_request_reference_id
  Cargo.lock
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: A-connector-integration, C-bug

#8930 refactor(core): refund sync process scheduled time
  crates/router/src/core/refunds.rs
Labels: A-core, C-refactor

#8978 feat(payment_methods): add payment-methods/filter endpoint to list countries and currencies for connector payment method in v2
  crates/router/src/routes/app.rs
  crates/router/src/routes/payment_methods.rs
Labels: C-feature, api-v2

#9019 fix(redis): add support for fetching multiple keys for redis cluster
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/lib.rs
Labels: S-waiting-on-review, ai-review

#8701 feat(connector): [BHN] Add BHN GiftCard Flow( Alpha)
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/payments.rs
  crates/api_models/src/payments/additional_info.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/hyperswitch_connectors/src/connectors/adyen.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/blackhawknetwork.rs
  crates/hyperswitch_connectors/src/connectors/blackhawknetwork/transformers.rs
  crates/hyperswitch_connectors/src/connectors/klarna.rs
  crates/hyperswitch_connectors/src/connectors/paypal/transformers.rs
  crates/hyperswitch_connectors/src/connectors/shift4/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripe/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/kgraph_utils/src/mca.rs
  crates/kgraph_utils/src/transformers.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/types/api/connector_mapping.rs
  crates/router/src/types/api/feature_matrix.rs
  crates/router/src/types/connector_transformers.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#9011 feat(connector): [Paysafe] add connector template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/paysafe.rs
  crates/hyperswitch_connectors/src/connectors/paysafe/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/connector_endpoints.rs
  crates/router/src/connector.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/paysafe.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#9044 feat(core): Added support for unified_connector_service CardNumber and Secret<String> Type
  Cargo.lock
  crates/external_services/Cargo.toml
  crates/router/Cargo.toml
  crates/router/src/core/unified_connector_service.rs
  crates/router/src/core/unified_connector_service/transformers.rs
Labels: A-framework, A-core

#9066 feat(router): Add payment_type to Get Intent response (v2)
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/payments.rs
  crates/router/src/core/payments/transformers.rs
Labels: C-feature, M-api-contract-changes, api-v2

#9051 fix(wasm): [dwolla] fix WASM changes
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: C-bug

#9084 feat(connectors): [Stripe] add extended authorization for cards
  crates/hyperswitch_connectors/src/connectors/stripe/transformers.rs
  crates/hyperswitch_domain_models/src/router_data.rs
Labels: A-connector-integration
