Repository juspay/hyperswitch, pull requests merged in 2025-07, with the labels that each got.

#8473 feat(data-migration): add connector customer and mandate details support for multiple profiles
  crates/api_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/transformers.rs
  crates/payment_methods/src/core/migration.rs
  crates/router/src/core/customers.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
  flake.nix
Labels: A-payment-methods

#8495 feat(connectors): [Worldpayvantiv] add NTI flow and refactor sync flows
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv.rs
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  crates/hyperswitch_domain_models/src/configs.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, C-refactor

#8365 refactor(authentication): flattened paymentData in authentication trait functions
  crates/api_models/src/authentication.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/core/unified_authentication_service/types.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  migrations/2025-05-19-130655_authentication_table_refactor/down.sql
Labels: A-core

#8213 refactor(connector): update add connector script with new connector features
  connector-template/mod.rs
  connector-template/test.rs
  connector-template/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  scripts/add_connector.sh
Labels: C-feature, C-refactor

#8490 fix: Update routing_approach for session_token flow
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/routing.rs
  migrations/2025-06-27-120507_update_routing_approach/down.sql
  migrations/2025-06-27-120507_update_routing_approach/up.sql
Labels: M-database-changes

#8499 feat(core): populate connector raw response and connector_response_reference_id for razorpay
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/payments.rs
  crates/common_types/src/domain.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_connectors/src/connectors/razorpay.rs
  crates/hyperswitch_connectors/src/connectors/razorpay/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_interfaces/src/conversion_impls.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/approve_flow.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/cancel_flow.rs
  crates/router/src/core/payments/flows/capture_flow.rs
  crates/router/src/core/payments/flows/complete_authorize_flow.rs
  crates/router/src/core/payments/flows/incremental_authorization_flow.rs
  crates/router/src/core/payments/flows/post_session_tokens_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/flows/reject_flow.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/flows/session_update_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/payments/flows/update_metadata_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/proxy_payments_intent.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/core/revenue_recovery/api.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core, M-api-contract-changes, A-payments

#8519 feat(debit_routing): add `debit_routing_savings` in analytics payment attempt
  crates/analytics/docs/clickhouse/scripts/payment_attempts.sql
  crates/analytics/src/payments/accumulator.rs
  crates/analytics/src/payments/core.rs
  crates/analytics/src/payments/metrics.rs
  crates/analytics/src/payments/metrics/debit_routing.rs
  crates/analytics/src/payments/metrics/sessionized_metrics.rs
  crates/analytics/src/payments/metrics/sessionized_metrics/debit_routing.rs
  crates/api_models/src/analytics/payments.rs
  crates/api_models/src/open_router.rs
  crates/api_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/api.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/router/src/core/debit_routing.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/tokenize.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/routing/transformers.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/services/kafka/payment_attempt.rs
  crates/router/src/services/kafka/payment_attempt_event.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
Labels: A-core, A-routing, A-Analytics

#8543 ci(cypress): Add Tsys,Square cypress test
  cypress-tests/cypress/e2e/configs/Payment/Square.js
  cypress-tests/cypress/e2e/configs/Payment/Tsys.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: A-CI-CD

#8525 feat(payment-methods): create payment_token in vault confirm / do payment-confirm with temp token from session
  crates/api_models/src/payment_methods.rs
  crates/diesel_models/src/payment_methods_session.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
Labels: A-core, C-feature, A-payment-methods, api-v2

#8489 feat(connector): [Celero] add Connector Template Code
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/celero.rs
  crates/hyperswitch_connectors/src/connectors/celero/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/celero.rs
  crates/router/tests/connectors/main.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, M-api-contract-changes

#8553 feat(connector): [silverflow] template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/silverflow.rs
  crates/hyperswitch_connectors/src/connectors/silverflow/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/router/src/connector.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/silverflow.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#8552 feat(data-migration): add connector customer and mandate details support for multiple profiles
  crates/api_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/transformers.rs
  crates/payment_methods/src/core/migration.rs
  crates/router/src/core/customers.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
  flake.nix
Labels: Hotfix

#8555 feat(connector): [Redsys] Use merchant payment_id for ds_merchant_order with length check
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_connectors/src/connectors/redsys.rs
  crates/hyperswitch_connectors/src/connectors/redsys/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/hyperswitch_interfaces/src/connector_integration_interface.rs
  crates/hyperswitch_interfaces/src/conversion_impls.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/kafka/payment_intent.rs
  crates/router/src/services/kafka/payment_intent_event.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2025-07-01-073253_add_connector_request_reference_id_and_is_payment_id_from_merchant/down.sql
  migrations/2025-07-01-073253_add_connector_request_reference_id_and_is_payment_id_from_merchant/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/down.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: M-database-changes

#8380 fix(payment_method): update entity id used for Vault to global customer id
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/proxy.rs
  crates/router/src/core/proxy/utils.rs
  crates/router/src/core/tokenization.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/payment_methods.rs
Labels: A-core, C-bug, S-waiting-on-review, A-payment-methods

#8578 fix(connector): [CYBERSOURCE] Passing pares_status for MasterCard & Visa and transaction_type field
  crates/api_models/src/payments.rs
  crates/diesel_models/src/payment_attempt.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user/sample_data.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/connectors/redsys.rs
  crates/hyperswitch_connectors/src/connectors/redsys/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/hyperswitch_interfaces/src/connector_integration_interface.rs
  crates/hyperswitch_interfaces/src/conversion_impls.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/routes/payments.rs
  crates/router/src/services/kafka/payment_intent.rs
  crates/router/src/services/kafka/payment_intent_event.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/storage/payment_attempt.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
  crates/storage_impl/src/mock_db/payment_attempt.rs
  crates/storage_impl/src/payments/payment_attempt.rs
  migrations/2025-07-01-073253_add_connector_request_reference_id_and_is_payment_id_from_merchant/down.sql
  migrations/2025-07-01-073253_add_connector_request_reference_id_and_is_payment_id_from_merchant/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/down.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: M-database-changes

#8475 feat(connector): [AIRWALLEX] - Added Paypal, Trustly, Klarna , Atome, Blik Payment Methods
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/airwallex.rs
  crates/hyperswitch_connectors/src/connectors/airwallex/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Airwallex.js
  loadtest/config/development.toml
Labels: C-feature

#8558 feat(connector): [payload] add webhook support
  crates/api_models/src/webhooks.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/payload.rs
  crates/hyperswitch_connectors/src/connectors/payload/responses.rs
  crates/hyperswitch_connectors/src/connectors/payload/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Payload.js
Labels: A-CI-CD, A-connector-integration, C-bug, C-feature, S-waiting-on-review

#8439 feat(core): Hyperswitch <|> UCS integration v2
  Cargo.lock
  crates/external_services/Cargo.toml
  crates/external_services/src/grpc_client/unified_connector_service.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/router/Cargo.toml
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/unified_connector_service.rs
  crates/router/src/core/unified_connector_service/transformers.rs
  crates/router/src/types.rs
Labels: A-core, C-feature

#8506 feat(connector): [Multisafepay] Integrate EPS, MBWAY and SOFORT
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/hyperswitch_connectors/src/connectors/multisafepay.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Multisafepay.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-connector-integration

#8593 fix(users): fallback to fresh lineage context if cached role_id no longer matches
  crates/router/src/types/domain/user/decision_manager.rs
Labels: C-bug

#8577 chore(stripe): Eps bank_name should be mandatory
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/enums.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
Labels: A-connector-integration, M-api-contract-changes

#8583 feat(router): Deduplicate PML response and populate bank details (V2)
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/payment_methods.rs
Labels: A-payment-methods, M-api-contract-changes

#8589 refactor(dynamic_routing): make the dynamo configs optional
  crates/external_services/src/grpc_client.rs
  crates/external_services/src/grpc_client/dynamic_routing.rs
  crates/external_services/src/grpc_client/health_check_client.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
Labels: C-refactor, A-routing

#8602 fix(connector): [Worldpayvantiv] Psync status mapping and add address lines to billing data
  crates/hyperswitch_connectors/src/connectors/worldpayvantiv/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: A-connector-integration, C-refactor

#8503 refactor(nix): Migrate from cargo2nix to rust-flake
  .gitignore
  flake.lock
  flake.nix
  nix/modules/flake/devshell.nix
  nix/modules/flake/git-hooks.nix
  nix/modules/flake/rust.nix
  nix/modules/flake/services.nix
Labels: A-CI-CD

#8605 feat(connector): add apple pay decrypt support for Adyen
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
Labels: A-connector-integration, C-feature, A-payment-methods

#8641 refactor(payment-links): use top redirection in status page
  crates/router/src/core/payment_link/payment_link_status/status.js
Labels: Payment Links

#8565 refactor(core): make raw_connector_response as secret
  crates/api_models/src/payments.rs
  crates/common_types/src/domain.rs
  crates/hyperswitch_connectors/src/connectors/razorpay.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/psync_flow.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/services/api.rs
Labels: A-core

#8667 feat(payments): Add feature_metadata in the payments response for v2
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/core/payments/transformers.rs
Labels: M-api-contract-changes

#8660 chore: update org retrieve api response to include org type
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/organization.rs
  crates/common_enums/src/enums/accounts.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/types/api/admin.rs
Labels: S-waiting-on-review, M-api-contract-changes

#8431 feat(authentication): Added eligibility flow for modular authentication
  api-reference/v1/openapi_spec_v1.json
  config/development.toml
  crates/api_models/src/authentication.rs
  crates/api_models/src/payments.rs
  crates/common_utils/src/errors.rs
  crates/diesel_models/src/authentication.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service.rs
  crates/hyperswitch_connectors/src/connectors/unified_authentication_service/transformers.rs
  crates/hyperswitch_domain_models/src/authentication.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/router_request_types/unified_authentication_service.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/core/unified_authentication_service/types.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/db/authentication.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/authentication.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/services/authentication.rs
  crates/router_env/src/logger/types.rs
  migrations/2025-06-24-172453_add_new_fields_to_authentication_table/down.sql
  migrations/2025-06-24-172453_add_new_fields_to_authentication_table/up.sql
Labels: A-core, C-feature, M-database-changes, M-api-contract-changes

#8640 feat(routing): Add API key auth for decision engine endpoints
  crates/api_models/src/events/routing.rs
  crates/api_models/src/open_router.rs
  crates/router/src/core/payments/routing/utils.rs
  crates/router/src/core/routing.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/routing.rs
  crates/router_env/src/logger/types.rs
Labels: A-routing

#8681 refactor(payments): fetch payment method information in attempts list api v2 and add custom billing connector template
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/custombilling.rs
  crates/hyperswitch_connectors/src/connectors/custombilling/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/connector_endpoints.rs
  crates/router/src/connector.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/types/api/connector_mapping.rs
  crates/router/src/types/connector_transformers.rs
  crates/router/tests/connectors/custombilling.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: M-api-contract-changes, api-v2

#8591 feat(connector): [SILVERFLOW] Integrate cards non 3ds payments
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/silverflow.rs
  crates/hyperswitch_connectors/src/connectors/silverflow/transformers.rs
  crates/test_utils/src/connector_auth.rs
Labels: A-connector-integration, C-feature, Grace, Alpha

#8672 feat(connector): [TRUSTPAYMENTS] Add Template Code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/trustpayments.rs
  crates/hyperswitch_connectors/src/connectors/trustpayments/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/connector_endpoints.rs
  crates/router/src/connector.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/trustpayments.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, Grace

#8747 fix(router): add payment method Wallet check for decrypted wallet payment method token logic
  crates/router/src/core/payments.rs
Labels: A-core, C-bug, A-payment-methods, A-payments

#8676 feat(connector): [Breadpay]Add support for Breadpay connector
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/hyperswitch_connectors/src/connectors/adyen.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/breadpay.rs
  crates/hyperswitch_connectors/src/connectors/breadpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/klarna.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
  crates/hyperswitch_connectors/src/connectors/paypal/transformers.rs
  crates/hyperswitch_connectors/src/connectors/shift4/transformers.rs
  crates/hyperswitch_connectors/src/connectors/square/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripe/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/kgraph_utils/src/mca.rs
  crates/kgraph_utils/src/transformers.rs
  crates/payment_methods/src/helpers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/types/api/connector_mapping.rs
  crates/router/src/types/connector_transformers.rs
  crates/router/src/types/transformers.rs
Labels: A-connector-integration, M-api-contract-changes, Alpha

#8714 feat(connector): [Flexiti]template code for flexiti connector
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/flexiti.rs
  crates/hyperswitch_connectors/src/connectors/flexiti/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/connector_endpoints.rs
  crates/router/src/connector.rs
  crates/router/tests/connectors/flexiti.rs
  crates/router/tests/connectors/main.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#8680 fix(chat): append request id to headers for chat request
  crates/common_utils/src/consts.rs
  crates/router/src/core/chat.rs
  crates/router/src/routes/chat.rs
  crates/router/src/routes/metrics.rs
Labels: C-bug

#8688 ci(cypress): add authorizedotnet connector
  cypress-tests/cypress/e2e/configs/Payment/Authorizedotnet.js
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: A-CI-CD, S-waiting-on-review

#8285 feat(recovery-events): add revenue recovery topic and vector config to push these events to s3
  api-reference/v2/openapi_spec_v2.json
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  config/vector.yaml
  crates/api_models/src/payments.rs
  crates/diesel_models/src/types.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_attempt.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/revenue_recovery/types.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
  crates/router/src/events.rs
  crates/router/src/services/kafka.rs
  crates/router/src/services/kafka/revenue_recovery.rs
  crates/storage_impl/src/errors.rs
Labels: M-api-contract-changes, api-v2

#8387 feat(themes): Create user APIs for managing themes
  crates/api_models/src/events/user.rs
  crates/api_models/src/user/theme.rs
  crates/common_enums/src/enums.rs
  crates/common_utils/src/id_type/profile.rs
  crates/common_utils/src/types/user/theme.rs
  crates/diesel_models/src/query/user/theme.rs
  crates/router/src/core/user/theme.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user/theme.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user/theme.rs
  crates/router/src/services/authorization/info.rs
  crates/router/src/services/authorization/permission_groups.rs
  crates/router/src/services/authorization/permissions.rs
  crates/router/src/services/authorization/roles/predefined_roles.rs
  crates/router/src/utils/user/theme.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature

#8738 feat(core): Hyperswitch <|> UCS Mandate flow integration
  Cargo.lock
  crates/external_services/Cargo.toml
  crates/external_services/src/grpc_client/unified_connector_service.rs
  crates/router/Cargo.toml
  crates/router/src/core/payments/flows/authorize_flow.rs
  crates/router/src/core/payments/flows/setup_mandate_flow.rs
  crates/router/src/core/unified_connector_service.rs
  crates/router/src/core/unified_connector_service/transformers.rs
Labels: A-core, A-mandates

#8720 feat(connector): [Adyen] receive incoming webhooks for pix expiry
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/webhooks.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_connectors/src/connectors/paypal/transformers.rs
  crates/hyperswitch_connectors/src/connectors/recurly/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/compatibility/stripe/webhooks.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_attempt_record.rs
  crates/router/src/core/payments/operations/payment_capture_v2.rs
  crates/router/src/core/payments/operations/payment_confirm_intent.rs
  crates/router/src/core/payments/operations/payment_get.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_session_intent.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/core/payments/operations/proxy_payments_intent.rs
  crates/router/src/core/payments/payment_methods.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/revenue_recovery/transformers.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/types.rs
  crates/router/src/types/transformers.rs
  migrations/2025-07-24-214849_add_expired_to_intent_and_attempt_status_and_event/down.sql
  migrations/2025-07-24-214849_add_expired_to_intent_and_attempt_status_and_event/up.sql
Labels: M-database-changes, M-api-contract-changes

#8709 feat(routing): Add api-refs for new decision engine endpoints
  api-reference/docs.json
  api-reference/v1/openapi_spec_v1.json
  api-reference/v1/routing/routing--evaluate.mdx
  api-reference/v1/routing/routing--feedback.mdx
  api-reference/v1/routing/routing--rule-evaluate.mdx
  crates/api_models/src/open_router.rs
  crates/api_models/src/routing.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/routes/routing.rs
  crates/router/src/core/payments/routing/utils.rs
  crates/router/src/routes/routing.rs
Labels: M-api-contract-changes

#8743 feat(connector): [Flexiti]Add support for flexiti connector
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/hyperswitch_connectors/src/connectors/adyen.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/breadpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/flexiti.rs
  crates/hyperswitch_connectors/src/connectors/flexiti/transformers.rs
  crates/hyperswitch_connectors/src/connectors/klarna.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
  crates/hyperswitch_connectors/src/connectors/paypal/transformers.rs
  crates/hyperswitch_connectors/src/connectors/shift4/transformers.rs
  crates/hyperswitch_connectors/src/connectors/square/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripe/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/kgraph_utils/src/mca.rs
  crates/kgraph_utils/src/transformers.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/payment_methods/src/helpers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/types/api/connector_mapping.rs
  crates/router/src/types/connector_transformers.rs
  crates/router/src/types/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, M-api-contract-changes, Alpha

#8778 feat(connector): [facilitapay] fix refunds, add webhook and void support
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/facilitapay.rs
  crates/hyperswitch_connectors/src/connectors/facilitapay/requests.rs
  crates/hyperswitch_connectors/src/connectors/facilitapay/responses.rs
  crates/hyperswitch_connectors/src/connectors/facilitapay/transformers.rs
Labels: A-connector-integration, C-bug, C-feature, S-waiting-on-review

#8783 feat(connector): [katapult]add template code for katapult
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/katapult.rs
  crates/hyperswitch_connectors/src/connectors/katapult/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/connector_endpoints.rs
  crates/router/src/connector.rs
  crates/router/tests/connectors/katapult.rs
  crates/router/tests/connectors/main.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#8732 feat(core): Implement UCS based upi for paytm and phonepe
  Cargo.lock
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  config/payment_required_fields_v2.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/external_services/Cargo.toml
  crates/external_services/src/grpc_client/unified_connector_service.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/paytm.rs
  crates/hyperswitch_connectors/src/connectors/paytm/transformers.rs
  crates/hyperswitch_connectors/src/connectors/phonepe.rs
  crates/hyperswitch_connectors/src/connectors/phonepe/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/connector_endpoints.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/router/Cargo.toml
  crates/router/src/connector.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/core/unified_connector_service.rs
  crates/router/src/core/unified_connector_service/transformers.rs
  crates/router/src/types/api/connector_mapping.rs
  crates/router/src/types/connector_transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/paytm.rs
  crates/router/tests/connectors/phonepe.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: M-api-contract-changes
