Repository juspay/hyperswitch, pull requests merged in 2025-10, with the labels that each got.

#9566 feat(connector): [Gigadat] Implement interac payouts
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/enums.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/payouts.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/gigadat.rs
  crates/hyperswitch_connectors/src/connectors/gigadat/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/utils.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-feature, M-api-contract-changes

#9571 refactor(core): introduce new field `cardFundingSource` to `GooglePayPaymentMethodData`
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/tests/connectors/payu.rs
  crates/router/tests/connectors/worldpay.rs
Labels: A-core, S-waiting-on-review, C-refactor, M-api-contract-changes, A-payments

#9585 feat(core): Add MIT Types in payment Intent
  api-reference/v1/openapi_spec_v1.json
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_connectors/src/connectors/checkout/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/db/events.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/connectors/utils.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  migrations/2025-09-25-075008_add_mit_category_in_payment_intnet/down.sql
  migrations/2025-09-25-075008_add_mit_category_in_payment_intnet/up.sql
Labels: M-database-changes, M-api-contract-changes

#9639 refactor(core): add cache redaction for cgraph
  crates/router/src/core/admin.rs
  crates/router/src/core/routing/helpers.rs
Labels: A-routing

#9632 feat(connectors): [Tesouro] Integrate no-threeds cards
  api-reference/v1/openapi_spec_v1.json
  api-reference/v2/openapi_spec_v2.json
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/tesouro.rs
  crates/hyperswitch_connectors/src/connectors/tesouro/transformers.rs
  crates/payment_methods/src/configs/payment_connector_required_fields.rs
  crates/router/src/core/connector_validation.rs
  crates/router/src/types/api/connector_mapping.rs
  crates/router/src/types/api/feature_matrix.rs
  crates/router/src/types/connector_transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Tesouro.js
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
Labels: A-connector-integration, M-api-contract-changes

#9619 Feat(Customer): Added search Feature to the Customer Page
  crates/api_models/src/customers.rs
  crates/diesel_models/src/query/customers.rs
  crates/hyperswitch_domain_models/src/customer.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/locker_migration.rs
Labels: C-feature

#9644 fix(connectors): [Nexixpay] MIT & order_id fix
  crates/hyperswitch_connectors/src/connectors/nexixpay/transformers.rs
Labels: A-connector-compatibility

#9595 fix(payments): update error handling for payment void v2
  api-reference/v2/openapi_spec_v2.json
  crates/api_models/src/payments.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_data_v2/flow_common_types.rs
  crates/hyperswitch_interfaces/src/conversion_impls.rs
  crates/router/src/core/payments/transformers.rs
Labels: C-bug, M-api-contract-changes

#9648 feat(connector): [tesouro] apple pay
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/tesouro.rs
  crates/hyperswitch_connectors/src/connectors/tesouro/transformers.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature, S-waiting-on-review

#9688 feat(core): Add support to update card exp in update payment methods api
  crates/api_models/src/payment_methods.rs
  crates/diesel_models/src/payment_method.rs
  crates/payment_methods/src/core/migration.rs
  crates/router/src/core/payment_methods/migration.rs
Labels: A-payment-methods

#9659 refactor(routing): update configs on updation of mca
  crates/router/src/core/admin.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
Labels: A-routing

#9713 feat(subscriptions): Add client secret auth support in subscriptions APIs
  crates/api_models/src/subscription.rs
  crates/diesel_models/src/invoice.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/src/core/subscription.rs
  crates/router/src/core/subscription/invoice_handler.rs
  crates/router/src/core/subscription/subscription_handler.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/routes/subscription.rs
  crates/router/src/services/authentication.rs
  crates/router/src/workflows/invoice_sync.rs
  migrations/2025-10-07-130304_add_connector_invoice_id/down.sql
  migrations/2025-10-07-130304_add_connector_invoice_id/up.sql
Labels: M-database-changes

#9722 chore(environment): [tesouro] update currency environment variables
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  loadtest/config/development.toml
Labels: A-connector-integration, S-waiting-on-review
