Repository juspay/hyperswitch, pull requests merged in 2025-01, with the labels that each got.

#6976 fix(cache): address in-memory cache invalidation using global tenant as `key_prefix`
  crates/redis_interface/src/commands.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/cache.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/db/configs.rs
  crates/router/src/db/merchant_account.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/pub_sub.rs
Labels: A-framework, C-bug, S-waiting-on-review

#6980 chore: add migrations for Currency type in DB
  migrations/2025-01-03-084904_add_currencies/down.sql
  migrations/2025-01-03-084904_add_currencies/up.sql
Labels: M-database-changes

#6984 ci(cypress): fix adyen sofort in cypress
  cypress-tests/cypress/e2e/PaymentUtils/Adyen.js
  cypress-tests/cypress/e2e/PaymentUtils/Iatapay.js
Labels: A-CI-CD, S-waiting-on-review

#6544 Ci(Cypress): Add PML test and Dynamic Fields Test for Novalnet
  cypress-tests/cypress/e2e/PaymentMethodListTest/00000-PaymentMethodListTests.cy.js
  cypress-tests/cypress/e2e/PaymentMethodListUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentMethodListUtils/Connector.js
  cypress-tests/cypress/e2e/PaymentMethodListUtils/Utils.js
  cypress-tests/cypress/e2e/PaymentUtils/Novalnet.js
Labels: A-CI-CD, S-waiting-on-review

#6683 ci(cypress): Add Session Token Testcases
  .github/workflows/cypress-tests-runner.yml
  cypress-tests/cypress/e2e/PaymentTest/00024-SessionCall.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Commons.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/e2e/PaymentUtils/Stripe.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review, C-test

#6968 chore(keymanager): add tenant-id to keymanager requests
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_utils/src/consts.rs
  crates/common_utils/src/id_type/tenant.rs
  crates/common_utils/src/keymanager.rs
  crates/common_utils/src/types/keymanager.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/types/domain/types.rs
  loadtest/config/development.toml
Labels: A-core

#6956 docs(cypress): update cypress documentation
  cypress-tests/README.md
Labels: C-doc, S-waiting-on-review

#7004 fix: consider status of payment method before filtering wallets in list pm
  crates/router/src/core/payment_methods/cards.rs
Labels: C-bug, A-payment-methods

#7002 chore(dynamic-fields): [Worldpay] update dynamic fields for payments
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
Labels: A-connector-compatibility

#6990 feat(users): handle edge features for users in tenancy
  crates/diesel_models/src/query/role.rs
  crates/diesel_models/src/query/user_role.rs
  crates/diesel_models/src/role.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/router/src/analytics.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user_role.rs
  crates/router/src/core/user_role/role.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/role.rs
  crates/router/src/db/user_role.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/authorization/roles.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user_role.rs
  migrations/2024-12-28-121104_add_column_tenant_id_to_roles/down.sql
  migrations/2024-12-28-121104_add_column_tenant_id_to_roles/up.sql
Labels: C-bug, C-feature, M-database-changes, A-users

#6978 fix(cypress): backup and restore sessions when using user apis
  cypress-tests/cypress/e2e/RoutingTest/00000-PriorityRouting.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00001-VolumeBasedRouting.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00002-RuleBasedRouting.cy.js
  cypress-tests/cypress/e2e/RoutingTest/00003-Retries.cy.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#7008 fix(dummyconnector): add tenant id in dummyconnector requests
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/hyperswitch_domain_models/src/router_data_v2.rs
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/transformers.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/fulfillment_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/mandate/utils.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payouts.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/services/conversion_impls.rs
  crates/router/src/types.rs
  crates/router/src/types/api/verify_connector.rs
  crates/router/src/types/api/verify_connector/paypal.rs
  crates/router/tests/connectors/aci.rs
  crates/router/tests/connectors/utils.rs
Labels: A-core

#6974 feat(router): add support for relay refund incoming webhooks
  crates/api_models/src/webhooks.rs
  crates/common_utils/src/id_type/relay.rs
  crates/diesel_models/src/query/relay.rs
  crates/hyperswitch_domain_models/src/relay.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/db/relay.rs
  crates/router/src/lib.rs
  crates/router/src/routes.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/webhooks.rs
  crates/router/src/types/transformers.rs
  crates/router_env/src/logger/types.rs
  migrations/2025-01-07-105739_create_index_for_relay/down.sql
  migrations/2025-01-07-105739_create_index_for_relay/up.sql
Labels: A-core, M-database-changes, C-refactor, A-refunds

#7016 docs(cypress): update file structure
  cypress-tests/README.md
  cypress-tests/cypress/support/e2e.js
Labels: C-doc, S-waiting-on-review

#6187 refactor(cypress): verify payment status after payment redirection
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, S-waiting-on-review, hacktoberfest, hacktoberfest-accepted

#6938 feat(payment_methods_v2): add payment methods list endpoint
  api-reference-v2/api-reference/payment-methods/payment-method--payment-methods-list.mdx
  api-reference-v2/mint.json
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/development.toml
  config/payment_required_fields_v2.toml
  crates/api_models/src/admin.rs
  crates/api_models/src/connector_enums.rs
  crates/api_models/src/events.rs
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/id_type/global_id/payment_methods.rs
  crates/diesel_models/src/merchant_connector_account.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes.rs
  crates/openapi/src/routes/payment_method.rs
  crates/router/Cargo.toml
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/configs/defaults/payout_required_fields.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/apple_pay_certificates_migration.rs
  crates/router/src/core/disputes.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/flows/session_flow.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/payment_methods.rs
  crates/router/src/core/payouts/transformers.rs
  crates/router/src/core/relay.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/user/dashboard_metadata.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/disputes.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router_env/src/logger/config.rs
Labels: M-api-contract-changes, api-v2

#6844 feat(connector): [Deutschebank] Implement Card 3ds
  crates/diesel_models/src/payment_attempt.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank.rs
  crates/hyperswitch_connectors/src/connectors/deutschebank/transformers.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/services/api.rs
  cypress-tests/cypress/e2e/PaymentUtils/Deutschebank.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
Labels: A-connector-integration

#7035 ci: update cypress creds for Novalnet
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD

#6571 feat(core): diesel models, domain models and db interface changes for callback_mapper table
  crates/diesel_models/src/callback_mapper.rs
  crates/diesel_models/src/lib.rs
  crates/diesel_models/src/query.rs
  crates/diesel_models/src/query/callback_mapper.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/callback_mapper.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/router/src/db.rs
  crates/router/src/db/callback_mapper.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/storage.rs
  crates/router/src/types/storage/callback_mapper.rs
  crates/storage_impl/src/callback_mapper.rs
  crates/storage_impl/src/lib.rs
  migrations/2024-11-13-105952_add_call-back-mapper_table/down.sql
  migrations/2024-11-13-105952_add_call-back-mapper_table/up.sql
Labels: C-feature, M-database-changes

#6966 feat(connector): [Xendit] ADD Cards & Mandates Flow
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/xendit.rs
  crates/hyperswitch_connectors/src/connectors/xendit/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/PaymentTest/00007-VoidPayment.cy.js
  cypress-tests/cypress/e2e/PaymentUtils/Utils.js
  cypress-tests/cypress/e2e/PaymentUtils/Xendit.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-connector-integration, M-api-contract-changes

#6900 refactor(dynamic_routing): perform db operations for dynamic_routing_stats table only when payments are in terminal state
  crates/common_enums/src/enums.rs
  crates/router/src/core/payments/operations/payment_response.rs
Labels: A-core, C-refactor

#6957 refactor(proxy): specify hosts for proxy exclusion instead of complete URLs
  config/config.example.toml
  config/deployments/env_specific.toml
  crates/common_enums/src/enums.rs
  crates/router/src/bin/scheduler.rs
  crates/router/src/configs/defaults.rs
  crates/router/src/configs/settings.rs
  crates/router/src/lib.rs
  crates/router/src/services/api.rs
  crates/router/src/services/api/client.rs
  crates/router/src/services/openidconnect.rs
Labels: A-framework, S-waiting-on-review, M-configuration-changes, C-refactor

#7021 chore: address Rust 1.84.0 clippy lints
  Cargo.lock
  crates/diesel_models/src/query/address.rs
  crates/euclid/src/backend/vir_interpreter/types.rs
  crates/euclid/src/dssa/graph.rs
  crates/euclid_wasm/Cargo.toml
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector/authorizedotnet/transformers.rs
  crates/router/src/connector/bankofamerica/transformers.rs
  crates/router/src/connector/cybersource/transformers.rs
  crates/router/src/connector/noon/transformers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/connector/wellsfargo/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/blocklist/transformers.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/fraud_check.rs
  crates/router/src/core/fraud_check/flows/checkout_flow.rs
  crates/router/src/core/fraud_check/flows/record_return.rs
  crates/router/src/core/fraud_check/flows/sale_flow.rs
  crates/router/src/core/fraud_check/flows/transaction_flow.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/utils.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/refunds.rs
  crates/router/src/core/relay/utils.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/utils.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/db/dashboard_metadata.rs
  crates/router/src/db/refund.rs
  crates/router/src/services/authentication/blacklist.rs
  crates/router/src/services/pm_auth.rs
  crates/router/src/utils/user/dashboard_metadata.rs
  crates/storage_impl/src/redis/kv_store.rs
Labels: C-refactor

#7044 fix(multitenancy): add a fallback for get commands in redis
  crates/drainer/src/health_check.rs
  crates/drainer/src/stream.rs
  crates/redis_interface/Cargo.toml
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/types.rs
  crates/router/Cargo.toml
  crates/router/src/core/api_locking.rs
  crates/router/src/core/health_check.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/poll.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/db/ephemeral_key.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/dummy_connector/core.rs
  crates/router/src/routes/dummy_connector/utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication/blacklist.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/openidconnect.rs
  crates/router/src/utils/currency.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/two_factor_auth.rs
  crates/router/tests/cache.rs
  crates/scheduler/src/db/queue.rs
  crates/scheduler/src/utils.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/kv_store.rs
Labels: A-core, S-waiting-on-review

#6962 refactor(dynamic_routing): add info logs to log the grpc request and response
  crates/external_services/src/grpc_client.rs
  crates/external_services/src/grpc_client/dynamic_routing/elimination_rate_client.rs
  crates/external_services/src/grpc_client/dynamic_routing/success_rate_client.rs
  crates/router/src/core/payments/routing.rs
  proto/success_rate.proto
Labels: C-refactor, A-routing

#7054 chore: update creds
  .github/workflows/cypress-tests-runner.yml
Labels: A-CI-CD

#7024 chore: Update readme with juspay's vision, product offering, architecture diagram, setup steps and output
  README.md
  docs/imgs/features.png
  docs/imgs/hyperswitch-architecture-v1.png
  docs/imgs/non-functional-features.png
Labels: C-doc

#7059 fix(connector): [NETCETERA] add accept-language in browser_information for netcetera authentication request
  crates/router/src/connector/netcetera/netcetera_types.rs
Labels: A-connector-integration, C-bug

#7045 fix(relay): populate connector metadata in the refunds flow
  crates/router/src/core/relay/utils.rs
Labels: A-core, C-bug

#6859 refactor(router): refactor ctp flow to fetch mca_id and get the connector creds instead of connector_name
  crates/api_models/src/admin.rs
  crates/common_enums/src/enums.rs
  crates/common_types/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/router/src/consts.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/core/unified_authentication_service/types.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/types/api/admin.rs
Labels: A-core, C-refactor

#7072 refactor(payment-link): use shouldRemoveBeforeUnloadEvents flag for handling removal of beforeunload events through SDK
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_initiate/secure_payment_link_initiator.js
Labels: Payment Links

#7078 refactor(router): refactor ctp flow to fetch mca_id and get the connector creds instead of connector_name
  crates/api_models/src/admin.rs
  crates/common_enums/src/enums.rs
  crates/common_types/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/merchant_connector_account.rs
  crates/router/src/consts.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/core/unified_authentication_service/types.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/types/api/admin.rs
Labels: A-core, C-bug, C-refactor

#7057 fix(cypress): address cybersource redirection inconsistency
  .github/workflows/cypress-tests-runner.yml
  cypress-tests/.gitignore
  cypress-tests/cypress.config.js
  cypress-tests/cypress/e2e/PaymentUtils/Cybersource.js
  cypress-tests/cypress/support/e2e.js
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD

#6946 feat(connectors): fiuu,novalnet,worldpay - extend NTI flows
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/fiuu.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
  crates/hyperswitch_connectors/src/connectors/worldpay.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/requests.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/response.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/locales/en.yml
  crates/router/src/configs/defaults/payment_connector_required_fields.rs
  cypress-tests/cypress/e2e/PaymentUtils/Fiuu.js
  cypress-tests/cypress/e2e/PaymentUtils/Novalnet.js
  cypress-tests/cypress/e2e/PaymentUtils/WorldPay.js
  loadtest/config/development.toml
Labels: A-connector-integration

#7019 refactor: check allowed payment method types in enabled options
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/routes/metrics.rs
Labels: C-bug, A-payment-methods

#6950 feat(routing): Integrate global success rates
  api-reference/openapi_spec.json
  crates/api_models/src/routing.rs
  crates/diesel_models/src/dynamic_routing_stats.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/external_services/src/grpc_client/dynamic_routing/success_rate_client.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/routing/helpers.rs
  migrations/2025-01-07-101337_global_sr_connector_dynamic_routing/down.sql
  migrations/2025-01-07-101337_global_sr_connector_dynamic_routing/up.sql
  proto/success_rate.proto
Labels: M-database-changes, M-api-contract-changes

#7061 feat(connector): [ADYEN ] Consume transaction id for PaymentsPreProcessing error
  crates/router/src/connector/adyen.rs
Labels: A-connector-integration

#7086 refactor(payment-link): use shouldRemoveBeforeUnloadEvents flag for handling removal of beforeunload events through SDK
  crates/router/src/core/payment_link/payment_link_initiate/payment_link_initiator.js
  crates/router/src/core/payment_link/payment_link_initiate/secure_payment_link_initiator.js
Labels: Hotfix

#6857 chore: enable 128-column-tables feature for diesel crate
  .github/workflows/CI-pr.yml
  .github/workflows/CI-push.yml
  crates/common_enums/Cargo.toml
  crates/diesel_models/Cargo.toml
Labels: increases-compile-time

#6908 refactor: [CYBERSOURCE, BANKOFAMERICA, WELLSFARGO] Move code to crate hyperswitch_connectors
  Cargo.lock
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/bankofamerica.rs
  crates/hyperswitch_connectors/src/connectors/bankofamerica/transformers.rs
  crates/hyperswitch_connectors/src/connectors/cybersource.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/connectors/wellsfargo.rs
  crates/hyperswitch_connectors/src/connectors/wellsfargo/transformers.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/router/src/connector.rs
  crates/router/src/consts.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#6884 ci(workflows): Add code coverage reporting for v2
  .github/workflows/cypress-tests-runner.yml
  .gitignore
  README.md
  cypress-tests-v2/package-lock.json
  docs/CONTRIBUTING.md
  justfile
  scripts/execute_cypress.sh
Labels: A-CI-CD, api-v2

#7092 fix(cypress): uncaught exceptions thrown by `hyperswitch.io`
  cypress-tests/cypress/support/e2e.js
  cypress-tests/cypress/support/redirectionHandler.js
  cypress-tests/package-lock.json
  cypress-tests/package.json
Labels: A-CI-CD

#6967 chore: fix `toml` format to address wasm build failure
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  docker/wasm-build.Dockerfile
Labels: A-euclid-foc

#6906 refactor(currency_conversion): re frame the currency_conversion crate to make api calls on background thread
  config/config.example.toml
  config/deployments/env_specific.toml
  config/development.toml
  config/docker_compose.toml
  crates/analytics/docs/README.md
  crates/router/src/configs/settings.rs
  crates/router/src/core/currency.rs
  crates/router/src/utils/currency.rs
  loadtest/config/development.toml
Labels: C-refactor, A-currency-conversion

#7043 fix(multitenancy): add a fallback for get commands in redis
  crates/drainer/src/health_check.rs
  crates/drainer/src/stream.rs
  crates/redis_interface/Cargo.toml
  crates/redis_interface/src/commands.rs
  crates/redis_interface/src/types.rs
  crates/router/src/core/api_locking.rs
  crates/router/src/core/health_check.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/pm_auth.rs
  crates/router/src/core/poll.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/db/ephemeral_key.rs
  crates/router/src/db/merchant_connector_account.rs
  crates/router/src/routes/dummy_connector/core.rs
  crates/router/src/routes/dummy_connector/utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication/blacklist.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/openidconnect.rs
  crates/router/src/utils/currency.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/two_factor_auth.rs
  crates/router/tests/cache.rs
  crates/scheduler/src/db/queue.rs
  crates/scheduler/src/utils.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/redis/cache.rs
  crates/storage_impl/src/redis/kv_store.rs
Labels: A-core, S-waiting-on-review

#7096 chore: add stripe to network transaction id support
  config/deployments/production.toml
Labels: M-configuration-changes

#7081 refactor(router): prioritise `connector_mandate_id` over `network_transaction_id` during MITs
  crates/router/src/core/payments.rs
Labels: A-core, A-payment-methods, C-refactor, A-payments

#7032 refactor(euclid): update proto file for elimination routing
  proto/elimination_rate.proto
Labels: A-routing

#7074 feat(router): add accept-language from request headers into browser-info
  api-reference-v2/openapi_spec.json
  crates/common_utils/src/types.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/router/src/connector/netcetera/netcetera_types.rs
  crates/router/src/connector/trustpay/transformers.rs
  crates/router/src/routes/payments.rs
  crates/router/src/routes/payments/helpers.rs
  crates/router/tests/connectors/trustpay.rs
  crates/router/tests/connectors/utils.rs
Labels: A-connector-integration, C-feature, M-api-contract-changes

#7036 feat(connector): add template code for chargebee
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/chargebee.rs
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_interfaces/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/payments/connector_integration_v2_impls.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/chargebee.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#7118 ci(cypress): log `x-request-id` for failed requests
  .github/data/cards_info.csv
  cypress-tests/cypress/e2e/configs/Payment/Stripe.js
  cypress-tests/cypress/support/commands.js
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario1-Create payment with confirm true/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario10-Create a mandate and recurring payment/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario11-Refund recurring payment/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario2-Create a payment and Confirm/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario22- Update Amount/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario23-Add card flow/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario26-Create payment without customer_id and with billing address and shipping address/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario27-Confirm a payment with requires_customer_action status/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario28-Create payment with payment method billing/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario29-Update payment with payment method billing/Payments - Update/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario2a-Create payment with confirm false card holder name null/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario2b-Create payment with confirm false card holder name empty/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario3-Create payment without PMD/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario30-Pass payment method billing in Confirm/Payments - Confirm/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario31-Ensure API Contract for Payment Method Data/Payments - Card Payment Method Invalid Card CVC/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario31-Ensure API Contract for Payment Method Data/Payments - Card Payment Method Invalid Expiry month/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario31-Ensure API Contract for Payment Method Data/Payments - Card Payment Method Invalid Expiry year/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario31-Ensure API Contract for Payment Method Data/Payments - Card Payment Method Success/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario32-Check is payment checks are populated/Payments - cvv check fails/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario32-Check is payment checks are populated/Payments - payment check populated for successful payment without billing/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario32-Check is payment checks are populated/Payments - successful payment with billing/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario4-Create payment with Manual capture/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario4a-Create payment with manual_multiple capture/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario5-Void the payment/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario9-Refund full payment/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Happy Cases/Scenario9a-Partial refund/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/QuickStart/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Variation Cases/Scenario1-Create payment with Invalid card details/Payments - Create(Invalid Exp Year)/request.json
  postman/collection-dir/stripe/Flow Testcases/Variation Cases/Scenario1-Create payment with Invalid card details/Payments - Create(Invalid Exp month)/request.json
  postman/collection-dir/stripe/Flow Testcases/Variation Cases/Scenario10-Refund exceeds amount captured/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Variation Cases/Scenario3-Capture greater amount/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Variation Cases/Scenario4-Capture the succeeded payment/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Variation Cases/Scenario5-Void the success_slash_failure payment/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Variation Cases/Scenario7-Refund exceeds amount/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Variation Cases/Scenario8-Refund for unsuccessful payment/Payments - Create/request.json
  postman/collection-dir/stripe/Flow Testcases/Variation Cases/Scenario9-Create a recurring payment with greater mandate amount/Payments - Create/request.json
  postman/collection-dir/stripe/PaymentMethods/PaymentMethods - Create/request.json
  postman/collection-dir/stripe/PaymentMethods/Payments - Create/request.json
  postman/collection-dir/stripe/Payments/Payments - Create Again/request.json
  postman/collection-dir/stripe/Payments/Payments - Create Yet Again/request.json
  postman/collection-dir/stripe/Payments/Payments - Create/request.json
  postman/collection-dir/stripe/Payments/Payments - Update/request.json
  postman/collection-dir/stripe/QuickStart/Payments - Create-copy/request.json
  postman/collection-dir/stripe/QuickStart/Payments - Create/request.json
  postman/collection-dir/stripe/Refunds/Payments - Create/request.json
Labels: A-CI-CD, S-waiting-on-review

#7038 feat(router): [V2] Introduce V2Auth and use it for payment_methods_list_enabled
  api-reference-v2/openapi_spec.json
  crates/api_models/src/ephemeral_key.rs
  crates/api_models/src/events/payment.rs
  crates/api_models/src/payment_methods.rs
  crates/api_models/src/payments.rs
  crates/api_models/src/webhooks.rs
  crates/common_utils/src/events.rs
  crates/common_utils/src/id_type.rs
  crates/common_utils/src/id_type/client_secret.rs
  crates/common_utils/src/id_type/ephemeral_key.rs
  crates/common_utils/src/id_type/global_id/payment_methods.rs
  crates/diesel_models/src/ephemeral_key.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/db.rs
  crates/router/src/db/ephemeral_key.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/lib.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/customers.rs
  crates/router/src/routes/ephemeral_key.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types.rs
  crates/router/src/types/api/payments.rs
  crates/router/src/types/storage/ephemeral_key.rs
Labels: M-api-contract-changes
