Repository juspay/hyperswitch, pull requests merged in 2025-05, with the labels that each got.

#7867 feat(connector): [Recurly] add invoice sync support along with transaction monitoring
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/chargebee/transformers.rs
  crates/hyperswitch_connectors/src/connectors/recurly.rs
  crates/hyperswitch_connectors/src/connectors/recurly/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/hyperswitch_domain_models/src/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_request_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/router_response_types/revenue_recovery.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_interfaces/src/api/revenue_recovery_v2.rs
  crates/hyperswitch_interfaces/src/conversion_impls.rs
  crates/hyperswitch_interfaces/src/types.rs
  crates/hyperswitch_interfaces/src/webhooks.rs
  crates/router/src/configs/secrets_transformers.rs
  crates/router/src/configs/settings.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/revenue_recovery/types.rs
  crates/router/src/core/webhooks/recovery_incoming.rs
  crates/router/src/types/api.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/recurly.rs
  loadtest/config/development.toml
Labels: A-connector-integration, S-waiting-on-review, api-v2

#7893 refactor(connector): [Stripebilling] change Billing Connector Payment Sync url from charges to payment intents api
  crates/hyperswitch_connectors/src/connectors/stripebilling.rs
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
Labels: A-connector-integration, S-waiting-on-review

#7935 fix(diesel_models): Fix error message while using generic filter
  crates/diesel_models/src/query/generics.rs
Labels: A-framework, C-bug

#7958 chore(env): fix Facilitapay connector config
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration, C-bug, S-waiting-on-review

#7932 fix(users): use global Redis prefix for all user-related cache operations
  crates/router/src/db.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/app.rs
  crates/router/src/services/authentication/blacklist.rs
  crates/router/src/services/authorization.rs
  crates/router/src/services/openidconnect.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/two_factor_auth.rs
Labels: C-bug, A-users

#7258 feat(connector): [globalpay, globepay, itaubank, nexinets, nuvei, prophetpay, zen] add in feature matrix
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/hyperswitch_connectors/src/connectors/globalpay.rs
  crates/hyperswitch_connectors/src/connectors/globepay.rs
  crates/hyperswitch_connectors/src/connectors/itaubank.rs
  crates/hyperswitch_connectors/src/connectors/nexinets.rs
  crates/hyperswitch_connectors/src/connectors/nuvei.rs
  crates/hyperswitch_connectors/src/connectors/prophetpay.rs
  crates/hyperswitch_connectors/src/connectors/zen.rs
  loadtest/config/development.toml
Labels: A-connector-integration, C-feature

#7722 feat(connector): [stripebilling] consume necessary fields in stripe billing from webhooks for transaction monitoring support
  crates/hyperswitch_connectors/src/connectors/stripebilling/transformers.rs
Labels: api-v2

#7913 Refactor(connector): Migrate [AdyenPlatform, Ebanx, GPayments, Netcetera, Plaid] from crates/router to crates/hyperswitch_connectors
  Cargo.lock
  crates/hyperswitch_connectors/Cargo.toml
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/adyenplatform.rs
  crates/hyperswitch_connectors/src/connectors/adyenplatform/transformers.rs
  crates/hyperswitch_connectors/src/connectors/adyenplatform/transformers/payouts.rs
  crates/hyperswitch_connectors/src/connectors/ebanx.rs
  crates/hyperswitch_connectors/src/connectors/ebanx/transformers.rs
  crates/hyperswitch_connectors/src/connectors/gpayments.rs
  crates/hyperswitch_connectors/src/connectors/gpayments/gpayments_types.rs
  crates/hyperswitch_connectors/src/connectors/gpayments/transformers.rs
  crates/hyperswitch_connectors/src/connectors/netcetera.rs
  crates/hyperswitch_connectors/src/connectors/netcetera/netcetera_types.rs
  crates/hyperswitch_connectors/src/connectors/netcetera/transformers.rs
  crates/hyperswitch_connectors/src/connectors/plaid.rs
  crates/hyperswitch_connectors/src/connectors/plaid/transformers.rs
  crates/hyperswitch_connectors/src/connectors/trustpay/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/Cargo.toml
  crates/router/src/connector.rs
  crates/router/src/connector/ebanx.rs
  crates/router/src/connector/gpayments.rs
  crates/router/src/connector/netcetera.rs
  crates/router/src/connector/plaid.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments/flows.rs
Labels: A-connector-integration, C-refactor

#7835 feat(refunds_v2): Add Refunds Retrieve and Refunds Sync Core flow
  api-reference-v2/openapi_spec.json
  crates/api_models/src/events/refund.rs
  crates/api_models/src/refunds.rs
  crates/diesel_models/src/refund.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/refunds.rs
  crates/router/src/core/refunds_v2.rs
  crates/router/src/core/utils.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/api/refunds.rs
Labels: M-api-contract-changes

#7941 feat(connector): Fix Wasm Changes for Coinbase
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
Labels: A-connector-integration

#7983 fix(router): Fixed stack over flow for session call in authentication connectors
  crates/router/src/db/kafka_store.rs
Labels: C-bug

#7978 refactor(authentication): moved cavv storing from table to temp locker
  crates/diesel_models/src/authentication.rs
  crates/hyperswitch_connectors/src/connectors/gpayments/gpayments_types.rs
  crates/hyperswitch_connectors/src/connectors/netcetera/transformers.rs
  crates/hyperswitch_domain_models/src/router_request_types/authentication.rs
  crates/hyperswitch_domain_models/src/router_request_types/unified_authentication_service.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_interfaces/src/authentication.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/transformers.rs
Labels: A-core, S-waiting-on-review

#8004 ci(cypress): Fix Bank Redirects for stripe test
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, C-test

#8005 refactor(authentication): moved cavv storing from table to temp locker
  crates/diesel_models/src/authentication.rs
  crates/hyperswitch_domain_models/src/router_request_types/authentication.rs
  crates/hyperswitch_domain_models/src/router_request_types/unified_authentication_service.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_interfaces/src/authentication.rs
  crates/router/src/connector/gpayments/gpayments_types.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/transformers.rs
Labels: Hotfix

#7629 feat(payment_methods): add v2 api for fetching token data
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/payment_methods.rs
  crates/common_enums/src/enums.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/payment_methods/Cargo.toml
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/network_tokenization.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/payment_methods.rs
  crates/router/src/types/payment_methods.rs
  crates/router_env/src/logger/types.rs
Labels: C-feature, A-payment-methods, M-api-contract-changes

#7961 refactor(open_router): call elimination routing of open router if enabled instead of dynamo
  crates/api_models/src/routing.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing/helpers.rs
Labels: C-refactor, A-routing

#7855 feat(core): add psync support for recovery external payments
  crates/hyperswitch_domain_models/src/payments.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_attempt_record.rs
Labels: A-core

#7968 feat(connector): Introduce connector template code for WorldpayXML
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/worldpayxml.rs
  crates/hyperswitch_connectors/src/connectors/worldpayxml/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/worldpayxml.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-compatibility, A-connector-integration

#7884 feat(vsaas): integrate onboarding flow for vertical saas
  crates/api_models/src/events/user.rs
  crates/api_models/src/organization.rs
  crates/api_models/src/user.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/enums/accounts.rs
  crates/diesel_models/src/merchant_account.rs
  crates/diesel_models/src/organization.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/user.rs
  crates/router/src/db/organization.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/lock_utils.rs
  crates/router/src/routes/user.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/transformers.rs
  crates/router/src/utils/user.rs
  crates/router_env/src/logger/types.rs
  migrations/2025-04-10-095823_add_platform_context_in_organization/down.sql
  migrations/2025-04-10-095823_add_platform_context_in_organization/up.sql
Labels: M-database-changes, A-users

#7876 feat(business_profile): add business_profile config to enable external vault
  api-reference-v2/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/types/transformers.rs
  v2_compatible_migrations/2025-04-28-095013_add-is_external_vault_enabled-and-vault_connector_details-column-to-business_profile-table/down.sql
  v2_compatible_migrations/2025-04-28-095013_add-is_external_vault_enabled-and-vault_connector_details-column-to-business_profile-table/up.sql
Labels: C-feature, M-database-changes, A-payment-methods, M-api-contract-changes

#7973 fix(connector): [Novalnet] send decoded token for apple pay payment
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
Labels: C-bug

#7977 refactor(connector): [Noon] auth header
  crates/hyperswitch_connectors/src/connectors/noon.rs
Labels: A-connector-integration, C-refactor

#7966 feat(refunds_v2): Add refunds list flow in v2 apis
  api-reference-v2/openapi_spec.json
  crates/api_models/src/refunds.rs
  crates/hyperswitch_domain_models/Cargo.toml
  crates/hyperswitch_domain_models/src/refunds.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/refunds.rs
  crates/router/Cargo.toml
  crates/router/src/core/refunds_v2.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/refund.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/api/refunds.rs
  crates/router/src/types/storage/refund.rs
Labels: M-api-contract-changes, api-v2

#7938 feat(routing): Add support to update config for elimination routing
  crates/api_models/src/events/routing.rs
  crates/api_models/src/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
Labels: A-routing

#7358 chore: resolve v2 warnings in common_utils
  crates/common_utils/src/id_type/global_id.rs
  crates/common_utils/src/id_type/global_id/customer.rs
  crates/common_utils/src/id_type/global_id/payment.rs
  crates/common_utils/src/id_type/global_id/refunds.rs
Labels: api-v2

#7990 fix(connector): [stripe] fix bank redirect (`bancontact_card`) recurring mandate
  crates/router/src/connector/stripe/transformers.rs
Labels: A-connector-integration, C-bug, S-waiting-on-review

#7940 feat(users): store and retrieve lineage_context from DB instead of Redis
  crates/api_models/src/user/theme.rs
  crates/common_utils/src/types.rs
  crates/common_utils/src/types/user.rs
  crates/common_utils/src/types/user/core.rs
  crates/common_utils/src/types/user/theme.rs
  crates/diesel_models/src/query/user/theme.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/diesel_models/src/user.rs
  crates/diesel_models/src/user/theme.rs
  crates/router/src/configs/settings.rs
  crates/router/src/consts/user.rs
  crates/router/src/core/recon.rs
  crates/router/src/core/user.rs
  crates/router/src/core/user/theme.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user.rs
  crates/router/src/db/user/theme.rs
  crates/router/src/routes/user/theme.rs
  crates/router/src/services/email/types.rs
  crates/router/src/types/domain/user.rs
  crates/router/src/types/domain/user/decision_manager.rs
  crates/router/src/utils/user.rs
  crates/router/src/utils/user/theme.rs
  crates/router/src/workflows/api_key_expiry.rs
  migrations/2025-04-29-144409_add_lineage_context_to_users/down.sql
  migrations/2025-04-29-144409_add_lineage_context_to_users/up.sql
Labels: C-feature, M-database-changes, A-users

#7786 refactor(paymentMethods): move all pm migration related changes to payment methods crate
  Cargo.lock
  crates/hyperswitch_domain_models/src/cards_info.rs
  crates/hyperswitch_domain_models/src/ext_traits.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/payment_methods/Cargo.toml
  crates/payment_methods/src/controller.rs
  crates/payment_methods/src/core.rs
  crates/payment_methods/src/core/errors.rs
  crates/payment_methods/src/core/migration.rs
  crates/payment_methods/src/core/migration/payment_methods.rs
  crates/payment_methods/src/helpers.rs
  crates/payment_methods/src/lib.rs
  crates/payment_methods/src/state.rs
  crates/router/Cargo.toml
  crates/router/src/core/cards_info.rs
  crates/router/src/core/customers.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/locker_migration.rs
  crates/router/src/core/mandate.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/core/payment_methods/network_tokenization.rs
  crates/router/src/core/payment_methods/tokenize.rs
  crates/router/src/core/payment_methods/tokenize/card_executor.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/tokenization.rs
  crates/router/src/core/payouts/helpers.rs
  crates/router/src/core/payouts/validator.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/db.rs
  crates/router/src/db/cards_info.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/types/api/mandates.rs
  crates/router/src/types/domain/types.rs
  crates/router/src/utils/ext_traits.rs
  crates/storage_impl/src/cards_info.rs
  crates/storage_impl/src/lib.rs
  crates/storage_impl/src/payment_method.rs
Labels: A-payment-methods, C-refactor

#7724 feat(refunds_v2): Add refund update core flow in v2 apis
  api-reference-v2/openapi_spec.json
  crates/api_models/src/refunds.rs
  crates/openapi/src/openapi_v2.rs
  crates/openapi/src/routes/refunds.rs
  crates/router/src/core/refunds_v2.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/refunds.rs
  crates/router/src/types/api/refunds.rs
Labels: M-api-contract-changes, api-v2

#6613 feat(router): add outgoing payment webhooks for v2
  crates/api_models/src/payments.rs
  crates/api_models/src/webhooks.rs
  crates/diesel_models/src/events.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/webhooks.rs
  crates/router/src/core/webhooks/incoming_v2.rs
  crates/router/src/core/webhooks/outgoing_v2.rs
  crates/router/src/core/webhooks/types.rs
  crates/router/src/core/webhooks/utils.rs
  crates/router/src/db/events.rs
  crates/router/src/events/outgoing_webhook_logs.rs
Labels: A-core, C-feature, api-v2

#8021 refactor(authentication): moved cavv storing from table to temp locker
  crates/diesel_models/src/authentication.rs
  crates/hyperswitch_domain_models/src/router_request_types/authentication.rs
  crates/hyperswitch_domain_models/src/router_request_types/unified_authentication_service.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_interfaces/src/authentication.rs
  crates/router/src/connector/gpayments/gpayments_types.rs
  crates/router/src/connector/netcetera/transformers.rs
  crates/router/src/connector/threedsecureio/transformers.rs
  crates/router/src/core/authentication.rs
  crates/router/src/core/authentication/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/operations/payment_status.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/payments/types.rs
  crates/router/src/core/unified_authentication_service/utils.rs
  crates/router/src/core/webhooks/incoming.rs
  crates/router/src/types/api/authentication.rs
  crates/router/src/types/domain.rs
  crates/router/src/types/transformers.rs
Labels: C-bug, Hotfix

#7848 refactor(cypress): fix adyen ideal bank redirect and refactor `handleFlow`
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD, C-bug, S-waiting-on-review, C-refactor

#7994 refactor: remove unused functions
  crates/router/src/connector/utils.rs
Labels: A-connector-integration, C-refactor

#8011 ci(cypress): Address lints
  cypress-tests/cypress/support/redirectionHandler.js
Labels: A-CI-CD

#7921 refactor(routing): Add connectors from current active routing algorithm before adding fallback connectors
  crates/router/src/core/payments.rs
Labels: A-routing

#7930 feat(euclid): integration with decision engine
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/routing.rs
  crates/diesel_models/src/routing_algorithm.rs
  crates/diesel_models/src/schema.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/payments/routing/utils.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/routing/transformers.rs
  migrations/2025-05-08-102850_add_de_euclid_id_in_routing_algorithm_table/down.sql
  migrations/2025-05-08-102850_add_de_euclid_id_in_routing_algorithm_table/up.sql
  v2_migrations/2025-01-13-081847_drop_v1_columns/up.sql
Labels: M-database-changes, M-api-contract-changes, A-routing

#7976 feat(core): Add Support for redirection inside Iframe
  crates/api_models/src/admin.rs
  crates/api_models/src/payments.rs
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/payment_intent.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/payments/payment_intent.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/helpers.rs
  crates/router/src/core/payments/operations/payment_confirm.rs
  crates/router/src/core/payments/operations/payment_create.rs
  crates/router/src/core/payments/operations/payment_update.rs
  crates/router/src/core/payments/operations/payment_update_intent.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/utils.rs
  crates/router/src/types/api/admin.rs
  crates/router/src/utils/user/sample_data.rs
  crates/router/tests/payments.rs
  crates/router/tests/payments2.rs
  migrations/2025-05-05-104001_is_iframe_redirection_enabled_to_business_profile/down.sql
  migrations/2025-05-05-104001_is_iframe_redirection_enabled_to_business_profile/up.sql
  migrations/2025-05-06-121325_is_iframe_redirection_enabled_to_payment_intent/down.sql
  migrations/2025-05-06-121325_is_iframe_redirection_enabled_to_payment_intent/up.sql
Labels: M-database-changes

#8014 feat(router): [dummy_connector] add upi collect
  crates/router/src/connector/dummyconnector.rs
  crates/router/src/connector/dummyconnector/transformers.rs
  crates/router/src/routes/dummy_connector/consts.rs
  crates/router/src/routes/dummy_connector/types.rs
  crates/router/src/routes/dummy_connector/utils.rs
Labels: A-connector-compatibility, A-connector-integration

#7814 feat(router): Add support for Vault in connector_accounts endpoint
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/development.toml
  config/docker_compose.toml
  crates/api_models/src/enums.rs
  crates/common_enums/src/connector_enums.rs
  crates/common_enums/src/enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/vgs.rs
  crates/hyperswitch_connectors/src/connectors/vgs/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/vgs.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  migrations/2025-05-08-062918_add-vault-processor-in-connector-type/down.sql
  migrations/2025-05-08-062918_add-vault-processor-in-connector-type/up.sql
  scripts/add_connector.sh
Labels: A-connector-integration, M-database-changes, M-api-contract-changes, api-v2

#8028 chore: Move async-bb8-diesel crate to crates.io version
  Cargo.lock
  crates/diesel_models/Cargo.toml
  crates/drainer/Cargo.toml
  crates/router/Cargo.toml
  crates/storage_impl/Cargo.toml
Labels: A-dependencies, A-framework

#8035 fix(router): fixed netcetera flow for backward flow cavv fetching
  crates/router/src/core/authentication.rs
Labels: C-bug

#8031 fix(connector): [CYBERSOURCE] fix CartesBancaires card_type for Cybersource
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payeezy/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payone/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
Labels: A-connector-integration

#8033 feat(themes): Add ability to update email config for themes
  crates/api_models/src/user/theme.rs
  crates/diesel_models/src/query/user/theme.rs
  crates/diesel_models/src/user/theme.rs
  crates/router/src/core/user/theme.rs
  crates/router/src/db/kafka_store.rs
  crates/router/src/db/user/theme.rs
  crates/router/src/routes/user/theme.rs
Labels: C-feature, S-waiting-on-review, A-users

#8007 refactor(connector): stripe migration from router to hyperswitch_connectors
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/stripe.rs
  crates/hyperswitch_connectors/src/connectors/stripe/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripe/transformers/connect.rs
  crates/hyperswitch_connectors/src/constants.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_connectors/src/types.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/connector.rs
  crates/router/src/connector/utils.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/macros.rs
  crates/router/src/types.rs
Labels: A-connector-integration, C-refactor

#8013 feat: add support for 3ds exemption rules in euclid crate
  crates/common_types/src/lib.rs
  crates/common_types/src/three_ds_decision_rule_engine.rs
  crates/euclid/src/dssa/graph.rs
  crates/euclid/src/frontend/ast/lowering.rs
  crates/euclid/src/frontend/dir.rs
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/types.rs
  crates/euclid_wasm/src/lib.rs
Labels: A-core, C-feature, A-routing

#8048 feat(connector): [CYBERSOURCE] add SEK currency for cybersource
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
Labels: A-connector-integration

#8057 fix(connector): Supported capture methods fix for feature matrix
  crates/hyperswitch_connectors/src/connectors/itaubank.rs
  crates/hyperswitch_connectors/src/connectors/nuvei.rs
Labels: A-connector-integration, C-bug

#8017 feat(connector): add barclaycard template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/barclaycard.rs
  crates/hyperswitch_connectors/src/connectors/barclaycard/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/barclaycard.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature

#8056 feat(connector): [nordea] template code
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/nordea.rs
  crates/hyperswitch_connectors/src/connectors/nordea/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/nordea.rs
  crates/router/tests/connectors/sample_auth.toml
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration, C-feature, S-waiting-on-review

#7917 feat(payment_methods): add external vault connector service
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/payment_method.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/hyperswitch_domain_models/src/errors/api_error_response.rs
  crates/hyperswitch_domain_models/src/lib.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/hyperswitch_domain_models/src/payment_methods.rs
  crates/hyperswitch_domain_models/src/router_data_v2.rs
  crates/hyperswitch_domain_models/src/router_data_v2/flow_common_types.rs
  crates/hyperswitch_domain_models/src/router_flow_types.rs
  crates/hyperswitch_domain_models/src/router_flow_types/vault.rs
  crates/hyperswitch_domain_models/src/router_request_types.rs
  crates/hyperswitch_domain_models/src/router_response_types.rs
  crates/hyperswitch_domain_models/src/types.rs
  crates/hyperswitch_domain_models/src/vault.rs
  crates/hyperswitch_interfaces/src/api.rs
  crates/hyperswitch_interfaces/src/api/vault.rs
  crates/hyperswitch_interfaces/src/api/vault_v2.rs
  crates/hyperswitch_interfaces/src/connector_integration_v2.rs
  crates/hyperswitch_interfaces/src/conversion_impls.rs
  crates/router/src/compatibility/stripe/errors.rs
  crates/router/src/core/errors/utils.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payment_methods/transformers.rs
  crates/router/src/core/payment_methods/vault.rs
  crates/router/src/core/payments/flows.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/utils.rs
  crates/router/src/routes/payment_methods.rs
  crates/router/src/services/api.rs
  crates/router/src/types.rs
  crates/router/src/types/api.rs
  crates/router/src/types/payment_methods.rs
  crates/router/src/types/transformers.rs
  v2_compatible_migrations/2025-05-07-084022_add-merhcant_connector_id-column-to-payment-methods/down.sql
  v2_compatible_migrations/2025-05-07-084022_add-merhcant_connector_id-column-to-payment-methods/up.sql
Labels: C-feature, M-database-changes, A-payment-methods

#8083 refactor: Added api-key auth for routing APIs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/routes/routing.rs
Labels: A-routing

#8098 refactor(success_rate): update the default configs
  crates/api_models/src/routing.rs
  crates/router/src/core/payments/routing.rs
Labels: C-refactor, A-routing

#8099 chore(openapi): resolve openapi semantic inconsistency
  api-reference/openapi_spec.json
  crates/api_models/src/organization.rs
  crates/openapi/src/routes/mandates.rs
  crates/openapi/src/routes/merchant_connector_account.rs
  crates/openapi/src/routes/payment_method.rs
  crates/openapi/src/routes/payments.rs
  crates/openapi/src/routes/profile.rs
  crates/openapi/src/routes/relay.rs
  crates/router/src/routes/admin.rs
Labels: C-refactor, M-api-contract-changes

#8106 feat(router): add three_ds_decision_rule_algorithm to the domain and diesel models of business_profile
  crates/diesel_models/src/business_profile.rs
  crates/diesel_models/src/schema.rs
  crates/diesel_models/src/schema_v2.rs
  crates/hyperswitch_domain_models/src/business_profile.rs
  crates/router/src/core/routing/helpers.rs
  migrations/2025-05-21-134155_add_three_ds_decision_rule_algorithm_to_business_profile/down.sql
  migrations/2025-05-21-134155_add_three_ds_decision_rule_algorithm_to_business_profile/up.sql
Labels: A-framework, A-core, M-database-changes

#8063 chore: fix typos in the repo
  api-reference-v2/openapi_spec.json
  api-reference/hyperswitch_intelligent_router_open_api_spec.yml
  api-reference/openapi_spec.json
  config/dashboard.toml
  crates/api_models/src/payments.rs
  crates/common_types/src/payment_methods.rs
  crates/common_utils/src/macros.rs
  crates/common_utils/src/types.rs
  crates/hyperswitch_connectors/src/connectors/braintree/transformers.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/connectors/recurly.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/response.rs
  crates/hyperswitch_domain_models/src/router_request_types/unified_authentication_service.rs
  crates/router/src/core/payment_methods.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/retry.rs
  crates/router/src/core/revenue_recovery.rs
  crates/router/src/core/unified_authentication_service.rs
  crates/router/src/utils/currency.rs
  postman/collection-dir/archipel/Flow Testcases/Happy Cases/Scenario5-Create a mandate and recurring payment/List payment methods for a Customer/event.test.js
  postman/collection-dir/archipel/Flow Testcases/Happy Cases/Scenario6-Saved card flow/.meta.json
  postman/collection-dir/archipel/Flow Testcases/Happy Cases/Scenario6-Saved card flow/Payment methods - List and get token/event.test.js
  postman/collection-dir/archipel/Flow Testcases/Happy Cases/Scenario6-Saved card flow/Payments - Confirm second and use saved card/.event.meta.json
  postman/collection-dir/archipel/Flow Testcases/Happy Cases/Scenario6-Saved card flow/Payments - Confirm second and use saved card/event.test.js
  postman/collection-dir/archipel/Flow Testcases/Happy Cases/Scenario6-Saved card flow/Payments - Confirm second and use saved card/request.json
  postman/collection-dir/archipel/Flow Testcases/Happy Cases/Scenario6-Saved card flow/Payments - Confirm second and use saved card/response.json
  postman/collection-dir/archipel/Flow Testcases/Negative Cases/Scenario6-Create a recurring payment with greater mandate amount/Recurring Payments - Create/request.json
  postman/collection-json/archipel.postman_collection.json
  v2_compatible_migrations/2024-08-28-081757_drop_not_null_constraints_on_v1_columns/up.sql
Labels: S-waiting-on-review, C-refactor, M-api-contract-changes

#8095 feat(tokenio): Add Template PR
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/hyperswitch_connectors/src/connectors.rs
  crates/hyperswitch_connectors/src/connectors/tokenio.rs
  crates/hyperswitch_connectors/src/connectors/tokenio/transformers.rs
  crates/hyperswitch_connectors/src/default_implementations.rs
  crates/hyperswitch_connectors/src/default_implementations_v2.rs
  crates/hyperswitch_domain_models/src/configs.rs
  crates/router/src/connector.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/main.rs
  crates/router/tests/connectors/tokenio.rs
  crates/test_utils/src/connector_auth.rs
  loadtest/config/development.toml
  scripts/add_connector.sh
Labels: A-connector-integration

#8124 fix(connector): [Fiuu] populate error_code and error_desc for redirection flows if they're not present in PSync
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
Labels: A-connector-compatibility, C-bug

#8128 feat(core): add one-way TLS support with CA certificate for ArchiPEL UAT environment
  crates/common_utils/src/request.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/external_services/src/http_client.rs
  crates/external_services/src/http_client/client.rs
  crates/hyperswitch_connectors/src/connectors/archipel.rs
  crates/hyperswitch_connectors/src/connectors/archipel/transformers.rs
  crates/router/src/core/payment_methods/cards.rs
  crates/router/src/services/openidconnect.rs
  crates/router/tests/connectors/sample_auth.toml
  postman/collection-dir/archipel/Flow Testcases/QuickStart/Payment Connector - Create/request.json
  postman/collection-json/archipel.postman_collection.json
Labels: A-core

#8139 feat(connector): [Worldpayxml] add card payment
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/worldpayxml.rs
  crates/hyperswitch_connectors/src/connectors/worldpayxml/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
Labels: A-connector-integration, C-feature

#8041 Refactor(refunds_v2): Refactor api event metric for refunds v2 apis
  crates/api_models/src/events/refund.rs
  crates/common_utils/src/events.rs
  crates/diesel_models/src/refund.rs
  crates/router/src/core/refunds_v2.rs
  crates/router/src/routes/refunds.rs
Labels: api-v2

#8109 fix: duplicate entries in total count when filtering by object ID
  crates/router/src/core/webhooks/webhook_events.rs
Labels: A-webhooks

#8066 feat(connector): Stripe revolut pay wallet integration
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  crates/api_models/src/payments.rs
  crates/common_enums/src/enums.rs
  crates/common_enums/src/transformers.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/euclid/src/frontend/dir/enums.rs
  crates/euclid/src/frontend/dir/lowering.rs
  crates/euclid/src/frontend/dir/transformers.rs
  crates/hyperswitch_connectors/src/connectors/aci/transformers.rs
  crates/hyperswitch_connectors/src/connectors/adyen.rs
  crates/hyperswitch_connectors/src/connectors/adyen/transformers.rs
  crates/hyperswitch_connectors/src/connectors/airwallex/transformers.rs
  crates/hyperswitch_connectors/src/connectors/authorizedotnet/transformers.rs
  crates/hyperswitch_connectors/src/connectors/bankofamerica/transformers.rs
  crates/hyperswitch_connectors/src/connectors/bluesnap/transformers.rs
  crates/hyperswitch_connectors/src/connectors/boku/transformers.rs
  crates/hyperswitch_connectors/src/connectors/checkout/transformers.rs
  crates/hyperswitch_connectors/src/connectors/cybersource/transformers.rs
  crates/hyperswitch_connectors/src/connectors/fiuu/transformers.rs
  crates/hyperswitch_connectors/src/connectors/globepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/klarna.rs
  crates/hyperswitch_connectors/src/connectors/mifinity/transformers.rs
  crates/hyperswitch_connectors/src/connectors/multisafepay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nexinets/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nmi/transformers.rs
  crates/hyperswitch_connectors/src/connectors/noon/transformers.rs
  crates/hyperswitch_connectors/src/connectors/novalnet/transformers.rs
  crates/hyperswitch_connectors/src/connectors/nuvei/transformers.rs
  crates/hyperswitch_connectors/src/connectors/payme/transformers.rs
  crates/hyperswitch_connectors/src/connectors/paypal/transformers.rs
  crates/hyperswitch_connectors/src/connectors/shift4/transformers.rs
  crates/hyperswitch_connectors/src/connectors/square/transformers.rs
  crates/hyperswitch_connectors/src/connectors/stripe/transformers.rs
  crates/hyperswitch_connectors/src/connectors/wellsfargo/transformers.rs
  crates/hyperswitch_connectors/src/connectors/worldpay/transformers.rs
  crates/hyperswitch_connectors/src/connectors/zen/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/hyperswitch_domain_models/src/payment_method_data.rs
  crates/kgraph_utils/src/mca.rs
  crates/kgraph_utils/src/transformers.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/payment_methods/src/helpers.rs
  crates/router/src/connector/utils.rs
  crates/router/src/types/domain/payments.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#8076 feat(connector): [Worldpayxml] add card payment
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/worldpayxml.rs
  crates/hyperswitch_connectors/src/connectors/worldpayxml/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/e2e/configs/Payment/Worldpayxml.js
Labels: A-connector-integration, C-feature, S-waiting-on-review, M-api-contract-changes

#8103 fix(authentication): add Organization context validation in `Merchant Create` and `Merchant List` APIs
  crates/router/src/core/admin.rs
  crates/router/src/core/user.rs
  crates/router/src/routes/admin.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/domain/user.rs
Labels: C-bug

#8068 feat(connector): [Barclaycard] Implement Cards - Non 3DS flow
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/config.example.toml
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/barclaycard.rs
  crates/hyperswitch_connectors/src/connectors/barclaycard/transformers.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  crates/router/tests/connectors/barclaycard.rs
  loadtest/config/development.toml
Labels: M-api-contract-changes

#8086 ci(cypress): fix mandates unsupported connectors
  cypress-tests/cypress/e2e/configs/Payment/Bluesnap.js
  cypress-tests/cypress/e2e/configs/Payment/Commons.js
  cypress-tests/cypress/e2e/configs/Payment/Nmi.js
  cypress-tests/cypress/e2e/configs/Payment/Trustpay.js
  cypress-tests/cypress/e2e/spec/Payment/00003-ConnectorCreate.cy.js
  cypress-tests/cypress/e2e/spec/Payment/00022-Variations.cy.js
  cypress-tests/cypress/support/commands.js
Labels: A-CI-CD, S-waiting-on-review

#8111 feat: list for dynamic routing
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/api_models/src/events/routing.rs
  crates/api_models/src/payouts.rs
  crates/api_models/src/routing.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/compatibility/stripe/payment_intents/types.rs
  crates/router/src/compatibility/stripe/setup_intents/types.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/routing/transformers.rs
  crates/router/src/types/api/routing.rs
  crates/router/src/types/transformers.rs
Labels: M-api-contract-changes

#8154 feat(connector): [Worldpayxml] add card payment
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  config/deployments/integration_test.toml
  config/deployments/production.toml
  config/deployments/sandbox.toml
  config/development.toml
  config/docker_compose.toml
  crates/common_enums/src/connector_enums.rs
  crates/connector_configs/src/connector.rs
  crates/connector_configs/toml/development.toml
  crates/connector_configs/toml/production.toml
  crates/connector_configs/toml/sandbox.toml
  crates/hyperswitch_connectors/src/connectors/worldpayxml.rs
  crates/hyperswitch_connectors/src/connectors/worldpayxml/transformers.rs
  crates/hyperswitch_connectors/src/utils.rs
  crates/router/src/core/admin.rs
  crates/router/src/types/api.rs
  crates/router/src/types/transformers.rs
  cypress-tests/cypress/e2e/configs/Payment/Utils.js
  cypress-tests/cypress/e2e/configs/Payment/Worldpayxml.js
Labels: A-connector-integration, C-feature, M-api-contract-changes

#8114 feat(dynamic_routing): add get api for dynamic routing volume split
  api-reference/openapi_spec.json
  crates/api_models/src/events/routing.rs
  crates/api_models/src/routing.rs
  crates/openapi/src/openapi.rs
  crates/router/src/core/routing.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
  cypress-tests/cypress/e2e/configs/Payment/Worldpayxml.js
Labels: C-feature, M-api-contract-changes, A-routing

#8160 refactor(success_based): add support for exploration
  api-reference/hyperswitch_intelligent_router_open_api_spec.yml
  api-reference/openapi_spec.json
  crates/api_models/src/open_router.rs
  crates/api_models/src/routing.rs
  crates/external_services/src/grpc_client/dynamic_routing/success_rate_client.rs
  crates/router/src/core/payments/routing.rs
  proto/success_rate.proto
Labels: M-api-contract-changes

#8126 refactor: Payment Attempt as mandatory field in PaymentStatusData
  crates/hyperswitch_domain_models/src/payments.rs
  crates/hyperswitch_domain_models/src/router_data.rs
  crates/router/src/core/payments.rs
  crates/router/src/core/payments/operations/payment_get.rs
  crates/router/src/core/payments/operations/payment_response.rs
  crates/router/src/core/payments/transformers.rs
  crates/router/src/core/revenue_recovery.rs
  crates/router/src/core/revenue_recovery/types.rs
  crates/router/src/core/webhooks/incoming_v2.rs
Labels: api-v2

#8172 chore(ci): update postman ci credentials
  .github/workflows/postman-collection-runner.yml
Labels: A-CI-CD

#8169 fix(kafka): add correct topic name for connector-logs for docker config and local development
  config/development.toml
  config/docker_compose.toml
  crates/analytics/docs/clickhouse/scripts/authentications.sql
Labels: C-bug

#8156 feat(vsaas): enable platform merchant API Key authentication for org-level operations
  api-reference/openapi_spec.json
  crates/api_models/src/admin.rs
  crates/common_enums/src/enums/accounts.rs
  crates/hyperswitch_domain_models/src/merchant_account.rs
  crates/openapi/src/openapi.rs
  crates/router/src/analytics.rs
  crates/router/src/routes/admin.rs
  crates/router/src/routes/api_keys.rs
  crates/router/src/services/authentication.rs
  crates/router/src/types/api/admin.rs
Labels: C-feature, M-api-contract-changes

#8132 feat(router): add three_ds_decision_rule support in routing apis
  api-reference-v2/openapi_spec.json
  api-reference/openapi_spec.json
  crates/api_models/src/routing.rs
  crates/common_enums/src/enums.rs
  crates/diesel_models/src/enums.rs
  crates/openapi/src/openapi.rs
  crates/openapi/src/openapi_v2.rs
  crates/router/src/core/admin.rs
  crates/router/src/core/errors.rs
  crates/router/src/core/payments/routing.rs
  crates/router/src/core/routing.rs
  crates/router/src/core/routing/helpers.rs
  crates/router/src/core/routing/transformers.rs
  crates/router/src/routes/app.rs
  crates/router/src/routes/routing.rs
  migrations/2025-05-22-191239_add-three-ds-decision-rule-to-algorithm-kind/down.sql
  migrations/2025-05-22-191239_add-three-ds-decision-rule-to-algorithm-kind/up.sql
  migrations/2025-05-24-205102_add-three-ds-authentication-to-transaction-type/down.sql
  migrations/2025-05-24-205102_add-three-ds-authentication-to-transaction-type/up.sql
Labels: A-core, C-feature, M-database-changes, M-api-contract-changes, A-routing
